<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: Your Opportunity to Lead</h1>
<hr>

<p>
As an alumni chapter leader of the Academy for Creating
Enterprise, you have an opportunity to develop your own
leadership skills as you lead your chapter members. By
applying the principles and tools provided by the Academy,
you and your fellow chapter members can help each other
build successful income-generating enterprises.
<br>

Latter-day Saints believe that this world was created from
“matter unorganized.” In a similar way, poverty is basically
“human potential unorganized.” As a leader, your role is to
help organize the human potential among the individuals
in your chapter. The goal is for your members and their
families to become self-reliant and prosperous.
<br>

Your job as a leader is to lift and influence your individual
chapter members so they can reach their full potential. As
you motivate others to create profitable businesses, you will
become a better leader in all areas of your life, not only
business but also family, church, and community. This is
your reward for serving as chapter leader.
<br>

Winston Churchill said, “To every man there comes in his
lifetime that special moment when he is figuratively tapped
on the shoulder and offered a chance to do a very special
thing, unique to him and fitted to his talents. What a tragedy
if that moment finds him unprepared or unqualified for that
which would be his finest hour.”
<br>
As an Academy alumni chapter leader, you’ve been “tapped
on the shoulder.” This booklet will help you apply your
talents and use leadership tools to achieve your “finest
hour.” Through your leadership, you’ll develop other
leaders who, in turn, will develop still more leaders. This is
how prosperity grows.
</p>

<p>
    <br> <br>
    My Action Item:
     <br>
     As you study this booklet, take notes and write down
your ideas as they come, so you won’t forget them.
<br>
<br>
Additional Insights:<br>

“Like a true shepherd, a leader inspires others to follow
him and to fulfill their own duties. He shows the way
by living the principles he teaches and by understanding
and responding to others’ needs.”<br>

—Duties and Blessings of the Priesthood<br><br>

Additional Insights:<br>
“I consider leadership to be the exercise of one’s special
gifts under the call of God to serve a certain group
of people in achieving the goals God has given them.”<br>
—Kenneth O. Gangel<br>
</p>




</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>