<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 6: Decisions Determine Destiny</h1>
<hr>
<p>President Thomas S. Monson was a successful business
leader before he was called as an apostle at age thirtysix.
One of his key principles is that “decisions determine
destiny.” This concept is often repeated in businessmanagement
courses taught at Brigham Young University.
<br>
As President Monson puts it, “History is influenced by
seemingly small decisions, and so are people’s lives. Our
lives will depend upon the decisions which we make—for
decisions determine destiny. . . . I am so grateful that we
need not make decisions without heavenly help. All can
have the guidance and direction of our Heavenly Father if
we strive for it.”
<br>
We are accountable for our decisions, and our decisions
affect our destinies. When we avoid making a decision, we
are still making a decision—in this case, the decision not
to act. For example, if a business owner has an opportunity
to make a bulk purchase at a discounted price, but he can’t
decide whether to take advantage of it, then someone
else could grab the opportunity. It’s wiser to consider the
evidence, pray about it, and make a firm, timely decision.
<br>

Decisions for Chapter Leaders
<br>
During your service as leader of an Academy alumni
chapter, you’ll have the opportunity to make many important
decisions that will affect people’s lives. A decision might
seem small at first, but good decisions can have a ripple
effect. Learning how to make smart, well-timed decisions
will improve your leadership in all kinds of situations.
<br>
For example, some chapter presidencies do not decide
in advance when they will hold their chapter meetings.
Meanwhile, time passes, and more than a month slips by.
In failing to decide when to hold their next meeting, the
chapter leaders have, in effect, decided to skip it. As a result,
the chapter suffers, and individuals miss out on important
training and support.
<br>
Before your chapter meeting begins, decide when the next
meeting will be held. This will allow you to announce the
next meeting at the beginning of this meeting and then
announce it again at the end, so your members can start
planning on it. Making this decision also allows you to
remind members over the next few weeks.
<br>
To take it a step further, why not decide on dates for a
whole year of chapter meetings? At an appropriate time,
sit down with your leadership team, consult a calendar, and
decide when and where the next twelve meetings will be
held. Then encourage all your chapter members to enter
the dates into their planners or calendars, whether on paper
or electronically. If circumstances require, you can always
update your meeting schedule later.
<br>
Action Items:
</p>
<ul> 
    <li>Think of the leaders you admire most. Identify key
decisions they made that changed the course of
history, whether on a large scale or small.
    </li>
<li>Write down decisions that you could make to improve
your alumni chapter.
</li>
</ul>
<p>

Spiritual Application:
<br>
“Each one of us has been given the power to change his
or her life. As part of the Lord’s great plan of happiness,
we have individual agency to make decisions. We can
decide to do better and to be better. In some ways all of
us need to change.”
<br>
—James E. Faust
<br><br>
Additional Insights:<br>
“Be willing to make decisions. That’s the most important
quality in a good leader. Don’t fall victim to
what I call the ‘ready-aim-aim-aim-aim syndrome.’
You must be willing to fire.”
<br>
—T. Boone Pickens

</p>
</div>
</div>