<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: The Importance of Vision</h1>
<hr>

<p>
The word vision is a powerful term among Latter-day
Saints. We share a religious history of visions, not only
in our ancient scriptures but also in modern times. Joseph
Smith’s First Vision provided the basis for the entire
Restoration. The Prophet then received many subsequent
visions revealing how to carry out the Lord’s work.
<br>
As an Academy chapter leader, you have an opportunity
to create a leadership vision for your chapter. This kind of
vision may not involve heavenly beings, but it will provide
your chapter with direction, inspiration, and motivation.
What do you want your chapter to look like at the end of
your service as leader? Projecting your hopes and desires
into the future will inspire your team with a vision of how
to get there.

<br>
Without a vision, you and your team can still go through
the motions of holding chapter meetings. However, these
meetings will lack the spark of life. Without a vision to
guide you and provide clear goals, your chapter will be like
a body without a spirit inside. Don’t let this happen!
<br>
The spirit of your chapter will come naturally as you
passionately and prayerfully plan what you want your
chapter and your members to become, individually and
collectively. With this vision and spirit driving everything
you do, your chapter activities will be much more effective.
People’s lives, including your own, will improve in many
ways.
<br>
By envisioning what you want the future to hold, you
can create your vision for how to make it happen. As you
formulate your vision for the chapter, you are writing your
chapter’s history in advance. What are some of the topics
you should consider including in your vision? For further
guidance, see this booklet’s next chapter.
<br><br>
My Action Item:<br>
Write down what you want your chapter and members
to accomplish during your term of leadership.<br><br>
Spiritual Application:<br>
“As we gain a vision of ourselves as the Savior sees us
and as we act on that vision, our lives will be blessed
in unexpected ways. . . . We are a people with a history
of vision and the faith and courage to do. Look
at where we have come and the blessings we have received!
Believe that He can bless you with vision in
your life and the courage to act. . . . ‘Where there is no
vision, the people perish’ (Proverbs 29:18).”<br>
—O. Vincent Haleck<br><br>
Additional Insights:<br>
“Leadership success always starts with vision. . . .
Before you embark on any leadership enterprise, stop
and take a hard look at your vision of success. What is
it? Do you have one? Often, in the rush to get things
done, to launch a new project or product, we ask people
to get behind our efforts without ever really giving
them a good reason why.”<br>
—John Ryan
<br>

</p>




</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>