<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 7: The Power of Success Partnerships</h1>
<hr>
<p>Who’s more likely to succeed in business, a partnership
or an individual? According to Professor Gibb Dyer of
Brigham Young University, business partnerships are four
times more likely to succeed than sole proprietorships.
Partnerships can be challenging, but their overall success
rate is much higher.
<br>
This booklet chapter is not about going into business with
a partner—rather, it’s about a different kind of partner who
can help you succeed in your business. We encourage you
and your chapter members to create mutually beneficial
relationships that we call success partnerships. Your
future as a business person can be greatly enhanced by
your relationship with a success partner. The future of the
Academy and it’s individual members living within your
chapter can be greatly helped by you as a chapter leader.
<br>

The LDS Church’s self-reliance training calls these
partners “action partners.” Alcoholics Anonymous calls
them “sponsors.” Whatever you call these partnerships,
independent studies have repeatedly proven their value. To
achieve business success, it’s tremendously helpful to share 
advice and support with one or more associates who have
similar goals as you do.
<br>
Success Partnerships in Your Chapter
<br>
The future of the Academy—and its individual graduates—
is in the alumni chapters. These chapters perform many
vital functions and help their members in significant ways.
One of the most important contributions a chapter can make
is, in the words of Academy founder Stephen W. Gibson,
“hosting a celebration or gathering of like-minded people
who are all striving through business enterprises to lift their
families out of poverty and become prosperous.”
<br>
How can your chapter host such a celebration? One way is
by organizing your chapter into success partnerships of two
or three people, perhaps by LDS ward or neighborhood.
These partners will then talk with each other nearly every
day—even if only by text or phone call—about how they’re
doing on their individual pathways to success. As partners
coach and mentor each other, they can support one another
during difficult times and celebrate each other’s successes.
<br>
Your chapter meetings can become a gathering place for
success partnerships. During each chapter meeting, spend
a few minutes reinforcing the steps that lead to business
success, such as by reviewing a business principle or rule
of thumb. Then devote much of the rest of the meeting
to success partnerships, inviting partners to share their
successes.
<br>
When you center your chapter meetings on celebrating
individual successes, the members will love to share their 
wins and achievements with each other. As a chapter,
establish some milestones for celebration, such as when
a chapter member creates his first income statement,
makes his first profit, or hires his first employee. Rewards
could include special badges, stickers, or other forms of
recognition.
<br>
As you orchestrate success partnerships and celebrate
the steps that lead to success, you will help your chapter
members increase their momentum and reach their goals
and full potential. Don’t forget to celebrate your own
successes too!
<br>
<br>
My Action Items:
</p>
    <ul>
<li>Divide your chapter into success partnerships of two or
three people.
</li>
<li>Identify milestones of success to celebrate in your chapter.
</li>
    </ul>
    
<p>
Spiritual Application:<br>
    The scriptures provide numerous examples of success
partnerships. The prophet Alma partnered with Amulek. Paul
and Timothy visited the churches together. Hyrum Smith
was a blessing to his brother Joseph. Today, missionaries
demonstrate the principle.
<br><br>
Additional Insights:<br>
“If you have a success partner, on those days when maybe
your energy isn’t there, you’re going to have somebody
holding you accountable. And likewise, you’re going to be
holding somebody accountable.”<br>
—Carl Daikeler

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>