<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 10: Finding Joy in the Success of Others</h1>
<hr>
<p>The prophet Alma teaches us one of the greatest leadership
principles. “I do not joy in my own success alone,” he
declares, “but my joy is more full because of the success of
my brethren.” Alma is speaking of the missionary efforts of
Ammon and his brethren. “When I think of the success of
these my brethren my soul is carried away, . . . so great is
my joy” (Alma 29:14–16).
<br>
It’s been said, “He who chops his own wood gets warm
twice.” We could also say, “He who inspires others to chop
their own wood feels twice the joy.” Teaching, guiding, and
inspiring people allows us to experience the joy of serving
others and seeing them progress. When we lift others, we
come to love them, and we feel joy from having played a
role in their growth. It’s not that we take credit for their
success, but we feel deeply satisfied with their positive
results and are hopeful for their futures.
<br>
Missionaries who understand this principle are changed
forever. If you read a missionary’s emails home, you can
often tell when the missionary catches the spirit of the work.
He or she will forget to talk about home and will instead
focus his or her entire email on sharing how an investigator
made progress and how joyful this made the missionary
feel. The mission field is where many Latter-day Saints first
feel the joy of serving others and finding joy in the growth
of those they teach.
<br>
Finding Joy in Your Chapter
<br>
The rewards of serving well as an Academy alumni
chapter president are many. You learn leadership skills and
attributes that will help you become more successful in
many areas of your own life. Perhaps the most meaningful
reward, however, is the joy you feel as your fellow chapter
members succeed. As chapter president, you can feel the
same joy that Alma felt as you help your chapter members
become more successful.
<br>
Like a missionary who has learned to teach well, you will
find it tremendously satisfying to see direct results from
your careful planning and execution of chapter meetings
and programs. As you see the faces of your members light
up, you will know that your chapter’s efforts are penetrating
their minds and hearts. That swelling you feel in your breast
is not unlike the feelings of a parent who watches his or her
child gain confidence and experience life-changing results.
<br>
As you see your chapter members providing better lives for
their families and beginning to hire employees, your joy
will become even more full. The success you’ve nurtured
is spreading outward and lifting more people. Your work
as chapter leader will impact many generations to come, as
families rise up out of poverty and achieve self-reliance and 
prosperity.
<br>
Aristotle said that the primary difference between humans
and animals is that humans can understand and appreciate
real happiness and joy. As you love and lift every member
of your chapter, you will experience the best of all rewards.
<br>
<br>
My Action Items:
</p>
    <ul>
<li>Identify a time in your life when you’ve found joy
in the success of those you’ve served.
</li>
<li>Determine which chapter members need the most
help and how you and your leadership team could
best assist them.</li>
    </ul>
    
<p>Spiritual Application:
    <br>
    “Some mistakenly think that a commitment to service
comes after a great spiritual experience. This is like the
man who is cold standing before the stove and saying,
‘Give me heat, and then I will put in some wood.’ The
joy and blessings of service follow the rendering of service.”<br>
—Russell C. Taylor
<br>
<br>
Additional Insights:
<br>
“Service which is rendered without joy helps neither
the servant nor the served. But all other pleasures
and possessions pale into nothingness before
service which is rendered in a spirit of joy.”
<br>
—Mahatma Gandhi

</p>
</div>
</div>