<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 4: Setting Goals For Your Chapter</h1>
<hr>

<p>Do you want to build a happy home, a healthy life, a
prosperous business, an effective ward or stake, and a great
alumni chapter of the Academy? To accomplish outstanding
things, no single leadership tool works better than setting
goals.
<br>
Goals can establish your children and grandchildren with
a money-producing family business for many generations.
Academy founder Stephen Gibson says: “Goal setting has
changed me from a below-average student from a lowerincome
background to a successful businessman and
philanthropist, ready, willing, and able to help others work
themselves out of poverty.”
<br>
No single technique for self-improvement is written more
about in books than setting and achieving goals, but all
too often this tool isn’t used effectively. How are you, as
a chapter leader, going to use goals to move your chapter
from good, to better, to best? How are you going to help
your chapter members use goals to improve their own
businesses?
<br>

<strong>SMART Goals for Your Chapter</strong>
<br>

With your vision for your chapter in place, you can use goals
to carry out the vision and reach your full potential. We
recommend the SMART approach. This acronym defines
five important characteristics of effective goals:
<br>
&nbsp; Specific
<br>
&nbsp; Measurable
<br>
&nbsp; Attainable
<br>
&nbsp; Relevant
<br>
&nbsp; Time-bound
<br>
Specific—President Thomas S. Monson has said, “When we
deal in generalities, we shall never succeed. When we deal
in specifics, we shall rarely have a failure.” It’s one thing
to set a goal to improve the lives of our chapter members.
However, it’s even better to be specific for example: “We
will help our chapter members grow their business profits
by ten percent.”
<br>
Measurable—President Monson went on to say, “When
performance is measured, performance improves.
When performance is measured and reported, the rate of
improvement accelerates.” When we set specific goals,
we can regularly monitor and report our progress toward
meeting these goals and seeing valuable, meaningful results.
<br>
Attainable—Keep good records so you can review where
you’ve been and set attainable goals for the future. As
an illustration, let’s say that attendance at your chapter 
meetings is not as high as you’d like, with an average of
only ten members regularly attending. Setting a goal to
increase attendance to 100 members next month is probably
not realistic. Your goals should stretch you, but they should
also be reasonably attainable.
<br>
Relevant—Whenever you set goals, double-check them
against your overall vision for the chapter, so you can make
sure that each goal really matters. A goal can be specific,
measurable, and attainable without being truly important
and worthwhile. For instance, if you set a goal for chapter
members to play basketball together at least once a week,
that goal might be good but is not as relevant as other goals
you could pursue.
<br>
Time-bound—In business, there’s nothing quite as
motivating as a deadline. As you come up with goals for
your chapter leadership and make assignments, it’s vital
to set deadlines for achievement. Here’s what our example
from above looks like with a firm deadline added: “We will
help our chapter members grow their business profits by ten
percent by the end of this year.”
<br>
No doubt you’ve found this discussion of goals to be
interesting. However, if you don’t take action and start
setting goals now, little will come of it. Don’t let this happen!
In accordance with your vision, set the right SMART goals
for your chapter, write them down, and keep following up.
We at the Academy are grateful for your efforts in helping
make a difference in the lives of your chapter members.
<br>
<br>
My Action Items
<br>
</p>
<ul>
<li>Identify three of the most important goals needed to
fulfill your leadership vision for your chapter.
</li>
<li>Develop these goals to include all five aspects of
SMART goals.
</li>
</ul>
<p>
Spiritual Application:
<br>
“I am so thoroughly convinced that if we don’t set
goals in our life and learn how to master the techniques
of living to reach our goals, we can reach a ripe old age
and look back on our life only to see that we reached
but a small part of our full potential. When one learns
to master the principles of setting a goal, he will then be
able to make a great difference in the results he attains
in this life.”
<br>
—M. Russell Ballard
<br><br>
Additional Insights:
<br><br>
According to Forbes.com, a group of Harvard MBA
students was asked, ‘Have you set clear, written goals
for your future and made plans to accomplish them?’
Only 3% of the students had written down their goals
and plans, 13% had goals but not in writing, and
84% had no goals. Ten years later, the students with
unwritten goals were earning twice as much as the
students with no goals. However, the students with
written goals were earning, on average, many times as
much as the other 97% of the class combined.
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>