<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 8: Tracking Your Accomplishments</h1>
<hr>
<p>
In an earlier chapter, we introduced the idea of a keystone
habit. This single habit alone will lead you to accomplish
many vitally important tasks. These efforts will then become
new habits and lead to additional successes in all areas of
your life. The keystone habit we recommended earlier was
to always create a to-do list for tomorrow.
<br>
This chapter is about another keystone habit. Research has
found that this additional habit is almost as effective in
changing behavior as the daily to-do list is. Simply stated, this
additional habit is writing down or tracking your activities
and results on a daily basis.
<br>
Daily tracking of what you do is powerful in several ways.
Over time, this habit can provide valuable information,
allowing you to identify patterns and trends in your business
so you can make appropriate adjustments. Your routine
of tracking can become a motivating force for behavior
change.
<br>
In one study, 1,600 dieters were asked to start keeping a
food journal. About six months later, researchers found that
the individuals who recorded what they ate every day had 
lost twice as much weight as those who didn’t. The act of
writing down their results made them more conscious of
what they were eating, and this helped them change their
behavior. If you track what you are doing and are seeing
the results you, just like the dieters, change your behavior
to get new and better results. A wise man once said, “If you
keep on doing what you have always done, you will keep
on getting what you have always got.” Or “To be what you
are not, you must do what you do not.”
<br>
As students of the Book of Mormon, we know how important
records were to Lehi and his family. Lehi sent all four of his
sons back to Jerusalem to get the brass plates from Laban.
This expedition was dangerous, but Lehi’s family needed
access to records of God’s dealings with their ancestors.
Later in the Book of Mormon, we learn that the Mulekites
were not able to bring records with them to the New World.
As a result, their language became corrupted and they
“denied the being of their Creator.” To address this situation,
the people of Mosiah retaught the Mulekites their language
so that they could understand the scriptural records. (See
Omni 1.)
<br>
These records may prove to be almost as valuable to
your future sucess as the records were to the Nephits and
Mulekites.
<br>
Tracking Results in Your Chapter
<br>
If you’re not already tracking your results on a daily basis,
we encourage you to start doing so. Keep track of what you
experience and accomplish in your personal life, in your 
business, and in the alumni chapter that you lead. Teach and
encourage others to do the same.
<br>
Just the act of recording your results will help you develop
new habits of success. Here are just a few examples of
business results that you could track daily:
<br>
</p>
<ul>
<li>Amount of cash in the business
</li>
<li>
Number of customers who come into the business
</li>
<li> Number of customers who make a purchase
</li>
</ul>
<p>
In addition, you could write down and track new ideas you
have for improving your business.
<br>
In your alumni chapter, your presidency could track
assignments given and record when these assignments were
completed and with what outcome. You could also track
attendance at chapter meetings so you can measure increases
and decreases and adjust your priorities accordingly.
The Academy will soon produce a planning and tracking
tool for chapter members. In the meantime, start tracking
your activities and results every day in a small notebook.
Share your records with other members of your chapter
leadership team, and encourage chapter members to share
their records with their success partners.
<br>
As with the daily habit of making a to-do list for tomorrow,
it’s much easier to track daily results if you always keep your
tracking notebook in the same place, with writing utensils
nearby. This helps you to be consistent with your tracking.
If you are also making a to-do list each afternoon at the end
of the work day, it makes sense to do your tracking and todo
lists at the same time and place.
<br>

“As a people we ought to write of our own lives and our own
experiences to form a sacred record for our descendants. We
must provide for them the same uplifting, faith-promoting
strength that the ancient scriptures now give us.”
<br>
—Theodore M. Burton
<br>
“Some business owners understand the importance of
keeping records but think that the counsel applies only to
large businesses or to complex businesses. This is simply
not true. Every business can benefit from good records.
Even if your business is small, written records are vital.
You simply cannot remember every detail of what occurs
in your business—especially after long periods of time.
Your memory will surely fade as days and weeks pass, but
ink seldom fades. Record keeping enables you to see, with
no doubt at all, what has truly happened in your business
each day.”
<br>
—Stephen W. and Bette M. Gibson
<br>
<br>
My Action Items:
</p>
<ul>
<li>Decide what specific aspects of your business and alumni
chapter you will track.

</li>
<li>Determine when and where will you perform your daily
tracking.
</li>
</ul>
<p>
Spiritual Application:
<br>
“As a people we ought to write of our own lives and our own
experiences to form a sacred record for our descendants. We
must provide for them the same uplifting, faith-promoting
strength that the ancient scriptures now give us.”
<br>
—Theodore M. Burton
<br>
Additional Insights:
<br>
“Some business owners understand the importance of
keeping records but think that the counsel applies only to
large businesses or to complex businesses. This is simply
not true. Every business can benefit from good records.
Even if your business is small, written records are vital.
You simply cannot remember every detail of what occurs
in your business—especially after long periods of time.
Your memory will surely fade as days and weeks pass, but
ink seldom fades. Record keeping enables you to see, with
no doubt at all, what has truly happened in your business
each day.”
<br>
—Stephen W. and Bette M. Gibson
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>