<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 10: Chapter Training Program</h1>
<hr>
<p>
<strong>Regional Visits</strong>
<br>
- They are held twice a year
<br>
- They are organized by the Chapter Coordinator 
<br>
- Only presidencies attend
<br>
- Training is provided
<br>
- Number Reporting 
<br>
- Goal Setting
<br>
- Time to address any doubts 
<br>
- Motivation and support are provided
<br>
- There should be a chapter meeting that day
<br>
- There are business visits

<br>
<br>
<strong>Video Conference</strong>
<br>

<br>
- They are held twice a year
<br>
- They are transmitted from the campus
<br>
- Training is provided
<br>
- Attended by all members of the Chapter
<br>
- Information is given of following events
<br>
- Motivation and support are provided

<br>
<br>
<strong>Genderal Meeting of Chapter Presidents</strong>
<br>
<br>
- Once a year
<br>
- They are held on the campus of the Academy
<br>
- Attended by all the presidents of the chapters in Mexico
<br>
- Work is planned out
<br>
- Training is provided
<br>
- Motivation and support are provided

<br>

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>