<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 12: Use of Electronic Media</h1>
<hr>
<p>Use of electronic media for the dissemination and strengthening of Chapters throughout Mexico is encouraged. You can use media such as:
<br>
- Web page
<br>
- Facebook page
<br>
- Business publishing articles on the website and Facebook page
<br>
- Publication of training tools available to the Chapter members in general (See "Line Modules")

<br>
</p>
   
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>