<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 9: Chapter Interaction with the Academy</h1>
<hr>
<p>The interaction of the Chapter and the Academy is as follows:
<br>
- Each month the "Monthly Chapter Meeting Report" will be sent
<br>
- Each month the database is updated and verified with the Chapter Coordinator at the Academy
<br>
- Each month a success story will be sent to the Chapter Coordinator at the Academy through "Machote for Success Stories" format
<br>
- There will be a close relationship with the Chapter Coordinators and Chapter presidencies in working with the network of contacts and requests from the chapters
<br>
- Each Chapter receives a visit from a representative of the Academy during the year
<br>
- Each Chapter receives two videoconferences per year coordinated by the Academy
<br>
- Chapter presidents receive general training each year held on the campus of the Academy
<br>
- Each year, there will be a call for participation in the annual “Academy Awards” event
<br>
- There will be communication between the Chapter and the Academy regarding applications for participation in the Business Practices
<br>
- Occasionally, additional information will be sent to Chapter presidencies in regards to administrative changes, new available resources, etc.
<br>
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>