<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 13: Frequently Asked Questions</h1>
<hr>
<p>
    <strong>What kind of Chapter meetings can be conducted in the chapels?</strong>
    <br>
The Academy has the support of the Church to use the chapels and physical facilities for monthly meetings and only monthly meetings. A Chapter meeting is described in the "Meeting Agenda"; any other activity that the Chapter wants to undertake not mentioned in the agenda must be approved by the Academy
    <br>
    <br>
<strong>    What happens when my Chapter meeting interferes with another church meeting?</strong>
<br>Arrangements should be made before hand so that Chapter meetings do not interfere with other meetings/activities going on in the Church building. If a conflict does arise, consider changing room.
<br><br>
<strong>Can I sell my product in the Chapel?</strong>
Remember that the instruction manual of the Church prohibits business transactions in their buildings, so refrain from selling or marketing in them.
<br><br>
<strong>Can my friends attend who are not members of the Church or members of the Chapter?</strong>
They are allowed; however, they should be invited to take either the Academy’s course (if they meet the requirements) or the new course of the Church "How to start and grow my business." Chapter members can attend with a husband or wife. 
<br><br>
<strong>Can graduates of the Church’s self-employment courses (the course offered previous to "How to Start and grow my business") be incorporated into a Chapter?</strong>
No, they are invited to take the new course of the Church "How to start and grow my business." Remember that the Church offers three courses: "Education for a better job," "My Job Search" and "How to start and grow my business." Only graduates of the course "How to Start and grow my business" can be incorporated into Chapter.

</p>
   
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>