<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 4: Administration of An Effective Chapter</h1>
<hr>
<h3>Chapter Effective Meetings</h3>
<p>
    Before:
    <br>
- The stake or ward leader should have knowledge and approve the Chapter meeting dates at least two weeks before it takes place.
<br>
- The meetings are held in the cultural hall of the chapel where the corresponding leader authorizes.
<br>
- The date and place of the meeting of the Chapter must be disclosed at least two weeks in advance (via SMS, WhatsApp, e-mail, etc.).
<br>
- Chapter president assigns a member of the presidency to lead the meeting and another "that takes time."
<br>
- The Vice-President of Education and Training asks some Chapter members to be facilitators in the SMG during the resolution of the exercises and discussion of topics (1 per group of 3 to 4 people)
<br>
- The Vice-President of Education and Training makes copies of the "Guide for SMG discussion" (explained later in this document)
<br>
- The presidency of the Chapter must meet before the Chapter meeting is carried out in order to plan the agenda (guests, video, assignments, case studies, visits to business activities chapter, etc.).
<br>
- Business visits are planned to the Chapter members or visits to inactive Chapter members
<br>
- Communicate meeting assignments to members well in advance in order to give them time to prepare.
<br>
- The Chapter Secretary, with the support of the presidency, should arrive at least 30 minutes prior to the meeting venue to refine details, prepare meeting materials, and perform other preparations


<br>
During:
<br>
- Only graduate students attend the Academy course and the course "How to Start and grow my business" (members can attend with a husband or wife)
<br>
- Start the meeting PROMPTLY right on time in order to live the culture of success
<br>
- Agenda of the Meeting is followed as shown later in this document
<br>
- Analyze case study practices; ACE will send monthly case studies
<br>
- Fill out the "Chapter Meeting Report" included in the Agenda
<br>
Follow the teaching model throughout the meeting as indicated in section 4.3
<br>
<br>

Special Guests: On occasion, someone from the community can be invited to a Chapter meetings to share a training. This person is subject to the teaching model, the agenda, and the guidelines of the Church. Preferably the guest will teach the monthly study subject. The guest may or may not be a member of the Church and may or may not be a member of the Chapter. It is expected that the guest does not charge for their visit, one of the options you can mention is the fact of having the possibility to contact new customers.
<br>
<br>

After:
<br>
- The presidency of the Chapter invites attendees to clean and tidy the area
<br>
- It seeks feedback from the members of the Chapter during the week (phone calls, emails, etc.)
<br>
- The presidency analyzes the chapter meeting during the next presidency meeting

<br>
<br>
<strong>Suggestions for Teaching and Learning at the Meeting</strong>
<br><br>
Some suggestions for managing the meeting are as follows:
<br>
1. Divide the participants into small groups where they can discuss the teaching and possible applications. 
<br>
2. Provide educational materials like fill-in-the-blanks sheets, practical exercises, real or fiction case studies.
<br>
3. Use informative material such as magazines, recent articles, books, etc.
<br>
4. Also use audiovisual material such as videos, recordings, slides, among others.
<br>
5. Always encourage members to reflect, analyze, and ask questions.


<br>
<br>

<strong>Meeting Agenda</strong>
<br>
The Chapter president must organize and plan the agenda for the meeting well in advance, in order to give notice to the participants in the meeting of possible assignments. The agenda is usually filled out during the presidency meeting. Efforts should be made to follow the order established by the following format during the meeting.
The secretary is the one who fills the Agenda.
<br>
1. The Chapter President, or someone he assigns, directs.
<br>
2. The secretary reads out the agreements and commitments made last meeting. A member of the presidency gives the follow-up
<br>
3. Whoever runs the meeting gives a brief introduction.
<br>
4. The members are divided into SMGs, they are given the monthly "Discussion Guide for SMGs". The meeting director visits the SMGs for comments and to resolve potential doubts.
<br>
5. Give the time to whoever is presenting to explain the case. At the beginning of the analysis, only allow questions. Then ask for suggestions, which the secretary writes down to provide the list to the presenter of the case.
<br>
6. They return to the SMGs and commitments are made, which everyone shares with its SMG. Give time to think. The facilitator notes the commitments.
<br>
7. The date of the next meeting is announced, a preview of the theme of the next month is given, and assignments are made.
<br>
8. There may be a time after the meeting for a snack or to strengthen the network of contacts between the members of the Chapter.
<br>

<br>
Discussion Guide for SMGs
<br>
Each month, the Academy gives the group a “SMG Discussion Guide” that includes case studies for the groups to discuss; this sheet is given to the group facilitator. During the case studies, the guide helps to receive feedback and promotes open communication of ideas and comments. The guide varies each month so there is no specific format. 
<br>
<br>
<strong>Responsibilities of the Presidency</strong>

President<br>
President Profile:
<br>
Active member of the Church
<br>
Preferably with an established business
<br>
Preferably with a call of responsibility in your ward or stake
<br>
Preferably married
<br>
Ability to call
<br>
Possesses good relations with church leaders
<br>
<br>
The responsibilities of the President are as follows:
- 2 year commitment.
<br>
- Attends the training provided by the Academy.
<br>
- Ensures that Chapter meetings are well planned and orderly, that is, with a program written and prepared before starting.
<br>
- Coordinates presidency meetings and organizes the presidency to carry out the assignments
<br>
- Coordinates and ensures that the meeting area is clean at the end.
<br>
- Coordinates meetings and ensures that the date of the next meeting is well defined.
<br>
- Is the "face" of the Chapter. The president is who is directly associated with church leaders; Area Seventies, Mission Presidents, Stake Presidents and Bishops.
<br>
- Contacts with local leaders from the region of its Chapter or assigned to a member of his presidency to do it; this in order to coordinate their visits to groups of "How to Start and grow my business" and to publicize and promote the resources in Chapter graduates. (See "Relationship ACE-CRAS)
<br>
- Coordinates the creation of Support and Monitoring Groups (SMGs).
<br>
- Make sure that all Chapter members are integrated to a SMG and every member makes an endeavor to make be a part of a group.
<br>
- Build strong relationships with:
<br>
 &nbsp;- Chapter members.
<br>
&nbsp;- Microentrepreneurs members or not members of the Church and / or Chapter.
<br>
&nbsp;- Government representatives.
<br>
&nbsp;- Local Church leaders.
<br>
- Coordinates with the presidency to make one visit per month to a member of the Chapter in your business to give recognition, support, motivation and other tools that foster business growth; this will be done using as a guide the "Format Business Visit".
<br>
- Encourages members of the Chapter to participate in the Academy Awards and follows their nominations and recommends at least two of its members to participate.
<br>
<br>



Recruitment and Marketing VP
<br>
Vice President Profile:
<br>
Active member of the Church
<br>
Preferably with an established business
<br>
Preferably with a call of responsibility in your ward or stake
<br>
You can be married or single
<br>
That has a direct relationship with the Institutes of Religion in your region
<br>
Possessing good relations with local church leaders.
<br>
The responsibilities of the vice president are:
<br>
- MAIN DUTY: Promotes Chapter image and seek prospects for ACE courses (returned missionaries, institutes of religion, etc.)
<br>
- Invites members of the Chapter to the monthly meeting using electronic means of dissemination or face-to-face
<br>
- Find two prospects each month to the Campus in various forms
<br>
- Finds prospects for regional ACE courses (where applicable)
<br>
- Place Academy advertising authorized by the appropriate ecclesiastical leader (chapels, CRAS, Institutes) places
<br>
- Compose and send success stories every month to Campus Chapter Coordinators. This is done through visits business Chapter members (with prior authorization from them) and taking as a guide the "Machote for Success Stories".
<br>
- Look for ways to maintain contact with members of the Chapter to maintain a constant spirit in them and thus build support and strengthening the network of contacts (group of Facebook, Whatsapp, etc.)
<br>

Vice President of Training and Education
<br>
Vice President Profile:
<br>
Active member of the Church
<br>
Preferably with an established business
<br>
Preferably with a call of responsibility in your ward or stake
<br>
Preferably married
<br>
Possessing good relations with leaders outside the Church
<br>
Possessing good relationships with church leaders.
<br>
The responsibilities of the Vice President are:
<br>
- MAIN DUTY: ensures the effectiveness of the meeting in the implementation of teaching model
<br>
- Guests looking for imparting training to Chapter on casual basis; you can take as a guide the following points:
<br>
- It may be one of the members of the Chapter
<br>
- It may be a political or government leader
<br>
- It can be an accountant, marketer, lawyer, etc.
<br>
- It can be a successful entrepreneur in the community
<br>
- No need to be a member of the Church or Chapter
<br>
- Most preferably the guest must expound on the subject given by the videos.
<br>
- It is responsible for the implementation of the survey on the quality of education during the meeting.
<br>
- Complete the form "Meeting Assessment" included in the Agenda and sends it to Chapters Coordinator in Mexico.
<br>
- You can ask for suggestions to the Chapter members about the issues that will be presented at meetings (if you have a speaker).
<br>
- Handling equipment to be used in teaching (Lap top, projector, etc.)
<br>
<br>
Vice President Membership
<br>
Vice President Profile:
<br>
Active member of the Church
<br>
Preferably with an established business
<br>
Preferably with a call of responsibility in your ward or stake
<br>
Preferably married
<br>
Preferably an orderly and skilled person to keep records
<br>
Possessing good relations with local church leaders
<br>
This Vice responsibilities are:
<br>
- DUTY HOME: KNOW 100% of Chapter Members.
<br>
- Each month review with Chapters Coordinator in Mexico who are coming to the Chapter and makes sure you have the correct information from them
<br>
- Update data about Chapter members. These data are: who have moved both to other places, as well as those who come to the city or Chapter area; changing course of business of a member of the Chapter; beginning or end of your business; phone number; email; call; etc.
<br>
- Ensures that new members know 100% who the Chapter Presidency is.
<br>
- Contact course graduates CASE or ACE or are incorporated into Chapter and invite them to meetings
<br>
- Database bears graduate CASE (as distinct from Database graduates ACE). This database is achieved through visits made to the new course of the Church "How to start and grow my business"
<br>
<br>
Secretary
<br>
Secretary Profile:
<br>
Active member of the Church
<br>
No need to have a business
<br>
No need to have a call of responsibility in your ward or stake
<br>
You can be married or not
<br>
Preferably an orderly and skilled person to keep records
<br>
Always ready to account
<br>
Possessing good relations with church leaders
<br>
The responsibilities of the Secretary are:
<br>
- MAIN DUTY: Make sure that there is efficient monitoring of commitments and agreements made during meetings
<br>
- Prepares the agenda of the meeting of the Presidency and the Meeting of the Chapter, see section 4.1.3 and corresponding 4.5
<br>
- Prepare to project videos, lounge and physical facilities to be used during the meeting. Note: Make sure that the video is downloaded in advance.
<br>
- Fill the report of the meeting after it (preferably the same day the meeting is held)
<br>
- Send the Chapter Meeting Report to the Chapter Coordinator of ACE (preferably the same day that carried out the meeting or n).
<br>
- Keeps track of the dates of the courses of the ACE in all its forms
<br>
- Keep track of the SMGs of the Chapter.
<br>

<br>
<strong>Teaching Model</strong>
<br><br>
The teaching model is followed and maintained throughout the chapter meeting.
<br>
A. Teaching taught from the beginning or topic: This is to teach the subject and why, explanation, data, statistics and information relating to the principle or topic being taught. It is limited to what imparts the exhibitor or video.
<br>
B. Application of principle: This point emphasizes how attendees can apply what they learned to their business or other aspects of your life. Examples of practical applications and case studies submitted by ACE, exercises are given, etc. The presidency ensures that the display always relates the principle with the application. At this point you should ensure that what is shared is commensurate with the subject, i.e. not wander from it. Examples of questions include: How can I apply this to my business? How do I apply this to me? Etc. 
<br>
C. Commitments: This part of the model focuses on the attendees with a strong determination from what is taught, of the measures they will take to grow their business. Commitments must be in writing and specific. As part of the meeting commitments are shared with others; the secretary takes note of them and follows up the next meeting. The presidency guides this part.
<br>
D. Follow - up: At the beginning of each meeting (as set by the agenda), take a moderate time to give the opportunity to the Chapter members to give a brief report on their progress in meeting their commitments made at previous meetings. The presidency guide this part.
<br>
<br>
<strong>Measurement of Results and Goals</strong>
<br><br>
Any activity related to the Chapter must ensure compliance with the targets set for this Chapter, which are as follows. These goals are based on the annual performance report of Chapters.
<br>
1. 40% of Chapter members attending their monthly meeting Chapter
<br>
2. 100% of meetings in the year: Each chapter should have its monthly meeting without fail
<br>
3. Database updated 100%
<br>
4. 90% satisfaction with teachings 
<br>
5. 100% of those attending the meetings to integrated in a SMGs
<br>
6. A leaflet sent to every generation the Campus: Chapter should encourage members to give references of potential participants for ACE courses in their
<br>
7. Participation of at least 2 of the members of the Chapter in the Academy Awards
<br>
8. Visit 100% of the groups of the new course of the Church in stakes or districts where it is taught, in order to publicize the program of Chapters and their characteristics.
<br>
<br>
<strong>Presidency Meeting</strong>
The Chapter president should plan and organize the agenda of the Chapter meeting. The meeting should fit the circumstances of the presidency; however, they are advised to meet at least one week in advance. During the Presidency meeting, the following topics will be discussed:

<br>
- Preparing the Chapter Meeting Agenda
<br>
- Assessment of meeting quality (Quality of education, punctuality, management network, Small Support and Mentoring Groups)
<br>
- Assessment of previously established goals (attendance, meetings, quality of meetings)
<br>
- Search electronic or audiovisual media to project the image of Chapter
<br>
- Set goals and assignments (business visits, recovery, prospects search for ACE courses etc.)
<br>
- Facilitate business growth tools
<br>
- Follow-up on the commitments made by the presidency in its previous meetings
<br>
- Give assignments to contact Businesses and inactive members the chapter
<br>
- Chapter specific necessities (reactivation, specific themes, activities, etc.)
<br>
- Recruiting new prospects to take the Academy’s course on the campus
<br>
- For this meeting it will be used as the format set out in this section, which is also found in the Appendix of this document.
<br>
<br>
<strong>Visits to Chapter Members' Businesses</strong>
Visits to the businesses of the Chapter members are made by the presidency as well as the SMG according to the following guidelines.
<br>
Presidency:
<br>
- The purpose of a visit to the business is not to judge but to help
<br>
- All visitors must be authorized by the business owner; an appointment should be made prior to visiting
<br>
- All data and information to be analyzed during the visit should be handled confidentially
<br>
- These visits are available case studies (feedback from group)
<br>
- These visits can be success stories (with permission of the owner)
<br>
SMGs:
<br>
- The purpose of a visit to the business is not to judge but to help
<br>
- All visitors must be authorized by the business owner; an appointment should be made prior to visiting
<br>
- All data and information analyzed during the visit should be handled confidentially
<br>
- Important note: When making visits with the opposite sex you are urged to maintain the standards of the Church. Don’t be in private spaces or alone or any other situation that lend themselves to misunderstanding
<br>
<br>
<strong>Event Annual Academy Awards</strong>
<br>
<br>
This program was created in order to follow up with the chapter members. It is an annual convention where members of chapters around the country gather for two days in order to strengthen their businesses and expand their network. It consists of the following and attendees can participate in all or some of the following activities:

<br>
Business Contest: This is a competition where a participant’s business is evaluated by judges based on several criteria to qualify profitability. The participant can compete in different categories. To participate you must meet the following requirements:
<br>
- Be a graduate student of ACE course or "How to start and grow my business"
<br>
- Be an active member in rightful Chapter (Has attended at least 2 meetings in the last 4 months)
<br>
- Has a business
<br>
- Have the recommendation of corresponding Chapter presidency 
<br>
- Provide the information required for registration and participation.
<br>
- Register within the registration deadline.
<br>

<br>
Workshops: workshops are carried about by specialists in the field. They last about an hour. They address the most important issues for sustained business growth. The general public can participate in workshops.
<br>
<br>
Lectures: based on topics of interest for entrepreneurs. The general public can participate.
<br>
<br>
Self-sufficiency and Business Fair: Multiple types of businesses attend, offer, and market their products or services. This fair is open to the participation of the general public, i.e. it is not necessary that a person be amember of a chapter or member of the Church to have a place in the fair. Each stand has a cost
<br>
Note: General admission has an associated cost.
<br>
<br>
The Chapter has the following interaction with ACE at the Academy Awards:
<br>

The date and place of the execution of the Awards is published five months in advance on the website of the ACE.
Chapter presidencies should recommend two of its members to participate in the Awards.
The presidency confirms the accuracy of the information provided by the participant who signs up to business competition.
The Chapter presidency monitors the registered participants to track their progress, their preparation for the contest, etc.
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>