<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 5: Establishing Effective HAbits and Routines</h1>
<hr>


<p>As Latter-day Saints, we say that the Book of Mormon
is the keystone of our religion. In a stone archway, the
keystone is the central stone that holds all the other stones
in place.
<br>
What is the keystone of business success? Many LDS
business leaders feel that their keystone is a particular daily
habit. Habits are powerful, and the right habits can make all
the difference. A keystone habit provides a foundation for
developing many additional habits and routines of success.
<br>
A Keystone Habit for Chapter Leaders
<br>
As an alumni chapter leader, you have an opportunity to
set a keystone habit for your chapter leadership and teach
others to do likewise. For those who are striving to become
self-reliant, the right habit can become a first step toward
achieving success.
<br>
Here’s what we recommend that you adopt as your keystone
habit, if you aren’t doing so already: Every evening, make 
yourself a to-do list for the next day. On your list, include
essential actions that you should do the following day for
your family, your business, your alumni chapter, and your
church calling.
<br>
Keystone habits start a process that, over time, transforms
everything. Many successful businesspeople have
developed the simple habit of making a daily list of things
they need to accomplish. This habit enables them to use the
power of planning and goal setting as they work on their
business rather than just in their business.
<br>
Right now, decide what routine you will follow to make
your daily list. Will you use paper or an electronic device?
You could make your to-do list at the end of each working
day. Or right after dinner. Or after you say your evening
prayer, which would allow you to pray for inspiration
about what items to include on your list. To set this habit,
the important thing is to be committed, be consistent, and
create a daily routine for doing meaning doing at the same
time and place everyday.
<br>
Once you’ve made your to-do list each evening, rank the
items by priority, so you can determine what to do first
tomorrow. Mark the five most important items with an
A. Mark the next five most important items with a B, and
so forth. Remember to pay special attention to tasks that
have an important deadline, such as preparing your Sunday
school lesson, inviting a guest speaker for your next chapter
meeting, or purchasing supplies for your business.
<br>

Please start this new habit today! Good habits pay off with
rewards, both short term and long term. Each afternoon, you
will find it rewarding to think about your work, do some
planning, and create your new to-do list. The next morning,
you will find it satisfying to cross items off your list as you
complete each one. In the longer term, you will feel more in
control of your life, and you will be more effective. You will
experience rewards of increased productivity and success.
<br>
Sharing Your Keystone Habit with Others
<br>
In addition to making yourself a daily list, make to-do lists
with your chapter leadership team. Before or after every
chapter meeting, regroup with your chapter leadership
team and make a list of all the things you need to do before
your next meeting. Assign specific tasks to individuals,
with deadlines for completion. Remember to transfer your
chapter assignments to your personal to-do list.
<br>
We also encourage you to teach this keystone habit to all your
chapter members. Understanding why and how to create a
daily to-do list will help them become more successful in
their businesses, as well as in their families, communities,
and church callings. Creating to-do lists is an important first
step in adopting a personal culture of success.
<br>
With a solid keystone habit in place, you can then program
yourself with additional habits and routines of success, as
well as get rid of negative habits that are holding you back.
By improving your habits, you have the power to change
your life and the lives of those you lead.
<br>
<br>
My Action Items:</p>
<ul>
<li>What routine will you follow to create your to-do
list each afternoon or evening?
</li>
<li>What other habits or routines could increase your
effectiveness as an alumni chapter leader?
</li>
<li>
Additional resource: To see a good example of someone using a
to-do list, watch the short video clip titled “Principle 2: Use Time
Wisely,” available at https://www.lds.org/media-library/video/
principle-2-use-time-wisely.
</li>
</ul>
<p>
    Spiritual Application:
<br>
  “I suggest that you carefully examine the thinking
habits and dispositions that function in your life.
Become more aware of them. Monitor and evaluate
them in terms of the influence they have upon you.
Take steps to manage these habits instead of allowing
them to manage you.”
<br>
—Richard R. Sudweeks  
<br>
<br>
Additional Insights:
“We are what we repeatedly do. Excellence then, is not
an act, but a habit.”<br>
—Aristotle

</p>
</div>
</div>