<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 7: Support and Mentoring Groups (SMG)</h1>
<hr>
<p>Small Support and Mentoring Groups are informal follow-up meetings that are held between Chapter members; these meetings can be phone calls, Facebook groups, external meetings, etc.
These meetings do not replace Chapter meetings, only complement the learning that takes place in them.
<br>
They are formed by 3 or 4 Chapter members and one of them acts as coordinator.
They provide encouragement and feedback to its members.
Topics of interest according to business needs are addressed and discussed freely
They have no fixed meeting date or number of meetings in the month, nor do they carry a written agenda.
<br>
They work under the direction of the Chapter presidency and keep them informed about their meetings and activities
They can be made up of several lines of business, or all the group members may be from one specific type of business.
<br>

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>