<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 9: Developing and Maintaining Belief</h1>
<hr>
<p>When the Academy founders first arrived in the Philippines
with only a dream and several boxes of business books, they
thought they had all the tools needed to change people’s
lives. They soon discovered, however, that what they
needed was found not in books but in the students’ hearts
and minds.
<br>
Yes, tools can help with the challenging work of changing
one’s family from poverty to prosperity. Effective tools
include things like to-do lists, success partners, income
statements, and the “25 Rules of Thumb.” Yet all these tools
are not enough if one key attitude is missing: belief.
<br>
In the New Testament, a father brings his ill son to be
healed by the Lord. This father is like so many of us. “Lord,
I believe,” he says, but then he adds, “help thou mine
unbelief.” The Lord provides a remarkable statement about
the power of belief: “If thou canst believe, all things are
possible to him that believeth” (Mark 9:23–24).
<br>
Belief can move mountains, calm storms, raise the dead,
and make it possible to walk on water. And yes, belief can
help those living in poverty to build a microenterprise and
move their families toward self-reliance and prosperity for
generations to come.
<br>
Encouraging Belief in Your Chapter
<br>
Will God really help us succeed in the things of the world?
Does he really care if we live in poverty or prosperity?
And why are some born into poverty and others into rich
families? Why isn’t life more fair?
<br>
These are tough questions. However, they don’t prevent
us from focusing our belief in a simple, effective way. Our
circumstances are what they are, but we should not believe
that our circumstances dictate our future. We can exercise
faith that we can do something about our circumstances.
And then we can go out and actually do it.
<br>
To help your chapter members develop belief that they can
succeed in business, we recommend these three steps:
<br>
1. Build your desire by observing, learning from, and
receiving support from those who have already
achieved success. We call these people mentors,
coaches, or success partners.
<br>
2. Apply the knowledge you have gained, and
continually pray that your “flocks and fields” will
increase (see Alma 34:25).
<br>
3. Keep repeating the routines and habits that make a
difference.
<br>
One reason why Academy alumni chapters are so
important is that members support each other in building 
and maintaining belief. Help your members continuously
review the basic principles of success, including principles
taught by the scriptures. Encourage your members to tell
their stories, both the successes and the challenges. And
remember that your own example is vital—you too must
believe in the dream and testify about what is working for
you and others.
<br>
In Alma chapter 32, we learn a process of belief that can
also apply to our business efforts:
<br>
1. Desire to believe and to take action.
<br>
2. Find the right seed (business opportunity).
<br>
3. Find fertile ground (business location).
<br>
4. Plant the seed (start the business).
<br>
5. Nourish the plant as it “swelleth and sprouteth”
(work on and in the business).
<br>
6. With patience, love, continued belief, and careful
nourishment, harvest the fruit (make a profit every
day).
<br>
<br>
Occasionally we have Academy graduates who don’t launch
a business. Others launch a business but then give up when
they meet their first obstacle. More than any other single
issue, the main cause of these failures is lack of belief.
The second is not keeping principles upon which business
success is predicated.
<br>
As an alumni chapter leader, you can create a greenhouse
environment where all your members can develop their
belief, plant their seeds, nourish their plants, and harvest
the fruit of self-reliance and prosperity.
<br>
<br>
My Action Items:
</p>
    <ul>
<li>Identify ways to help your chapter members believe
that they can become self-reliant and prosperous.
</li>
<li>Think of some personal examples of belief that you
could share with your chapter.</li>
    </ul>
    
<p>Spiritual Application:
<br>
“Too often we approach the gospel [or our business]
like a farmer who places a seed in the ground in the
morning and expects corn on the cob by the afternoon.
When Alma compared the word of God to a seed, he
explained that the seed grows into a fruit-bearing tree
gradually, as a result of our ‘faith, and [our] diligence,
and patience, and long-suffering’ (Alma 32:43).”<br>

— Dieter F. Uchtdorf
<br><br>
Additional Insights:<br>
“Keep your dreams alive. Understand that to achieve
anything requires faith and belief in yourself, vision,
hard work, determination, and dedication. Remember,
all things are possible for those who believe.”<br>
—Gail Devers


</p>
</div>
</div>