<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: Objective</h1>
<hr>

<p>
With the guidance of our Heavenly Father, Chapter members help each other understand and apply the correct business principles to their own and their AGI's, which will enable everyone to achieve and increase their self-sufficiency.
<br>

"Zion must increase in beauty and holiness ... and you will be the same ... for better management of the affairs of your stewardships ... so that every man may improve his talent, that every man may gain other talents, yea, even a hundredfold ... looking each the welfare of his neighbor "(D & C 82: 14-19)
<br>
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>