<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 5: Advanced Business Courses and Seminars</h1>
<hr>


<p>
    This is a specialized business course that includes seminars, modules, and the course “Acer Your Business” that is directed at graduates of ACE’s traditional entrepreneurialism course, or the Church’s “How to Start and Grow My Business.” This course is for those who wish to increase their knowledge regarding specific topics on how to grow a business. 
<br>
“Acer Your Business” course
<br>
- It is a specialized course that covers the most important issues for sustainable business growth
<br>
- It lasts four days
<br>
- It is preferably aimed at entrepreneurs whose business has been around longer than one year and has expansion plans.
<br>
- It has an associated cost
<br>
Seminars
<br>
- They are specialized business courses lasting one day
<br>
- Covers one or two themes in-depth
<br>
- It is preferably aimed at entrepreneurs whose business has been around longer than one year and has expansion plans.
<br>
- It has an associated cost

<br>
Online Modules
<br>
They are online training tools available to Chapter members that span multiple topics. The tools range from video tutorials, downloadable formats, among others. Chapter members can access these materials from anywhere; there is no need to attend the Campus. They do not have an associated cost but are tools that are provided to Chapter members.
<br>
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>