<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 11: Incentive Program</h1>
<hr>
<p>The incentive program is designed to recognize the outstanding performance of the chapters in the fulfillment of their goals. Factors to consider are:
<br>
- Number of meetings of the Chapter in the year
<br>
- Attendance at meetings
<br>
- Search for prospects to take ACE courses 
<br>
- Operation of the SMG
<br>
- Visits to the classes of the course "How to Start and grow my business"
<br>
- Participation in the Academy Awards

<br>
<br>
Chapters that have achieved a good performance are recognized as follows:
<br>
- At the Annual Conference for Chapter Presidents held during the "Awards Academy" event, special recognition will be granted.
<br>
- In January of each year, the best chapters from last year will be published on the website of the Academy.
<br>
<br>

Proposed Awards:
<br>
1. Academy T-Shirt
<br> 
2. Academy Tiepin
<br>
3. Academy Button 
<br>
4. Physical recognition by the Academy
<br>
5. Add a publication on the website of the Academy
<br>
6. Cash prize for an activity with members of the Chapter in your area
<br>
7. Phone call with the Executives

<br>
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>