<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 6: Business Practices Internship</h1>
<hr>
<p>
    Chapter members who wish to be trained in a business that they plan to undertake can be given the opportunity to have an internship in the business. The "Experience Provider" is usually the business owner and will provide guidance and direction in the management and business administration. The Academy will cover a percentage of scholarship expenses carried out during the internship (up to 50%). In the event that the “Experience Provider” lives in the City of Mexico or other metropolitan area and the participant does not, the participant will stay on the campus of the ACE in order to provide lodging and meals for the duration of the practices.
The experience will be carried out during an approved time; the duration of the internship will be no longer than two.
<br>
The process is carried out as follows:
<br>
- Participant Selection Process
<br>
- Be a graduate student of the Academy or the new course of the Church "How to Start and grow my business"
<br>
- Live in a different city than the " Experience Provider"
<br>
- Be an active member in the Chapter.
<br>
- Have a job or business in the area of ​​interest so that it very likely to start or grow your business at the end of practices.
<br>
- Carry out the entire process of program enrollment
<br>
- Verify that the local market has growth potential
<br>
- The facilitator of the SMG will follow in the process of practices.
<br>
- The participant will send a daily report of learning.
<br>
<br>


Experience Provider Selection Process 
<br>
- Have a similar market Participant
<br>
- Be an alumnus of the ACE course or self-employment of CASE
<br>
- Be willing to advise another alumnus of the ACE or the new course of the Church "How to Start and grow my business"
<br>
- Have sufficient experience to carry out the practice. The Experience Provider shall establish a schedule for practices
<br>
- The applicant will carry out the registration process
<br>
- The applicant indicates his/her field(s) of interest and the Academy will inform potential “Experience Providers”
<br>
- The Academy will contact the selected “Experience Provider” to coordinate practices
<br>
- The Experience Provider will provide a " Participant Itinerary" in which the activities are broken down so that the participant can do them during practices.
<br>
- The Academy will contact the participant within a period not exceeding two weeks (from sending your request) to notify the possible dates that would work.
<br>
- The Experience Provider will send "Conditions of Practice" to the Academy in which the conditions with which the provider agrees to receive the participant (this in case of possible theft or piracy of information, etc.) are outlined. 
<br>
- The participant will have to respond with the date of interest within 3 days, after which your application will be rejected and the participant will have to restart the process.
<br>
- Once a date has been agreed upon, the Academy will contact stakeholders (Experience Provider-Participant) to coordinate the arrival of the applicant.
<br>
- Each day the participant will need to send a report to the Academy to prove their attendance where they are carrying out the practices.
<br>
- The participant must have a bank account to which the money required for their practices (if necessary) will be deposited.
<br>
- The participant must provide receipts for expenses incurred during practices (in person).
<br>
- In the event that the practices are carried out in Mexico City, the Academy will provide food and lodging for the participant in its facilities and will only provide cash for transportation and one meal a day (as the rest of the inputs are provided by the Academy on campus).
<br>
- Two people may not carry out practices at the same time in the same business unless they are immediate family members or associates of the business.
<br>
- At the end of the practices, the participant will fill out the form "Business Practices Summary" and send it to the Academy.
<br>
- Business practices can only be done once per year per person and not be performed in the same business twice.
<br>
- In case of accidents during practices, the Academy disclaims all liability (Through the "Responsibility accidents" format). The Participant must fill out a Health form and a form where possible physical difficulties of participant are outlined.

<br>

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>