<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 12: Adopting the Culture of Success</h1>
<hr>
<p>When the Academy founders met their first group of
Filipino returned missionaries, they announced that class
would start each day at 7:45 a.m. Almost in unison, the
students asked, “Is that Filipino time or American time?”
“Neither,” answered the founders. “It is ‘culture of success’
time.”
<br>
As the Academy has progressed over the years, the phrase
“culture of success” has come to encompass the new
mindset that students develop by applying the Academy’s
“25 Rules of Thumb” and other principles. Now the LDS
Church’s self-reliance curriculum even mentions “culture
of success.”
<br>
But what does this phrase mean? “Culture” is our beliefs and
values, our sense of right and wrong, and, most importantly,
the way we do things. “Success” means more than just
money—it means creating stability in our lives, being selfreliant,
and providing the basics of life by our own initiative
and habits. Therefore, “culture of success” means knowing,
believing, and following the practices and principles that
lead us to be self-reliant and enjoy a prosperous, abundant
life.
<br>
Following the principles of the culture of success results
in happiness, joy, and healthiness. In contrast, the culture
of poverty is based on going with the flow, believing that
whatever happens is meant to be and nothing can be done
about it. Poverty is a life of being acted upon rather than
taking individual responsibility for one’s own progress.
<br>
The Culture of Success in Your Chapter
<br>
As chapter president, you have the opportunity not only to
live the culture of success but also to teach it to others and
provide an example of how it works. Following is a review
of characteristics that represent the culture of success and
will lead to self-reliance (see also the “25 Rules of Thumb”
at the end of this booklet):
<br>
1. Define your own destiny, based on the decisions you
make. In order to make good decisions, however, you
must have input from others. Seek coaches, success
partners and mentors who have learned through
experience. Don’t rely on false traditions or myths.
<br>
2. Strive for individual growth and progress. Progress
comes from making a plan and following it. Some
say they don’t want to plan—they claim it’s too much
work and won’t make any difference. It’s true that if
someone wants to remain in poverty, he or she needs
no plan.
<br>
3. Keep records of your business. Some people say,
“My business is too small for record keeping.” Those
who talk like that are probably right—their business
is too small and will remain that way.
<br>
4. Separate your personal money from your business 
money. This will allow you to develop personal and
family discipline. Is it easy? No. Is it worth it? Yes,
if you want to learn how to be successful and build a
business that can provide prosperity for your family.
<br>
5. Focus on only one business. It’s been said that the
hunter who chases two rabbits catches neither one. The
culture of success demands discipline, consistency,
diligence, and “long-suffering” (Alma 32:43).
Launching or running several small businesses at the
same time usually leads to multiple failures.
<br>
6. Respect time as your most valuable asset. This
is a basic practice and belief of successful people.
How you use your time is a great indicator of future
success. Don’t waste it! Also, be sure to respect others
by always being on time.
<br>
7. Identify your priorities, and pursue them with a
sense of urgency. When you create a daily to-do list
and plan out your priorities, you can make smarter,
more strategic choices about how to spend your time.
<br>
8. Keep your promises, no matter how difficult it may
be. Your integrity and trustworthiness are vital to
your success. If you ever have to break a promise, get
permission from the person to whom you made the
promise.
<br>
9. Set goals, write them down, and review them often.
As discussed earlier, make sure your goals are specific,
measurable, attainable, relevant, and time-bound.
<br>
10. Work to improve your family’s living circumstances
by providing clean water, medical necessities, and
educational opportunities. Work together to maintain
healthy habits and manage your resources wisely.
<br>
Latter-day Saints believe that whenever we desire a blessing
from God, we must keep the laws upon which that blessing
is predicated (see D&C 130:20–21). This is also known as
the law of the harvest—we reap what we sow.
<br>
The culture of success is based upon certain principles.
As you practice these principles, we promise that you will
become self-reliant. Instruct your chapter members about
the culture of success, and show them by example. You will
earn blessings of prosperity by embracing and living these
principles.
My Action Items:</p>
<ul>
<li>Define what “culture of success” means to you.
</li> 
<li>Identify which principles of the culture of success your
chapter members most need to develop.
</li>
</ul>
<p>
Spiritual Application:
<br>
“To achieve eternal goals, we must reconcile our earthly
culture with the doctrine of the everlasting gospel. This
process involves embracing all that is spiritually elevating
in our family and societal traditions and discarding that
which is a barrier to our eternal view and achievement.”
<br>
—Donald L. Hallstrom
<br>
<br>
Additional Insights:
<br>
“The key is taking responsibility and initiative, deciding
what your life is about and prioritizing your life around the
most important things.”
<br>
—Stephen Covey
<br>
</p>
   
</div>
</div>