<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 3: Creating Your Leadership Vision</h1>
<hr>



<p>Now let’s take a closer look at how you can create the
leadership vision for your alumni chapter. While this booklet
provides useful principles and guidance, each chapter
presidency needs to put together their own unique vision.
What you choose to emphasize in your chapter depends on
the specific needs of your members.
<br>
As your chapter presidency begins creating your chapter’s
vision, continually ask yourselves this key question: Where
do you want your chapter and your members to be in two
years, when you complete your service as chapter leaders?<br>
Your First Vision Planning Meeting<br>
As soon as possible, gather your vice presidents and
secretary/treasurer together for your first vision planning
meeting. You could hold your leadership meetings at a
church meetinghouse, in a local restaurant, or in someone’s
home. The church is likelier to be quieter, and classroom
boards come in handy for brainstorming ideas together.<br>
One main purpose of your first meeting will be to assess
what you already know about your chapter members and
what you still need to find out, such as the following:<br>
</p>
<ul>
<li>Have they already started their business? If so, what
kind of business is it? How successful is the business?
</li>
<li>If they have not yet started their own business, what
kind of businesses are they most interested in? What do
they see as their main obstacles to getting started?
</li>
<li>Which of the “25 Rules of Thumb” do they find most
challenging to follow?
</li>
<li>Where does each member live? Do they have the means
to attend monthly chapter meetings?
</li>
<li>Would certain members be good candidates for
mentoring other members who haven’t progressed as
far yet?</li>
</ul>

<p>During your first planning meeting, review what you know,
and make plans to find out what you don’t know. Each
leader should leave the meeting with specific assignments
to contact individual members and learn more about them,
as needed.<br>

Refine Your Leadership Vision<br>

As you learn more about your members, you can further
develop your vision. Your alumni chapter presidency should
meet together monthly; it might work best to meet right
before your main chapter meetings begin. During the first
few months of your presidency, focus on creating a vision
that meets the needs of your chapter members, making 
decisions such as the following:
<br>
</p>
<ul>
<li>How much will chapter meetings focus on those who
have already started businesses, and how much on those
who are still gearing up to do so?
</li>
<li>Do the business interests of members tend to cluster
into groups? If so, would it be helpful to break out some
chapter meetings by business type?
</li>
<li>What should your chapter meeting agendas look like
each month? What kinds of guest speakers will be most
helpful for your members?
</li>
<li>On an ongoing basis, how will your chapter reinforce
the fundamental principles taught in the “25 Rules of
Thumb,” the LDS Church’s Starting and Growing My
Business curriculum, and the Duty to Prosper booklet?
</li>
<li>Chapters can choose to emphasize different aspects, such
as networking, training, mentoring, tracking progress,
and socializing. Which of these modes do your chapter
members need most?
</li>
<li>One main goal of any alumni chapter is to help each
member make progress in becoming self-reliant. How
will your chapter promote and measure this goal?
</li>
</ul>

<p>
As you carefully develop your vision, be sure to record
everything that your presidency decides, including specific
goals, assignments, deadlines, and due dates for reporting
progress. Make these records available to the entire
presidency, and vote to confirm that you will all work
together to fulfill the vision.
<br>
In alumni chapters around the world, leadership visions
share some similarities, but ultimately each chapter’s vision
is unique. A carefully written vision plan with achievable
goals is really a blueprint of what you will accomplish.
The more specific your vision is, the more good you will
accomplish. 
<br>
My Action Items:
<br>
</p>
<ul>
<li>Describe the visions of other individuals and
organizations that you admire.
</li>
<li>Set the date and agenda for your first vision
planning meeting.
</li>
</ul>

<p>
  Spiritual Application: <br>
“As Moses was called to become a prophet of God,
he was taken to a mountaintop, where he beheld a
panoramic view of all of God’s wondrous creations.
Jehovah gave him a vision of his immediate goal,
which was to ‘deliver my people from bondage’
(Moses 1:26). The Lord then explained his long-term
goal: ‘This is my work and my glory—to bring to
pass the immortality and eternal life of man’ (Moses
1:39).” 
<br>
—Spencer J. Condie
<br>
<br>
Additional Insights:
<br>
“Leadership is the capacity to translate vision into
reality.”
<br>
—Warren Bennis
<br>
</p>
</div>
</div>