<div class="container">
    <div class="col-md-3">
<sidemenuchleadership>
</sidemenuchleadership>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 3: What is a Business Support Chapter of ACE?</h1>
<hr>



<p>It is a group of graduate students from the ACE and the course "How to Start and grow my business" that meets every month to help each other to achieve self-sufficiency through business. Belonging to this group is free.
<br>
Chapter members are at different stages: some have experience in business, others are starting your business and others are still looking for business opportunities. There are 60 chapters in Mexico and more are being created every year.
<br>
Note: Chapters are governed by the rules of the Church and the gospel of Jesus Christ and it is expected that all Chapter members live according to them.
<br>
Some of the Chapter benefits are:
<br>
Continuous Training (monthly trainings through videos, case studies, speakers, etc.)
<br>
Business practices (from 2016. It has an associated cost)
<br>
Advanced Business Course and Seminars (have an associated cost.)
<br>
Online Resources
<br>
Networking: Through the monthly meeting that is done, students can contact members of other chapters around Mexico with principles and interests similar to yours; with this you can share ideas, have a network of potential customers, suppliers, and mentors for your business.
<br>
Support and Monitoring Groups (SMG): Added to the monthly meeting, Chapter members meet in small groups to train, get feedback, etc.

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManual.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>