<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Legalities
            </h1>
            <hr>
        <p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills. Choose your Country from the options below to view specifics.</p> 
    </div>
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1>Mexico</h1>
               <a routerLink="/mexicolegalities" target="_blank"> <img src="../app/images/placeholder.png" style="height:280px;width:100%;">  </a>             
            </div>
            <div class="card">
                <h1>Peru</h1>
              <a routerLink="/perulegalities" target="_blank"> <img src="../app/images/placeholder.png" style="height:280px;width:100%;">  </a> 
                
            </div>
            <div class="card">
                <h1>Phillipines</h1>
                <a routerLink="/philegalities" target="_blank"> <img src="../app/images/placeholder.png" style="height:280px;width:100%;">  </a> 
                
            </div>
        </div>
    </div> 
</div>
