<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Mexico Legalidades
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Obtención una Licensia de Negocio</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.doingbusinessinmexico.com/articulos/articulo.php?articulo_id=98" target="_blank" class="btn-agenda">Primero</a></h4>
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.doingbusiness.org/data/exploreeconomies/mexico/starting-a-business/" target="_blank" class="btn-agenda"y>Segundo</a></h4>
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.doingbusiness.org/data/exploreeconomies/mexico/" target="_blank" class="btn-agenda">Tercero</a></h4>
                <h4 class="btn btn-primary btn-agenda-left"><a href="https://www.millercanfield.com/media/article/200140_Doing%20Business%20in%20Mexico.pdf" target="_blank" class="btn-agenda">Cuarto</a></h4>
                
            </div>
            <div class="card">
                <h1 class="agenda-title">Leyes de Negocios</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.doingbusiness.org/data/exploreeconomies/mexico-city/starting-a-business" target="_blank" class="btn-agenda">Primero</a></h4>
            </div>
            
        </div>
    </div> 
</div>

