
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="/dutytoprosperlesson1Spanish">LECCIÓN 1</a></li>
                    <li><a routerLink="/dutytoprosperlesson2Spanish">LECCIÓN 2</a></li>
                    <li><a routerLink="/dutytoprosperlesson3Spanish">LECCIÓN 3</a></li>
                    <li><a routerLink="/dutytoprosperlesson4Spanish">LECCIÓN 4</a></li>
                    <li><a routerLink="/dutytoprosperlesson5Spanish">LECCIÓN 5</a></li>
                    <li><a routerLink="/dutytoprosperlesson6Spanish">LECCIÓN 6</a></li>
                    <li><a routerLink="/dutytoprosperlesson7Spanish">LECCIÓN 7</a></li>
                    <li><a routerLink="/dutytoprosperlesson8Spanish">LECCIÓN 8</a></li>
                    <li><a routerLink="/dutytoprosperlesson9Spanish">LECCIÓN 9</a></li>
                    <li><a routerLink="/dutytoprosperlesson10Spanish">LECCIÓN 10</a></li>
                    <li><a routerLink="/dutytoprosperlesson11Spanish">LECCIÓN 11</a></li>
                    <li><a routerLink="/dutytoprosperlesson12Spanish">LECCIÓN 12</a></li>
                </ul>
            </nav>
</div>