
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="/dutytoprosperlesson1English">Lesson 1</a></li>
                    <li><a routerLink="/dutytoprosperlesson2English">Lesson 2</a></li>
                    <li><a routerLink="/dutytoprosperlesson3English">Lesson 3</a></li>
                    <li><a routerLink="/dutytoprosperlesson4English">Lesson 4</a></li>
                    <li><a routerLink="/dutytoprosperlesson5English">Lesson 5</a></li>
                    <li><a routerLink="/dutytoprosperlesson6English">Lesson 6</a></li>
                    <li><a routerLink="/dutytoprosperlesson7English">Lesson 7</a></li>
                    <li><a routerLink="/dutytoprosperlesson8English">Lesson 8</a></li>
                    <li><a routerLink="/dutytoprosperlesson9English">Lesson 9</a></li>
                    <li><a routerLink="/dutytoprosperlesson10English">Lesson 10</a></li>
                    <li><a routerLink="/dutytoprosperlesson11English">Lesson 11</a></li>
                    <li><a routerLink="/dutytoprosperlesson12English">Lesson 12</a></li>
                </ul>
            </nav>
</div>