<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 1: Vende lo que el Mercado Comprará</h1>
<hr>
<p>
    Desde su niñez. Andy ha disfrutado hacer empanadas. De hecho él ama el preparar y comer empanadas tanto que cuando era joven decidió hacer empanadas a lo grande y venderlas a los estudiantes de una escuela cercana. Andy estaba seguro que a los estudiantes les encantarían y las comprarían con regularidad. Su primer día preparo 50 empanadas: y entró en shock cuando al final del día se dio cuenta que solo había vendido 10 de estas. Al siguiente día, únicamente vendió ocho. Y al tercer día solamente cuatro.
<br>
<br>
Frustrado, camino hacia el vecindario observando las acciones de la gente que se encontraba en la calle. Se dio cuenta que un vendedor cercano  vendía pescado y bocadillos de calamar atrayendo así  a docenas de estudiantes. Vio a otro vendedor de decenas de bebidas de frutas y dulces. Y vio a un tercer proveedor con agua embotellada y sándwiches frescos.
<br>
<br>
Andy se dio cuenta que estaba vendiendo el producto equivocado- que estaba tratando de forzar sus propias preferencias en las personas que quería que fueran sus clientes. Preparo los mismos mariscos agregando una bebida de tapioca a su venta y su punto de venta lo situó en la puerta principal de salida de la escuela. Con un gran punto de venta y un mejorado producto para el cliente el negocio de Andy ha sido exitoso desde entonces.
<br>
<br>
El Principio –Vende lo que el Mercado comprara
<br>
El error de Andy es uno de los muchos errores que cometen la mayoría de los dueños de negocios-ellos producen y tratan de vender un producto del cual están animados pero no se molestan en buscar y conocer si otras personas están interesadas también. El resultado de este enfoque es generalmente un negocio con un corto tiempo de vida y muchísima frustración por parte del dueño. El remedio es muy sencillo: vende lo que el Mercado comprara-, o más específico aun, lo que la gente a tu alrededor compraría.
<br>
<br>
Antes de empezar usted necesita saber qué es lo que sus clientes potenciales estarán buscando. Sabrá las preferencias, gustos y necesidades de la gente haciendo un estudio de Mercado. Un tipo de estudio de Mercado es el  hablar con la gente en cuanto a sus hábitos de compra y sus impresiones de un producto determinado. Si usted tiene un producto específico que piensa que será exitoso, muéstreselo a la gente y pregúnteles si lo comprarían como producto básico. Si usted todavía no tiene una idea de lo que quiere vender hable con la gente para ver qué tipo de productos ellos comprarían pero no han podido llegar a ellos por no tener un lugar cercano donde encontrarlos.
<br>
<br>
Otro tipo de estudio de Mercado importante implica el observar un Supermercado y estudiar las tendencias de compra de la gente. El estudio cuidadoso de Mercado sobre un periodo de tiempo le indicara que tipo de productos o servicios han sido generalmente exitosos en el Mercado  lo que la demanda global es de esos productos o servicios, que tendencias han sido y siguen siendo populares entre los clientes en el mercado y que tendencias son de carácter cíclico, y pronto podría regresar a la popularidad.
<br>
<br>
Las tendencias (o modas) presentan una oportunidad única para los dueños de negocios. El éxito de los negocios de la restauración a la evolución depende de cuando la empresa entra en el Mercado. Por lo tanto si usted quiere involucrarse en un negocio que está enfocado en tendencias o modas, dese cuenta que las modas no duraran para siempre. Sea sensible de la importancia de saber cuándo entrar y cuando salir del Mercado de la moda. Si puede entrar en el Mercado de la moda a buen tiempo usted puede ser un líder en ella y recoger una gran cosecha, ya se sacando mucha ganancia antes de que expire la moda o vender el negocio antes de que  este desaparezca.
<br>
<br>
Además de estar atento a las nuevas tendencias y modas hay que prestar atención en lo general a las pautas sociales y económicas de su ciudad. Las culturas están en constante participación, cambian como las nuevas fuerzas e influencias y son introducidos en el sistema social. Porque casi cada miembro de una sociedad es afectado al cambiar la cultura, usted debe de estar consciente de como los cambios de la cultura pueden introducir nuevas oportunidades de negocio y crecimiento.
<br>
<br>
Un cambio cultural que está barriendo al mundo entero es el aumento del número de mujeres que ahora están trabajando y ganando dinero fuera del hogar. La afluencia de mujeres en la fuerza laboral ha llevado a cambios dramáticos en los productos y servicios que ofrecen las empresas. Los mercados están pidiendo más servicios y productos para la mujer (tales como servicios de belleza y prendas de vestuario profesional) y para las familias ocupadas (comida rápida o niñeras para los niños pequeños)
<br>
<br>
OBSTACULOS A SUPERAR
<br>
El tiempo es generalmente un obstáculo que se interpone entre los propietarios de negocios potenciales y su capacidad para entrar en nuevos mercados o lanzar nuevos productos al mercado. Los empresarios necesitan tiempo para investigación de mercados y productos. Ellos necesitan tiempo para desarrollar nuevos productos o abrir una nueva tienda. Necesitan tiempo para encontrar proveedores. Y necesitan tiempo para educar a los clientes adecuadamente y hacerles saber el porqué necesitar o desear un producto nuevo (especialmente si el empresario está a la vanguardia de la oferta de un producto nuevo)
<br>
<br>
El obstáculo del tiempo por lo general se puede superar si se aprende a trabajar muy duro en su negocio y se es paciente con el rigor y tiempo que consume el negocio.
<br>
<br>
BENEFICIOS AL APLICAR ESTE PRINCIPIO
<br>
En última instancia, un negocio que no puede vender lo que el mercado va a comprar no puede obtener un beneficio sobre una base regular y no estará abierto por mucho tiempo. El opuesto es cierto para las empresas que identifican correctamente las necesidades del mercado y ofrecer los productos o servicios de una manera eficiente 
<br>
<br>
El grado de éxito que su negocio logre depende de lo bien que siga los demás principios del éxito empresarial. Pero se puede dar el primer paso en el camino hacia el éxito al comprometerse a descubrir las necesidades del mercado y luego a vender a un precio accesible para los clientes y redituable para su negocio.

</p>

</div>
</div>