<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 11: COMPRA AL MAYOREO</h1>
<hr>
<p> 
  Cuando la tienda de salchichas de Raúl abrió sus puertas en su pequeño vecindario, batallo un poco para poder fijar correctamente el precio de sus productos. Tenía además de todo diferentes contratos de compra con varios proveedores, pero los proveedores le estaban cobrando demasiado alto por la carne que compraba y por los preservadores que utilizaba para que la carne no se echara a perder y por el empacado de la misma.  Aunque los precios de Raúl no eran los más barato en la zona, el brindaba un excelente servicio al cliente por lo que sus clientes seguían regresando constantemente.
<br>
<br>
Después de estar en el negocio durante unos ocho meses, Raúl decidió que ya no estaría dispuesto a 
pagar precios tan altos por sus materias primas. Contrató a un empleado para atender la tienda por un par de horas cada día mientras que Raúl salía a buscar proveedores que le pudieran dar un precio más bajo por las cosas que  necesitaba.
<br>
<br>
 Mientras hablaba con varios proveedores de carne, Raúl había identificado una tendencia interesante. Muchos le dijeron que si compraba más de 80 kg de carne a la vez (a lo contrario de los 35 kg que compraba normalmente cada día), se le pondría vender la carne con un descuento significativo, casi un 25 por ciento menos de lo que estaba pagando por la carne. Raúl estaba entusiasmado por el precio que iba a obtener, pero algo que le preocupaba era el no poder vender la totalidad de la carne antes de que esta se echara a perder. Pero luego recordó que su amigo, que también vendía productos que se tenían que conservar en refrigeración se había mudado a otra zona y había dejado su refrigerador. Raúl se dio cuenta que si pedía prestado el refrigerador podría almacenar la carne y así no tener que utilizarla de inmediato, aunque tendría que pagar un poco más en los gastos de luz, todavía podría ahorrar de manera significativa-y pasa esos ahorros a sus clientes.
<br>
<br>
Raúl ha tenido diferentes tipos de acuerdos para comprar sus suministros al mayoreo y de esta manera ha quedado muy satisfecho con la forma en que la decisión está afectando a su negocio. Ahora puede comprar su carne a un muchísimo mejor precio, su margen de ganancias ha mejorado, y es capaz de pasar algunos de sus ahorros a sus clientes fieles. Sus precios bajos están atrayendo a nuevos clientes también. De hecho, la compra al mayoreo resultó ser una cosa muy buena para Raúl. 
<br>
<br>
El principio-Compre al mayoreo 
<br>
Todas las empresas que venden productos (en contraposición a los que venden servicios) tienen una cosa en común: tienen que poseer los artículos antes de poder venderlos. Las empresas pueden adquirir sus artículos con la intención de revenderlos, o pueden hacerlos ellos mismos mediante el uso de materias primas, las cuales de la misma manera deben de ser compradas antes. De cualquier modo  las empresas tienen que adquirir productos con el fin de hacer dinero. Los inventarios no sólo aparecen de la nada. Un licuado de frutas no se pude vender sin antes tener una mezcla de cada fruta; las tiendas de ropa no pueden vender camisas a menos que ya se haya comprado la camisa de un mayorista o el material de un fabricante de telas y convertir el material en las camisas de moda. 
<br>
<br>
Generalmente, usted puede reducir costos y aumentar sus ganancias mediante la compra de loa artículos de más necesidad al mayoreo y no en cantidades pequeñas como regularmente está acostumbrado. Los proveedores quieren vender sus productos tanto como los minoristas lo hacen, así que los proveedores suelen estar dispuestos a ofrecer descuentos a los los minoristas que compran sus suministros al mayoreo. En un acuerdo de compra al mayoreo, el proveedor se beneficia al vender más producto en un corto período de tiempo, y el comprador se beneficia al pagar un menor precio por unidad.
<br>
<br>
Obstáculos a Superar 
<br>
Comprar al mayoreo no es una oportunidad sin riesgo para los vendedores. De hecho, muchos peligros que pueden estar asociados con la compra al mayoreo.
<br>
<br>
 Productos perecederos 
<br>
En la historia al principio de este capítulo, Raúl estaba preocupado al comprar 80 kilos de carne en lugar de sólo 35 (que él sabía que podía vender en un solo día), el extra de 45 kg se echarían a perder, dejando la carne inutilizable (aunque menos caro).La situación de Raúl es la misma copia de la cara de muchos propietarios de negocio (especialmente los propietarios de tiendas relacionadas con los alimentos) cuando se deciden a comprar al mayoreo. Usted puede hacer frente a este obstáculo al no comprar más de lo que puede usar en un corto periodo de tiempo (antes de que se eche a perder) o de manera segura por mucho tiempo. 
<br>
<br>
Paquetes de productos 
<br>
A veces, los proveedores le permitirán adquirir un elemento deseado al mayoreo solo si usted está de acuerdo en comprar un paquete de productos que son difíciles de vender para ellos. Ellos hacen esto para que no se tengan que quedar con lento producto de inventario. 
Si un proveedor está requiriéndole el comprar paquetes de productos en orden para obtener un descuento mayor, debe evaluar cuidadosamente si en realidad puede vender los productos que no son muy atractivos. Si usted piensa que los puede vender, comprar sólo un paquete y trate de venderlos todos. Si usted se da cuenta que no puede vender los productos menos deseados con la suficiente rapidez, no compre el paquete de nuevo, a menos que los ahorros que recibe al comprar los productos de rápido movimiento sean lo suficientemente grandes como para justificar la compra combinada. 
<br>
<br>
Grandes costos iniciales 
<br>
Uno de los mayores obstáculos a superar cuando se trata de la compra al mayoreo es el de flujo de dinero en efectivo. El carácter de la compra al mayoreo es que se obtiene una mayor cantidad de productos (a un precio más barato por la unidad), pero también tienes que pagar una cantidad mayor de dinero, normalmente en el momento de la compra. Si está acostumbrado a comprar pequeñas cantidades de productos y revenderlos rápidamente entonces al ir con un buen de dinero para comprar un lote de mercancía por adelantado podría representar un gran desafío para usted.
Usted puede lidiar con este problema al encontrar a otros minoristas que venden el mismo producto y que estarían interesados en comprar al mayoreo con usted. Si el costo inicial de una gran cantidad de productos es de 2.000 pesos, y usted puede encontrar a otras cuatro personas que se unan a usted en la compra de esos productos, entonces cada uno solo pagaría 400 pesos y aún puede obtener el mayor precio de descuento, sin tener que pagar el importe total por su cuenta.
<br>
<br>
 Inventario de Capital = No disponible 
<br>
Cada vez que usted compra una pieza de inventario, cambia su capital para ese producto, y obviamente usted espera poder vender ese producto de la manera más rápida para poder convertirlo en dinero en efectivo. Cuando usted compra al mayoreo invierte una gran cantidad de su capital en el inventario que puede o no puede vender rápidamente. Si necesita de ese capital para otros fines en su negocio, usted sería tonto al mantener todo el inventario para la compra al mayoreo. Sin embargo, si usted decide que comprar en grandes cantidades es apropiado para su negocio nunca utilice todo su capital en la compra de productos al mayoreo. Controle su dinero las necesidades de dinero en efectivo para poder disponer del cuando se necesite.
<br>
<br>
Tenga cuidado con las modas / Tendencias / Estilos 
<br>
Los mercados minoristas de todo el mundo operan en un entorno en el que los deseos de los clientes para algunos productos cambian con bastante frecuencia y rapidez. Algunos artículos (por ejemplo, pan, leche, camisetas, pantalones de mezclilla) son una parte relativamente estable del estilo de vida de muchas personas. Sin embargo, otros elementos (por ejemplo, camisetas teñidas, yogurt bebible, productos de carne frita) son menos estables y más sujetos a tendencias / modas pasajeras. Estos productos pueden ser muy populares por unos meses y luego dejar totalmente del escenario de compra.
<br>
<br>
 Cuando se compra al mayoreo, tenga cuidado de no invertir demasiado en los productos que son parte de un paso de moda o fiebre. Si usted compra una gran cantidad de un artículo que esta ala moda y luego cambia de tendencia, puede que nunca termine de vender lo que está en su almacén. Así que, en cambio, concéntrese en comprar al mayoreo aquellos productos que son estables y que la gente necesita, independientemente de lo que las modas o estilos actuales digan. Al elegir cuidadosamente sus comparas al mayoreo se salva a los inadvertidos cambios y deseos del público.
<br>
<br>
 
Beneficios al aplicar el principio 
<br>
Debido a que todos los productos que son vendidos en negocios necesitan ser inventariados. Muchas empresas salen beneficiadas al comprar al mayoreo. Dos de los principales beneficios son descuentos por volumen y la eliminación de un intermediario.
Descuentos al mayoreo = mejor precio 
<br>
<br>
El comprar en grandes cantidades suele ser la mejor manera de obtener un precio más bajo en los artículos que compra. Los proveedores a menudo estarán dispuestos a venderle a un precio reducido por unidad si requiere comprar una gran cantidad de productos en una sola vez. El proveedor se beneficia de este acuerdo, porque ya no tiene que almacenar la gran cantidad de mercancía, usted (el comprador) se beneficia, ya que consigue un buen trato con los artículos que necesita. Los descuentos en las compras al mayoreo pueden aumentar considerablemente las ganancias de su negocio. 
<br>
<br>
Eliminar al intermediario  
<br>
Compras al por mayor también puede simplificar la cadena de suministro-que es el proceso por el cual las empresas obtienen todos sus suministros y los inventarios. Muchas veces, los minoristas obtienen sus inventarios a través de un intermediario, que es alguien que compra a los mayoristas y distribuye a los pequeños negocios. El minorista normalmente paga un impuesto a los intermediarios por sus servicios. Pero si usted planea cuidadosamente, puede comprar al mayoreo directamente desde el mayorista y evitar a los intermediarios. Al hacer esto usted terminara gastando menos dinero por articulo  y no tendrá que pagar los impuestos a los intermediarios.

  </p>

</div>
</div>