<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 5: Mantenga buenos REGISTROS</h1>
<hr>
<p>Cuando Herbert abrió su primera tienda DreamBurger, él tenía grandes esperanzas en lo que podía lograr. Su objetivo era llenar su menú con diferentes tipos de hamburguesas que cada cliente podría ser capaz de encontrar la hamburguesa perfecta para satisfacer su hambre. La apertura de su primer puesto de hamburguesas cerca de un hospital con alto tránsito peatonal, Herbert fue capaz de vender la totalidad de sus hamburguesas en el primer día. Él estaba encantado. 
<br>
<br>
<br>
<br>
Pero, al final de su primer día de operaciones, Herbert estaba tan cansado que se olvidó de registrar todo tipo de información importante: no hizo ningún registro de su inventario inicial (el número de pan o carne para hamburguesa con que inicio de carne) o de su capital inicial (el dinero que puso en el negocio). Ni siquiera registro el total de ventas de ese día. Se olvidó de llevar registros en el segundo día . . . en el tercer día . . . e incluso durante toda la primer semana. Rápidamente cayó en el hábito de no mantener registros-un hábito que se conoce como problemas para el negocio. Después de un mes completo en el negocio, Herbert se dio cuenta que había comprado y vendido bastantes hamburguesas pero no sabía dónde estaban sus ganancia y que había pasado con su dinero. Ni siquiera podía saber si sus operaciones del mes le habían traído ganancias, tampoco  sabía cuántos suministros necesitaba cada semana, y no tenía idea de cuánto inventario debía de mantener en una base diaria
<br>
<br>
Herbert finalmente se comprometió a mantener un buen registro de todas sus transacciones comerciales. Empezó por contar los productos que tenía en la mano. Después, él comenzó a registrar cuántas hamburguesas vendió cada día, y comparo sus registros con el dinero que había en la caja registradora. Ahora sabía exactamente cuánto inventario se debe tener a la mano, cuántos ingresos generaba diariamente, y cuánto gastaba cada semana. El hábito de mantener registros había transformado su negocio. DreamBurger ha crecido de forma constante. Herbert ahora tiene cinco DreamBurger operando en tres partes de la ciudad. 
<br>
<br>

El principio-Mantenga buenos registros
<br>
 Aunque muchas personas no les gusta mantener registros, aquellos los que aplican este principio en su vida cotidiana y en sus empresas descubren rápidamente que el mantener registros puede ser muy gratificante y una actividad muy útil. Esto es así porque el mantener registros no es un fin en sí mismo, es un medio para un fin. Y ese "fin" es mejorar el funcionamiento y la rentabilidad de una empresa.
<br>
<br>
 Los buenos registros pueden ayudar a entender lo que está ocurriendo en su negocio, no sólo hoy o 
esta semana, pero en pocas semanas o incluso años. Los registros proporcionan respuestas a las preguntas que cada auditor de negocios, incluido usted, tiene que saber: 
<br>
</p>
<ul>
<li>¿Cuál de mis productos son más populares? ¿Cuáles no se están vendiendo muy bien? 
</li>
<li>¿Qué gastos están asociados con los productos que vendo? 
</li>
<li>¿A qué horas del día están más ocupados? 
</li>
<li>¿He ganado más dinero este mes que el mes pasado? ¿Es este incremento un tipo de crecimiento inusual o se debe a la temporada?
</li>
</ul>
<p>
 Si desea que su negocio crezca y prospere, debe mantener los registros, incluso si los registros son 
muy sencillos al principio. Un primer registro de la microempresa podría ser basado en los siguientes elementos: 
</p>
<ul>
<li>¿Cuánto se pagó por cada producto comprado al proveedor?
</li>
<li>¿Cuánto de cada artículo fue vendido cada día?
</li>
<li>¿Qué ingreso se ha generado de esas ventas?
</li>
<li>Todas las entradas y salidas de dinero 
</li>
<li>El costo de agregar valor a (o mejorar) las materias primas 
</li>
</ul>
<p>
Para empezar con cosas pequeñas, utilice estos elementos de registro diario durante dos semanas. Al final de cada día, analice sus registros. Descubra cual fue el articulo más vendido en ese día y que ganancias conllevan, y que artículos se venden juntos. Si usted mantiene un registro cuidadoso y lo analiza diariamente, para el término de dos semanas tendrá suficiente información detallada para tomar grandes decisiones, que harán que sus ganancias aumenten y ejecutar un buen y mejor negocio. Y tener un mejor negocio terminara en más dinero para usted y de esta manera tomar un mejor salario.
<br>
<br>
Obstáculos a Superar 
<br>
Microempresarios, generalmente, dan dos razones principales para no llevar registros: 
<br>
1. "Mi negocio es tan pequeño que se exactamente lo que ocurre diariamente”. 
<br>
2. "Estoy demasiado ocupada para mantener los registros". 
<br>
<br>
Sé lo que está pasando en el negocio…
<br>
<br>
Cuando su empresa es pequeña, se podría pensar que saben todo lo que sucede en ella. Esto suposición es falsa, incluso si fuera cierto, el hecho de que usted sabe lo que está sucediendo dentro de la empresa no significa que usted no debe llevar registros. Los seres humanos son naturalmente olvidadizos. Por ejemplo, aunque usted pueda ser capaz de recordar lo que comió en el almuerzo de hoy, probablemente no podrá recordar lo que comió en el almuerzo el martes pasado. Y la probabilidad de que usted puede recordar lo que comió en el almuerzo todos los días el mes pasado es aún menor. El mismo principio es válido en las operaciones de negocio y mantenimiento de registros. El grado en que mantenga un buen registro y lo analice con frecuencia pone de manifiesto su dedicación para desarrollar un verdadero negocio que puede proporcionar dinero para aumentar su familia.
<br>
<br>
 Oculto en esta respuesta de saber todo lo que sucede en el negocio es una falsa suposición que puede crear una plaga dañina en los microempresarios: asumir que porque el negocio es pequeño ahora y así será siempre. Esta no es la visión que debe tener para su negocio. Debe querer que su negocio crezca. Y usted debe tomar las medidas adecuadas para que pueda hacerlo. Uno de esos involucra el llevar registros. Al hacer este pequeño cambio, usted se embarcará en un camino de cambios y de hacer las cosas de una manera diferente lo cual permitirá el crecimiento para su negocio.
<br>
<br>
Un popular y muy cierto dicho dice: "Si siempre haces lo que siempre has hecho, siempre tendrás lo que siempre has tenido". Así que, si continúa" sin mantener registros, "usted probablemente siga "siendo pequeño." Para obtener resultados diferentes, debe de empezar a hacer cosas diferentes.
Estoy muy ocupado para llevar registros 
<br>
<br>
Empezar un nuevo negocio y ser propietario de un negocio es difícil. El horario es muy exigente, la presión para tener éxito es grande, y las nuevas experiencias pueden ser emocionales y físicas. La palabra "ocupado" es un descriptor perfecto de un nuevo dueño de un negocio. Pero una de las realidades fundamentales de la vida es que nos tomamos el tiempo para hacer las cosas que son más importantes. Y si su negocio es la fuente de ingresos y de sustento para su familia es importante que usted haga el tipo de cosas que le ayudara a tener éxito y crecer, y llevar registros es una de esas cosas.
<br>
<br>
Si usted todavía cree que está demasiado ocupado para mantener registro, tenga en cuenta que el mantenimiento de registros no tiene que llevar mucho tiempo. De hecho, la manera más coherente de mantener registros y el mejor su sistema de registro es, el tomar menos tiempo en el registro de los datos vitales. La práctica hace la perfección, incluso en tareas como el mantenimiento de registros. Si su sistema de registros es simple, y si usted está acostumbrado a trabajar con ese sistema, la actualización de los registros después de cada transacción le llevará tan sólo unos segundos a la vez. La auto-disciplina de la continua tomar de esos pocos segundos dará sus frutos con el tiempo. 
<br>
<br>
Beneficios de aplicar el principio 
<br>
Quizás la razón más importante para mantener un registro preciso es que los registros le permiten analizar el rendimiento que el negocio ha tenido y hacer los cambios necesarios para mejorar su rendimiento. En un libro popular titulado El juego del trabajo, Chuck Coonradt, escribió: "Si no se puede medir, usted no puede manejarlo. "Este consejo se aplica tan bien a la Ley de llevar registros. En primer lugar, si usted no mantiene registros precisos, no se puede medir el progreso de su negocio. En segundo lugar, si usted es no puede medir el progreso, no lo podrá administrar bien. Y en tercer lugar, si usted no puede manejar su negocio correctamente, nunca será capaz de proveer más de las necesidades básicas de su familia. 
<br>
<br>
El mantenimiento de registros también ayuda a la contratación de empleados. Al implicar a otras personas en el manejo de su negocio, usted debe tener sistemas para mantener honestidad entre la gente. Por ejemplo, usted necesitará un sistema de control de inventario y un reporte de balanceo entre las cuentas de inventario y las ventas reportadas. Algunos empleados se ven tentados a comer del inventario o robar dinero. Tener un buen registro es una de las mejores maneras de prevenir esta práctica deshonesta tan común. 
<br>
<br>
Un buen mantenimiento de registros le permitirá observar las importantes, pero sutiles cosas que pueden tener un efecto dramático en su negocio al paso del tiempo. Al iniciar el mantenimiento de registros, se dará cuenta de los hábitos de compra de los clientes. Encontrará lo que les gusta y lo que necesitan. Con ese conocimiento tan valioso, usted puede comenzar a hacer pequeños cambios en su negocio que le producirá más ventas y mayores ganancias.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>