<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 13: AUMENTE LAS VENTAS, REDUZCA COSTOS</h1>
<hr>
<p> 
 June ha manejado la farmacia de su tío por unos meses. Cuando se hizo cargo de la administración de la farmacia, lo primero que hizo fue evaluar el desempeño de esta y cuanta ganancia había estado generando mensualmente. Después de haberla evaluado por 6 meses y de mirar los estados financieros, se dio cuenta que los gastos de la tienda eran demasiado altos y además que más de la mitad de los ingresos mensuales estaban destinados a pagar el alquiler.
<br>
<br>
June, inmediatamente habló con su tío sobre la reubicación de la farmacia a un lugar menos costoso. Después de mucha discusión sobre el asunto, el tío de June le asignó a buscar por una nueva ubicación que no estuviera muy lejos del sitio original (ya que no quería que sus clientes tuvieran que salir de su recorrido habitual para visitar la nueva tienda). Una semana más tarde, June encontró una nueva ubicación que se encontraba a solo dos cuadras de la farmacia, la cual estaba en la esquina de una calle que conducía a la entrada de un hospital y una zona de tiendas, y cuyo alquiler era de casi el 20 por ciento más bajos del de su renta actual. El tío estaba satisfecho con la información que June le había proveído y rápidamente acepto el cambiar la farmacia para allá.
<br>
<br>
 Después de tres meses de funcionamiento en la nueva ubicación, las ventas de la tienda habían aumentado en un promedio del 30 por ciento, y June había sido capaz de reducir no sólo en los gastos de alquiler, pero también en otros gastos innecesarios. 
<br>
<br>
El principio de aumentar las ventas; reducir costos 
<br>
Las ganancias de una empresa se ven afectados por dos elementos: los ingresos (ventas) y los gastos (costos). La expresión formal de ganancias es el siguiente: 
<br>
Ganancias = ingresos - gastos 
<br>
<br>
Puede generar más ganancias, ya sea aumentando los ingresos o disminuyendo los costos o por 
haciendo ambas cosas. El pensamiento común (tanto en los negocios como en la vida) es que se deben disminuir  los gastos para poder obtener ingresos. Sin embargo, lo contrario podría ser una fórmula para una vida más plena y flexible: se debe trabajar para obtener los ingresos que necesita para cubrir el costo de lo que realmente quiere o necesita en la vida. Con esa perspectiva en mente, usted puede ver cómo los costos son importantes, pero incrementar las ventas debería ser el principal objetivo de los propietarios de negocios. 
<br>
<br>
Aumento de ventas 
<br>
Con el fin de aumentar sus ventas, usted debe (1) vender a más clientes o (2) vender más a los clientes que ya tiene. Para atraer a nuevos clientes, usted puede encontrar una mejor ubicación, diferenciar su negocio con más cuidado, elegir los productos que son históricamente más populares entre los clientes que los que actualmente llevan, o una publicidad más efectiva. Para vender más a los clientes que ya tiene, aplique los principios de la venta sugestiva (véase la información sobre la venta sugestiva en el capítulo 12). 
<br>
<br>
Reducción de costos 
<br>
Antes de que pueda disminuir sus costos, es necesario comprender plenamente esos costos. Revise sus registros, tome nota de los gastos que son innecesarios o que usted piensa que son más grandes de lo que deben ser. Una vez que haya identificado las áreas problemáticas de gastos, trabaje para reducir un problema a la vez. Muchos de los problemas de costos pueden ser resueltos mediante la aplicación de principios como el uso de múltiples proveedores, la evaluación de las necesidades de personal y la contratación de empleados sólo cuando realmente son necesarios, y servicios contratados de negociación.
<br>
<br>
Obstáculos a Superar
<br>
Sin capital para poner en un negocio, el negocio no puede crecer y probablemente en última instancia,
falle. Por lo tanto aumentar las ventas y reducir los costes es especialmente importante en las primeras etapas del ciclo económico.
A medida que tratan de aumentar las ventas y disminuir los costos, evite el error de aumentar los costos antes de que usted pueda realmente permitirse el lujo de hacerlo. Buscar el éxito no es lo mismo que ser exitoso. Muchos propietarios de negocios piensan que si compran una moto o en coche, van a parecer exitosos y por lo tanto llegaran a ser exitosos. Pero eso rara vez sucede, en cambio, al comprar símbolos que un no pueden pagar por ellos los empresarios adquieren una deuda a largo plazo.
<br>
<br>
Beneficios al aplicar el principio
<br>
Al aumentar las ventas y disminuir los costos, usted puede afectar positivamente sus resultados, es decir, puede mejorar sus ganancias y prepararse para tener éxito durante mucho tiempo. Las ganancias pueden ser una cosa mágica para las empresas: las ganancias (cuando se utiliza con prudencia) generan más ganancias. Con ganancias considerables, se puede reinvertir en el negocio y preparar el negocio para un éxito continuo. 

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>