<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 24: TENGA METAS DIARIAS Y SEMANALES</h1>
<hr>
<p> 
  Enrique, un pescador calificado, era un inteligente y motivado joven. Después de aprender acerca de cómo crear empresas con éxito, decidió iniciar un negocio de venta de pescado en su ciudad natal. Al principio, Enrique llevaba el pescado cargado sobre los hombros mientras caminaba de casa en casa. Su objetivo era simple: quería vender todo su pescado en el momento antes de que el sol se ocultara y el pueblo empezaba a preparar su cena. Con este objetivo en mente, Enrique trabajo muy duro. Y cada día, se le acababa el pescado antes de que se le acabara la luz del día. Su negocio iba muy bien. 
  <br>
  <br>
Reconociendo que si cubría un área más grande, probablemente podría vender más, Enrique compró una bicicleta con una pequeña cesta y empezó a ampliar sus rutas. De nuevo, él tuvo éxito en la venta de todos sus peces para el momento de la puesta de sol. Así, se puso una meta más grande. Quería ahorrar el suficiente dinero para comprar un camión pequeño que pudiera transportarle a él y a su pescado a otro barrio para vender cantidades adicionales de pescado. 
  <br>
  <br>
Este fue un noble objetivo. Enrique tuvo que trabajar muy duro en su barrio para ganar el suficiente 
dinero para mantener a su familia y también ahorrar para comprar la camioneta. Pero en lugar de desanimarse por la dificultad de su objetivo, Enrique se motivaba más. Se levantó temprano en la mañana para comprar el pescado y comenzar sus rutas. Había que pedalear más rápido para hacer su camino a los barrios en menos tiempo. Y trabajaría lo más tarde que pudiera con el fin de vender la totalidad de su pescado. Después de meses de este duro trabajo, Enrique ganó el dinero suficiente que le permitiría cambiar de plan. Él decidió que en lugar de comprar un pequeño camión y vender todo el pescado por sí mismo, crearía un sistema en el que iba a entregar el pescado a un propietario de negocio en cada uno de los barrios cercanos. Los dueños de negocios entonces venderían el pescado en el mercado local.
  <br>
  <br>
Así que ahora, todo lo que Enrique tenía que hacer era comprar el pescado temprano en la mañana, entregar el pescado a su contratistas en las zonas aledañas, y luego gastar su tiempo en monitorear el trabajo de los contratistas y trabajar en su negocio. Enrique dice que su éxito se debe al hecho de que tuvo que aprender a establecer metas, trabajar duro para cumplirlas, evaluar su progreso con regularidad, y moverse constantemente, pasando de un objetivo a otro.
  <br>
  <br>
El principio-Escriba metas diarias y semanales 
  <br>
La gente empieza a las empresas porque quieren lograr algo con ese negocio. El resultado final o sueño es diferente para cada persona; algunos quieren ganar más dinero de lo que pueden ganar por trabajar para otra persona, algunos quieren mayor libertad en la forma en que utilizan sus días, y algunos otros sólo tienen un deseo innato por la independencia y la aventura. Pero todos tienen una cosa en común: todos tienen un sueño que los motiva para iniciar el negocio. 
  <br>
  <br>
Su decisión de crear un negocio es sólo el comienzo de la aventura empresarial. Una vez que se embarca en esa aventura, entonces deberá de hacer miles de pequeñas decisiones para ejecutar el negocio día a día y hacer el negocio con éxito. En medio de esas decisiones, usted podrá estar atrapado en los detalles. Es posible que se distraiga por el trabajo diario que requiere para mantener un negocio en marcha. Y a veces, puede estar tan centrado en las decisiones diarias que puede perder de vista el objetivo general, que es lograr que el negocio sea suficientemente exitoso como para ayudarse a cumplir el sueño que le motivó a hacer negocios en primer lugar.
  <br>
  <br>
Las metas empresariales pueden ayudarle a mantenerse en el camino hacia el éxito financiero. Sirven como recordatorios del sueño más grande y, si se utilizan adecuadamente, ayudan a orientar las decisiones y acciones cotidianas. Traen propósito y dirección a las decisiones más pequeñas.
  <br>
  <br>
El  proceso de fijar metas
  <br>
Los fijadores de metas hábiles sabe que el hecho de fijar una meta no garantiza el cumplimiento de ella o trae los resultados deseados para cumplirla. Una vez que se establece una meta, hay que revisarla con la suficiente frecuencia para que el deseo de lograr la meta se refuerce en la mente del fijador de metas. El progreso orientado hacia los objetivos debe medirse con frecuencia (incluso a diario, si es posible) de modo que la persona que se esté fijando las metas sepa cuánto trabajo le falta para cumplir la meta. Y las metas necesitan ser ajustadas conforme las circunstancias lo ameriten. A veces fijamos metas que son ya sean muy fáciles o difíciles de cumplir, esa clase de metas no nos ayudan a motivarnos y por lo tanto deben de ser ajustadas. 
  <br>
  <br>
Características de las buenas metas
  <br>
Metas eficaces comparten cinco características principales. Buenas metas son: 
  <br>
Específicas. Son detalladas para que sepa que es lo que se tiene que cumplir o lograr. 
  <br>
Medibles. Son concretas, y su progreso puede ser cuantificado de manera objetiva. 
  <br>
Alcanzables. Son desafiantes, pero razonablemente alcanzables dentro de los límites de la persona que se los fija. 
  <br>
Realista. Son prácticas y útiles. 
  <br>
De tiempo definido. Tienen un límite de tiempo determinado. 
  <br>
Las siguientes metas son ejemplos de metas efectivas: 
  <br>
</p>
<ul>
<li> Generaré un adicional de 500 pesos cada semana para que el 15 de abril pueda contratar un 
 empleado más. 
</li>
<li>Aumentaré un artículo más al mes a mi línea de productos hasta el final del año. 
</li>
<li>Promoveré mi negocio mejor hablando de él a cinco nuevas personas cada día (por ejemplo, 
desconocidos en el autobús o las personas que asisten a la iglesia conmigo). 
</li>
</ul>

<p> Estudios indican que las metas que están escritas tienen más probabilidades de lograrse que las que no lo están -como las que se registran sólo en la mente de la persona. Las personas que anotan sus metas son pocas. Pero estas personas normalmente logran y ganan más dinero que la mayoría de las que no escriben sus metas. ¿Por qué? Probablemente porque en realidad el proceso de escribir algo en un pedazo de papel nos ayuda a establecer metas más específicas, aumenta nuestra dedicación para alcanzarlas, y las coloca en nuestra memoria a largo plazo. Y quizás lo más importante, el acto de escribir una meta nos da un documento que podemos revisar frecuentemente a medida que monitoreamos nuestro progreso hacia la misma.
  <br>
  <br>
 Objetivos a corto y largo plazo 
  <br>
Como propietario de un negocio, usted debe tener metas a corto y largo plazo para dirigir su negocio rumbo al éxito. Las metas a corto plazo guían las acciones diarias del negocio y establecen patrones exitosos que ayudan al negocio en el largo plazo. Tales metas incluyen el aumentar el número de clientes atendidos diariamente, obtener un promedio de venta de 200 pesos, o convencer a los clientes a que artículos adicionales cada vez que entran en la tienda (es decir, incrementar una venta). Estas metas deben ser monitoreadas diaria y semanalmente para medir su progreso.
  <br>
  <br>
 Las metas a largo plazo pueden ayudar a ver cómo sus acciones diarias les llevan al éxito integral de la 
compañía. Las metas a largo plazo son más estratégicas en forma y no son logradas de manera diaria o semanal. Ejemplos de metas a largo plazo incluyen el aumento de las ventas totales a 10.000 pesos al mes, o adquirir una nueva línea de productos extras, cada cuatro meses.
  <br>
  <br>
Obstáculos a Superar 
  <br>
El establecimiento de metas no es un proceso natural para muchas personas. Todos tenemos sueños de una clase u otra, y  todos queremos alcanzar nuestros sueños. El establecimiento de metas es más que sonar, significa definir nuestros sueños de manera específica, medible, alcanzable, realística y con un tiempo determinado. Es desarrollar la disciplina de pensar frecuentemente o a menudo sobre las metas y trabajar sobre ellas. Es hacerse del hábito de establecer y alcanzar metas cada vez más grandes y difíciles. Por último, el establecer metas es obtener aprecio de cómo ellas nos pueden conducir hacia el éxito. Y cada una de estas actividades requiere trabajo.
  <br>
  <br>
Tal vez el mayor obstáculo a superar cuando se intenta establecer metas es solo ganar el valor y la disciplina para establecer la primera meta. No se preocupe por establecer la meta perfecta o alcanzarla de manera diaria (aunque usted debe definitivamente estar trabajando duro para lograrla). Sólo tiene que usar esa primera meta para ayudarse a comenzar el sentirse más cómodo con el proceso del establecimiento de metas. Usted se dará cuenta que una vez que ha puesto y logrado una meta, usted automáticamente se sentirá más determinado a establecer y lograr su segunda meta y entonces la tercera, y así sucesivamente. 
  <br>
  <br>
Beneficios al aplicar el principio 
  <br>
Los beneficios de establecer metas son tan variados como las metas mismas. Por ejemplo, el beneficio de establecer una meta para incrementar ganancias a 100 pesos diarios es que probablemente va a tener ese extra de 100 pesos al final del día. El beneficio de establecer una meta para mantener mejores registros es que son mayores las probabilidades de mantener un mejor registro y, por tanto, hacer su negocio más eficiente y eficaz.
  <br>
  <br>
El establecimiento de metas puede transformar su vida y su negocio si se utiliza con eficacia y disciplina. Si desarrolla el hábito de establecer metas diarias, semanales y a largo plazo para su negocio, usted obtendrá más satisfacción en las actividades del mismo, creará un negocio más exitoso rápidamente, y será mucho más probable alcanzar el sueño que originalmente le llevó a iniciar 
negocio.

</p>

</div>
</div>