<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 22: GENERE UNA GANANCIA TODOS LOS DÍAS </h1>
<hr>
<p> 
 El mes pasado, Domenic abrió una tienda de comestibles en la zona nueva de la ciudad. Cuando por primera vez abrió las puertas de su negocio, fue una de las únicas tres tiendas de alimentación, a poca distancia de la mayoría de los hogares, por lo que confiaba en que su negocio sería rentable con gran rapidez. 
<br>
<br>
Durante las primeras semanas, Domenic trabajo duro para ganar dinero suficiente para pagar los préstamos de su negocio y otros gastos, pero se encontró cayendo cada vez más y más en su pago diario de intereses. También descubrió que no tenía suficiente dinero como para comprar tantos productos como necesitaba cada día, por lo que su inventario se redujo.
<br>
<br>
Le pidió a un amigo que había establecido varias empresas exitosas que le ayudara a entender por qué su negocio, en el que tenía tantas esperanzas, estaba yendo tan mal. Noemí empezó por mirar los libros de Domenic y observar las transacciones de la tienda. Se dio cuenta de que, en casi cada día, Domenic estaba perdiendo dinero. Él estaba cobrando más por sus bienes que lo que estaba pagando por ellos, pero simplemente no estaba cobrando lo suficiente como para cubrir los costos de sus productos no relatados. Señaló que trabajó horas esporádicas y volvía a casa cada noche cada vez que sentía que había trabajado lo suficiente. Después de unos días de ver estos peligrosos patrones, Noemi le dijo a Domenic que había visto varias cosas que podía arreglar en su negocio y que todos los problemas se remontaban a un simple problema: el no obtener una ganancia todos los días.
<br>
<br>
El principio-Haga una ganancia todos los días 
<br>
La ganancia es definida como los ingresos de un negocio menos su costos durante un período determinado de tiempo. En términos de aplicación, la ganancia es el dinero que queda después de haber adquirido el producto, marcado y vendido, y haber pagado todos los gastos relacionados (incluyendo cosas como la electricidad, renta, nómina, y el salario del propietario). Debido a que su negocio no puede sobrevivir sin el capital, su más básico objetivo de negocio debe de ser el obtener una ganancia cada día.
<br>
<br>
Centrar la idea de obtener una ganancia cada día es el hecho de que una empresa debe vender algo en orden para tener la posibilidad de obtener una ganancia. Se podría pensar que si se toma el día libre, no han perdido nada de dinero. Pero esa suposición no es cierta. En cualquier momento usted decida cerrar la tienda y hacer algo además de atender el negocio, le cuesta algo, ya sea en términos de 
costos de oportunidad o de los costos fijos. 
<br>
<br>
El costo de oportunidad de un tiempo dado es todo lo que pudiste hacer con ese mismo tiempo, del mismo modo, el costo de oportunidad de cualquier uso del dinero son las cosas que usted pudo haber adquirido con ese dinero. Así que cuando usted decida pasar un día de compras o turismo en lugar de trabajar ya sea en o sobre su negocio, sus costos de oportunidad son las cosas que usted pudo haber hecho por su negocio en la misma cantidad de tiempo. Por ejemplo, podría incluir el dinero que pudo haber ganado, los contactos que podría haber establecido, y el valor del trabajo de planificación estratégica que se pudo haber hecho para hacer crecer el negocio.
<br>
<br>
Los costos fijos son realizados diariamente por la empresa, independientemente de cuánto se vende (o no se vende) en un día cualquiera. En otras palabras, usted incurre en costos fijos cada día sin importar si el negocio está abierto o cerrado. Algunos ejemplos de los costos fijos son el alquiler, los intereses por la deuda, y los impuestos de propiedad. 
<br>
<br>

Así que de nuevo, si usted elige no ir a trabajar en un día en el que realmente debiera estar trabajando, todavía "gasta" dinero en forma de costos fijos, pero no genera ningún ingreso para cubrir dichos  costos. Por lo tanto, la elección de no ir a trabajar resulta en una doble sanción: no gana dinero, y también pierde dinero debido a los costos fijos. 
<br>
<br>
Al pensar en maneras de generar una ganancia todos los días, tenga en cuenta que en algunos días, los negocios irán bien y podrá generar ganancias para el mediodía. Pero en otros días, el negocio estará lento, y para la hora  en que este acostumbrado ir a casa no lo podrá hacer hasta que haya ganado lo suficiente para cubrir sus gastos diarios. En días así, permanezca comprometido con su decisión de obtener una ganancia diaria. Dese cuenta de que no tiene que cerrar la tienda, a la misma hora todos los días. En los días lentos, podría ser mejor que se quedara abierto todo el tiempo y esperar a tener clientes a que lleguen. Una hora extra o dos podría hacer la diferencia entre obtener una ganancia ese día y volver a casa con una pérdida para el día. 
<br>
<br>
El establecimiento de precios en los productos es una parte crítica y fundamental en obtener una muy buena utilidad. Debe establecer una diferencia (o margen) entre lo que paga por un producto y lo que lo vende. Este margen debe ser lo suficientemente grande como para cubrir no sólo el costo de los bienes vendidos (COGS), sino también una parte de la los costos fijos empresariales. (Por ejemplo, si usted tiene un inventario de 100 artículos, y sus costos fijos dan un total de 500 pesos, el margen de cada artículo vendido debe cubrir el costo del artículo y un adicional marcado de 5 pesos para cubrir parte del producto de los costos fijos.) Sólo mediante el establecimiento de un margen suficientemente elevado puede realmente ganar dinero en la transacción global. Antes de establecer sus precios, debe tener un conocimiento profundo de todos los costos de modo que usted pueda establecer sus precios para cubrir los costos y dejar extra para utilidad. 
<br>
<br>
Obstáculos a Superar 
<br>
La mayoría de los obstáculos que se interponen en el camino de los dueños de negocios para obtener una ganancia cada día son los resultados de los hábitos pobres de los propietarios. Si no se realiza un beneficio cada día es a menudo por el establecimiento incorrecto de precios, pocas horas de trabajo o la incorrecta comercialización y venta de los productos. La superación de las habilidades pobres de fijación de precios por lo general se puede superar al mantener un buen registro y el estudio detallado de ellos. El no estar trabajando suficientes horas es un signo de bajo en vez de alto compromiso con el negocio y debe ser modificado por una mayor motivación por parte del propietario. Y la incorrecta comercialización o venta de productos requiere poco más de una lección en el uso de ventas sugestivas (véase 12 - Utilice Ventas Sugestivas).
<br>
<br>
Beneficios al aplicar el principio 
<br>
Como dueño de negocio, su objetivo debe ser obtener una utilidad bastante grande para sostener y hacer crecer el negocio y para sostener a su familia. En última instancia, si no son capaces de lograr una utilidad en una base diaria consistente, no permanecerá en el negocio por mucho tiempo. 
Pero al hacer pequeñas cosas que se suman a una utilidad diaria, usted puede asegurar la larga vida de su negocio y cumplir con sus metas financieras personales y profesionales. 

</p>

</div>
</div>