<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 21: PRACTIQUE EL KAIZEN </h1>
<hr>
<p> 
 El mercado de carnes abrió sus puertas de negocio en el año 2001 mediante la producción de dos tipos únicos de embutidos. Los primeros ocho meses de operación fueron bastante difíciles, debido principalmente al hecho de que muchos clientes no estaban acostumbrados a ese tipo de productos cárnicos. 
 
 La compañía se enfrentó con clientes críticos, un número abrumador de los productos devueltos, y las pérdidas muy sustanciales.
 <br>
 <br>
Estos retrocesos no eliminan las esperanzas de los socios de algún día dar con un buen producto. Salieron a la conquista de sus problemas. A través de la experimentación durante días, descubrieron lo que hace que no les guste a los clientes el producto, arreglaron los problemas, y luego comenzaron a la comercialización del producto mejorado. Su éxito casi instantáneo indico que habían por fin creado un producto que los clientes estaban buscando. Apenas seis meses después, el mercado de carnes tuvo un flujo considerable de fondos
Ahora, la compañía se ha ampliado para producir hamburguesas gourmet y poder proveer a restaurantes pequeños. Aunque la compañía no es tan grande como muchas otras en la ciudad, sus productos rivalizan con la calidad y el sabor de los productos que las empresas grandes ofrecen. Todo este crecimiento se hizo posible gracias a la dedicación de los propietarios a mejorar la calidad de sus productos y aumentar su negocio.
 <br>
 <br>
El Principio de la Práctica-Kaizen 
 <br>
En la década de 1980, un grupo de escritores de negocios popularizaron un término que hacia recordar a los empresarios la importancia de mejorar continuamente en sus negocios: Kaizen. El principio Kaizen tiene su origen en un concepto empresarial japonés que hace hincapié en la necesidad de mejorar en ambos aspectos, tanto incremental (progresivo) y continuo. Para los que desarrollaron el concepto y para aquellos que lo han aplicado-Kaizen es una forma de vida, una filosofía que impregna todos los aspectos de la vida y los negocios.
 <br>
 <br>
Cuando los dueños de negocios deciden practicar Kaizen en su vida, se comprometen a una disciplina de desarrollo personal y lograr el cambio a largo plazo. Estas características guían a los empresarios en la búsqueda de Kaizen como un tipo de mejora.
 <br>
 <br>
En un nivel muy básico, Kaizen significa mejora continua. Pero una definición más precisa de la palabra revela otro nivel de significado: “desarmar y volver a armar de una mejor manera." En el mundo de los negocios, lo que se desarma es generalmente un proceso, sistema, producto o servicio. Las empresas que adoptan esta aplicación del Kaizen se caracterizan por una cultura en la que se hacen preguntas, examinando los procesos y productos, y formulan sugerencias para mejorar, se alienta y se recompensa. 
 <br>
 <br>

De esta manera, el ciclo de actividad Kaizen implica la normalización de una operación o producto; midiendo o examinando la operación o el producto; comparando los resultados de las medidas contra las metas o requerimientos. Innovando para satisfacer las necesidades y aumentar la productividad; estandarizando lo nuevo, mejorando la operación o el producto; y luego comenzar el mismo ciclo nuevamente.
 <br>
 <br>
Porque Kaizen enfatiza el hacer pequeños cambios en curso y entonces reexaminar los procesos y los productos, Kaizen es un ciclo que nunca termina. Y debido a que requiere una atención constante, el ciclo de Kaizen es también uno que fomenta el aprendizaje por la práctica. No sugiere que la solución perfecta debe encontrarse antes de que un producto sea fabricado, vendido o antes de que una operación es implementada. Acepta aprender y mejorar como parte del proceso. Ensayo y error no es 
sólo aceptable para los dueños de negocios que practican Kaizen-es parte de la ecuación para 
mejorar. 
 <br>
 <br>
Obstáculos a Superar 
 <br>
Desafortunadamente, la mayoría de propietarios de pequeñas empresas no conocen el concepto de mejora continua; y muchos de los que conocen el concepto, no lo entienden bien o no saben cómo 
ponerlo en práctica para mejorar su negocio y, por tanto, sus vidas.
 <br>
 <br>
Si usted fuera a visitar a varias pequeñas empresas en su ciudad natal, es probable que se encuentre con que muchos de los comerciantes que conozca han estado haciendo negocios de la misma manera en el mismo lugar durante años y años. Ryan, que investigó las posibles opciones de negocios al caminar alrededor de su ciudad natal para observar los negocios que estaban teniendo éxito, hizo un descubrimiento sorprendente un día. Él se dio cuenta de que el hombre que vendía algodón de azúcar en la calle en la esquina de una primaria local, era la misma persona que, años atrás vendía el mismo producto en el mismo lugar cuando Ryan era un niño pequeño. Por 54 años, el hombre había hecho negocios en el mismo lugar con el mismo producto. Nada del negocio había cambiado. Y tampoco tenía la calidad de vida o capacidad para mantener a su familia.
 <br>
 <br>
Sabiendo que el adaptarse a los cambios impuestos desde el exterior es difícil para todos y que la motivación de uno mismo es bastante difícil, si decide aplicar Kaizen en su propia vida y en su negocio, primero debe sentirse cómodo con la idea de cambiar. Usted puede hacer eso al enfocarse en las cosas buenas que el cambio de su negocio puede traerle, como ingresos más altos, más tiempo libre para servir en la comunidad, o una casa más grande, en vez de pasar por el difícil proceso de cambiar por sí mismo.
 <br>
 <br>
Beneficios al aplicar el principio 
 <br>
La práctica de Kaizen es lo que distingue a los empresarios exitosos del mundo. Están constantemente tratando de encontrar una mejor manera de fabricar, distribuir y comercializar sus productos y  servicios. Sus mentes están siempre mirando hacia el futuro, sobre cómo pueden hacer mejor las cosas, más rápido, más barato. Hacen muchas preguntas mirando hacían el futuro: ¿Puedo encontrar nuevos proveedores? ¿Puedo crear un nuevo tipo de mercado que nadie más ha descubierto? ¿Qué puedo hacer hoy mejor que ayer para hacer mi trabajo de negocios mejor, y al mismo tiempo conseguir más de los ingresos brutos? El cambio y la mejora son sus compañeros constantes. 
 <br>
 <br>
Una vez llegado a apreciar el hecho de que el buscar la mejora continua es la única manera de ser mejor en los negocios, también se dará cuenta que le permitirá llevar su negocio a un nivel más alto de generación de ingresos, crecimiento de clientela, y de éxito. Quienes ignoran este principio sólo 
podrían verse rompiendo el récord del fabricante de algodón de azúcar de 54 años.

</p>

</div>
</div>