<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 18: INSPECCIONES MAS, ASUMA MENOS</h1>
<hr>
<p> 
    Durante cerca de tres años, Gladys se ha dedicado a la exportación de plantas de cacao a Europa y la importación de productos únicos europeos (de países como Holanda, Alemania, e Italia) para vender en las Filipinas. 
<br>
<br>
Su negocio está creciendo bastante bien, así que hace unos meses Gladys empezó a contratar empleados para trabajar en distintos aspectos en el negocio. Su bibliotecario, Lynn, fue contratado para llevar un registro de las transacciones financieras de la empresa. Después de que Gladys capacito a Lynn para realizar todos los aspectos relacionados con su trabajo se le dio la oportunidad de trabajar más autónomamente.
<br>
<br>
Cada mes, Lynn crearía un informe financiero que mostraría el estado de los negocios. Los informes siempre se veían bien, y Gladys se sentía cómoda con el estado financiero de la empresa.
<br>
<br>
Luego de un mes, Gladys noto que la cantidad de créditos (dinero adeudado a la empresa por los clientes que pagan con tarjetas de crédito) era anormalmente alta. Ella comenzó a llamar a los clientes para recaudar el dinero, y ella se sorprendió mucho al descubrir que el supuestamente dinero no pagado a crédito había sido efectivamente pagado por los clientes hacía mucho tiempo atrás. Sólo así Gladys se dio cuenta que Lynn, su bibliotecario, había estado robando dinero de ella.
<br>
<br>
Gladys aprendió una dura pero importante lección ese día, ella no sólo se podía asumir que sus empleados estaban haciendo su trabajo con honestidad y correctamente. Ella tenía que inspeccionar regularmente su trabajo para proteger la reputación de la empresa, garantizando que todos los aspectos de su negocio embonaban con las expectativas.
<br>
<br>
 El principio-Inspeccione más; Asuma Menos 
<br>
Muchas veces en los negocios, se habla de un dueño de negocio que espera que una cosa suceder y queda devastado cuando algo totalmente diferente sucede. ¿Por qué pasan tales cosas? A menudo, el problema se produce porque un propietario de negocio supone que ella sabe lo que está pasando en su negocio, pero no examina para asegurarse. 
<br>
<br>
En los negocios, esperar que las cosas sucedan no es suficiente para garantizar que sucedan. Una vez que ha entrenado a los empleados y definido lo que espera de ellos, debe continuar inspeccionando su trabajo para asegurarse de que están haciendo lo que usted quiere que hagan, en el momento y en la forma en que desea que lo hagan. Usted debe inspeccionar su trabajo y hacer correcciones al momento de observar sus errores, a no ser que se encuentre frente a un cliente. (Siempre que sea posible, y no siempre es posible, espere hasta que las hojas de los clientes o la tarea se hayan terminado antes de corregir a un empleado, sobre todo si la reprimenda pondrá en aprietos a la persona. Recuerde el viejo adagio: Amoneste en privado, recompense en público.)
<br>
<br>
Dejar ir errores ya sea inadvertida o sin corregir puede causarle problemas. La gente no es probable que 
cambie, especialmente si ellos no saben que están haciendo algo malo, a menos que se les pida cambiar por medio de un supervisor o líder. Al inspeccionar y corregir incorrecta o inapropiadas acciones, sea amable pero firme. Refuerce sus expectativas a su empleado, y señálele las diferencias entre su desempeño y lo que espera de él. Sea consciente de la necesidad de formación continua para garantizar que el trabajo siempre se haga como usted quieren que se haga. 
<br>
<br>
Obstáculos a Superar 
<br>
Al igual que con muchos de los principios discutidos en este libro, el mayor obstáculo a superar cuando 
trata de aplicar el principio de inspeccione más y asuma menos es un obstáculo psicológico. Los dueños de negocios responsables y ambiciosos generalmente valoran la independencia y la capacidad de 
trabajar como ellos prefieren. Ellos asumen con frecuencia que si deciden inspeccionar el trabajo de sus empleados, los trabajadores tendrán que pensar que los propietarios no confían en ellos o no les respetan.
<br>
<br>
Si usted cae presa de este obstáculo, el primer paso para superarlo es convencerse a sí mismo de una 
simple verdad: la inspección de trabajo no indica una falta de respeto o confianza. En cambio, cuando 
inspecciona el trabajo, muestra a sus empleados que se enorgullecen de sus productos y que desea 
que sus empleados estén personalmente involucrados en el proceso tanto como lo está usted. Piense en la inspección de los empleados no como en una manera de controlar todos sus movimientos, sino como una forma de buscar oportunidades para proporcionar más capacitación a ellos. Mediante inspeccionando más y suponiendo menos, puede crear oportunidades para compartir su ética de trabajo y el compromiso con sus empleados, lo que les anima a adoptar la misma filosofía y tomar una cantidad similar de orgulloso en su trabajo.
<br>
<br>
Una vez que usted se sienta cómodo con la idea de inspeccionar el trabajo de sus empleados con el fin de reforzar la importancia de un rendimiento consistente y de calidad, es necesario dejar que sus empleados sepan el por qué el trabajo de control es tan importante para usted. Ellos deben comprender que usted inspecciona su trabajo, porque usted se preocupa por su capacidad para mantener la reputación de la empresa y porque quiere que tengan éxito en sus tareas asignadas. Los empleados deben contar con que se hará un seguimiento de las tareas que les asigne a ellos para que no se sientan ofendidos cuando inspeccione su trabajo. 
<br>
<br>
Beneficios de aplicar el principio 
<br>
Al desarrollar el hábito de inspeccionar más y asumir menos, usted llegara a poder ser mejor controlando y supervisando todos los aspectos de las operaciones de su negocio. Como el propietario del negocio, usted es el principal responsable del éxito de la empresa, incluso si sus empleados están a cargo de funciones pequeñas. El inspeccionar el trabajo de los empleados de una manera regular le permite estar más consciente de lo que está pasando en su negocio de manera diaria y poder detener los pequeños problemas antes de que estos se conviertan en grandes. 

</p>

</div>
</div>