<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 14: CAMBIE DE INVENTARIO CON REGULARIDAD </h1>
<hr>
<p> 
 Años después de retirarse como chofer de taxis, Wade Cook comenzó a enseñar seminarios sobre cómo hacer dinero. A menudo  hacia amenas sus presentaciones al contar historias de sus tiempos como taxista. Usó una de sus historias favoritas para responder a la gente que le preguntaba cómo se las arreglaba para ganar un buen salario al solo conducir por la ciudad durante todo el día. Él siempre respondía rápidamente y con convicción. "El dinero está al caer la bandera". 
<br>
<br>
Esta respuesta a menudo agarraba a la gente de bajada. "¿Qué quiere decir?" le preguntaban.
<br>
<br>
"El dinero está al caer la bandera ", repetía. "En el metro de mi taxi había una pequeña bandera de color rojo que se podía ver desde adentro y fuera del taxi. Cuando yo estaba buscando un cliente, la bandera estaría para arriba, para que la gente supiera que yo estaba disponible. Cuando un nuevo cliente se subía, bajaría la bandera y empezaría el taxímetro a correr. Cuantas más veces bajaba la bandera, más dinero hacia.”
<br>
<br>
 El principio-cambie su inventario a menudo 
<br>
La historia de Wade Cook sirve como una parábola para ilustrar un principio de negocios muy importante que es aplicables a cada negocio en todas las industrias. El concepto es muy sencillo: mientras más a menudo vende y repone su inventario, más ganancias obtiene. El inventario de Wade Cook era su taxi vacío; volvía a ese inventario cada vez que dejaba a un cliente y subía a uno nuevo. Y como él sugiere, más a menudo vende cada día, más ganancias obtiene.
<br>
<br>
Vamos a dar un paso atrás para definir algunos términos clave. El inventario es el producto que usted tiene en su almacén y se puede vender en cualquier momento dado. Inventario puede valorarse como el precio que usted pago por algo o el precio por el cual usted lo está vendiendo. Realmente no importa cómo decide valorar su inventario, lo importante es que usted valora el inventario de la misma manera todo el tiempo.
<br>
<br>
 En este contexto, un cambio de inventario se produce al vender la totalidad de sus productos. Por ejemplo, si usted compra un inventario de 50 sandalias, usted completara un turno completo de inventario al vender las 50 sandalias. Y si usted las vende a un buen precio, tendrá una buena ganancia por cada par que venda. Y si usted vende las 50 sandalias, su ganancia será igual a 50 veces el margen de ganancia en cada par de sandalias. Así que mientras más a menudo cambie su inventario, mas ganancia obtendrá.
<br>
<br>
 Al poner buen precio a sus productos, hacer un conteo regular de inventario, y registrar las transacciones lo pone en el centro administrativo de su inventario y maximiza sus ganancias. Mantenga registros exactos de cada compra y venta de productos para poder rastrear con qué frecuencia está cambiando su inventario y cuánto gana a la vez.
<br>
<br>
Un ejemplo práctico 
<br>
La mejor manera de entender este concepto es verlo matemáticamente. Supongamos que Pedro, un 
vendedor de ropa de niños, compra las sandalias de 60 pesos cada una y los vende a 100 pesos cada una. Él ha decidido valorar su inventario de sandalias al precio de venta. A principios de Octubre, él tiene 800 pares de sandalias en su inventario. Él determina que el valor total de su inventario (en términos de cuánto dinero puede hacer si lo logra vender todo) es de 80.000 pesos (800 pares de sandalias al precio de 100 pesos cada uno). Al final del mes, Pedro suma todas sus ventas y se da cuenta de que había 80.000 pesos de las ventas para el mes de octubre. Debido a que sus ingresos son exactamente iguales al valor del inventario que tenía al comienzo del mes, Pedro sabe que él cambio su inventario una vez en octubre.
<br>
<br>
 Al restar los costos de las sandalias con los ingresos de estas, Pedro se da cuenta que su utilidad bruta para el mes fue de 32.000 pesos (consulte la tabla siguiente).
Pedro es un empresario inquieto, y se pregunta cómo puede hacer más dinero en la misma cantidad de tiempo. Él hace un par de cálculos rápidos y descubre que si hubiera rotado su inventario 1 ½ veces al mes, su ingreso bruto o total podría haber sido de 120.000 pesos al mes (Y una ganancia neta resultante de 48.000 pesos). Y si hubiera rotado su inventario dos veces al mes, podría haber tenido ingresos brutos de 160.000 pesos cada mes y una ganancia de 64.000 pesos.
<br>

</p>
<div class="table-responsive">          
        <table class="table">
            <thead>
            <tr>
                <th> </th>
                <th>1 Vez</th>
                <th>1.5 Veces</th>
                <th>2 Veces</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ingresos de la venta de sandalias   </td>
                <td>80,000
(800 x 100)	</td>
                <td>120,000
(1,200 x 100)</td>
                <td>	
160,000
(1,600 x 100)</td>
            </tr>
            <tr>
                <td>Costo de sandalias para vender  </td>
                <td>48,000
(800 x 60)	</td>
                <td>72,000
(1,200 x 60)</td>
                <td>96,000
(1,600 x 60)</td>
            </tr>
            <tr>
                <td>Utilidad de la venta</td>
                <td>32,000	</td>
                <td>48,000	</td>
                <td>64,000</td>
            </tr>
            </tbody>
        </table>
        </div>
<p>
Este ejemplo le ayudará a ver, al menos en concepto, el por qué el rotar su inventario es tan 
importante. Cuanto más a menudo lo rote, aun manteniendo todo lo demás constante, el mayor 
dinero que ganara.
<br>
<br>
Obstáculos a Superar 
<br>
Los mayores problemas en materia de inventario se producen cuando el capital de empresas está ligado al movimiento lento de inventario. Cuando el dinero está ligado en el inventario de lento movimiento, el dinero no está disponible para el negocio para algunos otros fines, como pagar cuentas o comprar productos que se venden más rápido. Cada peso de inventario que se sienta en el estante acumulando de polvo es un peso que no se está utilizando al máximo de su capacidad. El capital que no gana dinero para el negocio en realidad cuesta el dinero del negocio. Del mismo modo, si el inventario se encuentra en el estante durante mucho tiempo, cuesta el dinero del negocio.
<br>
<br>
 Muchos poseedores de tiendas se quejan de que su mayor problema es que simplemente necesitan más capital. En realidad, muchos de ellos sólo tienen que vender el inventario de lento movimiento que tienen en sus tiendas. Con la venta de inventario más rápido, los dueños de las tienda pueden recuperar el capital que fue usado en la compra del inventario, y entonces pueden tener más dinero para usarlo como ellos necesitan. 
<br>
<br>
Cuando los productos se sientan en los estantes de una tienda en forma de inventario de lento  movimiento, ese inventario (o el dinero utilizado para comprar) esta "durmiendo". Dueños de negocios sabios planifican cuidadosamente cuanto producto necesitan para tener a mano en todo momento y no ser culpables de dejar su dinero durmiendo. (Este consejo no pretende sugerir que usted nunca debe tener más inventario de lo que cree que puede vender en un día – a menos que los productos sean perecederos y se echen a perder si no se venden. En cambio, el consejo sirve como un recordatorio para considerar detenidamente la cantidad de inventario que necesita en un lapso de tiempo cortó y para saber cuánto necesita y evitar el tener un exceso de inventario durmiendo en sus estantes.)
<br>
<br>
 Si usted compra productos a crédito (con cualquier forma de dinero prestado), y terminan sentados en una estantería de su tienda, esos productos son incluso más caros que lo que son los productos comprados con dinero en efectivo. Si usted no puede vender su inventario de crédito financiado con la suficiente rapidez, usted terminará pagando intereses sobre el dinero prestado, y esos cargos de interés (que son efectuados por la lentitud del movimiento de inventario) rápidamente pueden comerse la ganancia más rápido de lo que se mueve.
<br>
<br>
Beneficios de aplicar el principio 
<br>
El beneficio más grande y significativo de rotar el inventario a menudo es que un movimiento rápido de inventario produce la entrada de dinero en efectivo y buenas ganancias. Usted sabiamente debe mantener un buen registro para poder saber que artículos se venden rápidamente y cuáles son los que tienden a sentarse en sus estantes por más tiempo. Entonces construya su negocio en torno a aquellos temas que tienen una facturación rápida. Cuándo usted deja de pensar en su inventario como "productos" y empezar a pensar en ella como "pesos", usted se dará cuenta que debe administrar su inventario al cuidadosamente invertir en la alta rentabilidad, productos de movimiento rápido. Debe de trabajar duro para convertir esos pesos en una entrada frecuente. De esta manera, podrás ver que sus ventas y ganancias suben rápidamente.
<br>
<br>
Al igual que Wade Cook lo hizo el ganar más dinero cada vez que la bandera de su taxi caía, usted hará más dinero cada vez que cuidadosamente rote el inventario que se ha comprado. 

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>