<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 7: Compre barato, venda caro </h1>
<hr>
<p> 
  Benny se crio en Manila, pero sus padres son originarios de Zambales, una pueblo pequeño en donde los mangos dulces crecen en abundancia. Cuando Benny decidió iniciar su negocio de venta de mangos, volvió a Zambales para buscar un proveedor de mango. El viaje de Manila a Zambales es bastante largo, así que Benny estaba totalmente agotado al llegar a la ciudad. Sin comparar precios de diferentes proveedores, rápidamente hizo una orden de 1.000 mangos para que fueran enviados a Manila.
<br>
<br>
Cuando el envío de fruta llegó a su tienda, Benny estableció el precio y comenzó a tratar de vender los mangos. Pero no estaba teniendo mucho éxito. Benny visito a sus competencias cercanas para ver si ellos si estaban vendiendo sus mangos. Lo primero que notó cuando caminaba por los pasillos de fruta fue que sus precios eran mucho más bajos que los suyos. Muchos de los vendedores estaban vendiendo sus mangos por menos dinero de lo que Benny había pagado por ellos. No podía permitir bajar su precio y alcanzar la más mínima ganancia. Debido a que no había fallado al comprar barato ya no podía vender caro.
<br>
<br>
El principio de comprar barato vender caro 
<br>
Dos operaciones están involucrados en cada venta del negocio: (1) la compra del producto por el dueño del negocio y (2) la venta del producto al cliente. "Comprar barato, vender caro", las direcciones de ambos lados del ciclo de ventas. Cuando usted compra materias primas por buenos precios y fija un buen precio de venta, así, el ahorro de costos e ingresos adicionales  se pueden mantener a través del ciclo de ventas, que llegan directamente a la línea de fondo. 
<br>
<br>
Cuando se trata de comprar barato, no se debe sacrificar la calidad en la búsqueda de los precios más bajos. Recuerde que otras dos de las reglas de oro sugieren la importancia de comprar a crédito (cuando es posible) y la compra en grande (cuando es apropiado). Usando estos principios al comprar puede ayudarle a generar ganancias mediante la adquisición de bienes a un precio bajo. 
<br>
<br>
El consejo de "vender caro" no significa que usted debe tratar de vender productos a precios exorbitantes. Significa ser lo suficientemente flexible como para vender el producto correcto al precio correcto y en el momento adecuado. El deseo de vender un producto debe ser equilibrado con otros dos importantes objetivos: mantener a los clientes contentos y obtener ganancias suficientes para la manutención de la familia. A veces, se tiene que vender un producto a un precio más bajo con el fin de obtener un elemento de movimiento lento de su estante o tener acceso inmediato al capital para la inversión en un rápido movimiento de inventario. Pero en otras veces, tendrá que negarse a bajar su precio para un cliente si usted en su razonamiento se da cuenta que habrá otro cliente que estará dispuesto a pagar aun un precio mayor. La flexibilidad y la sabiduría deben guiar todas las decisiones que tengan que ver con precios. 
<br>
<br>
Dos ejemplos prácticos 
<br>
Roldán, un comerciante de pescado en Cebú, se dio cuenta de la importancia de comprar barato. Compro a muy buenos proveedores y finalmente fue capaz de negociar un descuento del 5 por ciento en las compras de Evan, un mayorista de pescado. Roldán ahora compra con el descuento y mantiene su precio de venta el mismo, aunque sus costos sean más bajos. Así, su 5 por ciento de disminución en los costos se convierte en un aumento en las ganancias. Con las ganancias adicionales, Roldán pudo darse un pequeño aumento en su salario y puso el resto del aumento de las ganancias en ahorros para el negocio.
<br>
<br>
Comprar barato también funciono para Bárbara, una tutora, que se ocupaba de los servicios en lugar de productos. Ella contrata estudiantes universitarios para dar clases a otros estudiantes en Inglés, matemáticas y ciencias. A pesar de que no compraba materias primas, estaba comprando el tiempo de los tutores que contrataba. Ella ha llegado a un acuerdo de que va a garantizar a cada tutor un número específico de horas por semana si el tutor cobraba 3 por ciento menos por hora que un tutor normal. Comprar barato ayuda a Barbara a pagar menos por sus tutores. Una vez más, Bárbara no ha bajado los precios, pero si sus costos. Y al hacerlo, está obteniendo más ganancias en su negocio. 
<br>
<br>
Obstáculos a Superar 
<br>
La mayoría de los comerciantes están conscientes de que pueden ganar dinero en la segunda etapa de las ventas por un margen de una buena ganancia. Pero muy pocos prestan atención adecuada a la objeto de la compra correctamente para poder hacer dinero en el lado de la compra de la empresa transacción también. No se dan cuenta de que si iban a comprar productos por un precio menor, que podría hacer aún más dinero en el proceso de venta. El primer paso para comprar barato es el reconocimiento de de la necesidad de hacerlo. 
Un segundo obstáculo tiene que ver con los precios. Los comerciantes siempre batallan al establecer los precios y servicios apropiadamente: a menudo llegan a ser muy rígidos en sus precios lo que al final los lleva a la perdida de dinero (en productos que no se venden por tener un precio al cliente demasiado alto). Usted necesita ser flexibles en sus precios de manera que pueda adaptarse a las exigencias de sus clientes. Si siempre insiste en mantener un precio alto en el mercado, puede que este arriesgando ventas que son importantes para su negocio. Por otro lado, si está tan ansioso de vender sus buenos productos que venderá a cualquier precio-aun si pudiera ganar más dinero al venderlos a un precio más elevado, usted perdería ingresos potenciales y no agrandaría su ganancia potencial. La situación óptima es ser flexible y tratar de conseguir lo que pueda de cada uno de los clientes razonables.
<br>
<br>
Beneficios de aplicar el principio 
<br>
La línea de fondo en la aplicación de este principio es que los propietarios de negocios pueden mantener exitosamente a sus clientes contentos y maximizar sus propias ganancias por comprar barato y vender a un adecuado precio más elevado. Mediante la compra barata, usted puede ahorrar dinero a medida que compra artículos necesarios para su negocio; y al vender caro, puede maximizar sus ganancias. Ambas prácticas, al usarlas con sabiduría, enviaran dinero directo a las ganancias de su negocio.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>