<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 25: ENFOQUESE, ENFOQUESE, ENFOQUESE</h1>
<hr>
<p> 
Aproximadamente un mes después de terminar su  programa de ingeniería mecánica en una pequeña escuela técnica, Andréa regresó a casa sin trabajo y sin dirección real en su vida profesional. Sus familiares y amigos la alentaron a utilizar sus nuevas habilidades para iniciar un negocio, pero no pudieron ponerse de acuerdo sobre qué tipo de oportunidad de negocio debía iniciar. Algunos querían que empezara un pequeño taller de reparación de aparatos electrodomésticos, algunos querían que creara su propia marca de accesorios de iluminación; y otros querían que abriera una tienda de ventas de componentes eléctricos al menudeo. 
<br>
<br>
Andrea no podía decidir qué negocio sonaba más emocionante para ella, así que decidió empezar 
los tres. Pidió prestado dinero a los miembros de su familia, recibió un pequeño préstamo de una  compañía especializada en microcréditos, y puso toda su energía en hacer funcionar todos sus negocios. Durante tres meses, trabajo arduamente yendo de arriba a abajo entre las tres tiendas (que afortunadamente  se encuentran a sólo cuatro cuadras de distancia una de otra), trabajando con todos sus proveedores, y atendiendo las necesidades de todos sus clientes. Se las arregló para obtener una ganancia muy pequeña en la tienda de reparación durante el tercer mes, pero las otras dos tiendas estaban siendo gravemente afectadas. Tenía tantos clientes en  el taller de reparaciones que no podía encontrar tiempo para atender a los clientes en las otras dos tiendas. 
<br>
<br>
Después de seguir trabajando en periodos diarios de 14 horas durante dos meses, Andréa, finalmente decidió que ya no podía manejar la presión de administrar las tres tiendas. Ella no había tenido tiempo de mantener los registros de ninguno de sus negocios, pero sabía que hizo más en el taller de reparación que en las otras dos empresas, así que decidió cerrar las otras tiendas y centrar sus esfuerzos más directamente en su negocio de reparación de electrodomésticos. 
<br>
<br>
Esta sola decisión ha hecho una enorme diferencia en la vida de Andrea. Ahora tiene tiempo para realmente crecer su negocio de reparación, encontrar y aprovechar las ofertas de varios proveedores y mayoristas, establecer metas a corto plazo y a largo plazo para el crecimiento empresarial, y aplicar todas las otras reglas de oro que ella sabe que van a hacer de su negocio un éxito. Ella está haciendo una mayor ganancia en su tienda en comparación a antes de que se redujera a un solo negocio, por lo que ha comenzó a pagar sus préstamos empresariales. Amigos y miembros de su familia están también mucho más felices de que ella ha reducido sus horas de trabajo a 10 u 11 horas diarias, ya que ahora tiene nuevamente tiempo para pasar con ellos. 
<br>
<br>
Aunque Andrea ya no opera los otros dos negocios, no los ha abandonado por completo. Su plan es concentrar sus esfuerzos y atención en su negocio de reparación por unos años y luego transferir parte de la responsabilidad por las operaciones diarias a un empleado de confianza. Después se enfocara en una segunda empresa y concentrara sus esfuerzos en construir ese negocio a un nivel aceptable de éxito. Andrea está contenta con su plan y confía en que con trabajo duro y enfoque, puede convertirlo en una realidad. 
<br>
<br>
El principio-Enfóquese, enfóquese, enfóquese 
<br>
La perspectiva de iniciar un nuevo negocio puede ser muy emocionante. Se puede motivar a la gente para hacer cambios significativos en su vida. Se pueden abrir nuevas oportunidades de ingresos para ellos, y puede iniciarlos en un viaje de crecimiento personal y exploración. 
<br>
<br>
Pero a veces la emoción de un negocio puede ser muy emocionante. Algunos nuevos  propietarios de negocios están tan entusiasmados con las posibilidades que les esperan, que deciden ir en varios negocios al mismo tiempo. A veces empiezan dos o tres negocios pensando que pueden tener éxito en todos ellos. Otras veces, empiezan dos o tres negocios debido a que quieren asegurarse de que uno tenga éxito. Sin embargo, independientemente de cuáles pudieran ser sus motivaciones, estos obsesionados dueños de negocios por lo general descubren que si no se centran en un solo negocio, todos los otros negocios quiebran. La acción misma que el emprendedor pensó reduciría las probabilidades de fallo (es decir, la apertura de varios negocios) en realidad termina incrementando las probabilidades de la misma. 
<br>
<br>
A fin de encontrar el éxito en los negocios, usted debe disciplinarse y concentrarse en un sólo negocio 
a la vez para verter su tiempo, energía y capital en ese negocio. Centrarse en un negocio significa que se convierte en una prioridad en la vida. Evidentemente, no pueden dedicar todo su tiempo y energía para la edificación del negocio, pero usted puede hacerla una de las más importantes 
prioridades en su vida. 
<br>
<br>
Algunas de sus otras prioridades pueden incluir el pasar tiempo con la familia, servir en la iglesia, y el tiempo dedicado a hacer otras actividades gratificantes que recargaran su "tanque de gas emocional" y permitirán que usted tenga éxito en las otras partes esenciales de su vida. Si se enfoca en la construcción de su negocio sin descuidar otros aspectos de la vida, usted puede tener éxito mediante la combinación de actividades que involucren al negocio y a sus otros objetivos importantes. Puede centrarse tanto en su familia-el aspecto más importante de vida- y su negocio mediante la participación de miembros de la familia en el negocio. Tal vez usted podría hacer que sus hijos le ayuden a crear, comercializar o vender los artículos o servicios que ofrece su negocio. Este arreglo enseña a los 
niños a trabajar duro y también los involucra en actividades de generación de ingresos familiares. 
<br>
<br>
Además de centrarse en el negocio, concentrase sus esfuerzos en la aplicación de cada uno de los principios tratados en este libro. Cada regla de oro está hecha a las necesidades de nuevos dueños de negocios, y ofrece a los propietarios una lista de principios comprobados los cuales necesitan trabajar en forma diligente con el fin de progresar hacia el éxito. Batallar para seguir estas reglas lo mantendrá motivado en su trabajo y asegurará que cada día haya una gran variedad de nuevos desafíos para superar y oportunidades a abrazar.
<br>
<br>

Obstáculos a Superar 
<br>
Enfocarse en el negocio requiere de trabajo duro, y no todos están dispuestos a trabajar tan duro como sea necesario para ser exitoso día tras día. Debe luchar contra la tentación de tomar un descanso de su arduo trabajo, para poner menos de lo que se requiere a diario, y ajustar su conveniencia las reglas de oro. 
<br>
<br>

Beneficios de aplicar el principio 
<br>
A medida que usted comienza su negocio, la decisión de colocarlo como una alta prioridad en su vida puede parecer un difícil primer gran paso. Decidir cada día mantener el negocio en el lugar adecuado de concentración y enfoque es aún más difícil. Sin embargo, centrarse en un negocio y hacer que funcione con las otras altas prioridades en la vida puede ofrecerle una inmensa satisfacción. 
<br>
<br>

Una vez que usted y su familia deciden dedicarse a la empresa de lograr que el negocio prospere, 
habrá dado el primer paso hacia el éxito empresarial. Y si se acuerda de concentrar toda su energía en un negocio en lugar de dividir la energía, tiempo y capital en múltiples negocios, puede hacer crecer ese negocio a todo su potencial. Después de establecer sistemas que se aseguren de que usted recibirá el dinero del negocio sin importar que empleados lo administren, entonces puede enfocar sus esfuerzos en otros planes, trayendo posteriormente un futuro estable y cómodo para usted y su familia.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>