<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 9: USE DIFERENTES PROVEEDORES</h1>
<hr>
<p> 
  Gwen ha logrado establecer un pequeño puesto de frutas en el centro de Cebú durante unos diez años. Ella exhibe sus piñas, manzanas, plátanos y frutos rojos en atractivas canastas limpias. Sus clientes son muy fieles a ella, alguna le visitaba en su stand todos los días para comprarle fruta para su familia.
  <br>
  <br>
En la misma actitud de lealtad, Gwen ha comprado su mercancía al mismo proveedor desde su primer día de operación. Pero al inicio de la temporada de verano en este año, el proveedor de  Gwen decidió repentinamente elevar sus precios. El proveedor había visitado todas las tiendas de frutas en el mercado y registró los precios que los fruteros estaban poniendo en los productos. Al darse cuenta de que estaba vendiendo la fruta a los fruteros por menos de lo que ellos la revendían decidió entonces subir sus precios. Esto dejó a los minoristas, incluyendo a Gwen en una posición difícil. Para poder continuar recibiendo ingresos tendría que aumentar sus precios o cerrar su negocio.
  <br>
  <br>
 Gwen realmente disfrutaba su negocio, por lo que decidió aumentar sus precios. Un día después, le dijo a a su amigo, "Mis clientes regulares se niegan a comprar mi producto. No estoy haciendo dinero. Supongo que tendré que cerrar mi negocio y hacer otra cosa. "Gwen insistía en que debido a que su proveedor había "cuidado de ella durante tantos años," sentía que tenía que ser leal a él. Su sentido de lealtad y su fracaso temprano para encontrar múltiples proveedores finalmente le costó el negocio. 
  <br>
  <br>

El Principio-Use diferentes Proveedores
  <br>
La mayoría de los problemas entre los propietarios de negocios y proveedores podrían evitarse si utilizaran este principio. Algunos propietarios de negocios tienen un solo proveedor porque no quiere buscar otros proveedores. Pero la realidad es que en las zonas locales, varias empresas actúan como mayoristas para los mismos productos que los propietarios de microempresas necesitan en su negocio. Contar con diferentes proveedores permite a los empresarios el negociar precios bajos, tomar ventaja de las ventas, y conseguir las cosas que necesitan cuando lo necesitan. También podría permitirles obtener crédito de más de un proveedor. 
  <br>
  <br>
Jaime tuvo una experiencia un par años atrás, que le enseñó la importancia de tener diferentes proveedores y utilizar su poder como comprador para exigir un buen servicio. Jaime solía comprar gran cantidad de equipos médicos de un solo proveedor. El proveedor de Jaime lo trataba de una manera correcta; Sin embargo, su servicio al cliente fue malo cuando Jaime tuvo un problema mecánico. Jaime tuvo la impresión de que el mal servicio fue el resultado de la creencia que el proveedor tenia de tener bajo la manga todos los negocios de Jaime.
 Así que un día, Jaime llamo a cuatro proveedores diferentes y solicitó a cada proveedor reunirse con él en su tienda el siguiente viernes por la mañana para tener una junta uno a uno. Jaime escribió los nombres y hora de las citas de los competidores en la pizarra detrás de él de tal manera que cada uno de los vendedores pudiera ver los nombres de los competidores detrás de Jaime al momento que Jaime hablaba con ellos. A continuación, se aseguró de que su principal proveedor principal fuera esa tarde para revisar un problema que él estaba teniendo.
  <br>
  <br>
 Cuando aquel proveedor  llegó en la tarde y vio que Jaime había hablado con algunos de los proveedores que eran su competencia, el proveedor rápidamente entendió el mensaje de que Jaime esperaba que el siguiera ganando su puesto como proveedor de él.
Como microempresario, está en la necesidad de buscar múltiples proveedores y ayudar a los proveedores a entender que necesitan ganar su puesto con cada transacción. Cuando los proveedores saben que están compitiendo para proveer a su negocio, lo más probable es que lo van a tratar muy bien
  <br>
  <br>
Eligiendo proveedores 
  <br>
A medida que busca por diferentes proveedores, es obvio que usted quiere encontrar proveedores que le vendan a un precio razonable. Pero asegúrese de considerar también algunas otras cuestiones: examine la fiabilidad del proveedor, la velocidad del servicio, los gastos de entrega, la confiabilidad, y la profundidad del inventario. 
  <br>
  <br>
Recuerde que si un proveedor no puede satisfacer las necesidades de su negocio, su negocio no será 
capaz de satisfacer las necesidades de sus clientes. 
  <br>
  <br>
Al iniciar su negocio, lo más probable es que sea muy pequeño y que tenga la necesidad de obtener un crédito y  consideraciones de precios. Muchas veces puede que tenga que pedir favores especiales de sus proveedores. 
Sea prudente al escoger a sus proveedores: busque la manera de reducir los precios al por mayor que usted paga por productos y servicios. El crédito de proveedores puede también ayudarle a pagar menos por los productos que revenda.
Cuando usted comienza una nueva relación comercial con un proveedor, no tengas miedo de preguntar por precios especiales, términos, descuentos y promociones a clientes nuevos. Todo esto es parte del proceso de reunión. Recuerde que algunas ocasiones usted gana más dinero al comprar a un buen precio en lugar de vender a un precio alto. 
  <br>
  <br>
Obstáculos a Superar 
  <br>
A medida que su negocio crece, inevitablemente va a cambiar. Los proveedores que cumplían con sus necesidades cuando el negocio era pequeño tal vez no podrá ser capaz de cuidar de sus necesidades una vez que empiecen a crecer. Y mientras va dejando a los proveedores que hicieron cargo de usted al principio lo cual podría resultar difícil pero es necesario para que su negocio crezca, sobre todo ahora que compra en grandes cantidades. Al buscar nuevos proveedores, o incluso proveedores adicionales, recuerde el darles la oportunidad de igualar los precios y competir. Puede que se sorprenda al ver lo que están dispuestos de hacer para mantenerle como cliente regular, incluso el darle mejores condiciones de crédito o más productos en consignación. 
  <br>
  <br>
Beneficios de aplicar el principio 
  <br>
El tener diferentes proveedores es importante para cualquier tipo de negocio. Cuando tiene a más de un 
proveedor para cada una de las necesidades de su negocio, usted puede tomar mejores y más decisiones. Con más de un proveedor, es probable que pueda obtener los productos que necesita, cuando los necesita. Y puede asegurarse de obtener la mejor calidad por el precio que está pagando. 
  <br>
  <br>
Tener múltiples proveedores también le ayuda a obtener sus productos para sus clientes a tiempo y a un precio decente. Si usted tiene más de un proveedor, podrá mantener sus precios bajos 
y un buen servicio aun si uno de sus proveedores decide subir sus precios o no puede conseguir su 
producto cuando lo necesita. (Muchas pequeñas empresas con regularidad pierden ventas a clientes porque el proveedor no tenía el producto en existencia) Al trabajar con al menos dos proveedores puede ayudar a mantener un colchón de seguridad para usted y para su pequeño negocio.
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>