<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 15: DELE VALOR A SUS CLIENTES </h1>
<hr>
<p> 
 Felipe ha estado en marcha de un negocio de distribución de agua embotellada-por cerca de seis años. Él compra cantidades muy grandes de agua filtrada de algunos distribuidores; los reempaqueta a su conveniencia en contenedores portátiles; y luego vende el agua a los negocios cercanos y residentes. Felipe tiene alrededor de 60 clientes que compran en su tienda sobre una base semanal. Él tiene un ingreso semanal promedio de 9.120 pesos, así que sabe que cada uno de sus clientes trae unos 152 pesos de los negocios a él cada semana. Felipe está constantemente tratando de atraer nuevos clientes a su negocio, así que sabe lo difícil que es para atraer nuevos clientes, por lo que concentra su tiempo y energía en mantener a sus clientes actuales  y animarles a traer más ingresos al negocio, ya sea por comprar más agua por pedido o mediante la compra de su cantidad regular de agua con más frecuencia. 
 <br>
 <br>
Felipe también trata de satisfacer a sus clientes de todas las necesidades que puedan tener mientras se encuentran en su tienda. Saluda de una manera amable, trata de recordar sus nombres, lleva el agua comprada a los vehículos o bicicletas e incluso ofrece el entregar el agua a la casa o negocio de sus mejores clientes. Él anima a sus dos empleados a hacer lo mismo. Al mostrar a sus clientes que son importantes para él, Felipe es capaz de cuidar bien de su empresa »activo más valioso: 
sus clientes. 
 <br>
 <br>
El principio-valore a sus clientes 
 <br>
Cuando pensamos en la valoración de los clientes, usualmente lo hacemos en términos de cómo deben tratar a los clientes y qué podemos hacer para mostrar que apreciamos su negocio. Pero en realidad, usted puede demostrar que usted valora a sus clientes de dos maneras: (1) les dan un buen servicio al cliente y (2) reflexionar sobre el valor financiero de cada cliente y luego tratar de aumentar ese valor. 
 <br>
 <br>
Valore a sus clientes dándoles buen servicio. 
 <br>
Los clientes son uno de los activos más valiosos de un negocio. El dinero que los clientes gastan en la tienda es lo que le permite a los propietarios el comprar productos, pagar cuentas, pagar salarios de los empleados, y en última instancia, encontrar el éxito en lugar del fracaso. 
 <br>
 <br>

Un  viejo adagio de negocio dice, "Si no cuidas a tus clientes, alguien más lo hará." Esto se  ha demostrado ser verdad una y otra vez. Los clientes tienen decenas de opciones disponibles para hoy en día. Virtualmente cada negocio tiene competidores, por lo que cada cliente tiene opciones o 
fuentes de recursos para las soluciones que él o ella buscan.
 <br>
 <br>
 Con el fin de cuidar de los clientes, es necesario tener una comprensión completa de sus requerimientos, necesidades, preferencias y deseos. Y usted tiene que trabajar para garantizar que cada uno de sus primeros clientes se convierta en clientes regulares. A menos que los clientes logren satisfacción al comprar o usar algo en su negocio o servicio, puede ser poco probable que compren en su negocio otra vez. Así, con el fin de retener clientes, debe desarrollar fidelidad entre sus clientes, debe de hacer ese tipo de cosas que hará que los clientes regresen una y otra y otra vez. <br><br>
 Esta perspectiva sobre el servicio al cliente debe animarle a pensar más allá de las actividades normales involucradas en el ciclo de ventas. Las actividades después de la compra que se convierten en importantes son las reparaciones, los mantenimientos de rutina, el comercio, y reventas. 
<br><br>Así que, ¿cómo puede hacer que los clientes regresen? Practique principios sencillos que muestren a cada cliente que él o ella son importantes para el negocio. 
</p>
<ul>
<li>Cuando un cliente entra a la tienda, reconózcale de inmediato. Acérquese a él con una sonrisa amistosa, y preséntese con un apretón de manos o un gesto físico que sea apropiado en la cultura. 
</li>
<li>Tenga una buena actitud para vender. En lugar de preguntar, "¿Puedo ayudarle?" Haga una pregunta 
que le dé una oportunidad para compartir información acerca de su tienda, su mercancía, 
o lo que le diferencia de las otras tiendas. Un ejemplo de una pregunta sería: 
"¿Ha estado en nuestra tienda antes?" 
</li>
<li>De tanta atención a los clientes como lo necesiten, pero de tiempo a los clientes para saber si están interesados en tan sólo mirar la mercancía y tener su propio tiempo. 
</li>
</ul>
<p>
    <br>
Por supuesto, los clientes querrán diferentes cosas de usted en términos de servicio al cliente. Si realmente reconocer la importancia de los clientes son su negocio, usted hará lo que sea necesario para hacerlos felices. El buen servicio al cliente siempre valdrá la pena.
    <br>
    <br>
Valore a los clientes mediante el análisis de su valor financiero 
La investigación ha demostrado que encontrar un nuevo cliente cuesta mucho más que mantener a uno ya existente. Por lo tanto, los sabios propietarios de negocios pasan la mayor parte de su tiempo relacionándose con el cliente para mantener buenas relaciones y poder mantenerlos a largo plazo.
    <br>
    <br>
 Independientemente de cuál sea su negocio, puede hacer crecer sus ingresos en solo tres maneras: 
(1) aumentar el número de clientes, (2) convencer a los clientes actuales el comprar en grandes cantidades, y (3) animar a los clientes actuales el comprar  productos con más frecuencia. Sin importar qué táctica decida llevar a cabo, debe darse cuenta de que la persecución de cualquiera de las estrategias debe comenzar con una comprensión de que tan valioso es cada cliente en el aspecto financiero. " 
    <br>
    <br>
Si su empresa cuenta con 10.000 pesos de ingresos cada semana y cuenta con una base de clientela regular de 50 pesos, entonces, cada cliente tiene un valor económico de 200 pesos por semana. Si usted desea aumentar sus ventas, debe cuidar de los clientes y persuadirlos a comprar más de usted, o usted debe conseguir nuevos clientes. Si usted quiere doblar sus ingresos, necesita el doble de la cantidad de compras de cada cliente o duplicar el número de clientes regulares. La ruta de acceso que sigue depende en gran medida de su personalidad y capacidad para atraer nuevos negocios. Pero todo debe comenzar con una comprensión del valor que cada cliente tiene para su negocio. 
    <br>
    <br>
 
Obstáculos a Superar 
    <br>
Los propietarios de negocios suelen estar muy interesados en desarrollar buenas relaciones con sus clientes y entrenar a sus empleados para que se sienten de la misma manera, sin embargo, a menudo se escribe una historia diferente. Los empleados no están tan envueltos en el negocio (ya sea emocional o financieramente) como propietario lo está, por lo que muchas veces ven sus puestos de trabajo únicamente como fuentes de ingresos y hacer sólo lo que tienen que hacer en orden de obtener su paga. Esta perspectiva conduce muy a menudo a malos tratos a los clientes por parte de los empleados. 
    <br>
    <br>

Una de las quejas más comunes expresadas por los clientes en las tiendas es que los empleados con frecuencia los tratan como si fueran las interrupciones en lugar de dar un buen servicio a los clientes. Por ejemplo, un cliente podría entrar en una tienda y encontrar a dos empleados hablando entre sí acerca de algo que es muy ajeno a lo relacionado con la empresa. Los empleados pueden interrumpir su conversación para ayudar al cliente, sin embargo suelen utilizar un tono de voz más bajo o el uso de expresiones faciales que hacen ver que el cliente los ha molestado e interrumpido de una plática muy importante. O puede que los trabajadores no pongan un alto a la conversación, sino que prefieren terminar su plática y entonces voltear a mirar al cliente con la cara de: "¿Qué quieres?" 
    <br>
    <br>
Necesita tener cuidado y consistencia al capacitar a sus empleados para dar un buen servicio a los clientes. El entrenamiento de Servicio de cliente debería de incluir el reforzar en la mente de los empleados la importancia tan grande de cada cliente, ensenarles a saludar a los clientes, identificar sus necesidades, y ayudarles a encontrar los productos que puedan satisfacer con sus necesidades, además  de animar a los empleados a tratar a cada cliente con respeto. De una manera frecuente, y con un entrenamiento constante ayudara a que sus empleados desarrollen y mantengan la perspectiva adecuada al servicio al cliente.
    <br>
    <br>
Beneficios al aplicar el principio 
    <br>
En la valoración de sus clientes-y la enseñanza a sus empleados al valor sus clientes-usted trabaja 
para desarrollar clientes leales cuyas relaciones con el negocio lo sostienen día a día y año con año.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>