<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 20: TRABAJE EN SU NEGOCIO DIEZ HORAS AL DIA Y 51/2 DIAS A LA SEMANA</h1>
<hr>
<p> 
   Leo es un dueño de negocio que tiene sueños de convertir a su pequeño puesto de hamburguesas en una cadena de restaurantes de comida rápida. Siempre mantiene un buen registro, establece metas desafiantes, valora a sus clientes, compra pan de hamburguesa y carne molida al por mayor, y entrena a sus empleados con cuidado. Leo va en el camino correcto hacia el logro de su objetivo que es ampliar su negocio.
<br>
<br>
Sin embargo Leo no siempre ha estado en el camino correcto, de hecho, Leo hizo frente a una quiebra al principio de su carrera empresarial. Él sabía que la receta secreta de hamburguesas de su abuela (una mezcla especial de carne, salsas y especias) seria popular entre los jóvenes profesionales que trabajan cerca de su puesto de hamburguesas: estaba completamente convencido que lo atractivo de su tienda ayudaría a atraer a cientos de personas cada día. Y tenía razón-por un tiempo.
<br>
<br>
El éxito que Leo encontró en los primeros meses le sorprendieron mucho: Leo estaba ocupado desde las primeras horas de la mañana hasta después de las 7:00 cada noche. De hecho, estaba tan ocupado que decidió contratar a dos empleados para encargarse de la tienda mientras él llevaba a su joven familia de vacaciones a celebrar. Los empleados hicieron bastante bien durante la semana que Leo se había ido, así que cuando él regresó, Leo decidió dejar el negocio en las manos de sus empleados mientras seguía disfrutando el gastar el dinero que su negocio estaba generando. Llegaba a la tiendo por un par de horas cada día a ayudar con el almuerzo de la gente, pero la mayoría del tiempo estaba ausente.
<br>
<br>
No fue sino hasta después que Leo se dio cuenta que su negocio no iba tan bien como pensaba que iba. 
<br>
<br>
Un día, pasó a ver los registros y se dio cuenta que la empresa había obtenido ganancias sólo una vez en los últimos nueve días. Preocupado por esto, decidió que había sido una tontería invertir tan poco tiempo y esfuerzo en el negocio que esperaba seria su recurso de ingresos para él y para su familia por el resto de sus vidas. Retomó su hábito original de trabajar en la tienda todo el día e incluso se tomó el tiempo el fin de semana para trabajar en los elementos más estratégicos de la empresa. Después de cinco meses de poner su esfuerzo a tiempo y por completo en el negocio, Leo estaba finalmente de vuelta en el buen camino y trabajando duro para convertir sus sueños a largo plazo en una realidad.
<br>
<br>
El principio-Trabaje en su negocio 10 horas al día y 51/2 días a la semana.
<br>
<br>
 Algunos dueños de empresas toman a su negocio como solo un pasatiempo: empiezan el negocio porque son apasionados a sus productos o servicios, pero poco después cuando el negocio abre sus puertas, se cansan de las tareas realizadas y reducen considerablemente el tiempo en que se encuentran en el lugar de los negocios. Pueden ir a su negocio por unas pocas horas al día o por unas pocas horas a la semana. Pero no dedican tanto tiempo al negocio, con el fin de levantarlo del suelo. 
<br>
<br>
Si bien este tipo de estilo de vida puede parecer despreocupado y divertido, pero no podrá darle sustento a usted y a su familia. Para combatir estas tendencias tontas y establecer patrones de negocio que son más propensas a dirigirlo al éxito, debe de trabajar por lo menos tan duro por usted mismo (en su negocio), como lo haría si tuviera que rendir cuentas a un empresario-y probablemente aún más fuerte (¡sobre todo al principio del negocio!). Así que por lo tanto, la recomendación es trabajar por lo menos diez horas al día y 5 días y medio a la semana.
<br>
<br>
 Un dicho popular en el ámbito empresarial, "Si trabaja durante cinco años como nadie más, podrá vivir el resto de su vida como nadie más. "El significado de este consejo es muy sencillo- trabajar duro en el comienzo de un nuevo esfuerzo al final siempre vale la pena. En orden de establecer buenos hábitos de negocio y conseguir que el negocio funcione, debe de tener un horario fijo, trabaje alrededor de 5 ½ días por semana, además de un total de diez horas al día, y esfuércese constantemente por fortalecer su negocio. Usted puede hacer crecer su negocio al estar en él, hablando con los clientes y empleados acerca de la empresa, estableciendo una buena colaboración con proveedores y clientes, y así sucesivamente.
<br>
<br>
Obstáculos a Superar 
<br>
Trabajar diez horas diarias y 5 días y medio a la semana puede comenzar a sentirse como un sacrificio después de un tiempo. Pero es un sacrificio que vale la pena hacer. Cada vez que hacemos un sacrificio, renunciamos a algo de valor por algo de mucho más valor. Con respecto a la gestión de una empresa, debe de sacrificar su tiempo libre y los intereses personales a corto plazo a fin de obtener los mayores beneficios de seguridad financiera y el éxito empresarial a largo plazo.
<br>
<br>
 Al adoptar esta perspectiva adecuada, podrá superar sus vacilaciones personales para trabajar en su negocio tanto como sea necesario. 
<br>
<br>
Beneficios al aplicar el principio 
<br>
El demostrar devoción por el negocio es lo que ha dado resultado a la mayoría de los empresarios, especialmente cuando hacen pequeños esfuerzos para vivir este principio. Tomemos, por ejemplo, el consejo de trabajar 5 días y medio cada semana-un día medio más que la mayoría de la gente. En el transcurso de un año completo, ese día un medio adicional de cada semana se suma a otros 26 días hábiles al año, casi un mes completo de productividad adicional en la que puede obtener una ventaja sobre las competencias quienes trabajan una jornada laboral regular de 5 días. Este trabajo duro acabará dando sus frutos a medida que comienza a establecer confianza en sí  y en su familia. 

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>