<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 12: UTILICE LAS VENTAS SUGESTIVAS </h1>
<hr>
<p> 
 Holly ha sido dueña  y operado un salón de belleza desde hace años. Su trabajo duro ha sido reflejado en un grupo de clientes fieles que visitan su tienda cada vez que necesitan un corte de pelo o de algún otro tratamiento de belleza. Holly siempre ha disfrutado el trabajo que desempeña, pero cuando su hijo mayor estaba a punto de graduarse de la preparatoria, sabía que de alguna manera tenía que hacer más dinero. Quería pagar por su formación técnica como mecánico, pero sus ingresos no eran lo suficiente como para cubrir los gastos de la escuela. Ella necesitaba de alguna manera aumentar los ingresos del salón de la belleza. 
 <br>
 <br>
Holly sabía que los ingresos aumentan cuando aumentan las ventas, por lo que trató de encontrar maneras de generar más ventas cada día. Realísticamente no pudo atraer suficientes nuevos clientes como para elevar los ingresos del salón, así que empezó a ofrecer nuevos servicios a sus clientes existentes. Además de brindar a sus clientes de manicure un tratamiento especial, y empezó a sugerir a sus clientes el también comprar el tratamiento de pedicura. Además de cortar el pelo de los clientes, comenzó a sugerir nuevos servicios tales como limpieza del cabello, tintes, tratamientos de relajación, etc. Mediante el uso de los métodos de venta sugestiva, Holly fue capaz de aumentar sus ingresos de manera significativa (y con muy poco trabajo extra) y fue capaz de pagar por la escuela de su hijo. 
 <br>
 <br>
El principio de usar las ventas sugestivas 
 <br>
La idea detrás de la venta sugestiva es que en lugar de tratar de encontrar nuevos clientes para aumentar las ventas, intente vender más a los clientes que ya tiene. Incluso si usted no cree que sea un gran vendedor, usted puede comenzar a practicar la venta sugestiva al poner en práctica dos técnicas sencillas.
 <br>
 <br>
Sobrevendiendo artículos 
 <br>
El sobrevender es una manera de convertir una venta normal en una venta más grande llena de más productos o servicios más caros. Por ejemplo, si los clientes entran en su tienda vestidos con trajes de baño y sandalias (obviamente, visten así para un viaje a la playa) y preguntan por  protección solar, usted puede sobrevender una crema para protección solar diferente (de mayor precio) que probablemente les protegerá de las quemaduras de sol, incluso mejor que el producto original que 
querían comprar. Si los clientes son persuadidos al utilizar su nueva táctica ellos compraran un producto más caro y saldrán de la tienda con felicidad y con su ayuda para comprar el producto. Y usted será más feliz porque habrá convertido una pequeña venta en una venta ligeramente más grande y con mayor ganancia.
 <br>
 <br>
 Agrupación artículos 
 <br>
Usted puede agrupar productos haciendo una de dos cosas: (1) combinar varios productos o servicios relacionados y tratar de venderlos juntos a un precio más bajo a lo que el precio total sería si se compran por separado, o (2) Dese cuenta de lo que un cliente quiera comprar y entonces espontáneamente cree un grupo de productos que serían de interés para el cliente y presénteselos.
 <br>
 <br>
 Por ejemplo, si mientras le ayuda al cliente usted se da cuenta que su familia va a ir a la playa en el fin de semana, puede sugerirle que se prepare aún mejor al comprar una sombrilla, algunas toallas de playa, y un par de gafas de sol, así como la crema de protección solar.
O, si usted anticipa que muchos clientes querrán comprar artículos de su tienda en preparación para los destinos de playa, entonces podría preparar un conjunto de productos en ventaja y ponerlo en el mercado a los clientes como un grandioso paquete.
 <br>
 <br>
Uso de los dos principios juntos
 <br>
Estos dos principios se pueden utilizar juntos para producir una venta sugestiva eficaz. Tome el
ejemplo de Sandra, una empleada de una tienda, y Marcos, un cliente que entra en una tienda de mascotas y empieza a observar el precio de los peces de oro.
 <br>
 <br>
Sandra, la empleada, ve a Marcos mirando a los peces de oro más baratos, pero ella lo dirige hacia los más impresionantes y largos en vida (y más caros) peces tropicales. Una vez que ha decidido comprar un par de esos peces tropicales, Sandra dice: "Necesitara una pecera para mantener a ese pequeño con vida, ya que solo viven en agua salada. Y ahora tenemos a la venta estas grandiosas peceras de 60 pesos en solo 36 pesos " En ese momento Marcos sale de la tienda, y ha comprado muchísimo más que el pececito de 8 pesos que originalmente iba a comprar. Él esta orgullosamente llevando a su casa varias de las especies exóticas, una pecera de 36 pesos, comida para peces, una luz para peceras y otros accesorios para pez. ¡La venta pasó de un pequeño 8 pesos a la venta de casi 350 pesos!
 <br>
 <br>
Usando sabiamente las ventas sugestivas 
 <br>
A fin de utilizar de manera efectiva la venta sugestiva, debe conocer bien sus productos, así como para 
sugerir uno sobre el otro por si un cliente quiere saber cuál es el mejor. Los clientes no siempre saber exactamente qué producto es mejor para sus necesidades, así que si usted es capaz de dar una sugerencia sobre un producto los clientes la aceptaran y harán lo que usted recomienda.
 <br>
 <br>
 También debe abordar cada venta con entusiasmo. Use un lenguaje optimista que anima a los clientes a comprar artículos. Por ejemplo, en lugar de preguntar, "¿Quieres una bebida?" Puede Preguntar: "¿Les sirvo un vaso de nuestro refrescante te de frambuesa o de nuestra limonada natural en este día tan caluroso?
 <br>
 <br>
 Por último, hay que pensar con rapidez, a fin de vender de manera efectiva otros elementos. Una vez que sepa qué artículos el cliente tiene la intención de comprar, piensa en otras cosas que irían bien con esos productos. Trate de que el cliente compre aquellos productos añadidos.
 <br>
 <br>
 Obstáculos a Superar 
 <br>
A veces, los dueños de negocios están tan animados por la idea de la venta sugestiva que toman demasiado lejos y terminan alejando negocios en vez de acercarlos. Usted puede prevenir estos efectos nocivos, al actuar contra la tendencia común a "exagerar" para impulsar a los 
clientes a comprar muchas cosas a la vez.
 <br>
 <br>
El sobrevender, o ser demasiado agresivo con sus esfuerzos de ventas, a menudo pueden resultar en que el cliente se moleste por la operación y decidir no visitar su tienda de nuevo. La venta sugestiva no es una estrategia de corto plazo para aumentar temporalmente los ingresos, es a largo plazo, orientado al servicio permanentemente y construir una relación mutua y beneficiosa entre la tienda y el cliente. Con esa perspectiva a largo plazo en mente, aprenda a no poner a sus clientes en una situación incómoda en la que se sientan ofendidos en el lugar o con vergüenza al comprar más de lo que realmente quieren comprar. Trate de establecer relaciones a largo plazo con sus clientes, y será recompensado con los clientes plenamente satisfechos, las ventas de repetición, y el crecimiento a largo plazo.
 <br>
 <br>
Beneficios al aplicar el principio
 <br>
El mayor beneficio de la venta sugestiva es obtener mayores ingresos con el mismo número de transacciones. Todo el mundo sabe que mantener un cliente es más fácil y menos costoso que obtener uno nuevo. Si usted puede aprender a usar estas dos técnicas antes mencionadas con sus clientes regulares es probable que se sorprenda al ver como sus ganancias suben en cada día.
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>