<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 8: NO COMA SU INVENTARIO </h1>
<hr>
<p> 
Medel es un orgulloso propietario de una ferretería pequeña. Él vende martillos, destornilladores, sierras para madera, paneles de yeso, clavos y tornillos, cinta métrica, herramientas de plomería, niveles, y otros pequeños elementos de construcción. Cuando le ayuda a los clientes con las compras, <br><br>
Medel habla con los clientes acerca de los proyectos en que están trabajando. Le encanta escuchar todo acerca de sus planes de reparar algo en casa o en su trabajo. Porque escucha estas historias todos los días, Medel he decidido hacer algunos proyectos de reparación de casa por sí mismo. Su primer proyecto arreglar una fuga en el baño de la familia. En preparación para hacer estas reparaciones, Medel ha comenzado a abastecerse de herramientas y materiales que necesitara. Por ejemplo, ha tomado varias herramientas, una docena de piezas pequeñas  de cartón de yeso, y cajas de varios tamaños de uñas. 
<br>
<br>
Un día, Medel se dio cuenta de que a pesar de que había vendido una cantidad normal de inventario durante el la semana anterior, no tenía suficiente dinero en la tienda para hacer sus compras habituales de la semana. Miró sus registros y se alarmó al ver que una cantidad sustancial de inventario no había sido contada. Estaba convencido de que un ladrón había entrado en su tienda y había robado los productos de la tienda. Había estado preocupado por la seguridad de la tienda durante todo el día hasta que llegó a su casa esa noche y vio el montón de herramientas que estaban en la esquina de su baño. Medel entonces comprendió que él era el famoso "ladrón" al tomar artículos de la tienda para uso personal, con lo cual había dañado la habilidad de su negocio para proveer buenos artículos a sus clientes
<br>
<br>
El principio-No coma de su inventario 
<br>
La historia de Medel es un ejemplo perfecto de la fuga de dinero en efectivo que llega a las empresas cuando los propietarios del negocio (o incluso amigos y familiares de los propietarios del negocio) el uso de los bienes de la empresa para fines personales. Este problema, conocido como "comer de su inventario", ocurre con ambos productos, tanto comestibles como no comestibles. Imagine una situación en la que el propietario de un negocio de recarga de tinta llena sus cartuchos de tinta sin tener que pagar por ella. O imagine al propietario de un restaurante pequeño dando bocadillos a sus amigos como una actividad regular.
<br>
<br>
El problema es el mismo, no importa lo que la empresa haga o venda: el consumir el inventario en lugar de venderlo, lleva al inventario y al dinero del mismo fuera del negocio y esto hace que el negocio desaparezca rápidamente. Como propietario de un negocio, su intención al comprar productos es venderlos a un mayor precio y así obtener una ganancia. Cualquier desviación de esta regla de negocio tan básica puede conducir al desastre. 
<br>
<br>
Obstáculos a Superar 
<br>
Cuando la gente vive en la pobreza, las probabilidades son altas de que sus amigos y miembros de la familia sean pobres también. Si su familia tiene problemas financieros antes de iniciar su negocio, su vida cambia dramáticamente cuando decide mejorar su estatus en la vida mediante la creación de una empresa. ¡Ahora trata diariamente con productos y dinero y que probablemente manejara más dinero en su tienda en una sola semana que lo que ha tenido en toda su vida anterior!
<br>
<br>
Tenga en cuenta que con este mayor éxito pueden venir celos por parte de sus amigos y miembros de la familia. Al ver la mercancía y el dinero que se mueven a través de su empresa, que no podrán ser capaces de controlar sus celos, no en una mala manera, pero en una lógica. Probablemente no ven que los productos y el dinero, pertenecen al negocio, y que incluso podrían pensar que porque le aman y que usted los ama, pueden tener acceso a los inventarios para uso personal. A veces usted y su familia caerán  en esta trampa. El resultado es predecible y devastador: usted y su ser querido empezaran a "comer del inventario de la empresa.” Con el fin de superar esta tendencia a utilizar los bienes de la empresa para fines personales, tendrá que establecer una política firme con usted y sus seres queridos-que cualquier persona que desee obtener bienes de la empresa debe adquirirlos de la misma forma que los clientes normales. 
<br>
<br>
Beneficios al aplicar el principio 
<br>
Al establecer el "no comer de su inventario" como una política al comienzo de un negocio, podrá resistir a la tentación de utilizar los productos comerciales para uso personal. El cumplimiento de dicha política mantendrá los bienes de la empresa en la empresa y permitirá a la empresa crecer mediante la reinversión del capital de las ventas de todos los productos. (Véase la regla de oro 1 - Práctica de entidades separadas.) 
Y para los propietarios de negocios como Medel, que no establecen este tipo de política hasta que se enfrentan con un problema, los beneficios son todavía grandes. Nunca es demasiado tarde para decidir obedecer esta regla de oro; siguiendo este sencillo principio, inmediatamente será recompensado con un aumento en las ganancias  y una mayor estabilidad financiera en su vida personal y de su negocio.

</p>

</div>
</div>