<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 3: Comience pequeño; PIENSE EN GRANDE </h1>
<hr>
<p>
Juan siempre había querido abrir un negocio relacionado con la tecnología. Pero nunca tenía dinero suficiente para iniciar un pequeño negocio. Él vio la oportunidad de ganar dinero en la venta de propiedades inmobiliarias cuando su tío, que tenía unas muchísimas propiedades, pidió a Juan que le ayudara a vender una de ellas. 
<br>
<br>
Juan pensó en utilizar la Internet como un medio para la venta de la propiedad, por lo que habló con todos sus amigos y miembros de la familia para ver si alguien tenía un sitio web y estaría dispuesto a publicar un anuncio. El anuncio fue exitoso, tanto que atrajo mucho la atención, y Juan vendió la propiedad en unas pocas semanas. Juan ganó 50.000 pesos por su trabajo, y usó el dinero para comprar una propiedad más pequeña y crear su propio sitio web
Al comenzar con ese pequeño pedazo de tierra, y reinvertir sus ingresos en el negocio, y de hacer crecer su negocio de una vez, hizo de una pequeña empresa una de las más grandes compañías millonarias que compra y vende propiedades por todo el mundo.
<br>
<br>
El principio-- Inicia pequeño; Piensa en grande 
<br>
Cuando la gente comienza con negocios, suelen hacerlo sonando con los ingresos que este proporcionara y con las esperanzas de ser dueño de su propia casa, trabajando en su propio horario, y ser capaz de poder cubrir todas las necesidades de su familia (y muchos de sus deseos). Muchos empresarios nuevos ven los negocios establecidos que han funcionado durante años, y piensan que el éxito se debe al tamaño de las empresas. Al querer seguir los pasos de las grandes empresas, estos propietarios se ven en la tentación de abrir negocios caros a gran escala. 
<br>
<br>
Mientras que los propietarios de negocios impulsivos a menudo dan pie a su deseo de iniciar a lo grande, los sabios superan esa tentación y de una manera sabia deciden empezar con poco y crecer después a lo grande. Ellos han desarrollado un sentido de paciencia que les permite comenzar a una escala muy pequeña pero nunca perder de vista su intención de algún día ser grandes. Con esta perspectiva adecuada, pueden experimentar con sus pequeñas empresas cuando los riesgos son bajos y el costo del fracaso es relativamente pequeño. Ellos hacen pequeñas cosas que conducen a éxitos en pequeña escala porque saben que que al hacer las pequeñas cosas de ahora, será capaz de hacer crecer el negocio a fin de que algún día experimenten el éxito a gran escala.
<br>
<br>
Al empezar su pequeño negocio y, finalmente, empezar a tratar de aumentar su tamaño y rentabilidad parte de su proceso de experimentación podrían incluir el hacer preguntas acerca de su producto, servicio, y negocios. ¿Les gustara a los clientes este producto? ¿Es la ubicación del negocio la correcta? ¿O podría yo ser capaz de vender más productos en alguna otra parte? ¿Tengo la mezcla correcta de productos? ¿Los productos o servicios se complementan entre sí? 
<br>
<br>

Si usted decide iniciar pequeño pero pensar en grande, es probable que sea capaz de sentir exactamente cuándo empezar a hacer la transición de pequeño a grande. Si usted tiene un buen modelo y plan de negocio, y está dispuesto a trabajar duro, y aplicar cada una de las reglas de oro, finalmente llegará a un punto en donde usted tendrá demasiado trabajo por que hacer por usted mismo—demasiados clientes, demasiadas visitas y una tienda muy pequeña. En ese punto, usted sabrá que usted está a punto de ser grande, y podrá dar el siguiente paso: la contratación de empleados y delegación de responsabilidades, pasando a un lugar más grande, expandiéndose a diferentes tiendas, y así sucesivamente. Pero hasta que llegue al punto donde no puede manejar todo el negocio, la empresa debe evitar incurrir en grandes gastos innecesarios. El crecimiento del negocio debe dirigir el crecimiento en el tamaño, no al revés. Se decepcionara si optimistamente piensa que el mirar a lo grande te hará grande.
<br>
<br>
 
Muchos propietarios de negocios, se impacientan al ser pequeños, han tratado de crecer más rápido que lo que sus recursos les permiten. Y al hacerlo, se han embarcado en un espantoso (y con frecuencia mortal) viaje. Han tenido que trabajar casi sin parar, pedir prestado más y más dinero para quedarse a flote, ya veces incluso pedir prestado contra sus cuentas por cobrar (en otras palabras, utilizar el dinero que aún no tienen como garantía para un préstamo que realmente necesitan). El costo de permanecer en negocios de la luna como los propietarios se mueve más y más lejos en camino hacia una gran deuda. 
<br>
<br>

Carlos fue uno de los propietarios de tales negocios. Él tenía un gran modelo de negocio, pero no le gustaba ser pequeño. Quería la gloria de verse como grande, actuar como grande y ser grande. Pero él no estaba listo a de hecho ser grande. Después de unos meses de funcionamiento, anunció que se estaba mudando de su negocio de su sótano (donde no pagaba renta) a un espacio de oficinas alquilado que era muy agradable y prestigioso pero también muy costoso. Ahora necesitaba contratar empleados, muebles de oficina y tener negocios suficientes para pagar por todo. 
<br>
<br>
Estaba pensando en grande, pero muy pronto estaba de regreso en su pequeño sótano. Se aprendió una importante-aunque cara-lección de esa experiencia. La lección se ilustra mejor a través de las palabras de un sabio profesor de negocios: "Es mejor poner en marcha un aeroplano de los Hermanos Wright y echarlo a volar que tratar de conseguir un fuselaje ancho 747 en el aire y estrellarlo”. Tampoco es una divertida experiencia, pero el fracaso cuesta menos con el avión más pequeño. 
<br>
<br>
Obstáculos a Superar 
<br>
Aunque no todos nacemos con características competitivas, pronto se desarrolla el deseo de competir para ser mejor (o al menos sentirse mejor) que otros. Este deseo de buscar los concursos y vernos a nosotros mismos compitiendo con los demás no es más que nada en negocios un otro aspecto de la vida. Por lo general entramos en un negocio para alcanzar un objetivo interno que nos motiva a lograr algo que le da sentido a nuestra vida y las vidas de nuestros seres queridos. 
<br>
<br>
Pero muchas veces, perdemos de vista nuestros objetivos, cuando vemos el éxito que los demás están teniendo. De pronto empiezan a ver otros propietarios de negocios competidores, y pensamos que debemos tener más de lo que ellos tienen y son. Queremos que los demás piensen en nosotros como personas exitosas, por lo que comenzamos en querer cosas que pensamos que nos harán ver más exitosos: una tienda más grande, una tienda elegante, un aumento mayor al inventario necesario, uniformes bonitos, y así sucesivamente. Antes de notarlo, hemos crecido más rápido de lo que debíamos y hemos puesto nuestra estabilidad financiera en peligro. Y lo hemos hecho sólo para aparentar que somos más exitosos que la competencia de al lado.
<br>
<br>
 
Para luchar contra este impulso de crecer demasiado rápido, debe recordar que el éxito no se mide en contra de lo que los demás logran, pero en contra de su situación anterior. Usted necesita ser lento y constante, creciendo a largo plazo, sólo con este tipo de crecimiento se puede realmente alcanzar el éxito y evitar los peligros que vienen a aquellos que tratan de crecer demasiado rápido.
<br>
<br>
Beneficios de aplicar el principio
<br>
Los errores son una parte inevitable del negocio. Ningún propietario de negocio, sin importar que tan motivado o experimentado sea está exento de cometer errores durante las primeras etapas de un nuevo negocio. Al empezar en pequeño, puede asegurarse de que sus errores serán experiencias de aprendizaje las cuales le ayudaran a recuperarse de los efectos no fatales que podrían ser fatales para su negocio.
<br>
<br>
 Al planificar el crecimiento de su negocio, recuerde que si su negocio no crece, se estancara y morirá, sin embargo, el crecimiento tan grande y tan rápido también es fatal. El mejor camino a seguir al establecer un nuevo negocio es empezar poco a poco, crecer poco a poco y pensar en grande. Al seguir este sencillo pero efectivo plan podrá alcanzar el éxito de lo que ha soñado cuando planeó abrir su negocio principalmente. 

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>