<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 2: PRACTICA DE ENTIDADES SEPARADAS</h1>
<hr>
<p>
    Alvin ha trabajado duro en su negocio de venta de pescado. Cada día invirtió 80 pesos como capital para comprar 50 kilos de pescado en el mercado. Luego pasó el día vendiendo el pescado a 
las familias en su barrio. La ganancia diaria promedio era (la diferencia entre lo que gasto en 
el pescado y lo que ganaba con su venta) de 75 pesos, suficiente para comprar alimentos para su familia de cinco personas. En muy buen día de ventas, cuando la ganancia era más de lo esperado, Alvin utilizaría el dinero extra para su uso personal. 
<br>
<br>
Un día, sucedió lo inesperado, la esposa de Alvin se enfermó. El médico dijo que su estado podría 
ser tratado sólo con pastillas, lo cual serian bastante costosas. Alvin utilizo todo el dinero que tenía como capital (dinero necesarios para iniciar un negocio y comprar  el inventario para trabajar) para poder pagar por la visita del médico y la medicina tan necesaria para su esposa. Sin dinero para comprar lo del inventario, Alvin ya no podía comprar pescado para vender. Estaba fuera del negocio. 
<br>
<br>

La decisión de Alvin fue fácil de tomar. Pocas personas le culpan por haber elegido cuidar a su esposa en lugar de salvar su negocio. Pero la lección que se puede aprender de la experiencia de Alvin es que este tipo de problema se puede evitar. Si Alvin hubiera seguido el consejo de entidades de actividad independiente y hubiera puesto el dinero del negocio separado del dinero personal entonces podría haber empezado a ahorrar mucho tiempo antes para estar preparado financieramente para los gastos del negocio en curso así como para las necesidades de emergencia personal.
<br>
<br>
El principio-entidades de actividad independiente 
<br>
Cuando las personas deciden empezar un negocio, muchos luchan con el conocimiento de cómo cuidar el dinero generado por sus transacciones empresariales. La mayoría enfoca tanto su dinero personal como el del negocio dentro de la misma olla. La habilidad de separar el dinero de la empresa con el personal es necesaria para el crecimiento de la empresa. Dinero de negocios y personales necesitan ser tratados de una manera diferente, no sola en la ubicación física del dinero sino también en la mentalidad del dueño de la microempresa. Lo más separado que estén los dos tipos de dinero, lo más exitoso que la empresa será.
<br>
<br>
 Después de que su negocio es financiado inicialmente (ya sea a través de un préstamo o mediante la inversión de fondos personales), debe considerar el negocio como una organización totalmente independiente-una organización que es financieramente separada de su dinero personal. Como microempresario, usted debe comunicarse claramente con los miembros de su familia y amigos para asegurarse de que comprenden del carácter independiente de su negocio y los activos personales. El  dinero del negocio se debe utilizar estrictamente para fines relacionados con el negocio y no deben utilizarse por razones personales. 
<br>
<br>
Una vez que esta relación se entiende y se establece, trátese a usted mismo como un empleado de la compañía o negocio. En otras palabras, calcule cuánto dinero usted necesita diariamente para satisfacer sus necesidades personales, y retirar esa suma de dinero como un salario diario. Reinvierta las ganancias restantes en el negocio. Si lo hace, permitirá que el capital operativo de la empresa aumente, lo que le permite comprar más productos para vender. Aprenda a vivir con el salario determinado y deje el de capital de trabajo (es decir, intereses acumulados) para el negocio. A medida que más productos se venden, más ganancias se generan, y su sueldo puede ir aumentando lentamente. 
<br>
<br>
Obstáculos a Superar 
<br>
Dos obstáculos que impiden a los propietarios de negocios de este principio son los siguientes (1) tentaciones causada por la cantidad limitada de fondos disponibles para muchos microempresarios y (2) los deseos de la gratificación instantánea. 
<br>
<br>

Tentaciones causadas por fondos limitados 
<br>
La práctica de entidades independientes es casi inexistente en las microempresas de todo el mundo. Esto situación se debe principalmente al hecho de que muchos propietarios de microempresas tienen muy poco dinero para empezar, por lo que la idea de no utilizar todo su dinero disponible para satisfacer sus necesidades inmediatas necesidades parece una tontería. Debido a que inicialmente eran responsables de la financiación de la empresa, llegan a pensar que el negocio pasa a ser parte de sus bienes personales. Los artículos de inventario son utilizados por miembros de la familia y amigos como si los fueran propiedad de la de la familia, no de la empresa. El dinero es en ocasiones tomado directamente de la caja registradora para gastos personales. Y, en general, no hay registro de que se haya hecho una transacción por lo que el propietario de negocio no tiene manera de rastrear el movimiento del dinero o bienes que se sacan del negocio por parte de miembros de la familia.
<br>
<br>
Se puede evitar este obstáculo al decidir llevar a la práctica esta regla de oro antes incluso de abrir las puertas del negocio. Comprométase a ver el negocio como algo que está separado de usted y su familia, a pesar de que su dinero será utilizado para financiar inicialmente el negocio. Adhiriéndose a este compromiso, usted se ayuda a resistir la tentación de "préstamo" de la empresa o la "utilización" de fondos para las necesidades personales. Y al final del día si su inversión inicial se deja intacta, en la empresa dará grandes dividendos financieros para usted. 
<br>
<br>

Los deseos de gratificación inmediata 
<br>
Otro obstáculo que encuentran los propietarios de negocios en la gestión de sus cuentas financieras separadas implica el equilibrio entre el ahorro y el gasto. Ellos luchan por entender cómo es que la inversión de dinero en el negocio aumenta los rendimientos futuros y se pueden beneficiar más que a gastar el dinero en cosas que necesitan. Ellos no entienden la relación entre el retraso de la gratificación y un mayor crecimiento. 
<br>
<br>

Pero para tener éxito, debe ser disciplinado en la fijación de los sueldos y no quitar dinero adicional de la empresa. Esta disciplina le permitirá invertir en el negocio – una práctica que llevará a mayores ganancias en el futuro y un mayor sueldo. 
<br>
<br>

Beneficios de aplicar el principio 
<br>
La práctica de entidades separadas tiene muchos beneficios para el negocio y el propietario. En primer lugar, cuando mantienes los fondos del negocio y los fondos personales separados y cuando se retire un sueldo razonable de la cuenta de negocio, el negocio puede crecer. El capital circulante puede aumentar (es decir, acumular y crecer de interés) para el negocio. La disciplina en la práctica de entidades separadas le dirija ahora a mayores ganancias en el futuro. 
<br>
<br>

En segundo lugar, viviendo de un salario fijo sirve como un poderoso factor de motivación para trabajar duro y mejorar la rentabilidad de la empresa. Es necesario comprometerse a proporcionar fondos diarios suficientes para apoyar las necesidades personales de su familia, y luego trabajar para asegurarse de que usted puede hacerlo sin depender de los fondos de la empresa. Si usted sabe que tomar dinero del  negocio para satisfacer imprevistos de personal no será una opción, tendrá que trabajar más duro para asegurarse de que generara ingresos suficientes para satisfacer todas sus necesidades, incluso la situación de emergencia que son tan impredecibles. Cuando este compromiso con la práctica de entidades separadas es claro, trabajará arduamente para cumplir con sus metas financieras.
<br>
<br>

Si se practica sistemáticamente, la regla de oro “entidades separadas” lo colocará en el camino hacia la autosuficiencia y la elevación de la vida de pobreza.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>