<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 23: TRABAJE EN SU NEGOCIO, NO SOLO EN SU NEGOCIO </h1>
<hr>
<p> 
 Claudia siempre ha sido una muy buena dueña de un negocio. Su estación de reciclaje de papel ha 
estado en funcionamiento durante cerca de siete meses y está funcionando bastante bien. Aunque ella estaba bastante nerviosa para abrir el negocio, pronto descubrió que le gusta mucho hablar con 
clientes, contar la colección de cada día, creación de hojas de ingresos y otros importantes 
registros, mantenimiento la tienda ordenada, y viajar para tomar sus objetos recogidos de la más grande estación de reciclaje que se encontraba a un par de horas de distancia. Su tienda hace tanto negocio que realmente podría utilizar algo de ayuda- está totalmente inundada de trabajo de alrededor de las 7:00 am hasta las 6:30 pm, pero ella aún no ha contratado a un empleado para que le ayude.
<br>
<br>
José, un amigo de Claudia, con frecuencia le ha dicho que él piensa que ella debería abrir otra estación 
para que la gente en otras partes de la ciudad pueda utilizar de un buen ubicado negocio de papel de reciclado. Claudia esta siempre dispuesta de escuchar este elogio de José, pero ella le dice que simplemente no tiene tiempo para poner en marcha otro lugar-que está tan ocupada con su tienda en curso y no puede imaginarse el estar operando dos tiendas a la vez. José tiene miedo de que si Claudia no contrata a un empleado para ayudar con los trabajos pequeños del negocio, pronto se desgastara y nunca podrá aprovechar las oportunidades de ampliar su gran idea de negocio.
<br>
<br>
El principio de trabajo en su negocio, y no sólo en el
<br>
Los nuevos propietarios de negocios son en general muy buenos al estar en una participación adecuada en sus empresas. Reconocen que el levantar a un negocio de la nada requiere de muchísimo arduo trabajo, y por lo general están dispuestos a pagar el precio. Los dueños de Wise, para el primer año o dos, están en la tienda durante todo el día todos los días, reciben a los clientes, desarrollan relaciones con los proveedores, hacen planes para el futuro y en ocasiones hasta dan entrenamiento personal a los empleados.
<br>
<br>
Pero después de que esa fase inicial ha terminado, el negocio es bastante exitoso, algunos propietarios adoptan uno o dos niveles extremos en la participación de sus negocios. Por un lado están las personas cuyas vidas siendo totalmente consumidas por las pequeñas tareas de manejar el negocio. Prácticamente viven en la tienda al estar llenando todas las necesidades del trabajo: su interacción con cada cliente que entra, mantener todos los registros actualizados, los viajes para comprar materiales de cada proveedor, barrer y trapear el suelo por la noche, contar el inventario, pagar las cuentas, y así sucesivamente. Para estas personas, mantenerse al día con las diarias funciones de la empresa se convierte en el enfoque de sus vidas-que es todo lo que piensan y todo lo que hacen.
<br>
<br>
 
En el otro extremo están las personas que reciben el negocio y luego quieren contratar a otros para hacer todo el trabajo de mantener el negocio en funcionamiento. Estos propietarios pueden haber sido muy activos en la empresa cuando era muy joven, pero después de un rato, empiezan a salir cada vez menos. En casi nada de tiempo, los empleados están prácticamente corriendo en la tienda por su cuenta sin ningún tipo de supervisión diaria o la dirección del propietario. 
<br>
<br>
Ambos extremos pueden ser peligrosos. El dueño del negocio que está súper envuelto no tiene tiempo para estar con amigos o familia, y él esta generalmente tan ocupado con las operaciones del día a día del negocio que no da suficiente atención a la planificación estratégica que es tan importante para el crecimiento a largo plazo del negocio y su éxito. Pero el dueño totalmente ausente no tiene control sobre lo que sucede con el negocio por el que lucho tanto para establecer. No es consciente de la dirección en el que su negocio se dirige, y no presta atención a la planificación estratégica que, de nuevo, es un aspecto crucial en el crecimiento del negocio. Muchos peligros, incluyendo el robo y la mala gestión por empleados, puede costarle el negocio. 
<br>
<br>
Como un dueño inteligente, usted debe buscar el encontrar un equilibrio entre estos dos extremos-entre 
trabajar demasiado en los detalles de la empresa y no trabajar en la empresa en absoluto. Si usted se
centra exclusivamente en las tareas del día a día del negocio, o en ninguna parte de la empresa del todo, su negocio no puede crecer y en el futuro fallara. Para evitar este error, usted tiene que trabajar no sólo dentro de su negocio, sino también sobre su negocio.
<br>
<br>
Trabajar dentro del negocio significa que usted sigue siendo una parte activa en la operación diaria de la 
tienda. Usted podría servir a los clientes, entrenas a los empleados y supervisar los registros con frecuencia. Trabajar sobre su negocio significa que usted toma un tiempo muy valioso para desarrollar los objetivos estratégicos para los que desea que el negocio se convierta y que establezcan planes para lograr esos objetivos. Actividades tales como la formulación de estrategias, seguimiento de los mercados en el área local, la búsqueda de múltiples proveedores o los descuentos por volumen, la observación de los competidores, y la revisión de registros de negocios en la caída de la categoría de trabajo en su negocio.
<br>
<br>
Al trabajar tanto dentro y sobre en la empresa, puede controlar de cerca los acontecimientos diarios de la empresa y hacer ajustes rápidos cuando sea necesario y  mantener un ojo en el crecimiento global de la 
empresa. A medida que trabaja, tanto dentro como en su negocio, usted probablemente tendrá que contratar empleados confiables para supervisar los trabajos técnicos de la empresa de modo que usted puede estar seguro de que el negocio está en buenas manos, incluso cuando usted no puede estar en la tienda. Si no puede contratar a un empleado o se olvide de reservar un tiempo para trabajar en el desarrollo de la empresa, es probable que termine siendo tanto el dueño y el ayudante, es decir, que va a hacer todo el trabajo detallado y nunca terminar con el crecimiento del negocio.
<br>
<br>
Al trabajar en su negocio, usted ganará la ventaja de ser capaces de desarrollar sistemas que 
permitirán a su empresa a ser menos dependientes de la gente y más dependientes de las funciones o 
procesos. Una vez que se han desarrollado, puesto en marcha, cuidadosamente documentados, y perfeccionado un sistema, usted realmente no tendrá que preocuparse de contratar a personas con conocimientos avanzados, entonces podrá contratar casi cualquier persona que sea confianza y que pueda seguir un manual operacional y otros sistemas. Debido a que los sistemas perfectos pueden ser ejecutados por personas imperfectas, usted puede abrir varias ubicaciones o incluso franquiciar su negocio a otros propietarios de negocios.
<br>
<br>
Al final, si usted falla al trabajar en su empresa y toma tiempo para crear una estrategia, es probable que 
queden atrapados en los detalles de su negocio y nunca superen la fase de puesta en marcha. Pero si  usted toma tiempo para desarrollar estrategias sólidas y dar pequeños pasos para llegar a sus objetivos estratégicos, encontrara una mayor realización personal y las ganancias por trabajar en su negocio crecerán cada vez más a nuevos niveles de éxito. 
<br>
<br>

Obstáculos a Superar 
<br>
Así como algunos propietarios de negocios terminan en dos partes extremas de la empresa-la participación espectral, los obstáculos que encuentran al tratar de trabajar en sus empresas también encajan en dos categorías bastante extremas.
<br>
<br>
Los dueños de negocios que parecen que no pueden dejar de lado su alta participación en las tareas del día a día del negocio a menudo encuentran que luchan por superar el deseo de controlar todo lo relacionado con su negocio. Les gusta la sensación de saber exactamente lo que está pasando en el negocio porque hacen todo en el negocio. La idea de contratar a alguien para supervisar los aspectos técnicos de la empresa les asusta y les impide avanzar con la planificación estratégica.
<br>
<br>
Por otra parte, los dueños de negocios cuya emoción por estar involucrados con sus negocios 
se desvanece después de una lucha para superar su sentimiento de complacencia. Después de establecer sus empresas como fuentes de ingresos rentables, muchos dueños de negocios se sienten cómodos con su nivel de éxito y deciden hacer justo lo que necesitan hacer para mantener su nivel actual de ingresos y nivel de vida. Así que a su vez dan el control de la empresa a sus empleados y esperan hacer su vida, basada principalmente en el trabajo de sus empleados. Ellos simplemente no quieren poner el tiempo y la energía necesaria para construir el negocio a un nivel aún más alto.
<br>
<br>
Beneficios al aplicar el principio 
<br>
La superación de cualquiera de estos obstáculos, el de querer controlar todo en el negocio o querer 
dejar de trabajar duro en el negocio puede traer resultados grandes a los propietarios de negocios, su 
empleados y sus familias. Si usted puede dominar el equilibrio entre el trabajo sólo dentro del negocio y el trabajo sólo en el negocio, usted podrá pasar su tiempo en una variedad de apasionante trabajo sobre el control de las tareas pequeñas y facilitar los grandes cambios en su  empresa. Sobre todo, si quiere dedicar tiempo de calidad adecuada para trabajar en los elementos estratégicos de su negocio, entonces usted puede cosechar los enormes beneficios del crecimiento empresarial y de ingresos. 

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>