<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumbspanish>
</sidemenuruleofthumbspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 17: CONTRATE LENTO; DESPIDA RAPIDO</h1>
<hr>
<p> 
 Después de unas semanas de búsqueda de empleo en una gran ciudad, Jerry se pudo entrevistar con Andre, el propietario de Chicos Construcción, una pequeña empresa de construcción. A medida que la entrevista terminó, André estaba impresionado con las habilidades de las personas de Jerry y pensó que <br><br>
 Jerry trabajaría bien con los empleados de otras compañías y sus clientes. Así que contrató a Jerry para trabajar con proveedores, clientes y la publicidad para promover la imagen de la empresa y ayudar a las personas a familiarizarse con lo que el negocio podría hacer por ellos.
<br>
<br>
Unas semanas después de que Jerry comenzó a trabajar, André observó que Jerry estaba siempre ocupado haciendo llamadas telefónicas. Al principio, quedó impresionado por lo que parecía ser un trabajo fuerte de Jerry y el deseo de promover el negocio tan a menudo como podía. Sin embargo, después de escuchar más de cerca las conversaciones telefónicas, André encontró que la mayoría de las llamadas eran de carácter personal, Jerry pasaba largos períodos de tiempo charlando con sus amigos. Una semana después, uno de los clientes de Andrés informó que Jerry había comenzado también en representación de otras empresas que competían con Chicos de la Construcción. 
<br>
<br>
André luchó para entender el comportamiento inadecuado de Jerry, y trató de decidir qué hacer al respecto. André sabía que Jerry se había mudado recientemente a la gran ciudad, estaba luchando por llegar al fin del mes, y no tenía parientes o amigos cercanos. Así que él no quería que le lo despidieran. Sin embargo, después de unas semanas de pensar acerca de que tanto había dañado a la empresa el mal comportamiento de Jerry, André decidió que necesitaba correr a Jerry. 
<br>
<br>
Aunque Andre tuvo un mal tiempo al correr a Jerry, sabía que había tomado la decisión correcta. Él lamenta algunas cosas, sin embargo. Se dio cuenta de que no había tenido suficiente tiempo para evaluar a Jerry para el trabajo, que no le había entrenado de una manera adecuada y no había monitoreado su trabajo inmediatamente después de haberle contratado, y además había retrasado el despedir a Jerry porque estaba demasiado involucrado emocionalmente en la situación. 
<br>
<br>
André aprendido la lección de la manera difícil. Pero cuando salió a contratar el reemplazo de Jerry, cuidadosamente evaluó a cinco postulantes para el trabajo. Y cuando contrató a Alberto, el reemplazo de Jerry, trabajó codo a codo con él hasta que estaba seguro de que Alberto entendía completamente las labores de su trabajo y las expectativas de desempeño diario. André también se prometió que si Alberto causara algún tipo de problema, André le despediría rápidamente.
<br>
<br>
 El Principio contrate lento, despida rápido 
<br>
Los empleados son una parte muy importante del crecimiento de un negocio. Como el propietario del negocio, se crea la visión de la empresa, recaudar el dinero necesario para operar el negocio, organizar las prácticas del negocio y supervisar las operaciones de la empresa. Pero los empleados son a menudo responsables de las tareas pequeñas del día que tienen que ver con el manejo del negocio. Tienen que interactuar con los clientes, hacer frente a pequeños problemas que surjan, y hacer muchas otras cosas para mantener el negocio funcionando sin problemas. Si realizan bien su trabajo, pueden ayudar a que la empresa alcance sus objetivos. Pero en algunas de esas responsabilidades, los empleados también pueden causar enormes problemas para usted. Por lo que elegir a los buenos empleados es muy importante para el éxito a largo plazo de cualquier negocio. 
<br>
<br>
No todas las empresas necesitan empleados, por lo que la decisión de contratar a los empleados debe de ser tomada con cuidado y después de una buena dosis de reflexión. Antes de siquiera pensar en contratar a un empleado, es posible que desee hacerse las siguientes preguntas para evaluar su necesidad de ayuda adicional. 
<br>
</p>
<ul>

<li>¿Qué tareas podría ser realizar si tuviera más tiempo? ¿Podrían estas tareas hacerme más 
dinero? 
</li>
<li>¿Qué tareas le puedo dar a alguien más que no afectaría negativamente a mi negocio 
mientras que el empleado aprende a cómo llevar a cabo esas tareas? 
</li>
<li>¿Cuánto podría darme el lujo de pagar a otra persona? ¿Es un salario justo? 
</li>
<li>¿Cuál es el horario del día en que necesito más ayuda? 
</li>
</ul>
<p>
Si, después de pensar en estas preguntas, usted decide que su negocio realmente está listo para 
empleados, piense en tres períodos críticos involucrados en el trabajo con los empleados. 
<br>
<br>
Antes de contratar a un empleado 
<br>
En la toma de decisiones de contratación, no sólo debe contratar a quien quiera que esté disponible-debe contratar a la mejor persona para el trabajo. Encontrar la persona adecuada para el trabajo es una tarea difícil, pero se puede lograr siguiendo estos pasos. 
<br>
1. Comprométase en tomar tanto tiempo como sea necesario a fin de encontrar a la persona adecuada para el trabajo. 
<br>
2. Sepa lo que busca. Decida lo que las capacidades de su empleado necesitan tener y qué tipo de persona se adecue a los valores de la cultura y de la empresa. 
<br>
3. Antes de conocer a alguno de los candidatos, escriba una descripción del trabajo. Incluya en la descripción una lista de los siguientes elementos: (a) ¿Qué experiencia laboral la persona debe tener, (b) lo que el trabajo implica, y (c) un contrato o acuerdo de trabajo indicando qué horas el empleado trabajara, lo que se pagara al empleado, con qué frecuencia el empleado será evaluado, y 
¿qué consecuencias tendrá si ciertas condiciones del contrato no se cumplen? 
<br>
4. Verifique las referencias de cada solicitante de otros trabajos. 
<br>
5. Conozca a las personas que usted considere para contratar. Entrevísteles al menos dos veces. Si usted ya tiene a un empleado de confianza, haga que el también haga algunas de las entrevistas.
<br>
<br>
Inmediatamente después de contratar a un empleado 
<br>
Su responsabilidad no termina con la contratación de un solicitante calificado. Tan pronto como usted 
elija cuidadosamente un nuevo empleado, dedique tiempo a entrenar a la persona-para dar al nuevo empleado las herramientas necesarias para tener éxito en el trabajo. Enseñe a los empleados con exactitud cuáles son sus responsabilidades, y asegúrese de que se sientan cómodos con sus funciones antes de tener que realizarlas. A pesar de que haya contratado a personas inteligentes y capaces, haría mejor en asumir que los empleados no saben nada y deben ser enseñados a hacer todo. Esta actitud le recordará que debe de ser específico en sus instrucciones, a ser paciente con los empleados mientras aprenden, y ayudarles a construir su nivel de confianza. Un entrenamiento cuidadoso también asegura que usted no tendrá que estar corrigiendo a sus empleados continuamente y correr el riesgo de derribar su moral. 
<br>
<br>
Al comenzar la capacitación de empleados, explíqueles el objetivo del entrenamiento. Explique que 
mientras estén en entrenamiento -y por un cierto período de tiempo después de la capacitación- tienen que hacer sus tareas exactamente como usted las desea. Explique que después de ese periodo de  tiempo, si ellos han descubierto una manera más eficaz o eficiente de hacer las tareas, entonces y sólo entonces, se tendrá una discusión acerca de esa "mejor manera". 
<br>
<br>
Si, después de unos días, te encuentras con que el empleado no ha tomado la dirección que usted quiere o que no trabaja bien con los clientes u otros empleados, entonces será necesario que tome medidas correctivas inmediatamente, en lugar de esperar y esperar que la persona cambie. La gente en general no cambia por sí mismos, a menos que se les muestra un camino mejor.
<br>
<br>
 Cuando despedir a un empleado 
<br>
Todos los empleadores esperan que sus empleados trabajen a la perfección-que van a ser capaces de hacer un gran trabajo y que serán un excelente complemento para el negocio. Pero, por desgracia, muy pocos empleados serán un ajuste perfecto para las necesidades del negocio. Una vez que decida que un empleado no va a trabajar bien, no tarde en dejar que el empleado se vaya e iniciar el proceso para contratar a uno nuevo
<br>
<br>
Usted no quiere quedarse con un trabajo importante por hacer y sin nadie que lo haga por usted. Así que debe iniciar inmediatamente entrevistas para encontrar a alguien para reemplazar al empleado. No cometa el error de mantener el empleado problema en su nómina; descontento o improductivo los empleados pueden bajar la moral de otros, reducir el nivel de desempeño de otros empleados, e incluso la ruina por completo de un negocio si no son tratados con prontitud. 
<br>
<br>
Obstáculos a Superar 
<br>
En las pequeñas empresas, especialmente las de los países del tercer mundo, los empresarios suelen estar pasivamente "hablando en" contratar a un empleado en lugar de decidir activamente contratar a uno. Típicamente se toma la decisión cuando se acerca un buscador de trabajo al propietario y le ofrece en ayudar en la tienda.  La discusión es muy informal e incluye casi ninguna mención de los derechos y expectativas. Y pronto una contratación ha tenido lugar. El "empleado" empieza a llegar y ayudar alrededor. Eventualmente, el "empleado" comienza a sentirse tan a gusto con el dueño del negocio y, finalmente, con el negocio, que cambia de sentir que puede ayudar al negocio a sentir que puede ayudarse a sí mismo con los activos de la empresa. Esto, por  supuesto, llega a ser bueno para el empleado, pero malo para el empleador.
<br>
<br>
 Si decide que necesita ayuda en su negocio y quiere contratar a un empleado, usted debe comenzar 
mediante la creación de una relación formal con sus empleados. Cuando las reglas están establecidas y 
forzadas, la gente usualmente las sigue. Cuando no existen normas, la gente no sabe cómo actuar, y 
por lo que suelen acabar actuando de manera egoísta, aun cuando no lo hagan con mala intención. 
<br>
<br>
Otro obstáculo a superar, tanto en la contratación como en el despido de individuos es el deseo que todos tenemos de ayudar a quienes más queremos. A menudo, los empresarios contratarán a amigos o familiares para hacer trabajos para los que los seres queridos no están realmente capacitados. Si usted estuviera en una situación en la que su amigo realmente necesitaba un trabajo, y si usted tenía una vacante disponible, probablemente estaría tentado a dar sólo el trabajo a ese amigo cercano. Después de haberle contratado, usted puede sentirse satisfecho de que ha cubierto la vacante y a la vez, ayudado a su amigo. Pero la relación podría llegar a ser difícil cuando usted descubra que la persona que contrató no estaba calificada o capaz de hacer todo lo que se requiere en el puesto de trabajo. Despedir al empleado se convierte en lo inevitable, pero desagradable próximo paso. Y despedir a miembros de la familia, amigos y vecinos, nunca es divertido.
<br>
<br>
 Así que, claramente, la mejor manera de resolver un problema de empleados es asegurarse de que nunca se convierta en uno. No deje que nadie "ayude" en el negocio a menos que haya ensenado cuidadosamente el cómo hacer el trabajo, las cualidades que un empleado debe tener para hacer el trabajo, y la clase de experiencia que usted cree que la persona necesita para tener éxito en su negocio. 
<br>
<br>
Beneficios al aplicar el principio 
<br>
Los beneficios se derivan de las interacciones con los empleados cuando los dueños de negocios piensan cuidadosamente sobre sus decisiones al contratar y despedir. Con el fin de hacer crecer un negocio, el propietario debe contratar en general, empleados en algún momento, pero hay una manera correcta y una manera equivocada de hacer la contratación de personas. Al tomarse el tiempo suficiente para decidir sabiamente a quien contratar, puede asegurarse de que usted tendrá que despedir menos gente.
<br>
<br>
 Al contratar a la gente, recuerde que el futuro económico de su familia y su negocio dependen de usted al construir un negocio con la gente que contrata. Siempre hay que contratar a las mejores personas que puede encontrar, no a los que solo estén disponibles
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>