<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 6: Pay Yourself a Livable Salary</h1>
<hr>
<p> 
    About a year ago, Antonio opened a small pharmacy in his hometown and hired two employees to help him operate the pharmacy.  Antonio knew he would need to pay his employees on a regular basis, but he wanted to cut operating expenses, so he decided not to pay himself a salary.
<br>
<br>
His plan worked for about a week, but he soon found that he didn’t have enough money to pay for all of his family’s daily needs (such as food, clothing, and school expenses). So he periodically borrowed small amounts from the business’ cash register to cover those bills. When his youngest child suddenly acquired measles and was hospitalized for several days, Antonio had neither cash nor savings to draw upon, so he ended up using the pharmacy’s daily cash sales for five days until his child got released from the hospital.
<br>
<br>

At the end of that week, when one of Antonio’s employees went to make her usual purchase of medicines and other pharmaceutical supplies, she found no money in the cash register.  Antonio had depleted all of the business’ capital, and he had no way to get any more money. As a
result, he wasn’t able to stock his shelves with the various medicines that his regular customers needed.  Those customers were forced to start buying their products from another nearby pharmacy.  Antonio’s failure to pay himself a regular salary and discipline himself to keep the rest of the capital in the business resulted in lost sales and lost customers.
<br>
<br>

The  Principle—Pay Yourself a Livable Salary
<br>
Most microentrepreneurs start their businesses when they are in transition—often when they
have lost a job and are looking for another.  They usually plan to operate the business only until they find a regular job with an established employer.  With this short-sighted mentality, they
fail to approach their business like a real business that needs to be profitable in the long run. For example, the business owner might start out with 500 pesos, make 200 pesos in a single day, and take all 200 pesos home that night.  The next day might be really slow.  The owner
might make only 50 pesos and take that money home.  Taking all of the profits home each night prevents the owner from ever building any substantial foundation for the business and guarantees that the business will forever be small.  Taking a fixed amount as a weekly salary would be much better.  By establishing and adhering to a reasonable weekly salary, business owners can ensure that an excess amount of capital remains in the business as a security fund.
<br>
<br>

Instead of adopting a short-sighted philosophy about business, you must recognize that if your business is to succeed, it must be able to grow.  In order to grow, a business must have an ongoing source of capital—capital that should come from reinvested business profits.
<br>
<br>

In order to apply the principle of paying yourself a livable salary, you need to talk with your spouse or family and decide how much money you really need each week.  Then you must discipline yourself to generate more than that amount in weekly profit and to take out a salary of no more than that exact sum each week.  You can’t build a business unless you put a sufficient amount of profit back into the business each week.  Reinvesting your capital enables
you to do things like buying in bulk, establishing good credit, and developing new product lines to boost sales.
<br>
<br>
 
Obstacles to Overcome
<br>
Paying yourself a livable salary might seem like an easy thing to do when business is stable—
when the business is generating a lot of money each week.  But very few businesses experience stable revenues forever.  You will probably find that your business cycle is full of peaks and valleys.  During revenue peaks, you might be tempted to pay yourself more than your set salary. At those times, you’ll have to be firm with yourself and remind yourself that you are reinvesting in the business now so that you can enjoy even greater benefits in the future.
<br>
<br>

During slow times, when you don’t have successful days, you might not have any money with which to pay yourself.  At those times, your family might have to forego some of your normal activities and make do with a little less.  And you might have to recommit yourself to work hard and follow the other rules of thumb.  For example, you might have to set better goals and motivate yourself to achieve them faster.  Or you might have to work longer during a bad day
so that you don’t go home until you’ve earned what you need.  Do whatever you really need to do to meet your family’s financial needs without having to take extra money from the business.
<br>
<br>

Benefits of Applying the  Principle
<br>
If you will pay yourself a regular and livable salary, you will generally have a better perspective
about your business than will owners who take varying amounts of money from the business whenever their families need more money.  Combining the principles of paying yourself a salary and keeping good records will really help you understand and grow your business.  As a salary-paying owner, you will be more likely to see your business as a long-term endeavor that will yield legitimate sources of income; you will be more likely to follow the other essential principles explained in this book; and you will be more likely to build your business into a profitable, stable entity in a short amount of time.

</p>

</div>
</div>