<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 12: Use Suggestive Selling</h1>
<hr>
<p> 
 Holly has owned and operated a beauty parlor for years.  Her hard work has resulted in a group of faithful customers who visit her shop every time they need a haircut or another beauty treatment.  Holly has always enjoyed the work that she does, but when her oldest son was about to graduate from high school, she knew she had to somehow make more money. She wanted to pay for his technical training as a mechanic, but her current income wasn’t enough to cover his school expenses. She needed to somehow increase the beauty parlor’s revenues.
<br>
<br>
Holly knew that revenues increase when sales increase, so she tried to find ways to generate more sales each day. She couldn’t realistically attract enough new customers to significantly raise her revenues, so she started offering new services to her existing clients.  In addition to giving manicure clients a great hand treatment, she began suggesting that they also buy a pedicure treatment.  In addition to cutting clients’ hair, she began suggesting services such as a deep shampoo, hair coloring, and relaxing scalp treatments.  By using suggestive selling methods, Holly was able to increase her revenues significantly (and with very little extra work) and was easily able to pay for her son’s school.
<br>
<br>

The  Principle—Use Suggestive Selling
<br>
The idea behind suggestive selling is that instead of trying to increase sales by finding new
customers, you try to sell more to the customers you already have.  Even if you don’t think of yourself as a great salesperson, you can begin practicing suggestive selling immediately by trying two simple techniques.
<br>
<br>

Upselling Items
<br>
Upselling is a way of turning an ordinary sale into a larger sale filled with more expensive or
more comprehensive products or services.  For example, if customers come into your store dressed in swimsuits and sandals (obviously dressed for a trip to the beach) and ask for SPF-15 sunscreen, you can upsell by showing them your selection of SPF-30 sunscreens (higher-priced items) that will likely protect them from sunburns even better than the original product they wanted to buy.  If the customers are persuaded by your upselling tactic, they will buy a more expensive product and will leave the store happy with their purchase and with the help they received from you.  And you’ll be happier because you will have turned a small sale into a slightly larger and more profitable sale.
<br>
<br>

Bundling Items
<br>
You can bundle items by doing one of two things: (1) combine several related products or
services and try to sell them all together at a price below what the total price would be if the customer bought all of the products separately, or (2) notice that a customer wants to buy a product and then spontaneously create a group of items that would likely appeal to the customer.
<br>
<br>

For example, if while helping the customer, you learn that she and her family will be at the beach all weekend long, you might suggest that she prepare even more for the weekend by purchasing a sun-shading umbrella, some beach towels, and a pair of sunglasses as well as the sunscreen.
<br>
<br>
 
Or, if you anticipate that many customers will want to purchase items from your store in preparation for water destinations, you might prepare a bundle of goods in advance and then market them to customers as a great package deal.
<br>
<br>

Using Both Principles Together
<br>
These two principles can be used together to produce effective suggestive selling.  Take the
example of Sandra, a store clerk, and Marcos, a customer who comes into a pet store and begins looking at the budget-priced gold fish.
<br>
<br>

Sandra, the clerk, sees Marcos looking at the cheap gold fish, but leads him over to the more impressive and longer-living (and more expensive) tropical fish.  Once he has decided on a few beautiful tropical fish to purchase, Sandra says, “You’ll need a fish tank to keep that little guy in. These beautiful fish live only in salt water.  And we have these great 60-peso salt-water tanks on sale for just 36 pesos.” By the time Marcos leaves the store, he has purchased much more than the 8-peso fish he originally came in to get.  He is proudly carrying home several exotic species, a 36-peso fish tank, fish food, a tank light, and other fish accessories.  The sale went from a tiny 8-peso transaction to a sale of nearly 350 pesos!
<br>
<br>

Using Suggestive Selling Wisely
<br>
In order to use suggestive selling effectively, you must know your products well enough to
suggest one above another if a customer asks which product is best.  Customers don’t always know exactly which item will best meet their needs, so if you are able to make an informed suggestion, customers will likely accept your suggestions and do as you recommend.
<br>
<br>

You must also approach each sale with enthusiasm.  Use upbeat language that encourages customers to purchase items.  For example, instead of asking, “Do you want a drink?” you can ask, “Can I get you a glass of our refreshing raspberry iced tea or freshly squeezed lemonade on this hot day?”
<br>
<br>

Lastly, you must think quickly in order to effectively sell additional items.  Once you know what items the customer is planning to purchase, think of other items that would go well with those items.  Try to get the customer to buy those add-on items.
<br>
<br>

Obstacles to Overcome
<br>
Sometimes business owners get so excited by the idea of suggestive selling that they take it too
far and end up driving away business rather than attracting more business.  You can prevent these harmful effects by guarding against the common tendency to “oversell”—to push the customer to buy too much at one time.
<br>
<br>

Overselling, or being too pushy with your sales efforts, often results in the customer being upset by the transaction and deciding against visiting your store again.  Suggestive selling is not a short-term strategy to temporarily boost revenues; it is a long-term, service-oriented approach to permanently build a mutually beneficial relationship between a store and a customer.  With that long-term perspective in mind, learn to avoid putting your customers in uncomfortable
situations where they feel put on the spot or embarrassed into buying more than they really
want to buy.  Try to form long-term relationships with your customers, and you’ll be rewarded with consistently satisfied customers, repeat sales, and long-term growth.
<br>
<br>

Benefits of Applying the  Principle
<br>
The biggest benefit of suggestive selling is higher revenues with the same number of
transactions.  Everyone in business knows that keeping a customer is easier and less expensive than gaining a new one.  If you can learn to use upselling and bundling with your current base of customers, you will likely be surprised by how much more revenue you can generate each day.
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>