<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 14: Turn Your Inventory Often</h1>
<hr>
<p> 
 Years after retiring from taxi driving, Wade Cook began teaching seminars on how to make money. He often spiced up his presentations with stories from his taxi-driving days. He used one of his favorite stories to respond to people who asked how he managed to earn a good living driving people around the city all day long.  He always answered quickly and with conviction. “The money is in the flag drop.”

The response often caught people off guard.  “What do you mean?” they would ask.

“The money is in the flag drop,” he would repeat.  “On the meter of my taxi was a small red flag that was visible from both inside and outside of the taxi.  When I was looking for a customer, the flag would be up, letting people know that I was available.  When a new
passenger got in, I’d drop the flag down, starting the meter. The more times I dropped that flag each day, the more money I made.”

The  Principle—Turn Your Inventory Often
Wade Cook’s story serves as a parable to illustrate a very important business principle that is
applicable to every business in every industry.  The concept is very simple: the more often you sell and restock your inventory, the more profit you generate.  Wade Cook’s inventory was his taxi’s empty back seat; he turned that inventory every time he dropped off a customer and picked up a new customer.  And as he suggested, the more often his turned his inventory each day, the bigger his profit became.

Let’s take a step back to define some key terms.  Inventory is the products that you have in your store and can sell at any given time.  Inventory can be valued either at the price you paid for the goods or at the price you are selling the goods for.  It really doesn’t matter how you decide to value your inventory; the important thing is that you value the inventory the same way each time.

In this context, a turn of your inventory occurs when you sell all of your products.  For
example, if you purchase an inventory of 50 sandals, you complete a full “turn” of the inventory when you have sold those 50 sandals.  If you’ve priced your sandals well, you will make a
profit on each pair of sandals you sell.  And if you sell all 50 sandals, your profit will be equal to 50 times the markup on each pair of sandals.  So the more often you turn your inventory, the more profit you can make.

Pricing your products well, regularly counting inventory, and recording inventory transactions lie at the center of your quest to manage your inventory and maximize your profit.  Keep accurate records of every product purchase and every sale so that you can track how often you are turning your inventory and how much you make each time you turn it.

A Practical Example
The best way to understand this concept is to see it mathematically.  Let’s assume that Pedro, a
children’s clothing retailer, buys sandals for 60 pesos each and sells them for 100 pesos each. He has decided to value his inventory of sandals at the selling price.  At the beginning of
 
October, he has 800 pairs of sandals in his inventory.  He determines that the inventory’s total value (in terms of how much money he can make if he sells it all) is 80,000 pesos (800 pairs of sandals at the selling price of 100 pesos each).  At the end of the month, Pedro adds up all of his sales and finds that he had 80,000 pesos of sales for the month of October.  Because his
revenues are exactly equal to the value of the inventory he had at the beginning of the month, Pedro knows that he turned his inventory one time in October.  By subtracting the costs of the sandals from the revenues from the sandals, Pedro figures that his gross profit for the month was 32,000 pesos (see the following table).

Pedro is an inquisitive business owner, and he wonders how he can make more money in the same amount of time.  He does some quick math and discovers that if he were to turn his inventory 1½ times each month, he could have gross revenues of 120,000 pesos each month (and a resulting gross profit of 48,000 pesos).  And if he were to turn his inventory two times each month, he could have gross revenues of 160,000 pesos each month and a resulting gross profit of 64,000 pesos.

</p>
<div class="table-responsive">          
        <table class="table">
            <thead>
            <tr>
                <th> </th>
                <th>1 Turn</th>
                <th>1.5 Turns</th>
                <th>2 Turns</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Revenues from sandal sales	</td>
                <td>80,000
(800 x 100)	</td>
                <td>120,000
(1,200 x 100)</td>
                <td>	
160,000
(1,600 x 100)</td>
            </tr>
            <tr>
                <td>Costs of buying sandals for sale	</td>
                <td>48,000
(800 x 60)	</td>
                <td>72,000
(1,200 x 60)</td>
                <td>96,000
(1,600 x 60)</td>
            </tr>
            <tr>
                <td>Gross profit from sale of sandals	</td>
                <td>32,000	</td>
                <td>48,000	</td>
                <td>64,000</td>
            </tr>
            </tbody>
        </table>
        </div>
<p>

This example should help you to see, at least in concept, why turning your inventory is so important.  The more often you turn it—even keeping everything else constant—the more money you will make.
<br>
<br>
Obstacles to Overcome
<br>
The biggest inventory-related problems occur when business capital is tied up in slow-moving
inventory.  When money is tied up in slow-moving inventory, the cash is unavailable to the business for other purposes, such as paying bills or buying products that sell faster.  Every peso of inventory that sits on the shelf gathering dust is a peso that is not being used to its fullest capacity.  Capital that does not earn money for the business actually costs the business money. Likewise, if inventory sits on the shelf for a long time, it costs the business money.
<br>
<br>

Many shop keepers complain that their biggest cash flow problem is that they simply need more capital.  In reality, many just need to sell the slow-moving inventory that they have in their stores. By selling inventory more quickly, the store owners can recapture the capital that was used to buy the inventory, and they can then have more money to use as they need.
<br>
<br>
 
When products sit on the shelves of a store in the form of slow-moving inventory, that
inventory (or the money used to buy it) is “sleeping.” Wise business owners carefully plan how much product they need to have on hand at all times so they aren’t guilty of letting their money sleep. (This advice is not meant to suggest that you should never have more inventory than you think you can sell in a day—unless the products are perishable and will be wasted if not sold
that day.  Instead, the advice is meant to serve as a reminder to carefully consider how much inventory you need over a short time span and to buy only that much so that you don’t have a lot of excess inventory “sleeping” on your shelves.)
<br>
<br>

If you buy products on credit (with any form of borrowed money), and they end up sitting on a shelf in your store, those products are even more costly than are products purchased with cash.
If you can’t sell your credit-financed inventory fast enough, you’ll end up paying interest on the borrowed money, and those interest charges (which are incurred because of slow-moving inventory) can quickly eat up the profit from faster-moving inventory.
<br>
<br>

Benefits of Applying the  Principle
<br>
The biggest and most significant benefit of turning inventory often is that a fast-moving
inventory produces incoming cash and profits.  You should wisely keep good records so you can understand which items sell quickly and which items tend to sit on your shelves for longer periods of time.  Then build your business around those items that have a fast turnover.  When you stop thinking about your inventory as “products” and start thinking about it as “pesos,” you will realize that you should manage your inventory by carefully investing in high-profit,
fast-moving products.  You should then work hard to turn those pesos over as frequently as possible.  By doing so, you will see your sales and your profits go up rapidly.
<br>
<br>

Just as Wade Cook made more money every time his taxi’s flag dropped, you will make more money every time you turn your carefully purchased inventory.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>