<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 15: Value Your Customers</h1>
<hr>
<p> 
 Philip has been running a bottled water-distributing business for about six years.  He buys very large amounts of filtered water from distributors; repackages it into convenient, portable containers; and then sells the water to nearby businesses and residents.  Philip has about 60 customers who buy from his store on a weekly basis.  He has a weekly average revenue of 9,120 pesos, so he knows that each of his customers brings about 152 pesos of business to him each week. Philip is constantly trying to attract new customers to his business, so he knows how
hard it is to attract new customers; thus, he focuses his time and energy on keeping his current customers and encouraging them to bring even more revenue to the business either by purchasing more water from him each time they make an order or by purchasing their normal amount of water more frequently.
<br>
<br>
Philip also tries to cater to his customers’ every need while they are in his store.  He greets them in a friendly way, tries to remember their names, carries their water purchases to their bicycles or cars, and even offers to deliver the water to the home or business of his best customers. He encourages his two employees to do the same.  By showing his customers that they are important to him, Philip is able to take good care of his business’ most valuable asset: its customers.
<br>
<br>

The  Principle—Value Your Customers
<br>
When we think about valuing customers, we usually think in terms of how we should treat the
customers and what we can do to show them that we appreciate their business.  But in reality, you can show that you value your customers in two ways: (1) give them good customer service and (2) think about the financial value of each customer and then try to increase that value.
<br>
<br>

Value Customers by Serving Them Well
<br>
Customers are one of a business’ most valuable assets.  The money that customers spend in a
store is what enables owners to buy products, pay the bills, pay employees’ wages, and ultimately find success instead of failure.
<br>
<br>

An old business adage states, “If you don’t take care of your customers, someone else will.”  It has proved itself to be true over and over again.  Customers have dozens of options available to them today.  Virtually every business has competitors; thus, every customer has choices or substitute sources for the solutions he or she seeks.
<br>
<br>

In order to take care of customers, you need to have a full understanding of your customers’
wants, needs, preferences, and desires.  And you must work to ensure that each and every
first-time customer becomes a second-time and third-time customer.  Unless customers achieve satisfaction from the purchase and use of your business’ product or service, they may be unlikely to buy from your business again.  Thus, in order to retain customers, you must develop customer loyalty—you must do those things that keep the customer coming back time and time again.  This perspective on customer service should encourage you to think beyond the normal activities involved in the sales cycle.  Post-purchase activities that become important include repairs, routine maintenance, trade-ins, and re-sales.
<br>
<br>
 
So, how can you keep customers coming back?  Practice simple principles that show each customer that he or she is important to the business.
<br>
</p>
<ul>
    <li>When a customer comes into the store, acknowledge him immediately.  Approach him with a friendly smile, and introduce yourself with a handshake or other physical gesture that is appropriate in the culture.
    </li>
    <li>Take an active approach to selling.  Instead of asking, “May I help you?” ask a question that gives you an opportunity to share information about your store, your merchandise, or whatever differentiates you from other stores.  An example of such a question is, “Have you been in our store before?”
    </li>
    <li>Give as much attention to customers as they need, but give customers time to browse if they seem interested in just looking at the merchandise and taking their own time.
    </li>
</ul>
<p>
Of course, different customers will want different things from you in terms of customer service. If you truly recognize how important customers are to your business, you will do whatever is needed to make them happy.  Good customer service is always worth the effort.
<br>
<br>

Value Customers by Analyzing Their Financial Value
<br>
Research has shown that finding a new customer costs a lot more than keeping an existing
customer.  Thus, wise business owners spend most of their customer-related time and energy building and maintaining good relationships with their current customers so they can keep them for the long term.
<br>
<br>

Regardless of what business you are in, you can grow your revenues in only three ways:
<br>
(1) increase the number of customers, (2) persuade current customers to buy in larger volumes, and (3) encourage current customers to buy products more often.  Regardless of which
business-growing tactic you decide to pursue, you must realize that pursuing any of the strategies must start with an understanding of how financially valuable each customer is to the business’ bottom line.
<br>
<br>

If your business has 10,000 pesos of revenue each week and has a regular customer base of 50 pesos, then each customer has a financial value of 200 pesos per week.  If you want to increase sales, you must either take care of those customers and persuade them to buy more from you, or you must get new customers.  If you want to double your revenue, you need to double the amount of each customer’s purchases or double the number of regular customers.  The path you pursue is largely dependent on your personality and ability to attract new business.  But it all must start with an understanding of how much each customer is worth financially to the business.
<br>
<br>

Obstacles to Overcome
<br>
Business owners are usually quite interested in developing good relationships with their
customers; training employees to feel the same way is, however, often a different story. Employees are not as invested in the business (either emotionally or financially) as the owner
is, and so they sometimes see their jobs purely as sources of income and do only what they have to do in order to get paid.  This perspective often leads to poor treatment of customers by employees.
<br>
<br>
 
One of the most common complaints voiced by customers at retail stores is that employees often treat them as though they are interruptions instead of paying customers deserving of good service.  For example, a customer might walk into a store and find two employees talking with each other about something that is very non-business related.  The employees may stop their conversation to help the customer, but even then, the employees often use a tone of voice or use facial expressions that suggest that the customer has bothered them and cut into an important conversation.  Or the employees may not put their conversation on hold at all; instead, they might finish their discussion and then turn to the customer with an expression that clearly communicates, “What do you want?”
<br>
<br>

You need to carefully and consistently train your employees to serve customers well. Customer-service training should involve reinforcing in the employees’ minds the importance of customers; teaching employees to greet customers, identify their needs, and help them find the products that can satisfy those needs; and encouraging employees to treat every customer with respect.  Frequent, consistent training will help ensure that employees develop and maintain the proper perspective on customer service.
<br>
<br>

Benefits of Applying the  Principle
<br>
By valuing your customers—and teaching your employees to value your customers—you work
to develop loyal customers whose relationships with the business sustain it from day to day and from year to year.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>