<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 25: Focus, Focus, Focus</h1>
<hr>
<p> 
  About a month after finishing a mechanical engineering program at a small technical college, Andréa returned home without a job and with no real direction in her professional life.  Her friends and family members encouraged her to use her new skills to start a business, but they couldn’t agree on what kind of business opportunity she should pursue.  Some wanted her to start a small-appliance repair shop; some wanted her to create her own brand of light fixtures; and some wanted her to open a retail store selling electrical components to consumers.
<br>
<br>
Andréa couldn’t decide which business sounded most exciting to her, so she decided to pursue all three.  She borrowed money from her family members, got a small loan from a microcredit lender, and put all of her energy into making her businesses work. For three months, she wore herself out, jumping back and forth between the three shops (which were fortunately located only four blocks apart), working with all of her various suppliers, and catering to the needs of all of her customers. She managed to turn a very small profit at the repair shop during the third month, but the other two stores were suffering badly. She just had so many customers at the repair shop that she could find very little time to serve customers at the other two stores.
<br>
<br>

After continuing to put in 14-hour days for another two months, Andréa finally decided that she could no longer handle the pressure of running all three stores.  She hadn’t had time to keep records for any of her businesses, but she could tell that she made more at the repair shop than at the other two businesses.  So she decided to close the other stores and focus her efforts more directly on her appliance repair business.
<br>
<br>

That single decision has made a huge difference in Andréa’s life.  She now has time to really grow her repair business, find and take advantage of deals from multiple suppliers and wholesalers, establish short-term and long-term goals for business growth, and apply all of the other rules of thumb that she knows will make her business successful.  She is making a much bigger profit at her store than she was before she cut back to just one business, so she has started repaying her business loans.  Andréa’s friends and family members are also a lot happier now that Andréa has cut back to 10- or 11-hour days and has time to spend with them again.
<br>
<br>

Although Andréa no longer operates the other two businesses, she hasn’t completely given up on them. Her plan is to focus her efforts and attention on her repair business for a few years and then shift some responsibility for day-to-day operations to a trusted employee. She will then tackle a second business, concentrating her efforts on building that business to an
acceptable level of success.  Andréa is happy with her plan and is confident that with hard work and focused attention, she can make it a reality.
<br>
<br>

The  Principle—Focus, Focus, Focus
<br>
The prospect of starting a new business can be quite exciting.  It can motivate people to make significant changes in their life.  It can open up new earning opportunities for them.  And it can
start them on a journey of personal growth and exploration.
<br>
<br>
 
But sometimes the excitement of business can be too exciting.  Some new business owners are so excited about the possibilities that await them in business that they decide to jump into several businesses—all at the same time.  Sometimes they start two or three businesses thinking that they can succeed in all of them.  Other times, they start two or three businesses because
they just want to make sure that one will succeed.  Regardless of what their motivations may be, these over-eager business owners usually find that if they don’t focus on just one business, all
of the businesses fail.  The very action the owner thought would reduce the odds of failure (i.e., opening up multiple businesses) actually ends up increasing those odds.
<br>
<br>

In order to find success in business, you must discipline yourself to focus on just one business at a time and to pour your time, energy, and capital into that one business.  Focusing on a business means that it becomes a priority in life.  Clearly, you can’t devote all of your time and energy to the building up of the business; but you can make it one of the most significant priorities in your life.
<br>
<br>

Some of your other priorities might include time with family, church service, and time spent doing other fulfilling activities that refill your “emotional gas tank” and enable you to succeed in the other essential parts of life.  If you focus on building your business without neglecting other aspects of life, you can succeed by combining activities to involve the business and your other important objectives.  You can focus on both your family—the most important aspect of life—and your business by involving family members in the business.  Perhaps you could have your children help create, market, or sell your business’ products; this arrangement teaches the children to work hard and also involves them in the family’s income-generating activities.
<br>
<br>

While focusing on the business, concentrate your efforts on applying each of the principles discussed in this book.  Each rule of thumb is tailored to the needs of new business owners and provides owners with a list of proven principles they need to work on constantly in order to progress toward success.  Striving to follow these rules will keep you motivated on your work and ensure that each day will bring a variety of new challenges to overcome and opportunities to embrace.
<br>
<br>

Obstacles to Overcome
<br>
Focusing on the business takes a lot of hard work, and not everyone is willing to work as hard
as needed in order to be successful day in and day out.  You must fight off the temptation to take a break from your hard work, to put in less than is required on a daily basis, and to cut corners on your application of rules of the thumb.
<br>
<br>

Benefits of Applying the  Principle
<br>
Deciding to place the business as a high priority in your life might seem like a difficult, big first
step as you begin a new business.  Deciding each day to keep the business in the proper place of concentration and focus is even harder.  However, focusing on a business and making that business work with the other high priorities in life can bring you immense satisfaction.

<br>
<br>
Once you and your family decide to be dedicated to the journey of making the business thrive, you will have taken your first step toward entrepreneurial success.  And if you remember to focus all of your energy on one business instead of splitting energy, time, and capital on
 multiple businesses, you can grow that business to its full potential.  After establishing systems that will ensure that you receive money from the business no matter what employees run it, you can then move on to additional endeavors, eventually building a stable and comfortable future for yourself and your family.

</p>

</div>
</div>