<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 8: Don't Eat Your Inventory</h1>
<hr>
<p> 
   Medel is the proud owner of a small hardware store.  He sells hammers, screwdrivers, wood saws, drywall, nails and screws, measuring tape, plumbing tools, levels, and other small construction items. When he helps customers with purchases, Medel often talks with the customers about the projects they are working on.  He enjoys hearing all about their plans to repair something at home or at their place of employment.
<br>
<br>
Because he hears these stories every day, Medel has become excited about doing some home- repair projects of his own. His first project is to fix a leak in the family’s bathroom.  In preparation for making these repairs, Medel has begun stocking up on tools and materials he will need.  For example, he has taken home several tools, a dozen small pieces of drywall, and boxes of various sizes of nails.
<br>
<br>

One day, Medel noticed that even though he had sold a normal amount of inventory during the previous week, he didn’t have enough money at the store to make his usual weekly purchases. He looked through his records and was alarmed to find that a substantial amount of inventory was unaccounted for.  He was convinced that  thief must have broken into his store and stolen his products.  He worried about the store’s security all day long—until he got home that night and saw the pile of supplies sitting in the corner of his bathroom.  Medel then understood that he was the so-called “thief” and that by borrowing items from the store for personal use, he had hurt his business’ ability to supply goods to all of its customers.
<br>
<br>

The  Principle—Don’t Eat  Your Inventory
<br>
Medel’s story is a perfect example of the cash drain that comes to businesses when business
owners (or even friends and family of the business owners) use business goods for personal reasons.  This problem, nicknamed “eating your inventory,” occurs with both non-edible and edible goods.  Imagine a situation in which the owner of an ink-refilling business fills up his own ink cartridges without paying for the ink.  Or imagine the owner of a small eatery giving away sandwiches to his friends on a regular business.
<br>
<br>

The problem is the same, no matter what the business makes or sells: consuming inventory— rather than selling it—takes inventory and money out of the business and will kill the business quickly.  As a business owner, your intent when you buy products is to sell them at a higher price and make a profit.  Any deviation from this very basic business plan can lead to disaster.
<br>
<br>

Obstacles to Overcome
<br>
When people live in poverty, the odds are high that their friends and family members are very
poor as well.  If your family struggled financially before you started your business, your life changed dramatically when you decided to improve your status in life by building a business. You now deal daily with products and money—you might handle more money in one week at your store than you did during your whole life previous to your new business endeavor!
<br>
<br>

Be aware that with this increased success might come jealousy on the part of your friends and family members.  As they see the goods and money that move through your business, they
might not be able to stop themselves from becoming jealous—not in a bad way, but in a logical, 
expected way.  They will probably fail to see that the products and money belong to the business, and they might even think that because they love you and you love them, they should be able to access the inventory for their own use.  Sometimes you and your immediate family members will fall into this trap.  The result is predictable and devastating: you and your loved ones start “eating the business’ inventory.”
<br>
<br>

In order to overcome this tendency to use business assets for personal purposes, you need to establish a firm policy—with yourself and with your loved ones—that anyone who wishes to obtain goods from the business must purchase them in the same way that normal customers do.
<br>
<br>

Benefits of Applying the  Principle
<br>
By establishing a “don’t eat your inventory” policy at the very beginning of a business, you can
resist the temptation to use business products for personal use.  Sticking to this policy will keep business assets in the business and will enable the business to grow by reinvesting capital from sales of all products.  (See a similar rule of thumb in 1 – Practice Separate Entities.)
<br>
<br>

And for business owners like Medel, who don’t establish this kind of policy until they are faced with a problem, the benefits are still great.  It’s never too late to decide to obey this rule of thumb; by following this simple principle, you will immediately be rewarded with increased profits and greater financial stability in your personal life and your business.

</p>

</div>
</div>