<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 9: Use Multiple Suppliers</h1>
<hr>
<p> 
   Gwen has successfully run a small fruit stand in downtown Cebu for about ten years.  She displays her pineapple, apples, bananas, and berries in attractive, clean baskets. Her customers are very loyal to her; some visit her stand daily to purchase fruit for their families.
<br>
<br>
In a similar attitude of loyalty, Gwen has purchased her inventory from the same supplier since her first day of operation.  But at the start of this year’s summer season, Gwen’s wholesale supplier suddenly decided to raise his prices.  The supplier had visited all the fruit shops in the market and recorded the prices that the fruit stand owners charged for the produce.  Since he was selling the fruit to the stand owners for much less than the retail price, he decided to raise his prices up to the amount the customers were paying the stand owners. This left the retailers—including Gwen—in a tough position. They had to either increase their prices to continue to make a profit on each sale or shut down their businesses.
<br>
<br>

Gwen really enjoyed her business, so she chose to increase her prices.  One day later, she told her friend, “My regular customers are refusing to buy my produce.  I’m not making any money. I guess I’ll have to close my stand and do something else.”  Gwen insisted that because her supplier had “taken care of me for so many years,” she felt like she had to be loyal to him. Her unfounded sense of loyalty and her failure early on in the business to find multiple suppliers eventually cost her the business.
<br>
<br>

The  Principle—Use Multiple Suppliers
<br>
Most problems between business owners and suppliers can be avoided if business owners will
practice the habit of using multiple suppliers.  Some business owners have only one supplier because they don’t want to search for other suppliers.  But the reality is that in most local areas, several businesses act as wholesalers for identical products that microenterprise owners need in their business.  Having multiple suppliers enables business operators to bargain for low prices, take advantage of sales, and get the things they need when they need them.  It could also enable business owners to get credit from more than one supplier.
<br>
<br>

Jaime had an experience many years ago that taught him the importance of having multiple suppliers and using his power as the buyer to demand good service.  Jaime used to purchase a large amount of medical equipment from one supplier.  The supplier treated Jaime fairly; however, his customer service was poor when Jaime had a mechanical problem.  Jaime had a feeling that the poor service was the result of the supplier’s belief that he had all of Jaime’s business.
<br>
<br>

So one day, Jaime called four other suppliers and asked each supplier to meet him at his store the following Friday morning for a one-on-one meeting.  Jaime posted the names and appointment times of the competitors on the blackboard behind him in such a way that each salesperson could see the competitors’ names behind Jaime as they spoke at the desk.  He then made sure that his main supplier came in that afternoon to check on a problem he was having.
<br>
<br>

When Jaime’s main supplier came in that afternoon and saw that Jaime had spoken with the suppliers’ competitors, the supplier quickly understood the message that Jaime expected him to continually “earn” Jaime’s business.
<br>
<br>
 
As a microentrepreneur, you need to seek out multiple suppliers and help the suppliers understand that your business needs to be earned with every transaction.  When suppliers know they are in competition for your business, they will most likely treat you very well.
<br>
<br>

Selecting Suppliers
<br>
As you search for multiple suppliers, you will obviously want to find suppliers who will sell to
you for a reasonable price.  But be sure to also consider some additional issues; examine the supplier’s reliability, speed of service, delivery costs, trustworthiness, and depth of inventory. Remember that if a supplier can’t meet the needs of your business, your business will not be able to meet the needs of your customers.
<br>
<br>

When you start your business, you will most likely be very small and need certain credit and price considerations.  Many times you may need to ask for special favors from your suppliers. Be wise as you select your suppliers: look for ways to decrease the wholesale prices you pay for products and services.  Researching suppliers’ credit or consignment programs can also help
you pay less for the products that you resell.
<br>
<br>

When you begin a new business relationship with a supplier, don’t be afraid to ask for special pricing, terms, discounts, and new-customer promotions.  This is all part of the gathering process.  Remember that you often make more money by purchasing at a good price rather than by selling at a high price.
<br>
<br>

Obstacles to Overcome
<br>
As your business grows, it will inevitably change.  The suppliers who met your needs when you
were small might not be able to take care of your needs once you begin growing.  And while leaving the suppliers who took care of you when you first started might be difficult, it may be necessary in order for your business to grow, especially when you buy in larger quantities. When you look for new suppliers—or even for additional suppliers—remember to always give your current suppliers opportunities to match prices and compete.  You may be pleasantly
surprised by what they are willing to do to keep you as a regular customer, including giving you better credit terms or more products on consignment.
<br>
<br>

Benefits of Applying the  Principle
<br>
Having multiple suppliers is important for any business.  When you have more than one
supplier for each of your business’ needs, you are enabled to make better decisions—and more decisions.  With more than one supplier, you can likely get the products you need when you need them.  And you can ensure that you get the best quality for the price you are paying.
<br>
<br>

Having multiple suppliers also helps you get your products to your customers on time and at a decent price.  If you have more than one supplier, you will be able to maintain your low prices and good service even if one of your suppliers decides to raise his prices or can’t get his products to you when you need them.  (Many small businesses regularly lose sales to customers because the store is out of stock, mainly because their single supplier is out of stock.) Working 
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>