<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 16: Differentiate Your Business</h1>
<hr>
<p> 
 Naomi is a sharp young woman who likes to talk with waiters and waitresses at restaurants. One day, she enjoyed a particularly good meal at a small diner 20 kilometers from her hometown, and she asked the waiter where the restaurant got such great vegetables for its salads.  The waiter said that the vegetables came from a supplier who got them from a wholesaler in another nearby town. Naomi was intrigued by the answer and wondered if she might be able to start a similar business in her own town.
<br>
<br>
About four months after establishing her own produce business, Naomi began catering her services and products to restaurants.  Victor, a restaurant owner, was a particularly faithful customer for Naomi. One day, Victor told Naomi that unless she would lower her prices, he would have to get his fruits and vegetables from another supplier.  Naomi really couldn’t afford to lower her price, but she really didn’t want to lose Victor’s business.  So she looked for a way to give Victor more value for the same price.
<br>
<br>

Naomi knew that Victor would find value in Naomi’s product only if she were doing something that her competitors weren’t doing.  She studied the other competitors’ selection of produce and found that her produce was of a higher quality. She talked with Victor about the quality difference and tried to convince him that the better fruits and vegetables were worth a little more money.
<br>
<br>

Victor wasn’t convinced by Naomi’s explanation, and he began buying exclusively from another supplier.  Just a few weeks later, Victor called Naomi and asked her to supply his business again.  She readily agreed, and she asked Victor what had changed his mind. He explained
that he had discovered for himself the difference between her quality produce and the other supplier’s sub-par product.  He also explained that he had been frustrated by the other supplier’s late deliveries and rude employees. Victor was now convinced that Naomi’s business was better not only because her produce was fresher but also because she always delivered on time and was willing to go the extra mile to help out her customers.
<br>
<br>

With this feedback, Naomi knew that she had successfully differentiated her business—that she was offering something that others couldn’t or didn’t offer.  As a result, she was actually able to slightly increase her price and justify it by showing customers that the price was worth what they would receive in high-quality produce and good customer service.
<br>
<br>

The  Principle—Differentiate Your Business
<br>
In most third-world countries, a customer can walk down any large street in any town and find
dozens of small businesses that look exactly the same and offer the exact same products.  The copycat businesses usually start emerging when one person has a new idea (e.g., selling fruit, sewing rags into skirts, repairing bicycles) and starts a business based on that idea.  Pretty soon, others see the business and decide to duplicate it.  And before long, all of the neighbors are selling the exact same thing in the exact same way.  This phenomenon is especially true with simple businesses that are easy to understand and duplicate, and it often leads to price wars, in which businesses compete for customers based solely on who can offer the lowest price.  When these price wars happen, the supply of a product quickly becomes larger than the customers’
 
total demand for the product, and all of the businesses end up doing poorly or losing money as a result.
<br>
<br>

In order to prevent price wars and attract customers away from other businesses, you must be able to offer something unique to customers—something that differentiates your business or products from the other businesses and products in the area.  You can differentiate your products in a variety of ways.  A few of them (illustrated with the example of a fruit stand) are listed below.
<br>
</p>
<ul>
<li>Differentiate based on location.  Moving your fruit stand even just a block away from the other fruit-selling businesses might put your business in a new business district that doesn’t yet have any fruit sellers.  When moving a business to differentiate it from the competition, look for a location that is more easily accessible than your competitors’ locations.  Perhaps find a site that is closer to a parking area or bike path, so customers can see and access the fruit stand more conveniently.
</li>
<li>Differentiate based on products.  Carrying a wide variety of fruits, innovating with new products (e.g., fruit salads), selling complements, or packaging products in unique ways might entice customers to visit your fruit stand or to buy more from your store than they might usually do.
</li>
<li>Differentiate based on business services.  Offering lines of credit to big-spending customers might keep them coming back to your business.
</li>
<li>Differentiate based on customer service.  Doing small things like delivering fruit to customers’ homes, offering services with products, or developing a reputation for delivering on time can help boost sales tremendously.
</li>
</ul>
<p>
Obstacles to Overcome
<br>
Differentiating a business from its competitors is not something that happens overnight.  It takes
time and creativity.  But anyone can do it.  The first step is just being aware of the need to differentiate your business.  Once you are aware that differentiation is vital, actually doing it is quite simple.  It all comes down to observation—of businesses in different industries and of your competitors—and innovation.
<br>
<br>

By observing businesses in different industries, you can gain a lot of insight into the operations of your own business.  For example, when the mass production of cold cereal became big-time business, industry leaders toured automobile production factories to learn how to streamline their operations.  From their observations, the cereal manufacturers learned that the assembly line structure that facilitated the mass production of cars could be modified and used in the production of cold cereal.  The implementation of what they learned helped these innovative cold cereal companies differentiate themselves and produce and sell their goods more quickly. The same principle can work for you—no matter how small your business might be.  See what innovations are happening in other industries and think about how those principles can help you differentiate your offerings and your business from competitors within your industry.
<br>
<br>

As you think about how to differentiate your business, don’t forget to observe what your competitors are doing as well.  We can learn a lot from watching what others are doing and from thinking about how to improve upon their innovations.  For example, if you see that your 
competitors are experimenting with their product displays, see how you can create an even better display.  Or if you observe that your competitors are expanding their product lines, think about how you might expand your line in a different way and perhaps couple it with a line of services as well.  By staying informed about ways in which others are trying to innovate, you can get new ideas and hopefully stay one creative step ahead of the competition.
<br>
<br>

Benefits of Applying the  Principle
<br>
The benefits of differentiating a business are as varied as the ways in which you can
differentiate the business.  Differentiation can help the business get out of an emerging price war, create a foundation for future expansion, and gain a reputation that can lead to great word- of-mouth advertising and publicity.  In short, differentiating a business can distinguish it from similar businesses and attract customers who are looking for something new and fresh.

</p>

</div>
</div>