<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 4: Be Nice Later</h1>
<hr>
<p>
 Raquel, a first-time business owner, ventured into a ready-to-wear garment business and planned to start small by selling clothing to her friends, relatives, and officemates.  She took her savings of 1,000 pesos and bought an initial inventory of shirts, shorts, pants, and socks.
Raquel was excited to see how well the items were received by her friends and family members. They liked the items very much and were eager to talk about Raquel’s products with their friends and neighbors.  The word-of-mouth advertising paid off quickly. Soon, the store began filling up with townspeople who walked by the shop and even people from nearby neighborhoods who had heard about her products.  Raquel was feeling very good about the
way in which the business was progressing.
<br>
<br>
However, Raquel’s excitement soon turned to confusion and frustration as she observed that
not everything in her business was going perfectly.  Her friends began asking for special favors. They wanted to get special discounts on their purchases, to borrow money from her cash box, and even to take free merchandise from the store.
<br>
<br>

Raquel, wanting to please her friends and share her success with them, gave in to their requests.  She’d give them the discounts, loans, and free clothing items that they requested— without any expectation that she would someday be repaid for her favors.  Although she felt uncomfortable about sharing the assets of the business, she wasn’t really worried until one Monday morning when she went to buy the products she anticipated selling that week. When she went to pay for her usual order, she discovered that she had given away so much inventory and capital that she didn’t have enough money to buy the products she needed to sell that week. Her business was in danger of failure.
<br>
<br>

At that point, Raquel realized that her generosity and kindness was the cause of her business problems. She would either have to take out a loan or stop giving away business resources to her friends.  She decided immediately to collect on the money she had given to her friends and to make a new policy regarding purchases from the store.  In just a few days, Raquel collected about 2,800 pesos and was able to buy enough inventory to make a profit during the next week.
<br>
<br>

By deciding to “be nice later,” Raquel was able to turn her business around.  She earns a profit almost every day and reinvests that profit into the business.  With the capital, she is able to reinvest in the business, buy more inventory to sell, and save up for a future expansion. She recognizes that by investing in her business now and being nice later, she can eventually give more than just cash and products to her friends—she can give them jobs that can help meet
their long-term needs.
<br>
<br>

The  Principle—Be Nice  Later
<br>
Because we all value relationships and people, we generally like the idea of being nice to
others.  We like saying “yes” to requests, doing favors for people, and lending a helping hand. But in business, we need to learn to be nice without being taken advantage of.  Being too nice— and especially being too nice in the beginning stages of business development—can put a business in real jeopardy.
<br>
<br>
 
Many cultures develop standards and norms that suggest that saying “no” is inappropriate when someone needs something that another person has.  In third-world countries, this standard is very prevalent.  For example, if someone sees something he likes in another person’s house,
that person might compliment the home owner on the item.  The compliment usually makes the home owner feel obligated to offer the item to the other person.  The same pattern is often
found in business: business owners feel pressure to be “kind,” and they end up giving away needed business resources.  Again, being kind is good; but it is not a profitable business strategy during the opening stages of business.
<br>
<br>

Jesus’ parable of the good Samaritan teaches that although we should be generous with what we have, our greatest responsibility is to take care of our own families first.  The good Samaritan was clearly a nice person—he offered significant assistance to a man whom he did not know
and from whom he expected no repayment or thanks. The Samaritan took the wounded man out of a dangerous situation, paid for his medical treatment, and arranged for his temporary housing and food.  We all know that part of the story.  But we often fail to see the message behind the message: the Samaritan was in a position to give away his money because he had already acquired sufficient material goods and wealth.  In other words, the fact that the Samaritan had a donkey, the trust of the innkeeper (suggesting that he had good credit with the innkeeper), and money enough to pay for some expenses up front indicates that the Samaritan had previously built up a supply of goods and money.  He had previously had to say “no” so that he could now say “yes.”
<br>
<br>

You can learn an important lesson from the parable of the good Samaritan: businesses need capital in order to grow and become more profitable.  If you, in an attempt to be nice, give away that capital or merchandise instead of investing it in the business, you will be unable to fund the growth of your business, and you will eventually be left with nothing.  Trying to build a
business while also giving away money, merchandise, or jobs that don’t really need to be done is foolish and helps no one in the end.
<br>
<br>

If, instead, you can learn to tell friends and family members “no” in the beginning, you can eventually use your business’ increased capital to produce more wealth and more opportunities to help others.  For example, if you choose to be nice later, you will have sufficient money to give discounts later on, to donate merchandise to family members in need, and to hire family friends as employees—thus helping those people help their own families.
<br>
<br>

Obstacles to Overcome
<br>
Most business owners have a hard time saying “no.” They overcome that obstacle by gaining a
proper perspective on the good consequences that comes to those who know how to deny themselves now so they can enjoy more later.  This perspective is a result of understanding that when business owners say “yes” to friends and family members who ask for money or free products, they are actually saying “no” to themselves and to their potential independence.
<br>
<br>

One young business owner developed a creative plan that helps her teach her family members about why “being nice later” is so important.  This plan has really helped her overcome her hesitancy to say “no.” She says, “I always seem to need a lot of help with small jobs in my business, so I have started making my family members work in my business for the 
merchandise they want.  They seem to come around a lot less when I ask them to work a few hours for everything I give them.  This way, I feel like I’m telling them ‘yes,’ but I’m making them work for the things they get from my store.  And if they don’t want to work, they are the ones telling me ‘no,’ rather than me saying no to them.”
<br>
<br>

Saying “no” doesn’t become easier overnight.  But with a healthy perspective on what it means to be nice later, you can be more prepared to say no and can help your friends and family members realize that, in the long run, all of you can be better off if everyone learns to either say or accept “no” as the right answer for right now.
<br>
<br>

Benefits of Applying the  Principle
<br>
By postponing the desire to help others with the profits from your business, you can realize
your desires to do a lot of good for a lot of people—far more good than you would be able to do if you start off granting favors as soon as you open your doors for business.  By taking a few years (or longer, if necessary) to turn your small business into a bigger business, you can really help a larger number of people in a much more significant way.
<br>
<br>

Gwen, a business owner who sells homemade sausage, explains the benefits of applying this principle very clearly.  She says, “If I can just build up my capital by putting every peso except for my small salary back into the business, the business will soon be big enough that I can hire my family to help me make the sausage.  Then I will be supporting them in a big way rather than just giving them food to eat one day at a time.”
<br>
<br>

In other words, by learning to say “no” to small requests now, you can say “yes” to bigger requests later.  The good you can do with your large resources in the long run will be much more significant than the good you can do with your small resources in the present.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>