<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 7: Buy Low; Sell High</h1>
<hr>
<p> 
   Benny was raised in Manila, but his parents are originally from Zambales, a small farming town where sweet mangos grow in abundance.  When Benny decided to start a business selling mangoes, he went back to Zambales to look for a mango supplier.  The travel from Manila to Zambales is quite long, and Benny was exhausted when he reached the town. Without comparing prices from different suppliers, he immediately ordered 1,000 mangos to be shipped to Manila.
<br>
<br>
When the shipment of fruit arrived at his shop, Benny marked up the price and began trying to sell the mangos. But he wasn’t having much success.  Benny visited nearby competitors to see if they were able to sell their mangos. The first thing he noticed when he walked by the fruit stands is that their prices were much lower than his.  Many vendors were selling their mangos for even less than Benny had paid for his.  He could not afford to drop his price and still achieve even the smallest margin.  Because he had failed to buy low, he could not sell high.
<br>
<br>

The  Principle—Buy Low;  Sell High
<br>
Two transactions are involved in every business sale: (1) the purchasing of the product by the
business owner and (2) the selling of the product to the customer.  “Buy low; sell high” addresses both sides of the sales cycle.  When you purchase raw materials for good rates and then price the products well, the resulting cost savings and additional income can be maintained through the sales cycle, flowing directly to the bottom line.
<br>
<br>

When trying to buy low, you must not sacrifice quality in the pursuit of the lowest-priced goods.  Remember two other rules of thumb that suggest the importance of buying on credit (when possible) and purchasing in bulk (when appropriate).  Using these principles in buying can help you build profits by acquiring goods at a low price.
<br>
<br>

The admonition to “sell high” doesn’t mean you should try to sell products at outrageous prices. It means being flexible enough to sell the right product at the right price and at the right time. The desire to sell a product must be balanced against two other important objectives: keeping customers happy and making sufficient profits to take care of your family.  Sometimes, you will have to sell a product at less than the highest price in order to get a slow-moving item off your shelf or get immediate access to capital for investment in quick-moving inventory.  But at other times, you will need to refuse to lower your price for one customer if you are reasonably confident that another customer will be willing to pay a higher price.  Flexibility and wisdom should guide all pricing decisions.
<br>
<br>

Two Practical Examples
<br>
Roldan, a fish merchant in Cebu, realized the importance of buying low.  He shopped around
for good suppliers and was finally able to negotiate a 5 percent discount on purchases from Evan, a fish wholesaler.  Roldan now buys at the discount and keeps his selling price the same, even though his costs are lower.  Thus, his 5 percent decrease in costs translates into an increase in profits.  With the extra profits, Roldan gives himself a small increase in his salary and puts
the rest of the increased profit into the business’ savings.
<br>
<br>
 
Buying low also works for Barbara, a tutor, who deals with services instead of products.  She hires college students to tutor other students in English, math, and science.  Although she isn’t buying raw material, she is buying time from the tutors she hires.  She has entered into an agreement that she will guarantee each tutor a specific number of hours per week if the tutor will charge her 3 percent less per hour than the tutor’s normal fee.  Buying low helps Barbara
pay less for her tutors.  Again, Barbara hasn’t lowered her prices; she has just lowered her costs. And by doing so, she is seeing more profit in her business.
<br>
<br>

Obstacles to Overcome
<br>
Most merchants are very aware that they can make money in the second stage of the sales
process by selling the product for a healthy markup.  But very few pay adequate attention to the subject of buying correctly in order to make money on the purchasing side of the business transaction as well.  They fail to realize that if they were to buy products for a lower price, they could make even more money in the sales process.  The first step to buying low is recognizing the need to do it.
<br>
<br>

A second obstacle deals with pricing.  Merchants always struggle to price their good and
services appropriately; they often become so rigid in their pricing that they end up losing money in the end (in the form of products that don’t sell because they are priced too high).  You need
to be flexible in your pricing so that you can adjust to the demands of your customers.  If you always insist on holding out for the maximum price the market will pay, you might risk missing sales that are almost as profitable.  On the other hand, if you are so eager to sell your goods that you will sell at any price—even if you could really make more money at a higher price, you’ll lose potential profits and never maximize your earning potential.  The optimum situation is to remain flexible and seek to get what you can from each willing and reasonable customer.
<br>
<br>

Benefits of Applying the  Principle
<br>
The bottom line of applying this principle is that business owners can successfully keep
customers happy and maximize their own profits by buying low and selling for an appropriately high price.  By buying low, you can save money as you purchase needed business items; by selling high, you can maximize your earnings.  Both practices, if used wisely, will send money directly to the business’ profits.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>