<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 10: Buy on Credit; Sell for Cash</h1>
<hr>
<p> 
  Jonith, a bright young man, had a hard time deciding what business to start after he graduated from a microenterprise academy. As he was walking around his hometown one day, he strolled by his high school and stopped on a street corner to wait for some cars to pass by. He noticed several students asking a delivery service employee if the store in which she worked (which was located just across the street from their school) offered photocopying services. The employee told the students that the store didn’t have any photocopiers and that, as far as she knew, no such services were available nearby.
<br>
<br>
Jonith knew that he had found his business idea.  He asked the owner of the store if he could rent a small, currently unused space inside the store.  The owner granted him permission, and they drew up a rental agreement.  The only problem was that Jonith didn’t have any money for rent.  He asked the landlady if he could pay her at the end of the month. The landlady agreed, so Jonith asked his friend Maria, who was a sales manager for an office supply company, if he could get one photocopying machine and pay for it at the end of the month.
<br>
<br>

Maria, wanting to sell a machine, relayed the request to her boss, and Jonith left the store with a receipt for the photocopier, which was delivered to his small business space the following day. Jonith didn’t have any paper to use for making copies, but he figured that if he could borrow just a few pieces, he could serve a few customers and make enough money to buy more paper.  He asked the landlady to give him 25 pieces of paper on credit; she gave him a full ream.
<br>
<br>

He then started promoting his services to students at the school near the store.  Jonith attracted so much business that very first day that he earned enough money to pay the landlady for the ream of paper she had loaned him. Jonith continued to buy his supplies on credit, and by the end of the month, he had raised enough money to pay the rent and purchase the machine, pay himself a pretty good salary, and begin a savings account to pay for a second photocopier.
<br>
<br>

The  Principle—Buy on Credit; Sell for Cash
<br>
Buying on credit enables business owners to use other people’s money (e.g., suppliers’ money)
to purchase items without paying for them immediately.  Selling for cash helps business owners maintain a stable and reliable cash flow.
<br>
<br>

In theory—and often in practice—when you buy an item on credit, you will not actually have to pay for the item until after you have sold it (depending on how quickly you can sell the item).
If this happens, you have essentially used a creditor’s money to buy a product and have used a customer’s money to pay for it.  This practice helps create a healthy cash flow because it keeps money in the business for longer periods of time and ensures that the business has cash to pay for the product once the bill becomes due.  This increase in cash flow can sometimes enable you to keep some extra cash on hand.  And having extra cash can help you take advantage of special promotions or bulk purchase discounts.
<br>
<br>

Although you can buy on credit in a wide variety of ways, three methods are most common: (1) post-dated checks, (2) consignment plans, and (3) creative lender arrangements.
<br>
<br>
 
Post-dated Checks
<br>
The option of using post-dated checks is available only in some areas of the world where banks
are plentiful and business owners have access to inexpensive or free checking.  Using
post-dated checks is an excellent way to buy merchandise on credit, but it takes some practice. The key is making sure that funds are in the bank before the check is presented at the bank.
<br>
<br>

Ursula, a pharmacy owner, is an excellent example of how a business owner can wisely use credit to her advantage.  In the Philippines, business owners have a very hard time obtaining large lines of credit (e.g., credit cards, cash advances from banks, and so forth).  But the practice of using post-dated checks is accepted in almost every industry.  So Ursula does much
of her purchasing with post-dated checks.  The process is as follows.  If Ursula were to go to the market and make a purchase on May 4, she would write a check for the full amount and date it June 4 or even August 4.  (The acceptable length of post-dated checks is generally 30 to 90 days.) The vendor from which she purchased the goods would hold onto the check until the
date for which it was written.  On that date, the vendor would cash the check and receive the appropriate money from Ursula’s bank account.

<br>
<br>
This method of using credit would enable Ursula to have merchandise in her store for 30 to 90 days prior to the time when she actually has to pay for the products.  If all goes well, Ursula could sell the merchandise before the check is presented at the bank, and she would have more than enough in the bank to cover the amount of the check.
<br>
<br>

Consignment Plans
<br>
A second method for using credit is called “selling on consignment.” Consignment selling is an
excellent way to offer more merchandise without having to pay money to purchase it and without incurring the risk of being stuck with inventory that does not sell.
<br>
<br>

This arrangement is used when a supplier needs to sell merchandise but can’t find anyone who is willing to buy it.  When this occurs, you can offer to display the supplier’s merchandise for sale in your retail store under the following conditions.  If a consigned product is sold, you will pay the supplier the normal cost of the good and keep the profit.  But if the product does not sell after a certain period of time, the supplier must agree to take back the merchandise you got on consignment.
<br>
<br>

By getting inventory on consignment, you are able to offer a wide selection for your customers and thereby increase the likelihood of having customers purchase goods from your store.
Selling items on consignment also gives you the opportunity to earn income on the markup of a product that you don’t even own yet.  In order to sell on consignment, you must keep detailed records so you don’t get a false sense of ownership over items that belong to someone else.
You must also be sure to pay the supplier for each good shortly after you sell it.
<br>
<br>

Creative Lender Arrangements
<br>
Some microenterprise owners operate in areas of the world where checks are not regularly used
and where consignment is not commonly practiced.  But even these business operators can take advantage of the benefits of buying on credit.
<br>
<br>
 
A modified consignment method can be used with suppliers who are seeking to sell merchandise but are not willing to part with their goods without any money or assurance of payment.  Let’s use Marilyn, a business owner, and Jose, a supplier, to illustrate this concept. Marilyn and Jose have done business with each other for a few months and have established a relationship of trust.  Marilyn is looking for some additional merchandise to sell in her grocery store, but she has very little cash to use in purchasing items.  So she asks Jose if he has any products that are not selling particularly well.  Jose says that he has had a hard time selling his supply of canned carrots and is worried that they might go bad if they aren’t sold soon.  His usual wholesale price is .25 pesos per can.
<br>
<br>

Thinking creatively about buying on credit, Marilyn could ask Jose if she can buy 100 cans on credit at .15 pesos per can and see if she can sell them.  She could propose that if she can sell
the cans, she will pay cash for the .15 pesos per can that she borrowed on credit; if she can’t sell the cans, Jose must take the cans back and excuse the credit.  (If, prior to making the deal, Jose is hesitant to take any unsold goods back, Marilyn might promise to pay Jose an additional five pesos for each product she sells.)
<br>
<br>

One additional way to get inventory through credit is to obtain merchandise on loan from a fellow retailer.  If you know a business owner who has slow-moving merchandise, you might ask the retailer to loan the product to you to see if you can help the original owner sell the product for a fee or a percentage of the sale.  For example, let’s suppose that Rosalima paid 25 pesos for a flashlight and has tried unsuccessfully to sell it for 45 pesos.  Samuel asks Rosalima to loan him the flashlight so that he can try to sell it for 45 pesos.  Samuel asks, “If I can’t sell it for 45 pesos, will you accept half of anything that I can make over 25 pesos?”  If Rosalima says yes, and if Samuel is successful in selling the flashlight, both benefit.  Samuel makes a little extra money on merchandise that he never paid for, and Rosalima is able to recover her costs on the flashlight (and maybe even make a little bit of profit).

<br>
<br>
Obstacles to Overcome
<br>
Two main obstacles stand in the way of business owners who are trying to buy on credit and
sell for cash.  First, suppliers might be unfamiliar with the concept of credit and might feel reluctant to sell their goods on credit.  If you are faced with this type of problem, you might consider asking for small amounts of credit and then moving to larger credit purchases when your suppliers are ready.  Show your business associates that you are credit worthy, that you will always pay them back at the promised time, and that they can benefit from selling to you on credit.
<br>
<br>

The second obstacle you might encounter has to do with your customers.  They might recognize the benefit of paying on credit and might not want to pay cash for goods they buy from you. Having cash in your business is crucial—without sufficient cash flow, your business simply can’t operate smoothly at all times.  But retaining good customers is also vital.  You might want to insist that new customers pay cash for goods but be more flexible with faithful customers, allowing them to purchase on credit occasionally.  As a rule, try to avoid credit sales whenever possible—hundreds of businesses have gone run out of cash because the owners gave credit to their customers.  If you should, however, choose to make some credit sales, be sure that you
 
always have enough cash sales to cover your credit purchases and that you keep detailed records of all credit purchases.
<br>
<br>

Benefits of Applying the  Principle
<br>
Finding creative ways to buy on credit can clearly benefit you, the business owner.  Using other
people’s money enables you to potentially generate revenue for your business without using scarce working capital.  And when you pair this good practice with the practice of selling for cash, your business’ cash flow should be sufficient to meet all of the cash demands that arise.
<br>
<br>

Remember that credit relationships always entail a little bit of risk.  You take a risk because you can’t be 100 percent sure that you will be able to sell the merchandise you bought on credit.
And the creditor assumes a risk that you won’t be able to pay for the merchandise that you bought on credit.  Because credit involves such risk, your good reputation is the best asset you can have when seeking to obtain and use credit.  Be sure to always keep your promises to your suppliers and pay your debts in a timely manner.  Using credit wisely will not only improve your profitability but also reinforce your good reputation throughout the business community.
<br>
<br>

Buying on credit and selling for cash is a very effective way of stretching your limited working capital.  This technique helps you leverage the money you have in order to get more money. Improving your money-leveraging skills will enable you to lift yourself out of poverty.
</p>

</div>
</div>