<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 21: Practice Kaizen</h1>
<hr>
<p> 
  Marketplace Meats opened for business in 2001 by producing two unique types of sausage.  The first eight months of operation were pretty rough, due mainly to the fact that many customers weren’t accustomed to the unique meat products.  The business was faced with customers’ criticisms, an overwhelming number of returned products, and pretty substantial losses.
<br>
<br>
These setbacks did not hamper the partners’ hopes of someday coming up with a good product. They set out to conquer their problems. Through around-the-clock experimentation, they discovered what kept customers from liking the product, fixed the problems, and then started marketing the improved product.  Their almost-instant success indicated that they had finally created a product that customers were looking for.  Just six months later, Marketplace Meats had a positive cash flow.
<br>
<br>

Now, the company has expanded to produce gourmet hamburger patties and supply them to smaller businesses.  Though the company isn’t as large as many others in town, its products rival the quality and taste of the products that big companies offer.  All this growth was made possible by the owners’ dedication to improve the quality of their products and build their business.
<br>
<br>

The  Principle—Practice Kaizen
<br>
Back in the 1980s, a group of business writers popularized a term that reminds business owners
of the need to continuously improve their businesses: Kaizen. The Kaizen principle traces its origins to a Japanese management concept that emphasizes the need for improvement that is both incremental (gradual) and continuous.  For those who developed the concept—and for those who have implemented it—Kaizen is a way of life, a philosophy that permeates every aspect of life and business.
<br>
<br>

When business owners decide to practice Kaizen in their lives, they commit themselves to developing personal discipline and to pursuing long-term change.  These characteristics guide the business owners in their pursuit of Kaizen-like improvement.
<br>
<br>

At a very basic level, Kaizen means continual improvement.  But a closer definition of the word reveals another level of meaning: “to take apart and put back together in a better way.”  In business, the thing that is taken apart is usually a process, system, product, or service. Businesses that embrace this application of Kaizen are characterized by a culture where asking questions, examining processes and products, and making suggestions for improvement are encouraged and rewarded.
<br>
<br>

In this way, the cycle of Kaizen activity involves standardizing an operation or product;
measuring or examining the operation or product; comparing the measurements against the
goals or requirements; innovating to meet requirements and increase productivity; standardizing the new, improved operation or product; and then beginning the cycle again.
<br>
<br>

Because Kaizen emphasizes making small, ongoing changes and then re-examining processes and products, Kaizen is a never-ending cycle.  And because it requires constant attention, the
<br>
<br>
 
Kaizen cycle is also one that encourages learning by doing.  It doesn’t suggest that the perfect solution must be found before a product is produced and sold or before an operation is implemented.  It accepts learning and improving as part of the process.  Trial and error is not only acceptable to business owners who practice Kaizen—it is part of the equation for improvement.
<br>
<br>

Obstacles to Overcome
<br>
Unfortunately, most small business owners don’t know the concept of continuous improvement;
and many of those who do know the concept either don’t understand it or don’t know how to put it into practice to improve their business and, therefore, their lives.
<br>
<br>

If you were to visit several small businesses in your hometown, you would likely find that
many of the shopkeepers you meet have been doing business the same way at the same location for years and years.  Ryan, who researched possible business options by walking around his hometown to observe businesses that were doing well, made a startling discovery one day.  He realized that the man who he saw selling cotton candy across the street from a local elementary school was the very same person who, as a younger man, had sold the very same candy at the very same spot when Ryan himself was a little boy.  For 54 years, the man had done business in the same location with the same product.  Nothing about the business had changed.  And neither had the man’s quality of life or his ability to provide for his family.
<br>
<br>

Knowing that adjusting to externally imposed change is hard for everyone and that motivating oneself to change is quite difficult as well, if you choose to apply Kaizen in your own life and in your business, you must first become comfortable with the idea of change.  You can do that by focusing on the good things that changing your business can bring to you—higher income, more free time to serve in the community, a bigger home—rather than on the difficult process of change itself.
<br>
<br>

Benefits of Applying the  Principle
<br>
Practicing Kaizen is what the successful entrepreneurs of the world are known for.  They are
constantly trying to find a better way to manufacture, distribute, and market their products and services.  Their minds are always looking to the future—to how they can do things better, faster, cheaper.  They ask of lot of forward-looking questions: Can I find new suppliers?  Can I carve out a new niche market that no one else has discovered?  What can I do better today than yesterday to make my business work better and at the same time get more of the gross revenue to the bottom line?  Change and improvement are their constant companions.
<br>
<br>

Once you come to appreciate the fact that seeking continual improvement is the only way to do better in business, you will also find that it enables you to move your business to new levels of revenue generation, of clientele growth, and of success.  Those who ignore this principle just might find themselves breaking the cotton candy maker’s 54-year record!

</p>

</div>
</div>