<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 18: Inspect More; Assume Less</h1>
<hr>
<p> For about three years now, Gladys has been engaged in exporting cocoa plants to European countries and importing unique European products (from countries such as Holland, Germany, and Italy) to sell in the Philippines.
<br>
<br>
Her business is getting quite large, so a few months ago Gladys started hiring employees to work in various aspects of the business.  Her bookkeeper, Lynn, was hired to keep records of
the company’s financial transactions.  After Gladys trained Lynn to do all the aspects of his job, Lynn was given the freedom to work more autonomously. Every month, Lynn would create a financial report showing the condition of the business.  The reports always looked fine, and Gladys felt comfortable with the business’ financial standing.
<br>
<br>

Then one month, Gladys noticed that the amount of receivables (money owed to the company by customers who pay with credit) was abnormally high.  She started calling the customers to collect the money, and she was very surprised to find out that the supposedly unpaid
receivables had actually been paid by the customers long ago.  Only then did Gladys realize that Lynn, her bookkeeper, was stealing money from her.
<br>
<br>

Gladys learned a hard but important lesson that day—she can’t just assume that her employees are doing their work honestly and correctly.  She has to regularly inspect their work to protect the company’s reputation by ensuring that all aspects of the business measure up to her expectations.
<br>
<br>

The  Principle—Inspect More;  Assume Less
<br>
So many times in business, we hear of a business owner who expected one thing to happen and
was devastated when something totally different happened instead.  Why do such things
happen?  More often than not, the problem occurs because a business owner assumes she knows what is going on in her business but fails to inspect to make sure.
<br>
<br>

In business, expecting things to happen is not enough to ensure that they will in fact happen. Once you’ve trained employees and defined your expectations for them, you must continue to inspect their work to make sure that they are doing what you want them to do, at the time that you want them to do it, in the manner you want it done.  You must inspect their work and make corrections at the time you observe the errors, unless it is in front of a customer.  (Whenever possible—and it isn’t always possible—wait until the customer leaves or the task is finished before correcting an employee, especially if the reprimand will embarrass the person. Remember the old adage: Reprimand in private, reward in public.)
<br>
<br>

Letting errors go either unnoticed or uncorrected spells trouble.  People aren’t likely to change—especially if they don’t know that they are doing anything wrong—unless they are asked to change by a supervisor or leader.  As you inspect and correct improper or faulty actions, be gentle but firm.  Reinforce your expectations for your employee, and point out differences you see between the employee’s performance and what you expect the performance to be.  Be aware of the need for periodic training to ensure that the job is always done how you want it to be done.
<br>
<br>
 
Obstacles to Overcome
<br>
As with many of the principles discussed in this book, the biggest obstacle to overcome when
trying to apply the principle of inspecting more and assuming less is a psychological obstacle. Responsible and ambitious business owners typically value independence and the ability to work how they prefer.  They often assume that if they choose to inspect their employees’ work, the employees will think that the owners don’t trust or respect them.
<br>
<br>

If you fall prey to this obstacle, the first step to overcoming it is to convince yourself of a simple truth: inspecting work does not indicate a lack of respect or trust.  Instead, when you inspect work, you show your employees that you take pride in your products and that you want your employees to be as personally involved in the process as you are.  Think of inspecting employees’ work not as a way to monitor their every move but as a way to look for opportunities to provide more training to your employees.  By inspecting more and assuming less, you can create opportunities to share your work ethic and commitment with your employees, thus encouraging them to adopt the same philosophy and take a similar amount of pride in their work.
<br>
<br>

Once you feel comfortable with the idea of inspecting your employees’ work in order to reinforce the importance of consistent, quality performance, you need to let your employees know why inspecting work is important to you.  They must come to understand that you inspect their work because you care about their ability to uphold the reputation of the business and because you want them to succeed at their assigned tasks.  Employees must come to expect that you will follow up on assignments you give to them so that they don’t become offended when you inspect their work.
<br>
<br>

Benefits of Applying the  Principle
<br>
By developing the habit of inspecting more and assuming less, you will become better able to
monitor and oversee all aspects of your business operations.  As the business owner, you are primarily responsible for the success of the business, even if your employees are in charge of smaller functions.  Inspecting employees’ work on a regular basis enables you to be more aware of what is going on in your business on a daily basis and more able to stop small problems before they become big problems.

</p>

</div>
</div>