<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 22: Make a Profit Every Day</h1>
<hr>
<p> 
  Last month, Domenic opened a grocery store in a newly developed area of town. When he first opened the doors for business, he was one of only three food shops within walking distance of most of the homes, so he was confident that his business would be profitable very quickly. During the first few weeks, Domenic worked hard to earn enough money to pay off his business loans and other costs, but he found himself falling further and further behind in his daily
interest payments. He also found that he didn’t have enough money to buy as many products as he needed each day, so his inventory was shrinking.
<br>
<br>
He asked a friend who had established several successful businesses to help him understand why his business, which he had such high hopes for, was doing so poorly. Noemi started by looking at Domenic’s books and observing transactions at the store.  She noticed that, on almost a daily basis, Domenic was losing money. He was charging more for his goods than what he was paying for them, but he simply wasn’t charging enough to cover his non-product- related costs.  She observed that he worked sporadic hours and would go home each night whenever he felt like he had worked enough.  After a few days of watching these dangerous patterns, Noemi told Domenic that she had seen several things he could fix in his business and that all of the problems could be traced back to one simple problem: he wasn’t making a profit every day.
<br>
<br>

<br>
The  Principle—Make a Profit Every Day
<br>
Profit is defined as a business’ revenues minus its costs for any set period of time.  In
application, profit is the money left after you have purchased your products, marked them up, sold them, and paid all of the related expenses (including things like electricity, rent, payroll, and the owner’s salary).  Because your business cannot survive without capital, your most basic business goal should be to make a profit every day.
<br>
<br>

Central to the idea of making a profit every day is the fact that a business must sell something in order to have the potential to make a profit.  You might think that if you take the day off, you haven’t lost any money.  But that assumption is not true.  Any time you decide to close the shop and do something besides attending to the business, it costs you something—either in terms of opportunity costs or fixed costs.
<br>
<br>

The opportunity cost of any use of time is all of the other things you could have done with that time; likewise, the opportunity cost of any use of money is all of the other things you could have purchased with that money.  So when you decide to spend a day shopping or sightseeing
instead of working either in or on your business, your opportunity costs are the things you could have done for your business with that same amount of time.  For example, it might include the money you could have earned, the contacts you could have established, and the value of the strategic planning work you could have done to grow the business.
<br>
<br>

Fixed costs are incurred daily by the business regardless of how much is sold (or not sold) on any given day.  In other words, you incur fixed costs each day regardless of whether the business is open or closed.  Examples of fixed costs are rent, interest due on debt, and property taxes. So again, if you choose to not go to work on a day when you really should be working, 
you still “spend” money in the form of fixed costs but don’t generate any revenue to cover those costs.  So, choosing to skip work results in a double penalty: you don’t make any money, and you also lose money due to fixed costs.
<br>
<br>

As you think about ways to make a profit every day, keep in mind that on some days, business will be great, and you’ll earn a profit by noon.  But on other days, business will be slow, and by the time you are accustomed to going home, you might not have made enough to cover your daily costs.  On days like that, stay committed to your decision to earn a profit every day. Realize that you don’t have to close the store at the same time every day.  On slow days, you might be better off staying open as long as you can expect to have customers coming in.  An extra hour or two might make the difference between making a profit that day and going home with a loss for the day.
<br>
<br>

Pricing products well is a critical part of earning a profit.  You must establish a difference (or margin) between what you pay for a product and what you sell it for.  That margin must be large enough to cover not only the cost of the goods sold (COGS) but also a portion of the
business’ fixed costs.  (For example, if you have an inventory of 100 items, and your fixed costs total 500 pesos, the margin on each item sold must cover the cost of the item and an additional markup of 5 pesos to cover the product’s portion of the fixed costs.) Only by setting that
margin appropriately high can you actually make money on the overall transaction.  Prior to setting your prices, you must have a thorough understanding of all of your costs so that you can set your prices to cover those costs and leave extra for profit.
<br>
<br>

Obstacles to Overcome
<br>
Most of the obstacles that stand in the way of business owners making a profit each day are the
result of owners’ poor habits.  Failure to make a profit every day is often caused by owners pricing their products incorrectly, not working enough hours, or not marketing and selling their products wisely.  Overcoming poor pricing skills can usually be accomplished by keeping good records and studying them closely.  Not working enough hours is a sign of less-than-full commitment to the business and should be modified by increased motivation on the part of the owner.  And not marketing or selling products wisely requires little more than a lesson in using suggestive selling (see 12 – Use Suggestive Selling).
<br>
<br>

Benefits of Applying the  Principle
<br>
As a business owner, your goal should be to earn a big enough profit to sustain and grow the
business and to sustain your family.  Ultimately, if you aren’t able to make a profit on a consistent—even daily—basis, you won’t stay in business for long.  But by doing the little things that add up to a daily profit, you can ensure the long life of your business and meet your personal and professional financial goals.


</p>

</div>
</div>