<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 17: Hire Slow; Fire Fast</h1>
<hr>
<p> 
 After a few weeks of job searching in a large city, Jerry was able to interview with Andre, the owner of Construction Guys, a small construction company. As the interview ended, Andre was impressed with Jerry’s people skills and thought that Jerry would work well with the company’s other employees and its clients.  So Andre hired Jerry to work with suppliers, customers, and advertisers to promote the image of the company and help people become acquainted with what the business could do for them.
<br>
<br>
A few weeks after Jerry began working, Andre observed that Jerry was always busy making telephone calls.  At first, he was impressed by what appeared to be Jerry’s strong work ethic and desire to promote the business as often as he could.  However, after listening more closely to the phone conversations, Andre found that most of the calls were personal in nature—Jerry would spend long periods of time chatting with his friends.   A week later, one of Andre’s clients reported that Jerry had also started representing other companies that competed against Construction Guys.
<br>
<br>

Andre struggled to understand Jerry’s inappropriate behavior, and he tried to decide what to do about it.  Andre knew that Jerry had recently moved to the big city, was struggling to make ends meet, and had no relatives or friends nearby.  So he didn’t want to fire him. However,
after a few weeks of thinking about how much Jerry’s behavior was hurting the company, Andre decided that he needed to fire Jerry.
<br>
<br>

Although Andre had a very hard time firing Jerry, he knew he had made the right decision.  He regretted a few things, however. He realized that he had not taken enough time to fully evaluate Jerry’s qualifications for the job; he had not properly trained Jerry or monitored his work immediately upon hiring him; and he had also delayed firing Jerry because he was too emotionally involved in the situation.
<br>
<br>

Andre learned his lesson the tough way. But when he set out to hire Jerry’s replacement, he carefully evaluated five applicants for the job.  And when he hired Alberto, Jerry’s replacement, he worked side by side with him until he was sure that Alberto fully understood his job duties and daily performance expectations. Andre also promised himself that if any significant problems arose with Alberto, Andre would fire him quickly.
<br>
<br>

The  Principle—Hire Slow; Fire Fast
<br>
Employees are a very important part of a growing business.  As the business owner, you create
the vision for the company, raise the necessary money to run the business, set the business practices, and oversee the operations of the business.  But the employees are often responsible for the small, day-to-day tasks involved in running the business.  They must interact with customers, deal with small problems that arise, and do many other things to keep the business running smoothly.  If they perform their jobs well, they can help the business reach its goals.
But in any of those responsibilities, the employees can also cause tremendous problems for you. So choosing good employees is extremely important to the long-term success of any business.
<br>
<br>
 
Not every business needs employees, so the decision to hire employees should be made carefully and after a great deal of thought.  Before you even think about hiring an employee, you might want to ask yourself the following questions to assess your need for extra help.
<br>
</p>
<ul>
<li>What tasks could I be performing if I had more time?  Would these tasks make me more money?
</li>
<li>What tasks can I give to someone else that would not negatively affect my business while the employee learns how to perform those tasks?
</li>
<li>How much could I afford to pay another person?  Is that a fair wage?
</li>
<li>During which hours of the day do I need help the most?
</li>
</ul>
<p>
If, after thinking about these questions, you decide that your business really is ready for employees, think about three critical periods involved in working with employees.
<br>
<br>
Before Hiring an Employee
<br>
In making hiring decisions, you shouldn’t just hire whoever is available—you should hire the
best person for the job.  Finding the right person for the job is a hard task, but it can be accomplished by following these steps.
<br>
1.   Commit to take as much time as you need in order to find the right person for the job.
<br>
2.   Know what you are looking for.  Decide what qualifications your employee needs to have and what kind of person will fit the culture and values of the company.
<br>
3.   Before meeting any candidates, write out a job description.  Include in the description a list of the following items: (a) what work experience the person must have, (b) what the job entails, and (c) a contract or work agreement stating what hours the employee will work, what the employee will be paid, how often the employee will be evaluated, and what consequences will apply if certain conditions of the contract are not met.
<br>
4.   Check each applicant’s references from other jobs.
<br>
5.   Get to know the people you consider hiring.  Interview them at least twice.  If you already have a trusted employee, have that employee do some of the interviewing as well.
<br>
<br>

Immediately After Hiring an Employee
<br>
Your hiring responsibility does not end with the hiring of a qualified applicant.  As soon as you
carefully choose a new employee, take time to train the person—to give the new employee the tools needed for success in the job.  Teach employees exactly what their responsibilities are, and make sure they feel comfortable with their duties before they have to perform them. Although you will have hired intelligent, capable people, you’d do best to assume that the employees know nothing and must be shown how to do everything.  This attitude will remind you to be specific in your instructions, to be patient as the employees learn, and to help them build their level of confidence.  Careful training also ensures that you don’t have to continually correct your employees and run the risk of tearing down their morale.
<br>
<br>

As you begin training employees, explain to them the purpose of the training.  Explain that while in training—and for a certain period of time after the training—they are to do their tasks exactly as you want them done.  Explain that after that time expires, if they have discovered a 
more effective or efficient way of doing the tasks, then—and only then—will you have a discussion about their “better way.”
<br>
<br>

If, after a few days, you find that the employee will not take direction from you or that he is not working well with the customers or other employees, then you need to take corrective action immediately, rather than waiting and hoping that the person will change.  People generally
don’t change on their own, unless they are shown a better way.
<br>
<br>

When Firing an Employee
<br>
All employers hope that their employees will work out perfectly—that they will be able to do a
great job and that they will be an excellent match for the business.  But unfortunately, very few employees will be a perfect fit for the business’ needs.  Once you decide that an employee isn’t going to work out, do not delay in letting the employee go and starting the process to hire a
new one.
<br>
<br>

You don’t want to be left with an important job to be done and no one to do it for you.  So you should start immediately interviewing to find someone to replace the employee.  Don’t make the mistake of keeping the problem employee on your payroll; unhappy or unproductive employees can bring down others’ morale, reduce the level of performance of other employees, and even completely ruin a business if they are not dealt with promptly.

<br>
<br>
Obstacles to Overcome
<br>
In small businesses, especially those in third-world countries, business owners are usually
passively “talked into” hiring an employee rather than actively deciding to hire one.  Typically the decision is made when a job-seeker approaches the owner and offers to help out around the store.  The discussion is very informal and includes almost no mention of duties and expectations.  And soon a hire has taken place. The “employee” starts coming around and helping out.  Eventually, the “employee” begins to feel so comfortable with the business owner—and eventually with the business—that he moves from feeling like he can help out around the business to feeling like he can help himself to the assets of the business.  This, of course, becomes good for the employee but bad for the employer.
<br>
<br>

If you decide that you need help in your business and want to hire an employee, you must begin by creating a formal relationship with your employees.  When rules are established and enforced, people usually follow them.  When no rules exist, people don’t know how to act, and so they usually end up acting in self-serving ways, even if they mean no harm.
<br>
<br>

Another obstacle to overcome in both hiring and firing individuals is the desire we all have to help those we love most.  Often, business owners will hire friends or family members to do jobs for which those loved ones are not really qualified.  If you were in a situation in which your friend really needed a job, and if you had a job that needed to be filled, you would probably be tempted to just give the job to that close friend.  After hiring him, you might feel satisfied that you had both filled the position and helped out your friend.  But the relationship could become tricky if you discovered that the person you hired was not necessary qualified or able to do all that is required of the job position.  Firing the employee becomes the inevitable but unpleasant next step.  And firing family members, friends, and neighbors is never fun.
<br>
<br>
 
So, clearly, the best way to solve an employee problem is to make sure that it never becomes one.  Don’t let anyone “help” around the business unless you have carefully thought about the job that needs to be done, the qualifications an employee must have to do the job, and the kind of experience you think the person needs in order to be successful in your business.
<br>
<br>

Benefits of Applying the  Principle
<br>
Benefits are derived from interactions with employees when business owners think carefully
about their decisions to hire and fire.  In order to grow a business, the owner generally must hire employees at some point; but there is a right way and a wrong way to go about hiring people.
By taking enough time to make wise hiring decisions, you can ensure that you’ll have to make fewer firing decisions.
<br>
<br>

As you hire people, remember that the economic future of your family and your business are dependent upon you building a business with the people you hire.  You must always hire the best people you can find, not the ones who just happen to be available.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>