<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 24: Write Down Daily Weekly Business Goals</h1>
<hr>
<p> 
  Enrique, a skilled fisherman, was a smart and motivated young man. After learning about how to create successful businesses, he decided to start a fish-vending business in his home town.
<br>
<br>
At first, Enrique carried his fish over his shoulder as he walked from home to home. His aim was simple—he wanted to sell all of his fish by the time that the sun went down and people started preparing their evening meals.  With this goal in mind, Enrique worked very hard.  And each day, he ran out of fish before he ran out of daylight. His business was doing very well.
<br>
<br>

Recognizing that if he covered a larger area, he could probably sell more, Enrique purchased a bicycle with a small basket and started to expand his routes.  Again, he was successful in
selling all of his fish by the time the sun set.  So he set a larger goal.  He wanted to save enough money to buy a small truck that could transport him and his fish to another neighborhood to
sell additional amounts of fish.
<br>
<br>

This was a lofty goal.  Enrique had to work very hard in his neighborhood to earn enough money to support his family and also save for the small truck. But instead of being discouraged by the difficulty of his goal, Enrique was motivated by it.  He got up earlier in the morning to purchase the fish and begin his routes.  He’d pedal faster to make his way through the neighborhoods in less time. And he’d work as late as he needed to in order to sell all of his fish supply.
<br>
<br>

After months of this hard work, Enrique earned enough money that he was actually able to change his plan.  He decided that instead of buying a small truck and selling all of the fish by himself, he would create a system in which he would deliver his fish to one business owner in each of the nearby neighborhoods.  Those business owners would then sell the fish on the local markets.
<br>
<br>

So now, all Enrique has to do is buy the fish early in the morning, deliver the fish to his contractors in the nearby areas, and then spend his additional time monitoring the contractors and working on his business.  Enrique says that his success is due to the fact that he has learned to set goals, work hard to meet them, evaluate his progress regularly, and move steadily from one goal to another.
<br>
<br>

The  Principle—Write Down  Daily and Weekly Business Goals
<br>
People start businesses because they want to achieve something with that business.  The end
result or dream is different for each person; some want to earn more money than they can earn by working for someone else, some want increased freedom in how they use their days, and some just have an innate desire for independence and adventure.  But they all have one thing in common—they all have a dream that motivates them to start the business.
<br>
<br>

Your decision to create a business is just the beginning of your entrepreneurial journey.  Once you embark on that adventure, you must then make thousands of small decisions in order to run the business on a daily basis and make the business successful.  In the midst of those decisions, you might get caught up in the details.  You might become distracted by the daily work required 
to keep a business going.  And sometimes, you might get so focused on the daily decisions that you lose sight of the overall goal—making the business successful enough to help yourself accomplish the dream that motivated you to be in business in the first place.
<br>
<br>

Business goals can help you stay on the path toward financial success.  They serve as reminders of the larger dream and, if used properly, help guide daily decisions and actions.  They bring purpose and direction to the smaller decisions.
<br>
<br>

The Goal-setting Process
<br>
Skilled goal setters know that merely setting a goal does not guarantee the accomplishment of
that goal or bring the desired results of meeting that goal.  Once a goal is set, it needs to be reviewed often enough so that the desire to accomplish the goal is reinforced in the mind of the goal setter.  Progress toward the goals needs to be measured frequently (even daily, if possible) so that the goal setter knows how much work is yet required in order to meet the goal.  And goals need to be adjusted as circumstances require.  Sometimes we set goals that are either too hard to achieve or too easy; those kinds of goals do nothing to help motivate us and should be revised.
<br>
<br>

Characteristics  of Good Goals
<br>
Effective goals share five important characteristics.  Good goals are
Specific.  They are detailed so the goal setter knows when he has accomplished them. Measurable.  They are concrete, and progress toward them can be measured objectively. Attainable.  They are challenging but reasonably within reach of the goal setter. Realistic.  They are both practical and useful.
Time-bound.  They have a time limit attached to them.
<br>
<br>

The following goals are examples of SMART goals:
<br>
</p>
<ul>
<li>I will generate an additional 500 pesos each week so that by April 15, I can hire one more employee.
</li>
<li>I will increase my product line by one item per month until the end of the year.
</li>
<li>I will promote my business better by talking about it to five new people each day (e.g., strangers on the bus or people who attend church with me).
</li>
</ul>
<p>
Research indicates that goals that are written down are more likely to be achieved than goals that are not written down—goals that are recorded only in the goal setter’s mind.  People who write down their goals are largely in the minority.  But they generally accomplish more and earn more money than people in the majority who do not write down their goals.  Why is this? Probably because the process of actually writing something on a piece of paper helps us make more specific goals, increases our dedication to the achievement of those goals, and places the goal in our long-term memory.  And perhaps most importantly, the act of writing down a goal gives us a document that we can review often as we track our progress toward the goal.
<br>
<br>

Short-term and Long-term Goals
<br>
As a business owner, you should have both short-term and long-term goals in order to push
your business toward success.  Short-term goals guide the daily actions of the business and establish successful patterns that help the business in the long run.  Such goals might include 
increasing the number of customers served each day, obtaining an average sale amount of 200 pesos, or convincing each customer to purchase additional items every time he comes into the store (i.e., upselling).  These goals must be tracked daily and weekly to gauge progress.
<br>
<br>

Long-term goals can help you see how your daily actions lead to the overall success of the company.  Long-term goals are more strategic in nature and are not accomplished on a daily or weekly basis.  Examples of long-terms goals include increasing total sales by 10,000 pesos each month, or acquiring one new line of complementary products every four months.
<br>
<br>

Obstacles to Overcome
<br>
Goal setting is not a natural tendency for many people.  We all have dreams of one sort or
another, and we all really want to reach those dreams.  But goal setting is more than just dreaming.  It is defining our dreams in specific, measurable, attainable, realistic, and time- bound ways.  It is developing the discipline to think frequently about the goals and to work toward achieving them.  It is getting into the habit of setting and achieving increasingly harder and larger goals.  And it is gaining an appreciation for how goals can lead toward success.  And each of those activities takes work.
<br>
<br>

Perhaps the largest hurdle to overcome as you try to set goals is to just gain the courage and discipline to set the first goal.  Don’t worry about setting the perfect goal or obtaining it on a daily basis (although you should definitely be working hard to achieve it).  Just use that first goal to help you begin to feel more comfortable with the goal-setting process.  You’ll find that once you’ve set and achieved a goal, you automatically feel more determined to set and achieve the second goal, and then the third goal, and so forth.
<br>
<br>

Benefits of Applying the  Principle
<br>
The benefits of goal setting are as varied as the goals themselves.  The benefit of setting a goal
to increase profits by 100 pesos daily is that you are more likely to have that extra 100 pesos by the end of the day.  The benefit of setting a goal to keep better records is that you are more likely to keep better records and, therefore, run your business more efficiently and effectively.
<br>
<br>

Goal setting can transform your life and your business if you use it effectively and regularly.  If you will develop the habit of setting daily, weekly, and longer-term goals for your business, you will get more satisfaction out of your business activities, will build a successful business more quickly, and will be much more likely to reach the dream that prompted you to start the
business in the first place.

</p>

</div>
</div>