<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 3: Start Small; Think Big</h1>
<hr>
<p>
    
Computer-savvy Juan had always wanted to open a technology-related business.  But he had never had enough money to start a small business. He saw an opportunity to earn money by selling real estate properties when his uncle, who owned a lot of land, asked Juan to help sell one of his properties.
<br>
<br>
Juan thought of using the Internet as a medium for selling the lot, so he talked with all of his friends and family members to see if anyone had a web site and would be willing to post Juan’s advertisement on a commission basis.  The advertisement was successful—it attracted a lot of attention, and Juan sold the land within a few weeks. Juan earned 50,000 pesos for his work, and he used the money to buy some smaller pieces of land and create his own web site.
<br>
<br>

By starting with that small piece of land, reinvesting his revenues into the business, and
growing his business one sale at a time, Juan’s once-small business is now a multi-million-peso
Internet company that buys and sells properties all over the world.
<br>
<br>

The  Principle—Start Small; Think  Big
<br>
When people start businesses, they usually do so with dreams about the income the business
will provide—hopes of owning their own home, working on their own schedule, and being able to provide for all of their family’s needs (and many of their wants).  Many new business owners see established businesses that have operated for years, and they think that the success is due to the businesses’ size.  Wanting to follow in the steps of the large corporations, these owners are tempted to open up large-scale, expensive businesses.
<br>
<br>

While impulsive business owners often give way to their desire to start big, wise business owners overcome that temptation and wisely decide to start small and grow big later.  They have developed a healthy sense of patience that enables them to start out on a very small scale but never lose sight of their plan to someday be big.  With this proper perspective, they experiment with their small businesses when the stakes are low and the cost of failure is relatively small.  They do the little things that lead to small-scale successes because they know
that by doing the little things now, they will be able to grow the business so that it will someday experience large-scale success.
<br>
<br>

As you begin your small business and eventually begin trying to increase its size and profitability, part of your experimentation process might include asking questions about your product, service, and business.  Will customers like the product?  Is the location of the business the right one?  Or might I be able to sell more products somewhere else?  Do I have the right mix of products?  Do the products or services complement each other?
<br>
<br>

If you will choose to start small but dream big, you will likely be able to sense exactly when to start making the transition from small to big.  If you have a good business plan and model, are willing to work hard, and apply each of the rules of thumb, you will eventually reach a point where you have too much work to do on your own—too many customers, too many clients, too small of a store.  At that point, you will know that you are on the verge of being big, and you can take the next step: hiring employees and delegating responsibilities, moving into a bigger 
space, expanding to multiple stores, and so forth.  But until you reach the point where you can’t handle all of the business, the company should avoid incurring large, unnecessary expenses.
The growth in business should drive the growth in size—not the other way around.  You will be disappointed if you overoptimistically think that looking big will make you big.
<br>
<br>

Many business owners, growing impatient with being small, have tried to grow faster than their resources will permit them to do.  And by doing so, they have embarked on a scary (and often fatal) journey.  They have had to work almost nonstop, borrow more and more money to stay afloat, and sometimes even borrow against their accounts receivable (in other words, use money that they don’t yet have as collateral for a loan that they really need).  The cost of staying in business skyrockets as the business owners move farther and farther along the road toward
debt-laden size.
<br>
<br>

Charles was one such business owner.  He had a great business model but didn’t like being small.  He wanted the glory of looking big, acting big, and being big.  But he wasn’t ready to actually be big.  After a few months of operating, he announced that he was moving his business from his basement (where he paid no rent) to a leased office space that was very nice and prestigious but also very expensive.  Now he needed to hire employees, purchase office equipment—and enough business to pay for it all.
<br>
<br>

He was thinking big, but he was soon back in his basement—small again.  He learned an important—though expensive—lesson from that experience.  The lesson is best illustrated through the words of a wise business teacher: “Better to launch a Wright Brothers plane and get it in the air than try to get a wide-bodied 747 jet in the air and have it crash.”  Neither is a fun experience, but the failure costs less with the smaller plane.
<br>
<br>

Obstacles to Overcome
<br>
Although we aren’t all born with competitive characteristics, we soon develop the desire to
compete, to be better (or at least feel better) than others.  This desire to seek out contests and to see ourselves as being in competition with everyone else is no less true in business than in other aspects of life.  We usually enter into a business to reach an internally motivated goal—to accomplish something that will add meaning to our lives and to the lives of our loved ones.  But often times, we lose sight of our goals when we see the success that others are having.
<br>
<br>

We suddenly start seeing other business owners as competitors, and we think that we must have more than they have or be more than they are.  We want others to think of us as successful, so we begin to want the things that we think will make us look successful: a bigger store, a fancier storefront, a larger-than-necessary inventory, more colorful uniforms, and so forth.  Before we know it, we have grown faster than we should have and have put our financial stability in jeopardy.  And we’ve done it all just so that we could appear to be more successful than the business owner down the street.
<br>
<br>

To combat this impulse to grow too quickly, you should remember that success is measured not against what others accomplish, but against your previous circumstances.  You need to be content with slow, steady, long-term growth; only with this kind of growth can you truly become successful and avoid the perils that come to those who try to grow too big too fast.
<br>
<br>
 
Benefits of Applying the  Principle
<br>
Mistakes are an inevitable part of business.  No business owner—no matter how motivated or
experienced—is exempt from making a lot of mistakes during the early stages of a new business.  By starting small, you can ensure that your mistakes will be learning experiences from which you can recover—not fatal flaws that could doom your business forever.
<br>
<br>

As you plan for the growth of your business, remember that if your business never grows, it
will stagnate and die; however, too much growth too quickly is also fatal.  The best path for you to follow as you establish a new business is to start small, think big, and grow gradually.  By following this simple but effective plan, you will be able to achieve the success you dreamed of when you planned to open your business in the first place.

</p>

</div>
</div>