<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 11: Purchase in Bulk</h1>
<hr>
<p> 
  When Raul’s sausage-making store opened for business in his small neighborhood, he struggled to price his products well. He had purchasing contracts with multiple suppliers, but the suppliers were all charging overly high prices for the meats he bought, for preservatives to keep the meat from going bad, and for packaging wrap.  Although Raul’s prices weren’t the cheapest in the area, he had excellent customer service, so his customers kept coming back.
<br>
<br>
After being in business for about eight months, Raul decided that he was no longer willing to pay such high prices for his raw materials.  He hired an employee to watch the store for a few hours each day, and Raul set out to find suppliers who could give him a lower price on the things he needed most.
<br>
<br>

As he talked with various meat suppliers, Raul identified an interesting trend.  Many told him that if he would buy 80 kilos of the meat at a time (as opposed to the 35 kilos he usually bought each day), they would sell the meat to him at a significant discount—almost 25 percent lower than what he was currently paying for the meat. Raul was immediately excited about the lower bulk rate, but he was concerned that he might not be able to sell all of the meat before it went bad.  But then he remembered that his friend, who also sold food products that had to be kept cold, had recently moved to another area of town and had left his refrigerator behind.  Raul figured that if he borrowed the refrigerator to store the meat he couldn’t use immediately, he would have to pay a little more for his electricity but could still save significantly—and pass those savings on to his customers.
<br>
<br>

Raul entered into several agreements to purchase his supplies in bulk and has been very pleased with how that decision is affecting his business.  He is able to buy his meats at a much more affordable price, his profit margin has improved, and he is able to pass some of his savings on to his devoted customers. His low price is attracting new customers as well. Indeed, purchasing in bulk turned out to be a very good thing for Raul.
<br>
<br>

The  Principle—Purchase in Bulk
<br>
All businesses that sell products (as opposed to those that sell services) have one thing in
common: they have to possess items before they can sell them.  Businesses might acquire their items by purchasing them with the intent to resell them, or they must make the items using raw materials, which must be purchased as well.  Either way, the businesses have to acquire products in order to make money.  Inventories don’t just appear out of thin air.  Fruit smoothie stands can’t sell their delicious drinks without a blend of raw fruit; clothing retailers can’t sell
shirts unless they either buy the shirts from a wholesaler or buy material from a cloth maker and convert the material into fashionable shirts.
<br>
<br>

You can usually cut costs and boost profits by buying your needed items in bulk rather than in the smaller quantities that you might be accustomed to purchasing.  Suppliers want to sell their products just as much as retailers do, so suppliers are usually willing to give discounts to retailers who buy their supplies in bulk.  In a bulk-buying arrangement, the supplier benefits by selling more items in a shorter amount of time, and the purchaser benefits by paying a lower price per unit.
<br>
<br>
 
Obstacles to Overcome
<br>
Purchasing in bulk is not a risk-free opportunity for vendors.  Indeed, many dangers can be
associated with buying in bulk.
<br>
<br>

Perishable Goods
<br>
In the story at the beginning of this chapter, Raul was worried that if he bought 80 kilos of meat
rather than just 35 (which he knew he could sell in a single day), the extra 45 kilos would spoil, leaving him with unusable (albeit less expensive) meat.  Raul’s situation is representative of what many business owners face (especially owners of food-related stores) when they decide whether to buy in bulk.  You can deal with this obstacle by never buying more than you can either reasonably use in a short period of time (before it will go bad) or safely store for long periods of time.
<br>
<br>

Bundles of Products
<br>
Sometimes, suppliers will let you purchase a desired item in bulk only if you agree to also buy a
bundle of less-attractive or harder-to-sell items.  They do this so that they don’t get stuck with slow-moving inventory products.  If a supplier is requiring you to buy bundles of products in order to get a bulk discount, you should carefully evaluate whether you can actually sell the
less-attractive items.  If you think you can sell them, buy just one bundle of goods and try to sell all of the items.  If you find that you can’t sell the less-desirable items quickly enough, don’t
buy the bundle again—unless the savings you receive from buying the fast-moving products in bulk is large enough to warrant the combined purchase.
<br>
<br>

Large Upfront Costs
<br>
One of the biggest obstacles to overcome when trying to purchase in bulk is that of cash flow.
The nature of buying in bulk is that you get a larger quantity of goods (at a cheaper price per unit) but you also have to pay a larger amount of money—usually at the time of the purchase. If you are accustomed to buying small quantities of goods and reselling those quickly, then coming up with a lot of money at one time to buy a lot of goods upfront can be quite a challenge.
<br>
<br>

You can deal with this issue by finding other retailers who are selling the same product and who would be interested in buying in bulk with you.  If the upfront cost for a large amount of products is 2,000 pesos, and you can find four other people to join with you in purchasing the items, then you each pay only 400 pesos and still get the discounted bulk price without having
to pay the whole amount alone.
<br>
<br>

Inventory = Unavailable Capital
<br>
Whenever you buy a piece of inventory, you trade your capital for that item; you obviously
hope to sell the item quickly so you can convert it back into cash.  When you buy in bulk, you invest a lot of your capital in inventory that may or may not sell quickly.  If you need that capital for other purposes in your business, you would be foolish to tie it all up in inventory by purchasing in bulk.  If, however, you decide that buying in bulk is appropriate for your business, never tie all of your capital up in inventory by purchasing in bulk.  Monitor your cash needs carefully to ensure that when you need money, it will be there.
<br>
<br>
 
Beware of Fads/Trends/Styles
<br>
Retail markets all over the world operate in an environment in which customers’ desires for
some products change rather frequently and rapidly.  Some items (e.g., bread, milk, solid- colored shirts, blue jeans) are a fairly stable part of many people’s lifestyles.  But other items (e.g., tie-dyed shirts, drinkable yogurt, fried meat products) are less stable and more subject to trends/fads.  These products may be very popular for a few months and then totally drop off of the purchasing scene.

<br>
<br>
When buying in bulk, be careful not to invest too heavily in products that are part of a passing craze or fad.  If you buy a large supply of a trendy item and then find that the trend changes,
you might never be able to sell your inventory.  So, instead, concentrate your bulk purchases on items that are stable—items that people need regardless of what the current fads or styles are. By carefully choosing your bulk purchases, you save yourself from being subject to the ever- changing and never-dependable desires of the public.
<br>
<br>

Benefits of Applying the  Principle
<br>
Because all product-selling businesses need inventories, many businesses can benefit from
purchasing in bulk.  Two of the biggest benefits are bulk discounts and elimination of a middleman.
<br>
<br>

Bulk Discounts = Better Pricing
<br>
Buying in large quantities is usually the best way to get a low price on the items you purchase.
Suppliers will often be willing to sell to you at a reduced price per unit if you will purchase a large amount of goods at a single time.  The supplier benefits from this arrangement because she no longer has to store the large amount of goods; you (the purchaser) benefit because you get a good deal on the items you needs.  Bulk-rate discounts can greatly boost a business’ profitability.
<br>
<br>

Cut Out the Middleman
<br>
Purchasing in bulk can also simplify the supply chain—the process by which businesses get all
of their supplies and inventories.  Many times, retailers get their inventories through a middleman—someone who buys from wholesalers and distributes to smaller retailers.  The retailer usually pays a fee to the middleman for his or her services.  But if you plan carefully, you can buy in bulk directly from the wholesaler and bypass the middleman altogether.  By doing so, you will end up spending less money per item for the product and won’t have to pay any fees to the middleman.
</p>

</div>
</div>