<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 23: Work On Your Business, Not Just In Your Business</h1>
<hr>
<p> 
 Claudia has always been a very conscientious business owner. Her paper-recycling station has been in operation for about seven months and is doing quite well. Although she was pretty nervous about opening the business, she soon found that she really enjoys talking with customers, tallying up each day’s collection, creating income sheets and other important records, keeping the store tidy, and traveling to take her collected items to the larger recycling station a few hours away. Her store receives enough business that she really could use some help—she is totally swamped from about 7:00 a.m. till about 6:30 p.m.—but she hasn’t yet
hired an employee to help out.
<br>
<br>
Claudia’s friend, Jose, frequently tells Claudia that he thinks she should open another station so that people in other parts of town can use a conveniently located paper-recycling business. Claudia is always pleased to hear this compliment from Jose, but she tells him that she simply doesn’t have time to start up another location—she is so busy with her current store and can’t imagine trying to operate two stores at once.  Jose is afraid that if Claudia doesn’t hire an employee to help with the small jobs around the business, she will soon wear herself out and will never take advantage of opportunities to expand her great business idea.
<br>
<br>

The  Principle—Work on Your Business, Not Just in It
<br>
New business owners are generally very good about being properly involved in their
businesses.  They recognize that getting a business off the ground takes a lot of hard work, and they are usually willing to pay the price.  Wise owners, for the first year or two, are at the store all day every day, greeting customers, building relationships with suppliers, making plans for the future, and perhaps eventually training employees.
<br>
<br>

But after that initial stage is over and the business is fairly successful, some owners adopt one of two extreme levels of involvement in their businesses.  On one side are people whose lives remain totally consumed by the little tasks of running the business.  They practically live in the store as they fill all of the needed jobs: they interact with every customer who comes in, keep all of the records, travel to purchase materials from each supplier, scrub the floors at night, count the inventory, pay the bills, and so forth.  For these people, keeping up with the daily functions of the business becomes the focus of their lives—it’s all they think about and all they do.
<br>
<br>

On the other extreme are people who get the business going and then want to hire others to do
all of the work of keeping the business running.  These owners may have been very active in the business when it was very young, but after a little while, they start coming in less and less.  In almost no time at all, the employees are practically running the shop on their own without any daily supervision or guidance from the owner.
<br>
<br>

Both of these extremes can be dangerous.  The over-involved business owner has no time to spend with friends or family, and he is generally so busy with the day-to-day operations of the business that he fails to give adequate attention to the strategic planning that is so important for the business’ long-term growth and success.  But the totally absent owner has no control over what happens with the business she fought so hard to establish.  She is unaware of the direction
 
in which her business is headed, and she pays no attention to the strategic planning that, again, is a crucial aspect of business growth.  Many dangers, including theft and mismanagement by employees, can cost her the business.
<br>
<br>

As a wise business owner, you should seek to find a balance between these extremes—between working too much on the details of the business and not working in the business at all.  If you focus solely on the day-to-day tasks of the business, or on no part of the business at all, your business cannot grow and will likely fail.  To prevent this failure, you must work not only in your business but also on your business.
<br>
<br>

Working in your business means that you remain an active part of the daily operation of the store.  You might serve customers, train employees, and monitor records frequently.  Working on your business means that you take valuable time to develop strategic goals for what you want the business to become and that you establish plans for accomplishing those goals. Activities such as strategizing, monitoring markets in the local area, searching for multiple suppliers or bulk discounts, observing competitors, and reviewing business records all fall under the category of working on your business.
<br>
<br>

By working both on and in a business, you can closely monitor the daily events of the business and make fast adjustments when needed while also keeping an eye on the overall growth of the business.  As you work both on and in your business, you will probably need to hire trustworthy employees to oversee the technical work of the business so that you can be confident that the business is in good hands even when you can’t be in the store.  If you can’t hire an employee or forget to set aside time to work on developing the company, you will likely end up being both the owner and the assistant—that is, you will do all of the detail work and never end up growing the business.
<br>
<br>

By working on your business, you will gain the advantage of being able to develop systems that enable your business to be less dependent on people and more dependent on functions or processes.  Once you have developed, put into place, carefully documented, and perfected a system, you don’t really have to worry about hiring people with advanced skills—you can then hire just about anyone who is trustworthy and able to follow the operating manual and other systems.  Because perfect systems can be run by imperfect people, you can then open up multiple locations or even franchise your business to other fledging business owners.
<br>
<br>

In the end, if you fail to work on your business and take time to strategize, you will probably get caught up in the details of your business and never grow beyond the start-up stage.  But if you will make time to develop sound strategies and take small steps to reach your strategic
goals, you will find greater fulfillment—and profits—by working on your business and growing it to new levels of success.
<br>
<br>

Obstacles to Overcome
<br>
Similar to how some business owners end up on two extreme sides of the business-involvement
spectrum, the obstacles they encounter when trying to work on their businesses also fit into two fairly extreme categories.
<br>
<br>
 
Business owners who can’t seem to let go of their high involvement in the day-to-day tasks of the business often find that they struggle to overcome the desire to control everything about their business.  They like the feeling of knowing exactly what is going on in the business because they do everything in the business.  The thought of hiring someone else to oversee the technical aspects of the business scares them and prevents them from moving forward with strategic planning.
<br>
<br>

On the other hand, business owners whose excitement for being involved with their business fades after a while struggle to overcome their feelings of complacency.  After establishing their businesses as profitable sources of income, many business owners get comfortable with their level of success and decide to just do what they need to do to maintain their current level of income and standard of living.  So they turn over control of the business to their employees and hope to just make their living based mostly on the work of their employees.  They simply don’t want to put in the time and energy necessary to build the business to an even higher level.
<br>
<br>

Benefits of Applying the  Principle
<br>
Overcoming the obstacles of either wanting to control everything in the business or wanting to
stop working so hard on the business can bring great results to business owners, their employees, and their families.  If you can master the balance between working only in the business and working only on the business, you will be able to spend your time on a variety of exciting work—on monitoring the small tasks and facilitating the large changes in your businesses.  Most of all, if you will devote adequate quality time to working on the strategic elements of your business, then you can reap the tremendous benefits of business growth and income growth.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>