<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 20: Work On Your Business Ten Hours A Day And 5 1/2 Days a Week</h1>
<hr>
<p> 
    Leo is a business owner who has dreams of turning his small hamburger stand into a chain of fast-food restaurants.  He keeps good records, sets challenging goals, values his customers, buys hamburger buns and ground beef in bulk, and trains his employees carefully.  Leo is well on his way toward accomplishing his goal of expanding his business.
<br>
<br>
He wasn’t always on the right path, however. In fact, Leo faced bankruptcy early on in his entrepreneurial career.  He knew that his grandmother’s secret burger recipe (a special blend of meat, sauces, and spices) would be popular with the young professionals who work near his hamburger stand; he was convinced that his attractive storefront would attract hundreds of people each day. And he was right—for a while.
<br>
<br>

The success Leo found during his first three months of business surprised him: Leo was busy from first thing in the morning until after 7:00 each night.  In fact, he was so busy that he decided to hire two employees to run the store while he took his young family on vacation to celebrate.  The employees did fairly well during the week that Leo was gone, so when he returned, Leo decided to leave the business in their hands while he continued to enjoy spending the money his business was generating.  He stopped by the store for a few hours each day—to help with the lunch crowd—but he was very much an absent owner. Not until it was almost too late did Leo realize that his business wasn’t really going as well as he thought it was.
<br>
<br>

One day, he happened to look at the books and found that the business had made a profit only once in the past nine days.  Worried by this finding, he decided that he had been foolish to invest so little time and effort into the business that he hoped would support him and his family for the rest of their lives. He resumed his original habit of working at the store all day and even took time on the weekend to work on the more strategic elements of the business.  After five months of putting his full-time effort into the business again, Leo is finally back on track and is working hard to turn his long-term dreams into a reality.
<br>
<br>

The  Principle—Work on Your Business Ten Hours a Day and 5½ Days a Week Some business owners approach their business like a hobby: they start the business because they are passionate about their products or services, but soon after the business opens its doors, they tire of the work involved and significantly cut back the time in which they are at the place of business.  They might go to their business location for a few hours each day or for a few hours each week.  But they don’t devote as much time to the business as they need in order to lift it off the ground.
<br>
<br>

While this kind of lifestyle might seem carefree and fun, it can’t sustain you and your family. To combat these foolish tendencies and establish business patterns that are more likely to lead to success, you should work at least as hard for yourself (on your business) as you would if you
were accountable to an employer—and probably even harder (especially at the beginning of the business)! Hence, the recommendation to work at least ten hours a day and 5½ days a week.
<br>
<br>
 
A popular saying in the field of entrepreneurship states, “If you will work for five years like no one else will, you can live the rest of your life like no one else can.” The meaning of this piece of advice is quite simple—hard work in the beginning of a new endeavor always pays off in the end.  In order for you to establish good business habits and allow yourself the time to really get the business up and running, you should have a set schedule, work about 5½ days per week, work a full ten hours a day, and be constantly striving to increase business.  You can grow your business by being at work, talking to customers and employees about the business, establishing good partnerships with suppliers and customers, and so forth.
<br>
<br>

Obstacles to Overcome
<br>
Working ten hours a day and 5 ½ days a week can really start feeling like a sacrifice after a
while.  But it’s a sacrifice worth making.  Whenever we make a sacrifice, we give up something of value for something of an even higher value.  With respect to running a business, you must sacrifice your spare time and short-term personal interests in order to reap the greater benefits
of financial security and long-term business success.  By adopting this proper perspective, you can overcome your personal hesitancies to work in your business as much as needed.
<br>
<br>

Benefits of Applying the  Principle
<br>
Demonstrating devotion to the business pays off quickly for most business owners—especially
when they put forth small efforts to really live this principle.  Take, for example, the advice to work 5½ days each week—a half day more than most people do.  Over the course of a full year, that additional half day each week adds up to an additional 26 working days a year—almost a full month of additional productivity in which you can gain advantage over competitors who work the normal five days a week.  This hard work will pay off as you begin establishing self- reliance for yourself and your family.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>