<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: Sell What the Maket Will Buy</h1>
<hr>
<p>
    Ever since his childhood, Andy has enjoyed making empanadas (sweet pastries).  In fact, he loves preparing and eating empanadas so much that, as a young man, he decided to make empanadas in bulk and sell them to students at a nearby school.  Andy was certain that the students would love the snacks and purchase them regularly.  He made 50 empanadas on the first day; he was shocked when, at the end of the day, he had sold only ten pastries.  The next day, he sold only eight.  And on day three, he sold only four.
<br>
<br>
Frustrated, he went walking through the neighborhood, observing the actions of the people on the streets.  He noticed that a nearby vendor was selling fish and squid snacks and was attracting dozens of students.  He saw another vendor selling dozens of fruit drinks and
pre-packaged candy. And he saw a third vendor doing quite well with bottled water and fresh sandwiches.
<br>
<br>

Andy decided that he was selling the wrong product—that he was trying to force his own preferences on the people he wanted to be his customers. He imitated the seafood products, added a tapioca drink to his offerings, and situated his cart near the exit gate of the school. With the great location and the better product-customer match, Andy’s business has been successful ever since.
<br>
<br>

The  Principle—Sell What  the  Market Will Buy
<br>
Andy’s mistake is one that many excited prospective business owners make—they produce and
try to sell a product they are excited about, but they don’t bother finding out if other people are excited about the same product.  The result of this approach is usually a short-lived business
and a lot of frustration on the part of the business owner.  The remedy is quite simple: sell what the market will buy—or, more specifically, what the people in your target market will buy.
<br>
<br>

Before you can start selling what the market will buy, you first need to find out what your potential customers are looking for.  You find out the preferences, wants, and needs of your market by doing research.  One type of research involves talking with people about their purchasing habits and their impressions of a certain product.  If you have a specific product that you think will be successful, show it to people and ask them if they would buy it on a regular basis.  If you don’t yet have an idea of what you want to sell, talk with people to see what kinds of products they want to buy but don’t yet buy because they can’t find them at a convenient location, or find out what they already buy on a regular basis.
<br>
<br>

Another type of important research involves observing a market and studying the purchasing trends of the people in the market.  Careful study of a market over a period of time will indicate what products or services have generally been successful in the market, what the overall
demand is for such products or services, what trends have been and are currently popular among customers in the market, and which trends are cyclical in nature and might soon return to popularity.
<br>
<br>

Trends (or fads) present a unique opportunity for business owners.  The success of the business in catering to trends depends on when the business enters the market.  Thus, if you want to get
involved in a business that is focused on fads or trends, realize that those fads won’t last forever.  Be sensitive to the importance of knowing when to get in and when to get out of the fad market.  If you can get into the fad early, you can be a leader in the fad and reap a great harvest by either making a lot of profit before the fad expires or selling the business before the trend fades away.
<br>
<br>

In addition to watching for upcoming trends and fads, you should pay attention to general social and economic patterns in your town.  Cultures are constantly evolving; they change as new forces and influences are introduced into the social systems.  Because almost every member of
a society is affected as the culture changes, you must be aware of how the cultural changes might introduce new business opportunities.
<br>
<br>

One cultural shift that is sweeping the world—including third-world countries—is the increased number of women who are now working and earning money outside the home.   The influx of women into the workforce and the resulting two-income families have led to dramatic changes in the products and services businesses are offering.  The markets are calling for more services and products for women (such as beauty services and professional clothing pieces) and for busy families (such as ready-to-eat dinners or babysitters for young children).
<br>
<br>

Obstacles to Overcome
<br>
Time is usually an obstacle that stands between prospective business owners and their ability to
enter new markets or bring new products to market.  Business owners need time to research markets and products.  They need time to develop new products or open a new store.  They need time to find suppliers.  And they need time to properly educate customers as to why they should need or want a new product (especially if the business owner is on the leading edge of offering a new product).
<br>
<br>

The obstacle of time can usually be overcome if you will learn to work very hard at your business and be patient with the rigors and time-consuming aspects of business.
<br>
<br>

Benefits of Applying the  Principle
<br>
Ultimately, a business that fails to sell what the market will buy cannot make a profit on a
regular basis and will not be open for long.  The opposite is true for businesses that correctly identify what the market wants and deliver those items or services in an efficient way.
<br>
<br>

The degree of success your market-centered business will achieve depends on how well you follow the other principles of business success.  But you can make the first step on the journey toward success by committing yourself to discovering and providing what the market wants and then selling it at a price that is both affordable for the customer and profitable for your business.

</p>

</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>