<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 13: Increase Sales; Decrease Costs</h1>
<hr>
<p> 
 June has been managing her uncle’s pharmacy for a few months. When she took over the management of the pharmacy, she immediately studied how the business had been doing and how much profit it was making every month. After evaluating six months of income statements and balance sheets, she noticed that the store’s expenses were very high and that more than half of its monthly revenues went toward paying the rent.
<br>
<br>
June immediately talked with her uncle about relocating the pharmacy to a less expensive location.  After much discussion on the matter, June’s uncle assigned her to search for a new location that was not too far from the original site of the store (he didn’t want customers to have to go out of their way to visit the new store).  A week later, June found a new location that
was only two blocks from the pharmacy, was on the corner of a street leading to the entrance of a hospital and a busy shopping area, and whose rent was nearly 20 percent lower than their current rent.  The uncle was pleased with the information that June told him about the new location, and he soon agreed to transfer the pharmacy there.
<br>
<br>

After three months of operation at the new location, the store’s sales had increased by a full
30 percent, and June had been able to cut back not only on rent expenses but also on other unnecessary expenses.
<br>
<br>

The  Principle—Increase Sales; Decrease Costs
<br>
A business’ profits are affected by two items: its revenues (sales) and its expenses (costs).  The
formal expression of profit is as follows: Profit = revenues – expenses
<br>
<br>

You can generate more profit by either increasing revenues or decreasing expenses—or by
doing both.  The common thought (both in business and in life) is that you should decrease your expenses to fit your income.  However, the opposite might be a formula for a more fulfilling
and flexible life: you should work to earn the income you need to cover the cost of what you really want or need to do in life.  With that perspective in mind, you can see how decreasing costs is important, but increasing sales should really be the focus of business owners.
<br>
<br>

Increase Sales
<br>
In order to increase your sales, you must either (1) sell to more customers or (2) sell more to the
customers you already have.  To attract new customers, you can find a better location, differentiate your business more carefully, choose products that are historically more popular with customers than the ones you currently carry, or advertise more effectively.  To sell more to the customers you already have, apply the principles of suggestive selling (see information on suggestive selling in Chapter 12).
<br>
<br>

Decrease Costs
<br>
Before you can decrease your costs, you need to fully understand those costs.  Review your
records, making note of expenses that are either unneeded or larger than you think they should be.  Once you have identified the problem expense areas, work to decrease one problem area at a time.  Many of the cost problems can be solved by applying principles such as using multiple
 
suppliers, assessing personnel needs and hiring employees only when they are really needed, and negotiating contracted services.
<br>
<br>

Obstacles to Overcome
<br>
Without capital to put into a business, the business cannot grow and will probably ultimately
fail.  So increasing sales and decreasing costs is especially important in the early stages of the business cycle.
<br>
<br>

As you seek to increase sales and decrease costs, avoid the mistake of increasing costs before you can really afford to do so.  Looking successful is not the same thing as being successful. Many new business owners think that if they buy a motorcycle or car, they will look successful and will thus become successful.  But that is rarely the case; instead, by purchasing status symbols before they can really afford them, business owners set themselves up for long-term debt obligations and ultimate business failure.
<br>
<br>

Benefits of Applying the  Principle
<br>
By increasing sales and decreasing costs, you can positively affect your bottom line—that is,
you can improve your profits and set yourself up to be successful for a long time.  Profits can be a magical thing for businesses: profits (when used wisely) generate more profits.  With a sizeable profit, you can reinvest in the business and set the business up for continued success
and profitability.
</p>

</div>
</div>