<div class="container">
    <div class="col-md-3">
<sidemenuruleofthumb>
</sidemenuruleofthumb>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 5: Keep Good Records</h1>
<hr>
<p>When Herbert opened up his first DreamBurger store, he had high hopes for what he could accomplish. His goal was to fill his menu with so many different types of burgers that every customer would be able to find the perfect burger to satisfy his or her hunger.  Opening his first hamburger stand near a hospital with high foot traffic, Herbert was able to sell all of his burger patties and buns on the first day. He was overjoyed.
<br>
<br>
But at the end of his first day of operations, Herbert was so tired that he forgot to record any important information: he made no record of his beginning inventory (the number of buns or meat patties he started with) or his initial capital (the cash he put into the business).  He didn’t even record the total sales for the day. He forgot to keep records on the second day . . . on the third day . . . throughout the whole first week. He quickly got into the habit of not keeping records—a habit that spelled trouble for his business.  After a full month in business, Herbert realized that he had purchased and sold a lot of buns and meat patties, but he didn’t know where his money and earnings had gone.  He couldn’t tell if his operations for the month had yielded any profits; he didn’t know how many supplies he needed each week; and he had no idea how much inventory he should keep on a daily basis.
<br>
<br>

Herbert finally committed himself to keep good records of all of his business transactions.  He started by counting the products that he had on hand.  Next, he started tracking how many burgers he sold each day, and he cross-checked his records with the cash he had in the cash register.  He now knows exactly how much inventory he should keep on hand, how much revenue he can generate each day, and how much he spends each week. Herbert’s
record-keeping habits have transformed his business. DreamBurger has grown steadily. Herbert now has five DreamBurger stands operating in three parts of the city.
<br>
<br>

The  Principle—Keep Good Records
<br>
Although many people do not enjoy keeping records, those who apply this principle in their
daily lives and in their businesses quickly discover that keeping records can be a very rewarding and helpful activity.  This is true because record keeping is not an end in itself; it is a means to an end.  And that “end” is improving the operation and profitability of a business.
<br>
<br>

Good records can help you understand what is happening in your business—not just today or this week, but over a few weeks or even years.  Records provide answers to questions that every business operator—including you—needs to know:
<br>
</p>
<ul>
<li>Which of my products are most popular?  Which ones are not selling very well?
</li>
<li>What expenses are associated with the goods I sell?
</li>
<li>What times of the day are busiest?
</li>
<li>Have I earned more money this month than I did last month?  Is this revenue increase a one-time phenomenon or an indication of a seasonal trend?
</li>
</ul>
<p>
If you want your business to grow and flourish, you must keep records, even if those records are very simple at first.  A microenterprise’s first records might track the following items:
<br>
</p>
<ul>
<li>How much was paid for each product purchased from the supplier
</li>
<li>How much of each item was sold each day
</li>
<li>What revenue was generated from those sales
</li>
<li>Every inflow and outflow of money
</li>
<li>The cost of adding value to (or enhancing) the raw materials
</li>
</ul>
<p>
    To start out small, record these items daily for two weeks.  At the end of each day, analyze your records.  Find out what items sold the most that day, where the profit came from, and what
items are sold together.  If you keep careful records and analyze them daily, by the end of two weeks you will have enough detailed information to make great business decisions that will increase profits and help you run a better business.  And running a better business will soon result in more money you can take out in the form of a salary.
<br>
<br>

Obstacles to Overcome
<br>
Microentrepreneurs generally give two main reasons for not keeping records:
<br>
1.   “My business is so small that I know exactly what happens on a daily basis.”
<br>
2.   “I am simply too busy to keep records.”
<br>
<br>

I Know What is Happening in the Business
<br>
When your business is small, you might think you know everything that happens in it.  This
assumption is generally false; even if it were true, the fact that you know what is happening within the business doesn’t mean that you shouldn’t keep records.  Human beings are naturally and hopelessly forgetful.  For example, even though you might be able to remember what you ate for lunch today, you probably can’t remember what you ate for lunch last Tuesday.  And the probability that you can remember what you ate for lunch every day last month is even smaller. The same principle holds true in business operations and record keeping.  The degree to which you keep good records and analyze them frequently reveals your dedication to growing a real business that can provide increased money for your family.
<br>
<br>

Hidden in this response about knowing everything in the business is a false assumption that can plague microentrepreneurs: the assumption that because the business is small now, it will always be small.  This is not the vision you should have for your business.  You should want
your business to grow.  And you should take the proper steps to enable it to do so.  One of those steps involves keeping records.  By making this small change, you will embark on a path of making changes and doing things differently, thus enabling growth.
<br>
<br>

A popular—and very true—saying states, “If you always do what you’ve always done, you’ll always get what you’ve always gotten.” So, if you continue “not keeping records,” you’ll probably continue “being small.” To get different results from your business, you first have to start doing things differently.
<br>
<br>

I’m Too Busy to Keep Records
<br>
Starting a new business and being a new business owner is hard.  The schedule is very
demanding, the pressure to succeed is great, and the new experiences can be taxing emotionally and physically.  The word “busy” is a perfect descriptor of a new microenterprise operator.  But one of the fundamental realities of life is that we take time to do the things that are most important.  And if your business—the source of income and livelihood for your family—is
important to you, you should do those things that will help it succeed and grow.  Keeping records is one of those things.
<br>
<br>

If you still think you are too busy to keep good records, keep in mind that record keeping doesn’t have to be time consuming.  In fact, the more consistently you keep records and the better your record-keeping system is, the less time the process of recording vital information will take.  Practice makes perfect—even in tasks like record keeping.  If your record-keeping system is simple, and if you are used to working with that system, updating the records after each transaction will take only a few seconds at a time.  The self-discipline of continually taking those few seconds will pay off over time.
<br>
<br>

Benefits of Applying the  Principle
<br>
Perhaps the most important reason to keep accurate records is that records enable you to
analyze past business performance and make necessary changes to improve your performance. In a popular book entitled The Game of Work, Chuck Coonradt, wrote, “If you can’t measure it, you can’t manage it.” That advice applies so well to the act of keeping records.  First, if you don’t keep accurate records, you can’t measure your business’ progress.  Second, if you are unable to measure the progress, you can’t manage it. And third, if you can’t manage your business properly, it will never be able to support more than your family’s most basic needs.
<br>
<br>

Record keeping also helps as you hire employees.  When you involve other people in the management of your business, you must have systems in place to keep the people honest.  For example, you’ll need a system of checking the inventory and balancing the inventory count against the reported sales.  Some employees are tempted to eat the inventory or steal money. Having good records is one of the best ways to prevent this common dishonest practice.
<br>
<br>

Good record keeping will enable you to notice the important but subtle things that can have a dramatic effect on your business over time.  When you start keeping records, you will notice trends in your customers’ buying habits. You’ll find out what they like and what they need. With that valuable knowledge, you can begin making small changes in your business that will produce more sales and higher profits.

</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/RulesofThumbEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>