<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Peru
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Escribe buenas descripciones de trabajo</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://mexico.smetoolkit.org/mexico/es/content/es/8/C%C3%B3mo-redactar-una-descripci%C3%B3n-de-trabajo-efectiva" target="_blank" class="btn-agenda">Primero</a></h4>
                
            </div>
            <div class="card">
                <h1 class="agenda-title">Contratar a su primer empleado</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/265856" target="_blank" class="btn-agenda">Primero</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">Preguntas para hacer en una entrevista</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/267176" target="_blank" class="btn-agenda">Primero</a></h4>
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/265803" target="_blank" class="btn-agenda">Segundo</a></h4>
            </div>
            
        </div>
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="card">
            <h1 class="agenda-title">Negociar sueldos justos</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.revistauniversolaboral.com/universolaboral2/index.php/de-interes/coaching/item/569-como-negociar-un-aumento-salarial.html" target="_blank" class="btn-agenda">Primero</a></h4>
            
        </div>
        <div class="card">
            <h1 class="agenda-title">Comunicar claramente las expectativas</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/266044" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        <div class="card">
            <h1 class="agenda-title">Motivar a los empleados</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://pyme.lavoztx.com/cmo-motivar-al-personal-y-mantener-los-empleados-7846.html" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        
    </div>
</div> 
<div class="red-background">
    <div class="container">
    <div class="row">
        <div class="card">
            <h1 class="agenda-title">Evaluar a los empleados</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/266369" target="_blank" class="btn-agenda">Primero</a></h4>
            
        </div>
        <div class="card">
            <h1 class="agenda-title">DDeje que un empleado vaya</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/266936" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        
    </div>
</div> 
