<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Philippines
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Post Effective Job Descriptions</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.hr.uic.edu/UserFiles/Servers/Server_2716/File/d_hiring/guide_writing_jobdescriptions.pdf" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.recruiting.com/blog/how-to-write-effective-job-postings-job-description-and-skills" target="_blank" class="btn-agenda">First</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">Hiring your First Employee</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/dailymuse/2012/04/04/7-keys-to-hiring-your-start-ups-first-employee/#193375f74839 " target="_blank" class="btn-agenda">First</a></h4>
            </div>
             <div class="card">
                <h1 class="agenda-title">Vital Interview Questions</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.businessnewsdaily.com/5212-job-interviews-techniques.html " target="_blank" class="btn-agenda">First Resource</a></h4>               
                <h4 class="btn btn-primary btn-agenda-left"><a href="https://www.entrepreneur.com/article/225960" target="_blank" class="btn-agenda">First Resource</a></h4>               
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.inc.com/minda-zetlin/9-steps-to-writing-job-ads-top-candidates-cant-resist.html " target="_blank" class="btn-agenda">First Resource</a></h4>               

            </div>
            
        </div>
    </div> 
</div>

    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Negotiate Fair Salaries</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/159438 " target="_blank" class="btn-agenda">First</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">Communicate Expectations Effectively</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.inc.com/guides/2010/08/how-to-communicate-employee-expectations-effectively.html " target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/226952  " target="_blank" class="btn-agenda">First</a></h4>          
            </div>
            <div class="card">
                <h1 class="agenda-title">Evaluate Employee Performance</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.inc.com/entrepreneurs-organization/4-ways-to-evaluate-employee-performance.html " target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.eremedia.com/fordyce/7-easy-ways-to-measure-employee-performance/ " target="_blank" class="btn-agenda">First</a></h4>
            </div>
        </div>
    </div> 

<div class="red-background">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">How to let an Employee Go</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.themuse.com/advice/youre-fired-a-firsttime-managers-guide-to-letting-someone-go" target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/ronashkenas/2013/03/11/if-you-have-to-fire-an-employee-heres-how-to-do-it-right/#286283b41552 " target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/230784 " target="_blank" class="btn-agenda">First</a></h4>

            </div>
        </div>
    </div> 
</div>