
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="/bookoflessonslesson1Spanish">LECCIÓN 1</a></li>
                    <li><a routerLink="/bookoflessonslesson2Spanish">LECCIÓN 2</a></li>
                    <li><a routerLink="/bookoflessonslesson3Spanish">LECCIÓN 3</a></li>
                    <li><a routerLink="/bookoflessonslesson4Spanish">LECCIÓN 4</a></li>
                    <li><a routerLink="/bookoflessonslesson5Spanish">LECCIÓN 5</a></li>
                    <li><a routerLink="/bookoflessonslesson6Spanish">LECCIÓN 6</a></li>
                    <li><a routerLink="/bookoflessonslesson7Spanish">LECCIÓN 7</a></li>
                    <li><a routerLink="/bookoflessonslesson8Spanish">LECCIÓN 8</a></li>
                    <li><a routerLink="/bookoflessonslesson9Spanish">LECCIÓN 9</a></li>
                    <li><a routerLink="/bookoflessonslesson10Spanish">LECCIÓN 10</a></li>
                    <li><a routerLink="/bookoflessonslesson11Spanish">LECCIÓN 11</a></li>
                    <li><a routerLink="/bookoflessonslesson12Spanish">LECCIÓN 12</a></li>
                </ul>
            </nav>
</div>