
<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Introduction</h1>
<p>Soon after my wife and I began working on this workbook, I spoke to a professor of business about our new project. She asked two painful but important questions: “Why are you wasting your time?  Isn’t there enough information out there about how to start a new business?”
</p>
<p>
I was taken back by her question.  But as I thought about it over the next few days, it ended up being the driving motivation behind our approach to this workbook.  The professor was right—the world doesn’t need yet another book on how to start a business.  Bookstore shelves are crowded with books rehashing that subject. What the world does need is a workbook about change.
</p>
<p>
Creating Family Prosperity is not about starting a business; it is about empowering you, the reader, to end generational cycles of poverty.  It is about enabling you to move your family toward prosperity—now and in the future. The business is just the vehicle for the powerful change that can come into your life as you embark on the journey of creating family prosperity.
</p>
<p>
This workbook can be used in a classroom setting or as an individual study guide. It is designed to be a companion learner—to help you teach yourself how to run a business.  It is full of questions to answer, topics to ponder, and problems to solve.  But the workbook is not the only teacher in this curriculum.  If you start your business activities as you study this workbook (which we strongly encourage), you will learn in the most effective way possible: by reading and writing in the workbook and then applying what you learn in your own income-generating activity.  Life in the world of business will be the true teacher.
</p>
<p>
We can assure you that while we haven’t been exactly where you are, we do know that these lessons contain the business laws that must be followed to have business success. These principles worked for us; therefore, we are confident they will work for you.
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>