<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 11: How Do I Manage My Business for Maximum Growth?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>What does managing employees entail?</li>
<li>Who is going to train me to be a good manager?</li>
<li>Is it wrong to hire my friends and family members as employees?</li>
<li>It is okay to be friends with my employees rather than manage them?</li>
<li>Can small businesses benefit from “systems”?</li>

    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Once your business is large enough and busy enough, you will want to hire and manage employees to keep expanding your business.</li>
<li>Systems define how your business runs and make your business efficient.</li>
<li>Business owners who have employees should work on the business, not just in the business.</li>
<li>Employees do tactical work; business owners do strategic work.</li>

</ul>

<p>
<p>New words:</p>
<ul>
    <li>Managing:  Overseeing the work of employees; supervising others in an administrative capacity.
    </li>
<li>Mentor:	A wise and trusted teacher; someone with a lot of business experience who is willing to teach you how to succeed with your business.
    </li>
<li>System:	An orderly, step-by-step outline of what must be done in order to reach a defined goal. Strategic work:  Large-scale business activities aimed at guiding the long-term growth and
operations of the business. Strategic work includes setting goals, evaluating new product lines or services, and expanding the business.
</li>
<li>Tactical work:  Small-scale, day-to-day business activities, such as balancing the books, greeting customers, keeping the store clean, and purchasing inventory.
</li>
</ul>

<p>As you keep accurate records (as you learned to do in Lesson 10) and make wise decisions based on those records, your business will likely grow significantly.  Once it is fairly large, you will probably not have time to do all the many tasks required to operate it each day.  Your customers might have to wait a long time for you to give them the attention they want. You might be so busy working with multiple suppliers and negotiating good credit terms that you won’t have time to restock your shelves.  You might begin falling behind on your records because you have so many customers and so little time to track your sales. You could feel so stressed and busy that you might wish you had never started the business, or you might wish you could tell your customers to go away so your business could remain small and simple. When these things happen, it is a sure sign that your business is growing and that you need to hire employees to work in your business.
<br>
<br>
Think about your own business.  Are you experiencing any “growing pains”—frustrations like the ones mentioned above?  If so, make a list of specific things that are frustrating you.
<br>
<br>

When they feel frustrated and over-worked, as you might, many business owners—especially those with brand new businesses or those who don’t know much about running a business—immediately hire employees to help them out.
<br>
<br>
 
In some cases, employees really are needed; in others, they are not needed yet. Wise business owners evaluate all aspects of their business and their personal daily schedule to see if just managing their time better could be the solution to their frustrations.  If better time management or better application of business principles is the solution, business owners should press on without hiring an employee.  But if the “growing pains” they are experiencing are really due to the increasing size of the business, the owner should indeed hire and train an employee.
<br>
<br>

Look back at your list of frustrations.  Are there enough conditions to indicate that you might need to hire an employee?
<br>
<br>

List the personal characteristics and skills you would look for in an employee.
<br>
<br>

A word of caution about hiring family members or friends: it isn’t always a good idea.  Although we all love our family members and friends, they often are not good employees.  For example, they may not like taking criticism and orders from you; they may not be skilled and qualified; they may not be dependable, hard-working, and trustworthy; and they may not be easy to fire because of their personal relationship with you, the boss.
<br>
<br>

With this word of caution in mind, do you have a family member or friend you still think would make a good employee?  Write the person’s name here. Why do you think he or she would be a good employee?  What might not make him or her a good employee?
<br>
<br>
Costs of poor hiring
<br>
Regardless of whom you decide to hire, you need to be aware of the importance of the hiring decision because hiring poorly can cost a lot—in terms of time, headaches, and money.  Inexperienced or unwise managers often make
common hiring mistakes: (1) they hire someone who is not qualified, (2) they hire someone whom they feel they cannot fire, (3) they hire someone who does not have personal integrity, and (4) they fail to properly train the
employee they hire.
<br>
<br>

Hiring someone who is not able to do the work you need done has serious consequences: you will have to invest a lot of time in training the employee and correcting wrong behavior. So you not only lose the value of the employee’s time, but you also lose the value of your time—the time you must spend teaching and re-teaching the employee.
<br>
<br>

Firing employees is never fun.  But when you have to fire someone who is close to you personally—for example, a friend of family member—it is especially painful.  Avoid this sticky situation by hiring only employees whom you could fire without permanently damaging a friendship. Otherwise, you run the risk of either ruining a relationship (by firing the person) or ruining your business (by not firing them when their actions hurt the business).
<br>
<br>

Hiring someone who is dishonest or lazy has its own cost. That kind of employee might steal from you in several ways: he might steal inventory, he might steal time by not working as hard as you expect him to work, he might steal by coming to work late, etc.  Clearly, the costs of hiring employees without integrity are high.
<br>
<br>
 
In your own words, explain why hiring the right person is so important. Why is hiring the wrong person a very costly mistake?
<br>
<br>

Training and managing employees
<br>
When you hire someone you will need to train and manage them.  As a business owner, you likely have little experience managing and training others. This lesson is designed to help you learn what you need to know and do to
begin the process of hiring and managing new employees.
<br>
<br>

Moses, a prophet from the Old Testament, was a powerful leader—one who was chosen to not only preach the gospel but also lead Israel from bondage.  He once received counsel from his father-in-law, Joshua, about how to be a good manager.  Please read the story of this advice in Exodus 18:13-26.
<br>
Exodus 18:13-26
<br>
&nbsp; 13  And it came to pass on the morrow, that Moses sat to judge the people: and the people stood by Moses from the morning unto the evening.
<br>
&nbsp; 14  And when Moses’ father in law saw all that he did to the people, he said, What is this thing that thou doest to the people? why sittest thou thyself alone, and all the people stand
by thee from morning unto even?
<br>
&nbsp; 15  And Moses said unto his father in law, Because the people come unto me to enquire of
God:
<br>
&nbsp; 16  When they have a matter, they come unto me; and I judge between one and another, and
I do make them know the statutes of God, and his laws.
<br>
&nbsp; 17  And Moses’ father in law said unto him, The thing that thou doest is not good.
<br>
&nbsp; 18  Thou wilt surely wear away, both thou, and this people that is with thee: for this thing is too heavy for thee; thou art not able to perform it thyself alone.
<br>
&nbsp; 19  Hearken now unto my voice, I will give thee counsel, and God shall be with thee: Be
thou for the people to God-ward, that thou mayest bring the causes unto God:
<br>
&nbsp; 20  And thou shalt teach them ordinances and laws, and shalt shew them the way wherein they must walk, and the work that they must do.
<br>
&nbsp; 21  Moreover thou shalt provide out of all the people able men, such as fear God, men of truth, hating covetousness; and place such over them, to be rulers of thousands, and rulers of hundreds, rulers of fifties, and rulers of tens:
<br>
&nbsp; 22  And let them judge the people at all seasons: and it shall be, that every great matter they shall bring unto thee, but every small matter they shall judge: so shall it be easier for
thyself, and they shall bear the burden with thee.
<br>
&nbsp; 23  If thou shalt do this thing, and God command thee so, then thou shalt be able to endure, and all this people shall also go to their place in peace.
<br>
&nbsp; 24  So Moses hearkened to the voice of his father in law, and did all that he had said.
<br>
&nbsp; 25  And Moses chose able men out of all Israel, and made them heads over the people, rulers of thousands, rulers of hundreds, rulers of fifties, and rulers of tens.
<br>
&nbsp; 26  And they judged the people at all seasons: the hard causes they brought unto Moses, but
every small matter they judged themselves.
<br>
<br>

The main piece of advice Moses’ father-in-law gave him dealt with the organization of his people.  He explained that if every person with a religious question came to the prophet for an answer, Moses would get tired from all the work that would be required and the people would grow tired of waiting so long to speak with Moses.  So his father-in-law suggested that Moses appoint rulers who judge the small matters themselves and bring to Moses only those questions that they don’t feel comfortable answering.
<br>
<br>
 
Let’s analyze this story from a business perspective.  There are four main figures in the story: Moses, Moses’s father-in-law, judges, and the people. Who might these figures represent in a business? What are their roles in the successful management of an business?  How would applying the father-in-law’s advice help each of these people?
<br>
(Moses = business owner; Father-in-law = mentor; Judges = employees; People = customers and suppliers)
<br>
<br>

What do these verses teach you about the kind of people you need to hire?
<br>
<br>

What do these verses teach you about the benefits of hiring others? What do these verses teach you about the value of a mentor?
<br>
<br>

Moses (the business owner) couldn’t do it all by himself.  He was wearing himself out.  His father-in law, Joshua (the mentor) saw what was happening and counseled Moses to delegate and share the responsibility with others. These new leaders (employees) needed to be taught and trained and then given the authority to listen to the people (customers and suppliers). There are at least four ideas to be drawn from this Biblical story.
<br>
&nbsp; 1.   Hire able men and women.
<br>
&nbsp; 2.   Teach the principles they need to know to do the work.
<br>
&nbsp; 3.   Let the employees manage the small matters.
<br>
&nbsp; 4.   Let the business owner manage the large matters.
<br>
<br>

Moses was trained to hire and manage others by his mentor, Joshua, who taught him how to delegate and what kind of employee he should hire: one who is able, God-fearing, and honest.  It is a good idea for you to look for employees who have those same characteristics.
<br>
<br>

Before we begin discussing characteristics of good managers, we want to emphasize the importance of finding a mentor who can teach you to be a successful business operator and, eventually, a good manager.  First-time managers often make many mistakes in their dealings with their employees.  You can minimize the number of
mistakes you make—and the cost of those mistakes—if you will find an experienced manager or business owner and learn from that mentor’s experience.
<br>
<br>

Managing is basically the job of telling someone what tasks to perform, in what order, and in what way.  It is formally defined as planning, controlling, and directing the activities of your employees to achieve or exceed your business objectives.
<br>
<br>
 
According to this definition, what are the three activities you must do as a manager?
<br>
<br>

Why should you (the owner) be the one to plan, control, and direct the employees?
<br>
<br>

According to this definition, what do these three activities lead to?
<br>
<br>

If good management leads to met or exceeded objectives, it goes without saying that you must first have objectives, or goals (see Lesson 8).  A famous saying teaches that Losers deal in generalities.  Winners deal in specifics.  If you want to be a winner in your business, you will need to have specific objectives or goals, and you will need to discuss those objectives with your employees.  You must then assign them to do specific tasks that help you move toward your goals or objectives.  You must also, as part of delegating and managing, check on the employees to ensure that they are correctly doing the tasks you have assigned.
<br>
<br>

What are some of the specific goals that you have for your business?  (Remember the principles of SMART goals:
they must be specific, measurable, attainable, realistic, and time-bound).
<br>
<br>

When will you teach your new employee your business goals?
<br>
<br>

How will you teach your business goals to your employee?
<br>
<br>

Mistakes business owners make with  new  employees
<br>
Business owners make many mistakes with their new employees.  What do you think they are?  List at least three.
<br>

Compare your answers with these mistakes.  How many of these mistakes did you list?
<br>
&nbsp; 1.   They fail to hire the best person for the job. Instead they hire whoever is available.
<br>
&nbsp; 2.   They fail to train their employees.  Sometimes the employer feels that training isn’t necessary.  Other times, the employer waits too long to hire someone and then is “too busy” to train the new employee.
<br> 
&nbsp; 3.   They fail to explain company objectives.  And then, for some strange reason, they get angry with the employees when they are not doing what the employer wants them to do.
<br>
&nbsp; 4.   They fail to praise the employees for the good things they do.
<br>
&nbsp; 5.   They do not take corrective action immediately with employees who do something wrong.  Good employers train their employees well and reinforce that training by consistently and firmly correcting wrong behavior.
<br>
&nbsp; 6.   They hire too quickly and fire too slowly.  As one employer told the authors, “My business has been hurt
most by employees that I should have fired, but I was hesitant to fire them for one of many reasons.”  Firing friends and relatives is most painful. That is one reason why you should be hesitant to hire friends and relatives.
<br>
<br>

Systems
<br>
Now that you know whom to hire and what mistakes are often made with employees, you need to learn about how systems can help you manage your employees in order to grow your business.  In order for your business to be as successful as possible, you need a system, or a statement of “how we do things around here.”
<br>
<br>

A system is an orderly, step-by-step outline of what must be done in order to reach a defined goal.  A system in a business is much like a recipe in cooking.  Following the instructions step by step will ensure that every time the system runs, it produces a product or service that is exactly what the business owner wants it to be.  Systems can make your growing business successful because regardless of who does the steps listed in the system—whether it be you or your employee—the result will be the same.  Carefully designed systems create finished products that are perfectly predictable.  In such a system, the skill of an employee or manager does not determine the success of the business. The system runs the business; the employees just follow the system.
<br>
<br>

We (the authors) have had dozens of experiences with businesses that won our loyalty because their systems worked well. We stay frequently at our favorite hotel because every afternoon at 4:30 p.m. the staff serves warm, delicious, fresh-baked cookies at the main registration desk. Their system automatically produces these cookies, day after day, exactly at 4:30 p.m.  Believe it or not, the customers depend on getting those cookies.  Many time their arrival at the hotel at exactly 4:30 p.m.  We also see one particular hairdresser because she gives us a great scalp massage when she washes our hair.  It happens every time we go.
<br>
<br>

You might think your business is too small to have systems.  Regardless of how much you sell, every business can benefit from formalized systems.  And—whether you realize it or not—you already have systems in place.  You already have a daily routine of things you do in your business.  You already have a pattern of how you like to do things. Thinking about your daily habits and routines in a step-by-step way can help you identify your systems and then improve them so that they can help you make more money.
<br>
<br>

Here are some examples of systems in other people’s small businesses.  Do you have similar systems in place?
<br>

</p>
<ul>
<li>Jose owns a fruit stand.  He always arrives at his store or booth at 7:00 a.m. and immediately creates a chart to help him keep good records for the day.  He then tidies up his fruit baskets, puts a reduced price on fruit that is getting too ripe, puts money in the cash register, and then opens for business at 7:30 a.m.  That routine is part of Jose’s system.</li>
<li>Mary owns a bakery.  She has experimented with her pastry recipe for a few weeks and finally found just the right recipe.  Now she makes her pastries exactly the same way every day.  That recipe is part of Mary’s system.
</li>
<li>Sam sells sandwiches and prides himself on the delicious combination of flavors in his unique sandwiches.
Every time he makes the “Sam’s Special Sandwich,” he follows the same pattern: he slices the bread, spreads the “special sauce,” and then layers the meat, cheese, tomato, cucumber, sprouts, and olives—in
exactly that order. The order of the sandwich ingredients is part of Sam’s system.
</li>
</ul>

<p>The more specific and detailed the system, the better the business is run.  And the better the business is run, the more it can grow and continue to make money for the owner. Consistency is difficult to achieve but very important as you build a business that can run on its own and repeat the same performance over and over.  This is vital to increase profitability and customer satisfaction that is possible only through foolproof systems.
 <br>
 <br>
Writing down systems is a real challenge for many people, especially the business owner who already feels overworked and frustrated. However, this condition of feeling overworked is an indicator that you do really need a formal, written system in place.
 <br>
 <br>

Sometimes owners worry about establishing and writing down systems because they realize that once a good system is in place, the business can basically run without the owner. They fear that the system will make them powerless because they won’t be needed all the time in the business.  But that is exactly the point! Systems free business owners from having to do the detailed work of running the business day in and day out.  They free up time for growing the business.
 <br>
 <br>

Sometimes owners worry that if they establish a written system and teach it to their employees, they will basically just be teaching their future competitors how to operate a successful business. This happens occasionally—when employees leave and set up a competing business—but not as often as one might think.
 <br>
 <br>

List five reasons why a wise business person should develop written systems for “how we do things around here.”
 <br>
 <br>

What are some of the operations of a business that should have a written system established?
 <br>
 <br>

(Your own business will have more than this, but here are some possible systems: pricing, merchandise returns, ways to greet customers, reporting customer complaints, dealing with cash shortages, hiring procedures, displaying merchandise, cleaning up the store, opening procedures, closing procedures, detaining shoplifters, and reporting dishonest actions by fellow employees.)
 <br>
 <br>

Job descriptions
 <br>
One of the systems that will start paying dividends almost immediately is writing a job description, or task list, for each position—including your own.  You need to outline what positions exist in the company—in other words, what jobs must be done for the business to succeed.  Anyone you hire must know whom he/she reports to and know
exactly what he/she is to do.
 <br>
 <br>

All job descriptions should have three items: (1) a list of your goals for the business, (2) policy statements that summarize your expectations of how all employees must behave when at work, and (3) a detailed list of job duties specific to each employee’s position. The business goals are obviously very specific to the business, and you should have already established those goals for your business (see your answers in Lesson 8). The policy statements could include minimum standards for all employees, such as being on time, interacting well with customers, dressing appropriately, and being aware of safety concerns. The detailed list of job duties is specific to each job and can be modified as circumstances change.
 <br>
 <br>
 
When you hire a new employee, you should immediately give the job description packet to the employee.  Have the employee read the documents carefully and then sign and date the agreement. This document would then serve as a written contract verifying that the employee understands exactly what is required of him/her.  Performance can then be compared with the commitments made as the employee learns his/her duties.
 <br>
 <br>

Let’s practice writing a job description.  Imagine that you are the owner of a small store that sells children’s clothing. After eight months of hard work, you have more work than you can handle. You need to hire an employee to help customers making purchasing decisions and operate the cash register when customers make purchases.  You have already written a contract explaining what standards the employee will need to meet (see the previous paragraphs). Now you need to write a list of job duties for this new position.
 <br>
 <br>

What would be a good job title for this position?


 <br>

(Perhaps “Sales Clerk”)
 <br>
 <br>

Make a detailed list of all the duties or tasks related to this job.  Be as specific as possible. Remember that your employee can’t read your mind and can be held accountable only for the specific duties you assign to him in the job description.
 <br>

 <br>
(Examples of a few job duties include:
 <br>
&nbsp; •	Help customers find clothing to purchase.  Greet each customer with a smile, ask each customer how you can help, let customers browse when they want to, but stay close by to help when they have a question.
 <br>
&nbsp; • 	Operate the cash register.  Get the opening balance of money from the safe each morning, record all sales accurately, keep cash drawer organized, add up all sales at end of day, count money at end of day, compare money with sales records at end of day.
 <br>
&nbsp; • 	When new shipments arrive, unload boxes and stack clothing neatly according to size and clothing type (for example, a stack of brown pants, a stack of yellow shirts, a stack of blue dresses, etc.).
 <br>
&nbsp; • 	Wash your hands before returning to work after using the restroom or taking a break outside.)
 <br>
 <br>

Now let’s apply this principle to your business.  If your business has grown enough that you think an employee is needed, identify one job that needs to be filled immediately.  What is the title for that job?
 <br>
 <br>

Make a detailed list of all the duties or tasks related to this new job you will create in your business.  Again, be as specific as possible. Remember that your employee can’t read your mind and can be held accountable only for the specific duties you assign to him in the job description.
 <br>
 <br>

Now you have a start for your “contract” between you and your new employee!
 <br>
 <br>
 
Fieldwork
 <br>
Find a national or international franchise in your area. Maybe you have a McDonalds, a Subway, or a national
bakery or barber shop chain.  Visit the franchise during a slow time of the day.  For example, avoid the lunch hour at a restaurant.
 <br>
 <br>

Go into the store and talk with the owner or manager. Tell him/her that you are trying to learn more about how systems work in a franchise or national chain and ask him/her to spend 15-20 minutes with you to explain what systems they have in their operation.  (If they are too busy when you first approach them, ask when you can return and spend 15-20 minutes with them.  Make an appointment and then be on time.)
 <br>
 <br>

After you talk with the owner or manager, spend a few minutes in the franchise observing the systems they have in place.  Notice how the customers are greeted, what uniforms the employees wear, what signs or posted instructions of procedures the employees must follow.
 <br>
 <br>

Take careful notes so you will remember all that you see, hear, and learn.  Record your notes here.
 <br>
 <br>

After leaving the franchise, review your notes and look for ideas you can apply to your own business systems.  What policies, practices, or systems can enable your employees to “do it right, each and every time”?
 <br>
 <br>

Working on  your business
 <br>
Writing and implementing systems takes time.  But investing in systems can have a wonderful effect on the profitability of a business. Systems are just one way in which business owners can work on their business, not just
in their business.
 <br>
 <br>

What do you think it means to work on your business?
 <br>

What is the difference between working in your business and working on your business?
 <br>
 
Michael E. Gerber, author of The E-Myth Revisited, explains the difference in these words:
 <br>
</p>
<blockquote>
Think of your business as something apart from yourself, as a world of its own, as a product of your efforts, as a machine designed to fulfill a very specific need, as a mechanism for giving you more life, as a system of interconnecting parts . . . as something created to satisfy your customers’ needs, as a place that acts distinctly different from all others places, as a solution to somebody else’s problem. . . .
 <br>

Go to work on your business rather than in it, and ask yourself the following questions:
 <br>

&nbsp; •	How can I get my business to work, but without me?
 <br>
&nbsp; •	How can I get my people to work, but without my constant interference?
 <br>
&nbsp; •	How can I systematize my business in such a way that it could be replicated?
 <br>
&nbsp; •	How can I own my business, and still be free of it?
 <br>

. . . Most importantly, to successfully develop and grow your business you need a process… a method with which to run your business, in other words systems, processes and methods. The only way to create these systems is to work on your business not just in your business. (Gerber, Michael.  The E-Myth Revisited. New York: HarperCollins, 1995. p. 109-110)
</blockquote>
<p>
 <br>
 <br>
When a business is small and the owner is the only person working in and on the business, that person has to do all the work.  The owner does everything from setting goals to buying inventory to sweeping the floors at the end of the day.  But as a business grows, the work of the business needs to be divided into two kinds of work: strategic work, done by the owner, and tactical work, done by employees.  Strategic work includes setting long-term and short-term goals, designing systems, and managing the work of the employees. The owner takes care of the big picture—what the business will be like in six months, a year, or even five years. Tactical work, done by employees, includes working with customers, running the cash register, purchasing from suppliers, pricing, and bill paying.  Strategic work is what owners/managers do. Tactical work is what employees do.
 <br>
 <br>

Remember that if your business is small and you are the only employee, you will clearly have to do tactical work as well as strategic work.  However, even when you are the only person working in the business, the more time you devote to working on your business, the sooner you will need to hire others to work in your business.
 <br>
 <br>

Final  writing assignment
 <br>
Based on what you’ve learned from this lesson, summarize your thoughts on why systems are important and why you must make time to work not only in your business but also on it.
 <br>
 <br>

Bottom line
 <br>
In order to grow your business as much and as quickly as possible, you need to establish and follow detailed systems and train and manage your employees.  Systems and good employees will give your business added power to push
profits up quickly and grow into a wealth-producing vehicle to care for your family for generations to come.

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>