<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 8: How Does Goal Setting Work in My Personal Life and Business?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>Why do most prosperous people believe in setting goals?</li>
<li>What is the difference between a goal and a wish?</li>
<li>Why do goals work?  How do they work?</li>
<li>Why does writing down goals make them more powerful?</li>
<li>How will setting goals help me provide for more of my family’s needs?</li>

    </ul>
    
<p>Main ideas to learn:</p>
<ul>
    <li>Goals should be developed in all parts of your business as well as in your personal, family, and spiritual life.</li>
<li>Goals will help you reach higher, become stronger, achieve more, work faster, and become more prosperous.</li>
<li>Goals must be specific, measurable, attainable, realistic, and tied to a deadline.</li>
<li>The success rate of goals increases if the goals are written.</li>
<li>Once goals are set and written down, they must be reviewed often.</li>

</ul>

<p>
<p>New words:</p>
<ul>
    <li>Goals:	Specific objectives that a person wants to accomplish and toward which he or she works.
    </li>
</ul>
<p>Heber J. Grant, the seventh president of The Church of Jesus Christ of Latter-day Saints, was a powerful prophet of the Lord.  He is, perhaps, best known for his determination and achievement.  One story recounts his determination in learning to improve his handwriting so he could reach the goal of becoming a bookkeeper for the Wells Fargo and Company bank.  “[H]is penmanship was so poor that when two of his [friends] were looking at it one said to the other, ‘That writing looks like hen tracks.’ ‘No,’ said the other, ‘it looks as if lightning had struck an ink
bottle.’  [These comments] touched Heber’s pride” (Hinckley, Heber J. Grant, p. 40).  He decided he would practice until he could write better than his two friends.  He later said that he used carloads of paper practicing writing. Eventually, because of his developed talent, he was called on to write “greeting cards, wedding cards, insurance policies, stock certificates, and legal documents” (Hinckley, Heber J. Grant, p. 40).  (From “Lesson 22: Heber J. Grant—Man of Determination,” The Presidents of the Church: Teacher’s Manual, 105.)
<br>
<br>
Setting and working toward goals helped President Grant improve his penmanship, learn to play baseball, and acquire a talent for singing.  His ability to identify a skill he wanted to develop, prepare a plan to pursue each skill, and act with determination to achieve his goals made him a successful and able person.  Goals can do the same thing for you.
<br>
<br>

What  exactly are  goals?
<br>
Goals are specific objectives that a person wants to accomplish and toward which he or she works.  Goals can be big (such as a goal to graduate from college) or small (such as a goal to read your scriptures each day this week). Goals are important because they help us improve continually.  They serve as guiding stars that help us remember what we
want to do and what we want to become.
<br>
<br>

Goal setting is a habit that sets successful people apart from others who struggle to find success.  Successful men and women who actively pursue the “culture of success” use the powerful tool of goal setting in all aspects of their life.
<br>
<br>
 
Effective goals meet five criteria, remembered by the acronym SMART:
<br>

&nbsp; S	=	specific
<br>
&nbsp; M	=	measurable
<br>
&nbsp; A	=	attainable
<br>
&nbsp; R	=	realistic
<br>
&nbsp; T	=	time-bound
<br>
<br>

Here are some examples of the difference between poor goals and SMART goals. As you read the two columns, notice how different they feel. The goals in the first column sound like nice wishes, but the goals in the second column pack the power to motivate.
<br>

Poor Goal 
<br>1.	I want to go on a fun vacation.	
<br>
2.	I want to be more spiritual.	
<br>
3.	I want a bigger porch.	
<br>
SMART Goal
<br>
&nbsp; 1.	I will take my family to Disneyland for one night at the end of August.
<br>
&nbsp; 2.	I will increase my spirituality by reading my scriptures daily and praying at least twice a day.
<br>
&nbsp; 3.When I have saved 4000 pesos, I will buy wood to build a small porch onto my house.
<br><br>
Rewrite these three “wishes” to turn them into SMART goals.
<br>
Poor Goal<br>
&nbsp; 1.   I want to make a lot of money.	<br>

&nbsp; 2.   I want to be a better Church member.	<br>

&nbsp; .   I want to help my family eat more nutritious	<br><br>

List two new things you have learned about goal setting.<br><br>

The  power of written goals
<br>During the 1950s, researchers at Yale University began a detailed, long-term study of hundreds of Yale graduates to see how goal setting would impact their lives. Twenty years later, when the researchers asked the graduates about
their lives and their goal-setting habits, the results were astonishing.  Eighty-six percent had no goals at all.  Eleven percent had goals, but they were not written down anywhere.  Only three percent had written goals. The 11 percent
earned more money than all of the 86 percent.  But the 3 percent who regularly wrote down their goals had earned more money than all of the other 97 percent combined. (See Robbins, Anthony. Unlimited Power: The New Science of Personal Achievement. New York: Robbins Research Institute, 1986.)
 <br><br>
This study teaches that writing down your goals is very important. The process of actually writing goals on paper can help you make specific goals and place them firmly in your memory.  This increases the chances that you will reach your goals.  It also gives you a document that you can review often. Periodically reviewing goals is a big part of achieving goals.
<br><br>
At this point in the lesson, you should understand that goal setting is an important habit to develop in your personal life.  It can also help you succeed in your work.  In order to help you understand what goal setting can do for your business, review these selected verses from Lehi’s dream in 1 Nephi 8:9-35.  As you read, try to think of connections between your business and the symbols in Lehi’s vision.
<br><br>
1 Nephi 8:9-35 (selected verses)
<br>
&nbsp; 9	And it came to pass after I had prayed unto the Lord I beheld a large and spacious field.
<br>
&nbsp; 10  And it came to pass that I beheld a tree, whose fruit was desirable to make one happy.
<br>
&nbsp; 11  And it came to pass that I did go forth and partake of the fruit thereof; and I beheld that it was most sweet, above all that I ever before tasted. Yea, and I beheld that the fruit thereof
was white, to exceed all the whiteness that I had ever seen.
<br>
&nbsp; 12  And as I partook of the fruit thereof it filled my soul with exceedingly great joy; wherefore, I began to be desirous that my family should partake of it also; for I knew that it was desirable above all other fruit.
<br>
&nbsp; 13  And as I cast my eyes round about, that perhaps I might discover my family also, I
beheld a river of water; and it ran along, and it was near the tree of which I was partaking the fruit.
<br>
&nbsp; 19  And I beheld a rod of iron, and it extended along the bank of the river, and led to the
tree by which I stood.
<br>
&nbsp; 20  And I also beheld a strait and narrow path, which came along by the rod of iron, even to the tree by which I stood; and it also led by the head of the fountain, unto a large and
spacious field, as if it had been a world.
<br>
&nbsp; 23  And it came to pass that there arose a mist of darkness; yea, even an exceedingly great mist of darkness, insomuch that they who had commenced in the path did lose their way,
that they wandered off and were lost.
<br>
&nbsp; 26  And I also cast my eyes round about, and beheld, on the other side of the river of water, a great and spacious building; and it stood as it were in the air, high above the earth.
<br>
&nbsp; 27  And it was filled with people, both old and young, both male and female; and their
manner of dress was exceedingly fine; and they were in the attitude of mocking and pointing their fingers towards those who had come at and were partaking of the fruit.
<br><br>
On the next page, labeled “The Vision of Business Success,” draw a simple illustration of the dream so we can begin to make some comparisons between the dream and the path toward business success.  Don’t worry about how artistic the illustration is. Just draw the tree, the fruit, the path leading to the tree, the big and spacious building with people at the windows pointing and laughing, the mists of darkness, and the rod of iron leading along side the path.
 <br><br>
The Vision of Business Success
 <br>
Next, identify what the elements of the vision could represent in the business analogy.  Remembering that your answers should be related to your business and moving yourself and your family out of poverty, answer the following questions.
<br><br>
What could the tree represent? What could the fruit represent?
<br><br>What could the path leading to the tree represent?
<br><br>
What could the big and spacious building and the people in the building represent? What could the mists of darkness, the temptations along the way, represent?
<br><br>
What could the rod of iron represent?
<br><br>Possible answers:
<br>Tree: The tree could represent prosperity—the place where you want your family to be.
<br>
Fruit: The fruit of the tree could represent the necessities of life that you want your family to enjoy.  It could be fresh water, healthy meals, needed medicines, better shelter from the rain and the heat, and books for the children.
<br>
Path:  The path could represent your business, which will take you to the better life that you desire for your family—
the prosperous and abundant life.
<br>
Big and spacious building and the people in the building:  The building and the mocking people could represent people or negative parts of your culture that discourage you from trying to succeed in your business. Here is an illustrative story of how family members can stand in the way of business success.  One lady had a rather successful business selling used clothing to her neighbors.  She had already started her business when she was offered the opportunity to attend eight weeks of business training in a distant city.  Her brother promised that while she was away, he would collect the money some of her clients owed her.  He successfully collected the money, alright.  But he spent it on drinking and other bad habits.  When she returned from the training, all her working capital and many of her customers were gone. This woman’s brother was certainly a “big and spacious building” to her.
<br><br>
A Russian joke tells the story of Ivan and Boris.  Ivan, a peasant, is jealous of his neighbor Boris because Boris has a goat.  A fairy comes along and offers Ivan a single wish.  What does he wish for? That Boris’s goat would drop dead.  This story illustrates what is often referred to as the “crab mentality.” That is, when one person in a group starts to rise above the others, everyone pulls her down instead of climbing out with her.  Sometimes our neighbors and family members can be like crabs. That is why the people in the big and spacious building could represent certain unhelpful neighbors and family members. Their mocking remarks must be ignored if you are to proceed on
to the success that you desire.
 <br>
Mists of darkness: The mists of darkness could be temptations that distract you from your goals. They can be real things, such as expensive tools or vehicles; they can be vices; or they can be good, worthwhile activities that take you away from your business.  Even good things, like helping your neighbors or serving in the Church, if pursued too much, can take you away from the business that leads to prosperity.  A wise man once said that, for most of us, life’s dilemmas occur not because we are choosing between bad and good but because we are choosing between many good things.
<br>
Rod of iron: The rod can represent goals.  Goals can help you stay on the path that leads to success and prosperity. You must hang onto your goals to get through the temptations and trials that will come while you are trying to establish your business.  Goals help you ignore people who scoff at you or try to discourage you. They can even help you manage your time spent on good activities that take you away from your business.
<br><br>
With your new understanding of how goals can help you in your business, let’s revisit the concept of SMART goals. Here are some examples of poor business-related goals and corresponding SMART goals.  Again, as you read the two columns, notice how different they feel. The goals in the first column sound like nice wishes, but the goals in the second column pack the power to motivate.
<br><br>
Poor Goals 
<br>&nbsp; 1.	I want more sales.	
<br>
&nbsp; 2.	I want more customers.	
<br>
&nbsp; 3.	I am going to market my business.	
<br>
	SMART Goals
<br>
&nbsp; 1.	I will generate 5000 pesos in sales by March 1st.
<br>
&nbsp; 2.	I will increase my customers from 12 to 20 by August 1st.
<br>
&nbsp; 3.	I will actively recruit one new client every
			working day this month.
<br><br>
Rewrite these three wishes to turn them into SMART goals.
<br>
Poor Goals
<br>&nbsp; 1.   I want to turn my inventory more often.
<br>
&nbsp; 2.   I want my average sale to be higher.
<br>
&nbsp; 3.   I want to find more suppliers.
<br><br>
Short-term and long-term goals
<br>You should have both short-term and long-term goals in order to guide your business activities.  Long-term goals can help you see how your daily actions lead to the overall success of the business.  Long-term goals are more
strategic in nature and are not accomplished on a daily or weekly basis.  Examples of long-term goals include increasing total sales by 10,000 pesos each month, or acquiring one new line of complementary products every four
months.
<br><br>
Short-term goals guide the daily actions of the business and establish successful patterns that help the business in the long run.  Such goals might include increasing the number of customers served each day or convincing each customer to purchase additional items every time he comes into the store. These goals must be tracked daily and weekly to gauge progress.
 <br><br>
Write down some long-term SMART goals for your business. Then list some short-term goals that will help you reach each long-term goal.
<br><br>
Example:<br>
Long-term goal:   I will move my fruit stand to a better location by June 1st.<br>
Short-term goals: I will spend four hours this weekend looking for at least two possible sites.
<br><br>
Two final thoughts on goal setting
<br>
&nbsp; 1.   Some people set a large number of goals in a variety of areas and then work to accomplish all of them,
sometimes finishing only a small percentage of their goals.  Others set fewer goals and concentrate on finishing them all.
<br><br>
Which method appeals most to you?
<br><br>
&nbsp; 2.   Some people get so focused on accomplishing their goals that they forget that as conditions change, goals might also need to change.  Please realize that even though goals should motivate and challenge you to be your best, they might need to be changed sometimes.  This is especially true while running a business. When the unexpected happens, don’t be afraid to revise your goals.
<br><br>
How has your thinking about goal setting been changed through this lesson?
<br><br>
In Lesson 2, you identified new personal habits that you wanted to develop.  Hopefully you now see that goal setting is an important habit to adopt.  Please learn to set long-term goals and then to set short-term goals on a daily basis to support those long-term goals.  Nothing will help you get out of poverty more quickly.
<br><br>
What time each day do you think it is best to plan your day?
 <br>
(Some time-management specialists think the end of each business day is the best time to make short-term goals for the following day.)
<br><br>
When will you set your written goals for tomorrow?
<br><br>
Quotes<br>
For further reflection on this concept, please read the following quotes.  Select your favorite quote, and explain why
that quote is so important to your understanding of the importance of goal setting.<br>

“Goals that aren’t written down are merely daydreams or idle wishes” (source unknown). “Losers deal in generalities. Winners deal in specifics” (source unknown).
“If you don’t have a deadline, you don’t have a goal. You have a wish” (source unknown).<br>

“Success is the progressive realization of worthwhile, predetermined personal goals” (Paul
J. Meyer).<br>
<br>
Final  writing assignment
<br>Find a quiet place where you can think clearly. Think about your own personal and business goals.  Use the following two forms, entitled “My Personal Goals” and “My Business Goals,” to record both short-term and long-
term goals.  Be sure they meet the requirements of SMART goals.
<br><br>



Bottom line
<br>Most people who are successful—in any part of their lives—have found success by regularly setting and achieving goals.  As you continue to establish your business, you should set daily, weekly, monthly, and long-term goals to
guide your work and help you evaluate your progress.

</p>
</div>
</div>