<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 3: Why is Creating a Job Better Than Getting a Job?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>In the short run, which is more secure: working for myself or for someone else?</li>
<li>In the long run, which is doing the most for my family: getting a job or creating a job?</li>
<li>Why do so many people move to other cities or countries rather than get or start a job in the community where they were raised?</li>
<li>In what way is working for myself by creating my own job better than getting a job?</li>
    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Working for others is often more risky than working for yourself.</li>
<li>In some areas, it is nearly impossible to get a good job if you don’t have connections.  But anyone can, with proper training, create his or her own job.</li>
<li>As you create employment for yourself, you become master of your own economic destiny.</li>

</ul>


<p>In Lesson 2, you learned that moving from poverty to prosperity will depend largely upon your willingness and ability to develop new habits that lead to success. In this lesson, we will discuss how creating a job is—in most cases—much more likely to produce prosperity than working as an employee for someone else.
<br><br>
Job options<br>
Getting and keeping a job in a developing country can be quite a challenge.  In some places, jobs are scarce. In other
areas—especially rural areas—jobs are plentiful but they don’t pay enough to provide for a family.  In heavily populated urban areas, workers in their 30s and 40s are sometimes fired suddenly and replaced by young people who have more advanced skills and are willing to work for less money.  In some countries, laws dictate that if a person stays on the job for more than six months, that person can’t be fired. So companies get around the rule by firing employees before the probationary period expires.  Clearly, getting a job is one thing; getting a well-paying job is another; and keeping a well-paying job is yet another.
<br><br>
For young citizens of many developing countries, from Haiti to Honduras and from the Philippines to Peru, there seem to be five employment options:
<br><br>
&nbsp; 1.   Get a job, often only a temporary one<br>
&nbsp; 2.   Be a field laborer for very poor wages<br>
&nbsp; 3.   Move to a metropolitan area or another country<br>
&nbsp; 4.   Don’t work; instead, live off family or those who send money home from working overseas<br>
&nbsp; 5.   Create your own job<br>
<br><br>
Unstable and temporary jobs, field-laborer jobs, and jobs that take people out of their hometowns and countries rarely pay enough to sustain life, much less provide for a prosperous life. Thus, they are clearly less than ideal options for employment and income generation.  And choosing to not work is unacceptable for Latter-day Saints. Both the Old and New Testament teach that we are responsible to earn a living by the sweat of our brow.  Also, Paul, in writing to Timothy, counseled the Saints to provide for their families, especially for those living in their own households.  “But if any provide not for his own, and especially for those of his own house, he hath denied the faith, and is worse than an infidel” (1 Timothy 5:8).
<br><br>
For many, that leaves only one acceptable option—and it is certainly a new way of thinking: creating one’s own job by starting a very small business.  Creating your own job, which often leads to the establishment of a full-blown business and the creation of jobs for others, is definitely an opportunity worth pursuing.  Starting an income- generating activity (IGA) can be a good way to earn a living, regardless of where you live.
 <br><br>
Although creating a job for yourself requires you to take some risks, the likelihood of success and long-term prosperity in a self-made job are much higher than in a job where you are just an employee.  Read through the following advantages and disadvantages of creating your own job.
<br><br>
Advantages of creating your own job:
<br>
</p>
<ul>
<li>You can work your own schedule.</li>
<li>As you create a job and then create a business with value, you are creating an asset to pass on to
other family members.</li>
<li>You can eventually make a lot more money by owning your own business than by working for
another person.</li>
<li> As you hire others and manage them wisely, they will also make money for you and your family.</li>
<li>You can’t get fired when you’re the boss.</li>
<li>There is generally no limit on your income.</li>
<li>You will probably be able to get along with the boss—you!</li>
<li>You can choose your co-workers.</li>
<li>You don’t need a high level of education to create a job.</li>
<li>You can do things the way you want to do them.</li>
<li>As conditions change in your area, you will be able to change your direction to take advantage of new trends and opportunities.</li>
<li> You can choose to not work on Sunday.</li>
</ul>

<p>Disadvantages of creating your own job:<br></p>
<ul>
<li>You can go bankrupt.</li>
<li>You won’t get paid unless you produce sales.</li>
<li>It is a lot harder to create a job than to occupy an available job.</li>
<li>When you work for someone else, you generally
get paid for just showing up.  When you work for yourself, you must work hard for your income.</li>
<li>When you create your own job, it is expensive, at first, to provide health benefits for yourself.</li>
<li>If you work for someone else, they produce the
money to pay your salary.  When you work for yourself, you are responsible for generating the money to cover your salary.</li>
<li>If you give people credit, some people won’t pay.</li>
<li>If you have employees, they can steal from you.</li>
<li>Perishable products can spoil before they are sold.</li>
<li>You can’t slack off and take it easy for a long time.</li>

</ul>

<p>

What other specific advantages would creating your own job and working for yourself have for you and your family? (For example, would it allow you to eventually spend more time with your children?  Would it allow you to eventually help others in your ward learn to start their own business, thus strengthening the Kingdom?  Would it allow you more flexibility with your time, once you have employees, so you could see your children play sports or perform in school activities?)
<br>
<br>
 
Identify the reasons why you personally may need to start an IGA rather than keep looking for “the perfect job.”  If your reason is not on the following list, write it in below the list.  Put a checkmark next to all the reasons that apply to your desire to create your own IGA.
<br>

</p>
<ul>
<li>Few jobs are available in my area.</li>
<li>I know people who have created their own jobs and are now making a good living.</li>
<li>I know that a small enterprise, if managed well, can be profitable.</li>
<li>I already have a marketable skill or access to products or services.</li>
<li>I could start an IGA easily.</li>
<li>I can close my store on Sundays and observe the Sabbath.</li>
<li>I can teach my children how to run a business.</li>

</ul>

<p>
   Even with a clear understanding of why you should create your own IGA, actually going out and starting your IGA can be a scary thing.  You will likely feel afraid about failing and be nervous about how to proceed. The key is to apply what you learn from these lessons and start small.  You can minimize your risk and increase your odds of success by selling simple products or providing a simple service and then later expanding your IGA when you have more experience and more money.

<br>
<br>
The lessons in this workbook will give you tremendous confidence. From them you will learn how to create your own job.  Once you learn correct business rules and techniques, master the skills, and adopt the behaviors, you can
be successful in generating income through buy-and-sell activities. These new skills, when applied consistently, will help you and your family fight your way out of poverty and become prosperous.
<br>
<br>

Rule  of thumb
<br>
Start small; think BIG.  First create a job for yourself, then turn that job into a business, then create jobs for others.
Prosperity comes by progressively mastering yourself, mastering a small business, mastering the skill of managing others, and then mastering an industry.
<br>
<br>

Fieldwork
<br>
Go out into the marketplace and find at least four people who are engaged in buy/sell activities. Talk with them
about their experiences—their failures, successes, frustrations, etc.  Do they think of their IGA as a permanent employment opportunity?  Do they want to grow their business?  Find out the advantages and disadvantages of doing business. Take notes.
 
<br>
<br>
Final  writing assignment<br>
Based on what you’ve learned from this lesson, summarize your thoughts on why creating a job for yourself will be good for your family.  Write down the things you worry about and then try to address each fear, writing how you will overcome that particular fear.
<br>
<br>

Bottom line
<br>
The best economic solution for lifting your family out of poverty may well be found in creating a job for yourself in your own community.
</p>
</div>
</div>