<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 4: How Can I Recognize and Seize A Good Opportunity?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>What does the word business mean?</li>
<li>What is the difference between an idea and an opportunity worth pursuing?</li>
<li>Do my neighbors have problems they would pay me to solve?</li>
<li>What opportunities are uniquely available to me because of my location, skills, and interests?</li>
<li>What skills and resources do I need to have to “take advantage” of these opportunities? What new resources do I need to gather to seize these opportunities?</li>

    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>There are four main types of businesses: retail, service, wholesale, and manufacturing.</li>
<li>There are hundreds of ideas for income-generating activities (IGAs), but real opportunities are harder to come by.  Separating good opportunities from average ideas requires research, planning, and testing.</li>
<li>Opportunities solve problems for potential customers. The more pressing the problem, the more successful the provider of the solution can be.</li>
</ul>

<p>
<p>New words:</p>
<ul>
<li>Business:	Any formalized effort that increases an amount of money through the exchange of goods or services between two or more people or entities in order to make a profit.</li>
<li>Retailer:	A business that buys from a wholesaler or manufacturer and sells directly to consumers. Service business: A business that provides time, skills, or expertise in exchange for money.</li>
<li>Wholesaler: A business that purchases goods in bulk from a manufacturer and sells smaller quantities to retailers.</li>
<li>Manufacturer:  A business that makes or produces a tangible product that is then sold to wholesalers or retailers.</li>
<li>Problem:	A situation that is difficult to deal with or control. Idea:	A thought formed in a person’s mind.</li>
<li>Opportunity:  A favorable combination of circumstances; a situation that would allow a person to make a profit by taking advantage of it.</li>

</ul>
<p>One of the biggest challenges for people striving to get out of poverty by starting an income-generating activity (IGA) is deciding what to sell. Many just see what their neighbors are doing and do the same thing.  Unfortunately, this seldom works; instead, it tends to flood the market with competitors who drive the prices down.  So if it isn’t wise to sell what your neighbors sell, how do you find a good idea and how do you know which ideas are real opportunities to help you work your way out of poverty?
<br>
<br>
Let’s start by learning about the four basic types of businesses. Remember that a business is any formalized effort that increases an amount of money through the exchange of goods or services between two or more people or
entities.  Businesses come in many shapes and sizes; they sell a million varieties of products and provide thousands of different services.  But they generally fall into one of four categories:
<br>

&nbsp; 1.   Retail businesses sell products to people who actually use or consume the product.  Most businesses fall into this category because they can be started with only a small amount of money and time.
<br>
&nbsp; 2.   Service businesses offer a service to a customer.  An example is a babysitter who cares for young children.
<br>
&nbsp; 3.   Wholesale businesses sell products to retailers, who then sell them to end users.
<br>
&nbsp; 4.   Manufacturing businesses create products and sell them to wholesalers, retailers, and end users.
<br>
<br>

Keeping the four types of businesses in mind, start exploring ideas for your own IGA by listing every idea you can come up with for products you can sell or services you can offer.  Please list them below.
<br>
<br>
Now review your list.  Which products or services solve a pressing problem for people who live in your area? What problem does each of them solve?
<br>
<br>
Why must your product or service solve a problem for your customer?  Because a customer will buy a product or service only if it meets one of his needs or solves one of his problems.  And the bigger the need is for the item, the more likely the customer is to make the purchase, and the faster he will make the purchase. The ability to solve a problem is a major factor separating ideas from opportunities worth pursuing.
<br>
<br>

I (Stephen W. Gibson) had a very successful business selling the most in-demand product in the world: oxygen. People with lung problems need to purchase supplemental oxygen to breath better and avoid extreme headaches and the possibility of passing out.  Because breathing is such an important need—arguably the most important need— and because I built a business around meeting that need, I had great success.
<br>
<br>
 
List what you think changes an idea into an opportunity worth pursuing.
<br>
<br>
Here are some possible factors:</p>
<ul>
<li>It solves a common but pressing problem.  The more urgent the problem, the better.</li>
<li>The solution to the problem is available at a price that the potential customer is willing and able to pay.  (For example, the price is not so huge that a person would have to get approval from his or her spouse before purchasing the item.)</li>
<li>There is not already a dominant company solving that problem in your market area.</li>
<li>The decision by your customers to purchase the product/service is an easy one.</li>
<li>There is enough profit to be made by you, the seller, that it is worth selling the product or offering the service.</li>
</ul>
<p>
Assignment
<br>
Keeping in mind the characteristics of good business opportunities, review your list of three product or service ideas that solve a problem for people in your local area (see the previous page).  Choose one opportunity that you would
like to research more. (Choosing an opportunity to research more does NOT mean that you are committing to turn that opportunity into an IGA.  You will commit to an IGA at the end of this lesson.  At this point, we just want you to choose an IGA that you are interested in researching further.  It may turn into the IGA you start, or it may not.)
<br>
Go back through this lesson and think carefully about how successful the opportunity could be. Be as specific as possible in your evaluation of the opportunity.
<br>
<br>
 
You may be feeling frustrated at this part of the workbook.  You may be eager to just start making money and may not see the value of doing all this research.  But in-depth planning is valuable.  Napoleon Hill, author of Think and Grow Rich, explains why planning is so important. “One must realize that all who have accumulated great fortunes first did a certain amount of dreaming, hoping, wishing, desiring and planning before they acquired money” (Hill, Napoleon. 1960. Think and Grow Rich. Ballantine Books, p. 37; emphasis added).
<br>
<br>

Without planning and analyzing, would-be business owners waste a lot of time, money, energy, and enthusiasm chasing after ideas but never establishing a successful IGA.  The key to being successful right from the beginning is to research, plan, and test a solid opportunity.
<br>
<br>

You see, there is never a shortage of ideas. In fact, there isn’t even a shortage of good ideas. The challenge lies in finding the right idea at the right time that is also the right opportunity for you based on your business experience. You can likely find a good business opportunity by changing the way you look at the world around you.  You can train your mind to see opportunities.  Many well-known products were created because someone found a new way to solve an old problem.  For example, in the Philippines, the national postal service isn’t very reliable, so a man developed a company, called LBC, that delivers letters and packages.  He started first in his own neighborhood and now delivers to hundreds of islands in that country.  Another man in the Philippines saw the success of McDonalds, an American fast food franchise, so he started a company selling a Filipino-type hamburger patterned after McDonalds’ hamburgers. His business, Jolly-Bees, has been very successful.
<br>
<br>

Here are some small IGAs others have successfully started:
<br>
</p>
<ul>
<li>Selling cold drinks, like lemonade</li>
<li>Selling homemade soups and stews</li>
<li>Selling hot drinks</li>
<li>Selling homemade sandwiches</li>
<li>Selling bottled water</li>
<li>Selling soft drinks</li>
<li>Selling pancakes</li>
<li>Selling flip flops</li>
<li>Selling homemade cloths or rags</li>
<li>Selling used clothing</li>
</ul>

 <p>
   While these aren’t, perhaps, new and exciting opportunities that will make you prosperous very quickly, they are IGAs that can help you earn money, teach you important lessons about how a business operates, and give you valuable experience that you can build upon.
<br><br>
Many people want to start more sophisticated IGAs, such as Internet cafes or cell phone distributorships, that are very popular in developing countries. While these are viable business opportunities, they generally require so much start-up capital that they really aren’t opportunities worth pursuing until a person has a lot of  business experience and capital (in that order). As you start your IGA, remember to start small and think big.  (This workbook is designed to help you move quickly from a small IGA to a business.  At the end of this lesson, you will identify the IGA you want to start.  All of the other lessons in the workbook aim to help you grow your IGA quickly into the business you want it to become.)
<br><br>
Fieldwork<br>
Go to a marketplace and see if you can now see the difference between ideas—and there will be a lot of them—and opportunities worth pursuing, based on research.
<br>
Make three lists during your marketplace visit.
<br>
&nbsp; 1.   List ideas that have little long-term potential.  You’ll recognize these products as mere ideas by the fact that many, many people will be selling exactly the same items.  (Selling fresh fruits, for example.) These ideas are not usually very good for the long run, but they will give you some business experience and might, therefore, be a good place to start.
 <br>
&nbsp; 2.   List IGAs that seem more like opportunities than just ideas.  Also write down why you think these
businesses might be closer to opportunities rather than just ideas. (Selling baked goods or soft drinks from a bicycle in rural areas or remote sites, for example.)
<br>
&nbsp; 3.   List opportunities that might be right for you, based on considerations such as how much money you would need to begin the IGA, whether it solves a problem for the customer, how many similar IGAs you already see in the marketplace, how critically that product or service is needed, etc.
<br><br>

Be creative as you  think about IGAs
<br>Jonith, a bright young man, had a hard time deciding what IGA to start after he graduated from a microenterprise training program.  As he was walking around his hometown one day, he passed by his old high school and stopped on a street corner to wait for some cars to pass by.  He noticed several students asking a delivery service employee if
the store in which she worked (which was located just across the street from their school) offered photocopying services. The employee told the students that the store didn’t have any photocopiers and that, as far as she knew, no
such service was available in the whole town.
<br><br>
Jonith recognized that the lack of photocopying services was a problem for these students.  He wondered if he might have found a problem worth solving with an IGA.  Jonith knew that someone from his church sold photocopiers, so Jonith decided he would ask this man how to get a machine.
<br><br>
He also asked the owner of the store across the street from the school if she would rent him a small, unused space inside the store. The owner granted him permission and said he would rent the space very cheaply since she wasn’t using it. The only problem was that Jonith didn’t have any money for rent.  He asked the store owner if he could pay her at the end of the month.  She agreed, so Jonith then asked his friend from church if he would loan him a copier to try out. Jonith promised he would purchase the copier if he could make any money in his new “business.”
<br><br>
On the day the photocopier was delivered, Jonith realized that he didn’t have any copier paper.  So he asked the store owner if he could borrow 25 sheets of paper.  She gave him a full ream of 500 sheets and said he could pay for the paper when he paid the rent.  He also discovered that he needed an electric extension cord so he could plug the machine in. He borrowed that from another friend.
<br><br>
He then started promoting his services to students at the school in front of the store. Jonith attracted so much business the very first day that he earned enough money to pay the landlady for the ream of paper she had loaned him.  Jonith continued to buy his supplies on credit, and by the end of the month, he had raised enough money to pay everyone the money he owned them and make his first payment to purchase the copier.  He was also able to pay himself a small salary.
<br><br>
Today, he owns three copiers and has his own printing business. Most of his customers are students, but he also prints ID cards for the nearby school.  He has recently expanded to commercial printing for the businesses in his town.
<br><br>
What are some of the things Jonith did to increase the odds that his IGA would result in success for him?
 <br><br>
Final  writing assignment
<br>
Based on what you’ve learned from this lesson, think seriously about the IGA you plan to start to help bring your family out of poverty.  Now is the time to decide what IGA you will start.  Once you have identified what you think will be a good opportunity, test it against the five characteristics of a good opportunity (see the bulleted list on
page 21).
<br><br>
Do whatever research is necessary to find out everything you can about what you must do to be successful in the business you want to start. Find out how many other IGAs are currently doing something similar to what you want to do.  Find out what start-up costs will be involved in your IGA, what suppliers you can use, how much you can charge for your products, etc.  Once you have a well-researched and well-developed plan, talk with a trusted friend or mentor who is currently running a successful IGA.  Ask for feedback about your proposed IGA; see if your mentor thinks you’ve found a real opportunity. Then write down exactly what your IGA will do—what you will sell, where you will sell it, etc.  You will refer back to this statement several times in the following lessons.
<br><br>
Bottom line
<br>Most business ideas are not worth pursuing. The best opportunities involve selling a simple solution for a pressing
problem and offering it at a fair price that people are willing and able to pay.

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>