<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 10: What Records Must I Keep Each Day?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>What records must I keep in order to run a more successful and efficient business?</li>
<li>How often should I make records?</li>
<li>How often should I review my records to monitor my progress?</li>
<li>At the end of each work day, to whom do I show accountability?</li>
<li>How can keeping good records help my business grow?</li>
    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Record keeping is vital to the success of every business.  In business, successful record keeping is a two-part process of (1) making the records and (2) reviewing the records to see what you can learn from them.</li>
<li>You should keep daily records on four areas of your business: inventory, sales, expenditures, and cash.</li>
</ul>

<p>
<p>New words:</p>
<ul>
    <li>Record keeping: The act of writing down and reviewing things you want to remember.  In business, you must keep records daily—especially in the key areas of inventory, sales,
expenditures, and cash.
    </li>
<li>Tracking:	A system of recording business-related information which, when reviewed, reveals trends specific to the business’ progress or success.
    </li>
<li>Income statement: A financial record that summarizes the revenues and expenses of a business over a specific period of time.  It shows the net profit or loss during that period of time.
</li>
</ul>

<p>In Lesson 9, you learned about managing your cash flow and inventory—two vital aspects of maintaining the long- term profitability of your business.  In this lesson, you will learn how to create order in your business by keeping and reviewing records daily.
<br>
<br>
In Doctrine and Covenants 88:119, the Lord instructed the Saints about the importance of establishing order in their lives.  He commanded, “Organize yourselves.” This counsel applies not only in all aspects of our private lives but also in all aspects of our business. We need to be as organized as possible so that we have a firm foundation upon which to build our business and find success.
<br>
<br>

The  importance of record keeping
<br>
Record keeping is an important principle that goes hand in hand with being organized.  Record keeping is a two-part process of (1) making the records and (2) reviewing the records to see what you can learn from them.
<br>
<br>

Keeping records
<br>
In addition to recording personal and family activities, you should keep daily records related to your business.
Record keeping in your business allows you to see what you’ve done in the past and, therefore, helps you continue in your successes and eliminate your mistakes.  It also creates a history that will, over time, reveal trends in various
aspects of your business. For example, by recording your business actions daily, you might find that you sell more on Tuesday and Wednesday than you do on the other days of the week.  Or you might see that you get more
customers during the afternoon hours than in the morning.  Or you might notice a substantial decrease in costs after you began working with a new supplier.  All of these trends provide valuable information that can help you make
better decisions and run a more profitable business. And a profitable business helps you reach your ultimate goal of moving your family toward prosperity.
<br>
<br>

What changes might you make in the operation of your business if you learned that Tuesday and Wednesday are your strongest sales days?
<br>
<br>

Some business owners understand the importance of keeping records but think that the counsel applies only to large businesses or to complex businesses. This is simply not true.  Every business can benefit from good records. Even if your business is small, written records are vital.  You simply cannot remember every detail of what occurs in your business—especially after long periods of time.  Your memory will surely fade as days and weeks pass, but ink never fades.  Record keeping enables you to see, with no doubt at all, what has truly happened in your business each day.
<br>
<br>

What could prevent you from keeping records daily?
<br>
<br>

How can you deal with those obstacles and press forward with your record keeping?
<br>
<br>

What problems could occur if you fail to keep good records of your business activities?
<br>
<br>

Your process for keeping records will likely change over time.  No matter what business you run or how big that business is, you—the owner—are always ultimately accountable for the quality of your records because you have the most invested in the business, both financially and emotionally.  In the initial stages of your business, you will be the primary record keeper.  As your business grows and you hire employees, you can turn over some of the record- keeping responsibilities to trusted employees.  However, you still remain accountable for the quality of the records. Therefore, you must teach employees what records to keep and how to keep them so that your records will continue to be an accurate, meaningful resource for decision making in your business. (See Lesson 11 for an in-depth discussion on managing employees.)
<br>
<br>

As you delegate the record-keeping responsibilities to your employees, what are the two most important things you need to tell them about keeping records?
<br>

(What records to keep, and how you want the records to be kept.)
<br>
<br>
 
Reviewing records
<br>
Records do no good for anyone unless they are reviewed and analyzed frequently. Peace of mind comes from having detailed knowledge of what is going on in your business. Knowing what is written in your records protects you from making the same mistakes over and over. You should study your business records daily.
<br>
<br>

You should keep daily records on four specific aspects of your business.  Having detailed information about these four areas will enable you to see the patterns and trends of your business.  Pay close attention to each area as you read through this lesson.  You might even want to post these four principles somewhere in your business and memorize them.
<br>
<br>

Keep records of your inventory
<br>
Each business has different inventory items.  For example, if you run a plumbing business, your inventory will have PVC pipe, copper pipe, joints, glues, T pieces, L pieces, and so on.  If you operate a paint store, you will stock gallons of paint, brushes, rollers, painter’s tape, power sprayers, and so on. Every business has some kind of
inventory.
<br>
<br>

<br>
With your inventory, it is very important that you record the following information:
&nbsp;1.   The name of each specific item you buy
<br>
&nbsp;2.   How many of each item you buy
<br>
&nbsp;3.   The cost per item
<br>
&nbsp;4.   The date you purchased the inventory
<br>
<br>

For example, pretend you sell cell phone accessories. This morning, you visited one of your suppliers and made a small purchase.  Your records could indicate the following (though they certainly do not have to look like this):
<br>

</p>

<div class="table-responsive">          
        <table class="table">
            <thead>
            <tr>
                <th>Name of Item</th>
                <th># of item purchased</th>
                <th>Cost per item</th>
                <th>Date of Purchase</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Pink Nokia phone (model #AG8279)</td>
                <td>4</td>
                <td>35 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            <tr>
                <td>Protective cover for pink Nokia phones</td>
                <td>4</td>
                <td>15 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            <tr>
                <td>Purple ear attachments</td>
                <td>10</td>
                <td>10 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            <tr>
                <td>Prepaid calling plan (5 hours)</td>
                <td>50</td>
                <td>25 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            </tbody>
        </table>
        </div>
<p>How do you know how much something costs, individually, if you buy it in a large quantity?  For example, if you buy 100 pieces of PVC pipe for a total of 370 pesos, how much does each piece of PVC pipe cost?
<br>
(370 pesos divided by 100 pieces = 3.70 pesos per piece.)
<br><br>
To cement in your mind the importance of keeping track of your inventory, consider the following true short story of a plumber in Mexico City.
<br><br>
Jose is a plumber who started his own plumbing business six years ago.  After a few months, his business began to run out of money, and he could not buy any more inventory. He started to look for some money.  He needed either someone who could lend him some money or someone who could become his business partner by investing some money in the business in order to keep it running.  He found Pepe, a very successful business man. Jose was excited that Pepe would consider investing in his business and joining his team.
 <br><br>
The first time they met, Pepe asked to Jose to have all of his inventory records ready, so that he could look over them. Jose was a bit shocked; he had never kept track of his inventory and wouldn’t have a single sheet of paper to show Pepe.  He didn’t know what to do.  He didn’t even know where to begin.  He tried counting and recording each item, but after 8 hours of trying to organize his inventory, he gave up.
<br><br>
When Pepe arrived, he saw the condition that the business was in and how unorganized Jose was.  Pepe thanked Jose for the partnership invitation but declined to go any further in the business. He told Jose that he needed to be able to see how much money was being spent on different inventory items.  In addition, he needed to be able to see what items were being sold, and when they were being sold—he even wanted to be able to see to who was buying the items.  He wanted to see the receipts of purchases, and the records of sales. Jose, unfortunately, had none of these records. Jose had committed a serious mistake: he thought that since his business was small, he could remember everything that was happening in it. This was simply not the case, however, and Jose had a lot of cleaning up to do.
<br><br>
Shocked and motivated by Pepe’s rebuke of his business operations, Jose spent the next three weeks counting and organizing his inventory. To his surprise, he had more than 3,000 nails, 2,000 screws, 30 pounds of unused glue, and much more! Jose began to realize that
he had wasted money on too many items—like nails and screws—that he didn’t even need! Jose learned some valuable lessons from this experience.  First, he learned that he had a lot
of money tied up in inventory that wasn’t selling.  Second, he learned that inventory records are vital. They help you use your cash and plan your purchasing wisely, and they keep you
from spending money poorly.  Third, he learned that though it’s best to keep inventory records from the beginning, it’s never too late to start.
<br><br>
Each business owner is different; so is each business owner’s way of tracking inventory.  There are many good ways to record inventory-related information.  But remember that each system must include the four items discussed above.
<br><br>
Now it’s your turn to apply this principle to your own business. Take 15 minutes to figure out what inventory- tracking system you will use in your business.  Create a form (or forms) to help you track your inventory.  Include the four necessary elements of inventory tracking in your form.  Decide how often and at what time of the day or week you will count your inventory.  If you have employees, decide who will be in charge of tracking inventory for your business.
 <br><br>
Keep records of your sales<br>
The second type of business transaction that must be monitored through record keeping is sales.  Every time you sell an item to a customer, you need a written record of the event. That record should include the following information:
<br>
&nbsp;1.   A description of the item<br>
&nbsp;2.   The date on which it was sold (and the time, if possible)<br>
&nbsp;3.   The sale price<br>
&nbsp;4.   Whether the purchase was made by cash, check, or credit (Remember to rarely sell on credit!)<br>
&nbsp;5.   The name of the customer<br><br>

Think of a well-established business that you visit often, and answer the following questions. When you make a purchase at that store, what do you receive from the cashier as a record?
<br><br>
Why is receiving a receipt important to customers?
<br>
(It gives them a record of the purchase.  If they like the item and want more of it, they can look at the receipt and remember where they bought  it. Also, if they want to exchange or return an item, they have proof of purchase.)
<br><br>
Why is giving a receipt important to the seller?
<br>
(It creates a record of the transaction for the seller.  On the receipt is listed all the information the seller needs in order to record the details of the sale.  The receipt itself can either be kept as the permanent record or transcribed into a book of all the receipt logs.  Also, if the seller issues receipts for every sale, the seller can require that the receipt be presented if a customer wants to return or exchange an item.  Furthermore, if you make a copy of the receipt, it can be part of your record keeping.)
<br><br>
When you look over a week’s worth of receipts, what valuable information can you learn from the details you’ve recorded about every sale?
<br>
(You can see which items you sell most frequently, which items don’t sell well, what days of the week are better for your business, etc.)
<br><br>
What advantage does this information give you as a business owner?
<br><br>
When you are able to look over a month’s or year’s worth of receipts, what valuable information can you learn from the details you’ve recorded about every sale?
<br>
(With a longer period of time, you can see selling patterns over time.  For example, you might observe that sales are higher in the fall than in the summer, or that demand for Christmas items is highest during the first week of December.  You can then plan to make your bulk buying accordingly so you don't run out of merchandise in your busiest sales seasons.)
<br><br>
Perhaps the most motivating part of tracking your sales is that you can compare what you paid for an item with what you sold that item for and calculate how much of a profit you made!
 <br><br>
Now it’s your turn to apply this principle (tracking your sales) to your own business. Take 15 minutes to figure out what sales-tracking system you will use in your business. Create a form (or forms) to help you track your sales. Include the five necessary elements of sales tracking in your form.
<br><br>
Also, create a template for the receipts you will issue to customers.  How can you make sure that customers don’t have to wait a long time while you fill out the receipt? If you have employees, decide who will be in charge of tracking sales for your business.
<br><br>
Keep records of your expenditures<br>
There are always costs involved when it comes to running a business—you almost never get anything for free! From the business experience you are already gaining, you know that you have bills to pay, inventory to purchase,
employees to pay, and much more.  Expenditures happen every day, and they must be recorded.
<br><br>
Every time you spend money—on anything related to the business—you need a written record of the event. That record should include the following information:<br>
&nbsp;1.   A description of the item/service<br>
&nbsp;2.   The date on which you bought the item/received the service (and the time, if possible)<br>
&nbsp;3.   The purchase price<br>
&nbsp;4.   Whether the purchase was made by cash, check, or credit (buy on credit as often as possible)<br>
&nbsp;5.   The name of the business you purchased the item/service from<br><br>

Thinking about your own business, please list all of your regular, recurring business expenses.<br><br>

When you track your expenditures, you will be able to see your spending patterns from day to day, week to week, and month to month. Tracking your spending patterns and your expenditures will enable you judge whether you are spending wisely.  Also, in case you need to return an item or dispute a charge (for example, if you are charged 40
pesos for something that should have been just 30 pesos), you’ll need a written receipt as a proof of purchase or to clear up any discrepancies or misunderstandings.
<br><br>
Since receipts are clearly an important record of expenditures, you’ll want to keep them safe. Think about the physical layout of your business.  Where is a safe place for you to keep your records so that they are always protected?
<br><br>
When you receive a bill, you must remember that it should go in the same place each and every time. Running your own business requires a great deal of organization, and if you do not have a specific location for unpaid and for paid bills, you will likely lose track of your expenditures.  It is extremely important that you place your paid bills in one location and your unpaid bills in a separate location.  A good suggestion is to have a file for unpaid bills.  Once they are paid, mark them as paid (and include the date of the payment) and then move it to a file for paid bills.
<br><br>
What type of system will you use in your business to file the expenditure records?
<br><br>
Now it’s your turn to apply this principle to your own business. Take 15 minutes to figure out what expenditures- tracking system you will use in your business.  Create a form (or forms) to help you track your expenditures. Include the five necessary elements of sales tracking in your form.
<br><br>
Keep records of your cash balance<br>
Cash is the fourth and final item that you need to track daily.  At the end of each business day, you should do the following:<br>
&nbsp;1.   Add up all the sales you’ve had for the day.  Calculate how much money you should have received and put in your cash register, drawer, or bank account.  Also, calculate how much money you have spent on inventory or bill paying.  Figure out exactly how much cash should be left in the cash register or drawer.<br>
&nbsp;2.   Count the cash from your cash register or drawer.<br>
&nbsp;3.   Compare those two numbers.  If they match, your cash is balanced.  If they don’t you need to find the missing money.<br>
&nbsp;4.   Put extra money into a safe deposit box or bank account.  Never keep extra money lying around.<br><br>

Why is counting your cash an important activity to do daily?  What important information does daily tracking give you about your cash?
<br>
(By counting and recording your cash daily, you will be more aware of mistakes that may have been made in transactions, how much  inventory you will be able to buy to replace inventory that has been sold, the sales needed for the next day, etc.)
 <br><br>
Now it’s your turn to apply this principle to your own business. Take 15 minutes to figure out what cash-tracking system you will use in your business. Create a form (or forms) to help you track your cash.
<br><br>
Income statement<br>
There is one additional record that you should keep and review regularly—though not necessarily daily: the income
statement.  An income statement is a financial record that summarizes the revenues and expenses of a business over a specified period of time (usually a week, month, or year). The income statement shows the net profit (or loss) during that period of time.
<br><br>
The value of an income statement is that it provides a snapshot of how profitable the business was over a specific period of time.  The information on the income statement answers the question, “How is my business doing?”
<br><br>
Every income statement needs three important identifiers at the top center of the statement. These pieces of information help business owners keep good records and compare multiple income statements to discover important trends within the business.
<br>
&nbsp; 1.   The name of the business<br>
&nbsp;2.   The label, “Income Statement”<br>
&nbsp;3.   The period of time covered by the statement (e.g., June 1, 20XX—June 30, 20XX)<br><br>

The income statement has seven parts:<br>
&nbsp;1.   Revenue—the money generated from selling products and services.<br>
&nbsp;2.   Cost of goods sold—the direct cost of the product. For a retail business, the cost of goods sold is equivalent to the inventory at the beginning of the period, plus the goods purchased during the period, minus the
remaining inventory at the end of the period.<br>
&nbsp;3.   Gross profit—total revenue minus total cost of goods sold.<br>
<br>
&nbsp;4.   Operating expenses—all costs incurred to operate the business on an ongoing basis.  Examples include utilities, salaries for the owner and employees, advertising expenses, insurance, interest, business-related transportation costs, rent, etc.).
<br>
&nbsp;5.   Profit before taxes—gross profit minus operating expenses. This is the profit before paying taxes but after all other costs have been paid.
<br>
&nbsp;6.   Taxes—payment required by the government based on business profit.
<br>
&nbsp;7.   Net profit or loss—a.k.a., “net income” or “the bottom line.”  A business profit or loss after taxes have been paid.
<br><br>
You can use the sample income statement on the following page as a guide to help you create your own income statement template to use on a regular basis.  Remember that you do not have to create an income statement daily, but you should create it frequently and review it frequently to assess the profitability of your business. After all, the whole purpose of being in business is to generate a profit every day.
<br><br>
Final  writing assignment
<br>From memory—without looking back at the lesson, list the four business indicators that you must keep records on each day.
<br><br>


Bottom line
<br>In order to really understand your business—and thus be empowered to improve and grow your business—you must keep good records and review them regularly.  Specifically, you must know what is going on in your inventory,
sales, expenditures, and cash.

</p>
</div>
</div>