<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: Why Do Some People Suffer in Poverty While OThers Enjoy Prosperity?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>Does it matter if my family is rich or poor?</li>
<li>What has caused my family to be poor?</li>
<li>What did my mother and father teach me about having money?</li>
<li>What do the scriptures say about seeking for riches?</li>
<li>What is the best way to move toward prosperity?</li>
<li>Do I believe it is possible to break the chains of family poverty?</li>
<li>When I move toward prosperity, does it cause someone else to move toward poverty?</li>
    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Traditional views about money and prospering aren’t always correct.</li>
<li>God wants you to be successful, but He may not care if you are “rich” or not.</li>
<li>Your actions and habits largely determine whether you live in poverty or prosperity.</li>
<li>Righteousness and wickedness are not necessarily related to poverty or prosperity.</li>
<li>The spiritual (heavenly and religious) and temporal (material, or having to do with life on earth) are inseparably connected.</li>

</ul>

<p>
<p>New words:</p>
<ul>
    <li>Culture: The values, attitudes, and beliefs of people in a group (such as a family, community,
neighborhood, society, ethnic or religious group, or country).
    </li>
<li>Poverty:	The conditions that prevent an individual or family from having fresh water, nutritious food, adequate health care, or educational opportunities.  Poverty often stifles or limits individual temporal and spiritual growth.  Living in poverty does not generally encourage individual movement toward economic development and material well-being.
</li>
<li>Prosperity:  The conditions of having adequate shelter, nutrition, fresh water, material goods, and education.
</li>
<li>Income-generating activity (IGA): Any effort made to increase the amount of money a family has.  It can be selling something, making and then selling something, or providing a service for payment.  As an IGA becomes more organized, it can be called a business, but it isn’t really a business when it is first started.
</li>
</ul>
<p>
Poverty and prosperity are on opposite ends of the spectrum of how much money an individual or family has. Poverty is characterized by a general lack of necessities.  Prosperity, on the other hand, is characterized by a general abundance.  Clearly, most people, if given a choice, would prefer to live in prosperity rather than poverty.
<br><br>
Everyone can choose to live a prosperous life.  With the training you will receive from the lessons in this book, you can decide to be prosperous and then make and follow a plan that will help you achieve your goal.
<br><br>
Think about the way you live each day.  What aspects of your daily living might suggest that you are currently living in poverty?
<br><br>
</p>

<p>
    Think about the way you live each day.  What aspects of your daily living might suggest that you are currently living in poverty?
 <br> <br>
Put an X next to each statement that applies to you and your family.
<br> <br>
Poverty indicators
</p>
<ul>
<li> We eat only one or two meals a day.</li>
<li>We eat only one meal on Sundays so we have money to get to church.</li>
<li>Our children do not attend school because they do not have uniforms, books, and supplies. No one in our family goes to a doctor when they are sick.</li>
<li>We have only enough money to buy over-the-counter medicines one pill at a time.</li>
<li>Our house is in a poor area of town where we often experience floods and fires. We depend on relatives for money or food.</li>
<li>We have a hard time fulfilling a calling in the Church.</li>
<li>We buy our household goods, like laundry soap, in very small packages. The job we have is temporary and does not meet our family’s expenses. Some children in our family do not have shoes to wear to church.</li>
<li>Our drinking water comes from a communal tap or from the river. Our house has a dirt floor, and we cook our meals over an open fire.</li>
</ul>
<p>
  Prosperity indicators  
</p>
<ul>
<li>We are in charge of our lives, and we actively use our time to our benefit.</li>
<li>We set goals individually and as a family.</li>
<li>We have money so we can go to church as a family.</li>
<li>We don’t let others keep us from making a better living.</li>
<li>We have enough income that we can serve freely in the Church. We can take a bus or Jeepney, when needed.</li>
<li>We can buy medicine for ourselves and the children, if needed.</li>
<li>Our children are all in school.</li>
<li>We can buy some household goods in bulk, like oil, laundry soap, and some food. We have fruits and vegetables in addition to our rice or main food.</li>
</ul>
<p>
    What traditions, practices, or beliefs in your culture keep you and your family poor?
<br><br>
Can you think of anything your parents taught you that might make you think you should remain living in poverty?
<br><br>
Is there anything that might not be correct about those ideas or traditions of your parents, especially as they relate to lifting yourself out of poverty?
<br><br>
Can you still honor your mother and father but have different opinions than they have?
<br><br>
In the Book of Mormon, the Lord promises that people who keep the commandments will prosper.  Ask someone who is financially successful and lives nearby if it is okay to be prosperous.  You might also ask him/her why he/she thinks some people live in poverty and others are prosperous.  Write down what you learn.<br><br>
The Book of Mormon teaches us that after you have a hope in Christ, it is okay to seek riches for the right reasons.
<br><br>
Jacob 2:17-19<br>
&nbsp; 17  Think of your brethren like unto yourselves, and be familiar with all and free with your substance, that they may be rich like unto you.<br>
&nbsp; 18  But before ye seek for riches, seek ye for the kingdom of God.<br>
&nbsp; 19  And after ye have obtained a hope in Christ ye shall obtain riches, if ye seek them; and ye will seek them for the intent to do good—to clothe the naked, and to feed the hungry, and
to liberate the captive, and administer relief to the sick and the afflicted.<br><br>

Summarize the reasons why seeking riches can be good.<br><br>
Do any of these reasons apply to your own situation? If so, explain.<br><br>

Do any of these reasons apply to your own situation? If so, explain.<br><br>

The Doctrine and Covenants teaches that the Lord created the earth with enough abundance for everyone to share. In other words, no one must become poor in order for another to become more wealthy.<br><br>

D&C 104:15-18<br>
&nbsp; 15  And it is my purpose to provide for my saints, for all things are mine.<br>
&nbsp; 16  But it must needs be done in mine own way; and behold this is the way that I, the Lord, have decreed to provide for my saints, that the poor shall be exalted, in that the rich are
made low.<br>
&nbsp; 17  For the earth is full, and there is enough and to spare; yea, I prepared all things, and have given unto the children of men to be agents unto themselves.<br>
&nbsp; 18  Therefore, if any man shall take of the abundance which I have made, and impart not
his portion, according to the law of my gospel, unto the poor and the needy, he shall, with the wicked, lift up his eyes in hell, being in torment.<br><br>

There are important concepts taught in this scripture. Some people believe that there is a shortage of the good things of life. Thus, they think that in order for one person to prosper, others need to be made poor.  Others believe only certain people deserve to prosper.  Neither is a correct idea.
<br><br>
With the correct knowledge, motivation, and application, almost anyone can accumulate money and become prosperous. The key is to follow correct business principles and engage in income-generating activities (IGAs).
<br><br>
D&C 104:15-18 also teaches us that people should be agents unto themselves.  In other words, we should actively but humbly pursue our portion of the abundance the Lord created. President Gordon B. Hinckley taught that “[t]he Lord does not want to see His people condemned to live in poverty. . . .  He would have the faithful enjoy the good
things of the earth” (“The Perpetual Education Fund,” Ensign, May 2001, 53). To enjoy the “good things of the earth,” you must take control of your financial situation by improving your living conditions, getting out of poverty, and becoming prosperous. You can do those things by applying the principles you learn in this workbook.
<br><br>
There are plenty of money, resources, and the good things of life for everyone.  You just need to do things that will result in your earning money.  In these lessons, you will learn what IGAs you can start so you can earn money and receive your share of prosperity.
<br><br>
Please fill in a T for the true statements and F for the false statements that follow:<br>
</p>
<ul>
    <li>Being poor means you are righteous.</li>

 	 <li>Being rich means you are righteous.</li>

 	 <li> Being poor means you are evil.</li>

 	 <li>Being rich means you are evil.</li>

 	 <li>Rich men are evil and will have trouble getting into heaven.</li>

 	 <li>Being poor guarantees happiness.</li>

 	<li>Being rich guarantees happiness.</li>

 	 <li>There is no relationship between being happy or sad and being rich or poor.</li>

 	 <li>Evil men are sometimes poor.</li>

 	 <li>Evil men are sometimes rich.</li>

 	 <li>Good men are sometimes poor.</li>

 	 <li>Good men are sometimes rich.</li>

</ul>
<p>
    If being rich or poor doesn’t make you good or bad, wouldn’t you prefer to live a prosperous and abundant life as promised in the scriptures?
    <br>  <br>
As you study your answers to the true and false questions, what conclusions have you reached?
  <br>  <br>
The  Parable of the  Talents  <br>
Please read the parable of the talents in Matthew 25:14-30 (emphasis added). Take careful notes about what happened to the three men.  Think about how (and why) they were “agents unto themselves.”
  <br>
Matthew 25:14-30  <br>
&nbsp; 14  For the kingdom of heaven is as a man travelling into a far country, who called his own servants, and delivered unto them his goods.<br>
&nbsp; 15  And unto one he gave five talents, to another two, and to another one; to every man<br>
according to his several ability; and straightway took his journey.<br>
&nbsp; 16  Then he that had received the five talents went and traded with the same, and made them other five talents.<br>
&nbsp; 17  And likewise he that had received two, he also gained other two.<br>
&nbsp; 18  But he that had received one went and digged in the earth, and hid his lord’s money.<br>
&nbsp; 19   After a long time the lord of those servants cometh, and reckoneth with them.<br>
&nbsp; 20  And so he that had received five talents came and brought other five talents, saying, Lord, thou deliveredst unto me five talents: behold, I have gained beside them five talents more.<br>
&nbsp; 21  His lord said unto him, Well done, thou good and faithful servant: thou hast been faithful over a few things, I will make thee ruler over many things: enter thou into the joy of
thy lord.<br>
&nbsp; 22  He also that had received two talents came and said, Lord, thou deliveredst unto me two talents: behold, I have gained two other talents beside them.<br>
&nbsp; 23  His lord said unto him, Well done, good and faithful servant; thou hast been faithful over a few things, I will make thee ruler over many things: enter thou into the joy of thy
lord.<br>
&nbsp; 24  Then he which had received the one talent came and said, Lord, I knew thee that thou art an hard man, reaping where thou hast not sown, and gathering where thou hast not
strawed:<br>
&nbsp; 25  And I was afraid, and went and hid thy talent in the earth: lo, there thou hast that is thine.<br>
&nbsp; 26  His lord answered and said unto him, Thou wicked and slothful servant, thou knewest
that I reap where I sowed not, and gather where I have not strawed:<br>
&nbsp; 27  Thou oughtest therefore to have put my money to the exchangers, and then at my coming I should have received mine own with usury.<br>
&nbsp; 28  Take therefore the talent from him, and give it unto him which hath ten talents.<br>
&nbsp; 29  For unto every one that hath shall be given, and he shall have abundance: but from him that hath not shall be taken away even that which he hath.<br>
&nbsp; 30  And cast ye the unprofitable servant into outer darkness: there shall be weeping and
gnashing of teeth.<br><br>



Answer the following questions about the parable:<br>

In verse 14, what did the man deliver to his servants or employees?<br>
In verse 16, what IGA did the man do to increase the goods he was given?
<br>
How much time did it take to double the value of the goods that the man left with his employees?
<br>
In verse 30, the master calls the man who buried the goods an unprofitable servant. Was he an agent unto himself? What did he do wrong?  What concept didn’t he understand about becoming prosperous?
 <br>
What two things happened to the unprofitable servant in the parable?

<br>
What two things did the men who doubled the value of their goods gain for their success?

<br>
In what two ways were the profitable servants rewarded for engaging in IGAs and increasing the value of the goods they were given?
<br><br>
This parable teaches us several principles worth studying.<br>
&nbsp; 1.   You can increase your prosperity by trading (selling) what you have to get more.<br>

&nbsp; 2.   The Lord, or master, is pleased when you do IGAs that result in a gain or profit.<br>

&nbsp; 3.   People who don’t increase what they have been given will have the original gifts taken away.  This parable teaches that you must press forward and take an active role in changing your circumstances and becoming prosperous.  Engaging in trade and IGAs are excellent ways to become prosperous.
<br>
&nbsp; 4.   True leaders are happy only with outcomes.  In the parable, the three stewards were asked to report not on what they had done but on what they had achieved—the increase of wealth.  (See United for Zion (2nd printing). Orem, Utah: Unitis Publication, 2000, 30.)
<br><br>
Quotes<br>
For further reflection on this concept, please read the following quotes.  Select your favorite quote as it applies to
your own quest for prosperity, and explain why that quote is so important to you.<br><br>

“It has always been a cardinal teaching with the Latter-day Saints that a religion which has not the power to save people temporally and make them prosperous and happy here, cannot be depended upon to save them spiritually, to exalt them in the life to come” (Joseph F. Smith, “The Truth about Mormonism.” Out West 23 (1905), 242).<br><br>

“Throughout my life I have been blessed by the doctrine and teachings of the gospel of Jesus Christ. As taught in the scriptures and by the leaders and teachers of this Church, the gospel has been a light to my path and the impetus for my temporal and spiritual progress” (Dallin H. Oaks, “The Gospel in Our Lives,” Ensign, May 2002, 33).<br><br>

“And it came to pass that they began to prosper by degrees in the land, and began to raise grain more abundantly, and flocks, and herds, that they did not suffer with hunger” (Mosiah
21:16).
<br><br>
“And now I, Mormon, would that ye should know that the people had multiplied, insomuch that they were spread upon all the face of the land, and that they had become exceedingly rich, because of their prosperity in Christ” (4 Nephi 1:23).
 <br><br>
Final  writing assignment<br>
Based on what you’ve learned from this lesson, summarize your thoughts on what you need to do to provide a more prosperous life for yourself and your family.  In your answer, be sure to discuss (1) what traditions of poverty you need to leave behind, (2) your understanding of God’s desire for you to provide for your family, and (3) your
understanding of how IGAs are the key to moving from poverty to prosperity.<br><br>


Bottom line<br>
Neither God nor his prophets wishes us to live in poverty.  His Saints have been promised a prosperous and abundant
life, but the blessing of prosperity is based upon obedience to proven business principles. You can help yourself live more abundantly if you are willing to break cultural and familial traditions of poverty and wisely pursue income- generating activities.

<br><br>

In preparation  for the next lesson, list what you do each day between when you get up and when you go to bed. Use the worksheet on the following page to record your activities.

</p>



</div>
</div>