<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: Why Do Some People Suffer in Poverty While OThers Enjoy Prosperity?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:
•	Does it matter if my family is rich or poor?
•	What has caused my family to be poor?
•	What did my mother and father teach me about having money?
•	What do the scriptures say about seeking for riches?
•	What is the best way to move toward prosperity?
•	Do I believe it is possible to break the chains of family poverty?
•	When I move toward prosperity, does it cause someone else to move toward poverty?

</p>
<p>
Main ideas to learn
•	Traditional views about money and prospering aren’t always correct.
•	God wants you to be successful, but He may not care if you are “rich” or not.
•	Your actions and habits largely determine whether you live in poverty or prosperity.
•	Righteousness and wickedness are not necessarily related to poverty or prosperity.
•	The spiritual (heavenly and religious) and temporal (material, or having to do with life on earth) are inseparably connected.
</p>
<p>
New words
Culture:	The values, attitudes, and beliefs of people in a group (such as a family, community,
neighborhood, society, ethnic or religious group, or country).

Poverty:	The conditions that prevent an individual or family from having fresh water, nutritious food, adequate health care, or educational opportunities.  Poverty often stifles or limits individual temporal and spiritual growth.  Living in poverty does not generally encourage individual movement toward economic development and material well-being.

Prosperity:  The conditions of having adequate shelter, nutrition, fresh water, material goods, and education.

Income-generating activity (IGA): Any effort made to increase the amount of money a family has.  It can be selling something, making and then selling something, or providing a service for payment.  As an IGA becomes more organized, it can be called a business, but it isn’t really a business when it is first started.
</p>
<p>
Poverty and prosperity are on opposite ends of the spectrum of how much money an individual or family has. Poverty is characterized by a general lack of necessities.  Prosperity, on the other hand, is characterized by a general abundance.  Clearly, most people, if given a choice, would prefer to live in prosperity rather than poverty.
</p>
<p>
Everyone can choose to live a prosperous life.  With the training you will receive from the lessons in this book, you can decide to be prosperous and then make and follow a plan that will help you achieve your goal.</p>
<p>

</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>
<p>
    
</p>



</div>
</div>