<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 5: What Musut I Know To Make Money in Business?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>Why are some of my neighbors who run small businesses in their homes still poor?</li>
<li>Why does my neighbor who makes small crafts never seem to sell them?</li>
<li>What is the single largest reason that a business either makes money or doesn’t?</li>
<li>What are the most important things I need to do every day to make money in my business?</li>

    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Business owners can make money in all stages of the GEM Model: gathering, enhancing, and marketing.</li>
<li>The correct pricing of products is critical to every business’ success.  Good pricing will always include enough markup to create a good profit.</li>
</ul>

<p>
<p>New words:</p>
<ul>
    <li>Gathering:  Collecting tools and raw materials for use in a business.
    </li>
<li>Enhancing: Increasing the value of the business’ raw materials. This may involve sewing, carving, assembling, etc.  It might also include taking the product to another location for selling.
    </li>
<li>Marketing: Everything you do to entice a customer to buy a product.
</li>
<li>Markup:	The difference between the cost of buying or making a product and the price for which you sell it to a customer.
</li>
</ul>


<p>In Lesson 4, you thought about real opportunities to start an income-generating activity (IGA) in your own neighborhood or marketplace.  By this point in the workbook, you should have a well-researched opportunity in mind.  You may have even begun operating your IGA!  To further develop your plans to turn your IGA into a full- fledged business, you need to learn some foundational principles upon which you will build your business.  Let’s turn to the scriptures for reassurance and encouragement.
<br>
<br>
Success happens when certain activities are followed every day.  These underlying principles are the same for every undertaking in life, whether large or small, simple or complicated.
<br>

D&C 64:33
<br>
&nbsp; 33  Be not weary in well-doing, for ye are laying the foundation of a great work.
<br>
<br>

Write your feelings about this scripture and how it relates to your efforts to move from poverty to prosperity.
<br>
<br>
As you make small adjustments, progress is sometimes hard to see. Therefore, you must remember that small tasks often add up to very large, significant changes over long periods of time.
<br>
<br>
 
Becoming prosperous is a blessing.  In order to understand how blessings from our Heavenly Father flow to us, please consider this often-quoted scripture:
<br>
<br>

D&C 130:20-21
<br>
&nbsp; 20  There is a law, irrevocably decreed in heaven before the foundations of this world, upon which all blessings are predicated—
<br>
&nbsp; 21  And when we obtain any blessing from God, it is by obedience to that law upon which it is predicated.
<br>
<br>

This scripture teaches a life lesson that goes beyond just spiritual behavior.  It states that all blessings—including the blessing of prosperity—are based on obedience to laws.  In other words, specific blessings are based on specific
laws.
<br>
<br>

It seems obvious that practicing the piano every day will not eliminate tooth decay and that living righteously will not guarantee healthy teeth. But people often don’t recognize that business success is not the result of luck or of living righteously, but rather it is the result of learning and applying correct business laws.  Business laws of success, as found in this workbook, are the laws upon which the blessings of financial success are predicated.
<br>
<br>

How does D&C 130:20-21 apply to a business?
<br>
<br>
The  GEM Model
<br>
The most basic process that every business owner must apply in order to make a profit is called the GEM Model.
This model includes the three steps you must go through every time you want to sell and product or service:
gathering, enhancing, and marketing.
<br>
<br>

Gathering. In the gathering process, you need to gather two kinds of items: tools and equipment to use in the business and raw materials that make the product you will sell. Tools are one-time expenses, but raw materials must
be purchased each time you plan to produce more of the product you sell.  For example, a cookie baker would gather an oven, a rolling pin, spoons, mixing bowls, measuring cups, oven mitts, and cookie sheets (his tools) and flour, sugar, eggs, oil, salt, oats, raisins, and plastic bags and twist ties for wrapping the cooled cookies (his raw materials).
<br>
<br>

A word of caution about spending in the gathering stage: most of your investment in gathering should be in purchasing inventory or raw materials—very little should be spent on tools and equipment.  Many new business owners think they need fancy equipment not only to create their products but also to look fancy and successful.  But fancy equipment cannot make a business successful, just as a new coat of paint cannot make an old piece of wood new again.  Resist the urge to spend money on unnecessary tools and equipment. Your money will be better spent purchasing or making products to sell at a profit.
<br>
<br>

Enhancing. During the enhancing stage, the raw materials are used to create the actual products you will sell to customers. To use the example of the baker, to enhance his raw materials, the baker mixes the ingredients to create cookie dough and then bakes the oatmeal-raisin cookies. To further enhance his product and make it as desirable as possible, he might put a special frosting on the cookie. This additional enhancement may enable him to sell the frosted cookie for more than he could sell a plain cookie. Thus, with a little creativity and effort but very little extra money, the baker has increased the amount of profit he can make on each sold cookie.
<br>
<br>

Marketing. Marketing is everything that is done in the business to entice a customer to buy the product. Marketing starts when you identify a customer’s need and ends when a product or service that meets that need has been delivered to a satisfied customer.  Marketing does not need to be fancy in order to be effective.  For example, the baker could market his products by offering free samples of his cookies and/or wrapping the baked goods in an attractive way.  As another example, the owner of a jewelry booth could wear a ring and necklace so that when people compliment her jewelry, she can tell them that she sells pieces just like it in her booth. These simple marketing techniques can pay off in increased sales and higher profit.
<br>
<br>

You can save money at each step in the GEM Model—not just by selling your products at a high price. You can increase profit by thinking of creative ways to pay less for products in the gathering stage and by saving money in your enhancing activities.
<br>
<br>

GEM Model  application: Selling lemonade
<br>
The following exercise can help you understand these three phases.  During summertime in the United States, it is common to see children selling lemonade to anyone that passes by.  Imagine yourself as a child at a similar
lemonade stand as you learn the steps of the GEM Model.
<br>
<br>

Gathering. List the tools and the raw materials you would need to gather in order to make the lemonade and start selling it.
<br>
(Your list of tools might include a table and chair, a poster board for a sign, a pitcher, a bowl, and a big spoon. These tools are a one-time expense. Your list of raw materials might include sugar, lemon juice, water, and ice.  The raw materials are a recurring cost.)
<br>
<br>

Now list ways you could save money in the gathering stage.
<br>

(Perhaps you could get a parent or friend to loan you the tools and equipment—maybe someone has an extra spoon or table.  You could negotiate with a local fruit vendor to buy the lemons at a reduced price.  You could buy your sugar in bulk because it is a non-perishable food that won’t spoil if it’s not used immediately.  You could make your own ice instead of buying it at a marked-up price.)
<br>
<br>
 
Enhancing. Once you have all the tools and raw materials, it’s time to make the product you will sell—keeping in mind that you want to add as much value to the product as possible. How do you enhance your raw materials?
<br>

(You enhance the raw materials by making the lemonade.  You make the lemonade by squeezing the lemons, adding sugar, stirring the lemonade, and pouring it over ice in a paper cup or glass.)
<br>
<br>

What can you do to add extra value to the product so that it will not only be more attractive to customers but also be different from what your competitors are selling?
<br>
(You could add further value to the lemonade by putting a fresh slice of lemon on the glass or adding a pretty drinking straw.)
<br>
<br>
Now list ways you could save money in the enhancing stage.
<br>
(Perhaps you could buy the straws in bulk; instead of throwing away the lemon peels, you could sell them to a nearby bakery that uses lemon zest in cookie recipes; you could borrow a juicer from your parents instead of squeezing the lemons by hand to ensure that you get as much juice from each fruit as possible.)
<br>
<br>

Marketing. Make a list of marketing activities for selling your lemonade.
<br>
(Think about location—you could put your booth  on a corner or where the cars and people walking by can see the stand. You could make an attractive poster advertising your lemonade.  Instead of sitting behind your booth,  you could stand in front of it and stop people to ask if they are thirsty.  When a person does buy a cup of lemonade, you could use good  sales techniques to persuade them to buy more than one cup.   It is all part of the marketing that takes place in selling lemonade.)
<br>
<br>

Now list ways you could save money in the marketing stage.
<br>
(Perhaps you could trade services/products with the printer to get your sign cheaply.  You could sell your lemonade in a slightly larger cup than your competitors’ cups so you could charge more for your lemonade.  You could ask family members or friends to volunteer to hold the sign and walk around the marketplace directing people to your booth.)
<br>
<br>

Pricing
<br>
An important part of marketing your products is pricing them correctly.  Why is the price you charge for your products so important to your money-making activity?
<br>
<br>
 
The reason you are engaged in a business activity is to make money for your family so you can gradually move them out of poverty and into prosperity.  This will occur only if you can take some working capital, gather a product to sell, enhance those raw materials to increase their value, and market it to make a profit on it.
<br>
<br>

People will generally not buy your product unless it is priced competitively.  If you price your product too high, people won’t buy it.  But if you price it too low, you will lose money on each sale. So choosing a selling price is an important decision.
<br>
<br>

There are many ways to decide what to charge.  Sometimes the correct price can be found only by trial and error—
by wisely choosing a price and then seeing how customers react to it. Three pricing methods are common.
<br>

&nbsp; 1.   You can charge “whatever the market will bear,” which means you can charge as much as the customer will pay—no less and no more. If you charge less than the maximum amount a customer will pay, then you are not making as much profit as you could.  If you charge more than the customer will pay, you will be left with unsold merchandise and you will be out of business. With this method, you keep adjusting your price until you find the price at which you can sell your inventory the fastest, while still making enough profit to cover all your costs.
<br>

&nbsp; 2.   You can charge the customer twice the amount that you paid for the item.  So, if you buy a banana for one peso, you might sell it for two pesos. This is a simple way to price your retail goods.
<br>

&nbsp; 3.   You can do market research by finding out what your competitors are charging for similar products. You then can match those prices or charge a little more and offer something extra to make it worth the increased price.
<br>
<br>

Perhaps a combination of all three methods is what you need to use. The most important thing is to find prices that you can make a good profit and sell a lot of product.  In order to price your products well, you must understand the concept of markup. Markup is the difference between the cost of buying or making a product and the price at which you sell it to a customer.
<br>
<br>

Let’s look at the concept of markup with a math example. Jose buys a box of 10 apples for a total of 10 pesos. That means that the cost of purchasing each apple is 1 peso. If he sells each apple for 1.5 pesos, he has a 50% markup— that is, he is selling the apple for 50% more than it cost him to get the apple. Markup in a business transaction should generally be between 30% and 70%.  Ideally, it should be at least 50%.
<br>
<br>

Why does markup need to be so high?  Because the markup must cover ALL of the costs associated with selling the apple (gathering, enhancing, and marketing).  Most owners of small businesses think only of the costs to replace the item they have sold, plus a little money to live on until the next day.  But there are hidden costs involved, too. The markup must cover the costs of gathering, enhancing, and marketing the product.  It must also cover all operating costs—those costs that are incurred in the normal operations of a business, such as the owner’s salary, rental for the booth or place in the market, and transportation costs to the supplier and back.  The markup must also contribute to future costs of business, such as the costs of expanding the business, replacing equipment, and covering any other unexpected expenses such as product spoilage or stolen goods.
<br>
<br>

Practice thinking about pricing by completing the following three problems.
<br>
&nbsp; 1.   What is the cost of a cookie, if the total costs of materials are 0.60 pesos per cookie and the labor is 2.00 pesos per cookie.  If you choose to simply charge at least twice what you paid for the materials and labor, what is the minimum you would charge a customer for two cookies?
 
<br>
&nbsp; 2.   Using the same method (pricing the item at twice what it costs to produce it), what should the retail price be for a pair of Arlene’s socks?  The total materials cost 0.60 pesos per pair, labor costs 2.00 pesos per pair and
1.50 pesos for other costs?
<br>
&nbsp; 3.   What should be the selling price of one shell necklace if the materials and labor needed per necklace would cost 1.80 pesos?  You, as the owner, want the markup to be 50%.
<br>
<br>

Fieldwork
<br>
 
(10.4 pesos; 8.2 pesos; 2.7 pesos)
<br>
 
To help you better understand how to markup your product, visit a marketplace and try to calculate the markup for different products. Talk to the business owners about how much their supplies or products cost, record how much they sell the items for, and figure the percentage of their markup.  If you know small-business owners, visit with them and discuss the pricing of their products or services.  If you have begun your IGA (as you were instructed to do at the end of Lesson 4), figure out the markup of your products or services and decide if your markup is too high or too low.
<br>
<br>
Final  writing assignment
<br>
Based on what you’ve learned from this lesson, summarize what the GEM Model is and why it can be a powerful tool in your business.
<br>
<br>
Bottom line
<br>
The first step to bringing more money home for your family is knowing what gathering, enhancing, and marketing activities you must do every day to provide maximum profit every day.

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>