<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 6: What Must I Do To Make Money in Business?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>How does a person earn money in business?</li>
<li>What basic activities should I do again and again to make money?</li>
<li>What can I do to reduce the chance of losing what little money I have?</li>
<li>What can I buy on credit and sell for cash in my neighborhood?</li>

    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Practice separate entities.</li>
<li>Pay yourself a livable salary.</li>
<li>Be nice later.</li>
<li>Buy low; sell high.</li>
<li>Use multiple suppliers.</li>
<li>Turn your inventory often.</li>
<li>Buy on credit; sell for cash.</li>
<li>Don’t eat your inventory.</li>

</ul>

<p>
<p>New words:</p>
<ul>
    <li>Entity:	Anything that has a distinct, separate existence, such as a business.
    </li>
<li>Inventory:  The merchandise that a business buys from a supplier or makes itself and then sells to customers.
    </li>
<li>Credit:	A contractual agreement in which a business owner (borrower) receives something of value now (usually merchandise or services) and agrees to repay the lender at some later date. As you use credit, you are basically using other people’s money to earn money.
</li>
</ul>
<p>
By now, you should be operating your business and trying to apply the GEM Model to improve your profitability. But chances are that you still have a lot of questions. Do any of these questions sound familiar?  Am I doing things right?  Am I making as much money as I should or could?  How long will it take to see improvement in my living conditions?
<br>
<br>
This lesson should answer all those questions and more.  It will teach you about “rules of thumb” that you need to follow in order to have the blessing of economic success. These rules of thumb explain some of the most essential business principles that, when implemented, will help you establish a solid foundation for your business.
<br>
<br>

In Lesson 3, you learned the rule of thumb, Start small; think BIG.  Write out what that rule of thumb means to you.
<br>
<br>
Study the following information about each rule of thumb.  Think about each one and write down the actions you must take in order to bring your current business in line with the rule.
<br>
<br>

Practice separate entities
<br>
You must think of your business and your family as being totally separate from each other. This means that you must keep the money from the business separate from your personal money.  No family members, neighbors, 
friends, or employees should ever have access to your cash or your goods without paying for them.  This is a
difficult rule to enforce, but remember that in order for you to be what you want to be—prosperous—you must adopt new habits. Learn now to keep personal money and business money separate, and you will reap the rewards.
<br>
<br>

While recognizing the importance of practicing separate entities, please remember that at some point, you must start taking money out of the business for your personal use.  (Think about it: If you never take any money from your business to help your family, then what good is it to build up money in the business?) But even when you start taking out money for your own use, you still don’t want other people taking money or goods from the business. What are some guidelines—some do’s and don’ts—that can guide your habits concerning taking money or goods from your business?
<br>
<br>
Compare these do’s and don’ts with your answers above:
<br>

Do:
<br>
</p>
<ul>
<li>Do pay yourself a livable salary each week—enough to cover living expenses.</li>
<li>Do live on a budget designed around the salary you pay yourself.</li>
<li>Do occasionally (maybe once a month) take home a little extra treat for the family so they will feel that the time invested in the business is worth the sacrifice.</li>
<li>Do involve your family in the creation of your long-term goal of getting out of poverty.  Tell them why they can not take money and products away from the business.</li>

</ul>

<p>
    Don't<br>
</p>

<ul>
<li>Don’t let family members or customers take products without paying cash for them.</li>
<li>Don’t leave money unattended—doing so will tempt family members or others to take it.</li>
<li>Don’t take your entire profit home each day.</li>
</ul>

<p>
    What changes must you make to ensure that your business and personal finances are more separate?
<br>
<br>
Pay  yourself a livable salary
<br>
Clearly, the best way to take some money out of the business for personal use is to practice another rule of thumb:
pay yourself a livable salary.  Be smart when deciding how much money you should pay yourself each day or week. Talk with your spouse to determine what your needs are.  During your first weeks in business, pay close attention to
how much profit you make each day.  Remember that some of that profit must stay in the business so it can grow,
and some of that profit must be your salary so you can provide for your family.  As you discipline yourself by taking the same amount of money each day or week, your family will also become disciplined to living on the same
amount.  Becoming disciplined is part of the change you must make if you are going to move out of poverty toward
prosperity.
<br>
<br>

How much salary will you need from the business?
<br>
<br>
 
Is it better to pay your salary every day or just once a week? What changes must you make to practice this law?
<br>
<br>
Be nice later
<br>
An important area in which you will need to learn discipline is in dealing with relatives and friends who, seeing your improved financial situation, begin asking you for money and handouts. It might be just a few pesos here and a
small bag of food there, but it can lead to big problems in your business. Thus, you need to learn to be nice later. In other words, you need to learn to say no.  You may need to explain to relatives and friends that you are trying hard to build your business so you can take better care of them later.  Remember that if you will learn to say no to their
small requests now, you can build your business and hopefully be able to give them much more—maybe even a job and their own chance at financial success—in the future.
<br>
<br>

What changes must you make to practice the law of being nice later?
<br>
<br>
Buy low;  sell high
<br>
To make money in any business, you must sell something for more than you paid for it. The difference between the cost you pay for an item and the price you charge is the markup. The bigger the markup, the more money you will likely make.  Two transactions are involved in every sale: (1) the purchasing of the product by the business owner
and (2) the selling of the product to the customer.  “Buy low; sell high” addresses both sides of the sales process. When you purchase raw materials at a low cost and then price your products well, the resulting cost savings and
additional revenue go directly to the business’ bottom line and profitability.
<br>
<br>

One of the ways to make sure that you are making money is to shop around and negotiate during the gathering stage. Clarice, the owner of a small fruit stand, learned this lesson the hard way.  She believed strongly in being loyal to her supplier, from whom she had purchased fruit for many years.  However, one day, the supplier told Clarice that he
had checked with several retail fruit stands and they were all charging more than he was, so he was increasing his prices to a retail level.
<br>
<br>

Clarice, wanting to be loyal, continued to buy from the supplier, even though he charged so much.  Because she paid more for her inventory, she could not charge enough markup to stay in business.  She went out of business.
<br>
<br>

Name three things Clarice could have done to continue to practice the rule of buying low and selling high.
<br>
<br>

What changes must you make to practice the laws of buying low and selling high?
<br>
 
Use multiple suppliers
<br>
Each buy-and-sell business has inventory to sell—inventory that is either made by the business owner (or
employees) or purchased from a supplier.  All wise business owners search for multiple suppliers so they can bargain for low prices, take advantage of sales, and get the things they need when they need them.
<br>
<br>

If Clarice (from the previous story) had always used at least two suppliers, she would have been able to negotiate better pricing.  It is unfortunate that she had to go out of business to learn this value principle.  Loyalty to suppliers is one thing, but loyalty to your own business and the potential it has to help your family is much more important.
<br>
<br>

How can you use multiple suppliers in your business?
<br>
<br>

Turn  your inventory often
<br>
Turning inventory often is a very powerful but often under-appreciated law that provides huge blessings for someone who understands the rule and practices it faithfully.  The combination of buying low, selling high, and turning your inventory often can make a lot of money for someone who understands the power this combination brings.
<br>
<br>

Here is an example: If you buy a product for 100 pesos and sell it for 300 pesos, you have earned 200 pesos. If you do that twice a day, you have a profit of 400 pesos. What if you can do that five times in a day?  You will make a
1,000-peso profit that day.
<br>
<br>

Figure out how much profit would you make if you worked six days and turned your inventory five times every day with the same rate of return as stated above.
<br>
(6,000  pesos)
<br>
<br>

Now figure out how much profit you would make in a week if you turned your inventory ten times a day with 200 pesos profit each time, and you did it six days a week.  How much profit would you have at the end of the week?
<br>
(12,000 pesos)
<br>
<br>

This is why it is so important to clear out products that are not selling well and are taking up space on a shelf. If you can’t sell a product, you can’t receive money for that slow-moving product nor use that money to buy fast-moving products. So it costs you money to have something sit on your shelf for a long time. Turning your inventory often requires that you gather wisely, enhance wisely, and market wisely so that the goods keep turning over and over.  It also means you must keep track of when you buy each item of inventory so you can identify fast-moving and slow- moving products.
<br>
<br>

What changes must you make to turn your inventory more often?
<br>
<br>
Buy on  credit; sell for cash
<br>
Let’s use an example to explain this concept. Let’s say you have established a good business relationship with a
supplier.  You have paid cash for several products in the last few weeks, and you have become friends. Then let’s
 say you expect an especially busy sales weekend and you feel you can turn more inventory than you have money to purchase.  In other words, you are sure you could sell more inventory if only you had more inventory.  You ask your supplier to allow you to buy some inventory from him on credit, meaning you will receive the inventory today but not pay him until an agreed-upon future date.  He lets you buy your merchandise on credit, and you sell it for cash.
You are basically using his money (in the form of his merchandise) to make money for yourself. You have “bought”
and sold the product and made your profit before you have had to pay for it.
<br>
<br>

This is a great technique for building a business: using other people’s money to your advantage.  In order for it to work you must (1) find a supplier who trusts you enough to sell merchandise to you on credit, (2) keep your promise to the supplier who allowed you to buy on credit, and (3) sell only for cash.  Otherwise, you won’t have the money to pay as promised.
<br>
<br>

Do you have a good enough relationship with any of your suppliers that you could begin buying on credit?
<br>
<br>

How could you approach this supplier with the idea of buying on credit? Write out a detailed plan.
<br>
<br>
Don’t eat  your inventory
<br>
After graduation from the Academy for Creating Enterprise, Bryan Villegas asked to stay at the Academy and work
there as a custodian so he could save part of his salary to launch a small barbeque business. He not only worked as a janitor, but he also sold small candies to the students who were enrolled in the Academy.  He had learned many of
the rules of thumb that are contained in this lesson; however, he would teach us a new rule of thumb that has become one of our most popular ones.
<br>
<br>

One day, as we were leaving the Academy, we saw Bryan with his cheeks all puffed up—he had a mouth full of something.  It seems he had become discouraged because he had forgotten the importance of selling for cash, and some of the students were forgetting to pay him.  To make himself feel better, he stuffed his mouth full of his own candy.  When we asked what he was eating, he shamefully answered, “I am eating my inventory.”
<br>
<br>
The next morning I introduced our newest rule of thumb to our students: Don’t eat your inventory.  Eating, giving away, or letting others “borrow” your inventory are all ways to lose money.  They could cost you your business and your family’s future and prosperity.
<br>
<br>
Never let anyone take inventory without paying—not even you! What changes must you make to practice this law?

<br>
<br>
Plan to discuss this rule with your family members? What approach will you take?
<br>
<br>
 
Let’s review the rules of thumb that we have learned in this lesson.  For each rule, list the blessing you and your business will receive for obedience to the law.
<br>

Law:
<br>
</p> 
    <ul>	
<li>Start small; think big</li>
<li>Practice separate entities</li>
<li>Pay yourself a livable salary</li>
<li>Be nice later</li>
<li>Buy low; sell high</li>
<li>Use multiple suppliers</li>
<li>Turn your inventory often</li>
<li>Buy on credit; sell for cash</li>
<li>Don’t eat your inventory</li>
    </ul>
    <p>
Which three of these rules of thumb do you think are the most important to your business?
<br>
<br>
As you work in your business, review these rules of thumb often. They will help your business grow faster, become more stable, and be more profitable.
<br>
<br>
Final  writing assignment
<br>
Based on what you’ve learned from this lesson, briefly define each rule of thumb you’ve learned and summarize
why it is so important to apply these principles in your business.
<br>
<br>
Bottom line
<br>
The sooner you make the right business decisions, adopt the right practices, and consistently take appropriate actions, the sooner you will provide more money to help your family with the necessities of life.

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>