<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 9:How Do I Manage My Cash and My Inventory?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>Why is cash so important to a business?</li>
<li>Why must I manage my cash carefully?</li>
<li>What is the relationship between inventory and cash?</li>
<li>Why is keeping track of when I buy inventory and what I pay for it important?</li>
    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Businesses cannot survive without cash.</li>
<li>You never want to be without sufficient cash to cover your expenses and obligations. Keep enough cash on hand to make it from the purchase of inventory to when you can likely sell that inventory for cash (your sales cycle).</li>
<li>Buy on credit; sell for cash.</li>
<li>Maximize your cash by turning your inventory often and not giving credit.</li>

</ul>

<p>
<p>New words:</p>
<ul>
    <li>Cash:	Money on hand.  It is either a blessing or a curse.  If you have it when you need it, it is a blessing; however, if you don’t have it when you need it, you are in deep trouble.</li>

<li>Cash flow:  A measure of a business’ financial health. Equal to the cash that comes into a business minus the cash that goes out. This flow of cash can be slowed down or sped up based on your skills at purchasing wisely, managing credit, and turning your inventory.</li>

<li>Cash management: The science of timing your purchasing, collecting, bill paying, and inventory control. Managing your cash enables you to operate as effectively as possible so you can use your money to grow your business.  Forecasting your cash needs is a necessary and smart way to grow your business smoothly.</li>

<li>Cash cycle: The period of time it takes for cash to be invested in the business, either as inventory or as an expense or asset and then returned back to the business from the customer after a sale is made or a service is provided.</li>

<li>Credit:	A contractual agreement in which a business owner (borrower) receives something of value now (usually merchandise or services) and agrees to repay the lender at some later date. As you use credit, you are basically using other people’s money to earn money.</li>

<li>Inventory:  The merchandise that a business buys from a supplier or makes itself and then sells to customers. Inventory represents invested cash plus anticipated profit. The more inventory you can buy on credit and sell for cash with healthy profit margins, the more successful your business can be.</li>

<li>Sales cycle: The time from the purchase of a product to the sale of that product. The faster (or shorter) the sales cycle, with proper markup for a profit, the more money you will make.</li>

</ul>
<p>Cash—money on hand—is the life blood of any business. Without blood, the body is dead. Without cash, the business is dead. It is just that simple.  No matter how good the business is, how good the location may be, or how good the product or service is, without enough cash, the business will quickly die. Cash is king.  Cash and credit are the only things a business can use to purchase supplies and equipment, buy inventory, and pay salaries. The sooner
you recognize the importance of cash in your business and start planning and managing its circulation, the less likely your business will be to die a premature death.
 <br>
 <br>

The two biggest causes of business failure are (1) lack of sufficient cash on hand when the venture is started and (2) poor cash management as the business grows.  Clearly, managing cash is very important but not necessarily very easy to do. Good cash management includes tracking every peso as it comes into or out of the business, knowing how much cash is tied up in inventory, knowing how much money you owe suppliers, and knowing how much your customers owe you (which should be very little, if any at all, if you remember to always sell for cash).
 <br>
 <br>

Here is a list of eight reasons why having cash is important. <br>
&nbsp; 1.   I can give it to my spouse for things my family needs.
 <br>
&nbsp; 2.   It will come in handy when I need a bottle of water when it gets hot.
 <br>
&nbsp; 3.   It will help the business pay salaries to my employees.
 <br>
&nbsp; 4.   It may enable me to get better prices for inventory when I must pay cash.
 <br>
&nbsp; 5.   I like hearing coins jingling in my pocket.
 <br>
&nbsp; 6.   I can pay for business emergencies.
 <br>
&nbsp; 7.   I can pay my suppliers on time so they will eventually give me better credit terms.
 <br>
&nbsp; 8.   I can buy a new truck to haul my merchandise to my customers’ homes.
 <br>

(Reasons 3, 4, 6, and 7 are most important from a business standpoint.  Reason 8 probably sounds very appealing, but remember that wise business owners spend as little as possible on tools and equipment—especially equipment that does little for the actual operation of the business.)
 <br>
 <br>
Key rules of thumb for cash management
 <br>
In Lesson 6, you learned eight rules of thumb for business success. Several of them deal with cash and inventory management, but two are particularly important.  In this lesson, we will review those two rules of thumb, explain one additional rule that is key to cash management (purchase in bulk), and then discuss two concepts that can help you
manage your cash so that your business is never caught without enough money to meet its obligations.
 <br>
 <br>

Buy on credit; sell for cash
 <br>
The principle of buying on credit is crucial to cash management.  It is one of the best ways to stretch your cash and
build your business. When you buy inventory on credit, you get the opportunity to immediately sell that inventory for cash—and you haven’t even had to pay any cash for it.
 <br>
 <br>

Here’s how it works.  Suppose you own a jewelry booth.  Each week, you buy 100 bracelets from a supplier for 5 pesos each.  You sell them for 10 pesos.  If you can convince your supplier to sell the bracelets to you on credit and promise to repay him in seven days, you can stretch your cash significantly.  If, in a week’s time, you sell 72 of the bracelets, you have basically collected 720 pesos in cash (72 bracelets x 10 pesos each) without having paid a single peso to your supplier.  At the end of the seven days you would, of course, pay your supplier the 500 pesos you owe him (your weekly purchase of 100 bracelets x 5 pesos each) but wouldn’t have to dip into your working capital to pay for the inventory; it would come from the 720 pesos you already collected by selling the inventory to your customers.
 <br>
 <br>

Each supplier will deal with credit differently, but most will allow at least limited credit terms when you are starting out.  For example, some suppliers will let you buy merchandise on credit in the morning if you pay for the merchandise at the end of the day.  In more established markets, suppliers might allow borrowers up to 60 days to pay for the products they buy on credit.  Other suppliers might allow retailers to use post-dated checks.  For example, a business owner might buy inventory on November 1 and write a check to the supplier on that same day, but date it January 1, thus getting to use the inventory for two months before the check is cashed.
 
 <br>
 <br>
Generally, the opportunity to buy on credit comes when the business owner (the borrower) has acted with integrity and established a relationship of trust with a supplier. That relationship is very valuable in business.  Once you are granted the opportunity to buy on credit, do not abuse it.  Meet your obligations every time.  Honor the credit terms with exactness. Taking care of your relationships with creditors will help you manage your cash wisely and grow your business quickly.
 <br>
 <br>

The key to being able to make your payments when credit is due is always selling for cash. When you sell products to your customers but allow them to pay you later, you are actually allowing them to have not only the cash you paid for the product but also any possible profit that you may make from the sale.  You are trusting that they will pay you—in time for you to repay your supplier.  It is an unnecessary risk—one that you should not take.
 <br>
 <br>

Please explain in your own words three cash-management advantages to buying on credit and selling for cash.
 <br>
 <br>

Turn your inventory  often
 <br>
In Lesson 6, you learned the importance of turning your inventory often. This concept is easy to understand if you are selling perishable items that will literally go to waste if they are not sold quickly.  But why is turning your inventory important for non-perishable items as well? Let’s say you own a very small convenience store.  You have
on your shelf eleven 7-oz cans of beans.  Each can originally cost you 3 pesos, and you sell them for 6 pesos each. You purchased the cans three months ago but didn’t sell a single can until yesterday, when you sold just one can.
You now have ten cans of beans sitting on your shelf.
 <br>
 <br>

Is your business being hurt by your slow-moving inventory?  Yes, absolutely. The canned beans are not going to rot while sitting on your shelf, but they represent an investment of cash that could be better used in fast-moving inventory (in other words, in products that are selling quickly). The ten cans remaining on your shelf cost a total of
30 pesos, so they represent 30 pesos that could be better invested in other products.  They are hurting your cash flow. The main point here is that any amount of cash that is sitting in inventory is cash that is not making money for you. So you need to turn that inventory (the cans of beans) as rapidly as possible so you can convert it back into cash— even if you must sell it for less than you normally would.
 <br>
 <br>

List three options you have for turning your inventory of cans of beans so you can convert the beans back into cash.
 <br>
 <br>

Why is it important, from a cash management perspective, to turn your inventory often?
 <br>
 <br>
 
One way you could convert your slow-moving cans of beans into cash is to attempt to sell them in bundles at a slight discount. If you put up a sign advertising “One can for 6 pesos OR two cans for 10 pesos” you might sell the cans quickly.  If they do, in fact, sell at the “two cans for 10 pesos” price, you will then have discovered that your pricing could have been the reason why no one bought the beans at 6 pesos per can.  In the future, you’ll know exactly what price to sell beans at so you get a quick turnover of your merchandise and, therefore, a quick turnover of your cash.
 <br>
 <br>

Remember, the reason you are in business is to make a profit. The faster you can speed up the process of buying merchandise, adding a markup, selling the merchandise for a profit, and then buying more merchandise, the more money you will make.
 <br>
 <br>

Purchase in bulk—and at a discount
 <br>
One final way to increase cash flow is to negotiate discounts for bulk purchases. That means buying larger quantities at a lower per-unit price. This will work only if you have kept good records and know how fast a certain item will sell at a certain price.  Don’t make the mistake of buying a slow-moving item in bulk!
 <br>
 <br>

Let’s go back to the example of the cans of beans that sold slowly when priced at 6 pesos per can but sold quickly when priced at “two cans for 10 pesos.”  If you found, over a period of a few weeks, that your new pricing strategy worked—that you sold many cans of beans at the “two cans for 10 pesos” price—you could anticipate that future sales would be similar to previous sales.  You would assume that you could buy many cans at a time from your supplier and still move the inventory quickly.  And if you could get those large numbers of cans at a discounted bulk price, you could save money in your gathering stage and, therefore, increase your profits.
 <br>
 <br>

If you normally buy ten cans at a time for 3 pesos each, you could ask your supplier for 25 cans at a discount, perhaps 2.5 pesos each.  It would be worth buying them in larger quantities (25 at a time, rather than 10 at a time) and selling them at a little less per can (two cans for 10 pesos, rather than one can for 6 pesos)—and you’d still be making a good profit on each can!
 <br>
 <br>

Sales cycle
 <br>
Another important aspect of cash management is understanding the sales cycle of your business. Simply put, you should know approximately how much time will pass from the time you put the inventory on the shelf until the time you sell it for a profit, thus converting the inventory to cash again.  You won’t know this during the first weeks or
months of your business, but if you keep good records, you will eventually see a strong pattern emerge, indicating how long it takes to turn inventory back into cash.  (Remember that each product moves through the sales cycle at its
own speed.)
 <br>
 <br>

Different products have different sales cycles. The simpler the product, the shorter the sales cycle.  Fruit stands usually “turn” their inventory very quickly.  If they don’t turn it quickly, the fruit rots.  So the period of time between purchasing the fruit from a wholesaler or supplier and selling it to a customer must be very short.  Clothing retailers have longer sales cycles because their inventory will not go bad and does not meet as immediate a need as fruit vendors’ products do.

 <br>
 <br>
Here are five products.  Indicate whether the sales cycle is short or long.
 <br>
&nbsp; Fruit
 <br>
&nbsp; Jewelry
 <br>
&nbsp; Used bicycles
 <br>
&nbsp; Houses
 <br>
&nbsp; Fish
 <br>
 <br>

As you think through these different businesses, you should begin to understand why businesses that sell complicated or sophisticated products require more cash to pay for expenses—it is largely due to the fact that the sales cycles are so long.  Identifying your own sales cycle is important to your cash management because you need to keep enough cash on hand to make it all the way through your sales cycle. If your cycle is short, you can keep a relatively small amount of cash on hand; if it is long, you need more cash on hand.
 <br>
 <br>
 
Tony’s cash flow and profitability
 <br>
Tony is starting a small lawn-mowing service.  He has signed up 11 customers, whose lawns he will mow twice a month (around the 8th and 23rd).  Here is a summary of his projected revenues (cash received) and expenses (cash spent) each month.
 <br>
 <br>
Revenue:
</p><ul>
<li>11 customers who will pay 70 pesos each per month</li>
</ul>
<p>Expenses:</p>
<ul>
    <li>Salary- 320 pesos (40 hours @ 8 pesos/hr)—split into two payments</li>
    <li>Cell phone- 30</li>
    <li>Gas for truck and lawn mower- 92 (46 pesos twice a month)</li>
    <li>Accountant-	48 (6 hours a month at 8 pesos an hour)</li> 
    <li>Buy business-	50 (to pay former owners)</li>
    <li>Loan payment-	83 (to pay back loan for down payment on business)</li>
</ul>
<p>
    Looking at these figures, how much cash does Tony’s business receive each month?                         
<br>
How much cash does the business spend each month?   	
<br>
How much profit does the business generate each month?   	
<br>
(Cash received = 770; Cash spent = 623; Profit = 147)
<br><br>
If we make the common mistake of thinking that because there is profit, there must be sufficient cash, we could be in trouble. Let’s see why profit doesn’t always indicate positive cash flow by examining Tony’s monthly revenues and expenses.
<br><br>
Because the owner of the business depends on the salary from the business to live, he pays himself a salary on the 1st day and 15th day of each month.  He must buy gas for his lawn mower and truck twice a month so he can mow twice a month (usually around the 8th and 23rd of each month). The cell phone payment is due on the 21st day of each month.  The loan repayment is due on the 2nd of each month.  The payment to the previous business owners is due on the 25th of each month.  He pays his accountant on the 30th of each month.  He is paid by his customers on the 5th day of each month.
<br><br>
At the end of May—his first month in operation—Tony’s business has a balance of 92 pesos. With 92 pesos as the starting cash balance, use the information above to help fill in the details of Tony’s cash flow from June 1 through July 5.
<br><br>
Based on your calculations above, does Tony have a positive cash flow? Why or why not?
<br>
(No, he does not have a positive cash flow.  At the beginning of the month,  he does not have enough cash to pay his salary and make his loan repayment. And again, at the beginning of the next month,  he is 4 pesos short on his loan repayment.)
<br><br>
Because there is a net profit of 147 pesos but Tony has negative cash balances at two points during the month, we would say that this business is profitable but does not have positive cash flow.
<br><br>
You can learn several important cash-management principles from studying this example:<br>
</p>
<ul>
<li>Profit doesn’t always mean positive cash flow. Tony had a monthly profit of 147 pesos but got into trouble at the beginning of each month because of poorly timed cash flow.</li>
<li>Collecting every peso of revenue is extremely important. </li>
<li>Sometimes, even one customer’s failure to pay could result in cash flow problems.</li> 
<li>This should also remind you that selling on credit is not a good idea.</li>
<li>Collect cash immediately for your goods or services, when possible.</li>
<li>Buying on credit can save your cash flow.  If Tony were able to use credit to buy his cell phone use and his gasoline, he could collect the cash from his customers before paying for those expenses.</li>
</ul>
<p>
List at least three ways Tony could solve his immediate cash flow problems.
<br>
(Possible answers include getting two additional customers, changing the day on which he pays his salary, buying gas and cell phone plan on credit, and doing his bookkeeping himself so he doesn’t have to pay an accountant.)
 <br><br>
To summarize, remember that there are three rules to help you maintain enough cash:<br>
&nbsp; 1.   Collect cash at the time of sale.<br>
&nbsp; 2.   Delay paying bills as long as possible, while still keeping your promises to your suppliers.<br>
&nbsp; 3.   Know your cash balance each and every day.<br><br>

Final  writing assignment<br>
Based on what you’ve learned from this lesson, explain why cash is so important to a business and what you need to do to apply the principle of buying on credit in your own business.
<br><br>

Bottom line
<br>As you learn to practice good cash management, your amount of working cash will go up . . . and so will your profits.

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>