<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 7: How Can I Attract New Customers and Get Existing Customers to Buy More?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>Why do I frequently shop at my favorite stores? What makes them my favorites? Is it the price?  Is it the service?  Do they always have what I need?</li>
<li>How do I get new customers to buy from me?  How do I get existing customers to buy more?</li>
<li>What does it mean to please the customer?  Are customers always right</li>
    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Customers are attracted to businesses that meet their needs in a unique way and that cater to their wants.  If you wisely differentiate your business and provide excellent customer service, you can win a customer for life.</li>
<li>Customer satisfaction is crucial to growing a business. People will come back and buy more when their needs and wants are listened to and met.</li>
<li>Using effective sale-closing techniques will increase the average amount of each sale you make.</li>
<li>Repeat customers are some of the most valuable assets a business can have.</li>
</ul>

<p>
<p>New words:</p>
<ul>
   <li>Sale:	A transaction that occurs when a customer gives a business money in exchange for a product or service that the business provides.  Sales (and the money that comes into a business as a result) are the lifeblood of a business.  Without sales, there is no business.
   </li>
    <li>Differentiation: The act of making a business’ product, sales stand, or store different from its competitors with the goal of meeting customers’ needs and increasing sales.
    </li>
    <li>Sale-closing techniques: Techniques used to wrap up a sale—to encourage a customer to buy a product. (Also referred to simply as closing techniques.)
    </li>
</ul>
<p>Now that you are diligently working to apply the rules of thumb that you learned in Lesson 6 to your business, let’s turn our attention to customers—the people who will ultimately keep you in business! In this lesson, you will learn how to attract customers, satisfy and retain customers, and increase your sales to your existing customers. To attract customers, you must differentiate your business and products—make them different from and better than your competitors. To satisfy and retain customers, you must provide excellent customer service and—especially in a small town or competitive market—develop a personal relationship with each customer.  To increase your sales to existing customers (and to attract new customers, as well), you must learn to use effective sale-closing techniques.
<br>
<br>
Differentiating your business
<br>
The last time you walked through a major marketplace in a big city, do you remember seeing row upon row of booths selling the same fruit?  Did you see table after table of the same necklaces? And rack after rack of the same
key chains?  If so, you have witnessed the need for differentiation—the need for businesses to make their products, booth, or store distinctly different from their competitors.
<br>
<br>

Taking time to differentiate will help you be successful because it will attract customers to your business. Differentiation is necessary in both what you sell and how you sell it.  You can differentiate in many ways.  Four types of differentiation you might begin with are (1) catering to an underserved part of a market, (2) repackaging your products, (3) choosing a unique location, or (4) selling your products in a unique way.
<br>
<br>
 
Catering to an underserved part  of a market
In the Philippines, Coca Cola is a popular drink delivered to stores by big trucks. Jazz Cola, in an effort to differentiate itself, uses small delivery trucks and motor scooters that bring its drinks to remote neighborhoods and small towns by driving down small back roads that are unreachable by Coca Cola’s large trucks.
<br>
<br>

Repackaging your product
<br>
Viv is a leader in the bottled-water market in the Philippines.  It generally sells water in one-liter bottles.  Absolute, a smaller bottled-water company, differentiates itself by selling water in 1.2-liter bottles. This repackaging enables it
to charge more for its product.
<br>
<br>

Choosing a unique location
<br>
You can also make a product or service different by having an unusual location or no set location at all.  You can find the best corner in the market, sell from a cart on your bicycle, or even sell your products door-to-door.
<br>
<br>

Selling your products in a unique way
<br>
Be creative in how you sell your products. You might try combining products and selling them as packages,
providing a service to go with the product, or displaying your products differently from other competitors.
<br>
<br>

Think about stores or booths that you shop at frequently.  Why do you shop there? In what ways are their stores, products, or services different from other similar businesses?
<br>
<br>
Customer service
<br>
Once you differentiate your business, you will hopefully have many customers.  To entice those customers to buy something—and to return to the store frequently—you will need to work on customer service. The goal of customer
service is to attract new customers and to get your current customers to buy more from you when they are at your booth or stand, or in your store.
<br>
<br>

Focusing on customers means that whenever you make a business decision, you have your customers’ interests and needs in mind.  Ask yourself, how will my customers feel about this decision? Will they like it? Does it help me better meet their needs? This customer focus is critical in a competitive marketplace.
<br>
<br>

Customer service can be measured in four categories. The examples can help you understand the categories.
<br>
&nbsp; 1.   Customer dissatisfaction – Customer orders a Coke and gets a Sprite.
<br>
&nbsp; 2.   Customer satisfaction – Customer orders a Coke and gets a Coke.
<br>
&nbsp; 3.   Customer surprise – Customer orders a Coke and gets a Coke and a glass full of ice.
<br>
&nbsp; 4.   Customer delight – Customer orders a Coke and gets a Coke, a glass full of ice, and a saucer of peanuts.
<br>
<br>

Good customer service is a simple but effective market strategy.
<br>
<br>

To get you thinking about how to handle customer service issues, take the quiz.
<br>
<br>
 
Customer Service Quiz
<br>

Please circle the response you think represents how to give excellent customer service so that the customer will keep coming back to you.
<br>
<br>

1.   You are talking to your spouse at your food stand when a customer approaches. What do you do?
<br>
&nbsp; a.	You finish your conversation and then ask the customer how you can help. 
<br>
&nbsp; b.   You ask your spouse to excuse you, and you help the customer.
<br>
&nbsp; c.	You ask your customer to wait until you finish your conversation.
<br>
&nbsp; d.   You pretend you can’t see the customer.
<br>
<br>

2.   A lady walks up to your stand with a piece of fruit in her hand.  She says she bought it from you yesterday and that it’s already spoiled.  She wants her money back.  You know your fruit stand was closed yesterday, so she couldn’t possibly have bought it from you.  What do you do?
<br>
&nbsp; a.	Call her a cheat and refuse to give her the money because she didn’t buy the fruit from you. 
<br>
&nbsp; b.   Let her exchange the spoiled fruit for a piece of fresh fruit of the same size.
<br>
&nbsp; c.	Give her money back without question.
<br>
&nbsp; d.   Suggest that she may be mistaken about where she bought the fruit because you were closed yesterday.
<br>
<br>

3.   You usually close your business at 8:00 p.m., but business is slow today, so by 7:30 p.m. you have everything put away and locked up. At 7:35 p.m. a regular customer comes to your stand and wants to buy some merchandise.  What do you do?
<br>
&nbsp; a.	Ask him to come back tomorrow.
<br>
&nbsp; b.   Tell him to come in but hurry because you want to get home.
<br>
&nbsp; c.	Let him in but stand over him and help him with all the decisions he is making. 
<br>
&nbsp; d.   Ask him to come in and take as much time to shop as he needs.
<br>
<br>

4.   You have a small food stand, and your policy is to not sell on credit.  However, your cousin isn’t doing well financially and has eaten your food free twice this week.  You see him coming toward your stand. You know it is a bad business practice to give away your inventory.  You even recently put up a sign that says “No Credit Sales.”  You have promised your spouse that you will not give away any more free food. What do you do?
<br>
&nbsp; a.	Tell him that you can’t give him anymore food until he pays for what he has already taken.
<br>
&nbsp; b.   Give him some food, but don’t tell your spouse.
<br>
&nbsp; c.	Tell him you can sell him some food but you must charge what you have paid for it.  If he has no money,
send him away hungry.
<br>
&nbsp; d.   You pay for one piece of food from your small salary and explain to him that you can’t give away your inventory to anyone, including family.
<br>
<br>

5.   Your son has a part in a school play, and you promised him that you would come see him perform tonight.  In order to be on time, you need to leave the store within five minutes. A regular customer has been in the store for
25 minutes, trying to decide on which t-shirt to buy.  What do you do?
<br>
&nbsp; a.	Just wait till the customer is finished shopping, even if it means being late for the play.
<br>
&nbsp; b.   Tell the customer that you need to leave now and tell her to hurry.
<br>
&nbsp; c.	Explain to the customer your promise to your son.  Ask politely if she would mind if you locked up,
stating that you hope she understands.
<br>
&nbsp; d.   Tell her your problem and ask which t-shirt she likes best. Offer it at a discount so she will hurry.
<br>
<br>
(Answers are on the last page of this lesson.)
<br>
<br>
 
What two points have you learned about customer service by taking this quiz?
<br>
<br>

Sales techniques
<br>
One way to increase revenues and, hopefully, profit from our business is to study effective sales techniques. Most owners of small businesses do very little to increase sales, especially the individual sales made to already-existing customers.
<br>
<br>

First of all, what is a sale?  A sale is the transaction that occurs when a customer gives you money in exchange for a product or service you provide them.  Sales (and the money that comes in to the business as a result of sales) are the life-blood of any business. Without sales, there is no business.
<br>
<br>

A wise person once said that “nothing happens in business until someone sells something.”  As you think about that statement, write down in your own words what that quote means.
<br>
<br>

What happens to a business when it has very few sales?
<br>
<br>
When you are trying to make a sale, you must first enter into a conversation with the customer.  You discuss what the customer is looking for by asking questions to uncover what the customer needs.  By entering into a conversation, you can present your products in a way that will motivate the customer to buy them.  A good salesperson asks and listens a lot more than she talks. She asks questions to pinpoint what the customer is looking for. Then she makes suggestions that encourage the customer to purchase the initial item of interest and perhaps a few more related items.  A poor salesperson makes suggestions before she finds out what interests the customer.
<br>
<br>

Let’s practice analyzing a sales situation to see how a salesperson’s actions and words can influence a customer to make a purchase or increase the amount of his purchase.  Pretend that you own a small fruit stand with about a dozen different kinds of fruit.  A young mother walks by and picks up a bunch of bananas and looks at them.  List five different questions you could ask the woman to start a conversation.  Remember that you want to be friendly, but
you also want to encourage a sale.
<br>
<br>
Also list three suggestions you could make to the woman about the bananas and other fruits that you have.
<br>
<br>
Were your questions and suggestions similar to these?
<br>
</p>
<ul>
<li>Those are nice bananas aren’t they?</li>
<li>We got them in fresh this morning.  Are they just the way you like them, or do you prefer greener bananas that can ripen on your kitchen counter? (Ask this question only if you have greener bananas to sell!)</li>
<li>Do you have children who like bananas? My kids sure do!</li>
<li>What other kinds of fruit do your children like?</li>
<li>Let me show you some of our fresh mangos that just arrived this morning with the bananas.  Do you like less ripe or riper mangoes?  Would you like two or three mangos and, oh, did you also want the bananas?</li>
</ul>
<p>
A critical part of making a sale is the technique you use to encourage the customer to buy the product. Those techniques are called sale-closing techniques (also referred to simply as closing techniques).  Here are four of the most common and effective closing techniques. After you understand them, practice them with your friends and relatives—and with your customers.
<br>
<br>

Alternate Choice Close
<br>
Using the alternate choice close, instead of asking yes-or-no questions that allow customers to say they don’t want to purchase anything, you present two options and ask which one they would prefer. Regardless of which choice the
customer makes, you will have made a sale. An example of this technique is asking, “Would you like mangos or oranges with your bananas?”  Or “We can deliver the fish to you on Tuesday or Thursday.  Which would be best for you?”  Be alert for opportunities to use this type of sales close. Start using it and you will be pleased at the results.
<br>
<br>

Sharp  Angle Close
<br>
The sharp angle close is conditional and usually starts with the word “if.”  For example, “If I can get the seedless grapes tomorrow at the price we discussed, how many pounds would you like me to order for you?” The power of this closing technique is that you, the salesperson, know what you have to do to make the sale.  If you can perform a
specific action, then the customer commits to buying something.  The danger is that you must be willing and able to perform what you said you would; in this case, get the grapes.  If you don’t, you will lose the customer.
<br>
<br>

Puppy Dog Close
<br>
The concept behind the puppy dog close is that if you can get a customer to agree to a small initial commitment, the
customer will eventually make a larger commitment—buy something from you.  This closing technique gets its name from its best example—a puppy dog.  Imagine a family going in a pet store “just to look.”  The salesperson sees the daughter looking at a puppy and says, “Would you like to hold this cute puppy for a minute?” and puts the dog in the arms of a small child who is thrilled to play with the dog.  Of course, the child and the puppy become instant friends, and the child begins begging her father to buy the puppy.  Eventually the dad gives in and buys the puppy.  That’s the puppy dog close at its best.  Other examples of the puppy dog close are encouraging the customer to try on the hat, use the software, test drive the scooter, or taste the fruit. This simple close works much of the time.
<br>
<br>

Here is a more involved example of the puppy dog close.  Let’s say you run a fruit stand and receive a shipment of tasty cooking apples.  You bake an apple cobbler dessert.  You then give out a small sample to customers in your store.  Your hope is that they love the dessert and will buy the apples.  You could go even further by giving the recipe to everyone who buys some apples. This technique would likely increase sales.
<br>
<br>

Pending Event Close
<br>
The pending event close ties the sale of an item to a future event in such a way that it provides a sense of urgency that often motivates a customer to make a purchase quickly.  For example, you could say, “I know you want to give this fruit basket to your wife for her birthday.  I can guarantee it will be here with very fresh fruit the day before her
birthday, but only if we place the order today.”  Or, “This fruit basket is one of our most popular; we might not have any left in stock if you wait until the end of the week.”
<br>
<br>

Using these common techniques to close a sale will help you become a better salesperson and will likely increase both the number of sales you make each day and the average amount of each sale you make.  
<br>
<br>

As you use these closing techniques in order to encourage existing customers to buy more, you will want to track your progress.  One very accurate way to see if your new sales skills are paying off is to record and review the amount of your average sale.  This number represents the average amount of revenue generated by each sale. Because it is easier to encourage a customer to buy a little bit more than to find a new customer, focusing on increasing your average sale is a great way to grow your business.
<br>
<br>

You calculate your average sale by adding up the amount of revenue generated over a given period of time (e.g., a day, a week, a month) and then dividing that total by the number of sales for that same period of time.  For example, if you sold 800 pesos worth of products last Tuesday and had 25 customers, your average sale would be 32 pesos (800 pesos/25 customers).
<br>
<br>

Practice calculating an average sale by completing the following problem.
<br>
<br>

Paula owns a shoe store where she sells tennis shoes, dress shoes, sandals, and accessories such as socks, shoe laces, foot deodorants, and toe rings.  Last Friday, she made 10 sales.  Her records show the following:
<br>

</p>
        <div class="table-responsive">          
        <table class="table">
            <thead>
            <tr>
                <th>Sale #</th>
                <th>Time of Sale</th>
                <th>Items Sold</th>
                <th>Total Sale</th>
                <th>Customer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Sale 1</td>
                <td>8:15 a.m.</td>
                <td>white sandals with pink stones, blue toe ring</td>
                <td>275 pesos</td>
                <td>Joan Mindao</td>
            </tr>
            <tr>
                <td>Sale 2</td>
                <td>9:07 a.m.</td>
                <td>men's tennis shoes and white 32” shoe laces</td>
                <td>310 pesos</td>
                <td>Kim Archuleta</td>
            </tr>
            <tr>
                <td>Sale 3</td>
                <td>	10:45 a.m.</td>
                <td>	black shoe laces - 32”</td>
                <td>	25 pesos</td>
                    <td>	David Remu</td>
            </tr>
            <tr>
                <td>Sale 4</td>
                <td>11:25 a.m.</td>
                <td>pink flower toe ring</td>
                <td>45 pesos</td>
                <td>Jennifer Davo</td>
            </tr>
            <tr>
                <td>Sale 5</td>
                <td>12:03 p.m.</td>
                <td>three pairs of black dress socks</td>
                <td>60 pesos</td>
                <td>Jose Aday</td>
            </tr>
            <tr>
                <td>Sale 6</td>
                <td>1:22 p.m.</td>
                <td>foot deoderant spray, brown men's dress shoes</td>
                <td>175 pesos</td>
                <td>Armando Payot</td>
            </tr>
            <tr>
                <td>Sale 7</td>
                <td>3:50 p.m.</td>
                <td>green sandals, brown sandals, foot deoderant spray</td>
                <td>210 pesos</td>
                <td>Mindy Malang</td>
            </tr>
            <tr>
                <td>Sale 8</td>
                <td>4:10 p.m.</td>
                <td>brown show laces - 28", black toe ring</td>
                <td>70 pesos</td>
                <td>Sarah Menta</td>
            </tr>
            <tr>
                <td>Sale 9</td>
                <td>5:22 p.m.</td>
                <td>black men's dress shoes</td>
                <td>350 pesos</td>
                <td>Peter Badar</td>
            </tr>
            <tr>
                <td>Sale 10</td>
                <td>5:47 p.m.</td>
                <td>children's tennis shoes, 4-pack of white socks</td>
                <td>250 pesos</td>
                <td>Maria Ona</td>
            </tr>
            </tbody>
        </table>
        </div>
<p>
    What is Paula’s average sale?
<br>
(1770  pesos divided by 10 sales = average sale of 177 pesos per customer)
<br>
<br>

One final piece of advice that will help you get and keep loyal customers is to make sure you manage your inventory carefully so you will never run out of your best-selling items.  Nothing turns away a customer faster than going to a store to buy a product and being told, “Sorry, we’re out of stock.”  When you are out of stock, the customer walks
out the door to find what they need somewhere else and seldom comes back to your business.
<br>
<br>

You must always remember that repeat customers are some of the most valuable assets your business can have. Make sure you do all you can to make and keep loyal repeat customers.
<br>
<br>

Fieldwork
<br>
Find a store or booth that sells a variety of small products. Plan to observe the store or booth three times in one
week for an hour each time.  Make your observations at the same time of day each time you go.
<br>
<br>

On the first day, count how many customers visit the store or booth and how many buy something.
<br>
<br>

On the second day, look at the signs around the store and copy down the advertised sales or promotions.  Are there advertising signs on the street? Is there a banner promoting something?  Are there flyers people take home?  Do people come in with coupons of some sort?  Ask the owner if he or she uses advertisements in the newspaper, radio, or T.V.
<br>
<br>
 
Also on the second day, make observations about the customers.  Are they all near the same age?  Gender?  In the same class economically?  Are both the customer and the salesperson happy at the end of their transactions?  Is this business selling more than just the product or service? What is the intangible product?  Is it convenience?  Better health?  Prestige?  Hope? List your observations below.
<br>
<br>

On the third day, listen to the salesperson. Write down what he says when trying to make a sale.  Is the salesperson friendly and helpful?  Does the seller try to build a comfortable relationship with the buyer?  Does the seller ask questions to be sure the buyer’s needs are met?  Is the salesperson good at presenting the product or service, and does he highlight the benefits?  Does the salesperson make suggestions to the customer?  What technique(s) does he use to close sales? Is there an effort to follow up or to invite repeat business?
<br>
<br>

After you have done all your observations, review your notes. What suggestions for improvement would you recommend, based on what you’ve learned in this lesson?
<br>
<br>

Final  writing assignment
<br>
Based on what you’ve learned from this lesson, think about the product(s) you sell in your business and brainstorm ways to differentiate your products and business. Then summarize your thoughts on how important customer service
is to the success of your business.
<br>
<br>

Bottom line
<br>
Attracting new customers, convincing them to become repeat customers, and persuading all customers to buy more from you are the secrets of building a successful business enterprise.
<br>
<br>
 
Answers to Customer Service quiz
<br>
&nbsp; 1.   b
<br>
&nbsp; 2.   b
<br>
&nbsp; 3.   d
<br>
&nbsp; 4.   c
<br>
&nbsp; 5.   c
<br>
<br>

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>