<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 2: What Personal Habits Must I Develop to be Prosperous?</h1>
<hr>
<p>Consider these questions as you  prepare for this lesson:</p>
    <ul>
<li>How do I spend my time each day?</li>
<li>Do I keep my promises to my spouse?  My children? God?  Priesthood leaders?</li>
<li>If I could change anything about how my family lives, what would it be?</li>
<li>What is the biggest change I need to make in order to get beyond getting only enough money to buy food for today?</li>
<li>Am I ready and willing to change my behavior in order to change the way my family lives?</li>
<li>Where does the power to change come from?  The government?  The Church? The Lord?
Within myself?  Prayer? A combination of the above?</li>
    </ul>
    
<p>Main ideas to learn:</p>
<ul>
<li>Everyone has 24 hours a day.  Your daily actions and your use of time determine how prosperous your family can become.</li>
<li>Fathers have a responsibility to provide the necessities of life and protection for their families.</li>
<li>Now is the time to break your family free from the trap of poverty.</li>
<li>The blessing of financial success comes through the establishment of good habits and obedience to specific business laws.</li>

</ul>

<p>
<p>New words:</p>
<ul>
    <li>Habit:	An act repeated so often by an individual that it becomes automatic.
    </li>
</ul>
<p>
In Lesson 1, you identified family traditions and aspects of your culture that contribute to the poverty your family has lived in for generations. In this lesson, you will begin to think about how your daily habits are a reflection of your culture.  In order to leave the culture of poverty behind, you must develop new habits that lead to prosperity.
<br><br>
Before you can begin to establish new habits, you must decide that you want to change.  Do you, in fact, want to move from poverty into prosperity?  Why?
<br><br>
Now that you have clearly explained your desire to escape poverty, you are ready to make changes in your life. However, you must first recognize that you have control over some things in life but not others.  You can change only those things you can control.

<br><br>
What can you change about your life?<br>	What can’t you change?<br><br>
Hopefully, you identified your family’s level of prosperity as a thing that you can change.  You can desire to be successful.  You can choose to be successful.  You can learn to be successful.  In fact, if you are a parent—and particularly if you are a father—you have the responsibility to be successful in providing for your family.
<br><br>
In 1995, the Church published a formal statement entitled The Family: A Proclamation to the World. In that document, the First Presidency and Quorum of the Twelve Apostles explained, in very clear terms, that the family is the most important unit on earth and that all members of families have specific responsibilities that strengthen the family and help members progress toward their eternal reward.  With regard to fathers’ roles, the Brethren wrote, “By divine design, fathers are to preside over their families in love and righteousness and are responsible to provide the necessities of life and protection for their families” (The Family: A Proclamation to the World).  With that responsibility in mind, fathers should not only work hard every day but also work wisely—in part, by learning and applying business principles that help them maximize the usefulness of their efforts.
<br><br>
As fathers maximize their efforts they may not all become rich, but as President Howard W. Hunter taught, “The Lord does not care whether you become rich or not, but he does want you to learn how to succeed and to become successful” (as told by Dane McBride in Ryan Lizza’s article, The Mission: Mitt Romney’s Strategies for Success. The New Yorker.  October 29, 2007.)
<br><br>
Time  management and success<br>
Part of being successful is using your time wisely.  Every person who has ever lived—no matter how rich or poor the person was—has shared a common gift: time. Everyone has the same amount of time: 24 hours in each day.  Once
you truly understand that gift, you can make better use of your time.
<br><br>
How do you think some prosperous people accomplish so much each day?  What habits have they developed that enable them to get so much done?
<br><br>
At the end of Lesson 1, you were asked to list the things you do each day.  Review your worksheet. Think about how you use your time compared with how prosperous people might use their time.  List four things you think they might do differently than you.

<br><br>
Please compare your list from the end of Lesson 1 with these daily habits of successful people. These habits are the patterns of success; they make up the culture of success.

</p><ul>
<li>They rise early and work long hours.</li>
<li>They don’t give up easily.</li>
<li>They use a lot of helpers.</li>
<li>They make lists of what they need to do each day and work on their lists based on what is most important.</li>
<li>They set goals for things they really want to accomplish.</li>
</ul>

<p>
    Which three of these practices seem most important and most urgent for you to adopt in your own life?
<br><br>

Establishing new  habits<br>
Breaking bad habits and replacing them with good habits takes a lot of work, yet that change is possible.  In his talk,
“The Power to Change,” President James E. Faust taught that you can and must make such changes.  He wrote, “Each one of us has been given the power to change his or her life. As part of the Lord’s great plan of happiness, we have individual agency to make decisions. We can decide to do better and to be better. In some ways all of us need to change” (James E. Faust, “The Power to Change,” Ensign, Nov 2007, 122–24).
<br><br>
It is one thing to make a temporary change in behavior, but truly another to make a new habit.  Before you look at some desirable habits successful business owners have, let’s see how the dictionary defines a habit.  A habit is an act repeated so often by an individual that it becomes automatic.
<br><br>
Abandoning old habits and creating better habits is one of the hardest things to do. It takes hard work and determination—and sometimes help from our Father in Heaven.  But if you want to change how you live, the activities in this workbook can help you do it.  As the saying goes, “If it is to be, it’s up to me.”
<br><br>
Here are some of the new habits you may need to develop to move out of poverty and into prosperity.
<br>
</p>
<ul>
<li>Place a value on your time.</li>
<li>Get up early and start working early.</li>
<li>Establish a pattern of getting things done right the first time.</li>
<li>Do things in the proper order.</li>
<li>Make lists and work on the most important items first.</li>
<li>Look beyond today.</li>
<li>Track daily accomplishments and achievements.</li>
<li>Don’t spend all the money you make each day.</li>
<li>Keep promises to everyone.</li>
<li>Engage in income-generating activities (IGAs) that will bring more money into the family.</li>

</ul>

<p>
 Which of the personal habits listed above are you prepared to adopt so your family can move toward prosperity? Write down four new habits you need to establish.  Explain what you think each new habit will help you accomplish each day.
 <br><br>
 Financial success and prosperity can be obtained only by establishing good personal habits that lead a person to be efficient and effective in his or her work.  Just as the Lord said in D&C 130:20-21, “There is a law, irrevocably decreed in heaven before the foundations of this world, upon which all blessings are predicated—And when we obtain any blessing from God, it is by obedience to that law upon which it is predicated.” This principle applies to financial success just as much as it applies to spiritual blessings you seek from Heavenly Father.  When you establish good habits, you will reap the respective blessings.
<br><br>
Are you prepared to promise that you will do what is necessary to move beyond surviving and start thriving? Can you keep this promise?
<br><br>
You can break free from the chains of living in poverty that have held you and your family down.  It won’t be easy, but you can do it.  Establishing good habits—and practicing them daily—is one of the keys to prosperity.
<br><br>
Quotes<br>
For further reflection on this concept, please read the following quotes.  Select your favorite quote as it applies to your own desire to establish new habits that lead to prosperity, and explain why that quote is so important to you.
<br><br>
Vaclav Klaus, former Czechoslovakian economics minister after the fall of the Soviet
Union, said “To succeed we need a clean break with the past. The competitive market is the way to produce wealth, and that’s where we’re going to focus” (Greenspan, Alan. The Age
of Turbulence: Adventures in a New World. New York: Penguin Press, 2007, 134).
<br><br>
“We are accountable for how we use [our] time. ‘Thou shalt not idle away thy time’ (D&C
60:13), and ‘Cease to be idle’ (D&C 88:124), the Lord commanded the early missionaries and members” (Dallin H. Oaks, “Focus and Priorities,” Ensign, May 2001, 82).
<br><br>
“How we manage time matters so very much. . . .  [W]ise time management is really the wise management of ourselves” (Spencer W. Kimball, “Jesus: The Perfect Leader,” Ensign, Aug 1979, 6).
<br><br>
“If I keep on doing what I have always done, I will keep on getting what I have always got” (Anonymous).
<br><br>
“To be what I am not, I must do what I do not” (Anonymous).
<br><br>
“If any would not work, neither should he eat” (2 Thessalonians 3:10).
 <br><br>
Fieldwork<br>
Go to at least one marketplace and, with a fresh outlook, make a list of possible IGAs you can do that will increase the money coming into your family.  Use this space to write down your ideas from this field trip.
<br><br>
Final  writing assignment<br>
Based on what you’ve learned from this lesson, summarize your thoughts on what personal habits you need to develop in order to become more prosperous.  In your answer, be sure to discuss (1) what bad habits you need to abandon, (2) what new habits you need to develop, and (3) what the result of practicing those good habits will be on
your life, your family, and your business.
<br><br>

Bottom line<br>
To permanently move out of poverty I must<br>
&nbsp; 1.   Decide I want to get out of poverty<br>
&nbsp; 2.   Learn what I need to know and do differently to get out of poverty<br>
&nbsp; 3.   Consistently—every day for years—perform the business activities that are required for me to get out of poverty<br>

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsEnglish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>