<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Monthly Agendas
            </h1>
            <hr>
        <p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">March - Make it Easy to Buy</h1>
                <img src="../app/images/marchagenda.jpg" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/March2016Agenda.pdf" target="_blank" class="btn-agenda">Agenda</a></h4>
                
            </div>
            <div class="card">
                <h1 class="agenda-title">May - Start Small, Think Big</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="../app/monthlyagendas/May2016Agenda.pdf" target="_blank" class="btn-agenda">Agenda</a></h4>
                    <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/May2016Outline.pdf" target="_blank" class="btn-agenda"y>Outline</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">June - Sell What People Are Buying</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/June2016Agenda.pdf" target="_blank" class="btn-agenda">Agenda</a></h4>
                <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/June2016Outline.pdf" target="_blank" class="btn-agenda">Outline</a></h4>
            </div>
        </div>
    </div> 
</div>


<div class="red-background">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">July- Create Customer Relationships</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                    <h4 class="btn btn-primary btn-agenda-left btn-white"><a href="../app/monthlyagendas/July2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
                    <h4 class="btn btn-primary btn-agenda-left btn-white"><a href="../app/monthlyagendas/July2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">August- Why Customers Buy From You</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left btn-white"><a href="../app/monthlyagendas/August2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
                <h4 class="btn btn-primary btn-agenda-left btn-white"><a href="../app/monthlyagendas/August2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">September- Value Your Customers</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn  btn-agenda-left btn-white"><a href="../app/monthlyagendas/September2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
                <h4 class="btn  btn-agenda-left btn-white"><a href="../app/monthlyagendas/September2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="card">
            <h1 class="agenda-title">October- Integrity Before Profit</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/October2016Agenda.pdf" target="_blank" class="btn-agenda">Agenda</a></h4>
            <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/October2016Outline.pdf" target="_blank" class="btn-agenda">Outline</a></h4>
        </div>
        <div class="card">
            <h1 class="agenda-title">November - Purchase in Bulk</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/November2016Agenda.pdf" target="_blank" class="btn-agenda">Agenda</a></h4>
            <h4 class="btn btn-primary btn-agenda-left"><a href="../app/monthlyagendas/November2016Outline.pdf" target="_blank" class="btn-agenda">Outline</a></h4>
        </div>
        <div class="card">
            <h1 class="agenda-title">December - To Be Announced</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
        </div>
    </div>
</div> 



