<div class="album">
    <div class="container" style="margin:0 auto; text-align:center; max-width:70rem">
        <h1 class="text-primary">
            Monthly Agendas
            </h1>
            <hr>
        <p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>
    </div>
</div>
<div class="container">
   <h4>March - Make it Easy to Buy</h4> 
   <h4>May - Start Small, Think Big</h4>
   <h4>June - Sell What People Are Buying</h4>
   <h4>July - Know How to Create Customer Relationships</h4>
   <h4>August - Know Why Customers Buy From You</h4>
</div>