<div class="album">
    <div class="container" style="margin:0 auto; text-align:center; max-width:70rem">
        <h1 class="text-primary">
            Monthly Agendas
            </h1>
            <hr>
        <p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>
    </div>
</div>
<div class="red-background">
<div class="container">
    <h1 class="text-primary month">March - Make it Easy to Buy</h1>
    <h4 class="docs"><a href="../app/monthlyagendas/March2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
</div>
</div>
<div class="container" style="padding-top:3rem;">
    <h1 class="text-primary month">May - Start Small, Think Big</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/May2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/May2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
</div>
<div class="album" style="padding-bottom:0 !important;">
    <div class="container">
        <h1 class="text-primary month">June - Sell What People Are Buying</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/June2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/June2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary month">July - Know How to Create Customer Relationships</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/July2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/July2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top:3rem;">
    <h1 class="text-primary month">August - Know Why Customers Buy From You</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/August2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/August2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
</div>
<div class="album" style="padding-bottom:0 !important;">
    <div class="container">
        <h1 class="text-primary month">October- Integrity Before Profit</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/October2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/October2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary month">September- Value Your Customers</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/September2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/September2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top:3rem;">
    <h1 class="text-primary month">November - Purchase in Bulk</h1>
            <div class="row">
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/November2016Agenda.pdf" target="_blank" class="docs">Agenda</a></h4>
            </div>
            <div class="col-xs-6">
                <h4 class="docs"><a href="../app/monthlyagendas/November2016Outline.pdf" target="_blank" class="docs">Outline</a></h4>
            </div>
        </div>
</div>