<div class="album">
    <div class="container">
        <div class="row">
            <div style="float:left;width:40%;">
                <h1>English</h1>
                <hr>
                <a routerLink="/bookoflessonsintroduction"> <img src="../app/images/bolenglishcover.JPG" style="height:280px;width:100%;"></a>
                <p>Book of Lessons - Vol.5</p>
                
            </div>
            <div style="float:right;width:40%;">
                
            <h1>Español</h1>
            <hr>
                <a routerLink="/bookoflessonslesson1Spanish"><img src="../app/images/bolspanishcover.JPG" style="height:280px;width:100%;"></a>
                <p>Book of Lessons - Vol.5</p>
                
            </div>
        </div>
    </div> 
</div>
