<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Building and Managing
            </h1>
            <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor. Etiam ac commodo dolor. Vestibulum sem mauris, auctor sed lectus a, viverra venenatis dolor. Nunc non est nulla. Vestibulum metus lectus, accumsan sed maximus ac, rhoncus nec enim. Suspendisse lobortis nec neque ac vulputate. Nullam vel varius odio.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-primary category">Choose and Register Your Business</h1>
    <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
    <br>
    <div class="row">
        <div class="col-sm-5 col-md-6  subcategory">
            Choose Your Business Name
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-register-your-business/choose-your-business-name" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/76958" target="_blank" class="resources">Second Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/21774" target="_blank" class="resources">Third Resource</a></p>
        </div>
        <div class="col-sm-5 col-md-6  subcategory">
            Register Your Business
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/231977" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-register-your-business" target="_blank" class="resources">Second Resource</a></p>
           
        </div>
        
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary category">Choose Your Business Structure</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-4 subcategory">
                Sole Proprietorship
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-your-business-structure/sole-proprietorship" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory"style="font-size:19px;">
                Limited Liability Company
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-your-business-structure/limited-liability-company" target="_blank" class="resources">First Resource</a></p>
            
            </div>
            <div class="col-xs-6 col-sm-4 subcategory">
                Cooperative
                <hr class="hr-style hr-style-red">
                <p class="resources"><a href="https://www.sba.gov/starting-business/choose-your-business-structure/cooperative" target="_blank" class="resources">First Resource</a></p>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-xs-6 col-sm-4 subcategory">
                Corporation
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-your-business-structure/corporation" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory" >
                Partnership
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-your-business-structure/partnership" target="_blank" class="resources">First Resource</a></p>
            
            </div>
            <div class="col-xs-6 col-sm-4 subcategory">
                S Corporation
                <hr class="hr-style hr-style-red">
                <p class="resources"><a href="https://www.sba.gov/starting-business/choose-your-business-structure/s-corporation" target="_blank" class="resources">First Resource</a></p>
            </div>
        </div>
    </div>
</div>
<div class="album">
    <div class="container">
        <h1 class="text-primary category">Write Your Business Plan</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
            <div class="col-sm-5 col-md-6  subcategory">
                Executive Sumary
                <hr class="hr-style">
                <p class="resources" style="font-size:15px;"><a href="https://www.youtube.com/watch?v=gLAZpFKRgUg" target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.youtube.com/watch?v=R9zRapFoHV0" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-sm-5 col-md-6  subcategory">
                Company Description
                <hr class="hr-style">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/write-your-business-plan/company-description" target="_blank" class="resources">First Resource</a></p>
            
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 subcategory">
                Market Analysis
                <hr class="hr-style">
                <p class="resources"><a href="https://www.youtube.com/watch?v=oazAYiiakFY" target="_blank" class="resources">First Resource</a></p>
                <p class="resources"><a href="http://www.goldmansachs.com/our-thinking/pages/best-advice-to-small-business-owners.html " target="_blank" class="resources">First Resource</a></p>
                <p class="resources"><a href="https://www.sba.gov/starting-business/write-your-business-plan/market-analysis" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory" style="font-size:19px;">
                Organization and Management
                <hr class="hr-style">
                <p class="resources"><a href="https://www.sba.gov/starting-business/write-your-business-plan/organization-management" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory">
                Service or Product Line
                <hr class="hr-style">
                <p class="resources"><a href="https://www.sba.gov/starting-business/write-your-business-plan/service-or-product-line" target="_blank" class="resources">First Resource</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 subcategory">
                Financial Projections
                <hr class="hr-style">
                <p class="resources"><a href="https://www.youtube.com/watch?v=x_OZYfJT6YE" target="_blank" class="resources">First Resource</a></p>
                <p class="resources"><a href="https://www.youtube.com/watch?v=iGf22LLiXAY" target="_blank" class="resources">First Resource</a></p>
                <p class="resources"><a href="https://www.youtube.com/watch?v=oD9UJuiKp2c" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory" style="font-size:19px;">
                Funding Request
                <hr class="hr-style">
                <p class="resources"><a href="https://www.sba.gov/starting-business/write-your-business-plan/funding-request" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory">
                Marketing and Sales
                <hr class="hr-style">
                <p class="resources"><a href="https://www.sba.gov/starting-business/write-your-business-plan/marketing-sales" target="_blank" class="resources">First Resource</a></p>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <h1 class="text-primary category">Choosing Location and Equipment</h1>
    <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
    <br>
    <div class="row">
        <div class="col-sm-5 col-md-6  subcategory">
            Tips for Choosing Your Business Location
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-your-business-location-equipment/tips-choosing-your-business-location" target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-sm-5 col-md-6  subcategory">
            Leasing Business Equipment
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/choose-your-business-location-equipment/leasing-business-equipment" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary category">Customer Relations</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
            <div class="col-sm-5 col-md-6 subcategory">
                Establish Trust with Customers
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/yec/2014/04/22/three-ways-to-build-customer-trust/#4fc7eb3e78db" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-sm-5 col-md-6  subcategory">
                How to Have Great Customer Service
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/aileron/2012/11/15/the-10-keys-of-excellent-customer-service/#71bc77f2361f " target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.thebalance.com/providing-excellent-customer-service-2951744 " target="_blank" class="resources">Second Resource</a></p>
            </div>
        </div>
    </div>
</div>
<div class="album">
    <div class="container">
        <h1 class="text-primary category">Marketing</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Select a Target Population
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/chuckcohn/2015/02/06/steps-to-identify-your-target-market/#76d0d1632a8f" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/write-your-business-plan/marketing-sales" target="_blank" class="resources">Second Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Develop a Brand
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/77408" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/241960" target="_blank" class="resources">Second Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.businessinsider.com/how-to-create-a-killer-brand-2013-8" target="_blank" class="resources">Third Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Utilize Social Media to Market
            <hr class="hr-style">
            <p class="resources"><a href="https://www.entrepreneur.com/article/218160" target="_blank" class="resources">First Resource</a></p>
            <p class="resources"><a href="http://www.forbes.com/sites/kymmcnicholas/2011/09/19/how-to-use-social-media-to-promote-your-small-business/#6f6b6d4d3bbf" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    </div>
</div>
<div class="container">
        <h1 class="text-primary category">Scaling</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Scale Your Small Business
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/232272" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/ericwagner/2013/11/20/5-steps-to-scale-your-business-you-wont-make-it-otherwise/#1ade07af29e4" target="_blank" class="resources">Second Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/philipsalter/2016/05/02/the-six-steps-to-scaling-a-business/#727e23ef6404" target="_blank" class="resources">Third Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Evaluate Business Contracts
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/81926" target="_blank" class="resources">First Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Evaluate Your Contractual Risk
            <hr class="hr-style">
            <p class="resources"><a href="http://www.cbicontracts.com/how-to-evaluate-your-contractual-risk/" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    </div>