<div class="album">
    <div class="container">
        <div class="row">
            <div style="float:left;width:40%;">
                <h1>English</h1>
                <hr>
                <a routerLink="/dutytoprosperlesson1English"> <img src="../app/images/dutytoprosperenglishcover.JPG" style="height:280px;width:100%;"></a>
               
                
            </div>
            <div style="float:right;width:40%;">
                
            <h1>Español</h1>
            <hr>
                <a routerLink="/dutytoprosperlesson1Spanish"><img src="../app/images/dutytoprosperspanishcover.JPG" style="height:280px;width:100%;"></a>
                
                
            </div>
        </div>
    </div> 
</div>
