<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Finances
            </h1>
            <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor. Etiam ac commodo dolor. Vestibulum sem mauris, auctor sed lectus a, viverra venenatis dolor. Nunc non est nulla. Vestibulum metus lectus, accumsan sed maximus ac, rhoncus nec enim. Suspendisse lobortis nec neque ac vulputate. Nullam vel varius odio.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-primary category">General Finances</h1>
    <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
    <br>
    <div class="row">
        <div class="col-sm-5 col-md-6 subcategory">
            Calculate a budget
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/201670" target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-sm-5 col-md-6  subcategory">
            Prepare Financial Statements
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/business-financials/preparing-financial-statements" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Develop Cash Flow Analysis
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/business-financials/developing-cash-flow-analysis" target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Breakeven Analysis
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/business-financials/breakeven-analysis" target="_blank" class="resources">First Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Fiscally Fit Business
            <hr class="hr-style">
            <p class="resources"><a href="https://www.sba.gov/starting-business/business-financials/your-business-fiscally-fit" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary category">Financing Your Business</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-4 subcategory">
                Estimate Startup Costs
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/business-financials/estimating-startup-costs" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-xs-6 col-sm-4 subcategory">
                Using Personal Finance
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/business-financials/using-personal-finances" target="_blank" class="resources">First Resource</a></p>
            
            </div>
            <div class="col-xs-6 col-sm-4 subcategory">
                Borrowing Money
                <hr class="hr-style hr-style-red">
                <p class="resources"><a href="https://www.sba.gov/starting-business/business-financials/borrowing-money-your-business" target="_blank" class="resources">First Resource</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6 subcategory">
                Venture Capital
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/finance-your-business/venture-capital/venture-capital" target="_blank" class="resources">First Resource</a></p>
            </div>
            <div class="col-sm-5 col-md-6  subcategory">
                How to Build Credit
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/220192" target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/blogs/how-to-build-business-credit-your-start" target="_blank" class="resources">First Resource</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6 subcategory">
                Find Investors
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://forbes.com/sites/ryancaldbeck/2013/05/29/how-to-find-investors/#7be4612e1bb8" target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="http://www.forbes.cp,/sites/dailymuse/2013/02/13/5-steps-to-finding-investors-for-your-start-up/#22b46b2b23a5" target="_blank" class="resources">Second Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/81124" target="_blank" class="resources">Third Resource</a></p>
            </div>
            <div class="col-sm-5 col-md-6  subcategory">
                Speaking with Investors
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://ww2.cfo.com/growth-companies/2011/05/5-tips-for-talking-to-investors/" target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/227780" target="_blank" class="resources">Second Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="ttp://www.forbes.com/sites/dailymuse/2012/01/23/do-you-speak-vc-a-beginners-guide-to-investors/#4f26a5602890" target="_blank" class="resources">Third Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/allbusiness/2013/07/09/8-mistakes-entrepreneurs-make-when-pitching-to-investors/#75a6c2ce50c4" target="_blank" class="resources">Fourth Resource</a></p>
            </div>
        </div>
    </div>
</div>