<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Hiring
            </h1>
            <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor. Etiam ac commodo dolor. Vestibulum sem mauris, auctor sed lectus a, viverra venenatis dolor. Nunc non est nulla. Vestibulum metus lectus, accumsan sed maximus ac, rhoncus nec enim. Suspendisse lobortis nec neque ac vulputate. Nullam vel varius odio.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-primary category">Before Hiring</h1>
    <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
    <br>
    <div class="row">
        <div class="col-sm-5 col-md-6 subcategory">
            Post a Job Listing
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/lizryan/2014/10/23/the-right-way-to-post-job-openings/2/#68604ed2d790" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.humanresources.com/1317/finding-and-hiring-employees-the-easy-way/" target="_blank" class="resources">Second Resource</a></p>
        </div>
        <div class="col-sm-5 col-md-6  subcategory">
            Write Effective Job Descriptions
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/hire-retain-employees/writing-effective-job-descriptions" target="_blank" class="resources">First Resource</a></p>
           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-6  subcategory">
            Hiring the First Employee
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/dailymuse/2012/04/04/7-keys-to-hiring-your-start-ups-first-employee/#193375f74839 " target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-sm-5 col-md-6 subcategory">
            Hire a Contractor vs an Employee
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/hire-retain-employees/hire-contractor-or-employee" target="_blank" class="resources">First Resource</a></p>
           
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary category">During the Interview</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Important Questions to Ask
            <hr class="hr-style hr-style-red">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/225960 " target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.businessnewsdaily.com/5212-job-interviews-techniques.html " target="_blank" class="resources">Second Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Negotiate Fair Salaries
            <hr class="hr-style hr-style-red">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/159438 " target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.inc.com/minda-zetlin/9-steps-to-writing-job-ads-top-candidates-cant-resist.html" target="_blank" class="resources">Second Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Clearly Set Expectations
            <hr class="hr-style hr-style-red">
            <p class="resources"><a href="http://www.inc.com/guides/2010/08/how-to-communicate-employee-expectations-effectively.html " target="_blank" class="resources">First Resource</a></p>
            <p class="resources"><a href="https://www.entrepreneur.com/article/226952 " target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    </div>
</div>
<div class="album">
    <div class="container">
        <h1 class="text-primary category">After Hiring</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Employee Handbooks
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.sba.gov/starting-business/hire-retain-employees/employee-handbooks" target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Evaluating Performance
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.eremedia.com/fordyce/7-easy-ways-to-measure-employee-performance/ " target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.inc.com/entrepreneurs-organization/4-ways-to-evaluate-employee-performance.html " target="_blank" class="resources">First Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Let an Employee Go
            <hr class="hr-style">
            <p class="resources"><a href="https://www.themuse.com/advice/youre-fired-a-firsttime-managers-guide-to-letting-someone-go " target="_blank" class="resources">First Resource</a></p>
            <p class="resources"><a href="http://www.forbes.com/sites/ronashkenas/2013/03/11/if-you-have-to-fire-an-employee-heres-how-to-do-it-right/#286283b41552" target="_blank" class="resources">First Resource</a></p>
            <p class="resources"><a href="https://www.entrepreneur.com/article/230784 " target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    </div>
</div>