<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Legalities
            </h1>
            <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor. Etiam ac commodo dolor. Vestibulum sem mauris, auctor sed lectus a, viverra venenatis dolor. Nunc non est nulla. Vestibulum metus lectus, accumsan sed maximus ac, rhoncus nec enim. Suspendisse lobortis nec neque ac vulputate. Nullam vel varius odio.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-primary category">Obtaining a Business License</h1>
    <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Mexico
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusinessinmexico.com/articulos/articulo.php?articulo_id=98" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusiness.org/data/exploreeconomies/mexico/starting-a-business/" target="_blank" class="resources">Second Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusiness.org/data/exploreeconomies/mexico/" target="_blank" class="resources">Third Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.millercanfield.com/media/article/200140_Doing%20Business%20in%20Mexico.pdf" target="_blank" class="resources">Fourth Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Phillipines
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusiness.org/data/exploreeconomies/philippines/" target="_blank" class="resources">First Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Peru
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusiness.org/data/exploreeconomies/peru/" target="_blank" class="resources">First Resource</a></p>
           
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary category">Business Laws</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Mexico
            <hr class="hr-style hr-style-red">
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusiness.org/data/exploreeconomies/mexico-city/starting-a-business" target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Phillipines
            <hr class="hr-style hr-style-red">
            <p class="resources" style="font-size:15px;"><a href="http://www.doingbusiness.org/data/exploreeconomies/philippines/starting-a-business" target="_blank" class="resources">First Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Peru
            <hr class="hr-style hr-style-red">
            <p class="resources"><a href="http://www.doingbusiness.org/data/exploreeconomies/peru/starting-a-business" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    </div>
</div>
<div class="album">
    <div class="container">
        <h1 class="text-primary category">Taxes</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Tax Summaries for Peru
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://taxsummaries.pwc.com/uk/taxsummaries/wwts.nsf/ID/Peru-Corporate-Tax-administration" target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Tax Help for Phillipines
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.bir.gov.ph/index.php/bir-forms.html" target="_blank" class="resources">First Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Tax Help for Peru
            <hr class="hr-style">
            <p class="resources"><a href="http://orientacion.sunat.gob.pe/index.php/empresas-menu/declaracion-y-pago-empresas/declara-facil-empresas/6658-02-declara-facil-formulario-virtual-n-621-igv-renta-mensual" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
    </div>
</div>