<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Psychology
            </h1>
            <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor. Etiam ac commodo dolor. Vestibulum sem mauris, auctor sed lectus a, viverra venenatis dolor. Nunc non est nulla. Vestibulum metus lectus, accumsan sed maximus ac, rhoncus nec enim. Suspendisse lobortis nec neque ac vulputate. Nullam vel varius odio.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-primary category">Before Hiring</h1>
    <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
    <br>
    <div class="row">
        <div class="col-sm-5 col-md-6 subcategory">
            Mindset of an Entrepreneur
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/234894 " target="_blank" class="resources">First Resource</a></p>
        </div>
        <div class="col-sm-5 col-md-6  subcategory">
            Habits of Successful Business Leaders
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/240353 " target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/davidsturt/2016/03/24/4-habits-of-the-most-successful-leaders/#64dca8422453" target="_blank" class="resources">Second Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://sba.thehartford.com/business-management/10-habits-of-highly-successful-small-business-owners" target="_blank" class="resources">Third Resource</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 subcategory">
            Humble After Success
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://www.franksonnenbergonline.com/blog/be-humble-dont-let-success-go-to-your-head/ " target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="https://www.entrepreneur.com/article/177044" target="_blank" class="resources">Second Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.foxbusiness.com/features/2011/05/02/knowing-throw-towel.html" target="_blank" class="resources">Third Resource</a></p>
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            When to Cut Losses
            <hr class="hr-style">
            <p class="resources" style="font-size:15px;"><a href="http://iveybusinessjournal.com/publication/cutting-your-losses-how-to-avoid-the-sunk-cost-trap/" target="_blank" class="resources">First Resource</a></p>
            <p class="resources" style="font-size:15px;"><a href="http://www.inc.com/minda-zetlin/9-steps-to-writing-job-ads-top-candidates-cant-resist.html" target="_blank" class="resources">Second Resource</a></p>
           
        </div>
        <div class="col-xs-6 col-sm-4 subcategory">
            Pivoting
            <hr class="hr-style">
            <p class="resources"><a href="http://venturebeat.com/2013/08/15/the-art-of-the-pivot-how-to-cut-your-losses-and-move-on/" target="_blank" class="resources">First Resource</a></p>
        </div>
    </div>
</div>
<div class="red-background">
    <div class="container">
        <h1 class="text-primary category">Business and Social Skills</h1>
        <p class="subtext" style=" max-width:40rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor.</p>
        <br>
        <div class="row">
            <div class="col-sm-5 col-md-6 subcategory">
                How to Interview Well
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://www.careernook.com/2013/09/job-interview-help-how-to-make-a-job-interview-go-really-well/ " target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.livecareer.com/quintessential/job-interview-tips" target="_blank" class="resources">Second Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://www.monster.com/career-advice/article/boost-your-interview-iq" target="_blank" class="resources">Third Resource</a></p>
            </div>
            <div class="col-sm-5 col-md-6  subcategory">
                Avoidances in Interviews
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/erikaandersen/2014/06/03/please-dont-do-these-9-things-in-an-interview/#1722f79324f8 " target="_blank" class="resources">First Resource</a></p>
            
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6  subcategory">
                How to Network
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="http://www.forbes.com/sites/theyec/2014/07/28/how-to-network-the-right-way-eight-tips/#62c7b3384595 " target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="https://hbr.org/2016/01/how-successful-people-network-with-each-other" target="_blank" class="resources">Second Resource</a></p>
            </div>
            <div class="col-sm-5 col-md-6 subcategory">
                Cruical Conversations
                <hr class="hr-style hr-style-red">
                <p class="resources" style="font-size:15px;"><a href="https://hbr.org/2015/01/how-to-handle-difficult-conversations-at-work" target="_blank" class="resources">First Resource</a></p>
                <p class="resources" style="font-size:15px;"><a href="http://www.mediate.com/articles/ringerj1.cfm " target="_blank" class="resources">Second Resource</a></p>
            
            </div>
        </div>
    </div>
</div>
