<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Peru
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Mentalidad de un Empresario</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/266263" target="_blank" class="btn-agenda">Primero</a></h4>
                
            </div>
            <div class="card">
                <h1 class="agenda-title">Hábitos de los Líderes</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/267722" target="_blank" class="btn-agenda">Primero</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">Demasiado humilde</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://theenterpriser.com.mx/2013/05/21/por-que-ser-humilde-lleva-al-exito/" target="_blank" class="btn-agenda">Primero</a></h4>
            </div>
            
        </div>
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="card">
            <h1 class="agenda-title">Equilibrar Trabajo y la Iglesia</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.el-nacional.com/GDA/consejos-equilibrar-familia-trabajo_0_607739253.html" target="_blank" class="btn-agenda">Primero</a></h4>
            
        </div>
        <div class="card">
            <h1 class="agenda-title">Cuándo Reducir sus Pérdidas</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/265767" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        <div class="card">
            <h1 class="agenda-title">Como Entrevistar Bien</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.entrevistasdetrabajo.com/consejos-entrevistar/" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        
    </div>
</div> 
<div class="red-background">
    <div class="container">
    <div class="row">
        <div class="card">
            <h1 class="agenda-title">Evasiones en una Entrevista</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.entrevistadetrabajo.org/entrevista-trabajo-no-hacer.html" target="_blank" class="btn-agenda">Primero</a></h4>
            
        </div>
        <div class="card">
            <h1 class="agenda-title">Conversaciones Cruciales</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
            
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/266472" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        <div class="card">
            <h1 class="agenda-title">Tener una Buena Etica Empresarial</h1>
            <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.iese.edu/es/conoce-iese/prensa-noticias/noticias/2015/abril/consejos-promover-etica-empresa/" target="_blank" class="btn-agenda">Primero</a></h4>
        </div>
        
    </div>
</div> 
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Cómo Manejar el Tiempo</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/268870" target="_blank" class="btn-agenda">Primero</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/261632" target="_blank" class="btn-agenda">Segundo</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">Establecer Metas Apropiadas</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/261723" target="_blank" class="btn-agenda">Primero</a></h4>
            </div>
            
        </div>
    </div> 
</div>