<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Philippines
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Mindset of an Entrepreneur</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/234894" target="_blank" class="btn-agenda">First</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">Habits of Successful Leaders</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/davidsturt/2016/03/24/4-habits-of-the-most-successful-leaders/#64dca8422453 " target="_blank" class="btn-agenda">First</a></h4>
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://sba.thehartford.com/business-management/10-habits-of-highly-successful-small-business-owners" target="_blank" class="btn-agenda">First</a></h4>
            </div>
             <div class="card">
                <h1 class="agenda-title">Remain Humble after Success</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.franksonnenbergonline.com/blog/be-humble-dont-let-success-go-to-your-head/" target="_blank" class="btn-agenda">First Resource</a></h4>               
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.inc.com/the-muse/how-successful-people-stay-humble.html" target="_blank" class="btn-agenda">First Resource</a></h4>               

            </div>
            
        </div>
    </div> 
</div>

    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Avoidances in Interviews</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/erikaandersen/2014/06/03/please-dont-do-these-9-things-in-an-interview/#1722f79324f8 " target="_blank" class="btn-agenda">First</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">Interview Well</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.careernook.com/2013/09/job-interview-help-how-to-make-a-job-interview-go-really-well/ " target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.livecareer.com/quintessential/job-interview-tips " target="_blank" class="btn-agenda">First</a></h4>          
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.monster.com/career-advice/article/boost-your-interview-iq" target="_blank" class="btn-agenda">First</a></h4>          
            </div>
            <div class="card">
                <h1 class="agenda-title">How to Network</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/theyec/2014/07/28/how-to-network-the-right-way-eight-tips/#62c7b3384595 " target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://hbr.org/2016/01/how-successful-people-network-with-each-other " target="_blank" class="btn-agenda">First</a></h4>
            </div>
        </div>
    </div> 

<div class="red-background">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Curcial Conversations</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://hbr.org/2015/01/how-to-handle-difficult-conversations-at-work" target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.mediate.com/articles/ringerj1.cfm" target="_blank" class="btn-agenda">First</a></h4>

            </div>
        </div>
    </div> 
</div>