<div class="album">
    <div class="container" class="subtext" style="max-width:70rem">
        <h1 class="text-primary">
            Psychology
            </h1>
            <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis porttitor tincidunt. Nullam eget bibendum tortor. Etiam ac commodo dolor. Vestibulum sem mauris, auctor sed lectus a, viverra venenatis dolor. Nunc non est nulla. Vestibulum metus lectus, accumsan sed maximus ac, rhoncus nec enim. Suspendisse lobortis nec neque ac vulputate. Nullam vel varius odio.</p> 
    </div>
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1>Mexico</h1>
               <a routerLink="/mexicopsychology"> <img src="../app/images/mexicoflag.jpg" style="height:280px;width:100%;">  </a>             
            </div>
            <div class="card">
                <h1>Peru</h1>
              <a routerLink="/perupsychology" > <img src="../app/images/peruflag.jpg" style="height:280px;width:100%;">  </a> 
                
            </div>
            <div class="card">
                <h1>Phillipines</h1>
                <a routerLink="/phipsychology" > <img src="../app/images/philippineflag.jpg" style="height:280px;width:100%;">  </a> 
                
            </div>
        </div>
    </div> 
</div>
