<div class="album">
    <div class="container">
        <h1 class="text-primary">
          Chapter Leaders
            </h1>
            <hr>
    </div>
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="card image">
                <a routerLink="/dutytolead"><img src="../app/images/leadertraining.JPG" style="height:280px;width:100%;"></a>
                <a routerLink="/dutytolead"><h2 class="imagetext">
                    <span>Leadership Training: <br />Lead your chapter effectively</span>
                </h2></a>
            </div>
            <div class="card image">
                <a routerLink="/monthlyagendas"><img src="../app/images/monthlyagendas.jpg" style="height:280px;width:100%;"></a>
                <a routerLink="/monthlyagendas"><h2 class="imagetext">
                    <span>Monthly Agendas: <br />Prepare for this month's meeting</span>
                </h2></a>
            </div>
            <div class="card image">
                <a routerLink="/featurecomingsoon"><img src="../app/images/reporting.jpg" style="height:280px;width:100%;"></a>
                <a routerLink="/featurecomingsoon"><h2 class="imagetext">
                    <span>Reporting: <br />Report monthly attendance</span>
                </h2></a>
            </div>
        </div>
    </div> 
</div>
<hr>