<jumbotron></jumbotron>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="card image">
                <a routerLink="/about"><img src="../app/images/stairs.JPG" style="height:280px;width:100%;"></a>
                <a routerLink="/about">
                <h2 class="imagetext">
                    <span>About the Academy: <br />Learn about our global mission</span>
                </h2>
                </a>
            </div>
            <div class="card image">
                <a routerLink="/chapterleaders"><img src="../app/images/amirbarbosa.jpg" style="height:280px;width:100%;"></a>
               <a routerLink="/chapterleaders">
                <h2 class="imagetext">
                    <span>Chapter Leaders: <br />Resources to lead effectively</span>
                </h2>
               </a>
            </div>
            <div class="card image">
              <a routerLink="/businessresources"><img src="../app/images/front3.jpg" style="height:280px;width:100%;"></a>
              <a routerLink="/businessresources">
                <h2 class="imagetext">
                    <span>Business Education: <br />Continually improve your business</span>
                </h2>
              </a>
            </div>
        </div>
    </div> 
</div>

<hr>
<br>
