<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Philippines
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Create a Simple Budget</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/201670" target="_blank" class="btn-agenda">First</a></h4>
                
            </div>
            <div class="card">
                <h1 class="agenda-title">Prepare a Financial Statement</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.accountingverse.com/accounting-basics/how-to-prepare-financial-statements.html" target="_blank" class="btn-agenda">First</a></h4>
            </div>
             <div class="card">
                <h1 class="agenda-title">Prepare A Cash Flow Statement</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://quickbooks.intuit.com/r/financial-management/creating-financial-statements-how-to-prepare-a-cash-flow-statement/" target="_blank" class="btn-agenda">First Resource</a></h4>               
            </div>
            
        </div>
    </div> 
</div>

    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Break-Even Analysis</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.inc.com/guides/2010/12/how-to-perform-a-break-even-analysis.html" target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://hbr.org/2014/07/a-quick-guide-to-breakeven-analysis" target="_blank" class="btn-agenda">First</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">Fiscally Fit</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.commercecommercialcredit.com/blog/determine-if-your-business-is-fiscally-fit/" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://quickbooks.intuit.com/r/financial-management/business-financially-fit/" target="_blank" class="btn-agenda">First</a></h4>          
            </div>
            <div class="card">
                <h1 class="agenda-title">Build Business Credit</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/220192" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.sba.gov/blogs/how-build-business-credit-your-start" target="_blank" class="btn-agenda">First</a></h4>          
            </div>
        </div>
    </div> 

<div class="red-background">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Find Investors</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/ryancaldbeck/2013/05/29/how-to-find-investors/#7be4612e1bb8" target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/dailymuse/2013/02/13/5-steps-to-finding-investors-for-your-start-up/#22b46b2b23a5" target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/81124" target="_blank" class="btn-agenda">Third</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">Tips for Talking with Investors</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://ww2.cfo.com/growth-companies/2011/05/5-tips-for-talking-to-investors/" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/227780" target="_blank" class="btn-agenda">First</a></h4>          
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/dailymuse/2012/01/23/do-you-speak-vc-a-beginners-guide-to-investors/#4f26a5602890" target="_blank" class="btn-agenda">First</a></h4>          
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/allbusiness/2013/07/09/8-mistakes-entrepreneurs-make-when-pitching-to-investors/#75a6c2ce50c4" target="_blank" class="btn-agenda">First</a></h4>          

            </div>
        </div>
    </div> 
</div>