
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="/dutytoleadlesson1Spanish">LECCIÓN 1</a></li>
                    <li><a routerLink="/dutytoleadlesson2Spanish">LECCIÓN 2</a></li>
                    <li><a routerLink="/dutytoleadlesson3Spanish">LECCIÓN 3</a></li>
                    <li><a routerLink="/dutytoleadlesson4Spanish">LECCIÓN 4</a></li>
                    <li><a routerLink="/dutytoleadlesson5Spanish">LECCIÓN 5</a></li>
                    <li><a routerLink="/dutytoleadlesson6Spanish">LECCIÓN 6</a></li>
                    <li><a routerLink="/dutytoleadlesson7Spanish">LECCIÓN 7</a></li>
                    <li><a routerLink="/dutytoleadlesson8Spanish">LECCIÓN 8</a></li>
                    <li><a routerLink="/dutytoleadlesson9Spanish">LECCIÓN 9</a></li>
                    <li><a routerLink="/dutytoleadlesson10Spanish">LECCIÓN 10</a></li>
                    <li><a routerLink="/dutytoleadlesson11Spanish">LECCIÓN 11</a></li>
                    <li><a routerLink="/dutytoleadlesson12Spanish">LECCIÓN 12</a></li>
                </ul>
            </nav>
</div>