<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 7: El poder de
Asociaciones de Éxito
</h1>
<hr>
<p>¿Quién es más probable que tenga éxito en los negocios, una
asociación o un individuo? Según el profesor Gibb Dyer de
BrighamYoung University, asociaciones empresariales tienen
cuatro veces más probabilidades de éxito que las empresas
individuales.
<br>
En este capítulo del folleto no es de ir en el negocio con un
socio, más bien, se trata de un tipo diferente de socio que puede
ayudarle a tener éxito en su negocio. Le animamos a usted y a
los miembros de su Chapter crear relaciones de beneficio mutuo
que llamamos asociaciones de éxito. Su futuro como un
negocio persona puede ser mucho mayor por su relación con
un socio de éxito.
<br>
El departamento de autosuficiencia de la Iglesia LDS llama a
estos socios “Los socios de acción.” Alcohólicos Anónimos
los llama “patrocinadores”. Sea como se llame a estas asociaciones,
estudios independientes repetidamente han demostrado
su valor. Para lograr éxito en su negocio, es tremendamente
útil compartir consejos y apoyo con uno o más asociados que
tengan objetivos similares como usted.
<br>

Asociaciones éxito en su Capítulo
<br>
El futuro de la Academia y de sus individuos graduados que
su persona esta en los alumnos del Chapter. Estos capítulos realizan
muchas funciones vitales y ayudan a sus miembros de
manera significativa. Una de las contribuciones más importantes
que un Chapter puede hacer es, en las palabras del fundador
de la Academia Stephen W. Gibson, “Una celebración de
reuniónes de personas con ideas afines que se están esforzando
a través de los negocios emprendedores para sacar a sus familias
de la pobreza y llegar a ser prósperos .”
<br>
¿Cómo puede su Chapter puede tener semejante celebración?
<br>
Una forma es mediante la organización de su capítulo en alianzas
de éxito de dos o tres personas, tal vez por el barrio LDS
o vecindario. Estos socios luego hablar entre sí casi todos los
días, incluso aunque sólo sea por texto o llamada telefónica,
sobre cómo lo están haciendo en sus caminos individuales para
el éxito. Como socios, entrenador y mentor entre sí, pueden
apoyarse mutuamente en tiempos difíciles y celebrar los éxitos
de los demás.
<br>
Sus reuniones de los capítulos pueden convertirse en un lugar
de reunión para asociaciones de éxito. Durante cada reunión del
Chapter, pase unos minutos de reforzando los pasos que conducen
al éxito del negocio, mediante la revisión de un principio
de negocio o regla de oro. Entonces dedique gran parte del resto
de la reunión con las asociaciones de éxito,invite a socios a
compartir sus éxitos.
<br>
Al centrar sus reuniones de los Chapters en la celebración de
éxitos individuales , a los miembros les encantara compartir
sus triunfos y logros con los demás. Como Chapter, establezcan
 algúnospremios para celebrar los exitos, como cuando un
miembro del Chapter. crea su primera cuenta de resultados,
hace su primera ganancia, o contrata a su primer empleado.
<br>
Las recompensas pueden incluir distintivos especiales, agendas,
u otras formas de reconocimiento.
<br>
Al orquestar asociaciones de éxito y celebrar los pasos que
conducen al éxito, ayudará a sus miembros del Chapter a aumentar
su impulso y alcanzar sus metas y su potencial. No se
olvide de celebrar sus propios éxitos también!
<br>
<br>
Mis Puntos de Acciones
<br>
</p>
    <ul>
<li>¿Divida su Chapter en asociaciones de éxito de dos o
tres personas.
</li>
<li>Identificar los premios que usara para celebrar el éxito
en su Chapter.
</li>
    </ul>
<p>
Aplication Espiritual
<br>
Las Escrituras proporcionan numerosos ejemplos de
asociaciones de éxito. El profeta Alma se asoció con
Amulek. Pablo y Timoteo visitaron las iglesias juntos.
Hyrum Smith fue una bendición para su hermano José.
Hoy, los misioneros demuestran ese mismo principio.
<br><br>
Ideas Adicionales
<br>
“Si usted tiene una pareja de éxito, en esos días cuando
tal vez su energía no este ahí, va a tener a alguien responsable
al que tendrá que rendir cuentas. Y del mismo
modo, usted será alguien responsable a otra persona que
le tenga que rendir cuentas.”
<br>
 -Carl Daikeler

</p>
</div>
</div>