<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 6: Las Decisiones
Determinan el Destino</h1>
<hr>
<p>El Presidente Thomas S. Monson fue un exitoso líder de negocios
antes de ser llamado como apóstol a los treinta y seis
años de edad. uno de sus principios fundamentales es que “las
decisiones determinan el destino.” Este concepto se ilustra a
menudo en los cursos de gestión empresarial en la Universidad
Brigham Young.
<br>
Como el Presidente Monson dice, “La historia está influenciada
por decisiones aparentemente pequeñas, y así es en la vidas
de las personas. Nuestras vidas dependerán de las decisiones
que tomemos, para determinar nuestro destino. . . . Estoy muy
agradecido de que no necesitamos tomar decisions sin la ayuda
celestial. Todos pueden tener la guia y dirección de nuestro
Padre Celestial si nos esforzamos por ello”.
<br>
Somos responsables de nuestras decisiones y nuestras decisiones
afectannuestros destinos. Cuando evitamos tomar una
decisión, todavía estamos tomando una decisión, en este caso,
la decisión de no actuar. Por ejemplo,si un empresario tiene la
oportunidad de hacer una compra mayor a un precio reducido,
pero no puede decidir si tomar ventaja de ello, entonces alguien
más podría aprovechar la oportunidad. Es más prudente
considerar la evidencia, orar al respecto, y hacer una decisión
firme y oportuna.
<br>
Decisiones para Lideres de Chapters
<br>
Durante su servicio como líder de un Chapter de alumnos de
la Academia,usted tiene la oportunidad de tomar muchas decisiones
importantes que afectará la vida de las personas. Una
decisión que puede parecer pequeña en primer lugar, pero las
buenas decisiones pueden tener un efecto dominó. Aprender a
tomar decisiones inteligentes, en el momento oportun mejorará
su liderazgo en todo tipo de situaciones.
<br>
Por ejemplo, algunas presidencias de Chapter no deciden con
anticipacion cuando van a tener sus reuniones de los Chapters.
Mientras tanto,pasa el tiempo, y más de un mes ha transcurrido
ya. Mientras deciden cuando tendran su próxima reunión, los
líderes de los Chapters han decido, en efecto, saltar la reunion.
Como resultado, el chapter sufre,y los individuos pierden importante
capacitación, apoyo y motivación.
<br>
Antes de que comience su reunion del chapter, decida cuando
la se llevará a cabo la proxima reunion. Esto permitirá que usted
anuncie la proxima reunion en el comienzo de esta reunión
y luego anunciarla de nuevo al final, para que sus miembros
puedan empezar a planificar la siguiente reunion. Tomar esta
decisión también le permitira recordar a los miembros sobre
las próximas semanas.
<br>
Para ir un paso más adelante, ¿por qué no decidir las reuniones
del Chapter de todo el anno? En un momento apropiado, siéntese
con su equipo de liderazgo, consulte un calendario, y decida
cuándo y dónde se llevarán a cabo las próximas doce reuniones.
<br>
Entonces anime a todos los miembros de su Chapter
a poner la fecha en sus agendas o calendarios, ya sea en papel
o electrónicamente.Si las circunstancias lo requieren, siempre
puede poner su reunion al horario de tarde.
<br>
<br>
Mis Puntos de Accion
<br>
</p>
<ul>
    <li>Piense en los líderes que más admira. ¿Qué decisiones
clave ¿Han hecho que cambió el curso de la
historia, ya sea a pequeña o gran escala?
    </li>
<li>¿Qué decisiones podría tomar y como consecuencia
mejoraria a sus alumnos del Chapter?

    </li>
</ul>
<p>
<br>

Aplicacion Espiritual
<br>
“A cada uno de nosotros se le ha dado el poder de cambiar
su vida. Como parte del gran plan de felicidad del
Señor, tenemos la agencia individual para tomar decisiones.
Podemos decidir hacer mejor y ser mejor. De
alguna manera todos tenemos la necesidad de cambiar.”
<br>

-James E. Faust
<br>
<br>
Ideas Adicionales
<br>
“Estar dispuesto a tomar decisiones. Esa es la cualidad
mas importante en un buen líder. No sea víctima
de lo que yo llamo el ‘prêt-objetivo-objetivo-objetivo-objetivo
síndrome.’Usted debe estar dispuesto a
disparar .”
<br>
 -T. Boone Pickens

</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>