<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 12: Adoptando la
Cultura de Éxito</h1>
<hr>
<p>Cuando los fundadores de la Academia se reunieron con su
primer grupo de misioneros retornados filipinos, anunciaron
que la clase empezaría cada día a las 7:45 am Casi al unísono,
los alumnos le preguntaron: “¿Es ese tiempo filipino o el tiempo
de América? “” Ninguno “, respondieron los fundadores.
“Es el tiempo de la cultura del éxito”
<br>
A medida que la Academia ha progresado a lo largo de los
años, la frase”Cultura del éxito” ha llegado a abarcar la nueva
mentalidad que los estudiantes desarrollan mediante la aplicación
de “25 Reglas de oro de la Academia “y otros principios.
Ahora el curriculo de autosuficiencia de la Iglesia SUD
incluso menciona “cultura del éxito.”
<br>
Pero, ¿qué significa esta frase? “Cultura” son nuestras creencias
y valores, nuestro sentido del bien y el mal, y lo más importante,
la forma en que hacemos las cosas. “El éxito” significa
algo más que dinero significa crear estabilidad en nuestras
vidas, ser autosuficiente, y proporcionar los fundamentos de la
vida por medio de nuestros propios hábitos e iniciativa. Por lo
tanto, “la cultura del éxito” significa saber, creer, y seguir los
principios y prácticas que nos llevan a ser autosuficientes y
disfrutar de una próspera, vida abundante.
<br>
Siguiendo los principios de la cultura de éxito los resultados
son la felicidad, la alegría, y la salubridad. Por el contrario,
la cultura de la pobreza se basa en ir con la corriente, en la
creencia de que todo lo que sucede es como debe ser y nada se
puede hacer al respecto. Pobreza es una vida donde se actua
sobre sobre las personas en lugar de tomar el individuo la responsabilidad
de su propio progreso.
<br>
La cultura de éxito en su Capítulo
<br>
Como presidente del chapter, usted no solo tiene la oportunidad
de vivir la cultura del éxito, sino también de enseñar a otros
y proporcionar un ejemplo de cómo funciona. A continuación
se presenta una listado de las características que representan la
cultura de éxito y como lograr la autosuficiencia (véase también
las “25 Reglas generales” al final de este manual):
<br>
1. Define tu propio destino,basado en las decisiones que
tomas. Sin embargo,con el fin de tomar buenas, debes
tener la contribucion de los demás. Busca entrenadores,
socios de éxito y mentores que han aprendido a través
de la experiencia. No confíez en los mitos o tradiciones
falsas.
<br>
2. Lucha por el crecimiento individual y el progreso. El
progreso viene de hacer un plan y seguirlo. algunos dicen
que no quieren planificar, dicen que es demasiado
trabajo y que no hará ninguna diferencia. Es cierto que
si alguien quiere permanecer en la pobreza, él o ella no
necesita ningún plan.
<br>
3. Mantenga un registro de su negocio. Algunas persona
dicen, “Mi negocio es demasiado pequeño para tener de
registros. “Los que hablan así son probablemente tengan
razon, su negocio es demasiado pequeño y seguirá siendo
así. 
<br>

4. Separa tu dinero personal de su dinero del negocio. Esto
te permitirá desarrollar la disciplina personal y familiar.
¿Es fácil? No. ¿Vale la pena? Sí, si deseas aprender
cómo tener éxito y construir un negocio que puede ofrecer
prosperidad para su familia.
<br>
5. Centrate en un solo negocio. Se ha dicho que el cazador
que persigue dos Conejos no atrapa ninguno. La cultura
del éxito exige disciplina, constancia, diligencia y “longanimidad”
(Alma 32:43). Lanzar o correr varias empresas
pequeñas al mismo tiempo por lo general conduce a
múltiples fracasos.
<br>
6. Respeta tu tiempo como tu activo más valioso. Esta es
una práctica básica y la fe en las personas de éxito. La
forma de utilizar tu tiempo es un gran indicador de éxito
en el futuro. No lo desperdicies! También, asegúrate de
respetar a los demás siendo siempre puntual.
<br>
7. Identifica tus prioridades, y persiguelas con un sentido
de urgencia. Cuando creas una lista de tareas por hacer y
planificas tus prioridades, puedes hacerlo de una manera
más inteligente,tomar más decisiones estratégicas sobre
cómo utilizar tu tiempo.
<br>
8. Cumple tus promesas, no importa lo difícil que pueda
ser. Tu integridad y honradez son vitales para tu éxito.
Si alguna vez tienes que romper una promesa, obten el
permiso de la persona a la que le hiciste la promesa.
<br>
9. Establece metas, escribelas, y revisalas a menudo. Como
se señaló anteriormente, asegúrate de que tus objetivos
sean específicos, medibles, alcanzables, relevantes y sujetos
a plazos.
<br>
10. Trabaja para mejorar las circunstancias de vida de tu
familia, proporcionando agua potable, las necesidades
médicas, y las oportunidades educativas. Trabajen juntos
para mantener hábitos saludables y gestionar sus recursos
de manera inteligente. 
<br>

Los Santos de los Últimos Días creen que cada vez que deseamos
una bendición de Dios, debemos mantener las leyes
sobre las cuales se basan en esa bendición (véase D. y C.
130: 20-21). Esto también se conoce como la ley de la cosecha
“cosechamos lo que sembramos”.
<br>
La cultura del éxito se basa en ciertos principios. Al practicar
estos principios, te prometemos que llegarás ser autosuficiente.
Ensena a los miembros del chapter sobre la cultura deéxito, y
ensenaselos por medio del ejemplo. Ganarás bendiciones de
prosperidad al abrazar y vivir estos principios.
<br>
<br>
Mis Puntos de Accion
<br>

</p>
    <ul>
<li>Define qué significa para ti “cultura del éxito.”
</li>
<li>Identifica que principios de la cultura del éxito tus
miembros del chapter necesitan desarrollar.</li>
    </ul>
    
<p>
Aplicacion Espiritual
<br>
“Para alcanzar las metas eternas, debemos reconciliar
nuestra cultura terrenal con la doctrina eternal del
evangelio. Este proceso supone tener todo lo que esespiritualmente
elevado en nuestras tradiciones familiares
y sociales y seguir desechando lo que es un obstáculo
para nuestra perspectiva y el logros eternos .”
<br>
-Donald L. Hallstrom
<br><br>
Ideas Adicionales<br>
“La clave es asumir la responsabilidad y la iniciativa, decidiendo
cual va ser el proposito de tu vida y dando prioridad
a las cosas más importantes que rodean tu vida.”<br>
—Stephen Covey
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>