<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 3: Creando la Vision de
Liderazgo</h1>
<hr>
<p>Ahora echemos un vistazo más de cerca de cómo se puede
crear el vision de liderazgo para su chapter. Si bien este manual
ofrece principios y guias útiles, cada presidencia de chapter
necesita armar su propia visión única. Lo que optes por enfatizar
en tu Chapter depende de las necesidades específicaz
de tus miembros.
<br>
A medida que tu presidencia del chapter comienza a crear la
visión del chapter, continuamente mediten en esta pregunta
clave: ¿Dónde quieren que este el chapter y sus miembros
en dos años, cuando completen su servicio como líderes del
chapter?
<br>

Tu primera reunión de planificación de la Visión
Tan pronto como sea posible, reúne a tus vicepresidentes
y secretario para su primera reunión de planificación de la
visión. Podrías tener tus reuniones de liderazgo en un centro
de reuniones de la iglesia, en un restaurante local, o en la casa
de alguien. Es más probable que la iglesia que sea un lugar
más tranquilo, los salones y pizarrones vendrán bien para una
lluvia de ideas.
<br>
Un propósito principal de su primera reunión será evaluar lo
que sabes ya sabe acerca de sus miembros del capítulo y lo que
todavía tienen que descubrir, como lo siguiente:
<br>
</p>
<ul>
<li>¿Han comenzado ya su negocio? Si es así, ¿qué tipo de los
negocio es? ¿Qué tan exitoso es el negocio?
</li>
<li> 
Si aún no han iniciado su propio negocio, ¿qué tipo de negocios
estan más interesados? ¿Qué es lo que ven como sus
principales obstáculos para empezar?
</li>
<li>¿Cuáles de las “25 reglas de oro” es más difícil seguir ?
</li>
<li>¿Dónde vive cada miembro? ¿Tienen los medios para asistir
a las reuniones mensuales de los chapter?
</li>
<li>¿Que miembros podrian ser buenos candidatos para ensenar
aotros miembros que no han progresado todavía?
</li>
</ul>
<p>
Durante su primera reunión de planificación, revisa lo que sabes
,y haz planes para averiguar lo que no sabes. Cada líder
debe salir de la reunión con asignaciones específicas para contactar
a los miembro y aprender más acerca de ellos, según sea
necesario.
<br>

Clarifica tu Vision
<br>
A medida que aprendas más acerca de tus miembros, podras
desarrollar más tu visión. Tu presidencia del chapter deberian
reunirse mensualmente ; podría ser mejor reunirse justo antes
de sus reuniones principales del chapter comiencen. Durante
los primeros meses de tu Presidencia, enfocate en la creación
de una visión que conozca las necesidades de los miembros
del chapter, tomar decisiones tales como la siguiente:
<br>
</p>
<ul>
<li>¿Cuánto deberian enfocarse las reuniones del chapter a
reuniones en aquellos que ya han comenzado un negocio, y
cuánto en los que todavía se están preparando para hacerlo?
</li>
<li> ¿Los intereses empresariales de los miembros tienden a
juntarse en grupos? Si es así, ¿sería útil interrumpir algunas 
reuniones de los chapter por cada tipo de negocio?
</li>
<li>¿Qué se deberian de ver sus agendas de las reuniones del
chapter cada mes? ¿Qué tipos de invitados para hablar podria
ser más útil para sus miembros?
</li>
<li>De manera continua, ¿cómo va tu chapter a reforzar los
principios fundamentales que se enseñan en las “25 reglas de
oro,” el curriculo de negocios de la Iglesia SUD y Creciendo
Mi currículo de negocios, y el deber de Prosper folleto?
</li>
<li> Los chapters pueden elegir recalcar diferentes aspectos,
tales como la creación de redes, formación, asesoramiento,
seguimiento del progreso, y la socialización. ¿Cuál de estos
aspectos tus miembros del chapter necesitan más?
</li>
<li> Una meta principal de cualquier chapter es ayudar a cada
miembro progresar para convertirse en autosuficientes.
</li>
</ul>
<p>
¿Cómo su chapter va a promover y medir esta meta?
<br>

A medida que desarrollas cuidadosamente tu visión,
asegúrate de escribir todo lo que tu Presidencia decida,
incluyendo metas específicas, tareas, plazos y fechas de
vencimiento para la presentar informes del progreso. Pon estos
registros a disposición de toda la presidencia, y voten para
confirmer en que van a trabajar todos juntos para cumplir la
visión.
<br>
En los chapters de todo el mundo, las visiones de liderazgo
comparten algunas similitudes, pero en última instancia,
la visión de cada chapter es única. Un plan de la visión
cuidadosamente escrito con metas alcanzables
En los chapters de todo el mundo, las visiones de liderazgo
comparten algunas similitudes, pero en última instancia,
la visión de cada chapter es única. Un plan de la visión
cuidadosamente escrito con metas alcanzables es realmente
un modelo de lo que va a lograr. Cuanto más específica sea tu
visión, más facil lo vas a lograr.
<br>
<br>
Mis Puntos de Accion
<br>

</p>
    <ul>
<li>Describe las visiones de otras personas y organizaciones
que tu admiras.
</li>
<li>Establece la fecha y hora del día de tu primera reunion
de planoificacion de la visión
</li>
    </ul>
    
<p>Aplicacion Espiritual
    <br>
    “Al ser llamado Moisés a convertirse en un profeta
de Dios,fue llevado a una cima de la montaña, donde
se contempló una panorámica vista de todas las
maravillosas creaciones de Dios. Jehová le dio una
visión de su objetivo inmediato, queria «librar a mi
pueblo de la esclavitud” (Moisés1:26). Entonces, el
Señor explicó su objetivo a largo plazo:’Esta es mi
obra y mi gloria: Llevar a cabo la inmortalidad y la
vida eterna del hombre “(Moisés 1:39)”.
<br>
-Spencer J. Condie
<br>
<br>
Ideas Adicionales
<br>
“El liderazgo es la capacidad de traducir la visión en
realidad.”
<br>
-Warren Bennis
</p>
</div>
</div>