<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 9: El desarrollo y
matenimiento de las
convicciones</h1>
<hr>
<p>Cuando los fundadores de la Academia llegaron por primera
vez en las Filipinas con sólo un sueño y varias cajas de libros
de negocios, ellos pensaron que tenían todas las herramientas
necesarias para cambiar la vida de las personas. Sin embargo,pronto
descubrieron, , que lo que necesitaban no se encontraba
en los libros, sino en los corazones y las mentes de los
estudiantes.
<br>
Sí, las herramientas pueden ayudar con el trabajo difícil de
cambiar nuestra propia familia de la pobreza a la prosperidad.
Herramientas eficaces incluyen cosas como listas de tareas,
socios de éxito, render cuentas de resultados, y las “25 Reglas
generales”. Sin embargo, todas estas herramientas no son
suficientes si falta una actitud clave: creencia. En el Nuevo
Testamento, un padre lleva a su hijo enfermo para ser sanadopor
el Señor. Este padre es como muchos de nosotros. “Señor,
yo creo,”él dice, pero luego añade, “ayuda a mi incredulidad.”El
Señor ofrece una declaración notable sobre el poder
de la creencia: “Si puedes creer, al que cree todo le es posible
“(Marcos 9: 23-24).
<br>
La creencia puede mover montañas, tranquilar tormentas, resucitar
a los muertos, y hacer posible caminar sobre el agua.
Sí, la creencia puede ayudar a los que viven en la pobreza
a construir una microempresa y mover a sus familias hacia
la autosuficiencia y la prosperidad para las generaciones por
venir.
<br>
Creencia que aliente a tu Chapter
<br>
¿Dios realmente nos ayudara a tener éxito en las cosas del
mundo? Realmente importa si vivimos en la pobreza o la prosperidad?
Y Por qué algunos nacen en la pobreza y otros en
familias ricas? Por qué no es la vida más justa?
<br>
Estas son preguntas difíciles. Sin embargo, no nos impiden
centrar nuestra creencia en una manera sencilla y eficaz. nuestras
circunstancias son lo que son, pero no debemos creer que
nuestras circunstancias dicten nuestro futuro. Podemos ejercer
la fe en que podemos hacer algo al respecto con nuestras circunstancias.
Y luego podemos salir y realmente hacerlo.
<br>
Para ayudar a tus miembros del Chapter adesarrollar la creencia
en que pueden tener éxito en los negocios, te recomendamos
estos tres pasos:
<br>
1. Construyan su deseo observando, recibiendo apoyo y aprendiendo
de, de los que ya han alcanzado el éxito. Llamamos a
estas personas mentores, entrenadores, o el éxito socios.
<br>
2. Apliquen los conocimientos que han adquirido, y oren continuamente
para que sus “rebaños y campos” aumenten (ver
Alma 34:25).
<br>
3. Mantengan la repetición de las rutinas y hábitos que hacen
la diferencia.
<br>
Una razón por los alumnus del Chapter de la son tan importantes
es que se apoyan mutuamente en la construcción y el
mantenimiento de la creencia. Ayuda a tus miembros a revisar
continuamente los principios básicos de éxito, incluyendo
principios enseñados en las escrituras. Anima a tus miembros
a contar sus historias, tanto de los éxitos como de los desafíos.
<br>
Y recuerda que tu propio ejemplo es vital, tu también debes
creer en el sueño y testificar acerca de lo que estás trabajando
para ti y para otros.
<br>
En Alma capítulo 32, aprendemos de un proceso de convencimiento
que también puedes aplicarár a tus esfuerzos en
el negocio :
<br>
1. El deseo de creer y actuar 
<br>
2. Encuentra la semilla correcta (oportunidad de negocio).
<br>
3. Encontrar un terreno fértil (ubicación de la empresa).
<br>
4. Plantar la semilla (iniciar el negocio).
<br>
5. Nutre la planta, ya que “hincha, y brota” (trabajo sobre
y en el negocio).
<br>
6. Con paciencia, amor, la continua creencia, y cuidadosa
nutricion, cosecha el fruto (una ganancia cada día).
<br>
De vez en cuando tenemos graduados de la Academia que no
empiezan un negocio. Otros lempiezan un negocio, pero luego
se dan por vencidos cuandose enfrentan con su primer obstá-
culo. Más que cualquier otra cuestión, la principal causa de
estas fallas es la falta de creencia. El segundo es no cumplir
con los principios sobre los que se basa el éxito del negocio.
Como líder del Chapter, puedes crear un ambiente invernadero
donde todos tus miembros puedan desarrollar su creencia,plantar
sus semillas, nutrir a sus plantas y cosechar el fruto
de la autosuficiencia y la prosperidad.
<br>
<br>
Mis Puntos de Accion
<br>
</p>
    <ul>
<li>Identifica formas de ayudar a los miembros del
Chapter a creer que pueden ser autosuficientes y
prósperos.</li>
<li>Piensa en algunos ejemplos personales de creencia
que tu podrías compartir con tu Chapter
</li>
    </ul>
    
<p>
<br>
Aplicacion Espiritual
<br>
    “Con demasiada frecuencia nos acercamos al evangelio
[o nuestro negocio]como un agricultor que pone
una semilla en la tierra en la mañana y espera el maíz
en la mazorca por la tarde. Cuando Alma comparó la
palabra de Dios a una semilla, explicó que la semilla
crece gradualmente hasta llegar a ser un arbol que da
fruto, como resultado de nuestra fe, y [nuestra] diligencia
‘,y paciencia, y longanimidad (Alma 32:43).”
<br>
Dieter F. Uchtdorf
<br>
<br>
Ideas Adicionales
<br>
“Manten tus sueños vivos. Comprende que para
lograr cualquier cosa se requiere fe y confianza en sí
mismo, la visión,el trabajo duro, la determinación y
dedicación. Recuerda, todas las cosas son posibles
para los que creen."
<br>
 -Gail Devers
</p>
</div>
</div>