<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 11: Delegando para en
Crear Más Éxito
</h1>
<hr>
<p>Hay un viejo dicho entre los mentores: Puedes hacer el trabajo
de diez personas o conseguir diez personas para hacer el
trabajo.
<br>
Los líderes eficaces pronto se dan cuenta de que no pueden
hacer todo por sí mismos. Con el fin de tener éxito, usted
debe aprender a confiar en otros, motivarlos a ayudar, y darles
una dirección clara en tareas asignadas. Sabia, delegación
estratégica no sólo permite una a una organización prosperar,
sino que también ayuda a las personas a crecer, al participar en
el aumento de éxito de la organización.
<br>
Una cosa es que un empleador a delegue tareas a sus empleados
qu reciben un salario. Sin embargo es muy distinto, delegar
con éxito a una organización de voluntarios. Cuando las
personas no reciben un salario por sus esfuerzos, ellos necesitan
sentirse recompensados de otras maneras. Cuando reconocemos
públicamente y agradecemos a la gente por lo que
hace, van a estar más dispuestos a ayudar, y van a estar más
satisfechos con los resultados de su servicio. De esta manera,
podemos construer una cultura de la delegación exitosa.
<br>
¿Qué otras herramientas y técnicas usan los líderes exitosos
para motivar a los voluntarios a realizar tareas importantes?
<br>
Delegando eficazmente en tu Capítulo
<br>
Con el fin de delegar, primero decide qué tareas necesitan ser
realizadas en tu chapter. Siempre que solicitemos a alguien
hacer algo por nosotros, debemos dar detalles sobre lo que
queremos logar por medio de ellos. Una poderosa herramienta
del delegares escribir exactamente qué tareas tienen que hacer
y sus plazos para ser completadas.
<br>
Trabaja en estrecha colaboración con tu liderazgo del chapter:
con tu vicepresidente y secretario para determinar las asignaciones
de cada uno y para los otros miembros del chapter. Al
planificar qué tareas delegar, recuerda que es a menudo más
sabio asignar tareas más pequeñas a un número mayor de voluntarios,
en lugar de las grandes tareas a un pequeño número
de personas. Con el primer método, se puede evitar voluntarios
abrumados con demasiado trabajo. Además, si una persona
no puede completar su tarea, otros pueden fácilmente tomar el
relevo.
<br>
Después de delegar tareas con instrucciones claras y plazos
firmes,el siguiente paso es hacer que las personas sean responsables.
los Santos de los Últimos Días están familiarizados
con la frase “el retorno y el informe.” Nosotros recomendamos
que usted establezca una reunión ordinaria en la que
los miembros siempre esperaran el retorno y el informe en sus
tareas. Como Presidente Thomas S. Monson nos ha enseñado:
<br>
“Cuando el rendimiento se mide, dicho rendimiento mejora.
Cuando el rendimiento se mide y se informa, el ritmo de mejoramiento
se acelera."
<br>

Para tener poder y fuerza adicional, considera crear un especial
comité de superacion en tu chapter. Para ello, identifica diez
miembros del chapter que son fuertes, motivados, y en movimiento
hacia el camino del éxito. Pídeles que se comprometan
a dos horas de trabajo del chapter cada mes. Asigna estos ayudantes
para llegar a los otros miembros del chapter, asesorales,
ayudales a sacar el máximo parovecho de pertenecer al chapter,
y de otra manera lleva a cabo la visión del capítulo. Para
mayor efectividad, elige a diez ayudantes que esten ubicados
geográficamente por todo el territorio del chapter.
<br>
Al delegar eficazmente con clarass, específicas tareas y un
fuerte seguimiento de rendición de cuentas, vas a crear un
efecto multiplicador que te marcará como un líder eficaz. No
sólo tu chapter mejorara de manera significativa, pero si tambien
utilizas estas mismas herramientas en tu familia, tu negocio,
y tus responsabilidades de liderazgo en la iglesia, tu vida
será más fácil, incluso mientras disfrutas más productividad y
éxito.
<br>
<br>
Mis Puntos de Accion
<br>

</p>
    <ul>
<li>Anota algunas tareas urgentes en su capítulo que se
necesita deleguar.
</li>
<li>Identifica los diez miembros del capítulo que sería
Buenos candidatos para server en un un comité de
</li>
    </ul>
    
<p>
    <br>
Aplicacion Espiritual
<br>
Cuando los líderes y maestros delegan sabiamente responsabilidades
inspirándose en las capacidades y los
recursos de los demás, van a multiplicar sus esfuerzos,
construir relaciones de confianza, y proporcionar
oportunidades para el crecimiento, liderazgo,y la motivación.
<br>
-Administrando apropiadamente.
<br><br>
Ideas Adicionales
<br>
“Si quieres hacer algunas pequeñas cosas bien, ellos lo
hacenusted mismo. Si usted quiere hacer grandes cosas
y hacer una gran impacto, aprender a delegar.”
<br>
-John C. Maxwell
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>