<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 8:  El Seguimiento de
sus logros
</h1>
<hr>
<p>En un capítulo anterior, hemos presentado la idea de un habito
“clave” angular . Este único hábito solo le llevará a lograr
muchas tareas de vital importancia. Estos esfuerzos se convertirán
entonces en nuevos hábitos y lo conduciran a éxitos
adicionales en todas las áreas de su vida. El hábito “clave” que
le recomendamos antes era siempre crear una lista de tareas
pendientes para mañana.
<br>
Este capítulo trata de otro hábito “clave”. Una investigación
ha encontrado que este hábito adicional es casi tan eficaz en
el cambio de comportamiento como la lista de tareas por hacer.
En pocas palabras, este hábito adicional está escribiendo o
dando seguimiento a sus actividades y resultados en una base
diaria.
<br>
El Seguimiento diario de lo que hace es poderoso en varias
maneras. Con el tiempo, este hábito puede proporcionar información
valiosa, permitiéndole identificar patrones y tendencias
en su negocio para que pueda hacer los ajustes apropiados.
Su rutina de seguimiento puede convertirse en una fuerza
motivadora para el cambio de comportamiento.
<br>
En un estudio, se pidió a 1.600 personas que hacen dieta
empezar a llevar un registro de alimentos . Unos seis meses
después, los investigadores encontraron que los individuos
que registraron lo que comían todos los días habían perdido
peso dos veces que los que no lo hicieron. El hecho de escribir
sus resultados se hicieron más conscientes de lo que estaban
comiendo, y esto les ayudó a cambiar su comportamiento. Si
realiza el seguimiento de lo que está haciendo y viendo los
resultados que, al igual que las personas que hicieron la dieta,
cambie su comportamiento para conseguir nuevos y mejores
resultados. Un hombre sabio dijo una vez: “Si sigue haciendo
lo que siempre ha hecho, usted tendrá lo que siempre ha tenido.
<br>
“O” Para ser lo que no es, tiene que hacer lo que no hace”.
Como estudiantes del Libro de Mormón, sabemos lo importante
que fueron los registros para Lehi y su familia. Lehi envió
a sus cuatro hijos de vuelta a Jerusalén para obtener las
planchas de bronce de Labán. Esta expedición era peligrosa,
pero la familia de Lehi necesitaba acceso a los registros de los
tratos de Dios con sus antepasados.
<br>
Más tarde, en el Libro de Mormón, nos enteramos de que los
Mulekitas no fueron capaces de llevar registros con ellos al
Nuevo Mundo. Como resultado, su lengua se corrompió y se
“negaban la existencia de su Creador “. Para hacer frente a
esta situación, el pueblo de Mosíah enseno su idioma a los
Mulekitas para que pudieran entender los registros bíblicos.
(Véase Omni 1.)
<br>
Estos registros pueden llegar a ser casi tan valiosos para su
éxito en el futuro como lo fueron los registros para los Nefitas
y Mulekitas.
<br>
Seguimiento de resultados en el Chapter
<br>
Si aún no esta dando el seguimiento de sus resultados sobre
una base diaria, le animamos a empezar a hacerlo. Lleve un
registro de su experiencia y logros en su vida personal, en su
negocio, y en el Chapter de ex alumnos que usted dirige. Enseñe
y anime a otros a hacer lo mismo.
<br>
El solo hecho de registrar sus resultados le ayudará a desarrollar
nuevos hábitos de éxito. Éstos son sólo algunos ejemplos
de los resultados empresariales que se podía realizar un seguimiento
diario:
<br>
1. La cantidad de dinero en efectivo en el negocio.
<br>
2. El número de clientes que entran en el negocio.
<br>
3. El número de clientes que realizan una compra.
<br>
<br>
Además, se podría escribir y realizar un seguimiento de las
nuevas ideas que tiene para el mejoramiento de su negocio.
<br>
En su Chapter , su Presidencia podría dar seguimiento a las
tareas asignadas y registrar cuando estas tareas se completaron
y con qué resultado. También puede dar un seguimiento de
la asistencia a las reuniones de los Chapters para que pueda
medir el aumento y la disminución y ajustar sus prioridades
acuerdo a eso.
<br>
La Academia pronto producirá una herramienta de planificación
y seguimiento para los miembros del Chapter. Mientras
tanto, inicie el seguimiento de sus actividades y resultados de
todos los días en una pequeña libreta. Comparta sus registros
con otros miembros de su equipo de liderazgo del Chapter, y
aliente a los miembros del Chapter a compartir sus registros
con sus socios de éxito.
<br>
<br>
Mis Puntos de Acciones
<br>

</p>
    <ul>
<li>Decida qué aspectos específicos de su negocio y
 del Chapter le hará un seguimiento.</li>
<li>Determine cuándo y dónde va a realizar su
seguimiento diario.</li>
    </ul>
    
<p>
Aplicacion Espiritual
<br>
“Como pueblo debemos escribir de nuestras propias
vidas y nuestras propias experiencias para formar un
registro sagrado para nuestros descendientes. Debemos
proveer para ellos la misma edificante fuerza promotora
de la fe, que las antiguas escrituras ahora nos dan.”
<br>
-Theodore M. Burton
<br><br>
Ideas adicionales<br>
“Algunos propietarios de negocios entienden la importancia
de mantener registros pero piensan que el
consejo se aplica sólo para los grandes o complejos
negocios. Esto simplemente no es verdad. Cada negocio
puede beneficiarse de un buen registro. Incluso
si su negocio es pequeño, los registros escritos son
vitales. Usted simplemente no puede recordar cada
detalle de lo que ocurre en su negocio, especialmente
después de largos períodos de tiempo. Su memoria
seguramente se desvanecerá al pasar los días y las
semanas, pero la tinta rara vez se desvanece. El mantener
registros le permite ver, sin duda alguna, todo
lo que realmente ha sucedido cada día en su negocio
cada día .”
<br>
 -Stephen W. y Bette M. Gibson
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>