<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 2: La Importancia de
la Vision
</h1>
<hr>
<p>La palabra visión es un poderoso termino entre los Santos de
los Últimos Días. Compartimos una historia religiosa de visiones,
no sólo en nuestras Escrituras antiguas, sino también
en los tiempos modernos. De José Smithla Primera Visiónde
José Smith sirvió de base para toda la Restauración. Luego,
el Profeta recibió muchas visiones posteriores revelandosele
cómo llevaria a cabo la obra del Señor.
<br>
Como líder del chapter de la Academia, tienes la oportunidad
de crear una visión de liderazgo para tu chapter. Este tipo de
vision puede no estar relacionada con seres celestiales, pero
va a proporcionar a tu chapter la dirección, la inspiración y la
motivación. Como quieres que se vea tu chapter al final de tu
servicio como líder? Proyecctar tus esperanzas y deseos en el
futuro inspirara a tu equipo con una visión de cómo llegar allí.
<br>
Sin una visión, tu y tu equipo aún puede ir a través de la emocion
de tener reuniones del chapter. Sin embargo, estas reuniones
carecerán de la chispa de la vida. Sin una visión para
guiarlo y proporcionar objetivos claros, tu chapter será como
un cuerpo sin un espíritu interior. No dejes que esto suceda!
<br>
El espíritu de tu capítulo vendrá naturalmente al orar y planificar 
apasionadamente sobre lo que quieres que tu chapter y
tus miembros lleguen a ser, colectivamente e individual. Con
esta visión y con el espíritu manejando todo lo que haces, las
actividades de tu chapter serán mucho más eficaces. La vida
de las personas, incluyendo tu propia vida, va a mejorar en
muchos aspectos.
<br>
Al imaginar lo que quieres conseguir para el futuro, puedes
crear tu visión de cómo hacer que eso suceda. Al crear tu
visión para el chapter, estás escribiendo la historia de tu chapter
por adelantado. ¿Cuáles son algunos de los temas que debe
considerer incluir en tu visión? Para tener una idea mas clara,
ve el siguiente capítulo del manual.
<br>
<br>
Mis Puntos de Accion
<br>
Escribe lo que quieres que tu chapter y tus miembros
logren durante tu tiempo de liderazgo.
<br>
Applicacion espirituales<br>
“A medida que adquirimos una visión de nosotros
mismos como el Salvador nos ve y como actuamos
en base a esa visión, nuestra vida será bendecida de
forma inesperada. . . . Somos un pueblo con historia de
vision, de fe y de coraje para hacerlo. ¡Miren a donde
hemos llegado y las bendiciones que hemos recibido!
Crean que Él puede bendecirlos con la visión en sus
vidas y el valor para actuar. . . . “Donde no hay visión,
el pueblo se desenfrena “(Proverbios 29:18).”
<br>
-O. Vicente Haleck

<br>
<br>
Ideas Adicionales
<br>
“El éxito de Liderazgo comienza siempre con la visión.
. . . Antes de embarcarte en cualquier empresa de liderazgo,
para y toma una mirada a tu visión de éxito.
Qué es? ¿Tienes una? A menudo, con la prisa de hacer
las cosas, o para poner en marcha un nuevo proyecto
o producto, le pedimos a la gente que se ponga detrás
de nuestros esfuerzos sin realmente darles una buena
razón por la cual deben de hacerlo."
<br>
 -John Ryan

</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/DutytoLeadSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>