<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 1: Objetivo</h1>
<hr>

<p>
Con la guía de nuestro Padre Celestial, los miembros del Capítulo se ayudarán unos a otros a entender y aplicar los principios correctos de los negocios a los suyos propios y a sus AGI´s, lo que habilitará a cada uno a lograr y aumentar su autosuficiencia.  <br>

“Sión debe aumentar en belleza y santidad… y seréis iguales… para el mejor manejo de los asuntos de vuestras mayordomías… a fin de que todo hombre mejore su talento, y cada uno gane otros talentos, sí, hasta cien tantos… buscando cada cual el bienestar de su prójimo” (D&C 82:14-19)
<br>
</p>

</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>