<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 10: Programa de Capacitación de Capítulos</h1>
<hr>
<p>
<strong>Visitas Regionales
</strong>
<br>
- Se realizan dos veces al año
<br>
- Son organizadas por el Coordinador de Capítulos
<br>
- Sólo asisten las presidencias
<br>
- Hay capacitación
<br>
- Existe un rendimiento de cuentas
<br>
- Hay una fijación de metas
<br>
- Se da lugar a la resolución de dudas
<br>
- Se proporcionan motivación y apoyo
<br>
- Debe haber una reunión del Capítulo ese mismo día
<br>
- Hay visitas a negocios
<br>
<br>
<strong>Video Conferencia
</strong>
<br>
- Se realizan dos veces al año
<br>
- Son transmitidas desde el campus
<br>
- Se imparte capacitación 
<br>
- Asisten todos los miembros del Capítulo
<br>
- Se da información de los siguientes eventos
<br>
- Se proporcionan motivación y apoyo


<br>
<br>
<strong>Reunión General de Presidentes de Capítulos
</strong>
<br>
<br>
- Se realiza una vez al año
<br>
- Se llevan a cabo en el campus de la Academia
<br>
- Asisten todos los presidentes de los Capítulos en México
<br>
- Se lleva a cabo una planeación de trabajo
<br>
- Reciben capacitación
<br>
- Se proporcionan motivación y apoyo

<br>

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>