<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 3: ¿Qué es un Capítulo de Apoyo a Negocios de la ACE?</h1>
<hr>

<p>

Es un grupo de alumnos graduados de la ACE y del curso “Cómo Iniciar y Hacer Crecer mi Negocio” que se reúne cada mes para ayudarse entre sí a lograr la autosuficiencia a través de los negocios. Pertenecer a este grupo es gratuito.<br>
Chapter members are at different stages: some have experience in business, others are starting your business and others are still looking for business opportunities. There are 60 chapters in Mexico and more are being created every year.
<br>
Los miembros de los Capítulos se encuentran en diferentes etapas: algunos tienen experiencia en negocios, otros están empezando su negocio y otros aún están en busca de oportunidades de negocio. Existen más de 60 Capítulos en México y se están creando otros cada año.
<br>
Nota: Los Capítulos se rigen bajo las normas de la Iglesia y del evangelio de Jesucristo y se espera que todos los miembros del Capítulo vivan de acuerdo a ellas.
Algunos de los beneficios que tiene el Capítulo son:<br>
Capacitación continua (mensual a través de videos, casos de estudio, ponentes, etc.) <br>
Prácticas Empresariales (a partir de 2016. Tiene un costo asociado)
<br>
Curso y Seminarios Empresariales Avanzados (Tienen un costo asociado.)
<br>
Recursos en línea
<br>
Red de contactos: A través de la reunión mensual que se realiza, los alumnos pueden ponerse en contacto con miembros de otros Capítulos alrededor de México con principios e intereses similares a los suyos; con esto se puede compartir ideas, tener una red de posibles clientes, proveedores o mentores para su negocio.
<br>
Pequeños Grupos de Apoyo y Seguimiento (PGAS): Añadido a la reunión mensual, los miembros del Capítulo se reúnen en pequeños grupos para capacitarse, tener retroalimentación, etc.
</p>

</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>