<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 13: Preguntas Frecuentes
</h1>
<hr>
<p>
    <strong>¿Miembros graduados de cursos de autoempleo de la Iglesia anteriores al de “Cómo Iniciar y Hacer Crecer mi Negocio” se pueden incorporar al Capítulo?
</strong>
    <br>
No, se les invita a tomar el nuevo curso de la Iglesia “Cómo Iniciar y Hacer Crecer mi Negocio”. Recuerda que la Iglesia ofrece tres cursos: “Educación para un mejor empleo”, “Mi Búsqueda de Empleo“  y el de “Cómo Iniciar y Hacer Crecer mi Negocio”. Solamente los graduados del curso “Cómo Iniciar y Hacer Crecer mi Negocio” pueden incorporarse al Capítulo. 
    <br>
    <br>
<strong>  
      ¿Qué tipo de reuniones de Capítulo se pueden llevar a cabo en las capillas?
</strong>
<br>
La Academia cuenta con el apoyo de la Iglesia para llevar a cabo SOLO sus reuniones mensuales en sus edificios y hacer uso de las facilidades físicas de las mismas. La reunión del Capítulo consiste en lo descrito en el formato de “Agenda de la Reunión”, cualquier otra actividad que deseen llevar a cabo los miembros del Capítulo que no se mencione en la Agenda deberá ser consultada con el Campus de la Academia.
<br><br>
<strong>¿Qué pasa cuando mi reunión de Capítulo se empalma con otra reunión de la Iglesia?</strong>
Se debe verificar con anticipación que la reunión de Capítulo no se empalme con otra actividad en el edificio en el cual se va a llevar a cabo la reunión. Si llegara a suceder esto, consideren cambiar de salón.
<br><br>
<strong>¿Puedo vender mi producto en la Capilla?</strong>
Recuerda que el manual de instrucciones de la Iglesia prohíbe las vendimias dentro de sus edificios, así que abstente de vender o comercializar en las mismas.
<br><br>
<strong>¿Pueden asistir mis amigos que no son miembros de la Iglesia o miembros del Capítulo?</strong>
No se les prohíbe la entrada, no obstante, se les invita a tomar ya sea el curso de la Academia (en caso de cubrir los requisitos) o el curso nuevo de la Iglesia “Cómo Iniciar y Hacer Crecer mi Negocio”. Los miembros del Capítulo pueden asistir con su esposo o esposa a la reunión.

</p>
   
</div><div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>