<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Interacción del Capítulo con la Academia
</h1>
<hr>
<p>
    La interacción del Capítulo y la Academia se llevará a cabo de la siguiente manera:

<br>
- Cada mes se enviará el formato de “Informe Mensual de Reunión de Capítulo”
<br>
- Cada mes se verifica la actualización de la Base de Datos con el Coordinador de Capítulos de la Academia
<br>
- Cada mes se enviará una historia de éxito hacia el Coordinador de Capítulos de la Academia por medio del formato “Machote para Historias de Éxito”
<br>
- Habrá una estrecha relación con el Coordinador de Capítulos y las presidencias de los Capítulos al trabajar con la red de contactos y las peticiones de la misma 

<br>
- El Capítulo recibirá una visita por parte de algún representante de la academia durante el año.
<br>
- El Capítulo recibirá dos video-conferencias al año coordinadas por el Campus de la Academia
<br>
- Los presidentes del Capítulo recibirán una capacitación general cada año llevada a cabo en el campus de la Academia
<br>
- Cada año habrá una convocatoria para la participación en el evento anual de Los Premios de la Academia
<br>
- Habrá comunicación entre el Capítulo y la Academia en cuanto a las solicitudes para la participación en las Prácticas Empresariales.
<br>
- Se enviará periódicamente información adicional a las presidencias de los Capítulos en cuanto a cambios relacionados con la administración los mismos, así como nuevos recursos disponibles, etc.
<br>
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>