<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 5: Cursos y Seminarios Empresariales Avanzados</h1>
<hr>


<p>
Es un curso especializado de negocios que incluye seminarios, módulos y el curso “ACEr Tu Negocio”, los cuales van dirigidos a alumnos graduados del curso tradicional de emprendedurísmo de la ACE o del curso de la Iglesia “Cómo iniciar y hacer crecer mi negocio” que deseen incrementar sus conocimientos en cuanto a temas en específico a fin de hacer crecer su negocio.
<br>
Curso ACEr tu Negocio
<br>
- Es un curso especializado que abarca los temas más importantes para el crecimiento sostenido de un negocio
<br>
- Tiene una duración de cuatro días
<br>
- Va dirigido preferentemente a empresarios cuyo negocio tenga una antigüedad mayor a un año y con planes de expansión.
<br>
- Tiene un costo asociado
<br><br>
Seminarios
<br>
- Son cursos especializados de negocios con duración de un día
<br>
- Sólo abarcan uno o dos temas llevados a profundidad
<br>
- Van dirigidos preferentemente para empresarios cuyo negocio tenga una antigüedad mayor a un año y con planes de expansión
<br>
- Tiene un costo asociado
<br><br>


<br>
Módulos en línea
<br>
Son herramientas de capacitación en línea disponibles para los miembros del Capítulo en general estas herramientas abarcan múltiples temas. Las herramientas van desde videos tutoriales, formatos para descarga, entre otros.
Los miembros de Capítulo pueden acceder desde su lugar de origen, no es necesario que asistan al Campus.
No tienen un costo asociado, son herramientas que se facilitan a los miembros de los Capítulos.

<br>
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>