<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 12: Uso de los Medios Electrónicos
</h1>
<hr>
<p>
Se hace uso de los medios electrónicos para la difusión y fortalecimiento de los Capítulos a lo largo de la República Mexicana. Se usan medios como:

<br>
- Página Web
<br>
- Página en Facebook
<br>
- Publicación de artículos de negocios en la página web y página de Facebook
<br>
- Publicación de herramientas de capacitación que están disponibles para los miembros del Capítulo en general (Véase “Módulos en Línea”)

<br>
</p>
   
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>