<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 4: Administración Eficaz de un Capítulo</h1>
<hr>
<h3>Proceso de la Reunión de Capítulo</h3>
<p>
    Antes
    <br>
- El líder de la estaca o barrio deberá tener conocimiento y aprobar las fechas de reunión del Capítulo cuando menos dos semanas antes de que se lleve a cabo.
<br>
- Las reuniones se llevan a cabo en el Salón cultural de la capilla o donde el líder correspondiente autorice.
<br>
- La fecha y lugar de la reunión del Capítulo se debe dar a conocer por lo menos con dos semanas de anticipación (vía SMS, Whatsapp, e-mail, etc.).
<br>
- El presidente del Capítulo asigna a un miembro de la presidencia para que dirija la reunión y a otro que sea el “que lleva el tiempo”.
<br>
- El Vice-presidente de Enseñanza y Entrenamiento pide a algunos miembros del Capítulo que sean los facilitadores en los PGAS durante la resolución de los ejercicios y discusión de temas (1 por grupo de 3 a 4 personas)
<br>
- El Vice-presidente de Enseñanza y Capacitación hace copias de la “Guía de discusión para los PGAS” (explicada más adelante en este documento)
<br>
- La presidencia del Capítulo se debe reunir antes de que se lleve a cabo la reunión de Capítulo, esto con el fin de planear la agenda y el desarrollo de la misma (invitados, video, asignaciones, casos de estudio, visitas a negocios, actividades del Capítulo, etc.). 
<br>
- Se planean visitas a negocios de los miembros del Capítulo o visitas a miembros inactivos del Capítulo
<br>
- Comunicar las asignaciones para la reunión con suficiente tiempo de anticipación a los miembros que las tengan, esto con el fin de darles tiempo para su preparación.
<br>
- El secretario del Capítulo con el apoyo de la presidencia se asegura de llegar con un mínimo de 30 minutos de anticipación al lugar de la reunión para afinar detalles, instalar las facilidades físicas y otros preparativos que se deban realizar.


<br>
Durante:
<br>
- Solamente asisten alumnos graduados del curso de la Academia y del curso “Cómo Iniciar y Hacer Crecer mi Negocio” (los miembros pueden asistir con su esposo o esposa)
<br>
- Se empieza PUNTUALMENTE la reunión, esto con el fin de vivir la cultura del éxito.
<br>
- Se sigue la Agenda de la Reunión como se muestra más adelante en este documento
<br>
- Se analizan casos de estudio prácticos los cuales serán enviados por parte de la ACE de manera mensual
<br>
- Se llena el apartado “Informe de Reunión de Capítulo”, incluido en la Agenda 
<br>
- Se sigue el modelo de enseñanza durante toda la reunión según se indica en el apartado 4.3
<br>
<br>

Invitados Especiales: De manera eventual se invitará a la reunión de Capítulo a una persona de la comunidad para que comparta una capacitación. Dicha persona deberá sujetarse al modelo de enseñanza, al tiempo que marca la agenda y a las normas de la Iglesia. Preferentemente el invitado acoplará su enseñanza al tema de estudio del mes. El invitado puede ser o no miembro de la Iglesia y puede ser o no miembro del Capítulo. Se espera que el invitado no cobre por su visita, una de las opciones que se le pueden mencionar es el hecho de tener la posibilidad de poder contactar nuevos clientes.<br>
<br>

Despues:
<br>
- La presidencia del Capítulo invita a los asistentes a limpiar y ordenar el área utilizada 
<br>
- Se busca retroalimentación por parte de los miembros del Capítulo durante la semana (llamadas telefónicas, correos electrónicos, etc.)
<br>
- La presidencia analiza la reunión del Capítulo en su próxima reunión de presidencia

<br>
<br>
<strong>Sugerencias para la enseñanza y aprendizaje en la reunión</strong>
<br><br>
Algunas sugerencias para el manejo de la reunión son las siguientes:<br>
1. Divida a los asistentes en pequeños grupos de análisis donde se discuta la enseñanza y sus posibles aplicaciones. 
<br>
2. Proporcione material didáctico como hojas para rellenar los espacios en blanco, hojas de ejercicios prácticos, casos de estudio reales o ficticios.
<br>
3. Utilice material informativo como revistas, artículos recientes, libros, etc.
<br>
4. Utilice también material audiovisual como videos, grabaciones, diapositivas, entre otros.
<br>
5. Fomente siempre la reflexión, el análisis y el hacer preguntas.


<br>
<br>

<strong>Agenda de la Reunión</strong>
<br>
La presidencia del Capítulo deberá organizar y planear la Agenda de la Reunión con anterioridad suficiente, con la finalidad de dar por enterado a los participantes en la reunión de sus posibles asignaciones. Generalmente la agenda se llena en la Reunión de Presidencia del Capítulo. Se debe procurar seguir el orden establecido por el formato siguiente durante la reunión.
El secretario es el que llena la Agenda.
<br>
1. Dirige el presidente del Capítulo o alguien que él asigne.	
<br>
2. El secretario da lectura a los acuerdos y compromisos hechos la reunión pasada. Un miembro de la presidencia da el seguimiento.
<br>
3. El que dirige la reunión da esta breve introducción

<br>
4. Los integrantes se dividen en PGAS, se les proporciona la “Guía de Discusión para los PGAS” del mes. El que dirige la reunión visita a los PGAS para dar comentarios y resolver posibles dudas.
<br>
5. Se le da el tiempo a que el hermano (a) exponga su negocio. Al inicio del análisis sólo se hacen preguntas y posteriormente las sugerencias, de las cuales toma nota el secretario, para proporcionarle dicha lista al hermano(a) del caso.
<br>
6. Vuelven a los PGAS y se ponen compromisos, los cuales comparten con su PGAS. Se da tiempo para que mediten. El facilitador toma nota de los compromisos.
<br>
7. Se anuncia la fecha de la siguiente reunión, se da un adelanto del tema del siguiente mes, se ponen las asignaciones de la reunión siguiente.
<br>
8. Puede haber un tiempo después de la reunión para un refrigerio o para fortalecer la red de contactos entre los miembros del Capítulo.
<br>

<br>
Guía de Discusión para los PGAS
<br>
Cada mes la Academia les hace llegar un formato llamado “Guía de Discusión para los PGAS” donde se incluyen casos de estudio para su discusión en los PGAS esta guía se les proporciona a los facilitadores de dichos grupos. En los casos de estudio que se mencionan en la guía se busca que exista la retroalimentación y la comunicación libre de las ideas y comentarios. Esta guía varía cada mes por lo que no hay un formato específico.
<br>
<br>
<strong>Responsabilidades  De La Presidencia
</strong>

Presidente<br>
Perfil del Presidente:
<br>
Preferentemente con un negocio establecido
<br>
Preferentemente con un llamamiento de responsabilidad en su barrio o estaca
<br>
Preferentemente casado
<br>
Capacidad de convocatoria
<br>
Que posea buenas relaciones con los líderes eclesiásticos

<br>

<br>
Las responsabilidades del Presidente son las siguientes:
<br>
- 2 años de compromiso.
<br>
- Asiste a las capacitaciones impartidas por la Academia.
<br>
- Coordina las reuniones de presidencia y organiza a la presidencia para llevar a cabo las asignaciones correspondientes
<br>
- Coordina y se asegura que al finalizar la reunión quede limpia el área utilizada. 
<br>
- Coordina las reuniones y se asegura que quede bien definida la fecha de la siguiente reunión del Capítulo.
<br>
- Es la “CARA” del Capítulo. Es quien se asocia directamente con los líderes eclesiásticos; Setentas de Área, Presidentes de Misión, Presidentes de Estaca y Obispos.
<br>
- Se pone en contacto con los líderes locales pertenecientes a la región de su Capítulo o asigna a un miembro de su presidencia para que lo haga; esto con el fin de coordinar sus visitas a los grupos de “Cómo Iniciar y Hacer Crecer mi Negocio” y dar a conocer y promover los recursos del Capítulo a los graduados. (Véase “Relación ACE-CRAS)
<br>
- Coordina la creación de los Pequeños Grupos de Apoyo y Seguimiento (PGAS).
<br>
- Procura que todos los miembros de su Capítulo estén integrados a un PGAS y cada que se añada un miembro a su Capítulo deberá procurar hacerlo parte de un grupo.
<br>
- Construye relaciones sólidas con los miembros de su Capítulo, los micro-empresarios miembros o no miembros de la Iglesia y/o el Capítulo, los representantes del gobierno, y los Líderes eclesiásticos locales.
<br>
- Coordina junto con la presidencia una visita al mes a un miembro del Capítulo en su negocio para dar reconocimientos, apoyo, motivación y demás herramientas que propicien el crecimiento de su negocio; esto lo hará usando como guía el “Formato de Visita a Negocios”.
<br>
- Alienta a los miembros de su Capítulo a participar en los Premios de la Academia y les da seguimiento a sus postulaciones y recomienda a por lo menos dos de sus miembros para participar.




Vicepresidente de Reclutamiento y Mercadotecnia
<br>
Perfil del vicepresidente:
<br>
Miembro activo de la Iglesia
<br>
Preferentemente con un negocio establecido
<br>
Preferentemente con un llamamiento de responsabilidad en su barrio o estaca
<br>
Puede ser casado o soltero
<br>
Que posea una relación directa con los Institutos de Religión de su región
<br>
Que posea buenas relaciones con los líderes eclesiásticos locales.
<br>
<br>
Las responsabilidades de este vicepresidente son:
<br>
- DEBER PRINCIPAL: Promueve la imagen del Capítulo y buscar prospectos para los cursos de la ACE (misioneros retornados, institutos de religión, etc.)
<br>
- Invita a los miembros del Capítulo a la reunión mensual usando medios de difusión electrónica o cara a cara
<br>
- Busca dos prospectos cada mes para los cursos del Campus en sus distintas modalidades
<br>
- Busca prospectos para los cursos regionales de la ACE en su ciudad (cuando aplique)
<br>
- Coloca propaganda de la Academia en los lugares autorizados por el líder eclesiástico correspondiente (capillas, CRAS, Institutos)
<br>
- Redacta y envía historias de éxito cada mes al Coordinador de Capítulos del Campus. Esto lo hace a través de las visitas que hace a los negocios de los miembros del Capítulo (con previa autorización de ellos) y tomando como guía el “Machote para Historias de Éxito”.
<br>
- Busca maneras de mantener contacto con los miembros del Capítulo a fin de mantener un ánimo constante en ellos y así fomentar el apoyo y el fortalecimiento de la red de contactos (grupo de Facebook, Whatsapp, etc.) 
<br><br>

Vicepresidente de Capacitación y Enseñanza<br>
Perfil del vicepresidente:
<br>

Miembro activo de la Iglesia
<br>
Preferentemente con un negocio establecido
<br>
Preferentemente con un llamamiento de responsabilidad en su barrio o estaca
<br>
Preferentemente casado
<br>
Que posea buenas relaciones con líderes fuera de la Iglesia
<br>
Que posea buenas relaciones con los líderes eclesiásticos.
<br>
<br>
Las responsabilidades de este Vicepresidente son:
<br>
- DEBER PRINCIPAL: Se asegura de la eficacia de la reunión en la aplicación del modelo de enseñanza
<br>
- Busca invitados para la impartición de la capacitación al Capítulo de manera eventual; puede tomar como guía los siguientes puntos:
<br>
- Puede ser uno de los miembros del Capítulo
<br>
- Puede ser un líder político o del gobierno
<br>
- Puede ser un contador, mercadólogo, abogado, etc. 
<br>
- Puede ser un emprendedor exitoso de la comunidad
<br>
- No es necesario que sea miembro de la Iglesia ni del Capítulo
<br>
- Muy preferentemente el invitado debe exponer sobre el tema dado por parte de los videos.
<br>
- Se encarga de la aplicación de la encuesta sobre la calidad de la enseñanza durante la reunión.
<br>
- Llena el formato “Evaluación de la Reunión” incluido en la Agenda y lo envía al Coordinador de los Capítulos en México.
<br>
- Puede pedir sugerencias a los miembros del Capítulo acerca de los temas que se expondrán en las reuniones (en caso de que haya un ponente).
<br>
- Maneja el equipo a utilizar en la enseñanza (Lap top, proyector, etc.)
<br><br>

Vicepresidente de Membresía
<br>
Perfil del vicepresidente:

<br>
Miembro activo de la Iglesia
<br>
Preferentemente con un negocio establecido
<br>
Preferentemente con un llamamiento de responsabilidad en su barrio o estaca
<br>
Preferentemente casado
<br>
Preferentemente una persona ordenada y con habilidades para llevar registros
<br>
Que posea buenas relaciones con los líderes eclesiásticos locales
<br>
<br>
Las responsabilidades este Vicepresidente son:
<br>
- DEBER PRINCIPAL: CONOCE AL 100% QUIÉN PERTENECE AL CAPITULO.
<br>
- Cada mes revisa con el Coordinador de los Capítulos en México quiénes van ingresando al Capítulo y se asegura de que tenga la información correcta de los mismos
<br>
- Actualiza los datos de los miembros del Capítulo. Estos datos son: quiénes se han mudado, tanto a otros lugares, así como los que llegan a la ciudad o área del Capítulo, cambio de giro del negocio de algún miembro del Capítulo, inicio o término de su negocio, número telefónico, correo, llamamiento, etc.
<br>
- Se asegura que los nuevos miembros conozcan al 100% quiénes son los miembros de la Presidencia.
<br>
- Contacta a los egresados del curso ACE o CASE que se incorporen al Capítulo e invitarlos a las reuniones
<br>
- Lleva la Base de datos de graduados CASE (diferenciada de la Base de Datos de los graduados de la ACE). Esta Base de datos la consigue a través de las visitas hechas al curso nuevo de la Iglesia “Cómo iniciar y hacer crecer mi negocio”
<br><br>

Secretario
<br>
Perfil del secretario:
<br>
Miembro activo de la Iglesia
<br>
No es necesario que tenga un negocio
<br>
No es necesario que tenga un llamamiento de responsabilidad en su barrio o estaca
<br>
Puede ser casado o no
<br>
Preferentemente una persona ordenada y con habilidades para llevar registros
<br>
Listo siempre para rendir cuentas
<br>
Que posea buenas relaciones con los líderes eclesiásticos
<br>
<br>
Las responsabilidades del Secretario son:
<br>
- DEBER PRINCIPAL: Se asegura de que exista un seguimiento eficiente de los compromisos y acuerdos hechos durante las reuniones
<br>
- Prepara la agenda de la reunión de Presidencia y de la Reunión del Capítulo, véase apartado correspondiente 4.1.3 y 4.5
<br>
- Prepara los videos a proyectar, el salón y las facilidades físicas que se usarán durante la reunión. Nota: Se asegura que el video sea descargado con anticipación.
<br>
- Llena el informe de la reunión después de la misma (preferentemente el mismo día en que se lleva a cabo la reunión)
<br>
- Envía el Informe de Reunión del Capítulo al Coordinador de los Capítulos de la ACE (preferentemente el mismo día en que se lleva a cabo la reunión).
<br>
- Se mantiene al tanto de las fechas de los cursos de la ACE en todas sus modalidades
<br>
- Lleva un registro de los PGAS del Capítulo.
<br><br>

<br>
<strong>Modelo de enseñanza
</strong>
<br><br>
El modelo de enseñanza se sigue y mantiene durante toda la reunión del Capítulo.
<br>
A. Enseñanza del principio o tema: Esto es enseñar el tema y el porqué del mismo, la explicación, datos, estadísticas e información relacionados con el principio o tema que se esté enseñando. Se limita a lo que imparte el expositor o el video.  
<br>
B. Aplicación del principio: Este punto hace énfasis en el cómo los asistentes pueden aplicar lo que aprendieron a sus negocios u otros aspectos de su vida. Se dan ejemplos de aplicaciones prácticas como los casos de estudio enviados por la ACE, ejercicios, etc. La presidencia se asegura de que el expositor relacione siempre el principio con la aplicación. En este punto se debe procurar que las participaciones sean acordes al tema, es decir, que no se divague del mismo. Ejemplos de preguntas pueden ser: ¿Cómo puedo aplicar esto a mi negocio?, ¿cómo aplico esto a mi persona?, entre otras.
<br>
C. Compromisos: Esta parte del modelo se centra en que los asistentes se lleven una fuerte determinación a partir de lo enseñado, de las medidas que van a tomar para hacer crecer su negocio. Los compromisos deben ser por escrito y específicos. Como parte de la reunión se comparten los compromisos con los demás; se toma nota de los mismos y se les da seguimiento la siguiente reunión. La presidencia guía esta parte.
<br>
D. Seguimiento: Al iniciar cada reunión (como lo marca la agenda) se tomará un tiempo moderado para dar la oportunidad a que los miembros del Capítulo den un breve informe de su progreso al cumplir con sus compromisos hechos en reuniones anteriores. La presidencia guía esta parte.
<br>
<br>
<strong>Medición de Resultados y Metas
</strong>
<br><br>
Cualquier actividad relacionada con el Capítulo debe procurar el cumplimiento de las metas establecidas para dicho Capítulo, las cuales son las siguientes. Dichas metas están basadas en el informe anual de desempeño de los Capítulos.
<br>
1. 40 % de miembros del Capítulo asistiendo a su reunión mensual del Capítulo
<br>
2. 100 % de reuniones realizadas en el año: Cada Capítulo debe tener su reunión mensual sin falta
<br>
3. Base de datos actualizada al 100%
<br>
4. 90% de asistentes satisfechos con la enseñanza
<br>
5. 100% de los asistentes a las reuniones integrados a un PGAS
<br>
6. Un prospecto cada generación enviado a los cursos del Campus: El Capítulo debe alentar que los miembros del mismo den referencias de posibles participantes para los cursos de la ACE en su modelo residencial.
<br>
7. Participación de por lo menos 2 de los integrantes del Capítulo en los Premios de la Academia
<br>
8. Visitar al 100% de los grupos del nuevo curso de la Iglesia en las estacas o distritos donde se imparta, a fin de dar a conocer el programa de los Capítulos y sus características.
<br>
<br>
<strong>Reunión de presidencia</strong>
<br>
La presidencia del Capítulo deberá reunirse para planear y organizar la Agenda de la Reunión del Capítulo. La reunión debe ajustarse las circunstancias de la presidencia, no obstante, se les recomienda que se reúnan con mínimo una semana de anticipación. En la reunión de presidencia se discutirán los siguientes temas:

<br>
<br>
- Preparación de la Agenda de la Reunión del Capítulo
<br>
- Evaluación en cuanto a la calidad de las Reuniones (Calidad de la enseñanza, puntualidad, manejo de la red de contactos, Pequeños Grupos de Apoyo y Seguimiento)
<br>
- Evaluación de las metas establecidas con anterioridad (asistencia, reuniones, calidad de las reuniones)
<br>
- Buscar medios electrónicos o audiovisuales para proyectar la imagen del Capítulo
<br>
- Establecimiento de metas y asignaciones (visitas a negocios, reactivación, búsqueda de prospectos para los cursos de la ACE etc.)
<br>
- Facilitar herramientas de crecimiento a negocios
<br>
- Se da seguimiento a los compromisos hechos por la presidencia en sus reuniones anteriores 
<br>
- Se dan asignaciones de contacto a negocios y a miembros inactivos del Capítulos (en su reunión de presidencia)
<br>
- Necesidades específicas del Capítulo (reactivación, temas específicos, actividades, etc.)
<br>
- Reclutamiento de nuevos prospectos para tomar el curso en el campus de la Academia
<br>
- Para dicha reunión se usará como el formato expuesto en este apartado, el cual se encuentra también en el Apéndice de este documento.
<br>
<br>
<strong>Visitas a Negocios de los Miembros del Capítulo
</strong>
<br>
Las visitas a los negocios de los miembros del Capítulo que se realicen tanto por la presidencia como por los PGAS como por la presidencia se llevarán a cabo de acuerdo a los siguientes lineamientos.
<br>
Presidencia:
<br>
<br>
- El objetivo de una visita al negocio no es juzgar sino ayudar
<br>
- Toda visita debe ser autorizada por el dueño del negocio con previa cita
<br>
- Todos los datos e información que se analicen durante la visita deberán ser manejados de manera confidencial
<br>
- De estas visitas se pueden obtener casos de estudio (retroalimentación por parte del grupo)
<br>
- De estas visitas se pueden obtener historias de éxito (con autorización del dueño)
<br>
PGAS:
<br>
- El objetivo de una visita al negocio no es juzgar sino ayudar
<br>
- Toda visita debe ser autorizada por el dueño del negocio con previa cita
<br>
- Todos los datos e información que se analicen durante la visita deberán ser manejados de manera confidencial
<br>
Nota importante: Al realizar las visitas con personas del sexo opuesto se le insta a mantener las normas de la Iglesia. No estar en lugares privados o a solas ni de manera que se presten a malos entendidos. 
<br>
<br>
<strong>Evento anual de los Premios de la Academia</strong>
<br>
<br>
Este programa se creó con la finalidad de dar seguimiento a los miembros de los Capítulos. Es una convención anual donde los miembros de los Capítulos de todo el país se reúnen durante dos días con la finalidad de fortalecer sus negocios y ampliar su red de contactos. Consta de lo siguiente y se puede participar en todas o en alguna de las siguientes actividades: 

<br>
Concurso de Negocios: Es una competencia donde el negocio del participante es evaluado por jueces que toman como base diversos criterios para calificar la rentabilidad del mismo. El participante puede concursar en diferentes categorías. Para participar es necesario cumplir con los siguientes requisitos:
<br>
- Ser alumnos graduado de la ACE o del curso “Cómo iniciar y hacer crecer mi negocio”
<br>
- Ser miembro activo en el Capítulo que le corresponde (Asistencia a mínimo 2 reuniones en los últimos 4 meses)
<br>
- Tener un negocio
<br>
- Tener la recomendación de su presidencia del Capítulo
<br>
- Facilitar la información requerida para su registro y participación.
<br>
- Inscribirse dentro de la fecha límite de registro.
<br>

<br>
Talleres: Los llevan a cabo especialistas en el tema. Tienen una duración de una hora aproximadamente. Abordan los temas más importantes para el crecimiento sostenido de un negocio. Participan en ellos el público en general.
<br>
<br>
Conferencias: Son impartidas por oradores seleccionados que toman como base temas de interés para el emprendedor. Participa el público en general.
<br>
<br>
Feria de autosuficiencia y negocios: Múltiples tipos de negocios exponen, ofrecen y mercadean sus productos o servicios. Esta feria está abierta a la participación del público en general, es decir no es necesario que se sea miembro de un Capítulo o miembro de la Iglesia para tener un lugar en la expo. Cada stand tiene un costo de recuperación.
<br>
Nota: La entrada general tiene un costo asociado.
<br>
<br>
El Capítulo tiene la siguiente interacción con la ACE en cuanto a los Premios de la Academia:
<br>
La fecha y lugar de la realización de los Premios se publica con cinco meses de anticipación en la página de la ACE.
La presidencia de los Capítulos debe recomendar a dos de sus miembros para participar en los Premios.
La presidencia corrobora la fidelidad de la información proporcionada por el participante que se inscriba al concurso de negocios.
La presidencia del Capítulos da seguimiento a los participantes inscritos a los Premios viendo su progreso, su preparación para el concurso, etc.</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>