<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 6: Prácticas Empresariales</h1>
<hr>
<p>
A los miembros del Capítulo que deseen ser capacitados en un negocio en el cual ellos quieran emprender, se les dará la oportunidad de que puedan tener un internado en el negocio del llamado “Proveedor de Experiencia”, el cual es generalmente el dueño del negocio y quien proporcionará guía y dirección en cuanto al manejo y administración del negocio. La Academia cubrirá con un porcentaje de beca de los gastos que se lleven a cabo durante el internado (hasta 50%). En el caso de que el negocio del Proveedor de Experiencia viva en la cd. De México o área metropolitana y el participante no, éste se hospedará en el Campus de la ACE con el fin de que esta le proporcione apoyo en hospedaje y alimentos durante el tiempo de las prácticas.
El proceso llevará un tiempo determinado en ser realizado y aprobado, mientras que la duración de las prácticas será de no mayor a dos semanas en el negocio del Proveedor de Experiencia.
<br>
El proceso se llevará a cabo de la siguiente manera:
<br>
- Proceso de selección del participante
<br>
- Ser alumno graduado de la Academia o del nuevo curso de la Iglesia “Cómo Iniciar y hacer crecer mi negocio”
<br>
- Vivir en una ciudad distinta a la del “Proveedor de Experiencia” seleccionado.
<br>
- Ser miembro activo en el Capítulo.
<br>
- Tener un AGI o negocio en el rubro de interés de tal manera que tenga mucha probabilidad de iniciar o hacer crecer su negocio al término de las prácticas.
<br>
- Llevar a cabo todo el proceso de inscripción al programa
<br>
- Verificar que el mercado de la localidad tenga posibilidades de crecimiento
<br>
- El facilitador de su PGAS le dará seguimiento en el proceso de las prácticas.
<br>
- El participante enviará un informe diario del aprendizaje.
<br><br>
Proceso de selección del Proveedor de Experiencia 
<br>
- Tener un mercado similar al del Participante
<br>
- Ser ex alumno de la ACE o del curso de autoempleo de los CASE
<br>
- Estar dispuesto a asesorar a otro ex alumno de la ACE o del nuevo curso de la Iglesia “Cómo Iniciar y hacer crecer mi negocio”
<br>
- Disponer de suficiente experiencia para llevar a cabo las prácticas. El Proveedor de Experiencia deberá establecer un horario para las prácticas
<br>
- El aspirante llevará a cabo el proceso de inscripción
<br>
- El aspirante mandará su campo de interés y la Academia le informará de posibles proveedores de experiencia
<br>
- La Academia se pondrá en contacto con el proveedor de experiencia seleccionado a fin de coordinar las prácticas
<br>
- El Proveedor de Experiencia proporcionará un “Itinerario del Participante” en el cual se desglosan las actividades a realizar por el participante durante las prácticas.
<br>
- La Academia se pondrá en contacto con el participante en un plazo no mayor a dos semanas (a partir del envío de su solicitud) para comunicarle las posibles fechas en las que se llevarían a cabo las prácticas.
<br>
- El Proveedor de Experiencia enviará a la Academia las “Condiciones de Prácticas” en la cual se exponen las condiciones con las cuales el proveedor de experiencia acepta recibir al participante (esto en caso de posibles robo o piratería de información, etc.)
<br>
- El participante tendrá que responder con la fecha de su interés en un plazo máximo de 3 días, después de los cuales su solicitud será desechada de no responder y tendrá que reiniciar su proceso.
<br>
- Una vez acordada la fecha de las prácticas, la Academia pondrá en contacto a los interesados (Proveedor de la Experiencia-Participante) a fin de que ellos se coordinen en cuanto al medio de arribo del aspirante al negocio del proveedor.
<br>
- Cada día el participante tendrá que llenar el formato de reporte hacia la Academia para acreditar su asistencia al negocio donde se llevan a cabo las prácticas y enviará dicho formato al Campus.
<br>
- El participante deberá contar con una cuenta bancaria a la cual se depositará el dinero que se requiera para sus prácticas en caso de ser necesario.
<br>
- El participante deberá proporcionar comprobantes fiscales de los gastos en que incurra durante las prácticas (en físico).
<br>
- En el caso de que las prácticas se lleven a cabo en el DF, la Academia proporcionará el hospedaje y alimentación del participante en sus instalaciones y sólo se le proporcionará el dinero en efectivo para transportes y una comida al día (ya que el resto de los insumos se proveen por parte de la Academia en su campus).
<br>
- No podrán realizar las Prácticas Empresariales dos personas al mismo tiempo a menos que sean familiares directos y asociados en el negocio.
<br>
- Al finalizar las prácticas el aspirante llenará el formato de “Resumen Prácticas Empresariales” y lo enviará al campus de la Academia.
<br>
- Las Prácticas Empresariales sólo se podrá realizar una vez por año por persona y no podrá realizarse dos veces en el mismo negocio, siendo el límite de prácticas por alumno la cantidad de dos veces.
<br>
- En caso de accidentes durante la realización de las prácticas la Academia se deslinda de toda responsabilidad (A través del formato “Responsabilidad en accidentes”). El Participante deberá llenar un formato de Información de salud y un formato donde se expongan las posibles dificultades físicas del participante y que pudieran limitarle durante las prácticas


<br>

</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>