<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 4: Estabelecer Metas
por su Chapter
</h1>
<hr>
<p>¿Quiere construir un hogar feliz, una vida sana, un negocio
prospero, un barrio o estaca efectivo, y un gran Chapter de
alumnus de la Academia? Para llevar a cabo las cosas mas importantes,ninguna
herramienta de liderazgo funciona mejor
que el establecer metas.
<br>
Las metas pueden establecer a sus hijos y nietos una empresa
familiar productora de dinero para muchas generaciones. El
fundador de la Academia Stephen Gibson dice: “El establecer
metas me ha cambiado de un estudiante por debajo del promedio
de ingresos más bajos a un exitoso empresario y filántropo,listo,
dispuesto y capaz de ayudar a otros a trabajar en ellos
mismos salir de la pobreza."
<br>

No hay nunguna técnica de superación que se escriba más en
los libros que el establecer y alcanzar metas, pero con muy a
menudo, esta herramienta no se utiliza efectivamente. ¿Cómo
líder del Chapter, como va a utilizar metas para mover su
Chapter del bien, a mejor, a lo excelente? ¿Cómo va a ayudar
a sus miembros del Chapter a utilizar metas para mejorar sus
propios negocios?
<br>
Metas SMART Para Su Chapter
<br>
Con su visión para su capítulo en su lugar, puede utilizar
metaspara llevar a cabo la visión y alcanzar su pleno potencial.
Recomendamos el enfoque de SMART. Este acrónimo define
cinco importantes características de las metas eficaces:
<br>
Específica
<br>
Medible
<br>
Alcanzable
<br>
Relevante
<br>
Fecha Limite
<br>
Específica-El Presidente Thomas S. Monson ha dicho: “Cuando
hablamos en general, nunca sucederá. Cuando hablamos
en específico, raramente fracasaremos. “El establecerer metas
es una cosa muy importante para mejorar la vida de nuestros
miembros del Chapter. Sin embargo,es mucho mejor ser específico:
“Vamos a ayudar a nuestros miembros del Chapter a
crecer en sus beneficios empresariales en un diez por ciento.”
<br>
Medible-El Presidente Monson continuó diciendo, “Cuando
el rendimientose mide,dicho rendimiento mejora. cuando el
rendimiento se mide y se informa, la ritmo de mejoramiento
se acelera”. Cuando nos fijamos metas específicas, podemos
monitonear regularmente e informar sobre nuestro progreso
hacia el cumplimiento de las metas y viendo resultados valiosos
y significativos.
<br>
Alcanzable-Mantenga un buen registro para que pueda revisar
donde ha estado y establecer metas alcanzables para el
futuro. Como una ilustración,digamos que la asistencia a sus
reuniones de los miembros del chapter no es tan alto como desearia,
con un promedio de sólo diez miembros asistiendo reg-
ularmente. Establecer un objetivo para aumentar la asistencia
a Probablemente 100 miembros el próximo mes no es realista.
Sus metas Deberen hacer que usted se esfuerce, pero también
deberian ser razonablemente alcanzables.
<br>
Relevante-Siempre que establezca metas, reviselas de nuevo
con su visión global para el chapter, para que pueda hacer
Asegúrese de que cada meta que realmente importa. Una
Meta puede ser específica,medible y alcanzable sin que valga
la pena o sea verdaderamente importante. Por ejemplo, si se
establece una meta para los miembros del chapter para jugar
baloncesto juntos al menos una vez a la semana, ese objetivo
podría ser bueno, pero no es tan relevante como otros objetivos
que podrían alcanzar.
<br>
Fecha Limite-En los negocios, no hay nada mas motivador
como una fecha límite. Al venir con metas para su liderazgo
del Chapter y asignar tareas, es vital para lograr las metas en
una fecha limite. Esto es lo que nuestro ejemplo de arriba se ve
como con una firme fecha limite : “Vamos a ayudar a nuestros
miembros del Chapter a crecer sus beneficios empresariales en
un diez por ciento a finales de este año."
<br>

No hay duda de que se ha dado cuenta que el establecer metas
puede ser interesante.Sin embargo, si usted no actua y
comienza a establecer metas Ahora, poco vendrá de esto. No
deje que esto suceda! de acuerdo con su visión, establecezca
metas SMART adecuados para su Chapter, anotelas, y dele seguimiento.
<br>
Nosotros, en la Academia estamos agradecidos por
sus esfuerzos en ayudar a hacer una diferencia en las vidas de
los miembros de su Chapter.
<br>
<br>
Mis Puntos de Accion
<br>

</p>
    <ul>
<li>¿Cuáles son las 3 metas más importantes que se
necesitan para cumplir con su visión de liderazgo
para su Chapter?
</li>
<li>Adecue estas metas para incluir los cinco aspectos
</li>
    </ul>
    
<p>
Aplication Espiritual
<br>
“Estoy tan completamente convencido de que si
no nos fijamos metas en nuestra vida ni aprendemos
a dominar las técnicas del vivir para lograrlas
nuestras metas, llegaremos a la vejez y miraremos
hacia atrás en la vida y nos daremos cuenta de
que habremos logrado tan solo una pequeña parte
de nuestro pleno potencial. Si llegamosa dominar
los principios que tienen que ver con establecer
metas, entonces podremos surtir una gran diferencia
en los resultados que logremos esta vida .”
<br>
-M. Russell Ballard
<br>
<br>
Ideas Adicionales
<br>
Según Forbes.com, un grupo de estudiantes de Maestria
de Harvard se les pregunto lo siguiente: “¿Ha establecido
metas claras y escritas para su futuro e hicieron
planes para alcanzarlos? Sólo el 3% de los estudiantes
habían escrito sus metas y planes, el 13% tenía metas,
pero no escritas, y el 84%no tenía metas. Diez años
más tarde, los estudiantes con metas no escritas ganaban
el doble que los estudiantes sin metas. Sin embargo,
los estudiantes con metas escritas ganaban, en
promedio, diez veces más que el otro 97% de la clase
combinada.
   
</p>
</div>
</div>