<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 11: Programa de Incentivos
</h1>
<hr>
<p>
El programa de incentivos tiene por objeto reconocer el desempeño de los Capítulos sobresalientes en el cumplimento de sus metas. Los factores a tomar en cuenta serán los siguientes:
<br>
- Cantidad de reuniones del Capítulo en el año
<br>
- Asistencia a las reuniones
<br>
- Búsqueda de prospectos a tomar los cursos de la ACE
<br>
- Operación de los PGAS
<br>
- Visitas realizadas a las clases del curso “Cómo Iniciar y Hacer Crecer mi Negocio”
<br>
- Participación en los Premios


<br>
<br>
Se reconocerá el esfuerzo de los Capítulos que hayan logrado un buen desempeño de la siguiente manera:
<br>
- En la Conferencia Anual para Presidentes de Capítulos llevada a cabo durante el evento “Premios la Academia”, se otorgarán reconocimientos especiales.
<br>
- En el mes de enero de cada año se publicarán los mejores Capítulos del año pasado en la página web de la Academia.
<br><br>

Premios propuestos:
<br>
1. Playera de la Academia.
<br>
2. Fistol de la Academia.
<br>
3. Botón de la Academia.
<br>
4. Reconocimiento en físico por parte de la Academia.
<br>
5. Añadir una publicación en la página de la Academia.
<br>
6. Premio en efectivo para una actividad con los integrantes del Capítulo en su localidad.
<br>
7. Llamada telefónica de los Directivos.


<br>
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>