<div class="container">
    <div class="col-md-3">
<sidemenuchleadershipspanish>
</sidemenuchleadershipspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 8: Interacción del Capítulo con el CRAS</h1>
<hr>
<p>
Para ver este tabla, haga clic auqi.<br>

Importante: El miembro de la presidencia del Capítulo asignado deberá leer y comprender perfectamente el “Folleto de Invitación” y verá el video “Bienvenidos al Capítulo” a fin de familiarizarse con el contenido de los mismos
<br>
</p>
</div>
<div class="col-md-3">
    <p><a href="../app/pdfs/ChapterPresidencyManualSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>