<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary"> Leccion 5: Establecer Habitos y
Rutinas efectivos
</h1>
<hr>
<p>Como Santos de los Últimos Días, se dice que el Libro de
Mormón es la”Clave de nuestra religión”. En un arco de piedra,
la piedra angular es la piedra central que mantiene todas
las otras piedras en su lugar.
<br>
¿Cuál es la clave del éxito en los negocios? Muchos negocios
lideres LDS sienten que su piedra angular es un hábito diario
en particular.Los hábitos son poderosos, y los hábitos correctos
pueden hacer toda la diferencia.Un hábito clave proporciona
una base para el desarrollo de muchos hábitos y rutinas
adicionales de éxito.
<br>
Un hábito clave para lideres de Chapter
<br>
Como líder de los alunmnos del Chapter, usted tiene la oportunidad
de establecer un hábito clave para su liderazo del Chapter
y enseñar a otros a hacer lo mismo. Para aquellos que se esfuerzan
por llegar a ser autosuficientes,el hábito correcto puede ser un
primer paso para lograr el éxito.
<br>
Esto es lo que recomendamos que usted adopte como su habito
clave, si no lo está haciendo ya: Cada noche, haga una lista de
tareas pendientes para el día siguiente. En su lista, incluya
acciones esenciales que usted deberia hacer el siguiente dia
para su familia, su negocio, su alumnos del Chapter, y su llamaniento
en la iglesia.
<br>
Los habitos clave comienzan con un proceso que, con el tiempo,
transforma todo. Muchos empresarios exitosos han desarrollado
el sencillo hábito de hacer una lista diaria de cosas
que necesitan lograr. Este hábito les permite usar el poder de
la planificación y el establecer metas a medida que trabajan en
su negocio en lugar de sólo en su negocio.
<br>
En este momento, decida qué rutina usted seguirá para hacer
su lista diaria. ¿Va a utilizar papel o un dispositivo electrónico?
Usted podría hacer su lista de tareas pendientes al final de
cada jornada de trabajo. O justo después de la cena. O después
de hacer su oración de la tarde, lo que le permitiría orar por
inspiración sobre qué tareas incluir en su lista. Para establecer
este hábito, lo importante esestar comprometidos, ser consistente,
y crear una rutina diaria para haciéndolo.
<br>
Una vez que haya hecho su lista de tareas cada noche, clasifiquelos
por orden de prioridad, para que pueda determinar
qué hacer primero al dia siguiente. Marque los cinco elementos
más importantes con una A. Marque la siguientes cinco
elementos más importantes con una B, y así sucesivamente.
<br>
Recuerde prestar especial atención a las tareas que tienen una
fecha límite importante,tales como la preparación de su lección
de escuela dominical o invitar a un orador para su próxima
reunión de Chapter.
<br>
Por favor, inicie este nuevo hábito hoy! Los buenos hábitos
se pagan con recompensas, tanto a corto como a largo plazo.
Cada noche,le resultará gratificante pensar en su trabajo, hacer
un poco de planifición, crear su nueva lista de tareas pendientes.
Al día siguiente, le resultara satisfactorio tachar las 
tareas pendientes de su lista a medida que complete cada una
de ellas. A más largo plazo, usted sentirá qur tiene mas control
de su vida, y será más eficaz. Experimentará recompensas de
aumento de la productividad y el éxito.
<br>
Compartiendo su hábito clave con otros
<br>
Además de hacer para usted mismo una lista diaria de tareas
pendientes, haga una lista para su equipo de liderazgo del
Chapter. Antes o después de cada reunion del Chapter, reagruparse
con su equipo de liderazgo y haga una lista de todas
las cosas que hay que hacer antes de su próxima reunion. Asigne
tareas específicas a su equipo, con fecha limite para que
las realicen. Recuerde que debe transferir sus asignaciones del
chapter a su lista personal de tareas pendientes.
<br>
Tambien le animamos a enseñar esta hábito clave a todos los
miembros de su Chapter. Entender por qué y cómo crear una
lista diaria de tareas les ayudarán a ser más exitosos en sus negocios,
así como en sus familias, comunidades, y llamamientos
de la Iglesia.La Creación de listas de tareas pendientes es
un primer paso muy importante para adoptar la cultura personal
de éxito.
<br>
Con el sólido hábito clave en el lugar correcto, ahora usted
puede programarse con hábitos y rutinas adicionales de éxito,
así como deshacerse de los hábitos negativos que están reteniendo
su progreso. Al mejorar sus hábitos, usted tiene el poder
de cambiar su vida y las vidas de aquellos que usted guia.
<br>
<br>
Mis Puntos de Acciones
<br>

</p>
    <ul>
<li>¿Qué rutina va a seguir para crear su hacer su lista de
tareas pendientes todas las noches?

</li>
<li>¿Qué otros hábitos o rutinas podrían aumentar su
efectividad como líder de alumnos de Chapter?
</li>
<li>Recurso adicional: Para ver un buen ejemplo de alguien
usando una lista de tareas pendientes, vea el video
corto titulado “Principio 2: Usar el tiempo Sabiamente,
“disponible en https://www.lds.org/media-library/video/principio-2-usar-tiempo
sabiamente.</li>
    </ul>
    
<p>
Aplicacion espiritual<br>
“Sugiero que examinen cuidadosamente el pensamiento
de sus hábitos y disposiciones que funcionan en su vida.
Sean más conscientes de ellos. Monitorienlos y evaluenlos
en terminos de que tipo de influencia tienen sobre
ustedes. Tomen medidas para manejar estos hábitos en
lugar de permitirles que ellos los manejen a ustedes."
<br>
-Richard R. Sudweeks
<br>
<br>
Ideas adicionales<br>
    “Somos lo que hacemos. La excelencia, no es un acto,
sino un hábito."
<br>
-Aristóteles
</p>
</div>
</div>