<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 1:
Su Oportunidad de Liderear
</h1>
<hr>
<p>Como líder del Chapter de alumnos de la Academia para la
Creación de Empresa,tienes la oportunidad de desarrollar tus
propias habilidades de liderazgo a medida que guias a los s los
miembros de tu chapter. Mediante la aplicación de los principios
y las herramientas proporcionadas por la Academia, tu
y tus compañeros del chapter pueden ayudarse mutuamente
a la construcción de empresas generadoras de ingresos extras.
Los Santos de los Últimos Días creen que este mundo fue creado
de”Materia desorganizada.” De manera similar, la pobreza
es básicamente “Potencial humano desorganizado.” Como
líder, tu papel es ayudar a organizar el potencial humano entre
los individuos de tu chapter. El objetivo de tus miembros del
chapter y sus familias es que se conviertan en prósperos y
autosuficientes.
<br>
Tu trabajo como líder es levantar e influir de manera personal
a los miembros del chapter para que puedan alcanzar su pleno
potencial. Al motivar a los demás para crear negocios rentables,
te convertirás en un mejor líder en todas las áreas de tu
vida, no sólo de negocios sino también de la familia, la iglesia
y la comunidad. Esta es su recompense por servir como líder
del chapter. Winston Churchill dijo: “A cada hombre llega en
su vida un momento tan especial cuando en sentido figurado se
le da un golpecito en el hombro y se le ofrece la oportunidad
de hacer una cosa muy especial, única para él y a la altura de
sus talentos. Qué tragedia si en ese momento se le halla no
preparado o no calificado para lo que sería su mejor momento."
<br>

Como líder del chapter, had sido “tocado en el hombro." Este
manual te ayudará a aplicar tus talentos y usar las de herramientas
de liderazgo para lograr tu “mejor momento.” A través
de tu liderazgo, vas a desarrollar otros líderes que, a su vez,
desarrollaran mas liderez. Así es como crece la prosperidad.
<br>
<br>
 Mis Puntos De Accion
 <br>
 
Al estudiar este manual,al venir las ideas toma notas y
escribelas, para que no las olvides.
<br>
<br>
Aplicacion Espiritual
<br>
“Como un verdadero pastor, un líder inspira a otros a
seguirle y para ayudar a los demas a que cumplan con
sus propias obligaciones. Él muestra el camino al vivir
los principios que él enseña al comprender y responder
a las necesidades de los demás.”<br>
-Deberes Y Bendiciones del Sacerdocio
<br>
<br>
Piensamentos Adicionales
<br>
“Considero que el ejercer el liderazgo es uno de los
dones mas especiales bajo el llamamiento de Dios para
servir a un determinado grupo de personas en la consecución
de los objetivos que Dios les ha dado .”
<br>
-Kenneth O. Gangel

</p>
</div>
</div>