<div class="container">
    <div class="col-md-3">
<sidemenudutytoleadspanish>
</sidemenudutytoleadspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 10: Encontrar Gozo en
el
Éxito de otros
</h1>
<hr>
<p>El profeta Alma nos enseña uno de los mas grandes principios
de liderazgo.”No me regocijo en mi propio éxito solamente”,
declara,”Sino que mi gozo es más completo debido al éxito de
mis hermanos. “Alma está hablando de los esfuerzos misioneros
de Amón y sus hermanos. “Cuando pienso en el éxito de
estos mis hermanos se transporta mi alma,. . . tan grande es mi
alegría “(Alma 29: 14-16).
<br>
Se ha dicho: “El que corta su propia leña se calienta dos veces.”También
podríamos decir: “El que inspira a otros a cortar
su propia leña siente dos veces mas la alegría. “Ensenando,
guíando e inspirando a la gente nos permite experimentar la
alegría de servir a los demás y ver su progreso. Cuando levantamos
a otros, llegamos a amarlos, y sentimos la alegría de
haber jugado un papel en su crecimiento. No es que nos tomamos
crédito por su éxito, pero nos sentimos profundamente
satisfechos con sus resultados positivos y su esperanza para
su futuro.
<br>
Los misioneros que entienden este principio sn cambiados para
siempre. Si usted lee los correos electrónicos de un misionero,
a menudo se puede decir que cuando el misionero atrapa el
espíritu de la obra. Él o ella
<br>
Olivida de hablar de su casa y en su lugar se centra todo su
correo electrónico en compartir cómo un investigador progresó
y cómo gozamente hace sentir esto al misionero. El
campo misional es donde muchos Santos de los Últimos Días
sienten la alegría de servir a los demás y encuentran la alegría
en el crecimiento de aquellos a quienes enseñan.
<br>
Encontrando alegría en tu Chapter
<br>
Las recompensas de servir bien como Presidente de Chapter de
alumnos de la Academia son muchas. tu aprendes habilidades
y atributos de liderazgo que te ayudarán a tener más éxito en
muchas áreas de tu propia vida. Sin embargo la recompensa
más significativa, es el gozo que sientes al igual que tus exitosos
miembros del Chapter. Como presidente del Chapter, tu
puedes sentir la misma alegría que sintió Alma al ayudar a tus
miembros del Chapter a ser más exitosos.
<br>
Al igual que un misionero que ha aprendido a enseñar bien,
encontrarás tremendamente satisfactorio ver resultados directos
de tu cuidadosa planificación y ejecución de reuniones
y programas del Chapters. Al ver la cara iluminada de los
miembros, tu sabras que los esfuerzos de tu Chapter están penetrando
en sus mentes y corazones. Ese ardor que sientes en
tu pecho no es diferente a lo sentimientos de un padre que
observa a su hijo obteniendo confianza y la experiencia en los
resultados que cambia la vida.
<br>
Al ver a los miembros del Chapter que estan proporcionando
una vida mejor para sus familias y estan comenzando a contratar
empleados, tu gozo sera aún más completo. El éxito que
has nutrido se esta esparciendo y esta levantando a más personas.
tu trabajo como lider del Chapter impactará en muchas
generaciones por venir, ya que las familias se levantaran hasta
salir de la pobreza y lograr la autosuficiencia y la prosperidad 
<br>

Aristóteles decía que la principal diferencia entre los seres humanos
y los animales es que los humanos pueden entender y
apreciar de la verdadera felicidad y gozo. Al amar y levanter a
cada miembro de tu chapter, experimentarás la mejor de todas
las recompensas.
<br>
<br>
Mis Puntos de Accion
<br>

</p>
    <ul>
<li>Identifica un momento en tu vida cuando has encontrado
el gozo en el éxito de aquellos que has
servido.</li>
<li>Determina qué miembros del Chapter necesitan
más ayuda y cómo tu y tu equipo de liderazgo podría
ayudarles de una mejor manera.
</li>
    </ul>
    
<p>
Aplicacion Espiritual
<br>
“Algunos piensan erróneamente que un compromiso de
servicio viene después de una gran experiencia espiritual.
Esto es como el hombre que está con frio de pie
ante la estufa y diciendo,”Dame calor, y luego voy a
poner en un poco de madera.” El gozo y las bendiciones
del servicio siguen al prestart servicio.”
<br>
-Russell C. Taylor
<br><br>
Ideas Acidionales
<br>
“El servicio que se rindió sin alegría no ayuda ni al
siervo ni al servido. Pero todos los demás placeres y
posesiones se desvanecen hacia la nada ante el servicio
que se rindió con un espíritu de alegría."
<br>
 -Mahatma Gandhi
 </p>
</div>
</div>