<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" routerLink="/" ><img src="{{branding}}" alt="The Academy of Creating Enterprise"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/">Home</a></li>
                <li>
                    <a routerLink="/about" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                </li>
                <li>
                    <a routerLink="/mychapter" class="dropdown-toggle" data-toggle="dropdown">My Chapter<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/featurecomingsoon">Register</a></li>
                        <li><a routerLink="/findchapter">Find My Chapter</a></li>
                        <li><a routerLink="/featurecomingsoon">Directory</a></li>
                        <li><a routerLink="/featurecomingsoon">Forum</a></li>
                        
                        
                    </ul>
                </li>
                <li>
                    <a routerLink="/chapterleaders" class="dropdown-toggle" data-toggle="dropdown">Chapter Leaders<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                                <a  class="dropdown-toggle" data-toggle="dropdown">Chapter Leader Training</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/chleadershiplesson1English">English</a></li>
                                <li><a routerLink="/chleadershiplesson1Spanish">Español</a></li>  
                            </ul>
                        </li>
                        <li><a routerLink="/monthlyagendas">Monthly Agendas</a></li>
                        <li><a routerLink="/featurecomingsoon">Reporting</a></li>
                        
                            <li class="dropdown-submenu">
                                <a routerLink="/dutytolead" class="dropdown-toggle" data-toggle="dropdown">Duty to Lead</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/dutytoleadlesson1English">English</a></li>
                                <li><a routerLink="/dutytoleadlesson1Spanish">Español</a></li>  
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a routerLink="/dutytoprosper" class="dropdown-toggle" data-toggle="dropdown">Duty to Prosper</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/dutytoprosperlesson1English">English</a></li>
                                <li><a routerLink="/dutytoprosperlesson1Spanish">Español</a></li>  
                            </ul>
                        </li> 

                    </ul>
                </li>
                <li>
                    <a routerLink="/businessresources" class="dropdown-toggle" data-toggle="dropdown">Business Education<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a routerLink="/bookoflessons" class="dropdown-toggle" data-toggle="dropdown">Book of Lessons</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/bookoflessonslesson1English">English</a></li>
                                <li><a routerLink="/bookoflessonslesson1Spanish">Español</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a routerLink="/ruleofthumb" class="dropdown-toggle" data-toggle="dropdown">25 Rules of Thumb Lessons</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/ruleofthumblesson1English">English</a></li>
                                <li><a routerLink="/ruleofthumblesson1Spanish">Español</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a routerLink="/legalities" class="dropdown-toggle" data-toggle="dropdown">Legalities</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/mexicolegalities">Mexico</a></li>
                                <li><a routerLink="/perulegalities">Peru</a></li>
                                <li><a routerLink="/philegalities">Phillipines</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a routerLink="/building" class="dropdown-toggle" data-toggle="dropdown">Building and Maintaining</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/mexicobuilding">Mexico</a></li>
                                <li><a routerLink="/mexicobuilding">Peru</a></li>
                                <li><a routerLink="/mexicobuilding">Phillipines</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a routerLink="/psychology" class="dropdown-toggle" data-toggle="dropdown">Psychology</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/mexicopsychology">Mexico</a></li>
                                <li><a routerLink="/mexicopsychology">Peru</a></li>
                                <li><a routerLink="/mexicopsychology">Phillipines</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a routerLink="/finances" class="dropdown-toggle" data-toggle="dropdown">Finances</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/mexicofinances">Mexico</a></li>
                                <li><a routerLink="/mexicofinances">Peru</a></li>
                                <li><a routerLink="/mexicofinances">Phillipines</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a routerLink="/hiring" class="dropdown-toggle" data-toggle="dropdown">Hiring</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/mexicohiring">Mexico</a></li>
                                <li><a routerLink="/mexicohiring">Peru</a></li>
                                <li><a routerLink="/mexicolegalities">Phillipines</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/contact" class="dropdown-toggle" data-toggle="dropdown">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate</a>
                </li>

                
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

