<nav class="navbar home-navbar">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{branding}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li class="dropdown">
            <a routerLink="/about" class="dropbtn">About Us</a>
            <div class="dropdown-content">
                <a href="#">History</a>
                <a href="#">Articles of Belief</a>
                <a href="#">Our Mission</a>
                <a href="#">Our Team</a>
                <a href="#">Our Curriculum</a>
                <a href="#">Locations</a>
                <a href="#">Prospective Students</a>
                <a href="#">Annual Events</a>
                <a href="#">FAQ</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/donors" class="dropbtn">Donors</a>
            <div class="dropdown-content">
                <a href="#">Success Stories</a>
                <a href="#">Our Team</a>
                <a href="#">990 Form</a>
                <a href="#">Donation Form</a>
                <a href="#">Charity Ranking</a>
                <a href="#">Websites Info</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/mychapter" class="dropbtn">My Chapter</a>
            <div class="dropdown-content">
                <a href="#">Register</a>
                <a href="#">Find My Chapter</a>
                <a href="#">Directory</a>
                <a href="#">Forum</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/chapterleaders" class="dropbtn">Chapter Leaders</a>
            <div class="dropdown-content">
                <a href="#">Chapter Leader Training</a>
                <a routerLink="/monthlyagendas">Monthly Agendas</a>
                <a href="#">Reporting</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropbtn">Business Education</a>
            <div class="dropdown-content">
                <a routerLink="/legalities">Legalities</a>
                <a routerLink="/building">Building and Maintaining</a>
                <a routerLink="/psychology">Psychology</a>
                <a routerLink="/finances">Finances</a>
                <a routerLink="/hiring">Hiring</a>
            </div>
        </li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a href="https://www.paypal.com/donate/?token=Hv4dgMx8m3QoNEFok6mHqD-Hr5fY6V-KXYSq_YdLEh2UiK_JKsBjzZSyple-uSEx1xk7AW" target="_blank">Donate</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>