<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 9: Borrowing Money</h1>
<hr>
<p>
    The best tip about borrowing money is simple: if you do
not absolutely have to, don’t. Too many entrepreneurs believe
that the lack of capital is stopping them from starting
and/or growing their business. This is simply not true. Unfortunately,
far too many entrepreneurs become convinced
that, “if they were to get money” then “they would have
a successful business.” Certainly, money is important, but
it is not essential to starting and/or growing every business,
especially in the beginning. Don’t allow yourself to
become paralyzed because you don’t have the capital you
think you need. Remember: Start Small and Think Big.
<br>
<br>
If you believe you need a certain amount of start-up capital
(seed money), then be creative with how you find or earn
that money. Remember, just because you live in a world
where access to capital has become easier, it does not mean
that you need that money to start your micro-enterprise.
<br>
<br>
 There is a time and place for you to seek money. This is
usually when you have had a stable business for many
months. This is why it is important for you to take your
time and to evaluate the terms (interest rates, payment
structures, collateral requirements, etc.) you agree to when
you borrow money. Use multiple suppliers as you “shop
around” for the best financial institution. By shopping
around you should be able to negotiate better terms with
the financial institution you choose. Take your time to
evaluate the terms and conditions of each loan you are considering.
Accepting a loan with bad interest rates or poor
terms may take longer to repay. 
<br>
<br>
Spiritual Application
<br>
The love of money is the root of all evil according
to the scriptures. Why?<br>
 The Times in Which We Live<br>
 Thou Shalt Not Covet
<br>
<br>
Observe, Learn, Apply
<br>
Why do we need self control to use money properly?<br>
 Making Money Your Ally<br>
 How Not to Borrow Money
<br>
<br>

Research Shows
<br>
The Financial Crisis of 2008 was caused by improper
borrowing and lending of money.<br>
Understanding the Financial Crisis 11:10<br>
How do you know when it is the right time to borrow?<br>

</p>
</div>
</div>