<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 7: Increasing Sales</h1>
<hr>
<p>
    You may have one of the best products in the world, or
you may provide a superior service to the world, or you
may have the greatest invention since the beginning of
time, but, if you never sell anything, you will never make
any money!
<br>
<br>
As the owner of your business, you must always focus on
Making a Daily Profit. Your primary motivation should be
to sell more today than you did yesterday. And, when you
take the necessary time to Work On Your Business & Not
Only In Your Business, you must focus on finding ways to
sell more tomorrow than you did today. “Dollars Now” is a
great way to remember this principle!
<br>
<br>
Leverage Existing Customers
<br>
You currently have customers who buy your goods or services.
Think of ways to Use Suggestive Selling with your
current customers. If you could add a few more “Dollars
Now” with your existing customers, you may find that
increasing your sales was easier than you thought. More
importantly, you did not have to spend more money to
increase your sales!
<br>
<br>

Another way to leverage your existing customers is to ask
them why they choose to buy from you. Remember, your
customers have many choices of where to buy from, but
they have chosen to buy from you for a reason (or maybe
several reasons). Take a few minutes each day to thank your
customers for buying from you and start asking them why
they buy from you. This will help you understand what you
can do to sell to more people as you try to increase sales.
<br>
<br>
Don’t forget to use goals for short and long term sales.
By using tools such as goals and referrals you can actively
work to increase your sales. 
<br>
<br>
Spiritual Application
<br>
Finding people takes time and observation:<br>
Mark 2:15-17; Mathew 11:28-30
<br>
<br>
Observe, Learn, Apply
<br>
What is the role of service in sales?<br>
How to Increase Sales Volume<br>
Answer Customer’s Questions
<br>
<br>
Research Shows
<br>
Read this article by the Wall Street Journal about
JC Penny.<br>
What is prompting the turnaround in sales?<br>
How did the CEO do that?

</p>

</div>
</div>