<div class="container">
    <div class="col-md-3">
<sidemenubookoflessons>
</sidemenubookoflessons>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 8: Understanding Costs</h1>
<hr>
<p>
There are many costs associated with starting, operating,
and growing your business. If you take the time to “count
the costs” (Luke 14:9) as you build your business, you will
find many different techniques to save money.
<br>
<br>
“Sunk Costs”
<br>
Start up costs are often times referred to as “sunk costs.”
Sunk costs are the expenses you have to cover (pay) even
before you open your business. One way of saving money
during the start-up phase is to do some of the “fixing-up”
of your materials, storefront, or machines by yourself.
Another technique that will help you have lower sunk costs
during the start-up phase is asking for a competitive bid
from several different companies for the work needed or
the people who can do the work. Finally, to help you lower
your sunk costs, you may want to consider purchasing used
furniture, vehicles, office machines, or other necessary
items.
<br>
<br>
Recurring costs are often referred to as operating costs.
In fact, on your income statement, you will find lines that
are specifically devoted for you to record recurring costs.
Remember, some of your recurring costs will be labeled as
“fixed costs” and others as “variable costs.”
<br>
<br>
Fixed costs are the expenses that you must pay each week/
month, and the amount that you pay each week/month
remains the same, regardless of total sales. Your fixed costs
do not depend on the amount of business you generate each
week or month. So, whether you do a lot of business, or
no business at all, your fixed costs remain the same. Some
examples of your fixed costs might include: salaries, rent,
Internet service, insurance, bank fees, advertising, security
personnel, etc. One way to reduce your fixed costs is to
always be aware of what other companies in your area are
paying for the same services you are receiving and, when
you find that someone else has a lower price, you can negotiate
with your providers for better prices.
<br>
<br>
Variable costs are expenses that you must pay each week/
month and this amount depends directly on how much
you do in business. Some examples of your variable costs
include: water, electricity, gasoline, raw material costs of
goods sold, labor costs necessary to complete a certain
project, etc. As your company grows, you must have a
clear understanding of what your variable costs actually are
so that you can find ways to reduce these costs. For example,
regarding labor, you may find that creating systems
of operations allows you to reduce the number of people 
required to manufacture your products and/or goods. Also,
when considering water and electricity, you may find that
having a system to turn off the lights and/or turn off the
water can help you save money each week/month.
<br>
<br>
Cost of Goods Sold (COGS)
<br>
Costs of goods sold are the expenses you must
pay to purchase materials for either resale or as part of the
manufacturing of a product to sale. In this case, you will
often hear people refer to these costs as “COGS.” As you
seek ways to reduce your COGS, you must remember to
use multiple suppliers and use multiple service providers.
<br>
<br>
You will also want to buy in bulk, which will help you
reduce the costs of purchasing raw materials. You can also
drastically reduce your COGS by buying used furniture
and/or machinery and by being an active and competitive
purchaser.
<br>
<br>
Remember as you focus on reducing your “sunk costs,”
recurring costs, and COGS, you can make a lot more money
in your business.
<br>
<br>
Spiritual Application
<br>
Why is enduring to the end difficult at times?<br>
 Luke 14:28-33
<br>
<br>

Observe, Learn, Apply
<br>
Where do I start?<br>
 Mike Piper’s Advice<br>
 Michigan State University
<br>
<br>
Research Shows
<br>
Research indicates that approximately 90% of businesses
fail within the five years of operation. But,
why? According to leading scholars and research, most
start-ups fail because the owner and/or operator fails to
understand the necessary costs associated with starting
their business, or the “Costs of Doing Business”
(CODB). Most start-up business owners fail to sit
down, count the costs, and project real numbers.<br>
Why is it sometimes hard to count costs?

</p>
</div>
</div>