<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 2: Net Profit</h1>
<hr>

<p>
Your primary responsibility as a business owner is to make
a net profit. Net profit is the amount of money that remains
after you have deducted the costs of goods and/or services
sold to your customers, as well as deducting all of the operating
expenses (where you deduct your personal salary).
Net profit is also known as “the bottom line” and it is what
you must hold yourself accountable to as the owner of the
business.
<br>
<br>
Two specific ways that you can increase the profit in your
company are: (1) purchasing your inventory in bulk and
(2) selling your products and/or services at a higher price.
First, if you purchase your inventory in bulk, you will
be able to negotiate better prices. By reducing your price
of purchase you will help increase your profits. Second,
if you add more value to your products and/or services
through superior customer service, dependable deliveries,
consistency, and quality control, you will be able to charge
more. By charging a little more, while also purchasing
your inventory in bulk, you will increase your profitability
significantly.
<br>
<br>
Having a profitable business provides you with several
advantages. For example, you will be able to hire others to
execute tasks in your place. Thus, you are employing others
while also having more time for you to work on your
business and not just in your business. You may also be
able to increase your livable salary.

<br>
<br>
Spiritual Application
<br>
What kind of “profit” does the Lord want us to
earn?
<br>
 Doctrine and Covenants 46:1
 <br>
 2 Nephi 2:14; 2 Nephi 4:15

<br>
<br>
Observe, Learn, Apply
<br>
What can you learn form this example?
<br>
 Investing Answers 
<br>
<br>
Research Shows
<br>
Nearly 3,000 Academy graduates have been surveyed
in the past five years. Part of this survey
compared the net profits of the businesses between
Academy alumni and non-Academy alumni. Concerning
net profits, Academy alumni are statistically
proven to have significantly higher gross and net
profits than non-Academy graduates.
<br>
Why do you think this is the case?
</p>




</div>
</div>