<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 5: Customer Service </h1>
<hr>


<p>Customer service is the process by which the value of your
goods or service reaches the customer before, during, and
after the purchase; It is how your business looks and feels
to your customers.
<br>
<br>
It is vital to remember that the perceptions and opinions
your customers have of you and your company will largely
be shaped by how they are able to connect with you, your
employees, your products and services. When your product
has value and is useful, the customer naturally appreciates
it as well as your company.
<br>
<br>
Be sensitive to the time you require your customers to
spend when purchasing products or services. Remember:
the easier it is for them to purchase your products or
services, the better their experience will be. Each person
you meet will be slightly different and will need a unique
approach. Learn the names of your customers and train
your staff to always call them by their names.
<br>
<br>
Ask your customers the reasons for which they choose to
purchase from you. Getting feedback from your customers
will help you understand what good things you are doing
and what you can improve upon. You will know how to
better deliver the value of your product to them in a way
that does not drain your resources
<br>
<br>
Spiritual Application
<br>
What should motivate our business?
<br>
Acts 20:35; Mosiah 2:19; 3 Nephi 11:15
<br>
Making and Living a Life
<br>
<br>
Observe, Learn, Apply
<br>
What do you do differently in these examples?
<br>
 King Burger Movie Montage How does CS demonstrate value?
 <br>
 Essentials of CS
 <br>
 Taxi Cab Story
 <br>
 The Fred Factor
<br>
<br>
Research Shows
<br>
In his recent publications, Harvard Business School
professor Michael Porter has explained how “globalization”
has shifted the competition from “machines
and physical goods” to customer service. According
to Porter, the current small business owner must focus
more on customer service than ever before because
most small business owners have access to the same
physical goods. Customer service will make or break
your success.

</p>
</div>
</div>