<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 12: Flash Reports</h1>
<hr>
<p>
    A Flash Report is a report that provides the owner or
manager of a business with a quick and precise snapshot
of how the business is performing in “Key Areas”. Some
of the common Key Areas used in a flash report are: (1)
the amount of cash on hand, (2) the amount of money in
the bank account, (3) the general cash flow of the business,
(4) the general volume of sales, (5) any outstanding debts,
and (6) inventory management. Remember, you know your
business better than anyone else, and therefore, as the owner
of the business, you can structure your own Flash Report
in whatever way it will serve you best.
<br>
<br>
The preparation of a Flash Report can take anywhere
from 10 minutes to 30 minutes. As such, you may decide
to include the preparation of your Flash Report in the job
responsibilities of trustworthy employees. Remember, the
person preparing the report should always record the same
Key Areas so that the transactions that occurred or changed
between Flash Reports can be compared with the previous
report.
<br>
<br>

The general purpose of the Flash Report is to help you
immediately identify positive and negative trends in your
business and then to make more informed decisions on how
to move forward. Flash Reports can be generated daily,
weekly or monthly, depending on what you prefer. The
careful analysis of the information they hold will greatly
improve your ability to make decisions. 
<br>
<br>
Spiritual Application
<br>
How does God keep track of everything?<br>
 Alma 57:26; Moses 1:37
<br>
<br>
Observe, Learn, Apply
<br>
Can you make a habit of using Flash Reports?<br>
 The Strategic CFO
<br>
<br>
Research Shows
<br>
Jim Wilkinson, past CFO, CPA, and current Adjunct
Professor at the Wolff Center for Entrepreneurship at
the University of Houston, demonstrates the value of
using a flash report in your business. According to Mr.
Wilkinson, using a Flash Report is vital for business
owners to use because it allows them to see the
overall health and strength of the business in a short
amount of time, and therefore, make the necessary
pivots if /when necessary.<br>
Why is pivoting essential for a small business?

</p>
   
</div>
</div>