<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 4: Setting Goals</h1>
<hr>

<p>Goal-setting involves establishing specific, measurable,
attainable, realistic and time-bounded (S.M.A.R.T.) objectives.
Setting goals is an effective tool that creates a clear
awareness of what you must do to achieve an objective.
<br>
<br>
Goal setting is a powerful process for thinking about your
ideal future. The process of setting goals helps you choose
where you want to go in life. By knowing precisely what
you want to achieve, you know where you have to concentrate
your effort. A goal can be long-term or short-term.
The primary difference is the time required to achieve
them.
<br>
<br>
For example, a goal to talk to 10 new customers will measure
your effort, a goal to sell 100 lbs of produce in a week
will measure your results. Hoping to open a new store
across town in a year will take many smaller goals.
Good goals will be realistic but still make you stretch and
grow. The effectiveness of your goals will be measured by
what you accomplish as you strive to reach them. Goals do
not reduce your work, only improve your efficiency.
<br>
Goals can establish your children and grandchildren with
a money-producing family business for many generations.
Academy founder Stephen Gibson says: “Goal setting has
changed me from a below-average student from a lowerincome
background to a successful businessman and
philanthropist, ready, willing, and able to help others work
themselves out of poverty.”
<br>
<br>
Spiritual Application
<br>
How often should we be using spiritual goals?
<br>
 Three Goals to Guide You, To the Rescue
<br>
Preach My Gospel, pg 146, 150-151
<br>
<br>
Observe, Learn, Apply
<br>
Why do goals help us manage time?
<br>
 What is a S.M.A.R.T. Goal?
 <br>
 How do I reach really big goals?
 <br>
 How do I gain vision? 

<br>
<br>
Research Shows
<br>
Mark McCormack wondered why some Harvard MBA’s
were more successful than others. These are the findings
from his book:
<br>
84% had no specific goals at all.
<br>
13% had goals, but not written down.
<br>
3% had clear, written goals and a plan.
<br>
The 3% that used goals effectively made ten times as much
money as the other 97% combined.
<br>
What do you learn about accountability?
<br>
Why is accountability vital for effective goal setting?
<br>
Take the time to establish your S.M.A.R.T. goals with clarity, writing them down and sharing them with your
peers.
</p>
</div>
</div>