<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 10: Written Agreements</h1>
<hr>
<p>
    The following is an outline of the several key areas of
business for which you should have written agreements:
<br>
<br>
Job Description
<br>
Prior to hiring an individual to work for your company,
you should have a written set of criteria for the individual
to read and perform during his/her employment. In the Job
Description, you (the employer) must clearly articulate the
job that the new employee should expect to do. Additionally,
you (the employer) will specify how much money you
will pay for the job to be done. Job Descriptions can also
specify other aspects of the employment relationship. For
example, you can explain the expected duration of the job
(one month, six months, one year, two years, etc.). You can
also explain the information about the employee's responsibilities,
what benefits (vacation leave, disability leave,
amount of sick days, etc.) the employee will receive. Finally,
in the Job Description, you (the employer) can clarify
how an employee’s actions (stealing, cheating, lying, being
late, etc.) can lead to termination.
<br>
<br>

Partnerships
<br>
Partnerships and/or growing a business with another
individual is similar to getting married: things often start
off smoothly. However, as time passes more and more
challenges arise and you must be prepared to meet those
challenges, together. This is why choosing a partner is such
an important decision.
<br>
<br>
To protect one another, you will want to have a written
Partnership Agreement. Some of the most common features
of a Partnership Agreement include: (1) How the
profits of the business will be used, (2) The duration of
the partnership, (3) How, if things become too challenging
in the business, the partnership will dissolve, (4) Who is
in charge of what aspects of the business (i.e. day-to-day
operations, banking/finance, growth of the business, etc.)
(5) An explanation of the contributions of each partner, and
(6) Time/hour commitment. In order for you to peacefully
readjust duties, responsibilities and profit distribution with
your business partners, it is essential to have a written Partnership
Agreement.
<br>
<br>
Rental and/or Lease Agreements
<br>
As your business grows, finding additional space to rent
or lease may become a necessity. Make sure you carefully
evaluate if renting or leasing will be best for your business.
Be sure to search for several locations near the area you
want to locate. As you search for appropriate prices, speak
with other local business owners and ask them what they
are paying for their rent. When you have found the ideal
location, make sure you write the terms down into a simple
agreement. Then, make sure that you and the landlord sign 
<br>
<br>
Spiritual Applicaion
<br>
How does the Lord use covenants to protect us?<br>
 Jeremiah 31:31-34<br>
Stay Within the Lines (Elder Holland)
<br>
<br>
Observe, Learn, Apply
<br>
Are contracts more trouble than they are worth?<br>
 Basics of Written Agreements<br>
 Coen Brothers
<br>
<br>
Research Shows
<br>
Deepak Malhotra observed that good contracts build
trust because they foster good communication. Malhotra
also noticed that contracts need to be adaptable
by allowing for creative thinking and changing plans
with new information that was not available when the
document was written up.<br>
How can you use contracts to build trust? 

</p>
</div>
</div>