<div class="container">
    <div class="col-md-3">
<sidemenudutytolead>
</sidemenudutytolead>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 11: Growing a Family Business</h1>
<hr>
<p>
    In many countries throughout the world, starting and
building a family business is the optimal way to achieve
self-reliance. This is because most economies around the
world do not provide enough good-paying, or stable jobs.
Thus, many families should do all within their power to
own and operate their micro-enterprise with their family
members. Starting and/or growing a family business is one
of the best ways to ensure generational prosperity for your
family.
<br>
<br>
One of the most important parts of owning and growing
a family business is ensuring that it becomes an income
generating asset. Owning a family business provides you
with ample opportunities to involve your spouse and your
children. As the owner of the family business, you should
do all you can to find ways to include your children. For
example, if you have younger children you may want to assign
them simple tasks such as sweeping or cleaning areas
of the business each day. Or, if your children are older, you
may consider having them run the cash register as clients
arrive and pay. The most important element to remember
when involving your family members is that they are
learning how to operate the business with each assignment
they are given. They are also learning how to share the
burden of the business, which helps them learn discipline
and gratitude. While some individuals may choose to sell
their business to another company or individual, you may
feel more inclined to turn your family business into a family
asset, an on going economical resource that supplies
your children and grandchildren with the financial security
needed to provide for their necessities.
<br>
<br>
Spiritual Applicaion
<br>
How can family help each other in business?<br>
 Alma 56:1-9<br>
 The End from the Beginning
<br>
<br>
Observe, Learn, Apply
<br>
How are family businesses strong?<br>
 Where Good Ideas Come From<br>
 Two Sisters<br>
10 Questions to Ask
<br>
<br>
Research Shows
<br>
Harvard researchers found that family businesses are
more frugal during good and bad economic times. This
makes them more resilient to challenges.<br>
Why do you think this is?

</p>
</div>
</div>