<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 3: DEM Model</h1>
<hr>



<p>Have you ever asked yourself this question: ‘When do I
make money in my business?’ Remember, you are in business
to make money and knowing the answer to this critical
question is vital for your success.
<br>
<br>

The following sayings are from successful entrepreneurs
who have taught business for many years. See if you can
find which of the quotes best answers the question:
<br>
<br>
When do I make money in my business?
<br>
a. A penny saved is a penny earned!
<br>
b. You won’t sell anything unless you add value to
your product and/or service!
<br>
c. Nothing happens in business until something is
sold!
<br>
<br>
The answer is simple: they are all right!
<br>
The GEM Model helps us understand why.
<br>
<br>
The GEM Model stands for Gathering, Enhancing, and
Marketing. Thus, during the “gathering” process you
can “save a penny,” and consequently, “earn a penny” by
purchasing in bulk or negotiating better prices. This is important
to remember when you are searching for your raw
materials, or while you are providing services to people:
if you spend less during the “gathering” stage, you end up
earning more money.
<br>
<br>
Next, during the “enhancing” stage you will be able to
make more money for your products or services by “adding
value.” If you do not “enhance” (add value) to your goods
or services then “you won’t sell anything,” and consequently,
you won’t make any money. You can also save
money by paying less to people helping you to enhance
your product.
<br>
<br>
Finally, remember: nothing happens in business until you
sell something! This means that if your goods and services
are never sold, you will never make any money. If you do
not leave your comfort zone and try to market your goods
or services, then it will be a challenge for your potential
customers to know about you and your business. You must
strategize on how to best market your goods and services
so that you can sell them quickly.
<br>
<br>
The GEM Model helps you remember that during each
stage of the cycle of your business you can, and will, earn
money. Understanding the GEM model is a real jewel for
making a profit in all three stages.
<br>
<br>
Spiritual Application<br>
How did the Lamanites change their attitudes?
<br>
 Helaman 6:6-16; Alma 23:18
<br>
<br>
Observe, Learn, Apply
<br>
What habits do you need to break to use a GEM
model?
<br>
Academy GEM 
<br>
<br>
Research Shows
<br>
Jia-Sheng Lee and Chia-Jung Hsieh studied 116 small
businesses in Taiwan. The study focused on competitive
advantage or what these businesses were good at
when compared to larger companies; they found that
these businesses excelled at marketing and innovation.
<br>
How could a small business have a competitive advantage
at marketing?

</p>
</div>
</div>