<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 1: Income Statements</h1>
<hr>

<p>
The most powerful management tool that a business
person can use from their business building toolbox is a
monthly income statement. Yet its potential power is often
wasted because it is not created, or if created, it is not used
by the owner, as it should be.
<br>
<br>
Here are five reasons why you should make and carefully
study a monthly income statement:
<br>
1. The information and format of the income statement
can help you make critically important management
decisions for your business based on real facts instead of
how you “feel” things are going in your business.
<br>
2. Like no other tool, an income statement can help you
see the relationship between sales and expenses, which
will then define your business’s monthly profit or loss.
Your profit or loss is a key indicator of your success as a
business operator.
<br>
3. As you study your expenses recorded on the income
statement, you will easily see how the cost of items
clearly affect your bottom line, or profit. For example,
salaries, rent, cost of goods sold, utilities and a dozen
or more other costs all affect your bottom line. You can
then adjust these operational expenses during the next
month.
<br>
4. Income statements will help you know if you are
winning or losing in your business. Remember winners
deal in specifics (found on your income statement) and
losers deal in generalities. Your income statement will
help you win in your business.
<br>
5. An income statement acts as an entrepreneur’s scorecard.
It answers the question, “How is my business
doing?”
<br>
<br>
In order for you to create a meaningful income statement
you must (a) Record the amount of every sale and all other
incoming amounts of money from whatever the specific
source and (b) Record every amount of money you take
out of the business, whether to purchase more
inventory, pay wages, transportation or any
other expense.
<br>
<br>
Then simply follow the profit formula:
<br>
Profit = Sales - Expenses
<br>
<br>
Now you have a simple income statement, which, if prepared
and studied over time, will establish a base line of
income, expenses, and profit from your operation.
<br>
<br>
Simply stated, preparing and analyzing an income statement
every month, will help you to grow your business
and to become a winner.
<br>
<br>

Spiritual Application
<br>
Record keeping found in the scriptures:
<br>Alma 37:6; Alma 37:20
<br>Alma 37:2; 3 Nephi 1:3
<br>4 Nephi 1:19; Helaman 3:13
<br>Alma 3:12; Mosiah 24:6
<br>2 Nephi 5:29; 3 Nephi 23:7
<br>Helaman 3:15
<br>
<br>
Observe, Learn, Apply
<br>
Income Statements require a lot of work.
<br>
Why are they worth it?
<br>
Introduction: Income Statements
<br>
Financial Statements Made Simple
<br>
<br>

Research Shows
<br>
A recent study conducted by a Brigham Young
University professor evaluated 700 small businesses
in Latin America. The primary purpose of the study
was to discover what percentage of the small business
owners kept regular income statements for their businesses.
Of 700 small businesses in the study, approximately
14 (2%) were able to demonstrate that they
were keeping regular income statements.
The professor’s conclusion was:
“Without question the income statement is the
most underutilized business tool in developing
countries.”

</p>




</div>
</div>