<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosper>
</sidemenudutytoprosper>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 6: Practice Separate Entities</h1>
<hr>
<p>
    Far too many small business owners operate in a cloud of
confusion each and every day because they do not practice
separate entities. Specifically, small business owners are
not separating their personal money from the money generated
by their business.
<br>
<br>
The first step in practicing separate entities is achieved
by physically separating your personal money from your
business money. If you have access to bank accounts, make
sure you have a business bank account and a personal bank
account. If banks are too far or impractical for you to use
then you should have separate cash boxes where you can
keep your personal money and the business’s money.
<br>
<br>
The first rule of thumb that is most helpful for separating
your business money from your personal money is: Pay
Yourself a Livable Salary. In order to pay yourself a livable
salary, you first must determine how much money you will
need to cover your personal needs. By paying yourself a
livable salary you will have more clarity on the amount of
money you will need for your personal and family needs.
<br>
<br>
Another rule of thumb that is helpful for separating your
business money from your personal money is: Be Nice
Later. For example, if a family member or friend asks you
to provide them with free food from your business, you
cannot allow that to happen. That would be stealing from
the business. Instead of stealing from your business, you
might consider inviting them to your home where they can
eat a meal for free.
<br>
<br>
Spiritual Application
<br>
How separating your entities creates organization:
Luke 10:25-37; Matthew 25:1-14
<br>
<br>
Observe, Learn, Apply
<br>
Why do separate entities require records?
<br> Pinnacle Partners
 <br>Entrepreneur.com
<br>
<br>
Research Shows
<br>
In 2013, a Brigham Young University professor and
15 undergraduate, MBA, and MPA students conducted
a literature review of more than 300 finance and
accounting articles. 100% of these articles agreed that
personal money and business money should never be
combined.
<br>
What is lost when we clump things together?

</p>
</div>
</div>