<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 1: Estado de Pérdidas
 y Ganancias
</h1>
<hr>
<p>
    La mejor herramienta de administración que una persona
de negocios puede utilizar es el estado mensual de pérdidas
y ganancias. Aún así, el potencial de este recurso es normalmente
malgastado porque nunca se hace, o si se hace,
no es utilizado por el dueño como debería ser.
<br>
<br>
Hay cinco razones por las cuales tú deberías crear y estudiar
cuidadosamente un estado mensual de pérdidas y
ganancias:
<br>
1. La información y el formato del estado de pérdidas
y ganancia pueden ayudarte a tomar decisiones
administrativas críticas para tu negocio, basadas en
información real, en vez de cómo tú “sientes” que
las cosas están progresando en tu negocio.
<br>
2. El estado de pérdidas y ganancia es la mejor herramienta
para ver la relación entre ventas y gastos, lo
cual define las ganancias y las pérdidas de tu negocio.
Tu ganancia o pérdida es un indicador clave
para tu éxito como administrador del negocio.
<br>
3. A medida que estudies los gastos en tu estado de
pérdidas y ganancias, podrás ver claramente como
el costo de cada cosa afecta el resultado o ganancia.
Por ejemplo, salarios, renta, costo de los artículos
vendidos, los servicios de luz, agua, y muchos otros
gastos afectan tus resultados. Después de estudiarlo,
puedes hacer los ajustes necesarios en tus gastos
operativos para el próximo mes.
<br>
4. Tus estados de pérdidas y ganancias te ayudarán a
saber si tu negocio está ganando o perdiendo. Recuerda,
un ganador siempre atiende a los específicos
(encontrados en tu estado de pérdidas y ganancias)
y el perdedor sólo atiende a las generalidades. Tu
estado de pérdidas y ganancias te ayudará a salir
ganando en tu negocio.
<br>
5. El estado de pérdidas y ganancias actúa como la
tabla de puntaje del emprendedor; es la respuesta a
la pregunta, “¿Cómo le va a mi negocio?”
<br>
<br>

Para crear un estado de pérdida y ganancia con el que
podamos trabajar efectivamente se debe (A) Anotar la
cantidad de cada venta, al igual que cualquier otro ingreso,
donde sea que venga. (B) Apuntar cada cantidad de dinero
que se gaste del negocio, ya sea la compra de productos, el
pago de salarios, transporte o cualquier otro gasto.
Luego simplemente se efectúa la formula.:
<br>
Ganancias = Ventas - Costos
<br>
<br>
De esta manera ya tendrás un simple estado de pérdidas y
ganancias, el cual, si es preparado y estudiado regularmente,
establecerá la base de tus ingresos, costos y ganancias
de tu negocio.
<br>
<br>
Simplemente: Si tú quieres ser un ganador y quieres que
tu negocio crezca, entonces necesitas preparar y analizar
un estado de pérdidas y ganancias cada mes.
<br>
<br>
Aplicación Espiritual
<br>
Escrituras relacionadas con mantener registros:<br>
Alma 37:6; Alma 37:2
<br>
4 Nefi 1:19; Alma 3:12
<br>2 Nefi 5:29; Helamán 3:15
<br>Alma 37:20; 3 Nefi 1:3
<br>Helamán 3:13; Mosíah 24:6
<br>3 Nefi 23:7
<br>
<br>
Observe, Aprenda, Aplique
<br>
Estados de Pérdidas y Ganancias requieren mucho
trabajo. ¿Por qué son importantes?<br>
Introducción: Estado de cuenta<br>
Estado financiero hecho fácil
<br>
<br>
Estudios Demuestran
<br>
Un estudio reciente conducido por un profesor de la
Universidad de Brigham Young evaluó 700 pequeños
negocios en América Latina. El propósito principal
del estudio fue descubrir qué porcentaje de dueños de
negocios pequeños mantienen un estado de pérdidas y
ganancias regularmente para sus negocios. De los 700
negocios pequeños en el estudio, aproximadamente
14 (2%) pudieron demostrar que mantenían un estado
de pérdidas y ganancias. La conclusión del profesor
fue que “Sin lugar a dudas, el estado de pérdidas
y ganancias es la herramienta de negocios menos
utilizada en los países subdesarrollados.” 


</p>
</div>
</div>