<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary"> Leccion 5: Servicio al
Cliente
</h1>
<hr>
<p>
    El servicio al cliente es el proceso por el cual el valor de tus
productos o servicios llegan a los clientes antes, durante, y
después de la compra. Para tus clientes, el servicio al cliente
determina de qué manera ellos perciben tu negocio, y cómo
se sienten en cuanto a ello.
<br>
<br>

Es esencial entender que la opinión que tus clientes mantienen
de ti y de tu compañía será determinada por la forma que
ellos se sientan conectados contigo, con tus empleados, con
tus productos o con tus servicios. Cuando tu producto tiene
valor y es útil, naturalmente el cliente lo aprecia, tanto como
aprecia tu compañía.
<br>
<br>
Sé sensible al tiempo que tus clientes toman cuando están
comprando productos o servicios. Recuerda: cuanto más fácil
sea para ellos comprar el producto o servicio, mejor será su
experiencia.
<br>
<br>
Cada persona que conocerás va a ser distinta y, entonces, necesitarás
un enfoque único para cada uno. Debes aprender los
nombres de tus clientes y entrenar a tus empleados para que
ellos siempre se dirijan a los clientes por sus nombres.
<br>
<br>

Pregunta a tus clientes las razones por las cuales ellos
compran de tu negocio. Los comentarios de tus clientes
te ayudarán a entender qué cosas estás haciendo bien y
qué cosas tienes que mejorar. Sabrás cómo transmitirles el
valor de tus productos de una manera que no gastes todos
tus recursos
<br>
<br>
Aplicación Espiritual
<br>
¿Qué debe motivar nuestros negocios?<br>
Hechos 20:35; Mosíah 2:19; 3 Nefi 11:15<br>
Ganarse la vida al vivir la vida 
<br><br>
Observe, Aprenda, Aplique
<br>
¿Qué haces de modo diferente en estos ejemplos?<br>
 Burger King, Un montaje de películas<br>
¿Cómo se muestra el valor por medio del servicio al
 cliente? <br>
 Las claves del servicio al cliente
 <br>
 La historia del taxi El factor Fred
<br><br>
Estudios Demuestran
<br>
En publicaciones recientes, Michael Porter, un profesor
de La Escuela de Negocios de Havard, ha explicado cómo
“la globalización” ha cambiado la competencia, de ofrecer
“equipos y mercancías materiales” a servicio al cliente.
Según Porter, hoy en día el dueño de un negocio tiene que
enfocarse ahora más que nunca en el servicio al cliente
porque la mayoría de los dueños de los negocios pequeños
tienen acceso a las mismas mercancías y materiales. El
servicio al cliente determinará el éxito de tu negocio. 


</p>
</div>
</div>