<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 8: Entendiendo los
 Gastos
</h1>
<hr>
<p>
    
 Hay muchos gastos asociados con el comienzo, la operación
y el crecimiento de tu negocio. Si tomas el tiempo para
“calcular los gastos” encontrarás que hay muchas formas de
ahorrar dinero.
<br>
<br>

“Gastos No Recuperables”
<br>
Los gastos iniciales del negocio se refieren típicamente
como “gastos no recuperables”. Gastos no recuperables son
los gastos necesarios antes de poder abrir el negocio. Una
forma de ahorrar dinero durante este tiempo de inicio es haciendo
algunas cosas para la adecuación del local tu mismo.
Otra manera de ahorrar dinero durante el inicio es pidiendo
cotizaciones a diferentes proveedores. Finalmente, para ayudarte
a bajar los gastos no recuperables podrías considerar
comprar productos como muebles, vehículos, equipo y otras
cosas necesarias, de segunda mano.
<br>
<br>
Gastos Periódicos
<br>
Gastos periódicos también son llamados gastos de operación.
De hecho, en tu cuenta de ingresos encontrarás líneas
que están designadas para que registres tus gastos periódicos.
 Recuerda que algunos de tus gastos periódicos serán
llamados “gastos variables” o “gastos fijos”.
<br>
<br>
 Gastos fijos son los gastos que se tienen que pagar cada
semana/mes, y la cantidad que pagas es la misma cada vez,
venda o no venda el negocio. Los gastos fijos no dependen
de la cantidad de ventas que se genere cada semana o mes.
Entonces, si generas muchas ventas o poca ventas, los gastos
fijos no cambiarán.
<br>
<br>
Algunos ejemplos de gastos fijos incluyen: sueldos, renta,
servicio de Internet, el seguro, banco, publicidad, seguridad,
etc. Una forma de reducir los gastos fijos es fijándote
en lo que otras compañías en tu área están pagando por los
mismos servicios. Cuando encuentres a alguien que ofrece
precios más bajos puedes negociar con tus proveedores
para conseguir mejores precios.
<br>
<br>
Gastos variables son gastos que tendrás que pagar cada
semana/mes y estas cantidades dependen directamente
de cuanto utilice tu negocio. Algunos ejemplos incluyen:
agua, electricidad, gasolina, precios de materia prima,
gastos de mano de obra para completar proyectos, etc.
<br>
<br>
Mientras crezca tu compañía debes comprender claramente
cuales son tus gastos variables para poder buscar formas
de reducir estos gastos. Por ejemplo, en cuanto al precio
de mano de obra, es posible que te des cuenta que creando
sistemas de operación te ayudará a reducir la cantidad de
personas necesarias para fabricar tus productos. También,
considerando el gasto de agua o electricidad, es posible que
encuentres que un sistema que apague las luces y el agua te
ayudará a ahorrar dinero cada semana/mes. 
<br>
<br>

Costo de Bienes Vendidos (CDBV)
<br>
El costo de los bienes vendidos son los costos que debes
pagar o invertir para comprar materiales o materia prima
para revender o como parte de los materiales para la
fabricación del producto para la venta. Al buscar formas
de reducir los costos, acuérdate utilizar varios proveedores.
<br>
<br>
También puedes comprar al por mayor, lo cual te ayudará a
reducir el costo de los materiales. También se pueden reducir
los costos dramáticamente siendo un comprador activo
que busca por el mejor precio - valor de la materia prima.
<br>
<br>
Recuerda: mientras te enfoques en reducir los gastos no
recuperables, gastos fijos, y los costos de los bienes vendidos
podrás ganar mucho más dinero en tu negocio.    
<br>
<br>
Aplicación Espiritual 
<br>
¿Por qué a veces se hace difícil perseverar hasta el
fin?
<br>
Lucas 14:28-33
<br><br>
Observe, Aprenda, Aplique
<br>
 Consejo de Mike Piper
 <br>
 Michigan State University
<br><br>
Estudios Demuestran
<br>
Estudios muestran que aproximadamente el 90% de 
negocios fracasan dentro de los 5 años de operación.
La pregunta es, ¿Por qué? De acuerdo con líderes
académicos y estudios, la mayoría de los negocios
nuevos fracasan porque los dueños o operadores no
comprenden los costos asociados con el negocio o con
los costos de hacer negocios. Muchos dueños de negocios
nuevos no contabilizan los costos, y no proyectan
números reales.<br>
¿Por qué a veces es difícil contabilizar los gastos/costos?
<br>
</p>
</div>
</div>