<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 11: Crecimiento de un
Negocio Familiar
</h1>
<hr>
<p>
    Debido al hecho de que la mayoría de las economías no
proveen bastantes trabajos estables de buen salario en
muchos países en el mundo, el empezar y hacer crecer una
empresa familiar es la manera óptima para lograr la autosuficiencia.
<br>
<br>
Por eso, muchas familias deben hacer todo lo que
puedan para manejar su micro-empresa con miembros de
su familia. Empezar y/o crecer un negocio familiar es una
de las mejores maneras para asegurar prosperidad para las
futuras generaciones de tu familia.
<br>
<br>
Uno de los aspectos más importantes de manejar y hacer
crecer una empresa familiar es asegurarse que sea una empresa
que genera ingresos. Siendo dueño de una empresa
familiar te da muchas oportunidades de involucrar a tu esposo/a
y tus hijos. Como dueño del negocio familiar, debes
hacer todo lo que puedas para incluir a tus hijos. Por ejemplo,
si tienes hijos jóvenes quizás quieras asignarles deberes
sencillos como barrer o limpiar partes del negocio cada
día. Si tus hijos son mayores, quizás considera que ellos
ejecuten lo que es la caja registradora mientras los clientes
llegan y pagan. Lo más importante es recordar que están
aprendiendo cómo operar el negocio con cada asignación
que reciben. También están aprendiendo cómo compartir
el cargo de la empresa, cosa que les ayuda a aprender la
disciplina y la gratitud. Mientras algunos elijan vender su
negocio a otra compañía u otro individuo, quizás sentirás
más el deseo de convertir tu negocio a un activo familiar,
algo que provea los recursos económicos para que tus
hijos y nietos puedan tener lo que necesiten.
<br>
<br>
Aplicación Espiritual 
<br>
¿Cómo puede la familia ayudar el uno al otro con un
negocio? 
<br>
Alma 56:1-9
<br> El Final Desde el Comienzo
<br><br>
Observe, Aprenda, Aplique
<br>
¿Cómo son fuertes los negocios familiares?
<br>
 ¿De dónde vienen las buenas ideas?
 <br>Dos Hermanas
 <br>Diez preguntas para hacer
<br><br>
Estudios Demuestran
<br>
Investigadores de Harvard encontraron que las empresas
familiares son frugales durante tiempos económicos
difíciles y buenos. Esto las hace más flexibles ante
los desafíos.
<br>¿Por qué crees que así es?


</p>
</div>
</div>