<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 12: Informes Flash</h1>
<hr>
<p>
Informe Flash es un resumen breve que le da información
al gerente de cómo está funcionando el negocio en “Áreas
Claves.” Algunas Áreas Claves comunes que se utilizan en
un informe flash son: (1) la cantidad de efectivo a mano,
(2) la cantidad de dinero en la cuenta bancaria, (3) el flujo
general del efectivo del negocio, (4) el volúmen general
de ventas, (5) las deudas pendientes, y (6) la gestión del
inventario. Recuerda que tú conoces mejor tu negocio que
los demás, y como dueño puedes formar tu propio Informe
Flash en la manera que te servirá mejor.
<br>
<br>
La preparación de un Informe Flash puede tomar de 10
a 30 minutos. Como tal, quizás decidas dar la responsabilidad
de prepararlo a uno de tus empleados confiables.
Recuerda, la persona que prepara el informe siempre debe
medir las mismas áreas claves para que las transacciones
que ocurrieron o cambiaron en el Informe Flash se puedan
comparar con los informes previos.
<br>
<br>
El propósito general del Informe Flash es ayudarte de
inmediato a identificar patrones o tendencias positivas y
negativas en tu negocio y con esa información tomar decisiones
más informadas en cómo seguir adelante. Informes
Flash se pueden generar a diario, semanalmente o mensualmente,
conforme tu preferencia. El análisis cuidadoso de la
información que contienen mejorará bastante tu habilidad
de tomar decisiones. 
<br>
<br>
Aplicación Espiritual
<br>
¿Cómo registra todo Dios?<br>
 Alma 57:26 Moisés 1:37

 <br><br>
 Observe, Aprenda, Aplique
 <br>
¿Puede formar el hábito de usar Informes Flash?<br>
El Director Financiero Estratégico
 <br><br>
 Estudios Demuestran
 <br>
Jim Wilkinson, un director financiero y contador pú-
blico, ahora profesor en el Centro Wolff para el Emprendimiento
en la Universidad de Houston, demuestra
el valor de utilizar un informe flash en su empresa.
Según el Sr. Wilkinson, es fundamental que dueños de
empresas utilicen un informe flash porque les deja ver
el bienestar general del negocio en un tiempo corto y
hacer cambios cuando sean necesarios.<br>
¿Por qué es esencial el cambio para una empresa
pequeña?
<br>

</p>
</div>
</div>