<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 3: El modelo AMC</h1>
<hr>
<p>
    ¿Alguna vez te has preguntado esto? – ¿Cuándo voy a
ganar dinero en mi negocio? – Recuerda, te encuentras en
el negocio para poder ganar dinero, y el saber la respuesta
de esta pregunta es esencial para tu éxito.
<br>
<br>
Las siguientes citas son de empresarios exitosos quienes
han enseñado el estudio de negocios por muchos años. A
ver si puedes determinar cuál de estas citas es la que mejor
responde a la siguiente pregunta:
<br>
¿Cuándo ganaré dinero en mi negocio?
<br>
1. “¡Un centavo ahorrado es un centavo ganado!”
<br>
2. “¡No venderás nada a menos que le des valor a tus
productos o servicios!”
<br>
3. “¡Nada progresa en los negocios hasta que se venda
algo!”
<br>
<br>
La respuesta es bien sencilla: ¡todas son adecuadas!
<br>
“El modelo AMC” nos ayuda a entender por qué.
<br>
<br>

“El modelo AMC” significa Acumular, Mejorar, y Comercializar.
Así que durante el proceso de “acumular” puedes
“ahorrar un centavo”, y por consiguiente, “ahorras un
centavo” por medio de comprar al por mayor o de negociar
mejores precios. Esto es muy importante cuando estés buscando
materias primas, o prestando servicios a los clientes.
Si gastas menos en “la etapa de acumulación” ganarás más
dinero.
<br>
<br>
Luego, durante “la etapa de mejorar” podrás ganar más
dinero por tus productos o servicios si “aumentas el valor”.
Si no “mejoras” o aumentas el valor de tus productos o servicios
no “venderás nada”, y por consiguiente, no ganarás
dinero. Puedes ahorrar dinero también si les pagas menos a
las personas que te están ayudando a mejorar los productos.
<br>
<br>
Por último, recuerda que “¡Nada progresa en los negocios
hasta que algo se venda!” Esto significa que nunca vas a
ganar dinero si nadie compra tus productos o servicios. Si
no sales de tu terreno familiar e intentas comercializar tus
productos o servicios entonces tus clientes potenciales no
te conocerán a ti ni a tu negocio. Tienes que planificar bien
cómo quieres comercializar tus productos o servicios de la
manera más eficaz para poder venderlos rápidamente.
<br>
<br>
El modelo AMC te recuerda que durante cada etapa del
ciclo de tu negocio puedes ganar dinero. El entender este
modelo tiene gran valor para poder generar ganancias durante
estas tres etapas. 
<br>
<br>
Aplicación Espiritual
<br>
¿De qué forma cambiaron sus actitudes los lamanitas?<br>
Helamán 6:6-16; Alma 23:18
<br>
<br>
Observe, Aprenda, Aplique
<br>
¿Qué hábitos necesitas cambiar para usar bien el
modelo AMC?<br>
Academia AMC
<br>
<br>
Estudios Demuestran
<br>

Jia-Sheng Lee y Chia-Jung Hsieh estudiaron 116
negocios pequeños en Taiwán. La investigación se
concentró en la ventaja competitiva de estos negocios
pequeños, o las cosas que estos negocios hacían bien
al compararse con compañías más grandes. Ellos encontraron
que los negocios pequeños tuvieron éxito
en la mercadotecnia y en el proceso de innovación.<br>
¿Cómo podría un negocio pequeño tener una ventaja
competitiva en la mercadotecnia?



</p>
</div>
</div>