<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 4: Fijar Metas
</h1>
<hr>
<p>
    El fijar metas incluye la necesidad de establecer objetivos
específicos, medibles, alcanzables, razonables y de
duración determinada (E.M.A.R.D.). El fijar metas es una
herramienta eficaz que te hace entender lo que tienes que
hacer para alcanzar un objetivo.
<br>
<br>
El fijar metas es un gran proceso para meditar en tu futuro
ideal. El proceso de fijar metas te ayuda determinar qué
camino quieres tomar en la vida. Por saber precisamente lo
que quieres lograr, sabrás en donde tendrás que concentrar
tu esfuerzo. Una meta puede ser de largo plazo o de corto
plazo. La diferencia principal es la cantidad de tiempo
necesario para lograrla.
<br>
<br>
Por ejemplo, una meta de hablar con 10 clientes nuevos
medirá tu esfuerzo; una meta de vender 45 kilogramos de
verduras en una semana medirá tus resultados. El desear
abrir una tienda nueva en otro sector de la ciudad te exigirá
muchas metas pequeñas para lograr.
Una buena meta es razonable, pero también te hará crecer
y transformarte. La eficacia de tus metas será medida por 
lo que logres al esforzarte por alcanzarlas. Las metas no
reducen la cantidad de trabajo que tengas, pero sí mejoran
tu eficiencia.
<br>
<br>
Aplicación Espiritual
<br>
¿Con qué frecuencia debemos fijar metas espirituales?
Tres metas para guiarte
 Al Rescate
Predicad Mi Evangelio, pág. 146, 150-151
<br>
<br>
Observe, Aprenda, Aplique
<br>
¿Por qué nos ayudan las metas mejorar nuestra capacidad
de manejar el tiempo?<br>
¿Qué es una meta E.M.A.R.D.?<br>
¿Cómo puedo yo alcanzar metas grandes?
<br>
<br>
Estudios Demuestran
<br>
Mark McCormack deseaba saber por qué algunos MBA’s
(Maestrías en Administración de Empresas) tenían más éxito
que otro. Los resultados de su investigación se encuentran
en su libro:<br>
 84% no tenían ninguna metas
 <br>13% tenían metas, pero no las escribieron
 <br>3% tenían metas claras y escritas, y tenían un plan
<br>El 3% que usaron las metas eficazmente ganaron diez veces
más que los demás; el 97% combinado.
<br>¿Qué aprendes en cuanto a la rendición de cuentas?
<br>¿Por qué es la rendición de cuentas esencial en el proceso
de fijar metas eficazmente?
<br>Tómate el tiempo necesario para fijar tus metas E.M.A.R.D.
con claridad, escribiéndolas y compartiéndolas con tus com- pañeros.

</p>
</div>
</div>