<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 9: Pidiendo Dinero
 Prestado</h1>
<hr>
<p>
La mejor sugerencia cuando tiene que pedir prestado dinero
es simple: si en realidad no lo tiene que hacer, no lo
haga. Muchos empresarios creen que la falta de capital les
impide empezar o crecer su negocio. Esto no es verdad.
Desafortunadamente, muchos empresarios piensan que si
“ganaran dinero” entonces “tendrían un negocio exitoso”.
<br>
<br>
Cierto, el dinero es importante, pero no es esencial para crear
o hacer crecer cada negocio, especialmente al iniciar. No te
detengas porque no tienes el capital que piensas es necesario.
Recuerda: Empieza Pequeño, Piensa en Grande.
<br>
<br>
Si tú crees que necesitas una cierta cantidad de dinero al
principio, entonces se creativo y busca formas de encontrar
o ganar este dinero. Recuerda que sólo porque vivimos en
tiempos donde el acceso al dinero se ha vuelto más fácil no
quiere decir que necesitas ese dinero para empezar tu micro-empresa.
<br>
<br>
Hay un tiempo y un lugar adecuado para solicitar prestamos.
Usualmente es cuando ya tengas un negocio establecido por
varios meses.
<br>
<br>
Por eso es importante tomar el tiempo para evaluar las condiciones
(interés, estructura de pagos, requisitos de garantía,
etc.) en las que tú estés de acuerdo cuando pides dinero
prestado. Utiliza varios proveedores cuando estés buscando la
mejor institución financiera. Al hacer el esfuerzo de buscar y
solicitar, llegarás a negociar mejores condiciones con la institución
financiera que escojas. Toma todo el tiempo necesario
para evaluar los términos y condiciones de cada préstamo que
estés considerando. Aceptar un préstamo con malas tasas de
interés o malos términos tomará aún más tiempo para pagarlo.
<br>
<br>
Aplicación Espiritual
<br>
El amor al dinero es la raíz de la maldad. ¿Por
qué?
<br>
 Los Tiempos en Que Vivimos
<br> No Codiciarás
<br><br>
Observe, Aprenda, Aplique
<br>
¿Por qué necesitamos auto disciplina para usar el
dinero apropiadamente?<br>
 Haga al Dinero su Aliado<br>
 Como No Prestar Dinero
<br><br>
Estudios Demuestran
<br>
La Crisis Financiera del 2008 fue a causa de malos
préstamos.<br>
Entendiendo la crisis financiera 11:10<br>
¿Cómo podemos saber cuándo es el tiempo correcto
para pedir un préstamo?


</p>
</div>
</div>