<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 10: Acuerdos
Escritos
</h1>
<hr>
<p>
El siguiente es un esquema de las diferentes áreas de negocios
en las cuales deberías tener acuerdos escritos:
<br>
<br>
Descripción de Trabajo
<br>
Antes de contratar a una persona en tu compañía, deberías
tener reglas escritas para que el individuo las pueda leer
y seguir durante su empleo. En la descripción del trabajo
es preciso que tú (el empleador) escribas las reglas lo más
claro posible. También es necesario dejar en claro cuánto
se les va a pagar a tus empleados. Descripciones de empleo
también pueden especificar otros aspectos de la relación
entre el empleador y el empleado. Por ejemplo, se puede
especificar la duración del trabajo (un mes, 6 meses, 2
años, etc. ) También se puede explicar las responsabilidades
del empleado, cuales beneficios tiene, (vacaciones,
días libres, etc.). Finalmente, en la descripción del trabajo,
tu (el empleador) podrías clarificar cómo las acciones del
empleado (robo, mentiras, mala conducta, falta de puntualidad,
etc.) podrían terminar su empleo.
<br>
<br>
Sociedades
Sociedades o formar un negocio junto con otro individuoes
similar a casarse: muchas veces las cosas empiezan sin
problema. Sin embargo, con el paso del tiempo, más y más
desafíos se presentan y tienen que estar preparados para
enfrentar esos desafíos, juntos. Por eso es tan importante el
elegir un buen socio.
<br>
<br>
Para protegerse unos a otros, deberán escribir un acuerdo
de sociedad. Algunas características más comunes de esta
clase de documento son: (1) Cómo se utilizarán las ganancias
del negocio, (2) La duración de la sociedad, (3) Cómo,
si el negocio se hace demasiado difícil, se disolverá la
sociedad, (4), Quién se encarga de los diferentes aspectos
de la empresa (ej. Operaciones diarias, bancos/finanzas,
crecimiento del negocio, etc..) (5) Una explicación de las
contribuciones de cada socio, y (6) El compromiso de tiempo/horas.
<br>
<br>

Para que se puedan reajustar pacíficamente los deberes,
responsabilidades y distribución de los ingresos con tus socios
es esencial que tengan un acuerdo de sociedad escrito.
<br>
<br>
Contratos de alquiler o arrendamiento
<br>
A medida que crece tu empresa es posible que sea necesario
encontrar espacio adicional para alquilar o arrendar.
Asegúrate de evaluar cuidadosamente si alquilar o arrendar
será lo mejor para tu negocio. Asegúrate de buscar varios
locales cerca del área en donde te quieres ubicar. Mientras
buscas precios apropiados, habla con otros dueños de negocios
y pregúntales cuánto están pagando por sus alquileres.
Cuando hayas encontrado un lugar ideal, asegúrate
de escribir los términos en un acuerdo simple. Después,
asegúrate de que tú y el dueño firmen el acuerdo.
<br>
<br>
Aplicación Espiritual 
<br>
¿Cómo utiliza el Señor convenios para protegernos?
<br> Jeremías 31:31-34
<br>Quédese dentro de los límites (Élder Holland)
<br>
<br>
Observe, Aprenda, Aplique
<br>
¿Vale la pena hacer contratos, o es más el problema
que lo ayudan?<br>
Acuerdos Escritos, lo básico - Los Hermanos Coen
<br><br>
Estudios Demuestran
<br>
Deepak Malhotra observó que un buen contrato desarrolla
confianza porque motiva la buena comunicación.
Malhotra también se dió cuenta que es necesario que
los contratos dejen oportunidad para el pensamiento
creativo y también para cambio de planes.<br>
¿Cómo se pueden usar los contratos para establecer
mayor confianza?

 </p>
</div>
</div>