<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 6: Practique
Entidades Distintas</h1>
<hr>
<p>
    Existen muchos dueños de negocios pequeños que operan
en una nube de confusión todos los días porque no practican
entidades distintas. Específicamente, estos dueños de
negocios pequeños no separan su dinero personal del dinero
ganado por su negocio.
<br>
<br>
El primer paso al practicar entidades distintas es alcanzado
por medio de la separación física de tu dinero personal y el
dinero de tu negocio. Si tienes acceso a cuentas bancarias,
asegúrate que tienes una cuenta bancaria de negocio y una
cuenta bancaria personal. Si te encuentras demasiado lejos
de los bancos o si el usar los bancos no es práctico para ti,
debes tener cajas separadas donde puedes guardar tu dinero
personal y el dinero relacionado con tu negocio.
<br>
<br>
La regla general que te será más útil en esta separación es la
siguiente: Págate un salario suficiente para vivir. Para pagarte
un salario suficiente para vivir, primero determina cuanto
dinero necesitas para cubrir tus gastos personales. Cuando te
pagas un salario suficiente para vivir, se te hará más clara la
cantidad de dinero necesario para tus necesidades personales
y familiares.
<br>
<br>

Otra regla general que es importante recordar cuando estas
separando el dinero personal del dinero relacionado con
tu negocio es la siguiente: Sé generoso. Por ejemplo, si
tienes un familiar que te pide que le des comida gratis de
tu negocio, no lo puedes permitir; eso sería robar de tu
negocio. Una buena alternativa sería invitar a este familiar
para comer una comida preparada en casa con el dinero de
tu salario. 
<br>
<br>
Aplicación Espiritual
<br>
La forma de separar las entidades genera organización:
<br>
Lucas 10:25-37; Mateo 25:1-14; Mosíah 4:28
<br>
<br>
Observe, Aprenda, Aplique
<br>
¿Por qué es necesario mantener registros cuando
estás separando las entidades?
<br>
Pinnacle Partners
<br>
 Entrepreneur.com
<br><br>
Estudios Demuestran
<br>
En el año 2013 un profesor de la universidad de Brigham
Young y 15 estudiantes, llevaron a cabo una
evaluación de más de 300 artículos de finanzas y
contabilidad. Cada uno de estos artículos concluyó
que el dinero personal y el dinero relacionado con el
negocio nunca se deben combinar.<br>
¿Qué sucede cuando uno combina cosas que deben
mantenerse separadas?

</p>
</div>
</div>