<div class="container">
    <div class="col-md-3">
<sidemenudutytoprosperspanish>
</sidemenudutytoprosperspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Leccion 2: Ganancia
 Neta
</h1>
<hr>
<p>
    Tu responsabilidad principal como el dueño de un negocio
es generar ganancia neta. Ganancia neta es la cantidad
de dinero que queda después de restar los costos de venta
de producto/servicio a tus clientes, como también restar
todos los gastos operativos (de donde se deduce tu salario
personal). Ganancia neta también se conoce como “los
resultados” y es por lo que tienes que ser responsable como
el dueño del negocio.
<br>
<br>
Dos maneras especificas de incrementar la ganancia en tu
compañía son: (1) Comprar tu inventario al por mayor y
(2) vender tus productos y/o servicios a un precio más alto.
Primero, si compras tu inventario al por mayor, podrás
negociar para obtener mejores precios. Reducir el precio
por el que compras te ayudará a incrementar tus ganancias.
<br>
<br>
Segundo, si agregas más valor a tus productos y/o servicio
a través de un servicio al consumidor superior, entrega
confiable, consistencia y control de calidad, tú vas a poder
subir tus precios. Al subir un poco tu precios, mientras también
compras tu inventario al por mayor, vas a incrementar
tus ganancias significativamente.
<br>
<br>
Aplicación Espiritual
<br>
¿Qué clase de “ganancia” quiere el Señor que tengamos?
 <br>
 D&C 46:1; 2 Nefi 2:14
 <br>
2 Nefi 4:15; 1 Nefi 19:23

<br>
<br>
Observe, Aprenda, Aplique
<br>
¿Qué puedes aprender de este ejemplo?<br>
 Respuestas de Inversión 
<br>
<br>
Estudios Demuestran
Casi 3,000 graduados de la Academia han sido encuestados
en los últimos 5 años. Durante la encuesta
se comparó la ganancia neta entre los graduados de
la Academia y los que no lo son. Con relación a la
ganancia neta, los graduados de la Academia, tienen
una mayor ganancia bruta y ganancia neta que los
que no han recibido la instrucción de la Academia.<br>
¿Por qué piensa que esto ocurre?


</p>
</div>
</div>