<div class="album">
    <div class="container">
        <h1 class="text-primary">
            Philippines
            </h1>
            <hr>
        <!--<p>Success in business isn’t reserved for those who are born with natural talent. 
            Success can be achieved when correct principles are taught and applied in business. 
            Each month in group meetings, a business skill will be highlighted, which if implemented will lead to greater success of the business.</p>
        <p>These agendas provide lesson material for each of these business skills.</p>!-->
    </div>
</div>


<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Choose the Business Name</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.sba.gov/starting-business/choose-register-your-business/choose-your-business-name" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/76958" target="_blank" class="btn-agenda">First</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">How to Name your Business</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/21774" target="_blank" class="btn-agenda">First</a></h4>
            </div>
             <div class="card">
                <h1 class="agenda-title">Register your Business</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left"><a href="https://www.entrepreneur.com/article/231977" target="_blank" class="btn-agenda">First Resource</a></h4>               
                <h4 class="btn btn-primary btn-agenda-left"><a href="https://www.sba.gov/starting-business/choose-register-your-business" target="_blank" class="btn-agenda">First Resource</a></h4>               

            </div>
            
        </div>
    </div> 
</div>

    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Select Business Structure</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/38822" target="_blank" class="btn-agenda">First</a></h4>
            </div>
            <div class="card">
                <h1 class="agenda-title">Write a Business Plan</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.youtube.com/watch?v=PDWvcsTloJo" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.youtube.com/watch?v=O_L0BqPWBLo" target="_blank" class="btn-agenda">First</a></h4>          
            </div>
            <div class="card">
                <h1 class="agenda-title">Build Customer Trust</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/yec/2014/04/22/three-ways-to-build-customer-trust/#4fc7eb3e78db" target="_blank" class="btn-agenda">First</a></h4>
            </div>
        </div>
    </div> 

<div class="red-background">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Have Great Customer Service</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.thebalance.com/providing-excellent-customer-service-2951744" target="_blank" class="btn-agenda">First</a></h4>
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/aileron/2012/11/15/the-10-keys-of-excellent-customer-service/#71bc77f2361f" target="_blank" class="btn-agenda">First</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">Select Target Population</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/chuckcohn/2015/02/06/steps-to-identify-your-target-market/#76d0d1632a8f" target="_blank" class="btn-agenda">First</a></h4>
                 
            </div>
            <div class="card">
                <h1 class="agenda-title">Develop a Brand</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/77408" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/241960" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.businessinsider.com/how-to-create-a-killer-brand-2013-8" target="_blank" class="btn-agenda">First</a></h4>
                 
            </div>
        </div>
    </div> 
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="card">
                <h1 class="agenda-title">Social Media to Maraket</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/kymmcnicholas/2011/09/19/how-to-use-social-media-to-promote-your-small-business/#6f6b6d4d3bbf" target="_blank" class="btn-agenda">First</a></h4>
                 <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/218160" target="_blank" class="btn-agenda">First</a></h4>

            </div>
            <div class="card">
                <h1 class="agenda-title">Scale your Small Business</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="https://www.entrepreneur.com/article/232272" target="_blank" class="btn-agenda">First</a></h4>
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/ericwagner/2013/11/20/5-steps-to-scale-your-business-you-wont-make-it-otherwise/#1ade07af29e4" target="_blank" class="btn-agenda">First</a></h4>
                    <h4 class="btn btn-primary btn-agenda-left" ><a href="http://www.forbes.com/sites/philipsalter/2016/05/02/the-six-steps-to-scaling-a-business/#727e23ef6404" target="_blank" class="btn-agenda">First</a></h4>
            </div>
             <div class="card">
                <h1 class="agenda-title">Evaluate Contractual Risk</h1>
                <img src="../app/images/placeholder.png" class="photo-spacing">
                <h4 class="btn btn-primary btn-agenda-left"><a href="http://www.cbicontracts.com/how-to-evaluate-your-contractual-risk/" target="_blank" class="btn-agenda">First Resource</a></h4>               

            </div>
            
        </div>
    </div> 
</div>
