
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="/ruleofthumblesson1Spanish">LECCIÓN 1</a></li>
                    <li><a routerLink="/ruleofthumblesson2Spanish">LECCIÓN 2</a></li>
                    <li><a routerLink="/ruleofthumblesson3Spanish">LECCIÓN 3</a></li>
                    <li><a routerLink="/ruleofthumblesson4Spanish">LECCIÓN 4</a></li>
                    <li><a routerLink="/ruleofthumblesson5Spanish">LECCIÓN 5</a></li>
                    <li><a routerLink="/ruleofthumblesson6Spanish">LECCIÓN 6</a></li>
                    <li><a routerLink="/ruleofthumblesson7Spanish">LECCIÓN 7</a></li>
                    <li><a routerLink="/ruleofthumblesson8Spanish">LECCIÓN 8</a></li>
                    <li><a routerLink="/ruleofthumblesson9Spanish">LECCIÓN 9</a></li>
                    <li><a routerLink="/ruleofthumblesson10Spanish">LECCIÓN 10</a></li>
                    <li><a routerLink="/ruleofthumblesson11Spanish">LECCIÓN 11</a></li>
                    <li><a routerLink="/ruleofthumblesson12Spanish">LECCIÓN 12</a></li>
                    <li><a routerLink="/ruleofthumblesson13Spanish">LECCIÓN 13</a></li>
                    <li><a routerLink="/ruleofthumblesson14Spanish">LECCIÓN 14</a></li>
                    <li><a routerLink="/ruleofthumblesson15Spanish">LECCIÓN 15</a></li>
                    <li><a routerLink="/ruleofthumblesson16Spanish">LECCIÓN 16</a></li>
                    <li><a routerLink="/ruleofthumblesson17Spanish">LECCIÓN 17</a></li>
                    <li><a routerLink="/ruleofthumblesson18Spanish">LECCIÓN 18</a></li>
                    <li><a routerLink="/ruleofthumblesson19Spanish">LECCIÓN 19</a></li>
                    <li><a routerLink="/ruleofthumblesson20Spanish">LECCIÓN 20</a></li>
                    <li><a routerLink="/ruleofthumblesson21Spanish">LECCIÓN 21</a></li>
                    <li><a routerLink="/ruleofthumblesson22Spanish">LECCIÓN 22</a></li>
                    <li><a routerLink="/ruleofthumblesson23Spanish">LECCIÓN 23</a></li>
                    <li><a routerLink="/ruleofthumblesson24Spanish">LECCIÓN 24</a></li>
                    <li><a routerLink="/ruleofthumblesson25Spanish">LECCIÓN 25</a></li>
                </ul>
            </nav>
</div>