
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="#">Introduction</a></li>
                    <li><a routerLink="#">Lesson 1</a></li>
                    <li><a routerLink="#">Lesson 2</a></li>
                    <li><a routerLink="#">Lesson 3</a></li>
                    <li><a routerLink="#">Lesson 4</a></li>
                    <li><a routerLink="#">Lesson 5</a></li>
                    <li><a routerLink="#">Lesson 6</a></li>
                    <li><a routerLink="#">Lesson 7</a></li>
                    <li><a routerLink="#">Lesson 8</a></li>
                    <li><a routerLink="#">Lesson 9</a></li>
                    <li><a routerLink="#">Lesson 10</a></li>
                    <li><a routerLink="#">Lesson 11</a></li>
                    <li><a routerLink="#">Lesson 12</a></li>
                    <li><a routerLink="#">Rules of Thumb for Business Success</a></li>
                </ul>
            </nav>
</div>