<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 6
¿QUÉ DEBO HACER PARA GANAR DINERO EN LOS NEGOCIOS?</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Cómo se gana dinero en los negocios?
</li>
<li>¿Qué actividades básicas debo hacer una y otra vez para ganar dinero?
</li>
<li>¿Qué puedo hacer para disminuir el riesgo de perder el poco dinero que tengo?
</li>
<li>¿Qué puedo comprar a crédito y vender al contado en mi vecindario? 
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Mantenga entidades separadas
</li>
<li>Páguese un sueldo justo
</li>
<li>Sea amable después
</li>
<li>Compre barato; venda caro
</li>
<li>Use múltiples proveedores
</li>
<li>Rote su inventario a menudo
</li>
<li>Compre a crédito; venda en efectivo
</li>
<li>No se coma de su inventario 
</li>
</ul>

<p>
<p>Palabras nuevas</p>
<ul>
    <li>Inventario:La materia prima y los productos que una empresa posee y fabrica con el propósito
de venderlos a los clientes.</li>
<li>Crédito: Cualquier contrato legal en el cual un prestatario recibe algo de valor ahora (a
menudo dinero en efectivo o mercancia) y está de acuerdo en pagarle al prestamista
o proveedor en una fecha futura.
</li>
</ul>
<p>A la fecha, usted debería estar operando su negocio y tratando de aplicar el Modelo CMV para
mejorar su rentabilidad, pero lo más probable es que aún tenga un buen número de preguntas. ¿Algo
de esto suena conocido? ¿Estoy haciendo las cosas bien? ¿Estoy ganando tanto dinero como el que
debería o podría ganar? ¿Cuánto tiempo pasará para ver mejoras en mis condiciones de vida?
<br>
<br>
Esta lección ha sido preparada para responder a estas y muchas más preguntas. También le enseñará
las “reglas de oro” que necesita seguir para recibir las bendiciones del éxito económico. Estas reglas
de oro explican algunos de los principios más esenciales en los negocios que, al ser implementados,
le ayudarán a establecer una base sólida para su negocio.
<br>
<br>
Estudie la siguiente información sobre cada regla de oro. Medite sobre cada una de ellas y anote las
acciones que debe tomar a fin de poner su negocio actual de acuerdo con las reglas de oro.
<br>
<br>
Mantenga entidades separadas
<br>
Usted debe pensar en su negocio y su familia como entidades completamente separadas la una de la
otra. Esto quiere decir que usted debe mantener el dinero de su negocio separado de su dinero
personal. Ninguno de los miembros de su familia, vecinos, amigos o empleados debería tener
acceso a su dinero en efectivo o a sus bienes sin pagar antes por ellos. Esta es una regla difícil de
hacer cumplir, pero recuerde que a fin de que usted sea lo que quiere ser, o sea, próspero, usted
debe adoptar nuevos hábitos. Aprenda en este momento a mantener separados el dinero personal y
el dinero del negocio y usted cosechará las recompensas.
<br>
<br>

He aquí una pregunta difícil: Si usted nunca toma dinero de su negocio para ayudar a su familia,
entonces, ¿qué de bueno tiene el acumular dinero en el negocio? Claramente, en algún momento,
usted deberá empezar a tomar algo de dinero de su negocio para su uso personal sin dejar
simplemente que los miembros de su familia tomen dinero o bienes de su negocio. ¿Cuál piensa
usted que es la mejor manera de hacer eso?
<br>
<br>
Compare la siguiente lista de lo que debe y no debe hacer con las respuestas que dio a las preguntas
anteriores:
<br>
<br>
Lo que no debe hacer
<br>
</p>
<ul>
<li>No deje que los miembros de su familia o clientes lleven productos sin haberlos pagado en
efectivo.
</li>
<li>No deje el dinero descuidado, ya que al hacerlo los miembros de su familia u otros se verán
tentados a tomarlo.
</li>
<li>No lleve a casa todas sus ganancias todos los días.
</li>
</ul>

<p>
Lo que debe hacer<br>
</p>

<ul>
<li>Páguese un salario, el mismo monto todos los días o semanas.
</li>
<li>Ajústese a un presupuesto basado en el salario que se paga a usted mismo.
</li>
<li>Ocasionalmente (tal vez una vez al mes), lleve a casa algo extra para la familia, de manera
que sientan que vale el sacrificio por el tiempo invertido en el negocio.
</li>
<li>Haga que su familia participe en el establecimiento de metas a largo plazo para salir de la
pobreza. Dígales la razón por la cual no pueden llevarse los productos o dinero del negocio.
</li>
</ul>

<p>¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>

Páguese un sueldo justo
<br>
Claramente, la mejor manera de tomar dinero del negocio para uso personal es practicar otra regla
de oro: páguese un sueldo justo. Sea inteligente cuando decida cuánto dinero debe pagarse diaria o
semanalmente. Hable con su esposa para determinar qué necesidades tienen. Prepare un presupuesto
familiar para entender muy bien sus necesidades y sus gastos. Durante las primeras semanas en el
negocio, preste mucha atención al monto de ganancias que produce cada día. Recuerde que algo de
esas ganancias debe permanecer en el negocio de manera que pueda crecer, y algo de esas
ganancias debe ser su sueldo a fin de sustentar a su familia. A medida que se acostumbre y se
vuelva disciplinado en tomar el mismo monto de dinero diaria o semanalmente, su familia también
se acostumbrará y se volverá disciplinada en vivir con el mismo monto de dinero. El volverse
disciplinado es parte del cambio que debe hacer si es que desea salir de la pobreza a la prosperidad.
<br>
<br>
Recuerde, también, que debe pagar sus diezmos de este sueldo, no de toda la ganancia del negocio
ni de los ingresos brutos de su negocio – solo de su sueldo. ¿Recuerda usted el ejemplo del negocio
de vender tortas en la Lección 5? Al vender una sola torta, tiene un ingreso bruto de 12 pesos.
Tiene gastos totales de 9 pesos, incluso su sueldo. La ganancia es 3 pesos. Supongamos que su
sueldo es 2 pesos por cada torta. ¿Cuántos diezmos pagaría? ¿s/.1,20, 0,90, 0,20, o 0,30?
<br>
¡La respuesta correcta es s/.0,20!
<br>
<br>

¿Cuánto dinero del negocio necesitará para pagarse su salario semanal?
<br>
<br>
¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>
Asignación
<br>
Para determinar cuánto dinero necesita su familia para vivir, prepare un presupuesto familiar usando
los materiales al final de esta lección. Este presupuesto le ayudará mucho a desarrollar la disciplina
necesaria de llegar a ser próspero.
<br>
<br>
Sea amable después
<br>
Un área de suma importancia en la cual usted necesitará aprender a ser disciplinado es la forma en
que deberá tratar a sus parientes o amigos que, al ver que su situación financiera ha mejorado,
empezarán a pedirle dinero y favores. Podrían empezar pidiéndole tan sólo unos cuantos pesos o
algunos comestibles, pero todo esto puede traer problemas mayores en su negocio. Por tanto, usted
necesita aprender a ser amable después. En otras palabras, tiene que aprender a decir “no”. Tal vez
necesite explicarles a sus familiares y amigos que usted está esforzándose por levantar su negocio a
fin de poder ayudarlos más adelante. Recuerde que si aprende a decir “no” a lo que ellos le pidan
ahora, usted podrá levantar su negocio y ser capaz de darles mucho más en el futuro, incluso un
trabajo y una oportunidad para que ellos mismos tengan éxito financiero. Si quiere ayudar, dé
solamente de su propio sueldo.
<br>
<br>
¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>
Compre a barato; venda caro
<br>
Para tener ganancias en un negocio, usted debe vender algo a un precio mayor del que pagó por él.
La diferencia entre el costo que usted pagó por un artículo y el precio que cobra por él es la utilidad
bruta o margen de utilidad. Mientras mayor sea la diferencia, mayor será la ganancia. Toda venta se
compone de dos transacciones: (1) la compra del producto por el propietario del negocio y (2) la
venta del producto al cliente. La regla “Compre barato; vendacaro” abarca los dos lados del ciclo de
ventas. Cuando usted compra materia prima a un bajo costo y le pone el precio correcto a sus
productos, los ahorros de costo resultantes y el ingreso adicional van directamente al balance y
rentabilidad de su negocio
<br>
<br>
Una de las maneras de asegurarse de que está teniendo ganancias es la de comparar precios y
negociar en la fase de captación. Clarisa, la propietaria de un pequeño puesto de frutas, aprendió
esta lección a la fuerza. Ella creía firmemente en ser leal a su proveedor, a quien le había comprado
fruta por muchos años. Sin embargo, un día, el proveedor le dijo a Clarisa que había consultado con
otros puestos de frutas minoristas y que ellos estaban cobrando más que él, así que él iba a
incrementar sus precios y ponerlos a nivel de minorista.
<br>
<br>
En su afán de serle leal a su proveedor, Clarisa le continuó comprando a él, a pesar de lo caro que le
vendía. Debido a que ella pagó más por su inventario, no podía agregarle a sus precios suficiente
margen de ganancias como para mantenerse en el negocio. Como resultado, el negocio de Clarisa
quebró.
<br>
<br>
Mencione tres cosas que Clarisa podría haber hecho para practicar la regla de oro de comprar barato
y vender caro.
<br>
<br>

¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>
Use multiples proveedores
<br>
Si Clarisa hubiera usado siempre por lo menos dos proveedores, habría podido negociar mejor los
precios. Es triste para ella que su negocio haya tenido que quebrar para aprender este valioso
principio. Una cosa es la lealtad a los proveedores, pero más importante que eso es la lealtad a su
propio negocio y al potencial que tiene éste para ayudar a su familia.
<br>
<br>
¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>
Asignación
<br>
Averigüe los costos de su materia prima y/o las herramientas y el equipo con varios proveedores.
Busque ofertas u otras oportunidades de conseguir el mejor precio posible para sus compras.
Negocie con sus proveedores para contratar los mejores precios posibles.
<br>
<br>
Rote su inventario a menudo
<br>
Rotar su inventario lo más rápido posible es una regla muy poderosa pero a la cual muchas veces no
se le da la debida importancia. Esta ley brinda grandes bendiciones para aquél que la entiende y la
práctica fielmente. La combinación de las reglas de comprar barato y vender caro junto con la de
vender su inventario lo más rápido posible, puede producir ganancias para el que aprecia el poder
que trae.
<br>
<br>
He aquí un ejemplo: Si compra un producto por 10 pesos y lo vende por 30 pesos, usted habrá
ganado 20 pesos. Si hace eso dos veces al día, tendrá una utilidad de 40 pesos. ¿Y qué tal si lo hace
cinco veces al día? Pues, habrá sacado una utilidad de 100 pesos aquel día.
<br>
<br>
Calcule cuánta ganancia tendría si usted trabajara seis días y vendiera su inventario cinco veces al
día con el mismo promedio de retorno.
<br>
(600 pesos)
<br>
<br>
Ahora calcule cuánta ganancia tendría en una semana si vendiera su inventario diez veces al día con
una ganancia de 20 pesos cada vez, haciéndolo seis veces a la semana. ¿Cuánta ganancia tendría al
término de la semana?
<br>
(1200 pesos)
<br>
<br>
Es por esta razón que es importante retirar productos que no se venden y que están ocupando
espacio en un estante. Si usted no puede vender un producto, entonces no podrá recibir dinero en
efectivo por ese producto y usar ese dinero para comprar más productos. Entonces, a usted le cuesta
dinero tener algo que está estancado en su estante por mucho tiempo. Vender su inventario lo más
rápido posible requiere que usted compre sabiamente, lo mejore sabiamente y lo promocione
sabiamente de manera que sus productos roten continuamente. También quiere decir que usted
tendrá que llevar un control de la fecha en que compra cada artículo del inventario para poder
identificar los productos que tienen salida rápida o lenta.
<br>
<br>
¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>

Compre a crédito, venda en efectivo
<br>
Usemos un ejemplo para explicar este concepto. Digamos que usted ha desarrollado una buena
relación de negocios con su proveedor: usted le ha estado comprado productos por un par de
semanas y se han vuelto amigos. Supongamos que usted espera un fin de semana de ventas bastante
concurrido y prevé que puede vender su inventario más rápido que el dinero que tiene para
comprarlo. En otras palabras, usted está seguro de poder vender más inventario si sólo tuviera más
inventario. Usted le pide a su proveedor que le permita comprar algo de su inventario a crédito, o
sea, que usted le pague un monto acordado en la hora y fecha acordadas. Él le deja a usted comprar
su mercancía a crédito y usted la vende al contado. Básicamente, usted está usando su dinero (en la
forma de mercancía) para tener ganancias para usted mismo. Usted ha “comprado” y vendido el
producto y ha obtenido una ganancia antes de siquiera haber pagado por él.
<br>
<br>
Esta es una gran técnica para hacer crecer un negocio: usar el dinero de otros para su propio
beneficio. Para que esto funcione, usted debe (1) encontrar a un proveedor que confíe en usted lo
suficiente como para venderle su mercancía a crédito, (2) mantener la promesa que le hizo al
proveedor que le permitió comprar a crédito, y (3) vender exclusivamente al contado. De lo
contrario, no tendrá el dinero para pagar lo acordado.
<br>
<br>
¿Por qué debe vender exclusivamente al contado? ¿Qué riesgos corre usted al vender a crédito y no
al contado? ¿Hay alguna circunstancia en la que podría arriesgarse a vender a crédito? ¿Cómo
puede minimizar el riesgo de vender a crédito?
<br>
<br>
En este punto puede ser que usted necesite analizar la enseñanza de la Iglesia sobre las deudas. Se
nos ha aconsejado por muchos años que no debemos tener deudas. Los líderes eclesiásticos nos
aconsejan que no incurramos en deudas para obtener objetos personales lujosos tales como
televisores, sistemas de juegos por computadora, muebles, incluso una vivienda más grande de la
que realmente necesitamos. Hay dos excepciones: una casa modesta y la educación.
<br>
<br>
El crédito para un negocio es otro asunto. Si se hace sabiamente, el crédito para un negocio es
apropiado. Es claro que no le estamos recomendando que sea imprudente y adquiera una deuda tan
grande que nunca será capaz de pagar. Pero tal como menciona el manual, el crédito no generará
intereses si se paga en el tiempo acordado. Siempre es un riesgo, pero es un riesgo sensato. Obtener
un préstamo para mejorar su negocio es apropiado también, si es que tiene un plan de cómo usar el
dinero para mejorar el negocio y traer suficientes ingresos adicionales y así pagar rápidamente el
préstamo. He aquí otra manera en lugar de pedir un préstamo: Si su negocio está generando
ganancias, éstas deben volverse a invertir en el negocio y evitar así un préstamo innecesario y los
intereses en los cuales se incurrirían.
<br>
<br>
¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>
No coma de su inventario
<br>
Después de graduarse de la Academia para la Creación de Empresas, Bryan Villegas pidió quedarse
en el Instituto y trabajar allí como custodio a fin de ahorrar parte de su dinero para abrir un pequeño
negocio de carne a la parrilla. No sólo trabajaba como custodio, sino que también traía y vendía
dulces a los estudiantes que estaban inscritos en la Academia. Había aprendido muchas de las reglas
de oro que están en esta lección; sin embargo, él habría de enseñarnos una nueva regla de oro, que
se ha convertido en una de nuestras reglas más populares. 
<br>
<br>

Un día, al salir de la Academia, vimos a Bryan con los cachetes inflados, tenía la boca llena de algo.
Parecia que Bryan se había desanimado porque había olvidado la importancia de vender al contado,
y algunos de los alumnos se habían olvidado de pagarle. Para sentirse mejor, se llenó la boca con
sus propios dulces. Cuando le preguntamos que estaba comiendo, avergonzado contestó, “Estoy
comiendo mi inventario”.
<br>
<br>
Al día siguiente les presenté a nuestros estudiantes nuestra regla más reciente: No se coman su
inventario. El comerse, obsequiar o dejar que otros “se presten de” su inventario son maneras de
perder dinero, y esto le podría costar a usted su negocio y el futuro de prosperidad de su familia.
<br>
<br>
Nunca deje que nadie tome de su inventario sin pagar, ¡ni siquiera usted mismo!
<br>
<br>
¿Qué cambios debe hacer usted para poner en práctica esta regla de oro?
<br>
<br>
Revisemos las reglas de oro que hemos aprendido en esta lección. Por cada regla, anote la bendición
que usted y su negocio recibirán por la obediencia a la regla de oro. 
<br>
<br>
Regla:<br>
</p> 
    <ul>
        <li>Empiece en pequeño; piense en grande
        </li>
        <li>Mantenga entidades separadas
        </li>
        <li>Páguese un sueldo justo
        </li>
        <li>Sea amable después
        </li>
        <li>Compre barato; venda caro
        </li>
             <li>Use multiples proveedores
             </li>
             <li>Rote su inventario a menudo
             </li>
             <li>Compre a crédito; venda en efectivo
             </li>
             <li>No coma de su inventario
             </li>
    </ul>
    <p>De todas estas reglas de oro, elija tres que sean las más importantes para usted personalmente.
<br>
<br>
Al laborar en su negocio, repase estas reglas de oro a menudo ya que le ayudarán a hacer crecer su
negocio más rápido y se volverá más estable y más rentable.
<br>
<br>
Asignación final escrita
<br>
Según lo que ha aprendido en esta lección, defina brevemente cada una de las reglas de oro que
haya aprendido y resuma por qué es tan importante aplicarlas en su negocio. Busque proveedores
adicionales si es necesario. Prepare su presupuesto familiar.
<br>
<br>

Conclusión general
<br>
Mientras más pronto tome decisiones correctas de negocios, adopte prácticas correctas, y tome
acciones apropiadas consistentemente, más pronto podrá proveer una mayor cantidad de dinero para
ayudar a su familia con sus necesidades vitales.
<br>
<br>
Un presupuesto familiar es un plan de gastos
<br>
&nbsp; 1. Anote todos sus ingresos y todos sus gastos por un mes. Utilice un formulario como el que se ha
proporcionado a continuación. La mayoría de la gente no puede recordar todos estos números.
Entonces, consiga un cuaderno y simplemente escriba cada gasto y cada ingreso cuando estos
ocurran. No se olviden los gastos que no ocurren cada mes, como por ejemplo los impuestos o
gastos del colegio.
<br>
&nbsp; 2. De esta manera, usted verá dónde está el dinero que se ha gastado y podrá controlar y tomar
decisiones sobre su dinero basado en un plan. Haga un plan para sus gastos e ingresos para el
próximo mes, usando su historial del mes pasado para ayudarle a planear. En otras palabras, estime
los montos que van a ingresar y gastar. Estos números constituyen su presupuesto. Los ingresos
deben ser mayores que los gastos. ¿Puede usted aumentar sus ingresos? ¿Dónde puede usted cortar
unos gastos?
<br>
&nbsp; 3. Pague el diezmo. El pago del diezmo es un mandamiento. El pagar demuestra nuestra fe y
obediencia y nos califica para recibir las bendiciones que Dios nos ha prometido. Él promete abrir
las ventanas del cielo y verter una bendición sobre nosotros. Puede ser más fácil separar el diezmo
tan pronto como usted obtiene una ganancia y no esperar hasta el final del mes para considerar
todas las ganancias que obtuvo durante el mes, ya que tal vez no podría recordar todo.
<br>
&nbsp; 4. Ahorre un poco de dinero cada mes. El ahorro le protegerá de gastos inesperados, de manera que
esos gastos inesperados no se conviertan en una crisis. Planee para las compras o los costos grandes
ahorrando un poco cada mes hasta que usted alcance su meta. Un buen consejo que oí una vez fue el
de “dé el diez por ciento a Dios, ahorre el diez por ciento y gaste el resto con acción de gracias y
alabanza”.
<br>
&nbsp; 5. Ajústese a su presupuesto. Si usted recibe su sueldo mensual o quincenalmente, una ayuda sería
dividir el dinero y colocarlo en sobres separados para cada categoría de costo tal como alimentos,
alquiler, pasajes, etc. para ayudarse a no perder de vista lo que usted ha gastado. Siga anotando cada
gasto e ingreso en su cuaderno.
<br>
&nbsp; 6. Evalúe el plan. Compare sus gastos actuales con el plan (su presupuesto). Tenga paciencia. Tal
vez tendrán que cambiar su presupuesto un poco, de vez en cuando, para mejorarlo. Trabajen
juntos. Puede tomar cierto tiempo el poder cambiar hábitos y aprender a trabajar juntos. Incluya a
sus hijos cuando usted fije las metas para su familia.
<br>
<br>
Si desea más información sobre las finanzas o presupuesto, vaya a la página web de la Iglesia,
http://www.providentliving.org
</p>
</div>
</div>