<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">Lesson 12: How Can My Business Bless My Family Now and in the Future?</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Las recompensas de ser dueño de mi propio negocio merecen el estrés y la presión que
se convertirán en parte de mi vida diaria?
</li>
<li>¿Cómo puedo involucrar a los miembros de mi familia en mis actividades de negocios?
</li>
<li>¿Qué puedo hacer para asegurar que mi éxito temporal contribuya con la estabilidad
espiritual de mi familia y no que le quite valor?
</li>
<li>¿Cómo puedo asegurar que el éxito temporal de mi familia continuará por generaciones?
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Si trabajo por tres o cinco años como ningún otro está dispuesto a hacerlo, entonces
podré vivir el resto de mi vida como nadie más lo hará.
</li>
<li>Su negocio nunca debe reemplazar a su familia como lo más importante en su vida. El
negocio esta allí para satisfacer las necesidades de la familia, y no al revés.
</li>
<li>El romper las cadenas de la pobreza familiar al desarrollar un negocio bendecirá a
generaciones. Un negocio estable puede convertirse en un valioso legado familiar que
genere dinero para los hijos, nietos y bisnietos.

</li>
</ul>


<p>
    Al aproximarse a la culminación de este manual, volvamos a la pregunta central que contesta este
plan de estudios: ¿Cómo puedo sacar a mi familia de la pobreza a la prosperidad? Ahora usted ya
sabe la respuesta: aprendiendo algunas reglas fundamentales de negocios, iniciando una actividad
generadora de ingresos, y trabajando en ello hasta que llegue a ser un negocio estable y de éxito. No
importa en qué parte esté en este camino, esperamos que sienta que al menos ha iniciado la jornada
hacia una vida abundante. A continuación no despedimos con algunas palabras de consejo y aliento.
<br>
<br>
Los sacrificios iniciales conducen a la prosperidad a largo plazo
<br>
Probablemente ha ido descubriendo que durante los primeros meses y años de su negocio, usted
debe hacer varios sacrificios. Puede que llegue a trabajar muy temprano por la mañana y que salga
hasta la noche. Probablemente piense y trabaje en su negocio todo el día y trabaje para el por las
noches. A veces puede pensar que está trabajando muy duro pero sin recibir ningún beneficio. Es
probable que las preocupaciones se acumulen en su vida y en la vida de los miembros de su familia.
Sin embargo, es en ese momento en que debe recordar el refrán, “Si trabajo por tres o cinco años
como ningún otro está dispuesto a hacerlo, entonces podré vivir el resto de mi vida como nadie más
lo hará”.
<br>
<br>
Mencione las cosas que está dispuesto a sacrificar ahora para que pueda vivir la vida que desea vivir
en el futuro.
<br>
<br>

A pesar de que sacrificar algunas cosas es necesario, hay algunas cosas que no debe sacrificar para
tener un negocio exitoso. Su fe, familia e integridad siempre deben tener mayor prioridad que su
negocio, no solo porque son las cosas más importantes de la vida, sino también porque pueden
ayudarle a ser un mejor empresario de lo que podría ser sin ellas. Su fe en el Señor le puede dar la
fuerza para continuar en momentos difíciles; su familia puede servirle como un recordatorio
constante de la razón por la que está en el negocio; y su integridad debe ser parte central de quién es
usted y lo que hace, y por esa razón, no puede ser comprometida. Nunca debe cambiar lo que más
desea en la vida por lo que desea ahora.
<br>
<br>
Anote qué cosas no está dispuesto a sacrificar por el éxito de su negocio.
<br>
<br>
Una historia de éxito: ¡Los sacrificios tienen recompensa!
<br>
Pedro Caro es un excelente egresado de la Academia para la Creación de Empresas en las Filipinas.
Él ingresó a la Academia tímido y callado, pero las experiencias que tuvo en su vida lo habían
preparado para la ardua labor de hacer crecer varios negocios. Ésta es su historia.
Pedro nació dentro de una familia de escasos recursos. Su padre estaba muy enfermo y no
podía trabajar para sostener a la familia, por lo que Pedro aprendió a trabajar duro a la
temprana edad de 7 años. Después de servir una misión y casarse en el templo, él y su
esposa se mudaron a su primer hogar el cual fue de muy humildes condiciones. Cada día les
fue difícil el poder traer comida a la mesa. Un día, mientras visitaba a un familiar, Pedro vio
un gran triciclo que estaba en el patio. Preguntó si podía tomarlo prestado para trabajar
como taxista y transportar a las personas alrededor de la pequeña ciudad. Ellos estuvieron de
acuerdo, y él muy contento tomó el triciclo y comenzó a ganar dinero. Los ingresos que
obtuvo de esa pequeña actividad generadora de ingresos le permitieron recibir más
educación. Aprendió soldadura, carpintería, albañilería y plomería. Sin embargo, él y su
esposa todavía necesitaban más dinero.
<br>
<br>
Después de tener la oportunidad de estudiar principios para formar un negocio en la
Academia para la Creación de Empresas, Pedro regresó a su ciudad convertido en un
hombre nuevo. Se le ofreció la oportunidad de manejar una franquicia de Cellular City.
Como él no tenía suficiente dinero para comprar la franquicia, su esposa entonces comenzó
a reunir dinero de amigos y miembros de la familia, con la promesa de devolver el dinero
tan pronto como él pudiera.
<br>
<br>
Los primeros meses del negocio de Pedro fueron difíciles. Él trabajó largas horas y su
esposa trabajó con él como su contadora. Durante el día, ellos trabajaban en el negocio; por
la noche, trabajaban para mejorar el negocio. Ellos trabajaban mientras otros dormían.
Lucharon por permanecer optimistas, mientras que otros dudaban de sus posibilidades de
éxito. Pero, finalmente, los sacrificios comenzaron a dar resultado.
<br>
<br>
La franquicia de Pedro para la venta de celulares llegó a tener éxito bastante rápido debido a
las largas horas y el arduo trabajo que Pedro puso en él. Luego amplió el negocio con la
venta de accesorios para celulares y planes de llamadas. Una vez que la franquicia estaba 
establecida y contaba con empleados de confianza y buenos sistemas, Pedro abrió una
segunda franquicia. Después de que la segunda se amplió, él comenzó a diversificarse
abriendo otros negocios: una imprenta, una agencia de publicidad, una agencia de viajes, un
negocio de purificación de agua, y una fábrica de bolsas. En total, ¡las empresas tienen a la
fecha más de 5 millones de pesos de capital operativo!
<br>
<br>
Pedro mira en retrospectiva al arduo trabajo y sacrificio de los primeros años y, sin dudar,
dice que valieron la pena, es decir, que su éxito actual no hubiera sido posible si al empezar
no hubiera pasado por grandes dificultades. De aquellos tiempos difíciles, Pedro aprendió a
trabajar duro, a resolver problemas, a ser creativo, a confiar en su esposa y en el Señor, a
tomar el control de su vida y hacer que su negocio genere ganancias. Aprendió a seguir
haciendo las cosas correctas, aun cuando a menudo eran difíciles, hasta que se convirtieron
en algo natural para él. Él personificó un dicho del presidente Heber J. Grant, “Aquello, en
lo cual persistimos se hace más fácil para nosotros, no porque la naturaleza de ello haya
cambiado, sino porque nuestro poder para hacerlo es mayor” (Conference Report, abril de
1901, p. 63). Las habilidades que Pedro desarrollo mientras luchaba por hacer que la primera
franquicia tuviera éxito, le han dado a él un sentido de confianza que no podría haber
desarrollado de otro modo. La independencia financiera y la estabilidad que él y su familia
disfrutan ahora son las bendiciones que provienen de sus sacrificios y su fe.
<br>
<br>
¿Qué bendiciones está viendo como resultado de sus esfuerzos en hacer sacrificios?
<br>
<br>
La familia y los negocios
<br>
Uno de los gratificantes beneficios de poseer y manejar su propio negocio es que usted puede
incluir a su familia en su trabajo. En las primeras etapas de su negocio, usted pasará mucho tiempo
en su puesto, tienda u oficina. Con tanto trabajo por hacer y solamente 24 horas al día para hacerlo,
necesitará ser creativo en sus esfuerzos por equilibrar los diferentes aspectos de su vida. Es posible
que el involucrar a su familia en el negocio sea una manera de pasar tiempo de calidad con su
esposa e hijos mientras dedica el tiempo necesario a su negocio. (Como precaución, recuerde que
cuando tome la decisión de contratar empleados, usted debe ser muy cuidadoso al seleccionarlos
basado en sus capacidades y habilidades, y no en los lazos familiares para con usted, pero cuando se
trata de la esposa y los hijos, a veces usted puede crear un entorno en el que ellos “puedan
contribuir” y le ayuden a establecer el negocio familiar sin que sean empleados formales y sin
incurrir en riesgos indebidos.)
<br>
<br>
En La Familia: Una proclamación para el mundo, los líderes de la Iglesia declararon que “Los
matrimonios y las familias que logran tener éxito se establecen y mantienen sobre los principios de
la fe, la oración, el arrepentimiento, el perdón, el respeto, el amor, la compasión, el trabajo y las
actividades recreativas edificantes” (http://www.lds.org/library/display/0,4945,161-3-11-1,00.html,
énfasis agregado). El trabajo en familia permite que los miembros de la familia esten más unidos,
esto permite a los padres enseñar a los hijos cómo trabajar arduamente, cómo contribuir a un
objetivo familiar y como desarrollar habilidades y elevar la autoestima.
<br>
<br>
¿Qué actividades disfruta haciendo con su familia? ¿Por qué es que disfruta de ellas?
<br>
<br>

¿Trabaja a menudo junto con su familia? ¿Qué es lo que más disfruta al trabajar junto con su
familia? ¿Qué beneficios ve usted de trabajar juntos?
<br>
<br>
Trabajar codo a codo con su esposa e hijos ciertamente puede ayudar a su negocio pero también
puede ayudarle a establecer la unidad familiar. Por ejemplo, sus hijos pueden pasarla bien barriendo
los pisos, lavando las ventanas, sacando la basura, y haciendo mandados. Su esposa podría disfrutar
recopilando los registros diarios y poniéndolos en un libro de uso permanente o ayudando a elaborar
los productos que usted vende.
<br>
<br>
¿Qué cosas específicas podrían los miembros de su familia disfrutar hacer en su negocio? ¿Le
permitirían aquellas actividades pasar más tiempo con ellos?
<br>
<br>
Su negocio puede convertirse en el legado para su familia
<br>
A medida que involucre a su familia en su negocio, usted puede capacitar a sus hijos a hacerse
cargo del negocio en un futuro, abrir una franquicia de su negocio o especializarse en ciertos
aspectos del negocio como la contabilidad o las compras. Rudy, un graduado de la academia, está
haciendo exactamente eso con su hijo, Omar.
<br>
<br>
No hace mucho, Rudy abrió un negocio de venta de filtros de agua industriales y
domésticos. El hijo adolescente de Rudy, Omar, estaba emocionado por el nuevo negocio de
su padre, entonces Rudy incluyó a su hijo en el negocio tanto como fue posible. No era raro
verlos trabajar juntos durante varias horas cada día. Omar barría los pisos, hacía mandados,
y visitaba a los nuevos clientes con su padre. Rudy deseaba enseñar a Omar el gozo de
poseer y dirigir un negocio.
<br>
<br>
Rudy tenía una perspectiva a muy a largo plazo de su negocio. El trabajó mucho cada día,
pero sus esfuerzos siempre se aplicaron a la construcción de un negocio que pudiera durar
por generaciones. Él vio su negocio como el vehículo que le ayudaría a salir de la pobreza,
algo que podría dejar cuando muriera, algo que su familia podría poseer y dirigir durante
varias décadas futuras. Él deseaba tarde o temprano dejarle el negocio a su hijo, entonces
incluyó a Omar tanto como le fue posible.
<br>
<br>
Rudy recordó que un día, después de recoger el pago de algunos filtros de agua, miró a su
hijo y le preguntó, “¿Crees que habríamos ganado tanto dinero en un día si estuviéramos
trabajando para otra persona?” Omar sonrió y estuvo de a acuerdo que un “trabajo normal”
nunca habría pagado tanto dinero.
<br>
<br>
Un poco después esa misma semana, ellos fueron a un supermercado que estaba de camino a
su casa. Recorrieron cada pasillo, eligiendo los alimentos que necesitaban y deseaban, sin
preocuparse por los precios, no gastaron el dinero en artículos innecesarios sino que
obtuvieron cada cosa que necesitaban, algo que nunca hubieran podido realizar antes de que
Rudy empezara su negocio.
<br>
<br>
Aunque la familia de Rudy había vivido en la pobreza por generaciones, ahora ellos viven
cómodamente. Ahora tienen una casa, un carro, y un negocio que genera ganancias cada
semana. Y con trabajo arduo, enseñanza diligente, y un poquito de planificación, Omar y sus
hermanos disfrutarán de los mismos beneficios cuando tengan sus propias familias. Y
también lo harán sus hijos y los hijos de sus hijos…
<br>
<br>
¿Qué preocupaciones diarias han sido eliminadas al empezar Rudy su negocio?
<br>
<br>
¿Qué lecciones importantes ha enseñado Rudy a su hijo por estar trabajando en el negocio de la
familia?
<br>
<br>
Asignación final: ¿Cómo puede su negocio ser un legado para los miembros de su familia?
<br>
Usted ahora ha llegado al final de este manual. Es posible que haya empezado a estudiar estas
lecciones con una simple pregunta: “¿Cómo puedo darle una mejor vida a mi familia?”. Esperamos
que entienda mejor cómo establecer un negocio exitoso que pueda cambiar su vida. De hecho,
esperamos que su vida ya esté cambiando, es decir, que ya esté aplicando estas lecciones en su
propio negocio y vea los resultados.
<br>
<br>
Como una manera de ayudarlo a repasar lo que ha aprendido y resumir sus pensamientos acerca de
su negocio y sus metas personales, por favor escriba a sus hijos y nietos una carta explicándoles
porque decidió comenzar su negocio y estar trabajando tan fuerte en el. Enfoque su atención en por
qué siente usted que tener un negocio es importante. Asimismo, mencione las bendiciones de
prosperidad y estabilidad que su negocio está empezando a traer a su familia. Haga de esta carta
algo verdaderamente personal. Incluya ambiciones personales, anote sus verdaderos sentimientos y
dé ejemplos concretos de cómo espera que cambie su vida, o como ya ha cambiado. Explique qué
nuevos hábitos está desarrollando en su vida para prepararse para el éxito. Por ejemplo, puede
querer explicar los sacrificios que está haciendo ahora (a corto plazo) de modo que pueda tener
éxito (a largo plazo). Si lo desea, puede explicar las condiciones de pobreza de las que viene para
que las generaciones futuras puedan entender como usted ha ayudado a romper las cadenas de la
pobreza.
<br>
<br>
Conclusión final
<br>
Para llegar a ser próspero y proveer mejor para las necesidades vitales de su familia, tendrá que
hacer muchos sacrificios iniciales. Si recuerda poner al Señor, a su familia y su integridad en primer
lugar, sus otros sacrificios a corto plazo darán resultados y ayudarán a su familia a prosperar por
generaciones futuras

</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>