<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 10
¿QUÉ REGISTROS DEBO LLEVAR CADA DÍA?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Qué registros debo llevar para lograr tener un negocio más exitoso y eficaz?
</li>
<li>¿Cuán a menudo debo crear registros?
</li>
<li>¿Cuán a menudo debo revisar los registros para monitorear mi progreso?
</li>
<li>Al final de cada día de trabajo, ¿a quién le rindo cuentas?
</li>
<li>¿Cómo puedo llevar buenos registros para ayudar a que crezca mi negocio?
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>El llevar registros es vital para el éxito en todo negocio. En los negocios, el llevar
registros de manera exitosa es un proceso que se divide en dos partes: (1) hacer los
registros y (2) revisar los registros para ver lo que se puede aprender de ellos.
</li>
<li>Usted debe mantener registros diarios en cuatro áreas de su negocio: inventario, ventas,
gastos y efectivo
</li>
</ul>
<p>Palabras nuevas</p>
<ul>
    <li>Llevar registros: El acto de anotar y revisar cosas que desea recordar. En los negocios, usted
tiene que llevar registros diariamente, especialmente en las áreas clave de inventario,
ventas, gastos y efectivo.</li>
<li>
Seguimiento: Un sistema de registro de información relacionado al negocio, el cual, cuando es
revisado, indica la tendencia o progreso de un negocio.
</li>
<li>Hoja de Ingresos: Es un registro financiero que resume las ganancias y gastos de un negocio
durante un tiempo determinado. Esta hoja muestra las ganancias netas o las pérdidas
durante un periodo de tiempo. 

</li>
</ul>

<p>En la Lección 9 usted aprendió a manejar su flujo de efectivo e inventario, dos aspectos vitales para
mantener la rentabilidad a largo plazo de su negocio. En esta lección usted aprenderá a establecer
orden en su negocio al llevar y revisar diariamente cuatro registros.
<br>
<br>
En Doctrina y Convenios 88:119, el Señor instruyó a los santos en cuanto a la importancia de
establecer orden en sus vidas. Él mandó a “organizar[se]”. Este consejo no sólo se aplica a todos los
aspectos de nuestra vida privada sino también a todos los aspectos de nuestro negocio. Necesitamos
ser muy organizados de manera que tengamos un fundamento firme sobre el cual edificar nuestro
negocio y alcanzar el éxito.
<br>
<br>
La importancia de llevar registros
<br>
El llevar registros es un principio importante que va de la mano con el ser organizado. El llevar
registros es un proceso que se divide en dos partes: (1) hacer los registros y (2) revisar los registros
para ver lo que se puede aprender de ellos.
<br>
<br>
Llevar registros
<br>
Además de llevar un registro de actividades personales y familiares, usted también debe llevar un
registro diario relacionado con su negocio. El llevar un registro en su negocio le permite a usted ver
qué es lo que ha hecho en el pasado y, por tanto, continuar con sus éxitos y eliminar sus errores. 
<br>
<br>

También establece un historial que con el tiempo revelará las tendencias en su negocio. Por
ejemplo, con llevar un registro de las transacciones en su negocio, usted podrá ver que tal vez vende
más los martes y jueves que cualquier otro día de la semana. O podrá ser que note que hay más
clientes en la tarde que en la mañana. O tal vez identifique una reducción substancial de los costos
después de empezar a trabajar con un nuevo proveedor. Todas estas tendencias le proveen
información valiosa que le puede ayudar a tomar mejores decisiones y manejar un negocio más
rentable. Y el manejar un negocio que genera ganancias le ayudara a alcanzar la meta primordial de
llevar a su familia hacia la prosperidad.
<br>
<br>
Por ejemplo, ¿qué cambios puede hacer usted en la operación de su negocio si sabe que los días más
fuertes para las ventas son los martes y jueves?
<br>
<br>
Algunos propietarios de negocios comprenden la importancia de llevar registros, pero piensan que
este consejo se aplica sólo a negocios grandes o a negocios más complejos. Esto simplemente no es
verdad. Cualquier negocio pude beneficiarse al llevar buenos registros. Aún si su negocio es
pequeño, los registros escritos son de vital importancia. La verdad es que usted no pude recordar
cada detalle de lo que ocurre en su negocio, especialmente después de largos períodos de tiempo. Su
memoria dejará de recordar datos con el paso de los días y semanas, pero lo que está escrito con
tinta quedara ahí por siempre. El llevar registros le permitirá ver cada día, sin duda alguna, lo que
verdaderamente pasa en su negocio.
<br>
<br>
¿Qué podría impedirle el llevar registros diariamente?
<br>
<br>
¿Cómo va usted a enfrentar esos obstáculos y seguir hacia adelante llevando sus registros?
<br>
<br>
¿Qué problemas podrían ocurrir si usted no lleva un buen registro de las actividades de su negocio?
<br>
<br>
Es muy probable que su proceso de llevar registros cambie con el tiempo. Sin importar el tipo de
negocio que tenga o el tamaño del mismo, usted es el propietario, y eso quiere decir que usted es
primordialmente responsable de la calidad de sus registros, ya que usted es quien ha invertido más
en el negocio, tanto económica como emocionalmente. En las etapas iniciales de su negocio, usted
será el principal encargado de llevar los registros. Cuando su negocio comience a crecer y tenga
que contratar a más empleados, usted puede delegar a empleados de confianza algunas de las
responsabilidades de llevar los registros. Sin embargo, usted es responsable de la calidad de los
registros. Debido a esto es que deberá enseñarle a sus empleados que registros llevar y como
mantenerlos para que sus registros continúen siendo una precisa y significativa fuente de recursos al
tomar decisiones acerca del negocio.
<br>
<br>
Al delegar a sus empleados las responsabilidades de llevar registros, ¿cuáles son las dos cosas más
importantes que necesita decirles en cuanto a llevar los registros?
<br>
(Que registros llevar y cómo desea que se lleven los registros.)
<br>
<br>

Revisión de los registros
<br>
Los registros no sirven de nada a menos que sean revisados y analizados con frecuencia. La paz
mental viene de tener un conocimiento detallado de lo que sucede en su negocio. El saber lo que
está escrito en sus registros lo protege a usted de cometer el mismo error una y otra vez. Usted debe
estudiar los registros de su negocio a diario.
<br>
<br>
Usted debe llevar registros diarios de cuatro aspectos específicos de su negocio. Al tener
información detallada acerca de estas cuatro áreas, le permitirá a usted identificar los patrones y
tendencias de su negocio. Preste especial atención a cada área mientras lea esta lección. Incluso
sería buena idea que usted coloque estos cuatro principios en algún lugar visible de su negocio y
que los memorice.
<br>
<br>
Mantenga un registro de su inventario
<br>
Cada negocio tiene un inventario diferente. Por ejemplo, si usted tiene un negocio de plomería, su
inventario contendrá tubos de PVC, tubos de cobre, uniones, pegamentos, piezas T, piezas L, etc. Si
usted tiene una tienda de pinturas, usted tendrá en su inventario galones de pintura, brochas,
rodillos, cinta, pintura en espray, etc. Todo negocio tiene algún tipo de inventario.
<br>
<br>
Con su inventario, es muy importante que usted registre la siguiente información:
<br>
&nbsp; 1. El nombre de cada artículo específico que compre
<br>
&nbsp; 2. Cuánto compra de cada artículo
<br>
&nbsp; 3. El costo por artículo
<br>
&nbsp; 4. La fecha en que compró el articulo
<br>
<br>
Por ejemplo, imagine que vende accesorios para celulares. Esta mañana usted visitó a uno de sus
proveedores e hizo una pequeña compra. Sus registros pueden indicar lo siguiente (sin embargo, no
tienen que ser exactamente idénticos). 
<br>


</p>

<div class="table-responsive">          
        <table class="table">
            <thead>
            <tr>
                <th>Nombre del artículo
</th>
                <th>No. de
artículos
comprados
</th>
                <th>Precio por
artículo </th>
                <th>Fecha de compra
</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Celular Nokia rosado (modelo
#AG8279)
</td>
                <td>4</td>
                <td>95 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            <tr>
                <td>Cubierta protectora para celulares
Nokia de color rosado</td>
                <td>4</td>
                <td>25 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            <tr>
                <td>Accesorios para audífonos de color
morado</td>
                <td>10</td>
                <td>20 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            <tr>
                <td>Tarjetas prepago ( de 5 horas)</td>
                <td>50</td>
                <td>15 pesos</td>
                <td>4 Dec 2008</td>
            </tr>
            </tbody>
        </table>
        </div>
<p>¿Cómo sabe cuánto cuesta algo individualmente o si usted lo compra al mayoreo? Por ejemplo, si
usted compra 100 tubos de PVC por un total de 370 pesos, ¿cuál sería el precio de cada tubo de
PVC?
<br>
(370 pesos dividido entre 100 piezas = 3.70 pesos por pieza.)
<br>
<br>
Para dejar fija en su mente la importancia de mantener al día los registros de su inventario, tome en
cuenta la siguiente historia verídica de un plomero en la Ciudad de México. 
<br>
<br>

José es un plomero que empezó su propio negocio de plomería hace seis años. Después de
unos meses, se le empezó a acabar el capital, y no pudo comprar más inventario, así que
empezó a buscar algo de dinero. José necesitaba a alguien que le prestara algo de dinero o a
alguien que pudiera ser su socio invirtiendo algo de dinero en el negocio a fin de que este
siguiera funcionando. José encontró a Pepe, un hombre de negocios exitoso. José estaba
emocionado de que Pepe considerara invertir en su negocio y que se uniera a su equipo.
La primera vez que se reunieron, Pepe le pidió a José que tuviera todos los registros del
inventario listos para poder examinarlos. José estaba un poco sorprendido ya que nunca le
había dado seguimiento a su inventario y no tenía ni un solo registro que mostrarle a Pepe.
José no sabía qué hacer, ni siquiera sabía por dónde comenzar. Así que intentó contar y
registrar cada artículo, pero después de 8 horas tratando de organizar su inventario, se dio
por vencido.
<br>
<br>
Cuando Pepe llegó, vio la condición en la que estaba el negocio y lo desorganizado que era
José. Pepe le agradeció a José la invitación de ser su socio, pero se rehusó a continuar con
los planes de negocio. Le dijo a José que necesitaba ver cuánto dinero se gastaba en los
diversos artículos del inventario. Además, necesitaba poder ver qué artículos se vendían y
cuándo se vendían, incluso quería ver a quiénes se vendían esos productos. Deseaba ver las
facturas de las compras y los registros de los artículos que se vendían a los clientes.
Lamentablemente, José no poseía ninguno de estos documentos. José había cometido un
grave error: supuso que como su negocio era pequeño, podía recordar todo lo que pasaba en
él. Sin embargo, este no era el caso, y José tenía mucho que organizar en su negocio.
Sorprendido por la reprimenda de Pepe en cuanto a cómo manejaba su negocio, José pasó
las siguientes tres semanas contando y organizando su inventario. Para su sorpresa, se dio
cuenta que tenía más de 3,000 clavos, 2,000 tornillos, 15 kilos de pegamento sin usar y
¡mucho más! José empezó a darse cuenta de que había invertido dinero en demasiados
artículos, como los clavos y tornillos, que ni siquiera necesitaba. José aprendió una lección
de sumo valor: primero, aprendió que tenía una gran parte de su capital invertido en su
inventario que no se estaba vendiendo. Segundo, aprendió que los registros del inventario
son de vital importancia, ya que le ayudan a utilizar su dinero y planificar sus compras
sabiamente, evitándole gastar dinero de forma innecesaria. La tercera lección que aprendió
fue que a pesar de que es mejor mantener un registro del inventario desde el principio, nunca
es tarde para comenzar.
<br>
<br>
Cada propietario de un negocio es diferente, y de igual manera lo son las formas en que mantienen
al día su inventario. Hay muchas maneras buenas para registrar información relacionada al
inventario, pero recuerde que cualquier sistema debe incluir los cuatro puntos que se analizaron
anteriormente.
<br>
<br>
Ahora le toca a usted aplicar este principio a su propio negocio. Tome unos 15 minutos para decidir
qué sistema de seguimiento del inventario usará en su negocio. Elabore un formulario que le ayude
a llevar un registro de su inventario. Incluya en su formulario los cuatro elementos necesarios para
llevar un registro de inventario. Decida la frecuencia o a la hora del día en que contará su
inventario. Si tiene empleados, decida quién estará a cargo de darle seguimiento al inventario de su
negocio. 
<br>
<br>

Mantenga un registro de sus ventas
<br>
Las ventas son el segundo tipo de las transacciones que deben ser monitoreadas. Cada vez que
vende un artículo a un cliente, necesita tener un registro escrito de dicho evento. Ese registro debe
incluir la siguiente información.
<br>
&nbsp; 1. Una descripción del artículo
<br>
&nbsp; 2. La fecha en que se vendió (y la hora, si es posible)
<br>
&nbsp; 3. El precio de venta
<br>
&nbsp; 4. Si la venta se hizo al contado, con cheque o a crédito (¡evite vender a crédito!)
<br>
&nbsp; 5. El nombre del cliente
<br>
<br>
Piense en un negocio bien establecido que visita a menudo y responda las siguientes preguntas.
Cuándo hace una compra en esa tienda, ¿qué es lo que usted recibe del cajero como registro de la
transacción?
<br>
<br>
¿Por qué es importante para el comprador recibir un comprobante de pago?
<br>
(Le da al comprador un registro de la venta. Si les gusta el artículo que compraron y en el futuro quisieran
obtener más de su producto, el comprador puede darle un vistazo al recibo y recordar dónde lo compro.
También, si el comprador desea cambiar o devolver el producto, con el recibo tiene prueba de la compra.)
<br>
<br>
¿Por qué es importante para el vendedor dar un recibo?
<br>
(Un recibo crea un registro de la transacción para el vendedor. En el recibo se encuentra toda la información
que el vendedor necesita saber para registrar los detalles de la venta. El recibo mismo puede ser guardado
como un registro permanente o transcrito en un cuaderno de registro que contenga la información de todos los
recibos. También, si el vendedor entrega recibos por cada venta, éste podrá pedir el recibo si es que un cliente
desea devolver o cambiar un artículo. Además, si usted hace una copia del recibo, este puede convertirse en
parte de sus registros.)
<br>
<br>
Cuando examine los recibos acumulados por el espacio de una semana, ¿qué información valiosa
puede obtener de los detalles que registró con cada venta?
<br>
(Usted puede ver que artículos se venden con más frecuencia, qué artículos no se venden muy bien, y qué días
de la semana son mejores para su negocio, etc.)
<br>
<br>
¿Qué ventajas le da esta información a usted como propietario de un negocio?
<br>
Cuando examina los recibos acumulados por el espacio de un mes o un año, ¿qué información
valiosa puede obtener de los detalles que registró con cada venta?
<br>

(Con un período más largo de tiempo, usted puede ver los patrones de venta de su negocio. Por ejemplo, puede
notar que las ventas son más altas en el otoño que en el verano, o que la demanda por artículos navideños es
más alta durante la primera semana de diciembre.)
<br>
<br>
Quizá la parte más motivadora de llevar un registro de sus ventas es que ¡usted puede comparar lo
que pagó por un artículo con el precio al cual lo vendió y calcular cuánto obtuvo de ganancia!
<br>
<br>
Ahora le toca a usted aplicar este principio a su propio negocio. Tome 15 minutos para decidir qué
sistema de seguimiento de ventas usará en su negocio. Elabore un documento que le ayude a llevar
un registro de sus ventas. Incluya en su documento los cinco elementos necesarios para llevar un
registro de ventas.
<br>
<br>
Además, elabore un formato para los recibos que entregará a sus clientes. ¿De qué manera puede
asegurarse de que sus clientes no tendrán que esperar mucho tiempo mientras usted llena el recibo?
Si tiene empleados, decida quién estará a cargo de darle seguimiento a las ventas de su negocio.
<br>
<br>
Mantenga un registro de sus gastos
<br>
Cuando se maneja un negocio, siempre habrá gastos, ya que casi nunca obtendrá algo gratis. Con la
experiencia que ya está obteniendo, usted ya sabe que tiene que pagar cuentas, comprar inventario,
pagar a los empleados y muchas otras cosas más. Usted realizara gastos cada día y debe llevar un
registro de ellos.
<br>
<br>
Cada vez que gaste dinero, en cualquier cosa relacionada con el negocio, debe recibir y guardar el
recibo de esa compra o gasto. También, usted necesitara un registro por escrito del evento. Este
registro debe incluir la siguiente información.
<br>
&nbsp; 1. Una descripción del artículo o servicio
<br>
&nbsp; 2. La fecha en que se compró el artículo o se recibió el servicio (y la hora de ser posible)
<br>
&nbsp; 3. El precio de la compra
<br>
&nbsp; 4. Si es que la compra fue hecha al contado, con cheque o a crédito (compre a crédito lo más
que pueda)
<br>
&nbsp; 5. El nombre del negocio donde compró el artículo o servicio
<br>
<br>

Piense en su propio negocio y haga una lista de los gastos que incurre.
<br>
Cuando le dé seguimiento a sus gastos, usted podrá ver sus patrones de gastos de un día a otro, de
semana a semana, y de mes a mes. Al darles seguimiento a sus patrones de gastos usted podrá
juzgar si está invirtiendo sabiamente. También, esta práctica le ayudara en caso de que tenga que
regresar un artículo o rectificar algún cargo (por ejemplo si le cobran 40 pesos por algo que solo
debió costar 30 pesos), usted necesitara un recibo por escrito como prueba de su compra o para
arreglar algún cargo extra.
<br>
<br>
Como los recibos son claramente un importante registro de los gastos, usted deberá guardarlos en
un lugar seguro. Piense en la distribución física de su negocio. ¿Qué parte de su negocio es un
lugar seguro para guardar sus registros a fin de que estén protegidos siempre?
<br>
<br>
Cada vez que reciba una cuenta, recuerde que deberá colocar el recibo siempre en el mismo lugar.
El manejar su propio negocio requiere bastante organización, y si no tiene un lugar específico en
donde guardar las cuentas pagadas y las cuentas por pagar, será más que probable que le pierda la
pista a sus gastos. Es de suma importancia que coloque sus cuentas pagadas en un lugar y las
cuentas por pagar en otro lugar. Una buena sugerencia es tener una carpeta o fólder para las cuentas
por pagar. Una vez que estén pagadas, márquelas como pagadas (incluya la fecha en que se efectuó
el pago) y luego transfiéralas a la carpeta de las cuentas pagadas.
<br>
<br>
¿Qué clase de sistema implementará en su negocio para llevar de un amanera organizada los
registros de sus gastos?
<br>
<br>
Ahora le toca a usted aplicar este principio a su propio negocio. Tómese unos 15 minutos para
decidir qué sistema usará en su negocio para darle seguimiento a sus gastos. Elabore un formulario
que le ayude a llevar un registro de sus gastos. Incluya en su formulario los cinco elementos
necesarios para llevar un registro de gastos. 
<br>
<br>

Mantenga un registro de su efectivo
<br>
El efectivo es el cuarto y último aspecto al cual usted necesitara darle seguimiento diariamente. Al
final de cada día laboral, usted deberá hacer lo siguiente.
<br>
&nbsp; 1. Sume todas las ventas que tuvo durante el día. Calcule cuánto dinero debería haber recibido
de estas ventas. También, calcule cuánto dinero gastó en el inventario o en el pago de
cuentas. Calcule exactamente cuánto efectivo debería quedar en la caja.
<br>
&nbsp; 2. Cuente el efectivo de la caja.
<br>
&nbsp; 3. Compare esas dos cifras. Si son las mismas, entonces su efectivo está en orden. Si no,
necesitara encontrar el dinero que falta o saber por qué sobra.
<br>
&nbsp; 4. Ponga el dinero en una caja de seguridad o en una cuenta de banco. Nunca deje dinero al
alcance de otros.
<br>
<br>

¿Por qué es importante contar su efectivo diariamente? ¿Qué información importante le da el llevar
un seguimiento diario de su efectivo?
<br>
(Al contar y registrar su efectivo diariamente, usted estará más consciente de errores que haya cometido en
algunas transacciones, de cuánto inventario podrá comprar para el día siguiente, de las ventas necesarias para
el día siguiente, etc.)
<br>
<br>
Ahora le toca a usted aplicar este principio a su propio negocio. Tome 15 minutos para decidir qué
sistema utilizará para darle seguimiento al efectivo que usará en su negocio. Elabore un documento
que le ayude a llevar un registro de su efectivo.
<br>
Hoja de Ingresos
<br>
Hay un registro adicional que usted deberá mantener y checar regularmente aunque no es necesario
hacerlo cada día. Una hoja de ingresos es un registro financiero que provee un resumen de los
gastos e ingresos de sus negocio en un periodo de tiempo determinado (usualmente se mide cada
semana, mes, o año). La hoja de ingresos le muestra las ganancias (o perdidas) netas durante un
periodo de tiempo determinado.
<br>
<br>
El valor de la hoja de ingresos radica en que nos provee con una visión instantánea de que tan
productivo fue el negocio en un tiempo determinado. La información en la hoja de ingresos contesta
la siguiente pregunta, “¿Cómo va mi negocio?”
<br>
<br>
Cada hoja de ingresos necesita tres identificadores importantes en la parte superior de la
declaración. Estas piezas de información ayudan a los dueños de negocios a mantener registros y
comparar múltiples hojas de ingresos para descubrir tendencias importantes en el negocio.
<br>

&nbsp; 1. El nombre del negocio
<br>
&nbsp; 2. El título, “Hoja de ingresos”
<br>
&nbsp; 3. El periodo de tiempo que cubre la declaración (ejemplo: Junio 1, 20XX—June 30,
20XX)
<br>
<br>
La hoja de ingresos cuenta con las siguientes siete partes:
<br>
&nbsp; 1. Ingresos—es el dinero que se generó de la venta de productos o servicios.
<br>
&nbsp; 2. Costo de ventas—es el costo directo del producto. En un negocio de venta al por menor,
el costo de ventas es igual al costo del inventario al principio del periodo, más los bienes
comprados durante el periodo, menos lo que reste del inventario al final del periodo.
<br>
&nbsp; 3. Ganancia bruta—es el total de los ingresos menos el total del costo de ventas.
<br>
&nbsp; 4. Gastos de funcionamiento—son todos los gastos incurridos para la operación del
negocio de forma permanente. Como ejemplos tenemos: gastos de servicios básicos,
sueldos para el dueño y los empleados, gastos de publicidad, seguro, intereses, gastos
relacionados con el transporte de mercancía, renta, etc.
<br>
&nbsp; 5. Ganancias antes de impuestos—es la ganancia bruta menos los gastos de
funcionamiento. Esta es la ganancia antes de pagar los impuestos pero después de haber
pagado todo otro gasto.
<br>
&nbsp; 6. Impuestos—es el pago requerido por el gobierno sobre la ganancia del negocio.
<br>
&nbsp; 7. Ganancia o pérdida neta—es la ganancia o pérdida del negocio después de pagar los
impuestos.
<br>
<br>
Usted puede utilizar la hoja de ingresos de muestra que se encuentra en la siguiente página como
una guía para crear su propia hoja de ingresos de manera regular. Recuerde que usted no necesita
crear una hoja de ingresos cada día, pero sin embargo debe de crearla de manera regular para
evaluar el éxito de su negocio. Después de todo, el punto de tener un negocio es el de generar
ganancias cada día. 
<br>
<br>

Asignación final escrita
<br>
De memoria, sin repasar esta lección, indique los cuatro indicadores de los cuales debe llevar
registros diariamente.
<br>
<br>

Conclusión final
<br>
Para entender realmente su negocio, y así tener el poder de mejorarlo y hacer que crezca, usted debe
llevar buenos registros y revisarlos con regularidad. En especial, usted debe saber qué pasa con su
inventario, ventas, gastos y efectivo.
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>