<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 5
¿QUÉ DEBO SABER PARA GANAR EN LOS NEGOCIOS?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Por qué algunos de mis vecinos que tienen su pequeño negocio en casa todavía siguen
siendo pobres?
</li>
<li>¿Por qué mi vecino que fabrica manualidades parece que nunca las logra vender?
</li>
<li>¿Cuál es la razón más importante por la cual los negocios son rentables o no?
</li>
<li>¿Cuáles son las cosas más importantes que debo hacer diariamente para ganar dinero en
mi negocio?</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Hay tres maneras de aumentar los ingresos o las ganancias: 1) disminuir los costos,
2) aumentar el volumen de ventas, y 3) aumentar el precio de venta.
</li>
<li>Los propietarios pueden ganar y ahorrar dinero en todos los niveles del modelo CMV:
Captar, Mejorar, y Vender.
</li>
<li>El establecer el precio correcto de los productos es muy importante en el éxito de todo
negocio. Un buen precio incluye suficiente dinero para cubrir todos los costos y tener
una buena ganancia.</li>
</ul>

<p>
<p>Palabras nuevas</p>
<ul>
    <li>Captar:Reunir las herramientas y la materia prima que serán usadas en la empresa.
    </li>
    <li>Mejorar: Darle un valor agregado a la materia prima. Esto podría incluir la costura,
tallado, armado, etc. También podría incluir el traslado del producto de un lugar
a otro para su venta.
    </li>
    <li>Vender: Todo lo que usted puede hacer para atraer a los clientes a comprar su
producto o servicio.</li>
</ul>


<p>En la Lección 4, usted meditó sobre oportunidades reales para empezar una actividad generadora de
ingresos (AGI) en su vecindario o mercado. En esta parte del manual, usted debería tener en
mente una oportunidad investigada a profundidad. ¡Debería, incluso, ya estar trabajando en su
AGI! Para promover el desarrollo de sus planes de convertir su AGI en una empresa propiamente
dicha, usted necesita aprender algunos principios básicos sobre los cuales levantará su negocio.
<br>
<br>
Vayamos a las escrituras para darnos confianza y ánimo. El éxito se obtiene cuando se siguen
ciertas reglas todos los días. Estos principios subyacentes se aplican para cualquier cosa que
emprendamos en la vida, ya sea grande o pequeña, simple o complicada.
<br>
<br>
D. y C. 64:33
<br>
&nbsp; 33 Por tanto, no os canséis de hacer lo bueno, porque estáis poniendo los cimientos de una
gran obra.
<br>
<br>
Escriba sus sentimientos sobre este versículo y la forma en qué se relaciona con sus esfuerzos por
salir de la pobreza a la prosperidad.
<br>
<br>

Mientras está realizando algunos cambios pequeños, será difícil que note el progreso que logra. Por
ello, debe recordar que estos pequeños cambios se van sumando y se convierten a largo plazo en
cambios de gran importancia. El llegar a ser próspero es una bendición. A fin de comprender cómo
fluyen hacia nosotros las bendiciones de nuestro Padre Celestial, tenga en cuenta estos versículos
conocidos:
<br>
<br>
D. y C. 130:20-21
<br>
&nbsp; 20 Hay una ley, irrevocablemente decretada en los cielos antes de la fundación de este
mundo, sobre la cual todas las bendiciones se basan;
<br>
&nbsp; 21 y cuando recibimos una bendición de Dios, es porque se obedece aquella ley sobre la
cual se basa.
<br>
<br>
Estos versículos enseñan una lección de vida que va más allá de sólo la conducta espiritual, ya que
declaran que toda bendición, incluyendo las bendiciones de prosperidad, se basa en la obediencia a
las leyes. En otras palabras, las bendiciones específicas se basan en leyes específicas.
Una con una línea las leyes del lado izquierdo con las bendiciones correspondientes del lado
derecho.
<br>
<br>

Es obvio que el practicar piano todos los días no eliminará la caries de los dientes y que vivir
rectamente no garantiza que tengamos dientes saludables. Sin embargo, las personas a menudo no
reconocen que el éxito en un negocio no es producto de la suerte o de vivir rectamente, sino que es
el resultado de aprender y aplicar leyes correctas de negocios. Las leyes de negocios de éxito, como
las que se encuentran en este manual, son las leyes sobre las cuales se basan las bendiciones del
éxito financiero.
<br>
<br>
¿Cómo se aplica D. y C. 130:20-21 a los negocios? ¿Cómo puede aplicarlos a su AGI?
<br>
<br>

Las tres leyes básicas para aumentar la ganancia
<br>
La razón por la que usted participa en los negocios es para ganar dinero para su familia y poder así
llevarlos de la pobreza a la prosperidad. Esto ocurrirá sólo si invierte un capital, reúne un producto
o un servicio para vender, mejora su valor, y lo promociona para obtener ganancias del mismo.
<br>
<br>
Hay tres maneras de aumentar los ingresos o las ganancias: 1) disminuir los costos, 2) aumentar el
volumen de ventas, y 3) aumentar el precio de venta. Para entender mejor estas tres maneras de
aumentar nuestros ingresos o ganancias, examinemos una AGI sencilla. Supongamos que nuestra
AGI es vender tortas. Supongamos que podemos vender una torta por $12; Investiguemos nuestros
ingresos y ganancias.
<br>
El precio de una torta (nuestro ingreso al vender una torta) = $12,00
<br>
El costo total de hacer una torta (incluso el costo de los ingredientes,
y otros costos: luz, gas, alquiler, transporte, su sueldo, etc.) = $ 9,00
<br>
Su ganancia de una torta es: Precio – Costo = $ 3,00
<br>
Ahora, ¿cuántas tortas puede hacer y vender en un día? Digamos, 8 tortas/día,
Así que, su ganancia en un día seria: $3.00 un torta X 8 tortas/día = $24,00
<br>
<br>
Pregunta: ¿Cómo puede usted:
<br>
&nbsp; 1) Disminuir el costo para hacer la torta? ¿Si disminuye $1.00 del costo de cada torta, cuánto sería
su nueva ganancia?
<br>
&nbsp; 2) Hacer y vender más tortas? ¿Si vende 2 tortas más, cuánto sería su nueva ganancia?
<br>
&nbsp; 3) Aumentar el precio de cada torta? ¿Si puede vender cada torta por $0.50 más, cuánto sería su
nueva ganancia?
<br>
<br>
El Modelo CMV (Captar, Mejorar y Vender)
<br>
Ahora usted ya está listo para avanzar y aprender sobre el modelo CMV, o sea, las tres fases para
operar su negocio. Cada negocio (aun los de servicios) tiene actividades en estas tres áreas: captar,
mejorar y vender. Debe entender y analizar cada fase con el fin de mejorar su negocio y sus
ganancias. Busque oportunidades de disminuir costos, vender más y aumentar el precio.
<br>
<br>
Captar. En el proceso de captación, usted necesita reunir dos tipos de cosas: las herramientas y el
equipo a ser usado en el negocio y la materia prima para elaborar el producto que se venderá. Las
herramientas representan un gasto único, a diferencia de la materia prima que se tendrá que comprar
cada vez que planea producir más del producto que usted vende. Por ejemplo, un pastelero tendrá
que reunir un horno, un rodillo de cocina, cucharas y tazas medidoras, tazones de mezcla, guantes
para el horno y bandejas o moldes para sus pasteles (sus herramientas) y harina, azúcar, huevos,
aceite, sal, pasas y bolsas plásticas para envolver los pasteles (materia prima).
<br>
<br>
Una advertencia al gastar en la etapa de captación: la mayor parte de su inversión debe concentrarse
en la compra de inventario o materia prima; una parte menor debe ser usada en herramientas y
equipo. Muchos nuevos dueños de negocios piensan que necesitan equipos sofisticados no sólo para
elaborar sus productos sino también para parecer sofisticados y exitosos. Sin embargo, los equipos 
sofisticados no hacen que nuestro negocio sea exitoso, tal como una nueva capa de pintura no hará
que una antigua pieza de madera sea nueva otra vez. Resista el impulso de gastar dinero en
herramientas y equipos innecesarios. Su dinero tendrá mucho más impacto al comprar inventario o
materia prima para sus ventas. Además, siempre busque oportunidades de ahorrar dinero en el
proceso de captación.
<br>
<br>
Mejorar. Durante la etapa de mejoramiento, se usa la materia prima para elaborar los productos
que venderá a sus clientes. Usando el ejemplo del pastelero, para mejorar la materia prima, él debe
mezclar los ingredientes a fin de preparar la masa y luego hornear los pasteles. Para una mejor
presentación y para hacer que sean lo más agradable posibles, el maestro pastelero pondrá una capa
de azúcar glas con pequeños trocitos de nuez o agregará unos trazos de jarabe de chocolate. Esta
mejora le permitirá vender más de sus pasteles, o vender a un precio mayor del que vendería una
simple rebanada de pastel. De esta manera, el pastelero, con un poco de creatividad y esfuerzo y con
un poquito de dinero extra, habrá incrementado la cantidad de ingresos que ganará por cada pastel
que venda. Y, siempre busque oportunidades de ahorrar dinero en el proceso de mejoramiento.
<br>
<br>
Vender. El vender es todo lo que se hace en el negocio a fin de atraer al consumidor a comprar el
producto. El vender se inicia cuando se identifica una necesidad del cliente y termina cuando se le
entrega al cliente el producto que satisface esa necesidad. El vender no necesita ser algo tan
elaborado para ser efectivo. Por ejemplo, el pastelero podría promocionar su producto ofreciendo
muestras gratuitas de sus pasteles o envolviéndolos de una forma atractiva. O como en otro
ejemplo, la dueña de un puesto de bisutería podría ponerse un anillo y un collar, de manera que
cuando le comenten lo bonito que lucen, ella les diga que vende artículos similares en su puesto.
Estas sencillas técnicas de venta pueden traer como resultado un incremento en las ventas y,
consecuentemente, mayores ganancias. Siempre busque oportunidades de ahorrar dinero en el
proceso de vender.
<br>
<br>
La aplicación del modelo CMV - Un ejemplo - La venta de limonada
Durante la época de verano en los Estados Unidos, es muy común ver a los niños vender limonada a
cualquier persona que pase cerca de su puesto. Imagínese que usted es como aquel niño en un
puesto similar de limonadas mientras aprende los pasos del modelo CMV.
<br>
<br>
Captar. Haga una lista de las herramientas y la materia prima que necesitará reunir para preparar la
limonada y venderla. (La lista de herramientas podría incluir una mesa y una silla, una cartulina para el anuncio,
una jarra, un tazón y un cucharón. Estas herramientas son un gasto único. La lista de materia prima incluiría azúcar,
jugo de limón, agua y hielo. La materia prima es considerada como gasto permanente)
<br>
<br>
Ahora haga una lista de las formas en que puede ahorrar dinero en la fase de captación. (Tal vez
podría tomar prestado de sus padres o amigos las herramientas y los equipos; tal vez alguien tenga una cuchara o mesa
extra. Podría negociar con un vendedor de frutas de la localidad para que le venda los limones a un precio más barato.
Podría comprar el azúcar al mayoreo, ya que este producto no es perecedero y no se echará a perder si no lo usa
inmediatamente. Podría producir su propio hielo en vez de comprarlo del supermercado a un precio más alto.)
<br>
<br>
Mejorar. Una vez que tenga todas las herramientas y la materia prima, es hora de elaborar el
producto que venderá, recordando siempre que debe agregarle al producto tanto valor como sea
posible. ¿Cómo mejora usted su materia prima? (Usted mejora la materia prima al preparar la limonada. Se
prepara la limonada al exprimir los limones, agregar el azúcar, revolver la limonada y agregar hielo en el vaso.)
<br>
<br>
¿Qué debe hacer usted para darle un valor agregado al producto de tal forma que no sólo sea más
atractivo al cliente sino que también se diferencie de la competencia? (Podría darle más valor a la
limonada al colocar una rodaja fresca de limón en el vaso o ponerle una atractiva cañita.)
<br>
<br>

Ahora haga una lista de las formas en que podría ahorrar dinero en la fase del mejoramiento. (Quizás
podría comprar cañitas en grandes cantidades; en lugar de botar la cáscara del limón podría venderlo a una panadería
cercana que usa ralladura de limón para sus recetas; podría pedir prestado un exprimidor de limones de sus padres en
lugar de exprimir los limones a mano, asegurándose de esta manera de usar hasta la última gota del jugo de cada limón.)
<br>
<br>
Vender. Haga una lista de actividades para vender su limonada. (Piense en la ubicación: podría colocar su
puesto en una esquina o en un lugar donde los autos y los transeúntes que pasen puedan verle. Podría hacer un cartel
que llame la atención. En vez de sentarte detrás del mostrador, podría colocarse delante de él y parar a las personas que
pasan para preguntarles si tienen sed. Cuando una persona se decida a comprar un vaso, podría usar buenas técnicas de
venta y persuadirla a comprar un vaso más. Todo esto es parte del mercadeo que se desarrolla en la venta de la
limonada)
<br>
<br>
Ahora haga una lista de las maneras en que podría ahorrar dinero en esta fase. (Tal vez podría negociar
ciertos servicios/productos con el impresor para conseguir un buen precio por el cartel, o quizás podría pedirle a algún
miembro de su familia o a amigos para que en forma voluntaria sostengan el cartel y caminen alrededor del lugar de
venta atrayendo personas a su puesto.)
<br>
<br>
La aplicación del modelo CMV – Su AGI
Ahora, haga esta práctica con su propia AGI, es decir, aplique el modelo CMV a su AGI. Escriba
sus respuestas. Anote ideas para ahorrar dinero, vender más, o aumentar el precio en cada fase.
<br>
<br>
Captar. Haga una lista de las herramientas y la materia prima que necesitará reunir para su AGI.
<br>
<br>
Mejorar. Haga una lista de ideas para mejorar su materia prima o sus servicios.
<br>
<br>
Vender. Haga una lista de actividades de venta para su AGI.
<br>
<br>

Comentario Adicional en cuanto a Vender
<br>
El mercadeo, o marketing, consiste en las actividades que lo ayudan a identificar, entender, y
satisfacer las necesidades de los clientes para que usted pueda vender más y aumentar las ganancias.
Piense en su AGI y conteste las siguientes preguntas, y así, ¡desarrollará su mercadeo! Escriba sus
respuestas en su Plan de Negocios.
<br>
<br>
Los Clientes: ¿Quiénes son sus clientes?, ¿Qué segmento del mercado representan?, ¿Qué desean
ellos?, ¿Cuáles son sus necesidades?....
(si conoce bien a sus clientes - joven o adulto, hombre o mujer, rico o no, etc. - sabrá cómo venderles eficazmente)
<br>
<br>
Su Producto y/o Servicio: ¿Cómo ayudará a sus clientes?, ¿Qué problema o frustración solucionará
su producto o servicio?...
<br>
<br>
El Mercado: ¿Dónde están sus clientes?, ¿Qué sabe de ellos como grupo?, ¿A dónde van para
comprar productos o servicios como los suyos?...
<br>
<br>
Su Mercadeo: ¿Cómo se comunicará con sus clientes?, ¿Cuál será su mensaje – información,
precio, calidad, beneficios?, ¿Cómo les convencerá de comprar? ¿Cómo puede atraer clientes?...
<br>
<br>
Los Competidores: ¿Quiénes son sus competidores?, ¿Qué sabe de ellos – sus precios, su mercadeo,
sus productos o servicios, calidad?, ¿Qué puede hacer mejor que ellos?...
(debe estudiar a su competencia para entender sus fortalezas y debilidades)
<br>
<br>
Además, ¿cuáles son algunas maneras diferentes de vender su producto o servicio?
(puerta a puerta, en la calle, un kiosco, un puesto en el mercado, una tienda, en su casa, internet, teléfono, en los
autobuses, con vendedores, durante eventos o ferias, consignación, etc.)
<br>
<br>
Fijar los precios
Una parte importante para promocionar su producto es fijar el precio correcto. ¿Por qué el precio
que fija sobre los productos es muy importante para su negocio?
<br>
<br>
Generalmente las personas no compran un producto a menos que éste tenga un precio competitivo.
Si el precio que fija para sus productos es muy alto, las personas no los van a comprar. De igual
modo, si fija precios muy bajos, usted perderá dinero en cada venta. Así que elegir un precio justo
es una decisión muy importante. Existen muchas maneras de decidir cuánto cobrar. Hay tres
métodos comunes:
<br>
&nbsp; 1. Usted puede cobrar “todo lo que el mercado pueda soportar”, lo que quiere decir que usted
elige el precio con su mejor juicio y luego observa la reacción de los clientes. Si usted cobra
menos de la cantidad máxima que el cliente puede pagar, entonces no está ganando tanto
como podría. Si cobra más de lo que los clientes pueden pagar, se quedará con inventario sin
vender y quebrará. Este método de determinar el precio correcto se llama el “método de
ensayo y error”. ¿Qué pasaría si comienza con un precio muy alto o muy bajo? ¿Puede
cambiar?
<br>
&nbsp; 2. Puede cobrarle al cliente el doble de lo que usted pagó por el artículo. Entonces, si compra
un plátano por diez centavos, puede venderlo a veinte centavos. Esta es una forma simple de
fijar el precio para sus productos al por menor.
<br>

&nbsp; 3. Usted puede realizar un estudio de mercado averiguando cuánto cobra la competencia por el
mismo producto. Asegúrese de que conozca el mercado y aprenda todo lo que pueda;
inclusive acerca de la competencia. Puede igualar sus precios con los de ellos o cobrar un
poquito más y ofrecer algo adicional para hacerlo más atractivo, de manera que valga la
pena pagar por un precio más alto. ¿Cuáles son algunos ejemplos de cosas "extras" que
usted puede implementar para incrementar el precio del producto?
<br>
(Ejemplos: conveniencia, ahorra tiempo, limpieza, que sea simpático, servicio, calidad, seriedad, etc.)
<br>
<br>
Quizás lo que usted debe emplear es una combinación de estos tres métodos. Lo más importante es
encontrar el precio correcto con el cual tenga buenas ganancias y venda grandes cantidades.
<br>
<br>
¿Por qué el precio debe ser tan alto? Porque su ingreso debe cubrir TODOS los costos relacionados
con la venta de la manzana. La mayoría de los propietarios de pequeños negocios piensan sólo en el
costo para reemplazar el producto que compraron, más algo extra de dinero para alimentarse hasta
el día siguiente. Sin embargo, existen costos ocultos que están relacionados con este proceso. El
ingreso debe cubrir los gastos de captación, mejoramiento y mercadeo del producto. También debe
cubrir gastos operativos tales como el sueldo del propietario, el alquiler del puesto o espacio en el
mercado y el costo del trasporte de ida y vuelta hacia el proveedor, impuestos, electricidad, etc. El
ingreso debe contribuir con los costos futuros de la empresa, tales como la expansión del negocio, el
reemplazo del equipo, y otros gastos inesperados como el deterioro del producto o el robo de la
mercancia.
<br>
Lucas 14: 28-30
<br>
&nbsp; 28 Porque, ¿quién de vosotros, queriendo edificar una torre, no se sienta primero y calcula los gastos, para ver si
tiene lo que necesita para acabarla?
<br>
&nbsp; 29 No sea que después que haya puesto el fundamento, y no pueda acabarla, todos los que lo vean comiencen a hacer
burla de él,
<br>
&nbsp; 30 diciendo: Este hombre comenzó a edificar y no pudo acabar.
Dar precio a su producto/servicio ciertamente no es una cosa fácil de hacer. Entre algunos de los
errores más comunes en cuanto al precio podemos citar:
<br>
</p>
<ul>
    <li>Asumir que porque usted es el competidor más nuevo en la cuadra, usted debe tener los
precios más bajos.
    </li>
    <li>Tratar de competir mano a mano en el precio con competidores más grandes y con mayores
recursos. En vez de eso, tratar de ofrecer calidad y/o servicio de atención al cliente más
elevado, atención más personalizada.
    </li>
<li>No incluir todos los costos en el precio o no tener buenos registros para entender estos
costos.
</li>
<li>Bajar el precio u ofrecer un descuento antes de entender las necesidades del cliente.
</li>
<li>Ignorar la demanda del cliente, con lo cual el producto pueda que cambie de precio. Usted
debe estimar cuánto volumen de ventas quizás aumente si los precios bajan un 10% o 20%.
</li>
</ul>
<p>
Trabajo de campo
<br>
A fin de ayudarle a entender cómo determinar el precio de su producto, visite un mercado y trate de
calcular la ganancia de algunos productos. Converse con algunos de los propietarios de estos
establecimientos sobre cuánto cuestan sus materiales o productos, anote el precio al cual los venden
y calcule sus ganancias. Si conoce al dueño de un pequeño negocio, converse con él sobre la forma
en cómo fija el precio de sus productos o servicios. Si usted tiene actualmente un negocio de
compra y venta, analice el precio de su producto o servicio y decida si es suficiente para cubrir
todos los costos y dejar una ganancia.
<br>
<br>
Visite unos competidores para ver que hacen. Hable con algunos clientes de los competidores.
¿Por qué compran allí? ¿Qué es lo que les gusta y no les gusta?
<br>
<br>
Asignación final escrita
<br>
Aumente su Plan de Negocio según lo que ha aprendido en esta lección.
<br>
<br>
Conclusión final
<br>
El primer paso para llevar más dinero a casa para su familia es saber qué actividades de captación,
mejoramiento y mercadeo debe hacer diariamente a fin de obtener la mayor cantidad de ganancias
diariamente. 
</p>
</div>
</div>