<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 8
¿CÓMO FUNCIONA EL ESTABLECER METAS EN MI VIDA PERSONAL Y
EN LOS NEGOCIOS?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Por qué las personas más prósperas creen en el hábito de establecerse metas?
</li>
<li>¿Cuál es la diferencia entre una meta y un deseo?
</li>
<li>¿Por qué funcionan las metas? ¿Cómo trabajan?
</li>
<li>¿Por qué escribir las metas las hace más poderosas?
</li>
<li>¿Cómo me ayudará a satisfacer mejor las necesidades familiares el establecer metas?
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Las metas deben ser desarrolladas en todos los aspectos de su negocio así como también
en su vida personal, familiar y espiritual.
</li>
<li>Las metas deben ayudarle a llegar más alto, ser más fuerte, permanecer más tiempo,
trabajar más rápido y llegar a ser más exitoso.
</li>
<li>El índice de éxito de las metas se eleva si éstas son escritas.
</li>
<li>Una vez decididas las metas, éstas deben revisarse frecuentemente, y usted debe medir
su progreso personal de acuerdo a ellas</li>
</ul>

<p>Palabras Nuevas</p>
<ul>
    <li>Metas: Objetivos específicos que una persona desea lograr y por los cuales trabaja. El
alcanzar las metas específicas requiere un plan detallado y trabajo dedicado. Una
meta sin un plan es nada más un deseo.
    </li>
</ul>


<p>Heber J. Grant, séptimo Presidente de la Iglesia de Jesucristo de los Santos de los Últimos Días, fue
un poderoso profeta del Señor. Él es quizas mejor conocido por su determinación y sus logros. Una
historia relata su determinación de aprender a mejorar su caligrafía para alcanzar la meta de
convertirse en contador para el banco Wells Fargo and Company. “[Su] caligrafía era tan pobre que
cuando dos de sus compañeros la miraron, uno le dijo al otro, ‘Estas letras parecen huellas de patas
de gallina’. ‘No’, dijo el otro, ‘luce como si un rayo hubiera caído sobre el tintero’. [Estos
comentarios] hirieron el orgullo de Heber” (Hinckley, Heber J. Grant, p. 40; traducción libre).
Entonces decidió que practicaría hasta poder escribir mejor que sus dos amigos. Más adelante
mencionó que gastó montones de papel practicando su caligrafía. Con el tiempo, debido al talento
que desarrolló, le pedían que escribiera “tarjetas de felicitaciones, invitaciones matrimoniales,
pólizas de seguro, certificados de acciones y documentos legales” (Hinckley, Heber J. Grant, p.
40). (De la “Lección 22: Heber J. Grant – Hombre de Determinación”, Presidentes de la Iglesia:
Manual del maestro, 105).
<br>
<br>
El establecerse metas y trabajar en ellas le ayudó al Presidente Grant a mejorar su caligrafía, jugar
béisbol y adquirir el talento del canto. Su habilidad para identificar una destreza que quería
desarrollar, preparar un plan para alcanzarla y actuar con determinación para lograr sus metas, hizo
de él una persona capaz y exitosa. Las metas pueden hacer lo mismo por usted. El establecerse
metas es un hábito que diferencia a las personas exitosas de aquéllas que sólo luchan por encontrar
el éxito. Los hombres y mujeres de éxito que buscan activamente la “cultura del éxito” usan la
poderosa herramienta de establecerse metas en todos los aspectos de sus vidas.
<br>
<br>

¿Cómo le ayudan las metas?
<br>
Las metas le ayudan en varias maneras tales como:
<br>
</p>
<ul>
    <li>Enfocar sus esfuerzos y su energía
    </li>
    <li>Organizar su tiempo
    </li>
    <li>Usar sus recursos de la mejor manera posible
    </li>
    <li>Ver el progreso en su vida
    </li>
    <li>Evitar la pérdida de tiempo y dinero en cosas no tan importantes
    </li>
    <li>Tener visión a largo plazo y motivación a corto plazo
    </li>
</ul>
<p>Hasta este punto de la lección, usted debe entender que el establecerse metas es un hábito
importante que debe desarrollar en su vida personal. Esto también puede ayudarle a tener éxito en
su trabajo. Para ayudarle a entender lo que el establecerse metas puede hacer por su negocio, revise
estos versículos seleccionados del sueño de Lehi en 1 Nefi 8:9-35. Mientras vaya leyendo, trate de
pensar en la relación que existe entre su negocio y los símbolos de la visión de Lehi.
<br>
<br>
 &nbsp; 1 Nefi 8: 9-35 (versículos seleccionados)
<br>
&nbsp; 9 Y aconteció que después de haber orado al Señor, vi un campo grande y espacioso.
<br>
&nbsp; 10 Y sucedió que vi un árbol cuyo fruto era deseable para hacer a uno feliz.
<br>
&nbsp; 11 Y aconteció que me adelanté y comí de su fruto; y percibí que era de lo más dulce,
superior a todo cuanto yo había probado antes. Sí, y vi que su fruto era blanco, y excedía a
toda blancura que yo jamás hubiera visto.
<br>
&nbsp; 12 Y al comer de su fruto, mi alma se llenó de un gozo inmenso; por lo que deseé que
participara también de él mi familia, pues sabía que su fruto era preferible a todos los
demás.
<br>
&nbsp; 13 Y al dirigir la mirada en derredor, por si acaso descubría a mi familia también, vi un río
de agua; y corría cerca del árbol de cuyo fruto yo estaba comiendo.
<br>
&nbsp; 19 Y percibí una barra de hierro que se extendía por la orilla del río y conducía al árbol
donde yo estaba.
<br>
&nbsp; 20 Y vi también un sendero estrecho y angosto que corría a un lado de la barra de hierro
hasta el árbol, al lado del cual me hallaba; y también pasaba por donde brotaba el
manantial hasta un campo grande y espacioso a semejanza de un mundo.
<br>
&nbsp; 23 Y ocurrió que surgió un vapor de tinieblas, sí, un sumamente extenso vapor de tinieblas,
tanto así que los que habían entrado en el sendero se apartaron del camino, de manera que
se desviaron y se perdieron.
<br>
&nbsp; 26 Y yo también dirigí la mirada alrededor, y vi del otro lado del río un edificio grande y
espacioso que parecía erguirse en el aire, a gran altura de la tierra.
<br>
&nbsp; 27 Y estaba lleno de personas, tanto ancianas como jóvenes, hombres así como mujeres; y
la ropa que vestían era excesivamente fina; y se hallaban en actitud de estar burlándose y
señalando con el dedo a los que habían llegado hasta el fruto y estaban comiendo de él.
<br>
<br>
En el espacio líneas abajo, bajo el titulo “La visión del éxito en los negocios”, dibuje una simple
ilustración del sueño para comenzar a hacer algunas comparaciones entre el sueño y el camino hacia
el éxito en los negocios. No se preocupe por cuán artística sea la ilustración, sólo dibuje el árbol, el
fruto, el camino que conduce al árbol, el edificio grande y espacioso con las personas en las
ventanas señalando y riendo, el vapor de tinieblas y la barra de hierro a lo largo del camino.
<br>
<br>

La visión del éxito en los negocios
<br>
¿Cuál es la visión que usted tiene para su negocio?
<br>
¿Quiere que su negocio sea como un árbol fuerte o un pequeño arbusto? O, tal vez ¿cómo un tallo
de maíz, donde, después de sacar el fruto, la planta muera? ¿Quiere que su negocio provea bien para
la familia o que sea un substituto mientras espera un buen trabajo? ¿Quiere que su negocio crezca y
sea muy productivo, o que sea estable? Para seguir adelante en este manual, tiene que definir bien la
visión de su negocio.
<br>
<br>
En cuanto al sueño de Lehi y la visión de su negocio, piense en las siguientes preguntas para usted
mismo. Escriba sus respuestas y luego continúe leyendo. Sus respuestas deben estar relacionadas
con su negocio y como llegar a tener la prosperidad.
<br>
<br>
¿Qué podría representar el árbol?
<br>
<br>
¿Qué podría representar el fruto del árbol?
<br>
<br>
¿Qué podría representar el camino que conduce al árbol?
<br>
<br>
¿Qué podría representar el edificio grande y espacioso con las personas allí dentro?
<br>
<br>
¿Qué podría representar el vapor de tinieblas a lo largo del camino?
<br>
<br>
¿Qué podría representar la barra de hierro?
<br>
<br>
Posibles respuestas:
<br>
Árbol: El árbol podría representar su negocio. Hay muchos tipos de árbol tal como hay muchos
tipos de negocios. ¿Qué tipo de árbol representa su negocio? ¿Qué visión tiene para su negocio?
<br>
<br>
Fruto: El fruto del árbol podría representar las cosas específicas de la prosperidad, como agua
fresca, comida saludable, medicamentos necesarios, un mejor techo para protegerse de la lluvia y el
calor, libros para sus hijos, etc. 
<br>
<br>

Camino: El camino podría representar las metas que usted ha establecido para su negocio para que
crezca y brinde el fruto que usted y su familia desean. Además, el camino podría representar el plan
que usted tiene para desarrollar y mejorar su negocio. Las metas pueden ayudarle a permanecer en
su visión y trabajar fuerte. Usted debe quedarse en el camino para vencer las tentaciones y pruebas
que se presentarán inevitablemente mientras está tratando de establecer su negocio. Las metas le
ayudarán a ignorar a las personas que se burlan de usted o que tratan de desanimarlo, e incluso le
ayudarán a ignorar aquellas buenas actividades que puedan alejarlo de su negocio.
<br>
<br>
Edificio grande y espacioso y las personas allí dentro: El edificio y las personas que se burlan
podrían representar los aspectos negativos de su cultura. Ellos podrían representar a sus vecinos o
miembros de su familia que dicen que le desean éxito, pero que cuando usted empieza su negocio,
ellos le dicen y hacen cosas que retrasan su progreso. Podría representar las tentaciones y las
distracciones dirigidas a usted que le desaniman en sus esfuerzos por superarse.
<br>
<br>
Por ejemplo, una mujer tenía un negocio bastante exitoso vendiendo ropa usada a sus vecinos. Ella
tuvo la oportunidad de ir a una capacitación de negocios por ocho semanas, entonces su hermano le
prometió recaudar el dinero que le debían sus clientes. Él logró recolectar el dinero
satisfactoriamente, pero se lo gastó todo en la bebida y en otros malos hábitos. Cuando la mujer
regresó de su capacitación, no sólo había perdido todo su capital de trabajo sino incluso a muchos
de sus clientes. El hermano de esta mujer fue ciertamente un “edificio grande y espacioso” para ella.
<br>
<br>
Un chiste ruso cuenta la historia de Iván y Boris. Iván, un campesino, está celoso de su vecino Boris
porque éste tiene una cabra. Un hada aparece y le ofrece a Iván un único deseo. ¿Cuál fue ese deseo
de Iván? Que la cabra de Boris cayera muerta. Esta historia ilustra lo que a menudo es referido
como la “mentalidad del cangrejo”, es decir, que cuando una persona en un grupo comienza a
sobresalir sobre las demás, todos tratan de derribarla en vez de salir con ella. A veces nuestros
vecinos y familiares pueden ser como cangrejos; es por eso que sentimos que las personas en el
edificio grande y espacioso representan a algunos vecinos y familiares de poca o ninguna ayuda.
Sus comentarios de burla deben ser ignorados si usted está dispuesto a lograr el éxito que desea.
<br>
<br>
Vapor de tinieblas: El vapor de tinieblas puede representar los desafíos o pruebas que siempre
existen en la vida. Estas pueden ser cosas reales, tales como vehículos o instrumentos caros; o
pueden ser vicios; o pueden ser actividades buenas y que valen la pena pero que pueden alejarlo de
su negocio. Aún las cosas buenas, como ayudar a sus vecinos o pasar tiempo sirviendo en la Iglesia,
si es que se hace en demasía, pueden alejarlo del negocio que le conducirá a la prosperidad. Un
hombre sabio dijo una vez que para la mayoría de nosotros, los dilemas de la vida ocurren no
porque tengamos que decidir entre el bien o el mal, sino porque estamos decidiendo entre muchas
cosas buenas.
<br>
<br>
Barra: La barra puede representar a las leyes de prosperidad y las leyes de negocios. Al guardar
estas leyes, tendrá éxito en el negocio, no importa el vapor, ni el edificio grande. ¿Cuáles son las
leyes más importantes para usted en esta etapa de su negocio?
<br>
<br>
¿Cómo se establece las metas?
<br>
Para establecerse buenas metas, siga estos pasos generales:
<br>
&nbsp; 1. Orar para tener la inspiración del Señor – piense en su futuro, ¿qué debe hacer? ¿qué
quiere lograr? ¿qué quiere llegar a ser? Ore por su negocio. ¿Qué necesita hacer para que
crezca? …¿para tener éxito? …¿para lograr la prosperidad? Exprese esta inspiración en
palabras – será su meta. 
<br>
<br>
&nbsp; 2. Escribir sus metas – el proceso de escribirlas sobre papel lo ayuda a trazar metas
específicas y a situarlas firmemente en la memoria. Esto aumenta las posibilidades de lograr
las metas. Puede revisarlas a menudo. Revisar las metas es una parte importante para
lograrlas. Es importante ser lo más específico posible, incluso fijar una fecha cuando quiera
alcanzar la meta. Escríbala en una forma positiva.
<br>
<br>
&nbsp; 3. Desarrollar el plan – sin un plan, sus metas son nada más un deseo. Si la meta es grande
(tal como la meta de franquiciar su negocio) su plan consistirá en sub-metas con el trabajo
de decisiones, actividades, y tareas - todos con fechas. Si la meta es pequeña (tal como la
meta de mejorar su letrero), su plan será más sencillo con algunas decisiones y tareas,
siempre con fechas.
<br>
<br>
&nbsp; 4. Compartir sus metas – las buenas metas deben ser escritas y reportables a alguien de
confianza. Al compartirlas o reportarlas a un amigo o mentor, tendrá más ánimo de trabajar
fuerte y alcanzar las metas.
<br>
<br>
&nbsp; 5. Trabajar fuerte y con disciplina - la dedicación, la disciplina, y el trabajo fuerte y
consistente son las claves del éxito en cuanto a las metas. ¡No olvide la oración para pedir la
bendición del Señor!
<br>
<br>
Metas a corto y largo plazo
<br>
En su negocio, usted debe tener metas a corto y largo plazo para guiar sus actividades de negocio.
Los objetivos a corto plazo le pueden ayudar a ver cómo sus acciones cotidianas le llevan hacia el
éxito general de la empresa. Los objetivos a largo plazo son de carácter más estratégico y no se
logran sobre una base diaria o semanal. Algunos ejemplos de objetivos a largo plazo pueden ser el
aumento de las ventas totales en unos 3,000 pesos cada mes, o adquirir una nueva línea de
productos complementarios cada cuatro meses.
<br>
<br>
Las metas a corto plazo guían las acciones del día a día del negocio y establecen modelos de éxito
que a la larga ayudan a la empresa. Esas metas podrían incluir el incremento del número de clientes
atendidos cada día, obtener una cantidad promedio de ventas de 100 pesos, o convencer a cada
cliente de que compre artículos adicionales cada vez que entre a la tienda. Debe haber un
seguimiento diario y semanal de estos objetivos para evaluar el progreso. Por ejemplo:
<br>
<br>
Meta a largo plazo: Mudaré mí puesto de frutas a un mejor lugar para el 1º de junio.
<br>
<br>
Metas a corto plazo: Esta semana emplearé cuatro horas buscando dos posibles lugares.
Esta semana hablaré con tres personas para obtener la información que
necesito para tomar una decisión.
<br>
<br>
Metas para su propio negocio
<br>
¿Recuerde la regla de oro de “empiece en pequeño, piense en grande”? Ahora es el tiempo de
pensar en grande, y lo hace por medio de metas. ¿Cuál es la visión para su pequeño negocio?
¿Cómo va a crecer su negocio para alcanzar su visión? Si tuviera dinero para invertir en su negocio,
o, si pudiera sacar un préstamo para su negocio, ¿cómo gastaría el dinero para hacer crecer su
negocio? Algunas personas solo tienen una meta… vender suficiente ese día para comer, y nada
más. Y así, su negocio nunca crece y ellos nunca llegan a ser prósperos. ¡Si usted quiere un 
verdadero negocio, aun un árbol de vida con mucho fruto, establézcase unas metas - buenas metas
específicas con un buen plan detallado, y trabaje fuertemente y consistentemente!
<br>
<br>
Revise los primeros siete capítulos de este manual. Busque ideas en las cuales puede establecerse
buenas metas para mejorar su negocio. Si tiene una meta de largo plazo, también escriba metas de
corto plazo para ayudarle lograr la meta de largo plazo. Hay sugerencias a continuación. Además,
tendrá oportunidades en los capítulos 9 al 12 para fijar metas adicionales.
<br>
<br>
Sugerencias de metas para su negocio:
<br>
Ventas – ¿cómo puede vender más?
<br>
Clientes – ¿cómo puede servir mejor a sus clientes?
<br>
Captar – ¿cómo puede comprar mejor, y ahorrar más dinero?
<br>
Mejorar – ¿cómo puede eliminar el desperdicio en su negocio, y ahorrar más dinero?
<br>
Vender – ¿cómo puede atraer más clientes?
<br>
Producto o Servicio – ¿cómo puede mejorar su producto o servicio?
<br>
Crecimiento – ¿cómo puede desarrollar nuevos productos o servicios?
<br>
Conocimiento – ¿tiene las habilidades de emprendedor, gerente y técnico?
<br>
Hábitos personales – ¿tiene los hábitos de personas exitosas?
<br>
<br>
Ultimas reflexiones sobre la fijación de metas
<br>
Algunas personas se fijan un gran número de metas en diversos campos y luego trabajan para cumplir con
todas ellas; sin embargo, algunas veces logran terminar tan sólo un pequeño porcentaje de sus metas. Otros
se fijan pocas metas y se concentran en terminarlas todas.
Ninguno es mejor ni peor que el otro. ¿Qué método le parece más atractivo a usted?
Algunas personas se concentran tanto en cumplir con sus metas que se olvidan que así como las condiciones
cambian, las metas podrían cambiar también. Tenga en cuenta que a pesar de que las metas deben motivarlo
y desafiarlo a dar todo de usted, algunas veces necesitarán ser cambiadas. Esto es cierto especialmente al 
manejar una empresa. Cuando suceda algo inesperado, no dude en revisar sus metas. ¿Cómo ha cambiado
esta lección su pensamiento en cuanto al fijarse metas?
<br>
<br>
En la Lección 2 hablamos de nuevos hábitos y conductas personales que deseamos formar. Esperamos que
pueda ver el planeamiento de metas como un modelo a seguir. Usted debe aprender primero a fijarse metas a
largo plazo y luego metas a corto plazo diariamente para apoyar aquellas metas a largo plazo. Ninguna otra
cosa lo hará salir de la pobreza con mayor rapidez. ¿Cuál es el mejor momento de cada día para planear su
día?
<br>
<br>
Asignación final escrita
<br>
Encuentra un lugar en el que pueda pensar con claridad. Piense en sus metas personales y de
negocios. Use los siguientes dos formularios titulados “Mis metas para mi negocio” y “Mis metas
personales” para anotar tanto las metas a largo y las de corto plazo. Asegúrese que sean relevantes y
con fechas. Compártalas con alguien.
<br>
<br>
Conclusión final
<br>
La mayoría de las personas que son exitosas, en cualquier momento de sus vidas, han hallado el
éxito al fijarse de manera constante sus metas y alcanzarlas. Mientras continúa estableciendo su
negocio, usted debe fijarse metas diarias, semanales, mensuales y a largo plazo para guiar su trabajo
y ayudarle a evaluar su progreso

</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>