<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 1
¿POR QUÉ ALGUNAS PERSONAS SUFREN EN LA POBREZA MIENTRAS
QUE OTRAS GOZAN DE PROSPERIDAD?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Importa si mi familia es rica o pobre?
</li>
<li>¿Qué ha ocasionado que mi familia sea pobre?
</li>
<li>¿Qué me enseñaron mis padres acerca de tener dinero?
</li>
<li>¿Qué es lo que dicen las escrituras en cuanto a buscar riquezas?
</li>
<li>¿Cuál es la mejor manera de encaminarse hacia la prosperidad?
</li>
<li>¿Creo yo que romper las cadenas de la pobreza familiar sea algo posible?
</li>
<li>¿El volverse próspero hace que alguna otra persona se vuelva pobre? 
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Las ideas tradicionales sobre el dinero y la prosperidad no son siempre correctas.
</li>
<li>Dios desea que usted tenga éxito, pero tal vez no le importe si usted es rico.
</li>
<li>Sus acciones y hábitos determinan grandemente si es que usted vive en pobreza o en
prosperidad.
</li>
<li>La rectitud y la maldad no están necesariamente ligados a la pobreza y a la prosperidad.
</li>
<li>Lo espiritual y lo temporal están inseparablemente unidos.
</li>
</ul>

<p>
<p>Palabras nuevas</p>
<ul>
    <li>Cultura: Los valores, actitudes y creencias de los individuos en un grupo de personas (tal
como la familia, la comunidad, el vecindario, la sociedad y un grupo étnico/religioso
o un país).
    </li>
<li>Pobreza: Las condiciones que le impiden a un individuo o familia tener un techo adecuado,
agua potable, comida nutritiva, un cuidado adecuado de la salud u oportunidades de
educación. A menudo estas condiciones reprimen o limitan el crecimiento temporal
y, a veces, espiritual del individuo. El vivir en la pobreza generalmente impide que
el individuo se encamine hacia el desarrollo económico y bienestar material.
</li>
<li>Prosperidad: La condición de tener un techo adecuado, alimentación, agua potable, bienes
materiales y educación.
</li>
<li>Actividad Generadora de Ingresos (AGI): Cualquier esfuerzo que se hace para incrementar el
monto de dinero que tiene una familia, ya sea comprando y vendiendo algo,
haciendo y luego vendiendo algo, o brindando un servicio a cambio de un pago. Al
volverse más organizada la AGI, se le puede llamar un negocio, pero no lo es
realmente cuando recién empieza. 
</li>
</ul>
<p>
La pobreza y la prosperidad están en los extremos opuestos y, normalmente, dependen de la situación
económica de la familia. La pobreza se caracteriza por tener muchas necesidades insatisfechas (una 
2
falta general de necesidades). Por otro lado, la prosperidad se caracteriza por una abundancia en
general. Si se les da la oportunidad, la mayoría de las personas claramente preferiría vivir en la
prosperidad que en la pobreza.<br>
A pesar de que no parezca serlo,  la verdad es que todos pueden escoger vivir una vida próspera. Con la
capacitación que recibirá de las lecciones en este manual, usted podrá establecerse la meta de vivir
prósperamente, y luego hacer y seguir un plan que le ayudará a alcanzar esa meta.
<br><br>
Medite en la manera en que vive día a día. ¿Qué aspectos de su vida diaria pueden indicar que vive
actualmente en pobreza o en prosperidad?<br>
</p>

<p>
Indicadores de pobreza
</p>
<ul>
<li>Sólo nos alimentamos una o dos veces al día.
</li>
<li>Comemos sólo una vez los domingos para tener dinero para ir a la Iglesia.
</li>
<li>Nuestros hijos no van a la escuela porque no tienen uniformes, libros ni útiles escolares.
</li>
<li>Cuando alguien se enferma en la familia, no acudimos al médico.
</li>
<li>Sólo tenemos el suficiente dinero para comprar una medicina a la vez en la farmacia.
</li>
<li>Nuestra casa está ubicada en una parte pobre de la ciudad donde ocurren incidentes negativos
 (incendios, delincuencia, derrumbes) a menudo.
</li>
<li>Dependemos de nuestros parientes para recibir dinero y comida.
</li>
<li>Es difícil cumplir con un llamamiento en la Iglesia a causa de nuestras limitaciones económicas.
</li>
<li>Compramos lo que necesitamos en casa, como detergente para la ropa, en cantidades pequeñas.
</li>
<li>El trabajo que tenemos es temporal o eventual, y lo que ganamos por hacerlo no alcanza para pagar
 nuestros gastos familiares.
</li>
<li>Algunos de nuestros hijos no tienen zapatos en buen estado y que les queden bien para ir a la
I Iglesia.
</li>
<li>El agua que tomamos proviene de una pileta o pozo comunal, o la sacamos de un río o acequia.
</li>
<li>Nuestra casa tiene piso de tierra y cocinamos con leña.
</li>
</ul>
<p>
 Indicadores de prosperidad 
</p>
<ul>
<li>Tenemos el control de nuestras vidas y usamos activamente nuestro tiempo para nuestro beneficio.
</li>
<li>Nos trazamos metas tanto individualmente como en familia
</li>
<li>Tenemos el dinero suficiente para ir juntos como familia a las reuniones de la Iglesia.
</li>
<li>No dejaremos que otros nos impidan tener una vida mejor.
</li>
<li>Tenemos suficientes ingresos que nos facilitan servir con dedicación y excelencia en la Iglesia.
</li>
<li>Podemos tomar el microbús o un taxi cuando los necesitamos.
</li>
<li>Podemos comprar medicinas para nosotros mismos o para nuestros hijos cuando las necesitamos.
</li>
<li>Nuestros hijos van a la escuela y tenemos suficientes ingresos para pagar todos sus gastos
escolares.
</li>
<li>Podemos comprar cosas al por mayor, como aceite, detergente y algunos alimentos.
</li>
<li>Comemos frutas y verduras además de nuestra comida principal.
</li>
</ul>
<p>
   ¿Piensa usted que vive en la pobreza, la prosperidad, o en un punto intermedio? ¿Por qué?
<br>
¿Qué tradiciones, prácticas o creencias hacen que usted y su familia todavía no sean prósperos?
<br>
¿Puede pensar en algo que sus padres le hayan enseñado que le hace pensar que debe permanecer
viviendo en la pobreza?
<br>
¿Hay alguna cosa que pueda ser incorrecta en cuanto a esas ideas o tradiciones de sus padres,
especialmente con respeto a la pobreza y la prosperidad?
<br>
¿Puede usted aun honrar a su padre y madre, pero opinar diferente a lo que ellos piensan?
<br>
En el Libro de Mormón, el Señor promete que la gente que guarde sus mandamientos prosperará.
Pregunte a alguien que tiene éxito económico y que vive cerca de usted si está bien ser próspero.
Además, pregúntele por qué él o ella piensa que hay gente que vive en la pobreza mientras que otros
viven en la prosperidad. Anote lo que aprenda.
<br>
El Libro de Mormón nos enseña que después de tener fe en Cristo, está bien procurar las riquezas (o
sea, la prosperidad) por razones correctas<br><br>
Jacob 2:17-19<br>
&nbsp; 17   Considerad a vuestros hermanos como a vosotros mismos; y sed afables con todos y
liberales con vuestros bienes, para que ellos sean ricos como vosotros.<br>
&nbsp; 18   Pero antes de buscar riquezas, buscad el reino de Dios.<br>
&nbsp; 19  Y después de haber logrado una esperanza en Cristo obtendréis riquezas, si las buscáis; y
las buscaréis con el fin de hacer bien: para vestir al desnudo, alimentar al hambriento, libertar
al cautivo y suministrar auxilio al enfermo y al afligido.
<br><br>

Resuma las razones por las cuales el buscar las riquezas puede ser algo bueno.
<br>
¿Se aplica alguna de estas razones a su propia situación? Si es así, explique.
<br>
Doctrina y Convenios enseña que el Señor ha provisto lo suficiente para que todos compartan la
abundancia de la tierra. En otras palabras, ninguno debe volverse pobre para que otro se vuelva más
rico.
<br><br>
D&C 104:15-18<br>
&nbsp; 15 Y es mi propósito abastecer a mis santos, porque todas las cosas son mías.
<br> &nbsp;16 Pero es preciso que se haga a mi propia manera; y he aquí, ésta es la forma en que yo, el
Señor, he decretado abastecer a mis santos, para que los pobres sean exaltados, y los ricos
sean humildes.
<br> &nbsp;17 Porque la tierra está llena, y hay suficiente y de sobra; sí, yo preparé todas las cosas, y he
concedido a los hijos de los hombres que sean sus propios agentes.
<br> &nbsp; 18 De manera que, si alguno toma de la abundancia que he creado, y no reparte su porción a
los pobres y a los necesitados, conforme a la ley de mi evangelio, en el infierno alzará los ojos
con los malvados, estando en tormento.
<br><br>

Hay conceptos importantes que se enseñan en esta escritura. Algunos creen que hay una escasez de las
cosas buenas de la vida. Por tanto, creen que para que una persona prospere, otras necesitan hacerse
pobres. Otros creen que solamente cierta gente debe prosperar. Ninguna de estas ideas es correcta.
De hecho, las escrituras nos enseñan que si nos ayudamos cada uno y trabajamos unidos, todos
nosotros podemos prosperar (Moisés 7:18).
<br>
<br>
Con el conocimiento, motivación y aplicación correcta, casi todos pueden acumular dinero y volverse
prósperos. La clave es seguir principios correctos de negocios y emplear actividades generadoras de
ingresos (AGIs).
<br>
<br>
D. y C. 104:15-18 también nos enseña que las personas deben ser sus propios agentes. En otras
palabras, el Señor creó la tierra para Sus hijos y ha hecho suficiente y de sobra de todo- incluyendo
dinero y prosperidad. El presidente Gordon B. Hinckley enseñó que “el Señor no desea ver a su gente
condenada a vivir en la pobreza…Él desea que los fieles disfruten de las cosas buenas de la tierra”. (“El
Fondo Perpetuo para la Educación”, Liahona, julio de 2001, 67). Para disfrutar de las cosas buenas de
la tierra, usted tiene que tomar el control de su situación económica mejorando sus condiciones de vida,
saliendo de la pobreza y volviéndose próspero. Usted puede hacer todo esto al aplicar los principios
que aprenderá en este manual. ¡Usted puede ser su propio agente!
<br>
<br>
Hay bastante dinero, recursos y cosas buenas de la vida para todos. Usted sólo tiene que hacer cosas
que le resultarán en ganar dinero. En estas lecciones, usted aprenderá qué actividades generadoras de
ingresos puede emplear para ganar y recibir su parte de prosperidad.
<br>
<br>
Sírvase marcar los siguientes enunciados con V si son verdaderos y con F si son falsos: <br>
</p>
<ul>
    <li>Ser pobre significa ser justo.
    </li>
    <li>Ser rico significa ser justo.
    </li>
    <li>Ser pobre significa ser malvado.
    </li>
    <li>Ser rico significa ser malvado.
    </li>
    <li>Sólo los ricos son malvados y les será difícil entrar en los cielos.
    </li>
    <li>Ser pobre garantiza la felicidad.
    </li>
    <li>Ser rico garantiza la felicidad.
    </li>
    <li>No hay relación entre estar feliz o triste y ser rico o pobre.
    </li>
    <li>Los malvados son a veces pobres.
    </li>
    <li>Los malvados son a veces ricos.
    </li>
    <li>Los buenos son a veces pobres.
    </li>
    <li>Los buenos son a veces ricos
    </li>
</ul>
<p>Si el ser rico o pobre no lo convierte en bueno o malo, ¿no preferiría usted vivir una vida próspera y en
abundancia tal como se promete en las escrituras?<br><br>
Al estudiar sus respuestas a las preguntas de verdadero o falso, ¿a qué conclusiones ha podido llegar?
<br><br>
La Parábola de los Talentos<br>
Lea por favor la parábola de los talentos en Mateo 25:14-30 (énfasis agregado). Tome apuntes
minuciosamente sobre lo que les pasó a los tres hombres y por qué y cómo fueron ellos “sus propios
agentes”
 <br><br>
Matthew 25:14-30  <br>
&nbsp; 14 Porque el reino de los cielos es como un hombre que, partiendo lejos, llamó a sus siervos y
les encomendó sus bienes.
<br>
&nbsp; 15 Y a uno dio cinco talentos, y al otro dos, y al otro uno, a cada uno conforme a su capacidad;
y luego se fue lejos.
<br>
&nbsp; 16 Y el que había recibido cinco talentos fue y negoció con ellos, y ganó otros cinco talentos.
<br>
&nbsp; 17 Asimismo el que había recibido dos, ganó también otros dos.
<br>
&nbsp; 18 Pero el que había recibido uno fue y cavó en la tierra, y escondió el dinero de su señor.
<br>
&nbsp; 19 Y después de mucho tiempo, volvió el señor de aquellos siervos e hizo cuentas con ellos.
<br>
&nbsp; 20 Y llegando el que había recibido cinco talentos, trajo otros cinco talentos, diciendo: Señor,
cinco talentos me encomendaste; he aquí, he ganado otros cinco talentos sobre ellos.
<br>
&nbsp; 21 Y su señor le dijo: Bien, buen siervo y fiel; sobre poco has sido fiel, sobre mucho te pondré;
entra en el gozo de tu señor.
<br>
&nbsp; 22 Y llegando también el que había recibido dos talentos, dijo: Señor, dos talentos me
encomendaste; he aquí, he ganado otros dos talentos sobre ellos.
<br>
&nbsp; 23 Su señor le dijo: Bien, buen siervo y fiel; sobre poco has sido fiel, sobre mucho te pondré;
entra en el gozo de tu señor.
<br>
&nbsp; 24 Y llegando también el que había recibido un talento, dijo: Señor, te conocía que eres
hombre duro, que siegas donde no sembraste y recoges donde no esparciste;
<br>
&nbsp; 25 y tuve miedo, y fui y escondí tu talento en la tierra; aquí tienes lo que es tuyo.
<br>
&nbsp; 26 Y respondiendo su señor, le dijo: Siervo malo y negligente, sabías que siego donde no
sembré y que recojo donde no esparcí;
<br>
&nbsp; 27 por tanto, debías haber dado mi dinero a los banqueros y, al venir yo, hubiera recibido lo
que es mío con intereses.
<br>
&nbsp; 28 Quitadle, pues, el talento y dadlo al que tiene diez talentos.
<br>
&nbsp; 29 Porque al que tiene, le será dado y tendrá más; y al que no tiene, aun lo que tiene le será
quitado.
<br>
&nbsp; 30 Y al siervo inútil echadle en las tinieblas de afuera; allí será el llanto y el crujir de dientes.
<br><br>

Responda las siguientes preguntas sobre la parábola:
<br>
En el versículo 14, ¿qué es lo que el hombre entregó a sus siervos o empleados?
<br>
En el versículo 16, ¿qué AGI empleó el hombre para incrementar los bienes que se le dieron?
En el versículo 19, ¿cuánto tiempo tomó duplicar el valor de los bienes que el hombre dejó con sus
empleados?
<br>
¿Por qué toma “mucho tiempo” el establecer bien un negocio y duplicar el dinero? ¿Qué podemos
aprender de la paciencia y la persistencia cuando empezamos nuestro propio negocio?
<br>
<br>

En el versículo 30, el maestro calificó de “siervo inútil” al hombre que enterró los bienes. ¿Fue él su
propio agente? ¿En qué se equivocó? ¿Qué parte del concepto de “volverse próspero” no entendió?
<br>
<br>
Esta parábola nos enseña varios principios que vale la pena estudiar.
<br>
1. Usted puede incrementar su prosperidad al negociar lo que tiene para obtener más.
<br>
2. El Señor, o maestro, está complacido cuando usted emplea AGIs que resulten en una ganancia o
beneficio.
<br>
3. A aquellos que no incrementen lo que se les ha dado, se les quitarán sus talentos originales. Esta
parábola enseña que usted debe seguir hacia adelante y tomar un rol activo en cambiar sus
circunstancias y llegar a ser próspero. Dedicarse al comercio y a las AGIs son excelente formas de
llegar a ser próspero.
<br>
4. Usted debe ser paciente y persistente cuando empiece su propio negocio. No se desanime cuando
tome más tiempo de lo que pensó.
<br>
<br>
La AGI - Cuatro tipos de negocios
<br>
Para ayudarle a alcanzar la prosperidad mediante una AGI, debemos definir “negocio”. Un negocio es
cualquier esfuerzo formalizado que incrementa una cantidad de dinero a través del intercambio de
bienes o servicios entre dos o más personas. Los negocios son de diferentes formas y tamaños, venden
un sinfín de productos y brindan muchos diferentes servicios, pero todos ellos se pueden colocar en una
de las cuatro siguientes categorías:
<br>
1. El negocio minorista vende los productos a las personas que usan o consumen el producto. La
mayoría de los negocios se ubican en esta categoría ya que pueden iniciarse con una pequeña
inversión de dinero y tiempo.
<br>
2. El negocio de servicios ofrece servicios al cliente. Un ejemplo de ello es una niñera que cuida
niños.
<br>
3. El negocio mayorista vende productos a los minoristas, quienes a su vez los venden al
comprador final.
<br>
4. El negocio de fabricación crea el producto y lo vende a los mayoristas, minoristas y al
comprador final.
Ojo, hay negocios que son una combinación de estas cuatro categorías.
<br>
Ahora, es tiempo de empezar a pensar en una AGI que sería buena para usted (si no tiene su propio
negocio). El trabajo de campo a continuación le ayudará. En la Lección 4, va a escoger su AGI para
desarrollarla durante el resto de esta capacitación.
<br>
<br>
Trabajo de campo
<br>
Recorra un concurrido mercado cerca de su casa y observe los tipos de negocios que existen allí.
<br>
- Haga una lista de los muchos negocios minoristas que encuentre. ¿Qué productos venden? ¿Se
especializan en la venta de un solo producto o de un tipo de producto, o venden una gran
variedad de productos? ¿Cuáles de las tiendas parecen ser las más concurridas: las que venden
una variedad de productos o las que venden uno sólo?
<br>

- Haga una lista de los negocios de servicios, ¿Qué servicios ofrecen?
<br>
- Si identifica algún negocio mayorista, donde alguien vende productos a un minorista, anótelo.
Haga una lista de los artículos que se venden al por mayor.
<br>
- Si encuentra algún negocio de fabricación, donde se fabrican artículos para ser vendidos a los
minoristas, anótelos.
<br>
<br>
Citas
<br>
Para reflexionar más sobre este concepto, lea por favor las siguientes citas. Seleccione su cita favorita,
la cual se aplica a su propia búsqueda de prosperidad, y explique por qué es tan importante para usted.
<br>
<br>
“Siempre ha sido una enseñanza fundamental entre los Santos de los Últimos Días que si una religión no tiene el
poder de salvar a la gente temporalmente y hacerlos prósperos y felices aquí, entonces no se puede confiar en ella
para salvarlos espiritualmente y exaltarlos en la vida venidera.”
(Joseph F. Smith, “The truth about Mormonism”. Out West 23 (1905), 242).
<br>
<br>
“La doctrina y las enseñanzas del Evangelio de Jesucristo han sido una bendición a través de mi vida. Tal como lo
enseñan las Escrituras y los líderes y maestros de esta Iglesia, el Evangelio ha sido una lumbrera en mi camino y el
ímpetu de mi progreso temporal y espiritual.”
(Dallin H. Oaks, “El Evangelio en nuestra vida”, Liahona, julio de 2002, 36).
<br>
<br>
“Y ocurrió que empezaron a prosperar gradualmente en la tierra, y comenzaron a producir grano con más
abundancia, y rebaños y ganados; de modo que no padecieron hambre”
(Mosíah 21:16).
<br>
<br>
“Y yo, Mormón, quiero que sepáis que el pueblo se había multiplicado de tal manera que se hallaba esparcido por
toda la faz de la tierra, y que habían llegado a ser sumamente ricos, por razón de su prosperidad en Cristo”
(4 Nefi 1:23).
<br>
<br>
Asignación final escrita
<br>
Conforme a lo que ha aprendido en esta lección, resuma sus pensamientos en cuanto a lo que tiene que
hacer para proveer una vida más próspera para usted mismo y para su familia. En su respuesta,
asegúrese de comentar (1) qué tradiciones de pobreza necesita dejar atrás, (2) su comprensión del deseo
de Dios de que usted sustente a su familia, y (3) su entendimiento de cómo las AGIs son la clave para
pasar de la pobreza a la prosperidad.
<br>
<br>

Conclusión final
<br>
Ni Dios ni sus profetas desean que vivamos en la pobreza. Se ha prometido a sus santos una vida
próspera y abundante, pero las bendiciones de prosperidad están basadas en la obediencia a principios
de negocios de eficacia probada. Usted puede ayudarse a vivir más abundantemente si es que está
dispuesto a romper con las tradiciones culturales y familiares de pobreza y poner sabiamente en
práctica actividades generadoras de ingreso.
<br>
<br>
Como preparación para la siguiente lección, haga una lista de lo que hace cada día desde el
momento en que se levanta hasta cuándo se va a la cama. Use la hoja de ejercicios de la página
siguiente para llevar un registro de sus actividades.
</p>
</div>
</div>