<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 2
¿QUÉ HÁBITOS PERSONALES DEBO CAMBIAR PARA SER PRÓSPERO?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Cómo invierto mi tiempo cada día?
</li>
<li>¿Cumplo con las promesas que le hice a mi esposa? ¿a mis hijos? ¿a Dios? ¿a los líderes del
sacerdocio? ¿a mis proveedores y clientes?
</li>
<li>Si pudiera cambiar algo de la manera en que vive mi familia, ¿qué cosa sería?
</li>
<li>¿Cuál es el cambio más importante que necesito hacer para ir más allá de sólo tener lo
suficiente para comprar la comida de hoy?
</li>
<li>¿Estoy listo y dispuesto para cambiar mi modo de ser y así cambiar la manera en que vive
mi familia?
</li>
<li>¿De dónde proviene el poder para cambiar? ¿del gobierno? ¿de la Iglesia? ¿del Señor? ¿de
mí mismo? ¿de la oración? ¿de una combinación de todo lo anterior?
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Todos tienen 24 horas al día. Sus acciones diarias y su uso del tiempo determinan el grado
de prosperidad de su familia.
</li>
<li>Los padres tienen la responsabilidad de proveer las necesidades vitales y protección para su
familia.
</li>
<li>Ahora es el tiempo de liberar a su familia de la trampa de la pobreza.
</li>
<li>La bendición del éxito económico viene por medio del establecimiento de buenos hábitos y
la obediencia a leyes específicas de negocios.
</li>
</ul>

<p>
<p>Palabras nuevas</p>
<ul>
    <li>Hábito: Acto que un individuo repite tantas veces que se vuelve automático</li>
</ul>
<p>En la Lección 1, usted aprendió que tal vez hay aspectos de su cultura o tradiciones familiares que
contribuyen a la pobreza en la que ha vivido su familia por generaciones. En esta lección usted
empezará a pensar acerca de cómo es que sus hábitos diarios son un reflejo de su cultura. Para dejar
atrás la cultura de la pobreza, usted debe adoptar hábitos que lo lleven a la prosperidad.
<br>
<br>
Antes de que usted empiece a establecer nuevos hábitos, debe primero tomar la decisión de desear
cambiar. ¿Desea usted en verdad salir de la pobreza y encaminarse a la prosperidad? ¿Por qué?
<br>
<br>
Ahora que ya ha explicado claramente su deseo de salir de la pobreza, usted se está preparando para
hacer cambios en su vida. Sin embargo, debe reconocer primero que en su vida usted tiene el control
sobre algunas cosas, pero no sobre otras. Usted sólo puede cambiar aquellas cosas sobre las cuales tiene
control.
<br>
<br>
¿Qué puede cambiar en su vida?
<br>
¿Qué no puede cambiar en su vida?
<br>
<br>

En 1995 la Iglesia publicó una declaración oficial titulada “La Familia: Una proclamación para el
mundo”. En aquel documento, la Primera Presidencia y el Quórum de los Doce Apóstoles explicaron,
de una manera muy clara, que la familia es la unidad más importante sobre la tierra y que todos los
miembros de la familia tienen responsabilidades específicas que fortalecen la familia y ayudan a los
miembros a progresar hacia el galardón eterno. En cuanto al papel de los padres, las autoridades
declararon que “por designio divino, el padre debe presidir sobre la familia con amor y rectitud y tiene
la responsabilidad de protegerla y de proveerle las cosas necesarias de la vida” (La Familia: Una
proclamación par el mundo). Teniendo en mente esa responsabilidad, los padres no sólo deben trabajar
fuertemente todos los días sino que además deben hacerlo de una manera sabia al aprender y aplicar los
principios de negocios que les ayudarán a maximizar la utilidad de sus esfuerzos. Como nos enseñó el
presidente Howard W. Hunter, “Al Señor no le preocupa que usted se vuelva rico o no, pero sí le
importa que aprenda la manera de tener éxito y triunfar” (tal como lo contó Dane McBride en el artículo de Ryan
Lizza, The Mission: Mitt Romney’s Strategies for Success. The New Yorker. 29 de octubre de 2007).
<br>
<br>
La manera de tener éxito y triunfar - El manejo del tiempo
Parte de tener éxito y triunfar es usar su tiempo sabiamente. Toda persona que ha vivido, sin importar
cuán rica o pobre haya sido, ha compartido un don en común: el tiempo. Todos tenemos la misma
cantidad de tiempo: 24 horas al día. Una vez que verdaderamente entienda este don, usted podrá hacer
un mejor uso de su tiempo.
<br>
<br>
Piense en algunas personas muy exitosas y prósperas - ¿Por qué algunas personas que son prósperas
parecen lograr tanto cada día? ¿Cómo usan estas personas su tiempo para poder lograr tanto? Anote
aquí sus respuestas:
<br>
<br>
El buen uso de tiempo es parte de la cultura del éxito. Los siguientes son ejemplos de posibles prácticas
y hábitos de algunas personas que manejan bien su tiempo y han alcanzado el éxito. Son los patrones o
modelos a seguir para alcanzar la prosperidad: 
<br>
</p>
<ul>
<li>Se levantan temprano y trabajan una jornada larga
</li>
<li>Emplean muchos ayudantes, causando un efecto multiplicador de sus esfuerzos individuales
</li>
<li>Hacen listas de lo que tienen que hacer cada día y trabajan en ellas de acuerdo a lo que es más
importante
</li>
<li>Se ponen metas para lograr las cosas que realmente quieren alcanzar
</li>
<li>Hacen las cosas en el orden correcto
</li>
<li>Valoran su tiempo y el tiempo de otros. Son puntuales, ya que es una manera de respetar a otras
personas.</li>
</ul>

<p>Al final de la Lección 1, se le pidió que hiciera una lista de las cosas que usted hace cada día. Revise su
hoja de ejercicios y piense en cómo usa usted su tiempo comparándolo con cómo lo usaría la gente muy
próspera. Anote tres cosas que usted cambiará para allegarse más a la cultura del éxito:
<br>
<br>

La manera de tener éxito y triunfar - Estableciendo nuevos hábitos
<br>
El romper los malos hábitos y reemplazarlos con buenos hábitos toma bastante esfuerzo; aun así, el
cambio es posible. En su discurso “El poder para cambiar”, el presidente James E. Faust enseñó que
uno puede y debe hacer esos cambios. El escribió, “A cada uno de nosotros se nos ha dado el poder
para cambiar nuestra vida. Como parte del gran plan de felicidad del Señor, contamos con el albedrío
personal para tomar decisiones, por lo que podemos decidir ser mejores y hacer mejor las cosas. Todos
tenemos que cambiar en algo… Algunos tenemos hábitos que precisamos cambiar, hábitos que nos
dañan a nosotros mismos y a los que nos rodean. En ocasiones, quizá necesitemos una sacudida que
nos impulse a cambiar” (James E. Faust, “El poder para cambiar”, Liahona, noviembre de 2007, 122-
124)
<br>
<br>
Una cosa es hacer un cambio temporal en el comportamiento, pero otra cosa completamente distinta es
crear un nuevo hábito. Antes de que usted eche un vistazo a algunos de los hábitos deseables que tienen
los exitosos propietarios de negocios, veamos cómo define el diccionario lo que es hábito. Un hábito es
un acto que un individuo repite tantas veces que se vuelve automático.
<br>
<br>
Una de las cosas más difíciles de hacer es desechar antiguos hábitos para crear mejores hábitos, ya que
requiere un trabajo duro y una firme determinación, y a veces, de la ayuda de nuestro Padre Celestial.
Pero si usted desea cambiar la manera en que vive, las actividades de este cuaderno de ejercicios le
ayudarán a hacerlo.
<br>
<br>
Otra vez, piense en algunas personas muy exitosas y prósperas. ¿Cuáles son algunos hábitos que ellos
poseen para poder lograr la prosperidad?
<br>
<br>

Los siguientes son ejemplos de prácticas y hábitos posibles de algunas personas que han logrado el
éxito
<br>
</p>
<ul>
<li>No se dan por vencidos fácilmente
</li>
<li>Ahorran dinero. No gastan todo el dinero que obtienen cada día
</li>
<li>Continúan instruyéndose y aprendiendo durante toda su vida
</li>
<li>Establecen un modelo para hacer bien las cosas al primer intento
</li>
<li>Su visión va más allá del hoy
</li>
<li>Llevan una cuenta de los logros y éxitos diarios
</li>
<li>Cumplen con todas las promesas que hacen
</li>
<li>Se dedican a actividades generadoras de ingresos (AGI) que proveen más ingresos a la familia
</li>
<li>Usan un presupuesto familiar </li>

</ul>

<p>De los hábitos personales mencionados anteriormente, ¿cuáles de ellos está usted preparado para
adoptar de manera que su familia pueda encaminarse hacia la prosperidad? Escriba tres hábitos nuevos
que necesita establecer. Describa qué cosas le ayudarán a cumplir cada nuevo hábito diariamente.
Recuerde la importancia de la repetición.
<br>
<br>

El éxito económico y la prosperidad se pueden obtener al establecer buenos hábitos personales que
guíen a una persona a ser eficiente y eficaz en su trabajo. Tal como el Señor dijo en D. y C. 130:20-21,
“Hay una ley, irrevocablemente decretada en el cielo antes de la fundación de este mundo, sobre la
cual todas las bendiciones se basan; y cuando recibimos una bendición de Dios, es porque se obedece
aquella ley sobre la cual se basa”. Este principio se aplica tanto al éxito económico como a las
bendiciones espirituales que procuramos de nuestro Padre Celestial. Cuando establezca buenos hábitos,
usted cosechará las bendiciones respectivas, aun las bendiciones económicas.
<br>
<br>
¿Está listo para prometer que hará todo lo necesario para ir más allá de sólo sobrevivir y empezar a
tener éxito? ¿Puede cumplir con esta promesa?
<br>
<br>
Usted puede liberarse de las cadenas de una vida de pobreza que los han mantenido sujetos a usted y a
su familia. No será fácil, pero puede hacerlo. La clave es establecer buenos hábitos y practicarlos
diariamente.
<br>
<br>
Citas
<br>
Para reflexionar más sobre este concepto, lea por favor las siguientes citas. Seleccione su cita favorita,
la cual se aplica a su propio deseo de establecer nuevos hábitos que guían a la prosperidad, y explique
por qué es tan importante para usted.
<br>
<br>

“Somos responsables de la forma en que utilicemos [nuestro] tiempo. “No desperdiciarás tu tiempo” (DyC 60:13) y
“cesad de ser ociosos” (DyC 88:124), mandó el Señor a los primeros misioneros y miembros”. (Dallin H. Oaks,
“Enfoque y prioridades,” Liahona, julio de 2001, 99).
<br>
<br>
“Importa muchísimo la manera en que manejamos nuestro tiempo… El manejo sabio del tiempo es la evidencia de
que nos manejamos sabiamente a nosotros mismos” (Spencer W. Kimball, “Jesus: The Perfect Leader,” Ensign,
agosto de 1979, 6).
<br>
<br>
“Si sigo haciendo lo que siempre he hecho, seguiré recibiendo lo que siempre he recibido” (anónimo)
<br>
<br>
Trabajo de campo
<br>
Vaya a por lo menos un mercado y, con una nueva visión, haga una lista de todas las posibles AGIs que
usted puede crear o implementar, las cuales incrementarán el dinero que obtendrá para su familia.
Además, encuentre por lo menos a cuatro personas de su edad que se dediquen a las actividades de
compra y venta. Hable con ellas acerca de sus experiencias, sus fracasos, éxitos, frustraciones, etc.
Pregúnteles si es que ellos ven su AGI como una situación permanente, y si desean hacer crecer su
negocio. Descubra las ventajas y desventajas de hacer negocios. Pregúnteles acerca de los hábitos de
éxito. ¿Cuáles son algunos de sus hábitos de éxito? Use este espacio para anotar las ideas que obtuvo al
realizar esta visita.
<br>
<br>
Asignación escrita final
<br>
Según lo que ha aprendido en esta lección, haga un resumen de lo que piensa en cuanto a qué hábitos
personales necesita desarrollar para llegar a ser próspero. En su respuesta, asegúrese de comentar (1)
qué malos hábitos necesita eliminar, (2) qué buenos hábitos necesita desarrollar, y (3) cuál será el
resultado en su vida, familia o negocio, al poner en práctica esos buenos hábitos.
<br>
<br>
Conclusión final
<br>
Para salir definitivamente de la pobreza y llegar a ser próspero, debo:
<br> &nbsp; 1. Decidir que quiero salir de la pobreza,
<br> &nbsp; 2. Aprender lo que necesito saber y hacer de manera diferente para llegar a ser próspero,
<br> &nbsp; 3. Continuar haciendo sistemáticamente, todos los días por muchos años, las actividades que son
requeridas para ser próspero.
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>