<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 4
¿CÓMO PUEDO RECONOCER UNA BUENA OPORTUNIDAD Y SABER
APROVECHARLA?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Cuál es el mayor problema que tienen mis vecinos, puedo ayudar a resolverlo y hacer
dinero a la vez?
</li>
<li>¿Qué oportunidades tengo gracias a la ventaja de mi ubicación, destrezas e intereses? ¿Qué
destrezas y recursos necesito tener para sacar provecho de esta oportunidad? ¿Qué nuevos
recursos necesito conseguir para aprovechar esta oportunidad?
</li>
<li>¿Cuál es la diferencia entre una idea y una oportunidad que vale la pena tomar?

</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Emprendedores ven oportunidades cuando los demás ven problemas. ¡Abra sus ojos para
ver las tantas oportunidades alrededor!
</li>
<li>Hay millones de ideas para las actividades generadoras de ingresos (AGIs), pero las
oportunidades reales son más difíciles de conseguir. El saber diferenciar las buenas
oportunidades de una idea común requiere investigación, planeamiento y ponerla a prueba.
</li>
<li>Empiece en pequeño y piense en grande
</li>
<li>El Plan de Negocio guía el desarrollo y mejoramiento del propio negocio</li>
</ul>

<p>
<p>Palabras nuevas</p>
<ul>
    <li>Oportunidad: Una combinación favorable de circunstancias; una buena posibilidad que le
permitirá a la persona obtener ganancias al tomar ventaja de ella.</li>
</ul>

<p>Uno de los principales desafíos para la gente que lucha por salir de la pobreza es decidir qué AGI
deberían empezar. Muchos simplemente ven lo que sus vecinos hacen y hacen exactamente lo mismo.
Desafortunadamente, esto raras veces funciona y lo que hace es saturar el mercado con competidores
que hacen que los precios caigan. Entonces, si no es prudente vender lo que venden sus vecinos,
¿cómo encuentra una buena idea y cómo sabe que ideas son oportunidades reales que le ayudarán a
llegar a ser próspero?
<br>
<br>
Ideas y Oportunidades - el Espíritu del Emprendedor
<br>
¿De dónde vienen ideas que podrían llegar a ser oportunidades de negocio? Muchas ideas vienen de
observar problemas o frustraciones y desarrollar soluciones para ellos. Otras ideas vienen de observar
cambios en la comunidad o de identificar oportunidades de hacer algo innovador. Los emprendedores
se dan cuenta de los problemas a su alrededor que tienen el potencial de ser negocios con ganancias.
Ellos buscan mejores productos y servicios para ofrecer a sus clientes. ¡Esto es el espíritu del
emprendedor! Usted puede ejercitar su mente para ver oportunidades a su alrededor. Emprendedores
ven oportunidades cuando los demás ven problemas.
<br>
<br>
Para ayudarle a generar un montón de ideas, use una técnica que se llama “brainstorming”, o sea, una
lluvia de ideas. Se puede usar esta técnica solo, pero es mejor con un grupo. Empiece por escribir todas
las ideas para productos que podría vender o servicios que podría ofrecer. Además, genere y escriba 
una lista de problemas, los cuales necesitan soluciones. Luego, piense en soluciones posibles. No
importa si una idea es buena o no – no juzgue las ideas en este momento. ¡Sea creativo, aun un poco
loco! Puede usar las preguntas a continuación para descubrir nuevos escenarios, los cuales pueden
generar más ideas. Escriba todas las ideas. Y, después de esta sesión, lleve un papel y lapicero y escriba
cualquier idea que vea para que no se le olvide. Aumente esta lista cada día.
<br>
<br>
Preguntas para generar una lluvia de ideas:
<br>
&nbsp; 1. ¿Cuáles son algunos problemas que se ven diariamente? ¿Cuáles son algunas soluciones?
<br>
&nbsp; 2. ¿Qué cambios están sucediendo en su comunidad tales como leyes nuevas, escuelas, hospitales,
negocios de transporte, etc. que cierran o abren? ¿Hay asuntos ambientales que podrían generar
oportunidades para un nuevo negocio?
<br>
&nbsp; 3. ¿Hay un nuevo o viejo producto o servicio que usted podría promover o vender de una manera
creativa? Mire los negocios en su área. ¿Puede hacer usted lo que ellos hacen pero: mejor, más
rápido, más barato, o más confiable?
<br>
&nbsp; 4. Hable con dueños de tiendas u otros negociantes y averigüe qué problemas o frustraciones ellos
están experimentando para ver como usted los podría resolver.
<br>
&nbsp; 5. ¿Puede usted entregar un producto más rápido a áreas remotas? ¿Hay productos o servicios que
todavía no existen en su comunidad, o para los cuales, la gente de su comunidad sale para poder
comprar? ¿Puede ser usted el primero en traer un nuevo servicio/producto a su comunidad?
(Vaya a otra comunidad y vea lo que ellos tienen o hacen que su comunidad no tiene).
<br>
&nbsp; 6. La gente también compra cosas intangibles como: tiempo, prestigio, variedad, seguridad, salud,
conveniencia, atención, etc. ¿Cuáles son algunos productos o servicios que ofrecen:
conveniencia, tiempo, prestigio, descanso, un ambiente limpio, protección, estructura, respeto,
estatus, reconocimiento, fama, auto-realización,entretenimiento, etc.?
<br>
&nbsp; 7. ¿Cuáles son sus ventajas debido a su ubicación, destrezas e intereses? ¿Cuáles son sus
pasatiempos, sus habilidades o los de otras personas en su comunidad? ¿Hay materiales, como
materia prima, que podría comprar a un bajo precio y mejorarlos y venderlos a un precio
mayor?
<br>
<br>
Trabajo de campo
<br>
Durante la próxima semana, mire alrededor de su casa, del mercado, de la iglesia, o de la escuela para
ideas adicionales y anótelas. Siempre debe estar buscando ideas nuevas y anotándolas para luego
evaluarlas y calificarlas como unas posibles AGIs. Los empresarios reconocen oportunidades donde
otras personas ven sólo problemas. Las oportunidades de negocio vienen cuando alguien encuentra una
mejor manera de satisfacer las necesidades de las personas que le rodean. 
<br>
<br>

La Importancia de satisfacer necesidades
<br>
¿Por qué su producto debe solucionar el problema de su cliente? Porque un cliente sólo va a
comprar un producto si es que éste satisface una de sus necesidades o soluciona uno de sus
problemas. Y mientras mayor sea la necesidad por el producto, más probable será que el cliente
realice la compra, y que sea hecha más rápido. La habilidad de solucionar un problema es una
característica principal de saber distinguir entre ideas comunes y oportunidades que valen la pena
no dejar pasar. Otra vez, ¡esto es el espíritu del emprendedor! Muchos productos muy conocidos se
crearon porque alguien vio una manera nueva de resolver un problema viejo. Por ejemplo, el
servicio de correo postal no es muy confiable en Filipinas, entonces un hombre desarrolló una
compañía que entrega cartas y paquetes. El empezó primero en su vecindario y ahora hace entregas
a las más de cien islas que conforman ese país. Otro hombre, también en Filipinas, vio el éxito de
McDonald’s, una franquicia estadounidense de comida rápida, así que empezó una compañía que
vendía hamburguesas de tipo filipino siguiendo el modelo de las hamburguesas de McDonald’s. Su
negocio, llamado Jolly-Bees, tiene mucho éxito.
<br>
<br>
Empiece en pequeño y piense en grande
<br>
Mucha gente quiere empezar una AGI más sofisticada, como un local de Café Internet o
distribuidoras de celulares, las cuales son muy populares en los países en vías de desarrollo. Aunque
sean oportunidades viables de negocios, éstas requieren demasiado capital inicial, algo que las
convierte en oportunidades que no vale la pena seguir hasta que la persona haya logrado más
experiencia en negocios. Recuerde, al empezar su AGI, empiece en pequeño y piense en grande.
Este manual está diseñado para ayudarle a progresar rápidamente de una pequeña AGI a un
negocio. Al final de esta lección, usted identificará la AGI que desea iniciar. Todas las demás
lecciones en este manual están orientadas a ayudarle a que su AGI se convierta rápidamente en el
negocio que usted quiere que sea. Mientras esté aprendiendo a formar su primera AGI y ha
desarrollar sus habilidades de negocios, siga buscando mejores oportunidades y más grandes para
tener negocios más prósperos.
<br>
<br>
Algunas personas piensan que no pueden empezar una AGI o un pequeño negocio porque no tienen
el capital. Es decir, piensan que, primero, necesitan dinero antes de empezar a negociar, por
ejemplo, dinero para comprar inventario para una bodega. Entonces, sin capital, ellos no empiezan
nada. La verdad es que normalmente los bancos no prestan dinero si la persona no tiene un
pequeño negocio actual ni tiene experiencia en negociar. La respuesta es de empezar en pequeño y
pensar en grande. Escoge una pequeña AGI aunque no sea perfecta para usted, empiece algo y
comience con las lecciones a continuación para ganar la experiencia y tener unas ganancias. Puede
crecer hacia su negocio futuro con estas ganancias y experiencias.
<br>
<br>
La Historia de Jonith – un Ejemplo
<br>
A Jonith, un joven brillante, le era difícil decidir qué AGI empezar después de graduarse de un
programa de capacitación para microempresas. Al caminar por su ciudad un día, pasó por su
antiguo colegio y se paró en una esquina a esperar a que algunos carros pasaran. Entonces, se dio
cuenta de que algunos estudiantes estaban preguntándole a la empleada de una repartidora si es que
la tienda en que trabajaba, la cual estaba ubicada frente al colegio, ofrecía servicio de fotocopiado.
La empleada les dijo que no había fotocopiadora en la tienda y que, hasta donde ella sabía, no había
dicho servicio en toda la ciudad.
<br>
<br>
Jonith reconoció que la falta de servicio de fotocopiado era un problema para estos estudiantes, y se
preguntó si es que habría encontrado un problema que valía la pena resolver con una AGI. Jonith
sabía que una persona de su iglesia vendía fotocopiadoras, así que decidió preguntarle a ese señor
cómo obtener una. 
<br>
<br>

También le preguntó a la dueña de la tienda frente al colegio si es que ella le alquilaría un pequeño
espacio sin uso dentro de la tienda. La dueña le dio permiso y le dijo que podía alquilarlo a un
precio muy barato, ya que ella no lo estaba utilizando. El único problema era que él no tenía el
dinero para pagar el alquiler, así que le preguntó a la dueña si podría pagarle a fin de mes. Ella
estuvo de acuerdo, entonces, Jonith le preguntó a su amigo de la iglesia si le prestaría una
fotocopiadora para probar. Jonith le prometió que compraría la fotocopiadora si sacaba suficiente
dinero en su nuevo negocio.
<br>
<br>
El día que trajeron la fotocopiadora, Jonith se dio cuenta de que no tenía papel para las fotocopias,
así que le preguntó a la dueña de la tienda si podría prestarle 25 hojas de papel. Ella le dio una
resma de 500 hojas y le dijo que podría pagarle por el papel cuando le pagara el alquiler. Jonith
también se percató de que necesitaba una extensión para enchufar la fotocopiadora, así que se la
pidió prestada a otro amigo. Entonces empezó a promocionar sus servicios a los estudiantes del
colegio frente a la tienda. Jonith atrajo tanto público ese primer día que ganó lo suficiente para
pagarle a la dueña la resma de papel que le había prestado. Jonith continuó comprando sus
suministros a crédito, y para fin de mes, había juntado suficiente dinero para pagar a todos los que
debía dinero y hacer su primer pago para comprar la fotocopiadora. También se pudo pagar a sí
mismo un pequeño sueldo.
<br>
<br>
Hoy en día, Jonith es dueño de tres fotocopiadoras y tiene su propio negocio de imprenta. La
mayoría de sus clientes son estudiantes, pero también imprime carnets escolares para el colegio de
enfrente. Hace poco amplió su rubro a imprenta comercial para los negocios de su ciudad.
<br>
<br>
¿Cuáles son algunas de las cosas que Jonith hizo para incrementar las posibilidades de su idea, y
luego, que su AGI le resultara exitosa?
<br>
<br>
Escoger una buena oportunidad de negocios para usted
<br>
Como ve, nunca hay una escasez de ideas; de hecho, no hay ni siquiera una escasez de buenas ideas.
El desafío consiste en encontrar la idea correcta en el momento correcto que es a la vez la
oportunidad correcta para usted, teniendo como base su experiencia en los negocios. Este proceso
de escoger puede llevar tiempo, aún más de una semana, y demanda mucha investigación, reflexión
y oración al Señor. El desea que tenga éxito en su negocio y le ayudará por medio del Espíritu. Es
preciso que usted haga la parte de “estudiarlo en tu mente” como dice en D&C 9:7-9
<br>
<br>
¿Cómo puede saber si una idea es una buena oportunidad para usted y que vale la pena seguir?
Anote sus criterios.
<br>
<br>

Ejemplos de características que convierten una idea en una buena oportunidad o AGI:
<br>
&nbsp; 1. Soluciona un problema común pero apremiante: Mientras más urgente sea el problema, mejor.
<br>
&nbsp; 2. La solución al problema está disponible a un precio que el cliente potencial está dispuesto y puede pagar
(por ejemplo, el precio no es tan alto como para que una persona tenga que tener la aprobación de su
esposo/a antes de hacer la compra).
<br>
&nbsp; 3. Todavía no hay una compañía dominante que se encargue de solucionar ese problema en el mercado local.
<br>
&nbsp; 4. La decisión de su cliente en comprar es fácil de tomar.
<br>
&nbsp; 5. Hay suficientes ganancias a fin de que, para usted, el dueño, valga la pena reunir materiales, mejorarlos, y
atraer al consumidor a comprar su producto.
<br>
&nbsp; 6. Es algo que le gusta; ¡tiene pasión! Puede dedicarse a esta actividad diariamente y por años.
<br>
<br>

Hay una lista mucho más amplia al final de esta lección que puede usar para “filtrar” ideas para
que tenga una muy buena oportunidad para desarrollar en su AGI.
<br>
<br>
Escoja su AGI para Investigar Más
<br>
Si todavía no tiene una buena idea para su AGI, a continuación se encuentran algunas pequeñas
AGIs que otras personas empezaron con éxito: Vender bebidas frescas; Preparar sopas y guisos;
Vender bebidas calientes; Vender sándwiches caseros; Vender agua embotellada; Vender
panqueques; Vender sandalias/chanclas; Vender paños y secadores; Vender ropa usada; etc.
<br>
<br>
Aunque éstas no sean oportunidades nuevas y emocionantes que lo convertirán en una persona
próspera rápidamente, son AGIs que le ayudarán a ganar dinero, le enseñarán lecciones importantes
sobre cómo funciona un negocio, y le darán una experiencia valiosa sobre la cual edificar. Y, si
luego necesita capital para su negocio preferible, tendrá operando un pequeño negocio y la
experiencia que los banqueros buscan antes de prestar dinero.
<br>
<br>
Teniendo en mente las características de una buena oportunidad para usted, escoja una oportunidad
que le gustaría investigar más. (Escoger una oportunidad para investigar más sobre ella, no quiere
decir que usted se está comprometiendo a convertir esa idea en una AGI. Usted se comprometerá
con una AGI al final de esta lección. En este momento sólo escoja una AGI que desea investigar
con más profundidad. Tal vez se convierta en la AGI que va a empezar, o tal vez no). Vuelva a
repasar esta elección y medite cuidadosamente en cuán exitosa podría ser esta oportunidad. Sea lo
más específico posible al evaluar la oportunidad.<br>
<br>

Investigar mi AGI
<br>
En esta parte del manual es posible que se sienta frustrado y que esté ansioso por ganar dinero sin
ver la necesidad del valor de hacer toda esta investigación. Sin embargo, un planeamiento a
profundidad es valioso. Napoleon Hill, autor de “Piense y hágase rico”, explica por qué el
planeamiento es tan importante. “Uno debe darse cuenta de que todos los que han acumulado
grandes fortunas primero han soñado, deseado, anhelado, pensado y planificado antes de haber
adquirido el dinero” (Hill, Napoleon. 1996. Piense y hágase rico,
http://www.rocketsclub.org/Piense_y_hagase_rico.pdf, p.14; énfasis agregado).
<br>
<br>
Sin la planificación y el análisis, los aspirantes a ser propietarios de negocios desperdiciarían gran
cantidad de tiempo, dinero, energía y entusiasmo persiguiendo ideas pero sin nunca establecer una
AGI exitosa. La clave para tener éxito desde el comienzo está en investigar, planificar y comprobar
una oportunidad sólida. Es preciso saber si su AGI alcanzará sus metas.
<br>
<br>

Investigar – visite al mercado frecuentemente para averiguar y escuchar; hable con clientes para
entender sus deseos y necesidades, etc. Haga cualquier investigación que sea necesaria para
entender todo lo que puede hacer para que sea exitoso en este nuevo negocio. Averigüe cuantas
otras AGIs hay que ofrecen algo similar a su AGI. Investigue cuanto serán sus costos iniciales,
quienes serán sus proveedores, cuánto podría cobrar por su producto o servicio, etc. Piense en
cómo va a mejorar y mercadear su producto o servicio. Hable con amigos, mentores, profesionales,
etc. para obtener sus opiniones, retroalimentaciones, experiencias, etc.
<br>
<br>
Planificar – prepare un plan para su negocio. Puede ser muy sencillo o más detallado. Lo más
sencillo sería una descripción de 1) su producto o servicio, 2) a quien le va a vender – quiénes son
sus clientes, 3) cómo va a vender su producto o servicio, y 4) cuánto dinero va a ganar cada semana
o mes, aproximadamente. (Vea a continuación). Revise su plan frecuentemente. Auméntelo cuando
tenga nueva información. Hable con un amigo confiable o un mentor de su plan. Pídales
retroalimentación de su AGI y su plan.
<br>
<br>
Si desea un formato más completo para preparar su plan, puede usar el Plan de Negocio al final de
este manual. No tiene que llenar totalmente este plan ahora – puede aumentar y mejorar el plan
semana por semana hasta que tenga un buen plan.
<br>
<br>
Comprobar – Haga su producto e invite a un amigo o cliente a que lo use. Considere sus ideas y
sugerencias y modifique su producto o servicio de acuerdo a ella. Durante la vida de su negocio,
puede comprobar ideas en: el mercadeo, el producto, el servicio, el precio y el proceso.
<br>
<br>
Ahora, es el momento de escoger y planear su AGI
<br>
Según lo que ha aprendido en esta lección, piense seriamente en la AGI que planea empezar, la cual
le ayudará a obtener la prosperidad. Si todavía no ha encontrado la mejor AGI para usted, ahora es
el momento para escoger una AGI sencilla para desarrollar y obtener experiencia mientras siga
buscando y orando para una mejor oportunidad. Tal vez, ya tiene la AGI perfecta para desarrollar.
Tal vez, ya tiene un pequeño negocio y quiere mejorarlo por medio de este taller. Siga practicando
el espíritu emprendedor al estar alerta de maneras para mejorar su negocio.
<br>
<br>

Conclusión
<br>
La mayoría de las ideas para pequeños negocios no son buenas para seguir. Las mejores
oportunidades incluyen vender una solución simple a un problema apremiante, ofreciéndola a un
precio justo que la gente pueda y esté dispuesta a pagar.
Ahora, llene el plan de negocio sencillo a continuación con la información que usted ha recogido en
su investigación, planificación, y comprobación. Revise y aumente su plan mientras sigue adelante
en este taller
</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>