<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 9
¿CÓMO MANEJO MI EFECTIVO Y MI INVENTARIO?</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Por qué el dinero en efectivo es tan importante para un negocio?
</li>
<li>¿Por qué debo manejar mi dinero en efectivo cuidadosamente?
</li>
<li>¿Cuál es la relación entre el inventario y el dinero en efectivo?
</li>
<li>¿Por qué es tan importante llevar la cuenta de cuándo pagué y de lo que pagué por mi
inventario? 
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Un negocio no puede sobrevivir sin dinero en efectivo.
</li>
<li>Usted no debería quedarse sin suficiente efectivo para cubrir sus gastos y obligaciones. Tenga
disponible el suficiente dinero en efectivo para poder mantenerse durante el ciclo de ventas, es
decir desde la compra de su inventario hasta cuando pueda venderlo (y véndalo por dinero en
efectivo).
</li>
<li>Compre a crédito; venda en efectivo.
</li>
<li>Maximice su efectivo vendiendo su inventario lo más rápido posible y no a crédito.
</li>
</ul>

<p>Palabras Nuevas</p>
<ul>
    <li>Efectivo: Dinero disponible. Es una bendición o una maldición. Si lo tiene cuando lo necesita, es una
bendición; sin embargo, si no lo tiene cuando lo necesita, usted estará en graves problemas.
    </li>
    <li>Flujo de efectivo: El dinero (o efectivo) que entra y sale de un negocio. Este flujo de efectivo se
puede retrasar o acelerar dependiendo de sus habilidades para manejar un negocio, tales
como la compra, el manejo del crédito, la venta, la recaudación de dinero, el pago de las
cuentas y la expansión del negocio.
    </li>
    <li>Manejo de dinero: La técnica de controlar su compra, recaudación, pago de cuentas y el control
del inventario. Esto le permitirá operar lo más eficazmente posible con el dinero que
dispone para hacer crecer su negocio. El predecir sus necesidades de dinero en efectivo es
una manera necesaria e inteligente de hacer crecer su negocio sin problemas.
    </li>
    <li>Ciclo de caja: El período de tiempo que toma el efectivo desde el momento en que es invertido
en el negocio, ya sea como inventario o como un gasto o un activo, hasta regresar al negocio
a través de una venta o servicio a un cliente.
    </li>
    <li>Crédito: Un acuerdo contractual en el cual un propietario de un negocio recibe algo
de valor ahora (generalmente mercancía o servicios) y se compromete a compensar al
prestamista en una fecha posterior. Al trabajar con crédito, usted está trabajando
básicamente con el dinero de otras personas para ganar dinero.
    </li>
    <li>Inventario: La mercancía que usted compra a un proveedor o fabrica y luego la vende al
cliente. El inventario representa el efectivo invertido más las ganancias anticipadas. Mientras más
inventario pueda comprar a crédito para venderlo luego a un buen precio, más exitoso podrá ser su
negocio.</li>
<li>Ciclo de ventas: El tiempo desde la compra de un producto hasta la venta del mismo. Mientras más
rápido (o sea, más corto) el ciclo de ventas, con un precio apropiado, más dinero ganará
    </li>
</ul>


<p>El efectivo, es decir, el dinero disponible, es la sangre vital de cualquier negocio. Sin sangre, el
cuerpo está muerto. Sin efectivo, el negocio está muerto. Es así de simple. No importa cuán bueno
sea el negocio, cuán buena pueda ser su ubicación, o cuán bueno sea el producto o servicio a
ofrecer, pero si no hay suficiente efectivo, el negocio morirá rápidamente. El efectivo es el que
manda. El efectivo y el crédito son las únicas cosas que puede utilizar un negocio para comprar
provisiones y equipo, comprar inventario y pagar sueldos. Mientras más pronto usted reconozca la
importancia del efectivo en su negocio y comience a planear y manejar su circulación, habrá menos
probabilidades de que su negocio experimente una muerte prematura.
 <br>
 <br>
Las dos causas más grandes para que un negocio fracase son (1) la falta de disponibilidad de
efectivo suficiente cuando se comienza la empresa y (2) un deficiente manejo del dinero al crecer el
negocio. Claramente, el manejo del efectivo es muy importante pero no necesariamente tan fácil de
hacerlo. Un buen manejo de efectivo comprende el seguimiento de cada peso que entra o sale del
negocio, saber cuánto dinero se ha invertido en el inventario, saber cuánto dinero le debe usted a sus
proveedores, y saber cuánto le deben sus clientes a usted (lo cual debe ser muy poco, o nada, si es
que usted recuerda vender siempre al contado).
 <br>
 <br>
A continuación tiene una lista con ocho razones por las cuales es importante tener dinero en
efectivo. Encierre las cuatro razones de un negocio que usted considera que son las más
importantes.
 <br>
 <br>
&nbsp; 1. Puedo darle a mi esposo/a para las cosas que necesite mi familia.
 <br>
&nbsp; 2. Será útil para comprar una botella de agua cuando haga calor.
 <br>
&nbsp; 3. Ayudará a pagar los sueldos de mis empleados.
 <br>
&nbsp; 4. Puede permitirme conseguir mejores precios para el inventario cuando deba pagar en efectivo.
 <br>
&nbsp; 5. Me gusta escuchar el tintinear de las monedas en mi bolsillo.
 <br>
&nbsp; 6. Puedo pagar emergencias que surjan en el negocio.
 <br>
&nbsp; 7. Puedo pagar a mis proveedores a tiempo, así que con el tiempo ellos me darán mejores
 condiciones de crédito.
 <br>
&nbsp; 8. Puedo comprar un nuevo camión para transportar mi mercadería a las casas de mis clientes.
 <br>
 <br>
Los puntos 3, 4, 6 y 7 son las razones más importantes desde el punto de vista de los negocios.
Número ocho parece ser muy llamativa, pero recuerde que los propietarios de negocios que son
prudentes, gastan lo mínimo posible en herramientas y equipo, especialmente en equipo que
contribuye muy poco para la operación del negocio.
 <br>
 <br>
Reglas de oro clave para el manejo de efectivo
 <br>
En la Lección 6 usted aprendió ocho reglas de oro. Muchas de ellas están relacionadas con el
manejo de efectivo y del inventario, pero dos son de particular importancia. En esta lección,
repasaremos esas dos reglas de oro, luego, explicaremos una regla más que es la clave para manejar
el dinero en efectivo, y finalmente analizaremos herramientas específicas que pueden ayudarle a
manejar su efectivo para que su negocio nunca se encuentre sin el dinero suficiente para cumplir
con sus obligaciones.
 <br>
 <br>
Compre a crédito; venda en efectivo
 <br>
El principio de la compra a crédito es crucial en el manejo del efectivo. Es una de las mejores
maneras de estirar su efectivo y levantar su negocio. Cuando compra inventario a crédito, usted 
tiene la oportunidad de vender ese inventario al contado inmediatamente, sin haber tenido que pagar
nada en efectivo por él.
 <br>
 <br>
Así es como funciona. Supongamos que usted posee un puesto de bisutería. Cada semana, usted
compra 100 pulseras de un proveedor a 5 pesos cada una, y las vende a 10 pesos. Si usted puede
convencer a su proveedor de que le venda las pulseras a crédito con la promesa de pagarle en siete
días, usted puede estirar su efectivo de manera notable. Si en el lapso de una semana, usted vende
72 de las pulseras, usted habrá juntado 720 pesos en efectivo (72 pulseras a 10 pesos cada una) sin
haber tenido que pagarle un solo peso a su proveedor. Al final de los siete días usted tendrá que
pagar a su proveedor 500 pesos que usted le debe (100 a 5 pesos cada una) pero no tendrá que
recurrir a su fondo de operaciones para pagar el inventario; eso saldrá de los 720 pesos que usted ya
juntó al vender las pulseras a sus clientes.
 <br>
 <br>
Cada proveedor maneja el tema del crédito de manera diferente, pero la mayoría le permitirá tener
cierto crédito limitado ya que usted está recién empezando. Por ejemplo, algunos proveedores le
dejarán comprar mercancia a crédito por la mañana si usted la paga al final del día. En mercados
más establecidos, los proveedores les dan a los prestatarios hasta 60 días para que paguen los
productos que compran a crédito. Otros proveedores les permitirán usar a los minoristas un cheque
posfechado. Por ejemplo, un propietario de un negocio puede comprar inventario el 1° de
noviembre y girarle al proveedor un cheque ese mismo día, pero fechado para el 1° de enero,
consiguiendo así utilizar el inventario por 60 días hasta que se cobre el cheque.
 <br>
 <br>
Generalmente, la oportunidad de comprar a crédito viene cuando el propietario de un negocio ha
actuado con integridad y ha establecido una relación de confianza con un proveedor. Esa relación es
muy valiosa en los negocios. Una vez que le conceden la oportunidad de comprar a crédito, no
abuse de él. Cumpla siempre con sus obligaciones. Honre las condiciones del crédito con exactitud.
El cuidar sus relaciones con sus acreedores le ayudará a manejar su efectivo de manera sabia y a
hacer crecer su negocio rápidamente.
 <br>
 <br>
La clave para poder hacer sus pagos cuando llega la fecha límite del crédito está en vender siempre
al contado. Cuando vende sus productos a sus clientes, pero les permite que le paguen más adelante,
usted está realmente permitiéndoles que tengan el efectivo que usted pagó por el producto y
cualquier beneficio posible que usted pueda obtener de la venta. Usted confía en que le pagarán, y
que le pagarán a tiempo para así pagarle a su proveedor. Esto es un riesgo innecesario, uno que no
debería tomar.
 <br>
 <br>
Rote su inventario a menudo
 <br>
En la Lección 6 usted aprendió la importancia de vender su inventario lo más rápido posible. Usted
aprendió que vender un pequeño inventario con el fin de obtener un beneficio diario es la mejor
manera de comenzar.
 <br>
 <br>
Este concepto es fácil de entender si usted vende artículos perecederos que literalmente se echarán a
perder si no se venden rápidamente. ¿Pero por qué es vender su inventario lo más rápido posible tan
importante para los artículos no perecederos también? Digamos que posee una pequeña tienda de
abarrotes. Usted tiene en su estante 11 latas pescado enlatado. Cada lata le costó inicialmente 4
pesos, y usted las vende a 6 pesos cada una. Usted compró las latas hace tres meses pero no
consiguió vender ni una sola sino hasta ayer, cuando finalmente vendió 1. Ahora a usted le quedan
10 latas.
 <br>
 <br>

¿Le hace daño a su negocio que haya un movimiento lento de su inventario? Por supuesto que sí. El
pescado enlatado no se va a echar a perder en su estante, pero está reteniendo su efectivo que podría
ser utilizado en un inventario de movimiento rápido (es decir, productos que se venden
rápidamente). Las 10 latas que quedan en su estante cuestan en total 60 pesos, o sea, 60 pesos que
podrían invertirse mejor en otros productos. Definitivamente esas latas sin vender le están haciendo
daño a su flujo de efectivo. La cuestión principal aquí es que el efectivo que está inerte en un
inventario que no se vende, no le está produciendo ganancias. Entonces, usted necesita vender ese
inventario (el pescado enlatado) lo más rápido posible para poder convertirlo nuevamente en
efectivo, así tenga que venderlas a un precio menor al cual normalmente las vendería.
 <br>
 <br>
¿Cuáles son tres opciones que usted tiene para vender rápido su inventario de pescado enlatado para
convertir el pescado enlatado nuevamente en efectivo?
 <br>
 <br>

¿Por qué es importante, desde la perspectiva del flujo de efectivo, vender su inventario lo más
rápido posible? ¿Por qué tiene este inventario un movimiento lento?
 <br>
 <br>
Una forma en que usted podría convertir en efectivo sus latas de pescado de movimiento lento es
intentar venderlas en paquetes a un precio menor. Si usted coloca un anuncio que dice “1 lata por 6
pesos o 2 latas por 11 pesos”, pueda ser que usted venda las latas rápidamente. Si de hecho se
venden al precio de “2 latas por 11 pesos”, entonces habrá descubierto que el precio que fijó por
lata podría haber sido la razón por la que nadie compraba las latas de pescado a 6 pesos por lata. En
el futuro, usted sabrá exactamente a qué precio vender las latas de pescado de manera que tenga un
mejor movimiento de su mercancia y, por tanto, un movimiento rápido de su efectivo.
 <br>
 <br>
Recuerde que la razón por la cual usted está en un negocio es para tener ganancias. Cuanto más
rápido pueda usted acelerar el proceso de la compra de mercancia, agregarle un buen precio y
vender la mercancía, entonces más ganancias tendrá usted.
 <br>
 <br>
Compras a mayoreo y con descuento
 <br>
Una manera final de aumentar flujo de efectivo es la de negociar descuentos por compras al
mayoreo, lo cual significa comprar en cantidades más grandes a un precio más bajo por unidad.
Esto sólo funcionará si usted ha llevado unos buenos registros y sabe cuán rápido se vende cierto
artículo a determinado precio.
 <br>
 <br>
Volvamos al ejemplo del pescado enlatado que se vendía lentamente cuando su precio era de 6
pesos, pero que se vendieron rápidamente a 2 latas por 11 pesos. Anticipando que las futuras ventas
serán semejantes a las anteriores, usted reconocerá que le puede comprar a su proveedor muchas
latas a la vez y aun así mover su inventario rápidamente. Y si puede conseguir un buen número de
latas a precio con descuento al mayoreo, usted podrá ahorrar dinero en la fase de “captación”, y por
tanto, incrementará sus ganancias.
 <br>
 <br>

Si usted normalmente compra a la vez 10 latas a 4 pesos cada una, le puede pedir a su proveedor un
descuento por la compra de 25 latas, tal vez a 3.50 pesos cada una. Valdría la pena comprarlas en
grandes cantidades (25 a la vez, en vez de 10 a la vez) y venderlas a un precio menor por lata (2
latas a 11 pesos, en vez de 1 lata a 6 pesos), y aun así ¡tendrá una ganancia de 2 pesos por cada lata!
 <br>
 <br>
Ciclo de ventas
 <br>
Otro aspecto importante del manejo de efectivo es comprender el ciclo de ventas de su negocio. En
palabras simples, usted debe saber aproximadamente cuánto tiempo pasará a partir del momento en
que pone sus artículos de inventario en el estante hasta que usted lo venda para obtener ganancias,
convirtiendo, entonces, el inventario en efectivo nuevamente. Usted no sabrá esto durante las
primeras semanas o meses de su negocio, pero si mantiene buenos registros de sus ventas, usted
verá emerger con el tiempo un fuerte patrón, lo cual le indicará cuánto tiempo toma desde comprar
el inventario hasta convertirlo en efectivo nuevamente. (Recuerde que cada producto tiene su propio
ciclo de venta).
 <br>
 <br>
Diversos tipos de negocios tienen diversos ciclos de ventas. Cuanto más simple es el negocio, más
corto es el ciclo de ventas. Un puesto de frutas generalmente “rota” su inventario muy rápidamente.
De no ser así, la fruta se descompone. Entonces, el periodo de tiempo entre la compra de la fruta de
un mayorista o proveedor y la venta de ella a un cliente debe ser muy corto. Pero los minoristas de
ropa tienen ciclos de ventas más largos porque su inventario no se malogrará y no cubre tan de
inmediato una necesidad como lo hacen los productos de los vendedores de frutas.
 <br>
 <br>
A continuación encontrará 5 negocios.
 <br>
</p>
<ul>
<li>Vender fruta
</li>
<li>Vender bisutería
</li>
<li>Vender bicicletas usadas
</li>
<li>Vender casas
</li>
<li>Vender pescado
</li>
</ul>
<p>
Mientras medita en estos diferentes tipos de negocios, usted debería empezar a comprender por qué
los negocios complicados o sofisticados requieren más efectivo para pagar gastos, esto se debe en
gran parte al hecho de que los ciclos de ventas son bastante largos. Identificar su propio ciclo de
ventas es importante para su flujo de efectivo porque usted necesita guardar suficiente dinero en
efectivo para completar sus ciclos de ventas. Si su ciclo es corto, usted puede guardar relativamente
una pequeña cantidad de efectivo disponible; si es largo, usted necesita más efectivo disponible.
 <br>
 <br>
El flujo de efectivo y rentabilidad de Tony
 <br>
Tony está empezando un pequeño servicio de cortado de césped, y ya ha conseguido 11 clientes a
quienes les cortará el pasto dos veces al mes (aproximadamente el 8 y 23 del mes). A continuación
se encuentra un resumen de su proyección del efectivo que recibirá y gastará cada mes.
 <br>
Ingresos: 11 clientes que le pagarán 70 pesos cada mes
Gastos:
 <br>
Salario 320 (40 horas a 8 pesos/hora), en dos partes
 <br>
Celular 30
 <br>

Gasolina para la podadora
y su camioneta 92 (46 pesos dos veces al mes)
 <br>
Contador 48 (6 horas a 8 pesos la hora)
 <br>
Compra del negocio 50 (para pagar al antiguo propietario)
 <br>
Pago de préstamo 83 (para pagar el pago inicial por el negocio)
 <br>
 <br>
Mirando estas cifras, ¿cuánto efectivo recibe el negocio de Tony? 
 <br>
¿Cuánto efectivo gasta el negocio cada mes? 
 <br>
¿Cuántas ganancias genera el negocio cada mes?
 <br>
(Efectivo recibido = 770; Efectivo gastado = 623; Ganancias =147)
 <br>
 <br>
Si comete el típico error de pensar que si hay ganancias, y que debería haber suficiente efectivo,
entonces usted podría estar en problemas. Veamos por qué las ganancias no siempre indican el flujo
de efectivo positivo, al examinar el ingreso mensual y los gastos de Tony.
 <br>
 <br>
Ya que Tony depende del salario que obtiene de su negocio para sobrevivir, él se paga a sí mismo
un salario el 1° y el 15 de cada mes. Tony debe comprar gasolina para la podadora y para su
camioneta dos veces al mes de manera que pueda cortar el césped dos veces al mes (generalmente
el 8 y 23 de cada mes). El pago de su celular vence el 21 de cada mes. La fecha límite del pago del
préstamo es el día 2 de cada mes, y el 25 de cada mes le paga al dueño anterior del negocio. A su
contador, le paga el 30 de cada mes. Finalmente, sus clientes le pagan a Tony el día 5 de cada mes.
 <br>
 <br>
A fines de mayo, su primer mes en operación, el negocio de Tony tiene un saldo de 92 pesos. Con
92 pesos como saldo en efectivo inicial, utilice la información anterior para ayudar a completar los
detalles del flujo de efectivo de Tony a partir del 1° de junio hasta el 5 de julio. 
 <br>
 <br>
Según sus cálculos anteriores, ¿tiene Tony un flujo de efectivo positivo? ¿Por qué o por qué no?
 <br>
(No, no tiene un flujo de efectivo positivo. Al principio del mes Tony no tiene suficiente efectivo para
pagarse su salario y hacer el pago del préstamo. Y nuevamente al comienzo del siguiente mes, a Tony le
faltan 4 pesos para el pago del préstamo.)
 <br>
 <br>
Puesto que hay una ganancia neta de 147 pesos pero Tony tiene un saldo en efectivo negativo en
dos momentos durante el análisis del período, podemos decir que este negocio es rentable pero no
tiene un flujo de efectivo positivo.
 <br>
 <br>
Usted puede aprender varios principios importantes del manejo de efectivo al estudiar este ejemplo:
 <br>
</p>
<ul>
    <li>La ganancia no significa siempre un flujo de efectivo positivo. Tony obtuvo una ganancia
mensual de 147 pesos, pero se encontró en apuros al comienzo de cada mes debido al flujo
de efectivo mal calculado.
    </li>
    <li>El cobrar cada peso y asegurar los ingresos es extremadamente importante. A veces, incluso
el que nos falle un cliente en pagar podría dar lugar a problemas con el flujo de efectivo.
Esto debe también hacerle recordar que la venta a crédito no es una buena idea. Cobre
siempre inmediatamente el efectivo por su mercancia o servicios, cuando sea posible.
    </li>
    <li>La compra a crédito puede salvar su flujo de efectivo. Si Tony pudiera utilizar crédito para
comprar su uso del teléfono celular y su gasolina, podría cobrar el efectivo de sus clientes
antes de pagar esos gastos. 
    </li>
    </ul>

    <p>
        Haga una lista de por lo menos tres maneras en que Tony podría resolver de inmediato sus
problemas con el flujo de efectivo.
 <br>

(Las respuestas posibles incluyen conseguir dos clientes adicionales, comprar gasolina o el
uso del celular a crédito, y que el mismo lleve su contabilidad para que no tenga que pagar a
un contador.)
 <br>
 <br>
Para resumir, recuerde que hay tres reglas que le ayudarán a mantener el efectivo suficiente:
 <br>
&nbsp; 1. Cobre el efectivo en el momento en que vende.
 <br>
&nbsp; 2. Retrase el pago de las cuentas cuanto sea posible, pero cumpliendo sus promesas a sus
proveedores.
 <br>
&nbsp; 3. Conozca el saldo en efectivo de cada día. 
 <br>
 <br>

Asignación final escrita
 <br>
De acuerdo con lo que usted ha aprendido de esta lección, explique porqué el efectivo es tan
importante para un negocio y lo que usted necesita hacer para aplicar el principio de la compra a
crédito en su propio negocio.
 <br>
También, elabore una tabla a continuación de flujo de efectivo para su negocio y empiece a llenarla
con las acciones en su negocio durante esta próxima semana.
 <br>
 <br>

Conclusión final
 <br>
Mientras vaya aprendiendo a poner en práctica el buen manejo del efectivo, no sólo aumentará el
monto de su efectivo activo sino también sus ganancias. 

</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>