<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 11
¿CÓMO ADMINISTRO MI NEGOCIO PARA LOGRAR UN MÁXIMO
CRECIMIENTO?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Qué es lo que implica el administrar empleados?
</li>
<li>¿Quién me va a capacitar para ser un buen gerente?
</li>
<li>¿Es una mala idea contratar a mis amigos o familiares?
</li>
<li>¿Está bien ser amigo de mis empleados en vez de solo administrarlos?
</li>
<li>Si un negocio es pequeño, ¿se puede beneficiar de los “sistemas”?

</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Una vez que su negocio sea lo suficientemente grande, usted deberá contratar y
administrar empleados para continuar expandiendo su negocio.
</li>
<li>Los sistemas definen cómo funciona su negocio y hacen que sea eficaz.
</li>
<li>Los propietarios de negocios que tienen empleados deben trabajar para el negocio, y no
sólo trabajar en el negocio.
</li>
<li>Los empleados hacen el trabajo táctico; los propietarios de negocios hacen el trabajo
estratégico.
</li>
</ul>

<p>Palabras nuevas</p>
<ul>
    <li>Administrar: Supervisar el trabajo de los empleados; supervisar a otros en una capacidad
administrativa.
    </li>
    <li>Mentor: Un maestro con experiencia y en quien se tiene confianza; alguien con bastante
experiencia en los negocios que está dispuesto a enseñarle cómo tener éxito en
su negocio.</li>
<li>
Sistema: Un bosquejo ordenado y detallado de lo que se tiene que hacer para alcanzar una
meta definida.</li>
<li>
Trabajo estratégico: Actividades de negocios a larga escala destinadas a guiar el crecimiento y
las operaciones a largo plazo del negocio. El trabajo estratégico incluye el establecimiento de
metas, la evaluación de nuevas líneas de productos o servicios y la expansión del negocio.
</li>
<li>Trabajo táctico: Actividades a pequeña escala del negocio. Actividades diarias del negocio,
tales como hacer cuentas, saludar a los clientes, mantener limpia la tienda y comprar
inventario. </li>
</ul>

<p>Mientras siga llevando registros precisos (tal como aprendió en la Lección 10) y tome decisiones
basadas en esos registros, es más probable que su negocio crezca significativamente. Una vez que
su negocio se haya expandido, usted tal vez no tendrá tiempo de hacer todas las tareas que se
requieren para operar su negocio diariamente. Sus clientes tal vez tengan que esperarle un buen rato
para que usted les brinde la atención que desean. Puede ser que esté tan ocupado trabajando con
varios proveedores y negociando las condiciones de un buen crédito que no le alcanzara el tiempo
para volver a llenar sus estantes. Incluso puede ser que se empiece a atrasar con sus registros debido
a que tiene tantos clientes y tan poco tiempo para darle seguimiento a sus ventas. Puede ser que se
sienta tan estresado que desearía nunca haber empezado su negocio o le gustaría deshacerse de
algunos clientes a fin de que su negocio permanezca pequeño y sencillo. Cuando pasen estas cosas
será una clara señal de que su negocio está creciendo y que necesitara contratar a empleados para
que trabajen en su negocio.
<br>
<br>
Piense en su negocio. ¿Está experimentando algunos “dolores de crecimiento”, frustraciones como
las que se mencionaron antes? Si es así, haga una lista específica de las cosas que le están causando
frustración.
<br>
<br>
Muchos propietarios de negocios, especialmente aquellos con negocios que recién acaban de
empezar o aquellos que no saben mucho sobre cómo dirigir un negocio, contratan empleados
inmediatamente para darse abasto.
<br>
<br>
En algunos casos, realmente se necesita de empleados. En otros, los empleados todavía no son
necesarios. Los dueños de negocios que son prudentes, evalúan todos los aspectos de su negocio y
de su horario personal para ver si el simple hecho de administrar mejor su tiempo podría solucionar
el problema. Si el mejorar la administración del tiempo o el aplicar mejor los principios de negocios
es la solución, los dueños deben continuar sin contratar a un empleado. Pero si “los dolores de
crecimiento” que están percibiendo son verdaderamente el resultado del crecimiento del negocio,
entonces el dueño deberá de contratar y entrenar a un empleado.
<br>
<br>
Vuelva a ver su lista de frustraciones. ¿Hay condiciones suficientes que ameriten la contratación de
un empleado?
<br>
<br>
Haga una lista de cualidades personales y habilidades que usted buscaría en un empleado.
<br>
<br>

Una advertencia en cuanto a contratar a familiares o amigos: Ésta no es siempre una buena idea. Por
más que queramos mucho a nuestros familiares y amigos, a menudo ellos no son buenos empleados.
Por ejemplo, puede ser que no les guste recibir órdenes de usted, que no tengan las habilidades y
cualidades necesarias, que no sean responsables, trabajadores y confiables, y que no se les pueda
despedir con facilidad debido a que mantienen una relación cercana con usted, el jefe.
<br>
<br>
Teniendo esta advertencia en mente, ¿tiene usted un familiar o amigo el cual piensa que sería un
buen empleado? Escriba el nombre de esa persona en este espacio. ¿Por qué piensa que su amigo o
familiar sería un buen empleado? ¿Qué cosas cree usted que impedirían que él o ella fuera un buen
empleado?
<br>
<br>

El costo de contratar incorrectamente
<br>
Sin importar a quien decida contratar, usted necesita estar consciente de cuán importante es tomar la
decisión de contratar a alguien, ya que el contratar a la persona incorrecta puede costarle
muchísimo, llámese tiempo, dolores de cabeza o dinero. Los gerentes inexpertos o poco prudentes
cometen los siguientes errores comunes: (1) contratan a alguien que no está calificado, (2) contratan
a alguien que sienten que no pueden despedir, (3) contratan a alguien que no es íntegro, y (4) fallan
en entrenar adecuadamente al empleado que acaban de contratar.
<br>
<br>
Contratar a alguien que no es capaz de hacer el trabajo que usted necesita que se haga tiene graves
consecuencias: usted tendrá que invertir bastante tiempo capacitando al empleado y corrigiendo sus
errores. Entonces, no sólo pierde usted el valor del tiempo del empleado, sino también el suyo
propio, es decir, el tiempo que tiene que invertir en capacitar y volver a capacitar al empleado.
<br>
<br>
El despedir a los empleados nunca es una experiencia agradable. Pero cuando tiene que despedir a
alguien que es cercano a usted como un amigo o familiar, es especialmente doloroso. Evite esta
clase de situaciones contratando empleados a los que pudiera despedir sin lastimar ninguna relación.
De otra manera, corre el riesgo de arruinar una relación (por despedirlos) o arruinar su negocio (por
no despedirlos cuando sus acciones hieren al negocio).
<br>
<br>
El contratar a alguien que es deshonesto o flojo tiene su propio costo, ya que ese tipo de empleado
puede ser que le robe de maneras diferentes: le puede robar su inventario, le puede robar su tiempo
al no trabajar tan arduamente como usted espera que lo haga, le puede robar llegando tarde al
trabajo, etc. Claramente, los costos de contratar a empleados sin integridad son altos.
<br>
<br>
Con sus propias palabras, explique por qué es tan importante contratar a la persona correcta. ¿Por
qué tiene un costo tan alto el contratar a la persona equivocada?
<br>
<br>
Capacitación y administración de empleados
<br>
Cuando contrate a alguien, usted tendrá que capacitarlo y dirigirlo. Como el propietario de un
negocio, es muy probable que tenga muy poca experiencia dirigiendo y capacitando a otros. Esta
lección está diseñada para ayudarlo a aprender lo que necesita saber y hacer para empezar el
proceso de contratación y dirección de nuevos empleados.
<br>
<br>
Moisés, un profeta del Antiguo Testamento, fue un líder poderoso, uno que fue escogido no sólo
para predicar el evangelio sino también para sacar a Israel del cautiverio. En una ocasión, él recibió
un consejo de su suegro, Jetro, sobre cómo ser un buen administrador. Lea por favor la historia de
este consejo en Éxodo 18:13-26
<br>
Éxodo 18:13-26
<br>
&nbsp; 13 Aconteció que al día siguiente se sentó Moisés a juzgar al pueblo; y el pueblo estuvo
delante de Moisés desde la mañana hasta la tarde.
<br>
&nbsp; 14 Viendo el suegro de Moisés todo lo que él hacía con el pueblo, dijo: ¿Qué es esto que
haces tú con el pueblo? ¿Por qué te sientas tú solo, y todo el pueblo está delante de ti desde
la mañana hasta la tarde? 
<br>

&nbsp; 15 Y Moisés respondió a su suegro: Porque el pueblo viene a mí para consultar a Dios.
<br>
&nbsp; 16 Cuando tienen asuntos, vienen a mí; y yo juzgo entre el uno y el otro, y declaro las
ordenanzas de Dios y sus leyes.
<br>
&nbsp; 17 Entonces el suegro de Moisés le dijo: No está bien lo que haces.
<br>
&nbsp; 18 Desfallecerás del todo, tú, y también este pueblo que está contigo; porque el trabajo es
demasiado pesado para ti; no podrás hacerlo tú solo.
<br>
&nbsp; 19 Oye ahora mi voz; yo te aconsejaré, y Dios estará contigo. Está tú por el pueblo delante
de Dios, y somete tú los asuntos a Dios.
<br>
&nbsp; 20 Y enseña a ellos las ordenanzas y las leyes, y muéstrales el camino por donde deben
andar, y lo que han de hacer.
<br>
&nbsp; 21 Además escoge tú de entre todo el pueblo varones de virtud, temerosos de Dios, varones
de verdad, que aborrezcan la avaricia; y ponlos sobre el pueblo por jefes de millares, de
centenas, de cincuenta y de diez.
<br>
&nbsp; 22 Ellos juzgarán al pueblo en todo tiempo; y todo asunto grave lo traerán a ti, y ellos
juzgarán todo asunto pequeño. Así aliviarás la carga de sobre ti, y la llevarán ellos contigo.
<br>
&nbsp; 23 Si esto hicieres, y Dios te lo mandare, tú podrás sostenerte, y también todo este pueblo
irá en paz a su lugar.
<br>
&nbsp; 24 Y oyó Moisés la voz de su suegro, e hizo todo lo que dijo.
<br>
&nbsp; 25 Escogió Moisés varones de virtud de entre todo Israel, y los puso por jefes sobre el
pueblo, sobre mil, sobre ciento, sobre cincuenta, y sobre diez.
<br>
&nbsp; 26 Y juzgaban al pueblo en todo tiempo; el asunto difícil lo traían a Moisés, y ellos
juzgaban todo asunto pequeño.
<br>
<br>
El consejo más importante que le dio su suegro a Moisés tiene que ver con la organización de su
pueblo. Jetro explicó que si todo el pueblo acudía a Moisés para sus asuntos, Moisés se agotaría
como consecuencia de todo el trabajo requerido y la gente se cansaría de esperar tanto tiempo para
hablar con Moisés. Entonces, su suegro le sugirió que nombrara jefes para que juzguen los asuntos
pequeños y que trajeran a Moisés sólo aquellos asuntos que no se sintieran cómodos de responder.
<br>
<br>
Analicemos esta historia desde un punto de vista de negocios. Hay cuatro personajes principales en
la historia: Moisés, su suegro, los jueces y el pueblo. ¿A quiénes representan estos personajes en un
negocio? ¿Qué rol desempeñan ellos en la dirección exitosa de un negocio? ¿Cómo le ayudaría el
consejo del suegro a cada una de estas personas?
<br>
<br>

¿Qué le enseñan estos versículos sobre el tipo de personas que necesita contratar?
<br>
<br>
¿Qué le enseñan estos versículos sobre los beneficios de contratar a otras personas?
<br>
<br>
¿Qué le enseñan estos versículos sobre el valor de un mentor?
<br>
<br>

Moisés (el propietario del negocio) no podía hacerlo todo solo; se estaba agotando. Su suegro, Jetro,
(el mentor), vio lo que estaba pasando y le aconsejó a Moisés delegar y compartir la responsabilidad
con otros. Estos nuevos líderes (los empleados) necesitaban que se les enseñara y que se les
entrenara, para luego darles la autoridad para escuchar al pueblo. Hay por lo menos cuatro ideas que
podemos sacar de esta historia bíblica.
<br>
&nbsp; 1. Contrate a hombres y mujeres capaces.
<br>
&nbsp; 2. Enseñe los principios que necesitan saber para hacer el trabajo.
<br>
&nbsp; 3. Deje que los empleados se encarguen de los asuntos pequeños.
<br>
&nbsp; 4. Deje que el propietario del negocio se haga cargo de los asuntos mayores.
<br>
<br>
Jetro capacitó a Moisés en cómo contratar y dirigir a otros, y a la vez le enseñó cómo delegar y qué
tipo de empleados debería contratar: personas que fueran capaces, que temieran a Dios y que fueran
honestas. Es una buena idea que usted busque empleados que posean esas mismas cualidades.
<br>
<br>
Antes de empezar a analizar las cualidades de los buenos administradores, deseamos enfatizar la
importancia de encontrar un mentor que pueda enseñarle a ser un buen administrador y con el
tiempo, un buen gerente. Los gerentes principiantes cometen a menudo muchos errores en el trato
con sus empleados. Usted puede minimizar el número de errores, y el costo de los mismos, si
encuentra a un gerente o al propietario de un negocio, con vasta experiencia, y aprende de la
experiencia de ese mentor.
<br>
<br>
El administrar es básicamente el decirle alguien que tareas debe de llevar a cabo, en qué orden, y de
qué manera. Formalmente es definido como el planeamiento, el control, y la dirección de las
actividades de sus empleados para el logro o la superación de las metas de su negocio.
<br>
<br>
De acuerdo con esta definición, ¿Cuáles son tres actividades que usted debe realizar como el
administrador?
<br>
<br>

¿Por qué es que usted (el propietario) debe de planear, controlar, y dirigir a los empleados?
<br>
<br>
De acuerdo con esta definición, ¿A qué cosas deben de llevar estas tres actividades?
<br>
<br>
Si la buena administración le lleva a lograr o exceder sus objetivos, esto quiere decir que usted
primero debe de tener objetivos, o metas (véase Lección 8). Un dicho famoso dice que los
perdedores trabajan en generalidades y los ganadores trabajan en cosas específicas. Si usted quiere
ser un ganador en su negocio, usted deberá tener objetivos o metas específicas, las cuales deberá
discutir con sus empleados. Entonces es que usted deberá asignarle a sus empleados tareas
específicas que le ayudaran a alcanzar los objetivos o metas de sus negocio.
<br>
<br>

También deberá, como parte del delegar y administrar su negocio, checar el trabajo de sus
empleados para asegurarse de que están llevando a cabo las tareas que usted les ha asignado de la
manera correcta.
<br>
<br>
¿Cuáles son algunas de las metas específicas que usted tiene para su negocio? (Recuerde los
principios de las metas eficaces: tienen que ser específicas, fácil de medir, alcanzables, realísticas, y
tienen un plazo determinado)
<br>
<br>
¿Cuándo y cómo les va a enseñar a sus nuevos empleados las metas y objetivos de su negocio?
<br>
<br>
Errores que los propietarios de negocios cometen con sus nuevos empleados
Los dueños de negocios incurren en muchos errores con sus nuevos empleados. ¿Cuáles errores
cree que se podrían cometer? Indique por lo menos tres.
<br>
<br>

Compare sus respuestas con estos errores. ¿Cuántos de estos errores anotó usted?
<br>
1. Fallar en contratar a la mejor persona para el trabajo; en su lugar, contrataron a cualquier
persona que estaba disponible.
<br>
2. No capacitaron a sus empleados. Algunas veces el empleador piensa que el entrenamiento
no es necesario. Otras veces, el empleador se espera demasiado tiempo para contratar, y
después está “muy ocupado” para entrenar al nuevo empleado.
<br>
3. No explicaron los objetivos de la compañía y, por alguna razón, se molestan con los
empleados cuando éstos no hacen lo que el empleador quiere que hagan.
<br>
4. No felicitan a sus empleados por la buena labor que desempeñan.
<br>
5. No toman medidas correctivas inmediatas con empleados que se equivocan en algo. Un
buen jefe capacita bien a sus empleados, y luego refuerza ese entrenamiento corrigiendo
constantemente y firmemente su comportamiento equivocado.
<br>
6. Contratan muy rápido y despiden lento. Tal como dijo un empleador, “Mi negocio se ha
visto perjudicado en su mayoría por empleados que debería haber despedido, pero dudaba si
debía despedirlos por alguna de muchas razones”. Despedir a amigos y familiares es
bastante doloroso. Esta es una de las razones por las cuales sugerimos en primer lugar no
contratar a amigos o parientes.
<br>
<br>
Sistemas
<br>
Ahora que ya sabe a quienes contratar y qué errores se comenten a menudo con los empleados,
usted necesita aprender cómo los sistemas o métodos o procedimientos pueden ayudarle a dirigir a
sus empleados a fin de hacer crecer su negocio. Para que su negocio sea lo más exitoso posible,
usted necesita un sistema, o una declaración de “cómo se hacen las cosas aquí”.
<br>
<br>

Un sistema es un esquema ordenado y detallado de lo que debe hacerse a fin de alcanzar metas
definidas. En un negocio un sistema es parecido a una receta de cocina. El seguir las instrucciones
paso a paso le asegurará que cada vez que funcione el sistema, producirá un producto o servicio que
es exactamente como el propietario del negocio quiere que sea. Los sistemas pueden hacer que su
negocio sea exitoso porque sin importar quién haga los pasos indicados en el sistema, ya sea usted o
su empleado, el resultado será el mismo. Los sistemas diseñados cuidadosamente crean productos
terminados que son perfectamente predecibles. En un sistema así, la destreza de un empleado o
gerente, no determina el éxito de un negocio. El sistema dirige el negocio; los empleados tan sólo
operan el sistema.
<br>
<br>
Nosotros (los autores) hemos tenido hemos tenido muchas experiencias con negocios que ganaron
nuestra lealtad porque los sistemas funcionaron bien. Frecuentemente nos hospedamos en nuestro
hotel favorito porque cada tarde a las 4:30p.m. El personal sirve unas galletas deliciosas, que
mantienen en el mostrador. Su sistema produce estas galletas automáticamente, día tras día,
exactamente a las 4:30p.m. Créalo o no, los clientes dependen en esas galletas. De la misma manera
siempre vamos con una estilista en particular, porque siempre nos da un masaje de cuero cabelludo
cuando nos lava el cabello. Lo hace cada vez que vamos.
<br>
<br>
Tal vez usted piense que su negocio es muy pequeño para tener sistemas. Sin importar cuánto venda
o cuánto gane, todo negocio se puede beneficiar de los sistemas formalizados. Y, ya sea que se dé
cuenta o no, usted ya tiene sistemas establecidos. Usted ya tiene una rutina diaria de cosas que hace
en su negocio. Ya tiene un patrón de cómo quiere que se hagan las cosas. Pensar en sus hábitos y
rutinas diarias de una forma detallada le puede ayudar a identificar su sistema y luego mejorarlo
para que le pueda ayudar a tener más ganancias.
<br>
<br>
A continuación hay una lista de ejemplos de sistemas en los pequeños negocios de otras personas.
<br>
¿Tiene usted sistemas similares?
<br>
</p>
<ul>
    <li>José es dueño de un puesto de frutas. Él siempre llega a su puesto a las 7:00 a.m. y elabora
un cuadro que le ayudará a tener un buen registro del día. Luego acomoda sus cajas de
frutas, baja el precio de la fruta que está por expirar, coloca dinero en la caja registradora, y
luego abre el negocio a las 7:30 a.m. Esta rutina es parte del sistema de José.
    </li>
    <li>María es dueña de una panadería. Ella estuvo experimentado por varias semanas con su
receta para el pan y finalmente encontró la receta perfecta. Ahora ella prepara sus pasteles
de la misma forma todos los días. Esta receta es parte del sistema de María.
    </li>
    <li>Samuel vende sándwiches y se enorgullece de la deliciosa combinación de sabores en sus
sándwiches. Cada vez que prepara el “Sándwich especial de Sam”, él sigue el mismo
patrón: rebana el pan y lo unta con una salsa especial, luego agrega rebanadas de carne,
queso, tomate y pepino, col de Bruselas y aceitunas, en ese orden exactamente. El orden de
los ingredientes del sándwich es parte del sistema de Samuel.
    </li>
    </ul>
    <p>
Mientras más específico y detallado sea el sistema, el negocio se dirigirá mucho mejor. Y mientras
mejor administrado sea el sistema, más puede crecer y crear ganancias para su propietario. Es difícil
lograr la consistencia, pero ésta es de suma importancia cuando está construyendo un negocio que
pueda funcionar solo y que pueda repetir los mismos resultados una y otra vez. Esto es vital para
incrementar las ganancias y la satisfacción del cliente que es posible solo por medio de buenos
sistemas.
<br>
<br>
Para muchos el elaborar sistemas es realmente un desafío, especialmente para aquellos propietarios
de negocios que están sobrecargados y frustrados porque parece no haber suficientes horas en el día.
<br>
<br>

Sin embargo, esta condición de sentirse con demasiado trabajo es un indicador de que realmente se
necesita establecer un sistema formal por escrito.
<br>
<br>
A veces a los propietarios les preocupa establecer y elaborar sistemas ya que piensan que una vez
que un buen sistema esté en funcionamiento, el negocio podrá funcionar sin la ayuda del dueño. Los
propietarios temen que los sistemas les quitaran poder ya que no se les necesitara (a los dueños)
todo el tiempo en el negocio. Sin embargo ¡este es precisamente el punto! Los sistemas ayudan a
liberar a los propietarios de llevar a cabo todos los detalles de dirigir el negocio. Le dan más tiempo
al propietario para hacer que el negocio crezca.
<br>
<br>
Indique cinco razones por las cuales los empresarios deben desarrollar sistemas escritos para la
declaración de “cómo se hacen las cosas aqui”.
<br>
<br>
¿Cuáles son algunas de las actividades de un negocio que deben tener un sistema establecido por
escrito?
<br>
(Su propio negocio tendrá más actividades que éstas, pero aquí le indicamos algunos posibles sistemas: poner precio a su
mercancía, devoluciones, formas de saludar a los clientes, reportar las quejas de los clientes, manejo de falta de fondos
financieros, procedimientos de contratación, cómo exhibir la mercancia, limpiar la tienda, procedimientos para abrir y
cerrar, detención de ladrones, y reportar acciones deshonestas cometidas por empleados.)
<br>
<br>
Descripciones del Puesto de Trabajo
<br>
Uno de los sistemas que le ayudará tremendamente y de forma inmediata es elaborar las
descripciones del puesto de trabajo, o sea, una lista de tareas, incluyendo las obligaciones del dueño
del negocio, o sea, de usted mismo. Usted necesita hacer un esquema con las tareas que deben
realizarse para que el negocio tenga éxito. Quien quiera que usted contrate debe saber a quién
reportar y saber exactamente lo que tiene que hacer.
<br>
<br>
Todas las descripciones de trabajo deben de tener tres elementos: (1) una lista de las metas del
negocio, (2) normas que establezcan el comportamiento de los empleados en el área de trabajo, y
(3) una lista detallada de las responsabilidades específicas de cada posición en el negocio.
Obviamente las metas del negocio son muy específicas y ya debió de haber establecido esas metas
para su negocio (vea sus respuestas de la lección 8). Las normas pueden incluir reglas básicas para
los empleados, como llegar a tiempo, tratar bien a los clientes, vestirse apropiadamente, y estar
consciente de problemas de seguridad. Los detalles de la lista de deberes son específicos para cada
clase de trabajo y se pueden modificar de acurdo a las circunstancias.
<br>
<br>

Cuando contrate a un nuevo empleado, deberá darle inmediatamente un paquete con la descripción
de su puesto de trabajo. Haga que el empleado lea cuidadosamente los documentos, que firme el
acuerdo además de ponerle la fecha. Este documento le servirá a usted como un contrato por escrito
de que el empleado entiende exactamente lo que se espera de él o ella.
<br>
<br>
A continuación practicaremos el escribir las descripciones para un puesto de trabajo. Imagine que
usted es el dueño de una pequeña tienda que vende ropa para niños. Después de ocho meses de
arduo trabajo, usted tiene mucho más trabajo del que puede realizar. Usted necesita contratar a un
empleado que ayudara a los clientes a realizar compras y que operara la caja registradora. Usted ya
ha escrito un contrato explicando las normas que el empleado deberá de cumplir (vea los párrafos
anteriores). Ahora necesita escribir una lista de las responsabilidades de esta nueva posición.
<br>
<br>
¿Cuál sería un buen título para este puesto?
<br>
<br>
Haga una lista detallada de todas las obligaciones o tareas relacionadas con este puesto. Sea
sumamente específico. Recuerde que su empleado no puede adivinar lo que usted está pensando, y
que solamente se le puede hacer rendir cuentas por aquellas tareas específicas que usted le asigno en
la descripción del puesto de trabajo.
<br>
<br>
Algunos ejemplos de las obligaciones en el trabajo incluyen:
<br>
    </p>
    <ul>
        <li>Ayudar a los clientes a encontrar ropa para comprar. Saludar a los clientes con una sonrisa,
preguntarles en qué se les puede ayudar, dejar que los clientes echen un vistazo cuando así
lo quieran pero quedándose cerca de ellos para ayudarles cuando tengan alguna pregunta.
        </li>
        <li>Operar la caja registradora. Sacar el saldo de apertura de la caja fuerte cada mañana,
registrar con exactitud todas las ventas, mantener organizada la caja registradora, contar las
ventas al final del día, contar el dinero al final del día, hacer el balance del dinero con el
registro de ventas al final del día.
        </li>
        <li>Cuando llegue nueva mercancía, descargar las cajas y acomodar la ropa ordenadamente de
acuerdo a la talla y tipo de ropa.
96</li>
<li>Lavarse las manos antes de regresar al trabajo después de usar el baño o de tomar un
descanso a fuera de la tienda.)
</li>
</ul>

<p>
Ahora apliquemos estos principios a su negocio. Si su negocio ha crecido al punto que usted piensa
que se necesita de un empleado, identifique una posición que necesitaría ser cubierta lo antes
posible, ¿cuál sería el titulo para esta posición?
<br>
<br>
Haga una lista detallada de todos los deberes relacionados con esta nueva posición que usted creara
en su negocio. Sea lo más específico que pueda. Recuerde que su empleado no puede adivinar lo
que usted está pensando, y que solamente se le puede hacer rendir cuentas por aquellas tareas
específicas que usted le asigno en la descripción del puesto de trabajo.
<br>
<br>
¡Ahora ya tiene como comenzar su “contrato” entre usted y su nuevo empleado!
<br>
<br>
Actividad
<br>
Encuentre una franquicia nacional o internacional en su localidad, tal como un McDonald’s, un
Subway o una panadería o una cadena de peluquerías. Visite el negocio cuando vea que hay poco
movimiento. Por ejemplo, evite la hora del almuerzo en un restaurante.
<br>
<br>
Vaya a la tienda y hable con el propietario o gerente. Dígale que usted está tratando de aprender
más acerca de cómo funcionan los sistemas en una franquicia y pregúntele si podría explicarle en
unos 15-20 minutos qué tipos de sistemas tienen en operación. (Si están muy ocupados en ese
momento, pregúnteles cuándo puede volver para hablar con ellos. Fije una cita y asegúrese de llegar
a tiempo.)
<br>
<br>
Después de hablar con el propietario o gerente, pase unos minutos en la franquicia observando los
sistemas que están establecidos. Fíjese cómo saludan a los clientes, qué uniformes usan, y qué
letreros o instrucciones deben de seguir los empleados.
<br>
<br>
Tome notas detalladas a fin de que recuerde todo lo que vea, escuche y lo que haya aprendido.
<br>
Escriba sus notas aquí.
<br>
<br>

Después de salir de la franquicia, revise sus notas y piense en ideas que pudiera aplicarse a sus
propios sistemas en su negocio. ¿Qué normas, practicas, o sistemas podrían ayudar a sus empleados
a “hacer las cosas correctamente, cada vez”?
<br>
<br>
Trabajando en su negocio
<br>
Elaborar e implementar sistemas toma tiempo, pero invertir en sistemas puede tener un maravilloso
efecto en el éxito de un negocio. Los sistemas son tan sólo una manera en la que los propietarios de
negocios pueden trabajar para sus negocios y no solamente trabajar en ellos.
<br>
<br>
¿Cuál es la diferencia entre trabajar para su negocio y trabajar en su negocio?
<br>
<br>
Michael E. Gerber, autor de El mito del Emprendedor, explica la diferencia en estas palabras:
Piense en su negocio como algo que es independiente de usted, como un mundo en sí mismo, como
el producto de sus esfuerzos, como una maquina diseñada para satisfacer necesidades específicas,
como un mecanismo para darle más vida, como un sistema de partes que se interconectan. . . como
algo creado para satisfacer las necesidades de sus clientes, como un lugar que actúa de una manera
diferente de cualquier otro lugar, como una solución al problema de otra persona. . . .
<br>
<br>
Vaya y trabaje para su negocio en lugar de trabajar en él, y hágase las siguientes preguntas:
<br>
¿Cómo puedo hacer que mi negocio funcione, pero sin mí?
<br>
¿Cómo puedo hacer que mi gente trabaje, pero sin mi constante interferencia?
<br>
¿Cómo puedo sistematizar mi negocio de tal manera que pueda ser duplicado?
<br>
¿Cómo puedo ser dueño de mi negocio, y aun así estar libre de él?
<br>
<br>

. . . En mayor medida, para desarrollar exitosamente y hacer crecer su negocio, usted
necesita un proceso. . . un método con el cual dirigir su negocio, en otras palabras, sistemas,
procesos y métodos. La única manera de crear estos sistemas es trabajando para su negocio
y no tan sólo trabajando en él. (Gerber, Michael. The E-Myth Revisited. New York:
HarperCollins, 1995, p. 109-110; traducción libre)
<br>
<br>
Cuando un negocio es pequeño y el propietario es la única persona trabajando para el negocio y
trabajando en él, entonces esa persona tiene que hacer todo el trabajo. Él hace todo, desde establecer
metas, ir al otro lado de la ciudad para comprar inventario hasta barrer el piso de la tienda al final
del día. Pero cuando un negocio ha crecido, el trabajo del negocio necesita ser dividido en dos tipos
de trabajo: trabajo estratégico, es lo que hacen los propietarios/gerentes, y trabajo táctico, lo que
hacen los empleados. El trabajo estratégico incluye el fijar metas a largo y corto plazo, diseñar
sistemas, y administrar la carga de trabajo de los empleados. El dueño se encarga de visualizar
cómo será el negocio en seis meses, un año, o incluso cinco años. El trabajo táctico, llevado a cabo
por los empleados, incluye el trabajar con los clientes, operar la caja registradora, comprar
mercancía, poner precios, y pagar cuentas. El trabajo estratégico es lo que hacen los
dueños/gerentes. El trabajo táctico es lo que hacen los empleados.
<br>
<br>
Tenga en mente que si su negocio es pequeño y usted es el único empleado, claramente usted tendrá
que hacer tanto el trabajo estratégico como el táctico. Sin embargo, mientras más tiempo se dedique
a trabajar en mejorar su negocio, más pronto necesitará contratar a otros para trabajar en él.
<br>
<br>
Asignación final escrita
<br>
Según lo que ha aprendido en esta lección, haga un resumen del por qué los sistemas son
importantes y por qué tiene usted que invertir tiempo no sólo para trabajar en su negocio, sino
también para trabajar para su negocio.
<br>
<br>
Conclusión final
<br>
Para hacer crecer su negocio la más pronto posible y lo más que se pueda, usted necesita establecer
y seguir sistemas detallados y capacitar y administrar a sus empleados. Los sistemas y los
empleados que son buenos le ayudaran a su negocio a incrementar las ganancias rápidamente y a
convertirse en un vehículo que proveerá de riquezas a su familia por muchas generaciones.

</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>