<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 7
¿CÓMO ATRAER NUEVOS CLIENTES Y HACER QUE
LOS CLIENTES REGULARES COMPREN MÁS?
</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>¿Qué hace que yo vuelva siempre a la misma tienda para comprar productos? ¿el precio? ¿el
servicio? ¿siempre tiene lo que necesito?
</li>
<li>¿Cómo hago yo posible que nuevos clientes compren mis productos? ¿Cómo logro que mis
clientes actuales compren más productos?
</li>
<li>¿Qué significa satisfacer al cliente? ¿Los clientes siempre tienen la razón?
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Los clientes se ven atraídos por los negocios que cubren sus necesidades de forma inigualable
y que atienden sus carencias. Si con sabiduría hace que su negocio se diferencie y brinda un
excelente servicio al cliente, usted puede ganar un cliente de por vida
</li>
<li>La satisfacción del cliente es vital para que un negocio crezca. Las personas volverán y
comprarán más a medida que sus necesidades y carencias sean escuchadas y atendidas.
</li>
<li>Las técnicas de cierre de venta incrementarán el monto en promedio de cada venta que usted
concrete.
</li>
<li>“Caseros” son una de las más valiosas ventajas de un negocio
</li>
</ul>

<p>
<p>Palabras nuevas</p>
<ul>
    <li>Ventas: Una transacción producida cuando el cliente le da dinero a cambio de un producto o
servicio que usted le brinda. Las ventas (y el dinero que ingresa a un negocio como
resultado de las ventas) son el sustento del negocio, Sin ventas, no hay negocio.
<li>Diferenciación: El acto de hacer que el producto, puesto de venta o tienda de un negocio se diferencie
de sus competidores con el objetivo de satisfacer las necesidades de los clientes e
incrementar las ventas.
</li>
<li>Técnicas de cierre de venta: Técnicas empleadas para concretar una venta – para animar al cliente a
adquirir un producto.
</li>
</ul>


<p>¿Por qué compra lo que compra? ¿Por qué regresa al mismo restaurante o tienda para comprar? ¿Ha
dejado de ir a una tienda o un restaurante, o de usar un cierto servicio? ¿Por qué?
<br>
(Algunas razones [buenas y malas] pueden ser: el precio, la atención, la ubicación, la calidad de sus productos, el
prestigio, son amigables, el valor, el tiempo/la rapidez, puede obtener dos cosas a la vez, es conveniente, la limpieza del
lugar, etc.)
<br>
<br>
Las razones por las que los clientes compran son de los siguientes dos tipos: tangibles e intangibles.
Los dueños de negocios sabios entienden esto.
<br>
<br>
Ahora que se empeña a conciencia por aplicar en su negocio las reglas de oro aprendidas en la
Lección 6, dirijamos nuestra atención a los clientes, ¡a fin de cuentas esas personas le mantendrán a
usted en el negocio! En esta lección aprenderá a cómo atraer, satisfacer y conservar clientes, y cómo
hacer que sus ventas aumenten gracias a sus clientes actuales. Para atraer clientes, usted debe 
diferenciar su negocio y sus productos, es decir, que sean diferentes y mejores que los de la
competencia. Para satisfacer y conservar clientes, usted debe brindar un óptimo servicio al cliente,
especialmente cuando se trata de un pequeño pueblo o de un mercado competitivo, debe desarrollar
una relación personal con cada cliente. Para que sus clientes actuales le compren más (y atraiga a
nuevos clientes al mismo tiempo), usted debe aprender a usar técnicas efectivas de cierre de ventas.
<br>
<br>
Atraer Clientes - Diferencie su negocio
<br>
La última vez que recorrió un mercado importante en una gran ciudad, ¿recuerda haber visto una
fila de puestos de venta que ofrecían la misma fruta?, o ¿filas de mesas que ofrecían los mismos
collares?, o ¿filas de tableros que mostraban los mismos llaveros? De ser así, usted ha
experimentado la necesidad de diferenciación: la necesidad que tienen los negocios de hacer que sus
productos, puestos de venta o tiendas sean visiblemente distintos a los de sus competidores.
<br>
<br>
Invertir tiempo en diferenciarse le ayudará a alcanzar el éxito porque esto atraerá clientes a su
negocio. La diferenciación es necesaria tanto en el producto que vende como en la manera en que lo
vende. Usted puede diferenciarse de diversas formas. Existen cuatro tipos de diferenciación con los
que podría empezar:
<br>
<br>
&nbsp; 1. Satisfacer a una parte desatendida del mercado
<br>
En las Filipinas, la Coca Cola es una bebida popular que se distribuye a tiendas en grandes
camiones. La Jazz Cola, en su esfuerzo por diferenciarse del resto, usa camiones repartidores
pequeños y motonetas para llevar sus bebidas por rutas secundarias más pequeñas y de difícil
acceso para los camiones de Coca Cola.
<br>
<br>
&nbsp; 2. Cambiar la presentación de sus productos
<br>
Viv es un líder en el mercado de agua embotellada en las Filipinas. Por lo general, venden agua en
botellas de un litro. Absolute, otra compañía más pequeña de agua embotellada, se diferencia de las
demás por vender agua en botellas de 1.5 litros. Este cambio de presentación les permite vender su
producto a más precio.
<br>
<br>
&nbsp; 3. Escoger una buena ubicación
<br>
Usted puede hacer que su producto o servicio se diferencien de los demás teniendo un local ubicado
en una zona fuera de lo común o incluso sin tener local alguno. Puede encontrar la mejor esquina en
el mercado, la esquina a la cual la mayoría de los clientes van primero, vender desde un triciclo o
incluso vender puerta a puerta.
<br>
<br>
&nbsp; 4. Vender sus productos con un toque diferente
<br>
Sea creativo en el modo de vender sus productos. Podría combinar productos y venderlos en
paquetes, ofrecer un producto con un servicio adicional incluido o exhibir sus productos de forma
distinta a la de sus competidores.
<br>
<br>
¿Cómo puede aplicar estos tipos de diferenciación en su AGI?
<br>
<br>
¿Cuáles son algunas maneras creativas que puede utilizar para atraer clientes a su AGI?
<br>
<br>
Satisfacer y Conservar Clientes - Servicio al Cliente
<br>
Una vez que su negocio se distinga de los demás, con optimismo tendrá numerosos clientes. Para
hacer que esos clientes compren algo, y regresen frecuentemente a la tienda, necesitará desarrollar
habilidades de servicio al cliente. La meta del servicio al cliente es atraer nuevos clientes y lograr 
que sus clientes regulares, sus “caseros”, compren más de sus productos cuando estén en su puesto
de ventas o en su tienda.
<br>
<br>
Enfocarse en el cliente significa que siempre que usted tome una decisión de negocios, lo haga
teniendo en cuenta los intereses y necesidades del cliente. Pregúntese a sí mismo, ¿cómo afectará a
mis clientes esta decisión? ¿Será de su agrado? ¿Esta decisión contribuirá a satisfacer mejor las
necesidades de mis clientes? Este enfoque en el cliente es de vital importancia en un mercado
competitivo.
<br>
<br>
Una de las ventajas más valiosas que su negocio puede tener son los clientes regulares, los
“caseritos”. Asegúrese de hacer todo lo posible para tener clientes felices y fieles. Usted se
sorprendería al saber cuántos vendedores tratan a los clientes que llegan a la tienda como si fueran
una interrupción. Las investigaciones confirman que cuesta mucho más encontrar un nuevo cliente
en vez de mantener un cliente regular. ¿Qué puede hacer o decir a un nuevo cliente que le motivará
a regresar y volver a menudo?
<br>
<br>
El servicio al cliente se puede medir en cuatro niveles. Los ejemplos a continuación le ayudarán a
entender estos cuatro niveles:
<br>
&nbsp; 1. Insatisfacción del cliente (el cliente pide una Coca Cola y recibe una Sprite.)
<br>
&nbsp; 2. Satisfacción del cliente (el cliente pide una Coca Cola y recibe una Coca Cola.)
<br>
&nbsp; 3. Agradable sorpresa del cliente (el cliente pide una Coca Cola y recibe una Coca Cola y un
vaso lleno de hielo.)
<br>
&nbsp; 4. Encanto del cliente (el cliente pide una Coca Cola y recibe una Coca Cola, un vaso lleno de
hielo y una porción de cacahuates.)
<br>
<br>
Un buen servicio al cliente es una estrategia de mercado sencilla pero efectiva.
Para que empiece a reflexionar acerca de cómo resolver problemas relacionados con el servicio al
cliente, conteste el cuestionario a continuación.
<br>
<br>
Cuestionario de Servicio al Cliente (Respuestas a continuación.)
<br>
Encierre en un círculo la respuesta que según usted representa cómo brindar un excelente servicio al cliente y
así garantizar que el cliente vuelva a comprarle.
<br>
1. Usted se encuentra conversando con su esposa en su puesto de venta de comida y en ese momento un
cliente se aproxima. ¿Qué hace usted?
<br>
&nbsp; a. Termina su conversación con su esposa y le pregunta al cliente de qué forma le puede ayudar.
<br>
&nbsp; b. Se disculpa con su esposa y atiende al cliente.
<br>
&nbsp; c. Le pide a su cliente que espere hasta que termine la conversación con su esposa.
<br>
&nbsp; d. Hace de cuenta que no vio al cliente.
<br>
<br>
2. Una señora se dirige hacia su puesto de venta con una fruta en la mano. Le dice que la compró el día de
ayer y que ya se ha malogrado y que quiere que le devuelva su dinero. Usted sabe que su puesto de venta
estuvo cerrado ayer así que no pudo haberlo comprado de su puesto de venta. ¿Qué hace usted?
<br>
&nbsp; a. Le dice que es una mentirosa y se niega a darle el dinero porque esa fruta no se la vendió usted.
<br>
&nbsp; b. Le cambia la fruta malograda por una fruta fresca del mismo tamaño.
<br>
&nbsp; c. Le devuelve el dinero sin reclamo alguno.
<br>
&nbsp; d. Le explica que es posible que ella se haya equivocado porque su puesto de venta estuvo cerrado
el día anterior.
<br>
<br>
3. Usted acostumbra cerrar su negocio a las 8:00 p.m., pero el negocio está lento hoy. Ya son las 7:30 p.m.
y usted ya ha guardado todo y está a punto de cerrar. De pronto, a las 7:35 p.m., uno de sus “caseros”
llega a su puesto con el deseo de comprar algo. ¿Qué hace usted?
<br>
&nbsp; a. Le pide que regrese mañana.
<br>
&nbsp; b. Le dice que pase pero que se apure porque usted quiere irse a casa.
<br>

&nbsp; c. Le permite ingresar pero usted se mantiene a su lado y le ayuda con todas las decisiones que
tome.
<br>
&nbsp; d. Le pide que pase y que se tome todo el tiempo necesario para comprar lo que necesite.
<br>
<br>
4. Usted tiene un pequeño puesto de venta de comida y su política es no vender a crédito. Sin embargo, su
primo, que está pasando por dificultades económicas, ha comido gratis en su puesto de venta dos veces
esta semana, y le ve aproximarse a su puesto de venta una vez más. Usted sabe que no es bueno para su
negocio regalar parte de su inventario. Incluso hace poco puso un cartel que dice “No se fía”. Usted le ha
prometido a su esposa que no regalará más comida. ¿Qué hace usted?
<br>
&nbsp; a. Le dice que no puede darle más comida hasta que no haya pagado sus consumos anteriores.
<br>
&nbsp; b. Le da algo de comida sin decírselo a su esposa.
<br>
&nbsp; c. Le dice que le puede vender algo de comida pero que debe cobrarle lo que usted pagó por ella. Si
él no dispone de dinero en ese momento, le invita a que se retire, con hambre.
<br>
&nbsp; d. Usted paga de su reducido sueldo por un poco de comida y le explica que no puede regalar de su
inventario a nadie, incluso a la familia.
<br>
<br>
5. Su hijo tiene un papel en una obra teatral de la escuela y le prometió no faltar. Para llegar a tiempo,
necesita salir de la tienda en los próximos cinco minutos. Sin embargo, un cliente frecuente ha estado en
la tienda durante 25 minutos tratando de decidir qué polo comprar. ¿Qué hace usted?
<br>
&nbsp; a. Espera a que el cliente termine de comprar, incluso cuando esto signifique llegar tarde a la obra.
<br>
&nbsp; b. Le dice al cliente que usted necesita salir y que es necesario que se apresure.
<br>
&nbsp; c. Le explica al cliente acerca del compromiso asumido con su hijo. Usted se disculpa por tener
que cerrar y le indica que espera que comprenda esta situación.
<br>
&nbsp; d. Le explica el problema y le pregunta cuál polo le gusta más. Usted le ofrece un descuento para
que se apresure.
<br>
(1.b 2.b 3.d 4.c 5.c)
<br>
<br>
Repuestas del Cuestionario de Servicio al Cliente
<br>
Quizás sus respuestas sean diferentes a éstas. Éstas son preguntas difíciles, en particular aquella
sobre dejar a un familiar hambriento, pero, ¿qué es peor: romper una promesa hecha a su esposa o
hacer que su primo se retire hambriento? Recuerde que si su negocio empieza de buen pie y crece,
usted estará en una mejor situación para ayudar a su primo en el futuro, quizás ofreciéndole un
empleo. Asimismo, recuerde que el cliente, incluso si es su primo, no siempre tiene la razón. Al
final, usted debe ceñirse a los principios que ha aprendido de este manual para tener éxito en su
negocio.
<br>
<br>
¿Cuáles son dos cosas que ha podido aprender al resolver este cuestionario?
<br>
<br>
¿Cómo puede mejorar el servicio al cliente en su AGI?
<br>
<br>
Incrementar las Ventas - Técnicas de venta
<br>
Estudiar técnicas de venta le permitirá incrementar su ingreso bruto y la ganancia de su negocio. La
mayoría de los dueños de negocios pequeños no se esfuerza por incrementar sus ventas, en
particular las ventas individuales efectuadas a sus clientes frecuentes. Las ventas (y el dinero que
ingresa a su negocio como resultado de éstas) son el sustento de todo negocio. Sin ventas no hay
negocio. Una sabia persona dijo una vez que “nada ocurre en el negocio hasta que alguien venda
algo.” Medite y escriba con sus propias palabras a qué se refiere esta frase.
<br>
<br>
¿Qué le sucede a un negocio cuando tiene pocas ventas?
<br>
<br>

El proceso de venta
<br>
Cuando usted trata de vender, siga los siguientes seis pasos para tener mucho éxito en cada
oportunidad de ventas:
<br>
&nbsp; 1. Establecer una relación con el cliente.
<br>
&nbsp; 2. Encontrar la necesidad del cliente para satisfacerla, aun las intangibles.
<br>
&nbsp; 3. Presentar el producto o servicio y enseñarle al cliente sobre sus beneficios.
<br>
&nbsp; 4. Cerrar la venta; ayudarle a tomar una decisión.
<br>
&nbsp; 5. Usar venta sugestiva. Ofrezca a cada cliente otros productos que les podrían gustar o
servir.
<br>
&nbsp; 6. Hacer seguimiento para saber que el cliente está feliz con la compra. Preguntar si tiene
amigos con la misma necesidad.
<br>
<br>
Ejemplo del Proceso de Venta
<br>
Pongamos en práctica estos pasos analizando una situación de venta para determinar cómo las
acciones y palabras de un vendedor influyen en un cliente para comprar o aumentar la cantidad de
su compra. Por ejemplo, usted posee un pequeño puesto de frutas con unos doce diferentes tipos de
frutas. Una joven madre se acerca y coge una mano de plátanos y los observa.
<br>
Paso 1 Entable una conversación con ella para establecer una relación con la que será una futura
cliente. Haga unas preguntas amigables para conocerla mejor. Escriba cinco preguntas diferentes
que podría hacerle a la señora.
<br>
<br>

Paso 2 Ahora, es necesario que usted entienda las necesidades de que ella tiene. El Paso 2, analice
lo que ella está buscando (cosas tangibles e intangibles) mediante preguntas. Un buen vendedor
pregunta y escucha más de lo que se dedica a hablar; hace una serie de preguntas para determinar
lo que el cliente está buscando. Un mal vendedor da sugerencias antes de conocer los intereses del
cliente. Escriba cinco preguntas diferentes que podría hacerle a la señora para poder entender bien
sus necesidades.
<br>
<br>
Paso 3 Está listo entonces para el Paso 3. Preséntele sus productos o servicios de una manera que le
motive a ella a comprar. Enséñele sobre los beneficios y como ellos satisfacen las necesidades.
Luego, dé sugerencias. Del mismo modo, anote tres sugerencias que podría darle a la señora sobre
los plátanos y otras frutas que usted tenga.
<br>
<br>

Cuando estos tres pasos formen parte de su conversación cotidiana y fluyan con naturalidad de su
boca al momento de conversar con los clientes, ellas le pueden ayudar a aumentar la venta
promedio por cliente. ¡Practique mucho estos primeros pasos!
<br>
<br>
Paso 4 Una parte importante al realizar una venta es la técnica que se emplee para animar al cliente
a comprar el producto. Éste es el Paso 4 y se le conoce como “técnicas de cierre de venta”. A
continuación vemos las cuatro técnicas de cierre de venta más comunes y efectivas. Estas técnicas
le ayudan al cliente a tomar la decisión de comprar. Una vez que las haya entendido, practíquelas
con sus amigos y parientes y, finalmente, aplíquelas con sus clientes.
<br>
<br>
Cierre alternativo
<br>
Al usar esta técnica, en lugar de hacer preguntas afirmativas o negativas que le dan al cliente la
oportunidad de decir que no desea comprar producto alguno, usted le presenta dos alternativas y le
pregunta cuál preferiría. Sin tomar en cuenta la elección que haga el cliente, usted ha efectuado una
venta. Un ejemplo de esta técnica es preguntar: “¿Le gustaría llevar mangos o naranjas junto con
sus plátanos? O “Le podemos entregar el pescado el martes o el jueves. ¿Cuál preferiría usted?” Sin
importar el día (martes o jueves), usted ya ha concretado una venta. Manténgase atento a las
oportunidades que se le presentan para aplicar esta técnica. Comience a utilizarla y quedará
satisfecho con los resultados.
<br>
<br>
Cierre de ángulo agudo
<br>
La técnica de cierre de ángulo agudo está condicionada y por lo general empieza con la palabra “si”.
Por ejemplo, “si podemos tener para mañana las uvas sin semillas que usted desea, ¿quisiera que
hagamos el pedido para usted?” El poder que tiene esta técnica es que el vendedor sabe qué debe
hacer para efectuar la venta. Si el vendedor puede realizar una acción determinada, entonces el
cliente se compromete a comprar algo. El peligro radica en que usted tiene que estar dispuesto a
hacer lo ofrecido, en este caso, comprar las uvas. Si no lo hace, perderá el cliente.
<br>
<br>
Cierre cachorro
<br>
Esta técnica se basa en que si usted logra establecer un pequeño compromiso inicial con el cliente,
él terminará por hacer un compromiso mayor: comprarle algo. Esta técnica adquiere su nombre de
su mejor ejemplo: un cachorro. Imagine a una familia dirigiéndose a una tienda de mascotas “sólo 
para mirar.” El vendedor observa que la hija mira al cachorro y le dice: “¿te gustaría sostener al
cachorrito por un minuto?” y pone al cachorro en los brazos de la niña que está emocionada por
jugar con él. Desde luego, la niña y el cachorro se hacen amigos de inmediato y la niña le ruega a su
padre que le compre el cachorro. Finalmente, el papá cede y le compra el cachorro. Este ejemplo es
el que mejor ilustra la técnica del cachorro. Otros ejemplos de la técnica del cachorro animan al
cliente a probarse un sombrero, usar un software, probar una motoneta o probar frutas. Esta técnica
funciona la mayor parte del tiempo.
<br>
<br>
Hay un ejemplo que está más relacionado con la técnica del cachorro. Suponga que usted tiene un
puesto de venta de frutas y recibe un envío de sabrosas manzanas verdes para repostería. Usted
hornea un crujiente pay de manzana. Luego ofrece pequeñas muestras a los clientes en su tienda.
Usted espera que el pay les encante y que esto los motive a comprar sus manzanas. Incluso, usted
puede ir más lejos y puede darle la receta a todo aquel que compre sus manzanas. Esta técnica
contribuye a incrementar sus ventas.
<br>
<br>
Cierre de sucesos inminentes
<br>
Esta técnica de venta asocia la venta de un artículo a un evento futuro de una forma tal que
proporciona un sentimiento de urgencia que a menudo motiva al cliente a adquirirlo de forma
inmediata. Por ejemplo, usted podría decir: “sé que usted desea obsequiarle a su esposa esta canasta
de frutas por el día de la madre, le puedo garantizar que estará aquí con fruta fresca un día antes del
día de la madre, pero sólo si hace su pedido hoy.” O, “esta canasta de frutas es una de las más
populares, es probable que no la tengamos en inventario si espera hasta el fin de semana.”
<br>
<br>

Paso 5 Después de cerrar la venta, tiene una oportunidad adicional, el Paso 5. El cliente todavía
está frente a usted, entonces, ofrézcale algo más que esté relacionado con el producto o servicio
recién comprado. Es más fácil aumentar sus ventas con estos clientes en lugar de buscar clientes
nuevos.
<br>
&nbsp; a) Use ventas sugestivas. Ofrezca a cada cliente otros productos que les podrían gustar o
servir.
<br>
&nbsp; b) Inste a sus clientes a que compren productos o servicios que son más grandes, tienen más
beneficios, son más completos, etc. (cada decisión brinda más ganancias).
<br>
&nbsp; c) Junte el producto o servicio original con otro(s) producto(s) o servicio(s) similar(es) y
véndalos a un precio que es un poco menor al precio de los dos si se fueran a vender por
separado.
<br>
<br>
Tenga cuidado de no sobrecargar al cliente con demasiadas opciones. Es preciso que conozca bien
a sus clientes y sus necesidades. No quiere tener una gran venta ahora, pero puede perder a su
casero para siempre. Ahora, anote tres sugerencias adicionales que podría ofrecerle a la señora
sobre los plátanos y otras frutas que usted tenga.
<br>
<br>
Paso 6 Es importante que sus clientes estén felices con sus compras. Al hablar con sus clientes para
ver si están felices, no deje de lado la oportunidad de averiguar si tienen amigos con las mismas
necesidades. ¿Cómo puede hacer un seguimiento para saber que el cliente está feliz con la compra?
Escriba tres respuestas.
<br>
<br>
Un consejo final sobre la atención al cliente que le ayudará a atraer más clientes y mantener la
fidelidad de los que ya tiene, es asegurarse de administrar cuidadosamente su inventario de manera
que nunca se dé con la sorpresa de no disponer de uno de sus productos más solicitados. Nada
decepciona más a un cliente que ir a una tienda o puesto de venta y que se le diga: “lo sentimos, no
lo tenemos en inventario”. Cuando usted no tiene inventario, el cliente se retira para buscar otro
lugar que tenga lo que necesita, y muy pocas veces volverá a su negocio.
<br>
<br>
Siempre debe recordar que sus clientes regulares, sus caseros, son una de las ventajas más valiosas
que puede tener en los negocios.
<br>
<br>
Trabajo de campo #1
<br>
Encuentre una tienda o puesto de venta que venda diversos productos pequeños. Planifique observar
el puesto o local dos veces durante una semana por espacio de una hora a la vez. Haga sus
observaciones a la misma hora cada vez que vaya allá.
<br>
<br>
El primer día, cuente el número de clientes que visitan la tienda o puesto de venta y cuántos
compran algo
<br>
<br>

Además, haga observaciones acerca de los clientes. ¿Todos tienen el mismo rango de edad, sexo,
pertenecen a la misma clase económica? ¿Tanto cliente como vendedor se muestran felices al final
de la transacción? ¿Ese negocio vende más que el producto o el servicio? ¿Cuál es el producto
intangible: la conveniencia, un mejor estado de salud, el prestigio, la esperanza? Haga una lista en
el espacio a continuación con sus observaciones.
<br>
<br>
El segundo día, observe los anuncios puestos alrededor del local y copie las ofertas y promociones
publicadas. ¿Hay anuncios publicitarios en las calle? ¿Hay un cartel que promocione algo? ¿Hay
volantes que el público toma? ¿Las personas ingresan con cupones de algún tipo? Pregúntele al
propietario si pone avisos en el periódico, la radio o la televisión.
<br>
<br>
Escuche al vendedor. Anote lo que diga cuándo trata de hacer una venta. ¿El vendedor es amigable
y servicial? ¿El vendedor busca establecer una relación cordial con el comprador? ¿El vendedor
hace preguntas para asegurarse de que las necesidades del comprador han sido satisfechas? ¿El
vendedor es bueno presentando el producto o servicio, y resalta sus beneficios? ¿El vendedor hace
sugerencias al cliente? ¿Qué tipo de técnica de cierre de venta utiliza el vendedor? ¿Se hace un
esfuerzo por dar un seguimiento o invitar a que se haga un cliente y sus compras se hagan
habituales? Haga una lista en el espacio a continuación con sus observaciones.
<br>
<br>
Trabajo de campo #2
<br>
Visite algunos negocios que son similares al suyo (incluso a algunos competidores). Hable con los
clientes de estos negocios. Hable con los dueños, si posible. Observe y aprenda de sus
competidores. Investigue y observe bien para que pueda contestar las preguntas en su plan de
negocio, que trata de lo siguiente: los clientes, el mercado, su mercadeo, los competidores, su
singularidad. 
<br>
<br>

En particular, ¿qué aprendió de sus competidores? ¿Qué hacen ellos bien? ¿Qué puede usted
ofrecer que sea mejor que lo de ellos? ¿Cómo puede diferenciarse de ellos?
<br>
<br>
Asignación final escrita
<br>
Escriba respuestas o comentarios en su Plan de Negocio en las siguientes secciones: Los Clientes,
El Mercado, Su Mercadeo, Los Competidores, Su Singularidad.
<br>
<br>
Conclusión final
<br>
Atraer nuevos clientes, hacer que se conviertan en clientes habituales y animar a todos los clientes a
comprar más de lo que quieran y necesiten de usted, son los secretos para levantar un negocio
exitoso.

</p>
</div>
</div>