<div class="container">
    <div class="col-md-3">
<sidemenubookoflessonsspanish>
</sidemenubookoflessonsspanish>
    </div>
<div class="col-md-6">
<h1 class="text-primary">LECCIÓN 3
¿POR QUÉ CREAR UN EMPLEO ES MEJOR QUE CONSEGUIR UNO?</h1>
<hr>
<p>Tome en cuenta estas preguntas mientras se prepara para esta lección:</p>
    <ul>
<li>A corto plazo, ¿qué es más seguro: trabajar para mí mismo o para alguien más?
</li>
<li>A largo plazo, ¿qué es de mayor beneficio para mi familia: conseguir un trabajo
dependiente o crear un empleo?
</li>
<li>¿Por qué se muda tanta gente a otras ciudades o países en vez de conseguir o crear un
empleo en la comunidad donde crecieron?
</li>
<li>¿De qué manera trabajar para mí mismo o crear mi propio empleo es mejor que conseguir
un trabajo dependiente?
</li>
<li>¿Tengo las habilidades que se requieren para tener éxito en un negocio propio?
</li>
    </ul>
    
<p>Ideas básicas que debe aprender</p>
<ul>
<li>Trabajar para otros es a menudo más riesgoso que trabajar para uno mismo
</li>
<li>En algunos lugares, es casi imposible conseguir un buen empleo si es que no se tienen
contactos. Pero todos pueden, con la capacitación debida, crear su propio empleo.
</li>
<li>Al crear una fuente de empleo para usted mismo, usted se convierte en el hacedor de su
propio destino económico.
</li>
<li>El éxito en una microempresa requiere las habilidades de empresario, directivo, y técnico.
</li>
</ul>


<p>En la Lección 2 usted aprendió que salir de la pobreza hacia la prosperidad dependerá grandemente de
su voluntad y capacidad de desarrollar nuevos hábitos que conduzcan al éxito. En esta lección
hablaremos de cómo la creación de un empleo tiene, en la mayoría de los casos, más probabilidades de
producir prosperidad que el trabajar para alguien más.
<br>
<br>
Opciones laborales
<br>
En un país en vías de desarrollo, conseguir un trabajo y mantenerlo puede ser bastante desafiante. En
algunos lugares los trabajos son escasos. En otras localidades, especialmente en áreas rurales, hay un
buen número de trabajos, pero en éstos no pagan lo suficiente como para mantener a una familia. En
áreas urbanas altamente pobladas, a veces se despide repentinamente a trabajadores que tienen entre 30
a 40 años de edad para reemplazarlos por jóvenes que tienen capacitación más avanzada y están
dispuestos a trabajar por menos dinero. En algunos países, la ley manda que una persona no puede ser
despedida si permanece en el trabajo por más de seis meses. Así que algunas compañías se burlan de la
ley y despiden a sus empleados antes de que el período de prueba termine. Claramente se puede ver que
conseguir un trabajo es una cosa, conseguir un trabajo bien pagado es otra, y mantener un trabajo bien
pagado es algo más.
<br>
Para los ciudadanos de Haití a Honduras y de las Filipinas a Perú, y de muchos otros países en vías de
desarrollo, parece haber cinco alternativas de empleo:
<br>
&nbsp; 1. Conseguir trabajo, a menudo sólo uno temporal
<br>
&nbsp; 2. Trabajar en el campo y ganar un sueldo de pobre
<br>
&nbsp; 3. Emigrar a un área metropolitana (ciudad) o a otro país
<br>
&nbsp; 4. No trabajar y vivir de la familia o de aquellos que envían a casa dinero desde el extranjero
<br>
&nbsp; 5. Crear su propio empleo
<br>
<br>

La opción de no trabajar no es aceptable para los Santos de los Últimos Días. Tanto el Antiguo como el
Nuevo Testamento enseñan que nosotros somos responsables de ganar nuestro sustento con el sudor de
nuestra frente. También el apóstol Pablo, en una epístola que le escribió a Timoteo, aconseja a los
santos a proveer a sus familias, especialmente a aquellos que viven dentro de sus hogares. “Porque si
alguno no provee para los suyos, y mayormente para los de su casa, ha negado la fe, y es peor que un
incrédulo” (1 Timoteo 5:8).
<br>
<br>
Entonces, esto deja sólo una opción aceptable, y para la mayoría es una nueva manera de pensar:
crearse uno mismo una fuente de trabajo empezando un negocio muy pequeño. El crear su propio
empleo, el cual puede llevarlo a crear empleo para otros y finalmente al establecimiento de un negocio,
es una oportunidad que vale la pena procurar. Empezar una AGI puede ser una buena manera de ganar
un sustento, sin importar donde viva.
<br>
<br>
¿Cuáles son las ventajas y las desventajas de crear su propio negocio?
Aunque la creación de una fuente de autoempleo requiere que usted acepte algunos riesgos, la
probabilidad de tener éxito y prosperidad a largo plazo en éste es mucho más alta que en un trabajo
donde usted es tan sólo un empleado. Lea las siguientes listas de ventajas y desventajas de crear su
propio empleo
<br>
<br>
Ventajas de crear su propio empleo
<br>
</p>
<ul>
<li>Usted puede trabajar de acuerdo a su propio horario.
</li>
<li>Al crear un empleo y luego un negocio rentable, usted está creando un activo, un patrimonio
heredable a otros miembros de su familia.
</li>
<li>Usted puede, con el tiempo, hacer mucho más dinero siendo propietario de su propio negocio
que trabajando para otros.
</li>
<li>Al contratar a otros y dirigirlos correctamente, ellos producirán dividendos para usted y su
familia.
</li>
<li>Usted no puede ser despedido cuando es su propio jefe.
</li>
<li> Generalmente no hay un límite en sus ingresos.
</li>
<li>Es probable que se lleve bien con el jefe, o sea con usted mismo.
</li>
<li>Usted puede controlar con quién trabajar.
</li>
<li>No necesita un alto grado de educación para crear un empleo.
</li>
<li>Usted puede hacer las cosas como quiere que se hagan.
</li>
<li>Si cambian las condiciones en su localidad, usted podrá cambiar la dirección de su negocio y
tomar ventaja de las tendencias y oportunidades que surjan.
</li>
<li>Usted puede escoger no trabajar los domingos.
</li>
<li> Usted puede involucrar a sus hijos en su trabajo, y enseñarles así a trabajar. Ellos no estarán
solos en casa mientras usted trabaja.
</li>
<li>Le permitiría, en un futuro, pasar más tiempo con sus hijos.
</li>
<li>Le permitiría a usted con el tiempo poder ayudar a otros en su barrio a aprender la forma de
empezar su propio negocio, y así fortalecer a la Iglesia.
</li>
</ul>

<p>Desventajas de crear su propio empleo:
<br></p>
<ul>
<li> Su negocio puede irse a la quiebra.
</li>
<li>No recibirá su sueldo a menos que tenga ventas.
</li>
<li>Es mucho más difícil crear un empleo que ocupar uno.
</li>
<li>Cuando trabajan para otra persona, la mayoría de las personas recibe su sueldo tan solo por
venir a trabajar. Cuando trabaja para usted mismo, usted debe trabajar fuertemente para tener
ingresos.
</li>
<li>Cuando crea su propio trabajo, es caro al comienzo proveerse a usted mismo de beneficios
sociales (seguro médico, gratificaciones, vacaciones, etc.).
</li>
<li>Si trabaja para otros, ellos son los responsables de generar el dinero para pagarle su sueldo.
Cuando usted trabaja para sí mismo, usted es responsable de generar el dinero para cubrir su
sueldo.
</li>
<li>Si vende productos o servicios a crédito, algunos de sus clientes no le pagarán.
</li>
<li>Si usted tiene empleados, algunos de ellos podrían robarle.
</li>
<li>Los productos perecederos pueden echarse a perder antes de poder venderlos.
</li>
<li>Usted no puede “flojear” y descansar por mucho tiempo.
</li>
</ul>

<p>
Identifique las razones por las cuales usted podría necesitar empezar una AGI en vez de esperar
incesantemente a que llegue el trabajo perfecto.<br>

</p>
<ul>
<li>En mi localidad hay muy pocos trabajos disponibles.
</li>
<li>Veo que la gente que trabaja en su propio negocio gana buen dinero.
</li>
<li>Un pequeño negocio, si se administra bien, puede ser rentable.
</li>
<li>Ya tengo una destreza que puedo ofrecer en el mercado o tengo acceso a productos y servicios.
</li>
<li>Podría empezar una AGI sin problemas.
</li>
<li>Puedo cerrar mi tienda los domingos y guardar el día de reposo.
</li>
<li>Puedo enseñarles a mis hijos la manera de manejar un negocio.
</li>
</ul>

<p>Regla de oro - Empiece en pequeño, piense en GRANDE
<br>
Aun teniendo una comprensión clara de cómo usted debe crear su propia AGI, el hecho de decidirse a
hacerlo y empezarla puede causarle temor. Es muy probable que usted sienta temor de fracasar y esté
ansioso en cuanto a los pasos a seguir. Tal vez piensa que no tiene el capital para empezar. La clave es
aplicar lo que aprenderá de estas lecciones y empezar algo pequeño. Usted puede reducir los riesgos e
incrementar sus probabilidades al vender productos sencillos o brindar un servicio simple, y después
expandir su AGI cuando tenga más experiencia y más dinero.
<br>
<br>
Las lecciones de este manual harán que usted tenga gran confianza en sí mismo y aprenderá de él la
forma de crear su propio empleo. Una vez que aprenda reglas y técnicas correctas de negocios, domine
las destrezas y adopte las conductas necesarias, usted tendrá éxito en generar ingresos a través de
actividades de compra y venta. Estas nuevas destrezas, cuando son aplicadas sistemáticamente, le
ayudarán a usted y a su familia a luchar para salir de la pobreza y ser próspero. Entonces, guarde la 
regla de oro: Empiece en pequeño, piense en GRANDE. Primero, cree un empleo para usted mismo,
luego un negocio, y después un trabajo para otros. La prosperidad proviene del dominio de uno mismo,
luego del dominio de un pequeño negocio, y entonces del dominio de una industria.
Competencias/Habilidades/Personalidades requeridas para el negocio exitoso
Hay tres habilidades generales que son absolutamente requeridas para que el negocio tenga éxito y
crezca a largo plazo. Son los siguientes:
<br>
<br>
Empresarios/Emprendedores – Liderazgo y visión
<br>
Las personas con habilidades empresariales son líderes que tienen una visión de lo que pueden hacer
para agregar valor a las vidas de sus clientes potenciales y hacer que esos clientes quieran comprar sus
productos o servicios. Saben bien como vender. Desarrollan equipos. No tienen miedo de cambio ni de
los riesgos. Fijan metas. Son determinantes. Trabajan en el futuro y ven las oportunidades antes de que
se materialicen. Un empresario administra futuras oportunidades, identifica oportunidades en el
mercado, se rodea de personas competentes y de recursos, busca mejorar productos y servicios.
Algunos ejemplos de las fortalezas de los “empresarios” son: Creativo, Positivo, Visionario,
Estratégico, Innovador, Resuelto.
<br>
<br>
Directivos/Gerentes – Planificación y gerencia
<br>
Las personas que tienen habilidades directivas generalmente son hábiles para organizar y administrar
recursos, tiempo, información, y para establecer prioridades. También son generalmente diestros en el
seguimiento de ingresos y gastos y en tomar decisiones basados en esa información. De esta manera,
trabajan en el pasado para administrar sus actividades comerciales presentes y futuras. Un directivo
escudriña el pasado para mejorar el presente, crea un orden y procedimientos, organiza el personal,
administra el tiempo, los recursos y las prioridades, elabora un plan de negocios. Algunos ejemplos de
las fortalezas de los “directivos” son: Práctico, Organizado, Planificador, Predecible, Sistemático,
Ordenado.
<br>
<br>
Técnicos - Fabricación
<br>
Las personas que poseen estas habilidades tienen profundos conocimientos en un área en particular.
Usan esos conocimientos para trabajar en el presente y crean productos o servicios que otras personas
compran. Usan y perfeccionan sus destrezas y áreas de conocimiento constantemente. Un técnico
administra asignaciones presentes, posee altas habilidades del saber específico, disfruta el trabajo
práctico, cumple con su trabajo. Algunos ejemplos de las fortalezas de los “técnicos” son: Ama el
Trabajo, Hábil, Experto, Cumple con su trabajo, Hacedor, Pensador.
<br>
<br>
Preguntas para analizar
<br>
¿Qué le pasaría a un negocio sin alguien con las habilidades empresariales?
<br>
¿Qué le pasaría a un negocio sin alguien con las habilidades directivas?
<br>
¿Qué le pasaría a un negocio sin alguien con las habilidades técnicas?
<br>
¿Ha visto negocios que no crecen porque les faltan habilidades técnicas, visión u organización?
<br>
¡Ojo! Muchas microempresas empiezan con técnicos… los que tienen el conocimiento para fabricar un
producto o proveer un servicio. Muchas fallan o no crecen porque no tienen el conocimiento o el deseo
de ofrecer el producto en el mercado; ¡no sólo hay que fabricar; también hay que vender! No buscan
oportunidades para aumentar el negocio, y no tienen el deseo de dirigir a otros empleados.
<br>
¿Conoce usted personas de cada tipo?
<br>
¿Cuál de estos tres lo refleja a usted? y ¿por qué?
<br>
¿Cómo compensará las habilidades menos desarrolladas o las que no posee? ¿Quién puede ayudarle a
desarrollar las habilidades que usted no posee en el presente?
<br>
(Sugerencias: desarrollar la habilidad personalmente, tener un socio que posea
la habilidad, encontrar un asesor/mentor, contratar a alguien, etc.)
<br>
<br>
Las habilidades técnicas se pueden aprender en diversos lugares como centros de enseñanza técnica.
Podría aprender una habilidad técnica en forma práctica trabajando como aprendiz o empleado en un
pequeño taller.
<br>
<br>
Las habilidades directivas se pueden aprender en cursos o programas de gestión empresarial que
ofrecen muchas instituciones educativas. Este taller enseña algunas de estas habilidades básicas
necesarias para manejar un pequeño negocio. Usted aprenderá lo básico de registros y como contratar
y capacitar empleados.
<br>
<br>
Las habilidades emprendedoras solamente se pueden aprender en la práctica, cuando hacemos negocios
reales (aunque sean muy pequeños), y “contagiándonos” de la enfermedad de dirigir a otros
empresarios “tigres” o “tiburones” que constantemente están alertas a oportunidades de negocios
rentables, que saben negociar bien con proveedores de bienes, servicios o de financiamiento, que “le
sacan el jugo” a cada peso o dólar que invierten, que saben tomar riesgos calculados, y que no se
desaniman ante cualquier dificultad que pudiera presentarse en su camino.
<br>
<br>
En la próxima lección, aprenderá como pensar como un emprendedor – a ver problemas como
oportunidades. Más adelante en el manual, aprenderá como vender y comercializar su producto.
<br>
<br>
Trabajo de campo
<br>
Lea la sección “Ideas y Oportunidades - el Espíritu del Emprendedor”, en la página 21 y 22, de la
Lección 4. Comience una lista de ideas para un pequeño negocio para compartir con otros la próxima
semana. Visite varios lugares esta semana – su comunidad, la iglesia, un mercado, una escuela, etc.
Hable con muchas personas. Lea el periódico. En todo momento, busque problemas, frustraciones,
inconveniencias, deficiencias, etc. Soluciones a estos problemas podrían ser AGIs. Por ahora, no
juzgue estas ideas – solo empiece a pensar como un emprendedor.
<br>
<br>

Asignación final escrita
<br>
Según lo que ha aprendido en esta lección, haga un resumen de lo que piensa sobre cómo el crear un
empleo para usted mismo será provechoso para su familia. Escriba las cosas que le preocupan y,
entonces trate de enfrentar cada temor anotando cómo va usted a superar cada uno de ellos.
También, escriba su plan para desarrollar o adquirir las tres habilidades de emprendedor,
directivo y técnico para que pueda lograr el éxito en sus esfuerzos por crear su propia AGI.
<br>
<br>
Conclusión general
<br>
La mejor solución económica para sacar a su familia de la pobreza y proveerles para sus necesidades
vitales puede encontrarse en la creación de su propio empleo/negocio en su propia comunidad. Hay
tres habilidades generales que son absolutamente requeridas para que el negocio tenga éxito y crezca a
largo plazo: los del emprendedor, del directivo y del técnico</p>
</div>

<div class="col-md-3">
    <p><a href="../app/pdfs/BookofLessonsSpanish.pdf" target="_blank" class="btn btn-primary btn-lg">Print</a></p>
</div>
</div>