
<div class="row">
            <nav class="nav-sidebar" style=" background:#f7f7f7;">
                <ul class="nav">
                    <li><a routerLink="/chleadershiplesson1Spanish">LECCIÓN 1</a></li>
                    <li><a routerLink="/chleadershiplesson2Spanish">LECCIÓN 2</a></li>
                    <li><a routerLink="/chleadershiplesson3Spanish">LECCIÓN 3</a></li>
                    <li><a routerLink="/chleadershiplesson4Spanish">LECCIÓN 4</a></li>
                    <li><a routerLink="/chleadershiplesson5Spanish">LECCIÓN 5</a></li>
                    <li><a routerLink="/chleadershiplesson6Spanish">LECCIÓN 6</a></li>
                    <li><a routerLink="/chleadershiplesson7Spanish">LECCIÓN 7</a></li>
                    <li><a routerLink="/chleadershiplesson8Spanish">LECCIÓN 8</a></li>
                    <li><a routerLink="/chleadershiplesson9Spanish">LECCIÓN 9</a></li>
                    <li><a routerLink="/chleadershiplesson10Spanish">LECCIÓN 10</a></li>
                    <li><a routerLink="/chleadershiplesson11Spanish">LECCIÓN 11</a></li>
                    <li><a routerLink="/chleadershiplesson12Spanish">LECCIÓN 12</a></li>
                    <li><a routerLink="/chleadershiplesson13Spanish">LECCIÓN 13</a></li>
                </ul>
            </nav>
</div>